<div class="listview accountTransactionDetailPage" ng-controller="accountTransactionCtrl">

	<div class="page-heading">
		<span class="transaction-info">{{'CON_ACCOUNT_INFORMATION' | translate}}</span>
		<div class="transaction-details">
			<label>{{'CON_DEBTOR' | translate }} : </label> 	<span class="section-value">{{accountData.debtorCode}} , {{accountData.debtorDesc}}</span>
		</div>
		<div class="page-heading debatorAlign right clr_right">
			<label> {{'CON_BALANCE' | translate }} : </label>  <span class="section-value">{{accountData.balance}}</span>
			
		</div>
		<div class="page-heading debatorAlign right clr_right">
			<label> {{'CON_CREDIT_LIMIT' | translate }} : </label>  <span class="section-value">{{accountData.creditLimit}}</span>
		</div>
	</div>

	<div class="sep"></div>
	<div class="new-search clr_left">
		<div class="right download">

 		<a href="" class="right" ng-show="webSettings.showXmlIcon" title="{{'CON_AR_XML' | translate}}"> <img ng-src="./images/XML.png" ng-click="exportTransactionsTableAsXML();" /> </a> 
 		<a href="" class="right" ng-show="webSettings.showExcelIcon" title="{{'CON_AR_EXCEL' | translate}}"> <img ng-src="./images/Excel.png" ng-click="exportTransactionsTableAsExcel();" /> </a>
		<a href="" class="right" ng-show="webSettings.showPdfIcon" title="{{'CON_AR_PDF' | translate}}"> <img ng-src="./images/PDF.png" ng-click="exportTransactionsTableAsPDF();" /> </a>

        </div> 
		<div class="new-search accountInformation">
		<p ng-model="isCollapsed" ng-click="isCollapsed = !isCollapsed">{{'CON_NEW_SEARCH' | translate}} <a ng-class ="{'exp-collapse-arrow': !isCollapsed, 'exp-plus-arrow': isCollapsed}">{{'CON_BP_NEW_REQUEST' | translate}}</a> </p>
		<div class="sep"></div>		
		<div  ng-show="isCollapsed">
			<form class="search-form" role="form" ng-submit="submitFilter()" name="searchForm">
				 <div ng-repeat="filter in filterList.getFilters()" ng-show = "filter.filterName != 'MSG_ENTER_DATES_IN_FORMAT'">
					 <div ng-show="filter.isEnabled" class="search-form-wrapper">					
						<label for = "filter.filterParam">{{filter.filterName | translate}} :</label> 
						<span ng-show ="filter.isInputList">
						<div class="select-style">
						<select ng-if= "filter.filterName != 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems" ng-options="item.code as item.description for item in filter.dataList"  ng-change="isFilterRangeEmpty(filter)">	
							</select>
							<select ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems">
							<option ng-repeat="resultperPage in resultPerPageList" >{{resultperPage}}</option> 
						</select>  
						</div>
						</span>
						 <span ng-show ="!filter.isInputList">							
							<input type="text" id= "filter.filterParam" name="filter.filterParam"  ng-model="filter.selectedItems"/>
						</span>
						<div ng-show ="filter.isInputList && filter.rangeType && !filter.infoType" class="left clr_right">
								<div ng-show="!filter.dateType">
									<input type="text" id="filter.filterParamValue1" name="filter.filterParamValue1" ng-blur ="validateAmount(filter,filter.selectedItems1,false)" ng-mouseleave="validateAmount(filter,filter.selectedItems1,false)" ng-class ="{ 'error': !filter.isValidInput, '' :  filter.isValidInput }"  placeholder= "{{'COH_VALUE' | translate}}1" ng-model="filter.selectedItems1" title="{{filter.validationMsg}}"/>
									<input type="text" id="filter.filterParamValue2" name="filter.filterParamValue2" ng-blur ="validateAmount(filter,filter.selectedItems2,true)" ng-class ="{ 'error': !filter.isValidInput2, '' :  filter.isValidInput2 }" ng-mouseleave="validateAmount(filter,filter.selectedItems2,true)" placeholder= "{{'COH_VALUE' | translate}}2"  ng-model="filter.selectedItems2" ng-show="updateControl(filter.selectedItems)" title="{{filter.validationMsg2}}" />
								</div>
								<div ng-show="filter.dateType">
									<input type="text" id="filter.filterParamValue1" name="filter.filterParamValue1" ng-blur ="validateDateRangeFormat(filter,filter.selectedItems1,false)" ng-mouseleave="validateDateRangeFormat(filter,filter.selectedItems1,false)" ng-class ="{ 'error': !filter.isValidInput, '' :  filter.isValidInput }"  placeholder= "{{webSettings.defaultDateFormat}}" ng-model="filter.selectedItems1" title="{{filter.validationMsg}}"/>
									<input type="text" id="filter.filterParamValue2" name="filter.filterParamValue2" ng-blur ="validateDateRangeFormat(filter,filter.selectedItems2,true)" ng-class ="{ 'error': !filter.isValidInput2, '' :  filter.isValidInput2 }" ng-mouseleave="validateDateRangeFormat(filter,filter.selectedItems2,true)" placeholder= "{{webSettings.defaultDateFormat}}"  ng-model="filter.selectedItems2" ng-show="updateControl(filter.selectedItems)" title="{{filter.validationMsg2}}" />
								</div>
						</div>
					
					</div>
					</div>
				
				<div class="submit clr_both"><button class="yellowButton right" ng-disabled="isFilterHasError(filterList.getFilters())">{{'CON_START_SEARCH' | translate}}</button></div>
			</form>
		</div>
		<p class="clr_left" ng-bind-html="renderHtml(filterMsg)"></p>	
	</div>			

</div>
<div class= "clr_left new-search" ng-if="accountData.showAgreementNotes" ng-class ="section-data">
	<p ng-model="isAgreementCollapsed" ng-click="isAgreementCollapsed = !isAgreementCollapsed">{{'CON_AGREEMENT_NOTES' | translate}} <a ng-class ="{'exp-collapse-arrow': !isAgreementCollapsed, 'exp-plus-arrow': isAgreementCollapsed}"></a> </p>
	<div class="sep"></div>		
		<div ng-show="isAgreementCollapsed" >
		 <p ng-repeat="note in accountData.agreementNotesBean" > {{note.date}} 
		 	<br>
		 	<span ng-repeat="line in note.agreementNotes"> {{line}} <br> </span>
		 </p>
		</div>
	</div> 

<!-- <div class="scrollTableTop" id = "result_set"></div>  -->
	<div class="left accountInformationTablewrap">	
		<table class="accountInformationTable">
			<thead>
				<tr>
					<th>
						<div class="sorting">
							<span class="sortingInnerWrap">		
							 <a ng-class ="sort.getAscCSS('Customer')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Customer')"></a>
	      				 	 <a ng-class="sort.getDescCSS('Customer')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Customer')"></a>										
						</span>
							<span>{{'CON_CUSTOMER' | translate}}</span>
						</div>			
					</th>
					 
					<th>
						<div class="sorting">
							<span class="sortingInnerWrap">
							 <a ng-class ="sort.getAscCSS('DocumentType')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('DocumentType')"></a>
	      				 	 <a ng-class="sort.getDescCSS('DocumentType')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('DocumentType')"></a>												
						</span>
							<span>{{'COH_DOCUMENT' | translate}}</span>
						</div>											
					</th>							
					
					<th>					
						<div class="sorting">
							<span class="sortingInnerWrap">		
							 <a ng-class ="sort.getAscCSS('DocumentDate')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('DocumentDate')"></a>
	      				 	 <a ng-class="sort.getDescCSS('DocumentDate')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('DocumentDate')"></a>										
						</span>
							<span>{{'CON_DOCUMENT_DATE' | translate}}	</span>
						</div>			
					</th>
					<th>
						<div class="sorting">
							<span class="sortingInnerWrap">		
							 <a ng-class ="sort.getAscCSS('dueDate')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('dueDate')"></a>
	      				 	 <a ng-class="sort.getDescCSS('dueDate')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('dueDate')"></a>										
						</span>
							<span>{{'CON_DUE_DATE' | translate}}	</span>
						</div>			
					</th>				
					<th>
						<div class="sorting">
							<span class="sortingInnerWrap">	
							 <a ng-class ="sort.getAscCSS('Currency')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Currency')"></a>
	      				 	 <a ng-class="sort.getDescCSS('Currency')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Currency')"></a>											
						</span>
							<span>{{'COH_CURRENCY' | translate}}	</span>
						</div>			
					</th>
					<th class="txt_right">
						<div class="sorting contentRight paddingRight">
							<span class="sortingInnerWrap">	
								<a ng-class ="sort.getAscCSS('OriginalAmount')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('OriginalAmount')"></a>
	      				 		<a ng-class="sort.getDescCSS('OriginalAmount')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('OriginalAmount')"></a>											
							</span>
							<span>{{'COH_ORIGINAL_AMOUNT' | translate}}	</span>
						</div>			
					</th>
					<th class="txt_right">
						<div class="sorting contentRight paddingRight">
							<span class="sortingInnerWrap">		
							 <a ng-class ="sort.getAscCSS('remainingAmount')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('remainingAmount')"></a>
	      				 	 <a ng-class="sort.getDescCSS('remainingAmount')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('remainingAmount')"></a>										
						</span>
							<span>{{'CON_REMAINING_AMOUNT' | translate}}	</span>
						</div>			
					</th>
					<th>
						<div class="sorting">
							<span class="sortingInnerWrap">	
							 <a ng-class ="sort.getAscCSS('description')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('description')"></a>
	      				 	 <a ng-class="sort.getDescCSS('description')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('description')"></a>											
						</span>
							<span> {{'CON_DESCRIPTION' | translate}}	</span>
						</div>			
					</th>
					<th ng-show = "accountData.debtorFlag">
						<div class="sorting">
							<span class="sortingInnerWrap">		
							 <a ng-class ="sort.getAscCSS('debtorCode')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('debtorCode')"></a>
	      				 	 <a ng-class="sort.getDescCSS('debtorCode')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('debtorCode')"></a>										
						</span>
							<span>{{'CON_DEBTOR' | translate}}	</span>
						</div>			
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in transactionData" >
					<td>{{row.customerCode}}</td>				
					<td><!--<a href="" ng-click="showTransactionInvoiceDetail(row)"> -->{{row.documentTypeCode}}  {{row.documentNumber}}
					</td>							
					<td>{{row.documentDate}}</td>
					<td>{{row.dueDate}}</td>				
					<td>{{row.transactionCurrencyCode}}</td>
					<td class="txt_right">{{row.originalAmount}}</td>
					<td class="txt_right">{{row.remainingAmount}}</td>
					<td>{{row.description}}</td>
					<td ng-show = "accountData.debtorFlag">{{row.debtorCode}}</td>					
				</tr>
					<tr ng-show ="!dataFound">
						 <td colspan="8"><span class="noMoreData">{{pageLoadMsg}}</span></td>
					</tr>
			</tbody>
		</table>
		<div class="sep_tbl"></div>
		<div class="buttonWrapper clr_left right">
			<a class="backButton left" href="" ng-click="goBack()" >{{'CON_BACK' | translate}}   </a>
			</div>
		<div class="buttonWrapper clr_left left">
		<button href="" class="goFirstArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="getFirstPage()" title = "{{'CON_FIRST_PAGE' | translate}}">{{'CON_FIRST_PAGE' | translate}} </button>
		<button href="" class="previousArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}">{{'CON_PREVIOUS_PAGE' | translate}} </button>
		<button href="" class="nextArrow" ng-disabled="!dataFound || !moreDataArrow"  ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}">{{'CON_NEXT_PAGE' | translate}} </button>
				
	</div>


		
	</div>
	</div>
