<section name="AddItems" class="clr_left secAddItems" >			
	<div >
	<div class="inner"></div>
	</div>		
	    				<p class="head" ng-show="showRequestBase"> {{'CON_ADD_PRODUCTS_TO_YOUR_REQUEST' | translate}}</p>
		 									
						
						<p class= "left errorMsg">{{copyOrder.getUIErrorKey() | translate : (copyOrder.UIErrorParams)}}</p> 
						<table class="addItemsTable">
						<thead>
							<tr>
								<th class="largeSpace">{{'COH_PRODUCT_CODE' | translate}}</th>
								<th class="smallSpace">{{'COH_QUANTITY' | translate}}</th>
								<th class="smallSpace">{{'CON_UNIT' | translate}}</th>
						<!-- 	<th class="largeSpace">{{'COH_REQUESTED_DELIVERY_DATE' | translate}}</th> -->	
								<th class="largeSpace">{{'COH_SHIPMENT_MARKING' | translate}}</th>						
					
							</tr>
						</thead>
						
						<tbody ng-repeat="order in copyOrder.getList()">
						<tr ng-show= "!order.isValidProduct">
							<td colspan= "5"> <span class= "left errorMsg">	{{order.errorMsg}}</span></td>
						</tr>
						
						<tr>
							<td><input type="text" id="getId('txtProductCode',order.itemCode)"  ng-model = "order.itemCode" ng-blur = "ValidateProductLines(order,copyOrder,'CART')"/></td>
							<td><input type="text" id="getId('txtProductQuantity',order.itemCode)"  ng-model = "order.ordered" class="txt_right" ng-class ="{ 'error': !order.validQuantity, '' : order.validQuantity}" ng-change="checkValidQuantity(order,order.ordered)" title="{{order.quantityBoxMsg}}"/></td>
							<td><input type="text" id="getId('txtProductUnit',order.itemCode)"  ng-model = "order.unit" ng-show = "!order.showUnitList"  />
								 <div class="select-style" ng-show = "order.showUnitList"><select ng-model="order.unit"  ng-options = "activeUnits.salesUnit as activeUnits.salesUnitDesc for activeUnits in order.activeUnitList" ></select></div></td>
							</td>
							<!-- <td><input type="text" id="getId('txtProductDelDate',order.itemCode)"   placeholder="YYYY-MM-DD" ng-model = "order.delDate" /></td>
							 -->
							<td><input type="text" maxlength="30" id="getId('txtProductShipment',order.itemCode)"  ng-model = "order.shipmentMarking" /></td>
	
						</tr>
						</tbody>
						
						</table>			
						<div class="buttonWrapper clr_left right">
						<button class="clearAll" type="button" ng-click="copyOrder.clearAll()">{{'CON_CLEARALL' |	translate}}</button>
						<button class="addMore" type="button" ng-click="copyOrder.addMoreLines()">{{'CON_ADDMORE' |	translate}}</button>
						<!-- <button class="yellowButton" type="button" ng-click="AddMultipleItemsToCart(copyOrder.getOrderParam()) " ng-disabled="!copyOrder.isValidProductList">{{'CON_BUY'|	translate}}</button>  -->
						<button class="yellowButton" type="button" ng-click="addItemsToList(copyOrder)" ng-disabled="!copyOrder.isValidProductList">{{'CON_ADD_TO_LIST'|	translate}}</button>
						</div>			
						
</section>	