<section name="AddItems" class="clr_left secAddItems" >			
	<div>	
	<div ng-show="isShowInnerLoader()" class="pageLoader">
	<div class="inner"></div>
	</div>		
	    				<p class="head" ng-show="showRequestBase"> {{'CON_ADD_PRODUCTS_TO_YOUR_REQUEST' | translate}}</p>
		 									
						
						<!-- <p class= "left errorMsg">{{requestLineObj.getUIErrorKey() | translate : (requestLineObj.UIErrorParams) }}</p> -->
						<table class="addItemsTable">
						<thead>
							<tr>
								<th class="largeSpace">{{'COH_PRODUCT_CODE' | translate}}</th>
								<th class="smallSpace">{{'COH_QUANTITY' | translate}}</th>
								<th class="smallSpace">{{'CON_UNIT' | translate}}</th>
								<th class="largeSpace">{{'CON_REQUEST_TYPE' | translate}}</th>
								<th class="largeSpace">{{'COH_DESCRIPTION' | translate}}</th>						
							</tr>
						</thead>
						
						<tbody ng-repeat= "reqLine in requestLineObj.getLineList()">
						
						<tr ng-show= "!reqLine.isValidProduct">
							<td colspan= "5"> <span class= "left errorMsg">	{{reqLine.errorMsg}}</span></td>
						</tr>
						
						<tr>
						
							<td><input type="text" id="{{reqLine.rowNum}}"  ng-model = "reqLine.product" ng-blur = "validateRequestLines(reqLine,'REQUEST',requestLineObj)" ng-mouseleave = "" autofocus = "!requestLineObj.isValidProductList" /></td>
							<td><input type="text" id="getId('txtQuantity',reqLine.product)"  ng-model = "reqLine.quantity" class="txt_right" ng-class ="{ 'error': !reqLine.validQuantity, '' : reqLine.validQuantity}" ng-change="checkValidQuantity(reqLine,reqLine.quantity)" title="{{reqLine.quantityBoxMsg}}" /></td>
							<td><input type="text" id="getId('txtUnit',reqLine.product)"  ng-model = "reqLine.unit" ng-show = "!reqLine.showUnitList"/>
							<div class="select-style" ng-show = "reqLine.showUnitList">							
							 <select class="unitCode" ng-model="reqLine.unit"  ng-options = "activeUnits.salesUnit as activeUnits.salesUnitDesc  for activeUnits in reqLine.activeUnitList"  ></select>
							 </div>
							 </td>
							<td>
							<div class="select-style">
							<select ng-model="reqLine.probType" ng-options = "requestType.description for requestType in reqLine.requestTypeList" id="getId('txtRequestType',reqLine.product)" ng-change="onAddProdReqTypeChange(getId('txtRequestType',reqLine.product), reqLine.probType)"></select>
							</div>
							</td>
							<td><input type="text" id="getId('txtReqLineDesc',reqLine.product)"  ng-model = "reqLine.requestDesc"  /></td>
	 
						</tr>
						
						</tbody>
						</table>			
						<div class="buttonWrapper clr_left right">
						<a class="backButton left" href="" ng-click="goBack()">{{'CON_BACK' | translate}}   </a>
						<button class="clearAll left" type="button" ng-click="requestLineObj.clearAll()">{{'CON_CLEARALL' |	translate}}</button>
						<button class="addMore left" type="button" ng-click=" requestLineObj.addMoreLines()">{{'CON_ADDMORE' |	translate}}</button>						
						<!-- <button class="yellowButton left" value="" name="" type="button" ng-click = "showNewRequestLine(requestLineObj.getRequestLines())" ng-disabled="!requestLineObj.isValidProductList">{{'CON_ADD_TO_REQUEST'| translate}}</button> -->
						<button class="yellowButton left" value="" name="" type="button" ng-click = "validateProductList(requestLineObj,'REQUEST')" ng-disabled="!requestLineObj.isValidProductList">{{'CON_ADD_TO_REQUEST'| translate}}</button>
						</div>			
						
</section>	