  <div ng-if="webSettings.showBanner" id="slides_control" ng-show="!emptyBannerList">
  	<div class="logged-hp-slider">
        <div ng-repeat="item in banner.bannerList" >
			 <a	ng-if="item.linkType=='CATALOGUE' && item.code!='EMPTY'" href="" ng-click="showCatalogDetail(item.code,item.description);" >
				 <img ng-src="{{BASE_ADDRESS}}{{item.imageURL}}" onerror="getDefaultBannerImg(this);" alt="immagine">
				 <!-- span class="caption-claim">
					<h2>Forniture per le grandi organizzazioni</h2>
				</span-->
			 </a>
			 <a	ng-if="item.linkType!='CATALOGUE'" href="" ng-click="showProductDetail(item.code);"  >
				 <img ng-src="{{BASE_ADDRESS}}{{item.imageURL}}" onerror="getDefaultBannerImg(this);" alt="immagine">
				 <!-- span class="caption-claim">
					<h2>Forniture per le grandi organizzazioni</h2>
				</span-->
			 </a>
			<img ng-if="item.linkType=='CATALOGUE' && item.code=='EMPTY'" ng-src="{{BASE_ADDRESS}}{{item.imageURL}}" onerror="getDefaultBannerImg(this);" alt="immagine">
			<!-- span class="caption-claim">
				<h2>Forniture per le grandi organizzazioni</h2>
			</span-->
        </div>
      </div>
  </div>