  <div ng-if="webSettings.showBanner" id="slides_control" ng-show="!emptyBannerList">
    <div >
      <carousel interval="banner.interval*1000">
        <slide ng-repeat="item in banner.bannerList" active="slide.active">
         <a	ng-if="item.linkType=='CATALOGUE' && item.code!='EMPTY'" href="" ng-click="showCatalogDetail(item.code,item.description);" > <img ng-src="{{BASE_ADDRESS}}{{item.imageURL}}" onerror="getDefaultBannerImg(this);"></a>
          <a	ng-if="item.linkType!='CATALOGUE'" href="" ng-click="showProductDetail(item.code);"  > <img ng-src="{{BASE_ADDRESS}}{{item.imageURL}}" onerror="getDefaultBannerImg(this);"></a>
          <img ng-if="item.linkType=='CATALOGUE' && item.code=='EMPTY'" ng-src="{{BASE_ADDRESS}}{{item.imageURL}}" onerror="getDefaultBannerImg(this);">
        </slide>
      </carousel>
    </div>
  </div>