<div class="comparePageWrapper" ng-controller="promotionCatlogCtrl">
	<h3>{{'CON_PRODUCT_COMPARE' | translate}}</h3>
	<div class="sep"></div>
	<div class="compareTableScroll">

	<table class="Comparetable">
	
		<tbody>
			<tr>
				<td class="bottomborderNone">{{'COH_SELECT' | translate}}</td>
				<td class="blank bottomborderNone"></td>
				<td class="bottomborderNone" ng-repeat="row in SelectedProductList"><input
					type="checkbox" name="{{row.description}}" ng-model="row.checked"
					id="{{row.description}}" ng-change="RemoveProduct()" />
				</td>
			</tr>
			<tr>
				<td class="topborderNone"> &nbsp; </td>
				<td class="blank topborderNone"></td>
				<td class="topborderNone" ng-repeat="row in SelectedProductList">
				<div ng-if="row.isRelative" class="gridViewImageWrapper">
					<a href="" ng-click="showProductDetail(row.code);"  >
					 <img class="attentionImage" ng-src="{{BASE_ADDRESS}}{{row.attentionImageURL}}" ng-show="row.isShowAttentionImage"/>
					<img ng-src="{{BASE_ADDRESS}}{{row.imageUrl}}" class="gridViewCompareImage" onerror="getDefaultImg(this);">
					</a>
				</div>
				<div ng-if="!row.isRelative" class="gridViewImageWrapper">
					<a href="" ng-click="showProductDetail(row.code);"  >
					 <img class="attentionImage" ng-src="{{BASE_ADDRESS}}{{row.attentionImageURL}}" ng-show="row.isShowAttentionImage"/>
					<img ng-src="{{row.imageUrl}}" class="gridViewCompareImage" onerror="getDefaultImg(this);">
					</a>
				</div>
				</td>
			</tr>
			<tr>
				<td>{{'COH_DESCRIPTION' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList"><a href="" ng-click="showProductDetail(row.code);">{{row.description}}</a></td>
			</tr>
			<tr>
				<td>{{'COH_PRODUCT_CODE' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList"><a href="" ng-click="showProductDetail(row.code);">{{row.code}}</a></td>
			</tr>
			<tr>
				<td>{{'CON_EXTENDED_INFO' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList" ng-bind-html="renderHtml(row.itemWebText)">
					</td>
			</tr>

			<tr ng-show="webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE'">
				<td>{{'COH_ACTUAL_PRICE' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList"><a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)">{{row.actualPrice}} </a></td>
			</tr>

			<tr ng-show="webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE'">
				<td>{{'COH_DISCOUNT_PRICE' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">
					<a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)">{{row.discountPrice}}</a></td>
			</tr>

			<tr ng-show="webSettings.allowDiscountDisplay=='*ALL'">
				<td>{{'CON_DISCOUNT_%' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">
					<a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)">{{row.discountPercentage}}</a></td>
			</tr>
			<tr>
				<td>{{'CON_DEFAULT_SALES_UNIT' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">
					{{row.defaultSalesUnit}}</td>
			</tr>
			
			<tr>
				<td>{{'CON_UNIT' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">
				<div class="select-style">
				<select ng-init="row.selectedUnit=row.salesUnit" ng-model="row.selectedUnit" ng-change="onUnitChange(row.code,row.selectedUnit,row)">
				<option ng-repeat="unit in row.salesUnits " >{{unit}}</option></select>
				</div>
				</td>
				
			</tr>
			<tr>
				<td>{{'COH_QUANTITY'|translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">
					<span ng-show="isSignedIn" class="nowrap">
						<input ng-show="row.selectedUnit != null" id="getId('text',row.code)" ng-model="row.buyQuantity" type="text" class="quantity" ng-class ="{ 'error': !row.validQuantity, '' : row.validQuantity}" ng-change="checkValidQuantity(row,row.buyQuantity)" title="{{row.quantityBoxMsg}}"/>
					</span>
					<!-- 
					<button ng-disabled="!row.isBuyingAllowed" ng-class="{'disabled': row.isBuyingAllowed == false}" type="button" name="" value="" class="buyIcon" ng-click="gridViewBuyClicked(row)" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}">{{'CON_BUY' | translate}}</button>
					 -->
					 <span ng-if="row.isBuyingAllowed && !isShopCartItem(row.code)" class="">
							<button ng-class="{'disabled': row.isBuyingAllowed == false}" type="button" name="" value="" class="buyIcon middle" ng-click="gridViewBuyClicked(row)" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}">{{'CON_BUY' | translate}}</button>
					</span>
					<span ng-if="row.isBuyingAllowed && isShopCartItem(row.code)">
							<span ng-class="{'disabled': row.isBuyingAllowed == false}" class="addedInCart CompareCartImg"  ng-click="gridViewBuyClicked(row)"  title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span>
					</span>
					<!-- ADM-013 -->
					<span ng-if="row.itemClass == 2" class="left">
						<button type="button" name="" value="" class="procureTableView" ng-click="showBtbDlg(row);" title="{{'COH_PROCURE_THE_ITEM' | translate}}">{{'CON_BTB' | translate}}</button> 
					</span>
					<!-- ADM-013 end -->
					<button type="button" ng-show="isSignedIn && row.selectedUnit != null" name="" value="" class="addToList" ng-click="addItemToList(row);" title={{addToListText}}>{{'CON_ADD_TO_LIST' | translate}}</button> 
				</td>
			</tr>
			<tr>
				<td>{{'COH_ENQUIRY_ON_ITEMS' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">
				 <a title="{{'CON_CLICK_TO_SEND_EMAIL_ENQUIRY_PRODUCT' | translate}}" class="emailIcon" ng-click="sendPrdEnquiry(row.code,row.description)"></a>
				 </td>
				 
			</tr>			
			<tr>
				<td>{{'COH_NET_WEIGHT' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">{{getObjectFromList('unit',row.selectedUnit,row.productUnitList).netWeight}} </td>
			</tr>
			
			<tr>
				<td>{{'CON_GROSS_WEIGHT' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">{{getObjectFromList('unit',row.selectedUnit,row.productUnitList).grossWeight}} </td>
			</tr>
			<tr>
				<td>{{'COH_NET_VOLUME' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">{{getObjectFromList('unit',row.selectedUnit,row.productUnitList).netVolume}}</td>
			</tr>
			<tr>
				<td>{{'CON_GROSS_VOLUME' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">{{getObjectFromList('unit',row.selectedUnit,row.productUnitList).grossVolume}}</td>
			</tr>
			<tr>
				<td>{{'COH_LENGTH' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">{{getObjectFromList('unit',row.selectedUnit,row.productUnitList).length}}</td>
			</tr>
			<tr>
				<td>{{'COH_HEIGHT' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">{{getObjectFromList('unit',row.selectedUnit,row.productUnitList).height}}</td>
			</tr>
			<tr>
				<td>{{'COH_WIDTH' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">{{getObjectFromList('unit',row.selectedUnit,row.productUnitList).width}}</td>
			</tr>
		</tbody>
	</table>
	 
	</div>
	<div class="buttonWrapper clr_left right">
	<a ng-click="goBack()" href="" class="backButton left ">{{'CON_BACK' | translate}}   </a>
	</div>
</div>