<div ng-controller="catMenuCtrlView" class="productSearchResult">
<div class="catalogueMainContentWrapper" ng-if="!isCompare">
<div class="barCatProduct">

   <div class="barCatalog">
         <div class="rightWithPadding">
         <span class=""> <a href="" ng-click="compare();"  ng-class = "{'compareShowDisabled':(SelectedProductList.length > 1 && !isCompareProductShowDisable),'compare': (SelectedProductList.length > 1 && isCompareProductShowDisable), 'compare_disabled': 
            (SelectedProductList.length < 2)}" >{{'COH_COMPARE' | translate}}</a>
         </span>
         <span class="">{{'COH_VIEW' | translate}}</span>
         <span ng-if="!isList" >
         <a class="GridSelected" href="" ></a>&nbsp;<a class="TableView" ng-click="changeView();" href="" ></a>
         </span>
         <span ng-if="isList">
         <a class="GridView" href=""  ng-click="changeView();"></a>&nbsp;<a class="TableSelected" href="" ></a>
         </span>
      </div>
   </div>
   
      <div class= "bredCrumControl">
      <span ng-if="webSettings.showCatalogueBreadcrumb" class= "breCru">
                  <a ng-click="showCatalogFromProd(subCatalogueBeanListBred)" title="{{subCatalogueBeanListBred.description}}">{{subCatalogueBeanListBred.description}} </a><a ng-click="showCatalogFromProd(menu)" ng-repeat="menu in subCatalogueBeanListBred.subCatalogueBeanList"   title="{{menu.description}}">{{menu.description}} </a>
			</span>
		</div>
	</div>

<!-- ADM-010 --><!-- ADM-023
<div ng-if="webSettings.allowSelectUnitOfMeasure">
	<span class"">Acquista in:</span>
  	<span>
  		<input type="radio" ng-model="freeSearchObj.packPiece" value="CF">Confezioni
  	</span>
	<span>
		<input type="radio" ng-model="freeSearchObj.packPiece" value="PZ">Pezzi &nbsp;
	</span>
</div>-->
<!-- ADM-010 end -->

   <div class="resultsMainWrapper">
      <!-- Left Search Start -->
   	<!-- ADM-023 
	<div style="border:0px solid red; width:25%;float:left;margin-bottom: 350px;" ng-class="{'leftMenuCollapseView':filterNewSearch && filterCatalog}"> -->
   	<div ng-hide="true" style="border:0px solid red; width:25%;float:left;margin-bottom: 350px;" ng-class="{'leftMenuCollapseView':filterNewSearch && filterCatalog}">
	<!-- ADM-023 -->
   	  <div id="hdr01" ng-hide="productSearchFilterLength(productSearchFilterList.getFilters())" ng-class="{'hdr01Collapse':filterNewSearch,'hdr01Expand':!filterNewSearch}" ng-click="toggleNewSearch()">
    <a id="ankl00_01" title="Search" class="hdr01">
      <img id="ctl00_01" src="images/searchFilertersIcon.png" style="border: 0; float: left; height:25px; margin: 4px" />
      <span id="sp100_01" ng-hide="filterNewSearch">{{'CON_NEW_SEARCH' | translate}} </span>
      <img id="ctl00_02" ng-hide="filterNewSearch" src="images/panelCollapseIcon.png" style="border: 0; float: left; margin: 4px" />

    </a>
  </div>
  
  <div id="hdr01_content" ng-hide="filterNewSearch">
  		<div id="Newfilters">
    	<div data-ng-repeat="FilterItem in productSearchFilterList.getFilters()" class="filters-wrapper1">
		<div ng-show="FilterItem.isEnabled" class="one">
			<a shref="" ng-model="collapsed" ng-click="collapsed=!collapsed"
				ng-class="{'exp-plus-icon': collapsed, 'exp-collapse-icon': !collapsed}">a</a>
			<p class="filter-name">{{FilterItem.filterValueName}}</p>
			<fieldset class="filters" ng-show="!collapsed">
				<br />
				<p ng-if="webSettings.showNumberOfItemsInFilter" data-ng-repeat="filterValueList in FilterItem.dataList">
					<label ng-if="filterValueList.count != null" title="{{filterValueList.desc}} ({{filterValueList.count}})">
						<!-- input type="checkbox" 	ng-model="filterFormInfo[FilterItem.filterName]" ng-true-value="{{filterValueList.code}}" ng-false-value="" /> -->
					<!-- 	<input type="radio"
						ng-model="FilterItem.selectedItems" ng-value="filterValueList" value="{{filterValueList}}" ng-checked="filterValueList.code ==FilterItem.selectedItems.code" id="filterValueList.code"> {{filterValueList.desc}} 
					-->
					<input type="checkbox" 	ng-model="filterValueList.checked" ng-change="advanceSearch()"  ng-true-value="{{filterValueList.code}}" ng-false-value="false"/> {{filterValueList.desc}} ({{filterValueList.count}})
					</label>
					<label ng-if="filterValueList.count == null" title="{{filterValueList.desc}}">
						<!-- input type="checkbox" 	ng-model="filterFormInfo[FilterItem.filterName]" ng-true-value="{{filterValueList.code}}" ng-false-value="" /> -->
					<!-- 	<input type="radio"
						ng-model="FilterItem.selectedItems" ng-value="filterValueList" value="{{filterValueList}}" ng-checked="filterValueList.code ==FilterItem.selectedItems.code" id="filterValueList.code"> {{filterValueList.desc}} 
					-->
					<input type="checkbox" 	ng-model="filterValueList.checked" ng-change="advanceSearch()"  ng-true-value="{{filterValueList.code}}" ng-false-value="false"/> {{filterValueList.desc}}
					</label>
				</p>
				<p ng-if="!webSettings.showNumberOfItemsInFilter" data-ng-repeat="filterValueList in FilterItem.dataList">
					<label title="{{filterValueList.desc}}">
						<!-- input type="checkbox" 	ng-model="filterFormInfo[FilterItem.filterName]" ng-true-value="{{filterValueList.code}}" ng-false-value="" /> -->
					<!-- 	<input type="radio"
						ng-model="FilterItem.selectedItems" ng-value="filterValueList" value="{{filterValueList}}" ng-checked="filterValueList.code ==FilterItem.selectedItems.code" id="filterValueList.code"> {{filterValueList.desc}} 
					-->
					<input type="checkbox" 	ng-model="filterValueList.checked" ng-change="advanceSearch()"  ng-true-value="{{filterValueList.code}}" ng-false-value="false"/> {{filterValueList.desc}}
					</label>
				</p>
			</fieldset>
		</div>
			<div class="NewSearchSep"></div>
	</div>

	</div>
  </div>
  <div class="SearchSep" ng-hide="removeCatalogDisplay"></div>
  <div id="hdr02" ng-hide="removeCatalogDisplay" ng-class="{'hdr02Collapse':filterCatalog,'hdr01Expand':!filterCatalog}" ng-click="toggleCatalogue()">
    <a id="ank200_01" title="{{ 'CON_CATALOGUE' | translate }}" class="hdr02">
      <img id="ct200_01" src="images/CatIcon.png" style="border: 0; float: left; height:25px; margin: 4px" />
      <span id="sp200_01" ng-hide="filterCatalog">{{ 'CON_CATALOGUE' | translate }}</span>
      <img id="ct200_02" ng-hide="filterCatalog" src="images/panelCollapseIcon.png" style="border: 0; float: left; margin: 4px" />

    </a>
  </div>
  <div id="hdr02_content" ng-hide="filterCatalog || removeCatalogDisplay">
    <script type="text/ng-template" id="menu_renderer.html">
               <a ng-if="menu.description =='CON_MORE'" class="menuItemList menuItemText" ng-click="loadCatalogItems(menu.catalogueCode,menu.description,menu.elementCode,menu);" title="{{menu.description}}">{{menu.description | translate}}</a>
				  <a ng-if="menu.description !='CON_MORE'" class="menuItemList menuItemText" ng-click="loadCatalogItems(menu.catalogueCode,menu.description,menu.elementCode,menu);" title="{{menu.description}}">{{menu.description}}</a>
                 <ul> <li ng-repeat = "menu in menu.subCatalogueBeanList"
                      ng-include = "'menu_renderer.html'" ng-class="{ 'dir' : menu.subCatalogueBeanList.length > 0 } "> </li>
               </ul>
                   
            </script>
            <ul id="nav"
               class="dropdown dropdown-vertical">
               <li  class="mainMenuList" ng-repeat="menu in catalogueGroup" 
                  ng-include="'menu_renderer.html'" ng-class="{ 'dir' : menu.subCatalogueBeanList.length > 0 } ">
                  <a ng-click="loadCatalogItems(menu.catalogueCode,menu.description,menu.elementCode,menu);" title="{{menu.description}}">{{menu.description}}</a> 
               </li>
            </ul>
	
            <div class="paginationCtrlWrapper">
            	<div class="paginationCtrls">
            		            <ul class="pagination">
    <li ng-if="nomorePrevRecords" class="ng-scope">
        <a class="firstPageIcon"  href="" ng-click="firstCatMenuPage()"></a>
    </li>
    <li  class="ng-scope" ng-if="nomorePrevRecords">
        <a href="" ng-click="prevCatMenuPage()" class="moreItemsLeftArrow"></a>
    </li>
    <li  class="ng-scope" ng-if="moreRecords">
        <a class="moreItemsArrow" href=""  ng-click="nextCatMenuPage()"> </a>
    </li>
</ul>
            	</div>
            </div>
  </div>
   	</div>
    <!-- Left Search End -->
      <section id="filter-results"  ng-class="{'expendedView':filterNewSearch && filterCatalog}">
       <div ng-show="showCatalogProdLoad && !isShowLoader()" style="margin-left:232px">
     <img ng-src="./images/loading_dots.gif" style="max-width: 20%">
	</div>
      
      
      <div ng-show="noDataFoundMessage && !showCatalogProdLoad">
      	<a>{{'MSG_SELECT_ANOTHER_CATALOG' | translate}}</a>
      </div>
               <div class="filtersInfowrapper catfilterwrapper left" ng-show="productSearchFilterList.getSelectedFiltersProductSearch().length > 0" ng-class="{'expendedViewFilters':filterPanelCollapsed}">
    <ul>
        <li>{{'CON_YOU_SELECTED' | translate}} </li>
        <li data-ng-repeat="FilterItem in productSearchFilterList.getSelectedFiltersProductSearch()">{{FilterItem.desc}}
        <!-- 	<a href="" title="{{'CON_REMOVE_FILTER' | translate}}" ng-click="productSearchFilterList.removeSelection(FilterItem)"></a> -->
        	<a href="" title="{{'CON_REMOVE_FILTER' | translate}}" ng-click="removeFilter(FilterItem)"></a>
        </li>
    </ul>   
    </div>
    
         <p class="clr_left" ng-bind-html="renderHtml(filterMsg)"></p>
         <div >
            <ul class="grid" ng-show="isGridView()">
               <!-- A view with big photos and no text -->
               <li ng-repeat="cat in productList" class="gridlayout">
                  <div class="product-content-wrapper">
                     <label ng-show="showCompare">
                     <input type="checkbox" name="{{cat.code}}" 	ng-model="cat.checked" id="{{cat.code}}" ng-change="SelectedProduct(productList)" />{{'CON_SELECT_TO_COMPARE' | translate}}
                     </label>
                     <!-- ADM-023 -->
		 			 <!-- <span class="productCode">	<a href=""  ng-click="showProductDetail(cat.code);" >{{cat.code}}</a></span> -->
                     <div class="gridViewImageWrapper">
                        <a href=""  ng-click="showProductDetail(cat.code);"><img class="attentionImage" ng-src="{{BASE_ADDRESS}}{{cat.attentionImageURL}}" ng-show="cat.isShowAttentionImage"/>
                        <img ng-src="{{BASE_ADDRESS}}{{cat.imageUrl}}" onerror="getDefaultImg(this);">
                        </a> 
                        <img class="quickInfoImage" ng-src="images/Information.png" title="{{'CON_QUICKINFO' | translate}}"  ng-click="showQuickViewDlg(cat);">
						<!-- ADM-009 -->
						<img class="promotionImage" ng-src="images/Available.png" title="Item has promotion" ng-show="cat.hasPromoP1OrP2">
						<img class="hospitalImage" ng-src="images\H.png" ng-show="cat.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}" >
						<!-- ADM-009 end -->
                     </div>
					 <!-- ADM-023 START -->
                     <!-- <span class="productDescription clr_left"><a href=""  ng-click="showProductDetail(cat.code);" >{{cat.description}} </a></span> -->
		 			 <H3><small><a href=""  ng-click="showProductDetail(cat.code);" >{{cat.code}}</a></small><br />
                     <a href=""  ng-click="showProductDetail(cat.code);" >{{cat.description}} </a></H3>
                     <!-- ADM-023 END -->
                     <div class="clr_left">
                        <span class="left">{{'CON_SALES_UNIT' | translate}}:</span> 
                        <div class="select-style left">
                           <select  ng-model="cat.selectedUnitObject"  ng-options="unit.salesUnitDesc for unit in cat.salesUnitsDesc track by unit.salesUnitDesc" ng-change="onUnitChangeMainCat(cat.code,cat.selectedUnitObject.salesUnit,cat)">  					
                           </select>
                        </div>
                     </div>
		            <div class="availGridSpan" ng-if="webSettings.allowDiscountDisplay=='*ALL'"  ng-show="webSettings.isShowPrice">
					<span ng-class="{'actPrice': convertAsNumber(cat.discountPercentage) > 0, 'priceCalculationText': !isPriceCalculationEnabled}" class="finalPrice" ng-click="showPriceCalcDlg(cat)">{{cat.actualPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}} </span>
					<span ng-show="convertAsNumber(cat.discountPercentage) > 0" class="discount">{{cat.discountPercentage}} %</span>
					<span ng-show="convertAsNumber(cat.discountPercentage) > 0" class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.discountPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}} </span>
					</div>
					
					<div class="availGridSpan" ng-if="webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE'"  ng-show="webSettings.isShowPrice">
					<span  class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.discountPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}} </span>
					</div>
					
					<div class="availGridSpan" ng-if="webSettings.allowDiscountDisplay=='*ALL_PRICE'"   ng-show="webSettings.isShowPrice">
					<span ng-class="{'actPrice': convertAsNumber(cat.discountPrice) > 0, 'priceCalculationText': !isPriceCalculationEnabled}" class="finalPrice" ng-click="showPriceCalcDlg(cat)">{{cat.actualPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}} </span>
					<span ng-show="convertAsNumber(cat.discountPrice) > 0" class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.discountPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}} </span>
					</div>
					
					<div class="availGridSpan" ng-if="webSettings.allowDiscountDisplay=='*ACTUAL_PRICE'"  ng-show="webSettings.isShowPrice">
					<span class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.actualPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}} </span>
					</div>
                     <span class="clr_left" ng-show="cat.isMatrixBaseItem ">
                     <a href=""  ng-click="showProductDetail(cat.code);" >{{cat.segmentationDesc2}}/{{cat.segmentationDesc3}}</a></span>
                     <!-- ADM-023 -->
                     <!-- <span class="clr_left"  ng-show="isSignedIn && !cat.isMatrixBaseItem">{{'COH_QUANTITY' | translate}}: <input id="getId('text',cat.code)" ng-model="cat.quantity"
                        class="quantity"  type="text" ng-class ="{ 'error': !cat.validQuantity, '' : cat.validQuantity}" ng-change="checkValidQuantity(cat,cat.quantity)" title="{{cat.quantityBoxMsg}}"/></span> -->
                    <div class="availHeight" ng-hide="webSettings.itemAvailabilityType == '*NO' || !isSignedIn"  ng-show="isNormalItem || isComponentItem || !isMatrixOption2" class="left availability">
					<span ng-show="cat.showAvailabilityAsLink && cat.showAvailabilityAsImage"> 
						<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label> <a href="" ng-click="showProductDetail(cat.code,true);"><img class="availImage" ng-src="images/{{cat.availabilityImageName}}"  title="{{'CON_CLICK_TO_SEE_WH_INFO' | translate}}"/> </a> 
					</span>
					<span ng-show="!cat.showAvailabilityAsLink && cat.showAvailabilityAsImage"> 
					<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label>
						<img ng-src="images/{{cat.availabilityImageName}}"/>
					</span>  
					<span ng-show="cat.showAvailabilityAsLink && !cat.showAvailabilityAsImage"> 
						<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label>
						<a href="" ng-click="showProductDetail(cat.code,true);" >{{cat.availabilityText}} </a>
					</span>
					<span ng-show="!cat.showAvailabilityAsLink && !cat.showAvailabilityAsImage"> 
						<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label> <a  href=""  ng-click="showProductDetail(cat.code,true);">{{cat.availabilityText}} </a>
					</span>
					</div>
                        
                        
                  </div>
                  <!-- ADM-023 START -->
                  <div class="buttonWrapperGrid" ng-if="cat.itemClass == 1">
                     <span class="clr_left"  ng-show="isSignedIn && !cat.isMatrixBaseItem"><input id="getId('text',cat.code)" ng-model="cat.quantity"
                        class="quantity"  type="text" ng-class ="{ 'error': !cat.validQuantity, '' : cat.validQuantity}" ng-change="checkValidQuantity(cat,cat.quantity)" title="{{cat.quantityBoxMsg}}"/></span>
                       <!-- ADM-013 --><button class="btn buy" ng-disabled="disableCatalogBuy(cat.isBuyingAllowed,cat.isMatrixBaseItem)" ng-class="{'disabled': cat.isBuyingAllowed == false}" 
                        type="button" name="" value="" ng-click = "gridViewBuyClicked(cat)" >
                        	<i class="fa fa-cart-arrow-down" aria-hidden="true"> </i>
                        	<i ng-show="isShopCartItem(cat.code)" class="fa fa-check" aria-hidden="true"> </i>
                      </button>
	              </div>
                  <div class="buttonWrapperGrid" ng-if="cat.itemClass == 2">
                     <!-- ADM-013 --><button type="button" name="" value="" class="buy" ng-class="buy" ng-click="showBtbDlg(cat)" title="{{'COH_PROCURE_THE_ITEM' | translate}}">{{'CON_BTB' | translate}}</button>
	              </div>
     	          <div class="buttonWrapperGrid">
                     <button type="button" name="" value="" class="homeCat"
                        ng-class="{'disabled':!isSignedIn}" ng-click="addItemToCurrentList(cat);" ng-disabled="disableShoppingList(cat.isMatrixBaseItem) || cat.selectedUnitObject == null">
                        <i class="fa fa-star" aria-hidden="true"> </i>
                     </button>
                  </div>
                  <!-- ADM-023 END -->                     
               </li>
            </ul>
         </div>
         <div class="listview" ng-show="isTableView() &&  recordFound ">
            <div class="extendedInfo">
               <label>{{'CON_EXTENDED_INFO' | translate}}: </label>
               <input type="radio" ng-model="showExtendInfo" value='true' name="CatalogueRB" class=""><label>{{'CON_YES' | translate}}</label>
               <input type="radio" ng-model="showExtendInfo" value='false' name="CatalogueRB" class="">  <label>{{'CON_NO' | translate}}</label>
            </div>
            <div class="right download">
               <a  href="" class="right" ng-show="webSettings.showXmlIcon" title="{{'CON_MAIN_CAT_XML' | translate}}"> <img ng-src="./images/XML.png" ng-click="exportCatalogTableAsXML()" /> </a> 
               <a  href="" class="right" ng-show="webSettings.showExcelIcon" title="{{'CON_MAIN_CAT_EXCEL' | translate}}"> <img ng-src="./images/Excel.png" ng-click="exportCatalogTableAsExcel()" /> </a>
               <a  href="" class="right" ng-show="webSettings.showPdfIcon" title="{{'CON_MAIN_CAT_PDF' | translate}}" > <img ng-src="./images/PDF.png" ng-click="exportCatalogTableAsPDF(catDescBreadCrum)" /> </a>
               <button ng-show="tableHeaders.isBuyingAllowed" type="button" name="" value="" class="buyIcon" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}"
                  ng-click="buyItems()" >{{'CON_BUY' | translate}}</button>
               <button type="button" ng-show="isSignedIn" name="" value="" class="addToList" title={{addToListText}} ng-click="addMultipleItemsToCurrentList();">{{'CON_ADD_TO_LIST' | translate}}</button> 
            </div>
            <div class="mainCatListScrollTable">
            	<!-- ADM-016 -->
				<table class="mainCatTable">
					 <thead>
					   <tr>
					   	 <th ng-show="showExtendInfo=='true'"></th>
                         <th>
                           <div class="sorting">
                              <span class="sortingInnerWrap">
                              <a ng-class ="{ 'ascending_selected': showSelection('codeASC'), 'ascending' :  !showSelection('codeASC')  }" shref="" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="Sorting('code','ASC')"></a>
                              <a ng-class ="{ 'decending_selected':  showSelection('codeDESC'), 'decending' :  !showSelection('codeDESC') }" shref="" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="Sorting('code','DESC')"></a>
                              </span>						
                           </div>
                           <span>{{'CON_MINSAN_CODE' | translate}}</span>
                        </th>
                        <th>
                           <div class="sorting">
                              <span class="sortingInnerWrap">
                              <a ng-class ="{ 'ascending_selected': showSelection('descriptionASC'), 'ascending' :  !showSelection('descriptionASC'), }" shref="" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="Sorting('description','ASC')"></a>
                              <a ng-class ="{ 'decending_selected': showSelection('descriptionDESC'), 'decending' :  !showSelection('descriptionDESC'), }" shref="" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="Sorting('description','DESC')"></a>
                              </span>						
                           </div>
                           <span class="tableHeadPadding">{{'COH_DESCRIPTION' | translate}}</span>
                        </th>
                        <th class="txtCenter">{{'COH_UNIT' | translate}}</th>
                        <th class="txt_right" ng-show="tableHeaders.actualPrice && webSettings.isShowPrice">
                           <span>{{'COH_ACTUAL_PRICE' | translate}} {{webSettings.currencyCode}}</span>
                        </th>
                        <th	class="txt_right" ng-show="tableHeaders.discountPrice && webSettings.isShowPrice ">							
                           <span>{{'COH_DISCOUNT_PRICE' | translate}} {{webSettings.currencyCode}}</span>						
                        </th>
                        <th class="txt_right" ng-show="tableHeaders.discountPercentage && webSettings.isShowPrice ">						
                           <span class="tableHeadPadding">{{'CON_DISCOUNT_%' | translate}}</span>					
                        </th>
                        <th class="">{{'COH_QUANTITY' | translate}}</th>
                        <!-- ADM-008 --><th>{{'COH_ALTERNATIVES' | translate}}</th>
					   </tr>
					  </thead>
					  <tbody>
                     	<tr ng-repeat="row in productList ">
                        	<td ng-show="showExtendInfo=='true'" style="width:100px;">
                           		<div class="listViewImageWrapper">
                              		<a href="" ng-click="showProductDetail(row.code);" ><img class="attentionImage" ng-src="{{BASE_ADDRESS}}{{row.attentionImageURL}}" ng-show="row.isShowAttentionImage"/>
                              		<img ng-src="{{BASE_ADDRESS}}{{row.imageUrl}}" onerror="getDefaultImg(this);"></a>
                           		</div>
                        	</td>
                        	<td>
                        		<a href="" ng-click="showProductDetail(row.code);">{{row.minsanCode}}</a>
                        	</td>
                        	<td>
                        		<a href="" ng-click="showProductDetail(row.code);">{{row.description}}</a>
                            	<span ng-if="!webSettings.showFullWebTextInItemTable" ng-show="showExtendInfo=='true'" class="itemWebTxt" ng-bind-html="renderHtml(row.itemWebText)"></span> 
          					 	<span ng-if="webSettings.showFullWebTextInItemTable" ng-show="showExtendInfo=='true'" class="itemWebTxtFull" ng-bind-html="renderHtml(row.itemWebText)"></span>
                        	</td>
                        	<td>
                           		<span>
                              		<div class="select-style left">
                                 		<select  ng-model="row.selectedUnitObject"  ng-options=" unit.salesUnitDesc for unit in row.salesUnitsDesc track by unit.salesUnitDesc" ng-change="onUnitChangeMainCat(row.code,row.selectedUnitObject.salesUnit,row)">  					
                                 		</select>
                              		</div>
                           		</span>
                        	</td>
                        	<td ng-show="tableHeaders.actualPrice && webSettings.isShowPrice" class="txt_right">
                           		<span>
                           			<a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)">{{row.actualPrice}} </a>
                         		</span>  
                        	</td>
                        	<td class="txt_right" ng-show="tableHeaders.discountPrice && webSettings.isShowPrice ">
                           		<a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)">{{row.discountPrice}}</a>
                        	</td>
                        	<td class="txt_right" ng-show="tableHeaders.discountPercentage && webSettings.isShowPrice ">
                           		<a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)">{{row.discountPercentageText}} </a>
                        	</td>
                        	<td class="quantityColumn" >
                           		<div class="nowrap" style="float:left;">
                              		<span ng-show="isSignedIn && !row.isMatrixBaseItem" class="left">
                              			<input ng-show="row.selectedUnitObject != null" id="getId('text',row.code)" ng-model="row.quantity" type="text" class="txt_right buyInput" ng-class ="{ 'error': !row.validQuantity, '' : row.validQuantity}" ng-change="checkValidQuantity(row,row.quantity)" title="{{row.quantityBoxMsg}}"/> </span> 
                              		</span>
                              		<span ng-if="showHide(row.isBuyingAllowed) && !row.isMatrixBaseItem && !isShopCartItem(row.code)" class="">
                              			<button type="button" name="" value="" class="buyIcon" ng-click="buyItems(row)" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}">{{'CON_BUY' | translate}}</button>
                              		</span>
                              		<span ng-if="showHide(row.isBuyingAllowed)  && !row.isMatrixBaseItem && isShopCartItem(row.code)">
                              			<span  class="addedInCart left"  ng-click="buyItems(row)"  title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span>
                              		</span>
									<!-- ADM-013 -->
									<span ng-if="row.itemClass == 2" class="left">
										<button type="button" name="" value="" class="procureTableView" ng-click="showBtbDlg(row);" title="{{'COH_PROCURE_THE_ITEM' | translate}}">{{'CON_BTB' | translate}}</button> 
									</span>
									<!-- ADM-013 end -->                              		
                              		<span  ng-if="isSignedIn && !row.isMatrixBaseItem" ng-show="row.selectedUnitObject != null"  class="">
                              			<button type="button" name="" value="" class="addToListTableView" title={{addToListText}} ng-click="addItemToCurrentList(row);" >{{'CON_ADD_TO_LIST' | translate}}</button> 
                              		</span>
									<!-- ADM-009 -->
									<img class="promotionImageListView" ng-src="images/Available.png" title="Item has promotion" ng-show="row.hasPromoP1OrP2">
									<img class="hospitalImageListView" ng-src="images/H.png" ng-show="row.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}" >
									<!-- ADM-009 end -->
                           		</div>
                           		<span ng-show="row.isMatrixBaseItem">
                           			<a href="" ng-click="showProductDetail(row.code);"  >{{row.segmentationDesc2}}/{{row.segmentationDesc3}}</a>
                           		</span>
                        	</td>
							<!-- ADM-008 Begin -->
							<td><a href="" ng-show="hasAlternative(row)"
								ng-click="alternativeClicked(row.code);"><button
										class="Alternative" title="{{'CON_ALTERNATIVES_ITEMS' | translate}}">AL</button></a></td>
							<!-- ADM-008 End -->
							</tr>
                  	</tbody>
					  
				</table>
            	<!-- ADM-016 END -->
            </div>
         </div>
      </section>
   </div>
   </div>
   <div class="catalogueCompareWrapper" ng-if="isCompare">
   	<div class="comparePageWrapper">
	<h3>{{'CON_PRODUCT_COMPARE' | translate}}</h3>
	<div class="sep"></div>
	<div class="compareTableScroll">
	<table class="Comparetable">
		<tbody>
			<tr>
				<td class="bottomborderNone">{{'COH_SELECT' | translate}}</td>
				<td class="blank bottomborderNone"></td>
				<td class="bottomborderNone" ng-repeat="row in SelectedProductList"><input
					type="checkbox" name="{{row.description}}" ng-model="row.checked"
					id="{{row.description}}" ng-change="RemoveProduct()" />
				</td>
			</tr>
			<tr>
				<td class="topborderNone"> &nbsp; </td>
				<td class="blank topborderNone"></td>
				<td class="topborderNone" ng-repeat="row in SelectedProductList">
				<div class="gridViewImageWrapper">
					<a href="" ng-click="showProductDetail(row.code);">
					 <img class="attentionImage" ng-src="{{BASE_ADDRESS}}{{row.attentionImageURL}}" ng-show="row.isShowAttentionImage"/>
					 <img ng-src="{{BASE_ADDRESS}}{{row.imageUrl}}" class="gridViewCompareImage" onerror="getDefaultImg(this);">
					</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>{{'COH_DESCRIPTION' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList"><a href="" ng-click="showProductDetail(row.code);">{{row.description}}</a></td>
			</tr>
			<tr>
				<td>{{'COH_PRODUCT_CODE' | translate}}</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList"><a href="" ng-click="showProductDetail(row.code);">{{row.code}}</a></td>
			</tr>
			<tr>
				<td>{{'CON_EXTENDED_INFO' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList" ng-bind-html="renderHtml(row.itemWebText)">
					</td>
			</tr>

			<tr>
				<td>{{'COH_ACTUAL_PRICE' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList"><a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)">{{row.actualPrice}}</a></td>
			</tr>

			<tr>
				<td>{{'COH_DISCOUNT_PRICE' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">
					<a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)">{{row.discountPrice}}</a></td>
			</tr>

			<tr>
				<td>{{'CON_DISCOUNT_%' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">
					<a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)">{{row.discountPercentage}}</a></td>
			</tr>
			<tr>
				<td>{{'CON_DEFAULT_SALES_UNIT' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">
					{{row.defaultSalesUnit}}</td>
			</tr>
			<tr>
				<td>{{'CON_UNIT' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">
				<div class="select-style">
				<select ng-init="row.selectedUnit=row.salesUnit" ng-model="row.selectedUnit" 
				ng-change="onUnitChangeMainCat(row.code,row.selectedUnit,row)">
				<option ng-repeat="unit in row.salesUnits " >{{unit}}</option></select>
				</div>
				</td>
			</tr>
			<tr>
				<td>{{'COH_QUANTITY'|translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">
					<span ng-show="isSignedIn" >
						<input id="getId('text',row.code)" ng-model="row.quantity" type="text" class="quantity" ng-class ="{ 'error': !row.validQuantity, '' : row.validQuantity}" ng-change="checkValidQuantity(row,row.quantity)" title="{{row.quantityBoxMsg}}"/>
					</span>
					<!-- 
					<button ng-disabled="!row.isBuyingAllowed" ng-class="{'disabled': row.isBuyingAllowed == false}" type="button" name="" value="" class="buyIcon" ng-click="gridViewBuyClicked(row)" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}">{{'CON_BUY' | translate}}</button>
					-->
					<span ng-if="row.isBuyingAllowed && !isShopCartItem(row.code)" class="">
						<button ng-class="{'disabled': row.isBuyingAllowed == false}" type="button" name="" value="" class="buyIcon middle" ng-click="gridViewBuyClicked(row)" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}">{{'CON_BUY' | translate}}</button>
					</span>
					<span ng-if="row.isBuyingAllowed && isShopCartItem(row.code)">
						<span ng-class="{'disabled': row.isBuyingAllowed == false}" class="addedInCart CompareCartImg"  ng-click="gridViewBuyClicked(row)"  title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span>
					</span>
					<!-- ADM-013 -->
					<span ng-if="row.itemClass == 2" class="left">
						<button type="button" name="" value="" class="procureTableView" ng-click="showBtbDlg(row);" title="{{'COH_PROCURE_THE_ITEM' | translate}}">{{'CON_BTB' | translate}}</button> 
					</span>
					<!-- ADM-013 end -->
					<button type="button" ng-show="isSignedIn" name="" value="" class="addToList" title={{addToListText}} ng-click="addItem(row);">{{'CON_ADD_TO_LIST' | translate}}</button> 	
				</td>
			</tr>
			<tr>
				<td>{{'COH_ENQUIRY_ON_ITEMS' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList"> 
				<a title="{{'CON_CLICK_TO_SEND_EMAIL_ENQUIRY_PRODUCT' | translate}}" class="emailIcon" ng-click="sendPrdEnquiry(row.code,row.description)"></a>
				</td>
			</tr>
			<tr>
				<td>{{'COH_NET_WEIGHT' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">{{getObjectFromList('unit',row.selectedUnit,row.productUnitList).netWeight}} </td>
			</tr>
			<tr>
				<td>{{'CON_GROSS_WEIGHT' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">{{getObjectFromList('unit',row.selectedUnit,row.productUnitList).grossWeight}}</td>
			</tr>
			<tr>
				<td>{{'COH_NET_VOLUME' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">{{getObjectFromList('unit',row.selectedUnit,row.productUnitList).netVolume}}</td>
			</tr>
			<tr>
				<td>{{'CON_GROSS_VOLUME' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">{{getObjectFromList('unit',row.selectedUnit,row.productUnitList).grossVolume}}</td>
			</tr>
			<tr>
				<td>{{'COH_LENGTH' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">{{getObjectFromList('unit',row.selectedUnit,row.productUnitList).length}}</td>
			</tr>
			<tr>
				<td>{{'COH_HEIGHT' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">{{getObjectFromList('unit',row.selectedUnit,row.productUnitList).height}}</td>
			</tr>
			<tr>
				<td>{{'COH_WIDTH' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">{{getObjectFromList('unit',row.selectedUnit,row.productUnitList).width}}</td>
			</tr>
		</tbody>
	</table>
	 
	</div>
	<div class="buttonWrapper clr_left right">
	<a ng-click="showCatalogueItems()" href="" class="backButton">{{'CON_BACK' | translate}} </a>
	</div>
</div>
   </div>
</div>