
<div class="loginWindow" ng-controller="DlgCtrl">
	<script type="text/ng-template" id="messageDlgView.html">
<div class="messageDlgView">
		<div class="modal_view-container">   
        	<div class="modal-header">
            	<h3>{{dlgObj.dlgTitle}} </h3>
				<button class="modal-close-btn" ng-click="cancel()">{{'CON_CANCEL' | translate}}</button>
        	</div>
          	<div class="modal-body">
           		<p ng-repeat="message in dlgObj.messageList "> {{message.str}}</p>
        	</div>
		</div>
</div>
    </script>
</div>

<div class="modalViewBody" ng-controller="DlgCtrl">
    <script type="text/ng-template" id="confrimDlgView.html">
<div class="confrimDlgView">   
<div class="modal_view-container">   
<div class="modal-header">
            <h3>{{dlgObj.dlgTitle}} </h3>
		<button class="modal-close-btn" ng-click="cancel()">{{'CON_CANCEL' | translate}}</button>
        </div>
      
          <div class="modal-body">
           <p ng-repeat="message in dlgObj.messageList "> {{message}}</p>
			<div class="dialog_btn_wrapper">
			<a class="yes" ng-click="ok()">{{'CON_YES' | translate}}</a>    
			<a class="no" ng-click="cancel()" >{{'CON_NO' | translate}}</a>           
			</div>
          </div>
</div>
</div>
    </script>    
</div>


<div class="modalViewBody" ng-controller="DlgCtrl">
    <script type="text/ng-template" id="quantityZeroView.html">
<div class="confrimDlgView">   
<div class="modal_view-container">   
<div class="modal-header">
            <h3>{{dlgObj.dlgTitle}} </h3>
		<button class="modal-close-btn" ng-click="cancel()">{{'CON_CANCEL' | translate}}</button>
        </div>
      
          <div class="modal-body">
           <p ng-repeat="message in dlgObj.messageList "> {{message}}</p>
		  </div>
</div>
</div>
    </script>    
</div>

<div class="modalViewBody" ng-controller="DlgCtrl">
    <script type="text/ng-template" id="mannerOfTrans.html">
<div class="confrimDlgView">   
<div class="modal_view-container">   
<div class="modal-header">
            <h3>{{dlgObj.dlgTitle}} </h3>
		<button class="modal-close-btn" ng-click="cancelMotEnter()">{{'CON_CANCEL' | translate}}</button>
        </div>
      
          <div class="modal-body">
           <p ng-repeat="message in dlgObj.messageList "> {{message}}</p>
		  </div>
</div>
</div>
    </script>    
</div>

<div class="modalViewBody" ng-controller="DlgCtrl">
    <script type="text/ng-template" id="imageSlider.html">
<div class="imageSliderView"> 
	<div class="modal_view-container">        
		<div class="modal-header">            
			<button class="modal-close-btn" ng-click="cancel()">Cancel</button>	
        </div>
         <div class="modal-body"> 
      	   	<div class="imageSliderWrapper">			
			<img ng-repeat="slide in dlgObj.imageList" class="slide-animation nonDraggableImage" ng-swipe-right="dlgObj.nextSlide()" ng-swipe-left="dlgObj.prevSlide()"
				ng-hide="!dlgObj.isCurrentSlideIndex($index)" ng-src="{{slide}}">
			</div> 
			<span ng-show="dlgObj.imageList.length > 1">  
				<a ng-click="dlgObj.nextSlide()" href="" class="arrow prev"></a>
				<a ng-click="dlgObj.prevSlide()" href="" class="arrow next"></a>   
			</span>	 
		</div>
     </div>
	</div>
    </script>    
</div>


<div class="modalViewBody" ng-controller="DlgCtrl">
    <script type="text/ng-template" id="emailForm.html">
<div class="emailFormView"> 
        <div class="modal-header">
            <h3>{{'CON_COMPOSE_EMAIL' | translate}}</h3>
		<button class="modal-close-btn" ng-click="cancel()">{{'CON_CANCEL' | translate}}</button>
        </div>
		<p class="errorMsg">{{dlgObj.email.getUIErrorKey() | translate}}</p>
        <form ng-submit="">
          <div class="modal-body emailModal">
            <input type="text" ng-show="dlgObj.email.showMailFrom" ng-model="dlgObj.email.mailFrom" placeholder="{{'CON_SENDER_EMAIL_ADDRESS' | translate}}" autofocus ng-blur="dlgObj.email.isValidValues()" ng-keyup="dlgObj.email.startShowError=true" /> <span ng-show="dlgObj.email.showMailFrom" class="mandatoryField">*</span>
            <input type="text" ng-show="dlgObj.email.showMailTo" ng-model="dlgObj.email.mailTo" placeholder="{{'CON_TO_EMAIL_ADDRESS' | translate}}" autofocus ng-blur="dlgObj.email.isValidValues()" ng-keyup="dlgObj.email.startShowError=true" /> <span ng-show="dlgObj.email.showMailTo" class="mandatoryField">*</span>
            <input type="text" ng-model="dlgObj.email.subject" placeholder="{{'CON_SUBJECT' | translate}}" ng-blur="dlgObj.email.isValidValues()" ng-keyup="dlgObj.email.startShowError=true" /> <span class="mandatoryField">*</span>
			<textarea rows="5" cols="10" ng-model="dlgObj.email.body" placeholder="{{'CON_MESSAGE' | translate}}" ng-blur="dlgObj.email.isValidValues()" ng-keyup="dlgObj.email.startShowError=true" ></textarea><span class="mandatoryField">*</span>
			<div class="clr_Left right">
			<button type="button" class="yellowButton primary-btn" ng-disabled="!dlgObj.email.isValidValues()" ng-click="ok()">{{'CON_SEND_EMAIL' | translate}}</button>            
			</div>
          </div>
        </form>
		</div>	
    </script>    
</div>


<div class="modalViewBody" ng-controller="DlgCtrl">
	<script type="text/ng-template" id="priceCalc.html">
<div class="priceCalcView">
<div class="modal-header">
    <h3>{{'CON_PRICE_CALCULATION' | translate}}</h3>
	<button class="modal-close-btn" ng-click="cancel(); dlgObj.priceCalObj.itemObject.newQuantity='1'">{{'CON_CANCEL' | translate}}</button>
 </div>
 <div class="modal-body">
<div class="sep"></div>
<p>{{'CON_PRODUCT' | translate}}: {{dlgObj.priceCalObj.getItemCode() }}</p>
<p>{{'COH_DESCRIPTION' | translate}}: {{ dlgObj.priceCalObj.getDesc() }}</p>

<!-- ADM-009 -->
<div class="listview">
<table class="price_calculation" style="width:65%">
<thead>
	<tr>
		<td>{{'CON_QUANTITY' | translate}}</td>
		<td>{{'CON_DISCOUNT' | translate}} %</td>
		<td>{{'CON_FOC_QUANTITY' | translate}}</td>
		<td>{{'CON_PRICE' | translate}}</td>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="row in dlgObj.priceCalObj.responseObject.quantityDependingPrices " >
		<td>
			{{row.quantity}}
		</td>
		<td>
			{{row.discount}}
		</td>
		<td>
			{{row.focQuantity}}
		</td>
		<td class="pricecalcpadding">
			{{row.price}} {{dlgObj.priceCalObj.responseObject.currencyCode}}
		</td>
	</tr>
</tbody>
</table>
</div>
<!-- ADM-009 end -->

<table class="price_calculation">
    <tr>
        <td colspan="2" style="width:50%;">
            <h4>{{'CON_CALCULATION_INPUT' | translate}}</h4>
            <div class="sep"></div>
        </td>
        <td class="" style="width:8%"></td>
        <td colspan="2" style="width:50%;">
        <h4>{{'CON_RESULT_OF_CALCULATION' | translate}}</h4>
        <div class="sep"></div>
        </td>
    </tr>
    <tr>
        <td style="width:100px;">{{'COH_UNIT' | translate}}:</td>
        <td> <div class="select-style">
			<select name="" id="priceSaleUnit"  
			ng-model="dlgObj.priceCalObj.selectedUnit" ng-change="priceCalculationOnUnitChange(dlgObj.priceCalObj.getItemCode(),dlgObj.priceCalObj.selectedUnit, dlgObj.priceCalObj.itemObject)"
			ng-options="unit.salesUnit as unit.salesUnitDesc for unit in dlgObj.priceCalObj.unitList " >{{unit.salesUnitDesc}}
			</select></div>
		</td>
        <td></td>
        <td ng-show="webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE' || webSettings.allowDiscountDisplay=='*ALL'">{{'CON_PRICE' | translate }} / {{'COH_UNIT' | translate}}:</td>
        <td ng-show="webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE' || webSettings.allowDiscountDisplay=='*ALL'" class="pricecalcpadding">{{dlgObj.priceCalObj.responseObject.price}} / {{dlgObj.priceCalObj.responseObject.unit}}</td>
    </tr>
    <tr>
        <td>{{'COH_QUANTITY' | translate}}:</td>
        <td><input ng-model="dlgObj.priceCalObj.itemObject.newQuantity" type="text" ng-class ="{ 'error': !dlgObj.priceCalObj.itemObject.validQuantityPriceCalc, '' : dlgObj.priceCalObj.itemObject.validQuantityPriceCalc}" ng-change="checkValidQuantityPriceCal(dlgObj.priceCalObj.itemObject,dlgObj.priceCalObj.itemObject.newQuantity)" title="{{dlgObj.priceCalObj.itemObject.quantityBoxMsg}}"> </input></td>
        <td></td>
        <td ng-show="webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE' || webSettings.allowDiscountDisplay=='*ALL'">{{'CON_GROSS_VALUE' | translate}}:</td>
        <td ng-show="webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE' || webSettings.allowDiscountDisplay=='*ALL'" class="pricecalcpadding">{{dlgObj.priceCalObj.responseObject.grossValue}}</td>
    </tr>
    <tr>
        <td>{{'COH_DATE' | translate}}:</td>
        <td><input type="text" ng-model="dlgObj.priceCalObj.dateString" ng-keypress="filterValue($event)"  ng-blur="validateDateRangeFormatDialog(dlgObj.priceCalObj.dateString,true)" ng-mouseleave="validateDateRangeFormatDialog(dlgObj.priceCalObj.dateString,true)" ng-class="{ 'error': !validDatePriceCalc, '' :  validDatePriceCalc }" placeholder= "{{webSettings.defaultDateFormat}}"> </input></td>
        <td></td>
        <td ng-show="webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ALL'">{{'CON_DISCOUNT_AMOUNT' | translate}}:</td>
        <td ng-show="webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ALL'" class="pricecalcpadding">{{dlgObj.priceCalObj.responseObject.discountAmount}} ({{dlgObj.priceCalObj.responseObject.discountPercent}})
		<!--
		<span ng-show="convertAsNumber(dlgObj.priceCalObj.responseObject.discountPercentage) > 0"> ({{dlgObj.priceCalObj.responseObject.discountPercent}}) </span>
		-->		
		</td>
    </tr>
    <tr>
        <td>{{'COH_CURRENCY' | translate}}:</td>
        <td> <div class="select-style">
			<select name="" id="currency"  
			ng-model="dlgObj.priceCalObj.selectedCurrency" ng-options="currency.code for currency in dlgObj.priceCalObj.currencyList">
			</select></div>
		</td>
        <td></td>
        <td>{{'CON_TOTAL_EXCLUDING_VAT' | translate}}:</td>
        <td class="pricecalcpadding">{{dlgObj.priceCalObj.responseObject.netValue}} {{dlgObj.priceCalObj.responseObject.currencyCode}}</td>
    </tr>
 <tr>
<td></td>
        <td colspan="3">

<div class="buttonWrapper left"> 							
<button ng-class="{'disabled': !dlgObj.priceCalObj.enableCalculateButton}" class="calculate left" ng-click="dlgObj.priceCalObj.calculatePrice()" >{{'CON_CALCULATE' | translate}}   </button>
<button class="right" ng-disabled="!dlgObj.priceCalObj.itemObject.validQuantityPriceCalc" ng-show="dlgObj.priceCalObj.isBuyAllowed()"  
	ng-class="{'disabled': dlgObj.priceCalObj.isBuyingAllowed() == false, 'addedInCart':isShopCartItem(dlgObj.priceCalObj.getItemCode())==true , 'buy':isShopCartItem(dlgObj.priceCalObj.getItemCode())==false }" 
ng-click="dlgObj.priceCalObj.buy()" >{{'CON_BUY' | translate}} <span ng-show="isShopCartItem(dlgObj.priceCalObj.getItemCode())" title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span> </button>
<button ng-show="isSignedIn" ng-disabled="(dlgObj.priceCalObj.getValidUnit(dlgObj.priceCalObj.selectedUnit)) || !dlgObj.priceCalObj.itemObject.validQuantityPriceCalc " class="buy left" ng-click="dlgObj.priceCalObj.addItemToCurrentList()" >{{'CON_ADD_TO_LIST' | translate}} </button>
<!-- ADM-013 --><button ng-if="dlgObj.priceCalObj.itemObject.itemClass == 2" type="button" name="" value="" class="buy" ng-class="buy" ng-click="showBtbDlg(dlgObj.priceCalObj.itemObject)" title="{{'COH_PROCURE_THE_ITEM' | translate}}">{{'CON_BTB' | translate}}</button>
</div>
		</td>
        
    </tr>
</table>
</div>
</div>
</script>
</div>



<!-- quick view start -->


<div class="modalViewBody" ng-controller="DlgCtrl">
	<script type="text/ng-template" id="quickViewProduct.html">
<div class="quickViewPop">
<div class="modal-header">   
	<button class="modal-close-btn" ng-click="cancel(); dlgObj.quickViewObj1.itemObject.newQuantity=null">{{'CON_CANCEL' | translate}}</button>
 </div>
 <div class="modal-body modal-body-quickView">
 <div class="productDetailWrapper left quickViewPopDeatilWrapper">
	<div style="position: relative; float: left;" class="pd_imageWrapperQuickView">
		<div class="" >
			<img ng-if="dlgObj.quickViewObj1.getIsRelative()" class="attentionImage" ng-src="{{BASE_ADDRESS}}{{dlgObj.quickViewObj1.getAttentionURLName()}}" ng-show="{{dlgObj.quickViewObj1.getAttentionDisplay()}}"/>
			<img ng-if="dlgObj.quickViewObj1.getIsRelative()" class="quickViewImage" ng-src="{{BASE_ADDRESS}}{{dlgObj.quickViewObj1.getImageUrl()}}" onerror="getDefaultImg(this);">
			<img ng-if="!dlgObj.quickViewObj1.getIsRelative()" class="attentionImage" ng-src="{{dlgObj.quickViewObj1.getAttentionURLName()}}" ng-show="{{dlgObj.quickViewObj1.getAttentionDisplay()}}"/>
			<img ng-if="!dlgObj.quickViewObj1.getIsRelative()" class="quickViewImage" ng-src="{{dlgObj.quickViewObj1.getImageUrl()}}" onerror="getDefaultImg(this);">
			<div class="unitsWrapperQuickView clr_left "></div>
			<a href ng-click="showProductDetail(dlgObj.quickViewObj1.getItemCode());cancel()">{{'CON_MORE_INFORMATION' | translate}}</a> 
		</div> 
	</div>
	<div class="pd_infoWrapper">
			<div class="unitsWrapperQuickView clr_left ">
			<!-- <label class="left">{{'COH_PRODUCT_CODE' | translate}} : </label>-->
			 <span> <b>{{dlgObj.quickViewObj1.getItemCode() }}</b> </span>
	</div>
	<div class="unitsWrapperQuickView clr_left ">
		<!-- <label  class="left">{{'COH_DESCRIPTION' | translate}} : </label>--> 
		<span><b>{{dlgObj.quickViewObj1.getDesc()}} </b> </span>
	 </div>
	<div class="unitsWrapperQuickView clr_left ">
		<!-- <label  class="left">{{'CON_EXTENDED_INFO' | translate}} : </label> -->
		<span class="extendedProductInfo" ng-bind-html="renderHtml(dlgObj.quickViewObj1.getExtendedInfo())"></span>
	 </div>
	 <div class="unitsWrapperQuickView clr_left">
	 	<label class="left">{{'CON_SALES_UNIT' | translate}} : </label>
   	<div class="select-style">
			<select name="" id="priceSaleUnit1"  
			ng-model="dlgObj.quickViewObj1.selectedUnit" ng-change="dlgObj.quickViewObj1.onUnitChangeQuickViewDlg()" 
			ng-options="unit.salesUnit as unit.salesUnitDesc for unit in dlgObj.quickViewObj1.unitList " >{{unit.salesUnitDesc}}
			</select>
			</div>		
		</div>
		<div class="unitsWrapperQuickView clr_left" ng-if="webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE'">
			<label  class="left">{{'CON_PRICE' | translate }} / {{'COH_UNIT' | translate}} : </label>
			<span ng-class="{'actPrice':convertAsNumber(dlgObj.quickViewObj1.getDiscountPrice()) > 0}" class="finalPriceQuickView">{{dlgObj.quickViewObj1.getPrice()}} {{webSettings.currencyCode}}  </span>
			<span ng-show="convertAsNumber(dlgObj.quickViewObj1.getDiscountPrice()) > 0" class="finalPriceQuickView">{{dlgObj.quickViewObj1.getDiscountPrice()}} {{webSettings.currencyCode}} </span>
		</div>
		<div class="unitsWrapperQuickView clr_left" ng-if="webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE'">
			<label  class="left">{{'CON_PRICE' | translate }} / {{'COH_UNIT' | translate}} : </label>
			<span  class="finalPriceQuickView">{{dlgObj.quickViewObj1.getDiscountPrice()}} {{webSettings.currencyCode}} </span>
		</div>
		<div class="unitsWrapperQuickView clr_left" ng-if="webSettings.allowDiscountDisplay=='*ACTUAL_PRICE'">
			<label  class="left">{{'CON_PRICE' | translate }} / {{'COH_UNIT' | translate}} : </label>
			<span  class="finalPriceQuickView">{{dlgObj.quickViewObj1.getPrice()}} {{webSettings.currencyCode}} </span>
		</div>
		<div class="unitsWrapperQuickView clr_left">
			<label  ng-show="isSignedIn && !(dlgObj.quickViewObj1.isMatrixBaseItem())" class="left">{{'COH_QUANTITY' | translate}} :  </label> <span  class="quickInfoCart"><input ng-show="isSignedIn && !(dlgObj.quickViewObj1.isMatrixBaseItem())" class="quantityWidth" ng-model="dlgObj.quickViewObj1.itemObject.newQuantity" ng-init="dlgObj.quickViewObj1.itemObject.newQuantity = ''" type="text" ng-class ="{ 'error': !dlgObj.quickViewObj1.itemObject.validQuantityPriceCalc, '' : dlgObj.quickViewObj1.itemObject.validQuantityPriceCalc}" ng-change="checkValidQuantityPriceCal(dlgObj.quickViewObj1.itemObject,dlgObj.quickViewObj1.itemObject.newQuantity)" title="{{dlgObj.quickViewObj1.itemObject.quantityBoxMsg}}"> </input>
	<!--	<button class="buyIcon" ng-show="dlgObj.quickViewObj1.isBuyAllowed()"  
			ng-class="{'disabled': dlgObj.quickViewObj1.isBuyingAllowed() == false, 'addedInCart':isShopCartItem(dlgObj.quickViewObj1.getItemCode())==true , 'buy':isShopCartItem(dlgObj.quickViewObj1.getItemCode())==false }" 
		ng-click="dlgObj.quickViewObj1.buy()" >{{'CON_BUY' | translate}} <span ng-show="isShopCartItem(dlgObj.quickViewObj1.getItemCode())" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}"></span> </button>
	-->
		<button ng-if="dlgObj.quickViewObj1.isBuyAllowed() && !isShopCartItem(dlgObj.quickViewObj1.getItemCode())" type="button" name="" value="" class="buyIcon"
			ng-click="dlgObj.quickViewObj1.buy()" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}">{{'CON_BUY' | translate}}</button>

		<span ng-if="dlgObj.quickViewObj1.isBuyAllowed() && isShopCartItem(dlgObj.quickViewObj1.getItemCode())">
			<span  class="addedInCart left"  ng-click="dlgObj.quickViewObj1.buy()"  title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span>
		</span>
		<button ng-show="isSignedIn && !(dlgObj.quickViewObj1.isMatrixBaseItem()) && (dlgObj.quickViewObj1.getValidUnit(dlgObj.quickViewObj1.selectedUnit))" class="addToListTableView" ng-click="dlgObj.quickViewObj1.addItemToCurrentList()" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_LIST' | translate}}" >{{'CON_ADD_TO_LIST' | translate}} </button>
		<a  ng-show="webSettings.isSendEnquiryAllowed" title="{{'CON_CLICK_TO_SEND_EMAIL_ENQUIRY_PRODUCT' | translate}}" class="emailIcon" ng-click="sendPrdEnquiry(dlgObj.quickViewObj1.getItemCode(),dlgObj.quickViewObj1.getDesc())"></a>
		</span>
		</div>
	</div>
</div>
</div>
</div>
</script>
</div>



<!-- ADM-020 START -->
<!-- quick view start -->
<div class="modalViewBody" ng-controller="DlgCtrl">
	<script type="text/ng-template" id="quickViewProcure.html">
<div class="quickViewPop">
	<div class="modal-header">   
		<button class="modal-close-btn" ng-click="cancel(); dlgObj.quickViewObj1.itemObject.newQuantity=null">{{'CON_CANCEL' | translate}}</button>
 	</div>
 	<div class="modal-body modal-body-quickView">
		<div class="procura_infoWrapper1">
			<div class="unitsWrapperQuickView clr_left ">
 				<h2>{{'COH_PROCURE_THE_ITEM' | translate}}</h2>
			</div>
			<div class="unitsWrapperQuickView clr_left ">
				<span class="extendedProductInfo" ng-bind-html="renderHtml(dlgObj.quickViewObj1.getExtendedInfo())"></span>
			</div>
		</div>
 		<div class="productDetailWrapper left quickViewPopDeatilWrapper">
			<div style="position: relative; float: left;" class="pd_imageWrapperQuickView">
				<div class="" >
					<img ng-if="dlgObj.quickViewObj1.getIsRelative()" class="attentionImage" ng-src="{{BASE_ADDRESS}}{{dlgObj.quickViewObj1.getAttentionURLName()}}" ng-show="{{dlgObj.quickViewObj1.getAttentionDisplay()}}"/>
					<img ng-if="dlgObj.quickViewObj1.getIsRelative()" class="quickViewImage" ng-src="{{BASE_ADDRESS}}{{dlgObj.quickViewObj1.getImageUrl()}}" onerror="getDefaultImg(this);">
					<img ng-if="!dlgObj.quickViewObj1.getIsRelative()" class="attentionImage" ng-src="{{dlgObj.quickViewObj1.getAttentionURLName()}}" ng-show="{{dlgObj.quickViewObj1.getAttentionDisplay()}}"/>
					<img ng-if="!dlgObj.quickViewObj1.getIsRelative()" class="quickViewImage" ng-src="{{dlgObj.quickViewObj1.getImageUrl()}}" onerror="getDefaultImg(this);">
				</div> 
			</div>
			<div class="pd_infoWrapper">
				<div class="unitsWrapperQuickView clr_left ">
					<h3>{{dlgObj.quickViewObj1.getDesc()}} <small><br /><b>{{dlgObj.quickViewObj1.getItemCode() }}</b></small></h3>
				</div>
				<div class="unitsWrapperQuickView clr_left ">
					<table>
						<tr><td style="padding-right:10px;">{{'CON_SALES_UNIT' | translate}}</td><td>{{dlgObj.quickViewObj1.selectedUnit}}</td></tr>
						<tr ng-if="webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE'">
							<td style="padding-right:10px;">{{'COH_DISCOUNT_PRICE' | translate}}</td>
							<td><span ng-class="{'actPrice':convertAsNumber(dlgObj.quickViewObj1.getDiscountPrice()) > 0}" class="finalPriceQuickView">{{dlgObj.quickViewObj1.getPrice()}} {{webSettings.currencyCode}}  </span>
								<span ng-show="convertAsNumber(dlgObj.quickViewObj1.getDiscountPrice()) > 0" class="finalPriceQuickView">{{dlgObj.quickViewObj1.getDiscountPrice()}} {{webSettings.currencyCode}} </span>
							</td>
						</tr>
						<tr ng-if="webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE'">
							<td style="padding-right:10px;">{{'COH_DISCOUNT_PRICE' | translate}}</td>
							<td><span  class="finalPriceQuickView">{{dlgObj.quickViewObj1.getDiscountPrice()}} {{webSettings.currencyCode}} </span></td>
						</tr>
						<tr ng-if="webSettings.allowDiscountDisplay=='*ACTUAL_PRICE'"><td style="padding-right:10px;">{{'COH_DISCOUNT_PRICE' | translate}}</td>
							<td><span  class="finalPriceQuickView">{{dlgObj.quickViewObj1.getPrice()}} {{webSettings.currencyCode}} </span></td>
						</tr>
					</table>
				</div>
				<!--
				<div class="unitsWrapperQuickView clr_left">
				 	<label class="left">{{'CON_SALES_UNIT' | translate}} : </label><h5>{{dlgObj.quickViewObj1.selectedUnit}}</h5>
				</div>
				<div class="unitsWrapperQuickView clr_left" ng-if="webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE'">
					<label  class="left">{{'CON_PRICE' | translate }} / {{'COH_UNIT' | translate}} : </label>
					<span ng-class="{'actPrice':convertAsNumber(dlgObj.quickViewObj1.getDiscountPrice()) > 0}" class="finalPriceQuickView">{{dlgObj.quickViewObj1.getPrice()}} {{webSettings.currencyCode}}  </span>
					<span ng-show="convertAsNumber(dlgObj.quickViewObj1.getDiscountPrice()) > 0" class="finalPriceQuickView">{{dlgObj.quickViewObj1.getDiscountPrice()}} {{webSettings.currencyCode}} </span>
				</div>
				<div class="unitsWrapperQuickView clr_left" ng-if="webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE'">
					<label  class="left">{{'CON_PRICE' | translate }} / {{'COH_UNIT' | translate}} : </label>
					<span  class="finalPriceQuickView">{{dlgObj.quickViewObj1.getDiscountPrice()}} {{webSettings.currencyCode}} </span>
				</div>
				<div class="unitsWrapperQuickView clr_left" ng-if="webSettings.allowDiscountDisplay=='*ACTUAL_PRICE'">
					<label  class="left">{{'CON_PRICE' | translate }} / {{'COH_UNIT' | translate}} : </label>
					<span  class="finalPriceQuickView">{{dlgObj.quickViewObj1.getPrice()}} {{webSettings.currencyCode}} </span>
				</div> -->

			</div>
		</div>
		<hr>
		<div class="procura_infoWrapper1">
			<label class="left emailAddressWidth"><span class="mandatoryField">*</span> {{'CON_EMAIL_ADDRESS' | translate}}</label>
			<label class="quantityWidth"><span class="mandatoryField">*</span> {{'COH_QUANTITY' | translate}}</label>
			<label class="quantityWidth"> </label>
		</div>
		<div class="procura_infoWrapper1">
			<input class="left emailAddressWidth" type="text" ng-model="dlgObj.quickViewObj1.mailFrom" placeholder="{{'CON_PLEASE_ENTER_YOUR_EMAIL_ADDRESS' | translate}}" autofocus ng-blur="dlgObj.quickViewObj1.isValidValues()" ng-keyup="dlgObj.quickViewObj1.startShowError=true" />
			<input class="quantityWidth" ng-model="dlgObj.quickViewObj1.itemObject.newQuantity" ng-init="dlgObj.quickViewObj1.itemObject.newQuantity = ''" type="text" ng-class ="{ 'error': !dlgObj.quickViewObj1.itemObject.validQuantityPriceCalc, '' : dlgObj.quickViewObj1.itemObject.validQuantityPriceCalc}" ng-change="checkValidQuantityPriceCal(dlgObj.quickViewObj1.itemObject,dlgObj.quickViewObj1.itemObject.newQuantity)" title="{{dlgObj.quickViewObj1.itemObject.quantityBoxMsg}}"> </input>
			<button type="button" class="btn btn-primary" ng-disabled="!dlgObj.quickViewObj1.isValidValues()" ng-click="ok()" title="{{'COH_PROCURE_THE_ITEM' | translate}}">{{'CON_BTB' | translate}}</button>
		</div>
		<div class="procura_infoWrapper2">
			<a title="{{'CON_CANCEL' | translate}}" class="btn-link" ng-click="cancel(); dlgObj.quickViewObj1.itemObject.newQuantity=null">{{'CON_CANCEL' | translate}}</a>
		</div>
	</div>
</div>
</script>
</div>
<!-- ADM-020 END -->



<!-- quick view start -->



<div class="forgotPassword" ng-controller="DlgCtrl">
    <script type="text/ng-template" id="forgotPassword.html">
<div class="forgotPassView">
        <div class="modal-header">
            <h3>{{'CON_USER_PASSWORD_REQUEST' | translate}}</h3>
		<button class="modal-close-btn" ng-click="cancel()">{{'CON_CANCEL' | translate}}</button>
        </div>
<p class="note">{{'TXT_CF_010_01' | translate}}</p>
<p class="note">{{'TXT_CF_010_02' | translate}}</p>
<p class="errorMsg" ng-show="dlgObj.forgotPwd.showErrorMsg()">{{dlgObj.forgotPwd.errorMsg}}</p>
<p ng-show="dlgObj.forgotPwd.showSuccessMsg()" class="note"><b>{{dlgObj.forgotPwd.successMsg}}</b></p>
 <form ng-submit="" name="forgotPasswordForm">
          <div class="modal-body">
            <label style="width: 119px;">{{'CON_USER_ID' | translate}} :</label><input type="text" ng-model="dlgObj.forgotPwd.userId"/>
            <label style="width: 119px;">{{'CON_EMAIL_ADDRESS' | translate}} :</label><input type="email" ng-model="dlgObj.forgotPwd.emailId" />    
                     <div class="loginButton">
                     <button type="submit" class="yellowButton primary-btn" ng-disabled="submitPasswordReqButton(dlgObj.forgotPwd)" 
                      ng-click="submitPasswordReq(dlgObj.forgotPwd)" >  {{'CON_SUBMIT_PASSWORD_REQUEST' | translate }}   </button>        
                     </div>
          </div>          
        </form>
<p class="note">{{'TXT_CF_011' | translate}}</p>
	</div>
    </script>    
</div>




 <div class="modalViewBody" ng-controller="DlgCtrl">
 <script type="text/ng-template" id="newAccountView.html">
<div class="newAccountView">
<div class="modal-header">
    
    
	<button class="modal-close-btn" ng-click="cancel()">{{'CON_CANCEL' | translate}}</button>
 </div>
 <div class="modal-body">
<h3 class="left">{{dlgObj.newAccObj.getPageTitle()}}</h3>
 <ul>
	  <li ng-class="{'active': dlgObj.newAccObj.isCurrentPageNumber(1) } " >1</li>
	  <li ng-class="{'active': dlgObj.newAccObj.isCurrentPageNumber(2) } " >2</li>
	  <li ng-class="{'active': dlgObj.newAccObj.isCurrentPageNumber(3) } " >3</li>
	  <li ng-class="{'active': dlgObj.newAccObj.isCurrentPageNumber(4) } " ng-show="dlgObj.newAccObj.getNumberOfPageIcons() >= 4 "> 4</li>
	  <li ng-class="{'active': dlgObj.newAccObj.isCurrentPageNumber(5) } " ng-show="dlgObj.newAccObj.getNumberOfPageIcons() >= 5 "> 5</li>
	</ul>
<div class="sep"></div>
<div ng-show="dlgObj.newAccObj.showPage(dlgObj.newAccObj.CONST_PAGE_NEW_ACCOUNT)" class="newAccountUser clr_left">
<p><b>{{'TXT_SS_001' | translate}}:</b>

<span ng-show="dlgObj.newAccObj.validateCustomerErrorMsg !=null" class="errorMsg"> <br> {{dlgObj.newAccObj.validateCustomerErrorMsg}} </span>
</p>

<label class="" ng-show="dlgObj.newAccObj.isNewCustomerAllowed" >				
	<input type="radio" ng-model="dlgObj.newAccObj.request.accountType" 
	value="{{dlgObj.newAccObj.CONST_NEW_COMPANY_ACCOUNT}}" ng-change="dlgObj.newAccObj.onAccountTypeChange()"> {{'CON_NEW_COMPANY_OR_ORGANISATION_ACCOUNT' |  translate }}
</label>
<label class="" ng-show="dlgObj.newAccObj.newPrivatePersonAllowed">				
	<input type="radio" ng-model="dlgObj.newAccObj.request.accountType" 
	value="{{dlgObj.newAccObj.CONST_NEW_PERSON_ACCOUNT}}" ng-change="dlgObj.newAccObj.onAccountTypeChange()" > {{'CON_NEW_PERSON_ACCOUNT' | translate}}
</label>
<label class="">				
	<input type="radio" ng-model="dlgObj.newAccObj.request.accountType"  
	value="{{dlgObj.newAccObj.CONST_INTERNET_ENABLE_CUSTOMER}}" ng-change="dlgObj.newAccObj.onAccountTypeChange()" > {{'CON_INTERNET_ENABLE_CUSTOMER_NUMBER' | translate}} 
</label>
	<input ng-show="dlgObj.newAccObj.request.accountType == dlgObj.newAccObj.CONST_INTERNET_ENABLE_CUSTOMER" type="text" 
	ng-model="dlgObj.newAccObj.request.customerCode" > 
 <div class="buttonWrapper clr_left right">
<button ng-disabled="!dlgObj.newAccObj.isNextNewAccountPage()" ng-click="dlgObj.newAccObj.nextPage();validateCustomerNewAccount(dlgObj.newAccObj.request.customerCode,dlgObj.newAccObj)" 
	class="yellowButton left">{{'CON_NEXT' | translate}}   </button>
	</div>
</div>


<div ng-show="dlgObj.newAccObj.showPage(dlgObj.newAccObj.CONST_PAGE_CUSTOMER)" class="newAccountCustomer  clr_left">
    <div style="width:48%; float: left;">
    	<div class="wrapper">
	    	<label>{{'COH_NAME' | translate}}:</label>
	    	<input ng-model="dlgObj.newAccObj.request.customerName" type="text"> </input>
			<span class="mendFields">*</span>
    	</div>
    	<div class="wrapper">
    	<label>{{'CON_ADDRESS_LINES' | translate}}: </label>
    	<div class="addressLines">
    		<input ng-model="dlgObj.newAccObj.request.address1" type="text"> </input>
			<span class="mendFields">*</span>
    		<input ng-model="dlgObj.newAccObj.request.address2" type="text"> </input>
    		<input ng-model="dlgObj.newAccObj.request.address3" type="text"> </input>
    	</div>
    	</div>
    	<div class="wrapper">
    		<label>{{'CON_POSTCITY' | translate}}:</label>			
    		<input type="text" ng-model="dlgObj.newAccObj.request.city"> </input>
			<span class="mendFields">*</span>
    	</div>

    	<div class="wrapper">
    	<label>{{'CON_POSTCODE' | translate}}:</label>
    		<input type="text" ng-model="dlgObj.newAccObj.request.postcode" > </input>
			<span class="mendFields">*</span>
    	</div>

		

<div class="wrapper" ng-show="dlgObj.newAccObj.hasStateList()">
    		<label>{{'CON_STATE' | translate}}:</label>
 <div class="select-style left">
			<select   ng-model="dlgObj.newAccObj.selectedState" 
				ng-change="getCountyList(dlgObj.newAccObj.selectedCountry.code, dlgObj.newAccObj.selectedState.stateCode,dlgObj.newAccObj.countyList); dlgObj.newAccObj.onStateChange()"
				ng-options="state.stateName for state in dlgObj.newAccObj.stateList"> </select>
</div>
    	</div>


    	<div class="wrapper">
    	<label>{{'CON_COUNTRY' | translate}}:</label>
<div class="select-style left">			
<select  ng-model="dlgObj.newAccObj.selectedCountry" 
				ng-options="country.description for country in dlgObj.newAccObj.countryList" 
				ng-change="getStateList(dlgObj.newAccObj.selectedCountry.code, dlgObj.newAccObj.stateList);dlgObj.newAccObj.onCountryChange()" ></select>
</div>
			<span class="mendFields">*</span>
		</div>

<div class="wrapper" ng-show="dlgObj.newAccObj.hasCountyList()&&dlgObj.newAccObj.hasStateList()">
    		<label>{{'CON_COUNTY' | translate}}:</label>
 <div class="select-style left">
			<select   ng-model="dlgObj.newAccObj.selectedCounty" 
				ng-options="county.countyDesc for county in dlgObj.newAccObj.countyList" ng-change="dlgObj.newAccObj.onCountyChange()" > </select>
</div>
    	</div>


    </div>
    
    <div style="width:48%; float: left;">
    	<div ng-show="dlgObj.newAccObj.request.accountType==dlgObj.newAccObj.CONST_NEW_COMPANY_ACCOUNT" class="wrapper">
	    	<label>{{'CON_CONTACT_PERSON' | translate}}:</label>
	    	<input type="text" ng-model="dlgObj.newAccObj.request.contact"> </input>
			<span class="mendFields">*</span>
    	</div>
    	<div ng-show="dlgObj.newAccObj.request.accountType==dlgObj.newAccObj.CONST_NEW_COMPANY_ACCOUNT" class="wrapper">
    	<label style="word-break: break-all;">{{'CON_VAT_REGISTRATION_NUMBER' | translate}}: </label>   	
    		<input type="text" ng-model="dlgObj.newAccObj.request.vatRegNum" > </input>    	
    	</div>
    	<div class="wrapper">
    	<label>{{'CON_PHONE_NUMBER' | translate}}:</label>
    		<input type="text" ng-model="dlgObj.newAccObj.request.phoneNum" > </input>
			<span class="mendFields">*</span>
    	</div>
    	
    	<div class="wrapper">
    		<label>{{'CON_FAX_NUMBER' | translate}}:</label>
    		<input type="text" ng-model="dlgObj.newAccObj.request.faxNum" > </input>
    	</div>
    	<div class="wrapper">
    	<label>{{'COH_LANGUAGE' | translate}}:</label>
<div class="select-style left">
<select ng-model="dlgObj.newAccObj.selectedLanguage" ng-options="lang.description for lang in languageList | orderBy :'description' "
		ng-init="dlgObj.newAccObj.selectedLanguage = languageList[0] " ng-change="dlgObj.newAccObj.onLanguageChange()">
		  </select>
</div>
		</div>
    </div>
    
    <div class="buttonWrapper clr_left right">
		<button ng-click="dlgObj.newAccObj.prevoiusPage()"  class="backButton left ">{{'CON_BACK' | translate}}   </button>
			
		<button ng-disabled="!dlgObj.newAccObj.isNextCustomerPage()" ng-click="dlgObj.newAccObj.nextPage(webSettings.newWebUserPrefix)" class="yellowButton left" >{{'CON_NEXT' | translate}}   </button>
		
	</div>
</div>
<div ng-show="dlgObj.newAccObj.showPage(dlgObj.newAccObj.CONST_PAGE_WEB_USER)" class="newAccountWebUser clr_left">
	<form ng-submit="" name="newAccountForm">
    <div style="width:100%; float: left;">
    	<div class="wrapper">
	    	<label>{{'CON_USER_ID' | translate}}:</label>
	    	<input type="text" ng-init="dlgObj.newAccObj.request.userId = webSettings.newWebUserPrefix" ng-model="dlgObj.newAccObj.request.userId" required> </input>
			<span class="mendFields">*</span>
			<span>{{'MSG_ID_MUST_UNIQUE' | translate}}</span>
    	</div>
    	<div class="wrapper">
    	<label>{{'CON_NAME' | translate}}: </label>    	
    		<input type="text" ng-model="dlgObj.newAccObj.request.webUserName" required> </input>
			<span class="mendFields">*</span>    	
    	</div>
    	<div class="wrapper">
    	<label>{{'CON_EMAIL_ADDRESS' | translate}}:</label>
    		<input type="email" ng-model="dlgObj.newAccObj.request.emailId" required> </input>
			<span class="mendFields">*</span>
    	</div>    	
    	<div class="wrapper">
    	<label>{{'CON_LOCALE' | translate}}:</label>
<div class="select-style left">
    	<select ng-model="dlgObj.newAccObj.selectedLocale" ng-options="locale.desc for locale in dlgObj.newAccObj.localeList" 
			ng-change="dlgObj.newAccObj.onLocaleChange()">
   		</select>
</div>
		</div>
    </div>
	<div class="buttonWrapper clr_left right">
		<button ng-click="dlgObj.newAccObj.prevoiusPage()"  class="backButton left ">{{'CON_BACK' | translate}}   </button>
		
		<button ng-disabled="!newAccountForm.$valid" ng-click="dlgObj.newAccObj.nextPage()" class="yellowButton left" >{{'CON_NEXT' | translate}}   </button>
		
	</div>
	</form>
 </div>

<div ng-show="dlgObj.newAccObj.showPage(dlgObj.newAccObj.CONST_PAGE_PASSWORD)" class="newAccountWebUser clr_left">
    <div style="width:100%; float: left;">
    	<div class="wrapper">
	    	<label>{{'CON_USER_ID' | translate}}:</label>
			<span>{{dlgObj.newAccObj.request.userId}}</span>
    	</div>
		<div class="wrapper">
    	<label>{{'CON_NEW_PASSWORD' | translate}}: </label>    	
    		<input type="password" ng-model="dlgObj.newAccObj.request.password"> </input>
			<span class="mendFields">*</span>    	
    	</div>
		 <div class="wrapper">
    	<label>{{'CON_CONFIRM_NEW_PASSWORD' | translate}}: </label>    	
    		<input type="password" ng-model="dlgObj.newAccObj.confPassword"> </input>
			<span class="mendFields">*</span>    	
    	</div>
     </div>
	<div class="buttonWrapper clr_left right">
		<button ng-click="dlgObj.newAccObj.prevoiusPage()"  class="backButton left ">{{'CON_BACK' | translate}}   </button>
		
		<button ng-disabled="!dlgObj.newAccObj.isNextPasswordPage()" ng-click="dlgObj.newAccObj.nextPage()" class="yellowButton left" >{{'CON_NEXT' | translate}}   </button>
		
	</div>
</div>


<div ng-show="dlgObj.newAccObj.showPage(dlgObj.newAccObj.CONST_PAGE_VERIFY)" class="newAccountWebUser clr_left">
    <div class="verifyView left">

<p ng-bind-html="getTranslatedHTML('TXT_SS_004')" ></p>
<p ng-show="dlgObj.newAccObj.showError()" class="errorMsg"> {{dlgObj.newAccObj.errorMsg}} </p>
    	<div class="wrapper" >
	    	<label>{{'COH_CUSTOMER' | translate}}:</label>	    	
<div class="addressLines">
<p>{{dlgObj.newAccObj.request.customerName}}</p>
<p>{{dlgObj.newAccObj.request.address1}}</p>
<p>{{dlgObj.newAccObj.request.address2}}</p>
<p>{{dlgObj.newAccObj.request.address3}}</p>
<p>{{dlgObj.newAccObj.request.city}} {{dlgObj.newAccObj.request.state}} {{dlgObj.newAccObj.request.postcode}}</p>
<p>{{dlgObj.newAccObj.selectedState.stateName}}</p>
<p>{{dlgObj.newAccObj.selectedCounty.countyDesc}}</p>
<p>{{dlgObj.newAccObj.selectedCountry.description}}</p>
</div>
    	</div>
<div ng-show="dlgObj.newAccObj.request.accountType !=dlgObj.newAccObj.CONST_INTERNET_ENABLE_CUSTOMER">
   	<div class="wrapper">
    	<label>{{'CON_PHONE_NUMBER' | translate}}: </label>    	
    	<p class="left">{{dlgObj.newAccObj.request.phoneNum}}</p>   
		<label class="left fax">{{'CON_FAX_NUMBER' | translate}}: </label>  	
		<p class="left">{{dlgObj.newAccObj.request.faxNum}}</p>  
   	</div>
	<div class="wrapper">
    	<label>{{'COH_LANGUAGE' | translate}}: </label>    	
    	<p>{{dlgObj.newAccObj.selectedLanguage.description}}</p>   
    </div>
	<div class="wrapper" ng-show="dlgObj.newAccObj.request.accountType ==dlgObj.newAccObj.CONST_NEW_COMPANY_ACCOUNT">
    	<label>{{'CON_VAT_REGISTRATION_NUMBER' | translate}}: </label>    	
    		<p>{{dlgObj.newAccObj.request.vatRegNum}}</p>   
    	</div>
</div>
	<div class="wrapper">
    	<label>{{'CON_WEBUSER' | translate}}: </label>    	
    		<p style="border:0px solid red;float: left;width: 400px;word-wrap: break-word;
">{{dlgObj.newAccObj.request.webUserName}} &nbsp;&nbsp;&nbsp; {{dlgObj.newAccObj.request.userId}}</p>   
    	</div>
	<div class="wrapper">
    	<label>{{'CON_EMAIL_ADDRESS' | translate}}: </label>    	
    		<p>{{dlgObj.newAccObj.request.emailId}}</p>   
    	</div>
    </div>

	<div class="buttonWrapper clr_left right">
		<button ng-click="dlgObj.newAccObj.prevoiusPage();dlgObj.newAccObj.showError(true)"  class="backButton left ">{{'CON_BACK' | translate}}   </button>
		<button ng-click="createNewAccount(dlgObj.newAccObj)"  class="yellowButton left ">{{'CON_OK' | translate}}   </button>
	</div>
</div>

</div>
</div>
   </script>
</div>
 
<div class="forgotPassword" ng-controller="DlgCtrl">
    <script type="text/ng-template" id="createNewList.html">
<div class="createListView">
        <div class="modal-header">
            <h3>{{'CON_CREATE_SHOPPING_LIST' | translate}}</h3>
<div class="sep"></div>
		<button class="modal-close-btn" ng-click="cancel()">{{'CON_CANCEL' | translate}}</button>
        </div>
<p class="errorMsg">{{dlgObj.ShoppingList.UIMessageKey}}</p>
        <form ng-submit=""  class="clr_left">
          <div class="modal-body">
            <label>{{'CON_LIST_NAME' | translate}} :</label><input type="text" class="left" ng-model="dlgObj.ShoppingList.newList.listId"  autofocus ng-blur="dlgObj.ShoppingList.isValidValues(dlgObj.ShoppingList.newList)"  ng-class ="{ 'error':dlgObj.ShoppingList.ErrOnControl.ListID, '' :  !dlgObj.ShoppingList.ErrOnControl.ListID }"/> <span class="mendFields">*</span>
            <label>{{'COH_DESCRIPTION' | translate}} :</label><textarea  ng-model="dlgObj.ShoppingList.newList.listDesc"  cols="20" rows="3" type="textarea" ng-class ="{ 'error':dlgObj.ShoppingList.ErrOnControl.ListDesc, '' :  !dlgObj.ShoppingList.ErrOnControl.ListDesc }"></textarea>
            <span ng-if= "webSettings.allowedSharedList == 'Y'">          
            <label class="left">{{'CON_SHARE_WITH_COLLEAGUES'| translate}}: </label>
            <input type="checkbox"  ng-model="dlgObj.ShoppingList.newList.checked" /></span>
			<div class="buttonWrapper right clr_left">
			<button type="submit" class="yellowButton primary-btn" 
			 ng-click="createNewShoppingListAndAddItem(dlgObj.ShoppingList.newList,dlgObj.item, dlgObj.params, dlgObj.buyObj, dlgObj.quantityPropName,dlgObj.fromQuotation);" >  {{'CON_CREATE_ADD_SHOPPING_LIST' | translate }}   </button>        
			</div>
          </div>          
        </form>
	</div>
    </script>    
</div>



<div class="changePassword" ng-controller="DlgCtrl">
    <script type="text/ng-template" id="changePassword.html">
<div class="changePassView">
        <div class="modal-header">
            <h3>{{'CON_CHANGE_PASSWORD' | translate}}</h3>
<div class="sep"></div>
		<button class="modal-close-btn" ng-click="cancel()">{{'CON_CANCEL' | translate}}</button>
        </div>
	<p class="errorMsg">{{dlgObj.changePwdObj.errorMsg}}</p>

        <form ng-submit="" >
          <div class="modal-body">
		
            <label>{{'CON_OLD_PASSWORD' | translate}} :</label><input type="password" ng-model="dlgObj.changePwdObj.oldPwd" />
            <label>{{'CON_NEW_PASSWORD' | translate}} :</label><input type="password"  ng-model="dlgObj.changePwdObj.newPwd"  />	
			<label>{{'CON_CONFIRM_NEW_PASSWORD' | translate}} :</label><input type="password"  ng-model="dlgObj.changePwdObj.confNewPwd"  />	
			<div class="loginButton">
			<button type="submit" class="yellowButton primary-btn" ng-disabled="!dlgObj.changePwdObj.checkValues()" ng-click="changePassword(dlgObj.changePwdObj)">  {{'CON_CHANGE_PASSWORD' | translate }}   </button>        
			</div>
          </div>          
        </form>
	</div>
    </script>    
</div>

<div class="selectCustomer" ng-controller="DlgCtrl">
    <script type="text/ng-template" id="selectCustomer.html">
<div class="selectCustView listview" ng-controller="changeCustomerCtrl">
        <div class="modal-header">
            <h3>{{'COH_SELECT_CUSTOMER' | translate}}</h3>
<div class="sep"></div>
		<button class="modal-close-btn" ng-click="removeEmailWelcome();cancel();">{{'CON_CANCEL' | translate}}</button>
        </div>
      
          <div class="modal-body">	
			<div>
            <table>
			<thead>
				<tr>
					<th ng-click="" > {{'CON_SELECT' | translate}}</th>
					<th > 
      <div class="sorting">
      	  <span class="sortingInnerWrap">       
      	   <a ng-class ="changeCustObj.sort.getAscCSS('CustomerCode')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('CustomerCode')"></a>
	       <a ng-class="changeCustObj.sort.getDescCSS('CustomerCode')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('CustomerCode')"></a>    
	      </span>
       <span> {{'COH_CUSTOMER_NUMBER'|translate}}</span>
       </div>

</th>
	<th > 
      <div class="sorting">
      	  <span class="sortingInnerWrap">            
	       <a ng-class ="changeCustObj.sort.getAscCSS('CustomerName')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('CustomerName')"></a>
	       <a ng-class="changeCustObj.sort.getDescCSS('CustomerName')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('CustomerName')"></a>     
	      </span>
        <span>{{'COH_NAME'|translate}} </span>
      </div> 
	</th>				
				</tr>
			 </thead>
			<tbody>
    <tr ng-repeat="cust in changeCustObj.customerList">
     
	<td><input type="radio" ng-model="changeCustObj.selectedCustCode"  ng-value="cust.code" ng-change="changeCustObj.setCustomerSelected(cust)"></td>

     <td>{{cust.code}}</td>
      <td>{{cust.name}}</td>
     </tr>
 	<tr ng-show ="!changeCustObj.dataFound">
		 <td colspan="5">{{changeCustObj.pageLoadMsg}}</td>
	</tr>
			 </tbody>
		</table>
<div class="buttonWrapper left">  
  <button href="" class="goFirstArrow left ng-binding" ng-disabled="paginationObj.isFirstPage()" ng-click="getFirstPage()" title="First page" disabled="disabled">First page </button>  
  <button href="" class="previousArrow left ng-binding" ng-disabled="paginationObj.isFirstPage()" ng-click="previousPage()" title="Previous" disabled="disabled">Previous </button>
  <button href="" class="nextArrow left ng-binding" ng-disabled="!changeCustObj.dataFound || !changeCustObj.moreDataArrow" ng-click="nextPage()" title="Next">Next </button>
    
 </div>          
	<div class="buttonWrapper  right">  
 	  <button class="closeCart right ng-binding" type="button" ng-click="selectCustomer()"> {{'CON_SELECT_CUSTOMER' | translate}}</button> 
   </div>
</div>
 </div>   
</div>
    </script>    
</div>

<div class="" ng-controller="DlgCtrl">
    <script type="text/ng-template" id="cartDeletedOrderMessage.html">
<div class="viewPrintOrderWrapper">
        <div class="modal-header">          
		<button class="modal-close-btn" ng-click="cancel()">{{'CON_CANCEL' | translate}}</button>
        </div>
          <div class="modal-body">
			<table class="viewPrintOrder">
				<tr ng-repeat="orderMessage in dlgObj.orderMessageList">
					<td><img ng-src="images/ShoppingListLock.png"/></td>
					<td> {{orderMessage}}</td>
				</tr>
				<tr>
					<td><img ng-src="images/ShoppingListLock.png"/></td>
					<td>{{'MSG_CART_HAS_BEEN_UPDATED' | translate}}</td>
				</tr>
			</table>
           
          </div>          
	  </div>
    </script>    
</div>


<div class="forgotPassword welcomeMessage" ng-controller="DlgCtrl">
    <script type="text/ng-template" id="welcomeMessage.html">
<div class="welcomeMessageView">
        <div class="modal-header">
            <h3>{{'MSG_WELCOME' | translate}}</h3>
		<button class="modal-close-btn" ng-click="cancel()">{{'CON_CANCEL' | translate}}</button>
        </div>
          <div class="modal-body">
          <span ng-bind-html="renderHtml(webSettings.welcomeText)"></span>
          </div>          
	  </div>
    </script>    
</div>

<div class="" ng-controller="DlgCtrl">
	<script type="text/ng-template" id="viewPrintOrderWrapper.html">
<div class="viewPrintOrderWrapper">
		<div class="modal-header">
			<button class="modal-close-btn" ng-click="cancel()">{{'CON_CANCEL' | translate}}</button>
		</div>
		<a href="" class="printThisPage" ng-click="printDoc('orderPrintView')">{{'CON_PRINT_THIS_PAGE' | translate}}</a>
		<div class="modal-body" id="orderPrintView">
			<div class="shopping-cart-wrapper">
				<div class="viewPrintLogo"><img ng-src="images/NetStore_Logo.png"/></div>
				<p class="heading">{{'CON_ORDER_RECEIPT' | translate}} </p>	
				<div class="sep"></div>
				<p class="txt_center orderNote ">{{'TXT_OE_006' | translate}}</p>
				<div class="reviewOrderTableWrapper left clr_left">
					<div class="reference">
						<p class="left">{{'CON_ORDER_NUMBER' | translate}} :  <span>{{dlgObj.orderInfo.orderNumber}}</span></p> 
						<p class="right" ng-show="dlgObj.orderInfo.orderTextFlag">{{'CON_ORDER_TEXT' | translate}} : <span ng-bind-html="renderHtml(dlgObj.orderInfo.orderText)"></span></p>
					</div>
					<table class="viewPrintOrder">
						<thead>
							<tr>
								<th>{{'CON_ITEM' | translate}}</th>
								<th>{{'COH_DESCRIPTION' | translate}}</th>
								<th class="txt_center">{{'CON_DELIVERY_DATE' | translate}}</th>
								<th>{{'CON_UNIT' | translate}}</th>
								<th class=" txt_right">{{'CON_DISCOUNT' | translate}}</th>
								<th class=" txt_right">{{'CON_PRICE' | translate}}</th>
								<th class=" txt_right">{{'COH_QUANTITY' | translate}}</th>
								<th class=" txt_right">{{'COH_TOTAL_AMOUNT' | translate}}</th>	
						<!--		<th>{{'COH_SHIPMENT_MARKING' | translate}}</th> -->					
							</tr>
						</thead>
						<tbody ng-repeat="orderLine in dlgObj.orderInfo.orderLineList" >
						<tr>
							<td nowrap>{{orderLine.itemCode}}</td>
							<td nowrap>{{orderLine.itemDescription}}</td>
							<td class="txt_center">{{orderLine.delDate}}</td>
							<td>{{orderLine.unit}}</td>
							<td class="smallSpace txt_right"> <span> {{orderLine.discountTotal}} </span> </td>
							<td class="smallSpace txt_right">{{orderLine.price}} {{orderLine.pricingUnit}}</td>						
							<td class="txt_right">{{orderLine.ordered}}</td>
							<td class="txt_right">{{orderLine.totalInclVAT}}</td>	
							<!--<td>{{orderLine.shipmentMarking}}</td>-->
						</tr>						
						</tbody>
					</table>
					<div class="sep"></div>	
					
					<div class="orderRefPrint">
						<p class="hed">{{'CON_ORDER_REFERENCE' | translate}}</p>
						<p><label>{{'CON_USER_ID' | translate}} : </label> <span class="">{{webSettings.userCode}}</span></p> 
						<p><label>{{'CON_CUSTOMER' | translate}} :</label>  <span class="">{{dlgObj.orderInfo.customerCode}} </span></p> 
						<p><label>{{'CON_YOUR_REFERENCE' | translate}} : </label> <span class="">{{dlgObj.orderInfo.yourReference}} </span></p> 
						<p><label>{{'CON_MANNER_OF_TRANSPORT' | translate}} :</label>  <span class="">{{dlgObj.orderInfo.motDesc}} </span></p> 
						<p><label>{{'CON_GOODS_MARK' | translate}} : </label> <span class="">{{dlgObj.orderInfo.goodsMarking}} </span></p> 
					</div>
					<div class="orderRefPrint">
						<p class="clr_left"><label> &nbsp;</label><span class="">&nbsp;</span></p>
						<p class="clr_left"><label>{{'CON_YOUR_ORDER' | translate}} : </label> <span class="">{{dlgObj.orderInfo.yourOrder}}</span></p>
						<p class="clr_left"><label> {{'CON_CREATION_DATE' | translate}} : </label> <span class="">{{dlgObj.orderInfo.orderDate}}</span></p>
						<p class="clr_left"><label>{{'CON_OUR_REFERENCE' | translate}} : </label> <span class="">{{dlgObj.orderInfo.ourReference}}</span></p>
						<p class="clr_left"><label>{{'CON_TERMS_OF_DELIVERY' | translate}} : </label> <span class="">{{dlgObj.orderInfo.todDesc}}</span></p>
						<p class="clr_left"><label>{{'CON_COMPLETE_DELIVERY' | translate}} : </label> <span class="">{{dlgObj.orderInfo.completeDelivery | translate}}</span></p>
					</div>
					
					<div class="sep"></div>
					<div class="deliveryAddressPrint">
						<p class="hed">{{'CON_DELIVERY_ADDRESS' | translate}}</p>						
						<p ng-bind-html="renderHtml(dlgObj.orderInfo.delAddress)"></p>
						
					</div>
					<div class="billingAddressPrint">
						<p class="hed">{{'CON_CONFIRMATION_ADDRESS' | translate}}</p>
						<p ng-bind-html="renderHtml(dlgObj.orderInfo.confAddress)"></p>
					</div>		
					<div class="sep"></div>		
					<div class="paymentInformationPrint">
						<p class="hed">{{'CON_PAYMENT_INFORMATION' | translate}}</p>
						<p>{{'CON_PAYMENT_METHOD' | translate}} :  <span class="clr_left">{{dlgObj.orderInfo.paymentMethod | translate}}</span></p> 
					</div>
					<div class="paymentInformationPrint">
						<p class="clr_left"> &nbsp;<span class="clr_left">&nbsp;</span></p>
						<p class="clr_left">{{'CON_TERMS_OF_PAYMENT' | translate}} : <span class="clr_left">{{dlgObj.orderInfo.topDesc}}</span></p>
					</div>
					<div class="sep"></div>	
					<div>
						<p class="orderNote clr_both"> {{dlgObj.orderInfo.orderFeeWebText}} </p>
					</div>
				</div>
			</div>
		</div>
</div>
    </script>    
</div>
<!-- quick view matrix item start -->

<div class="modalViewBody" ng-controller="DlgCtrl">
	<script type="text/ng-template" id="quickViewMatrixProduct.html">
<div class="quickViewPop">
<div class="modal-header">   
	<button class="modal-close-btn" ng-click="cancel(); dlgObj.quickViewMatrixObj1.itemObject.newQuantity=null">{{'CON_CANCEL' | translate}}</button>
 </div>
 <div class="modal-body modal-body-quickView">
 <div class="productDetailWrapper left quickViewPopDeatilWrapper">
	<div style="position: relative; float: left;" class="pd_imageWrapperQuickView">
		<div class="" >
			<img ng-if="dlgObj.quickViewMatrixObj1.getIsRelative()" class="attentionImage" ng-src="{{BASE_ADDRESS}}{{dlgObj.quickViewMatrixObj1.getAttentionURLName()}}" ng-show="{{dlgObj.quickViewMatrixObj1.getAttentionDisplay()}}"/>
			<img ng-if="dlgObj.quickViewMatrixObj1.getIsRelative()" class="quickViewImage" ng-src="{{BASE_ADDRESS}}{{dlgObj.quickViewMatrixObj1.getImageUrl()}}" onerror="getDefaultImg(this);">
			<img ng-if="!dlgObj.quickViewMatrixObj1.getIsRelative()" class="attentionImage" ng-src="{{dlgObj.quickViewMatrixObj1.getAttentionURLName()}}" ng-show="{{dlgObj.quickViewMatrixObj1.getAttentionDisplay()}}"/>
			<img ng-if="!dlgObj.quickViewMatrixObj1.getIsRelative()" class="quickViewImage" ng-src="{{dlgObj.quickViewMatrixObj1.getImageUrl()}}" onerror="getDefaultImg(this);">
			<div class="unitsWrapperQuickView clr_left "></div>
			<a href ng-click="showProductDetail(dlgObj.quickViewMatrixObj1.getItemCode());cancel()">{{'CON_MORE_INFORMATION' | translate}}</a> 
		</div> 
	</div>
	<div class="pd_infoWrapper">
			<div class="unitsWrapperQuickView clr_left ">
			<!-- <label class="left">{{'COH_PRODUCT_CODE' | translate}} : </label>-->
			 <span> <b>{{dlgObj.quickViewMatrixObj1.getItemCode() }}</b> </span>
	</div>
	<div class="unitsWrapperQuickView clr_left ">
		<!-- <label  class="left">{{'COH_DESCRIPTION' | translate}} : </label>--> 
		<span><b>{{dlgObj.quickViewMatrixObj1.getDesc()}} </b> </span>
	 </div>
	<div class="unitsWrapperQuickView clr_left ">
		<!-- <label  class="left">{{'CON_EXTENDED_INFO' | translate}} : </label> -->
		<span class="extendedProductInfo" ng-bind-html="renderHtml(dlgObj.quickViewMatrixObj1.getExtendedInfo())"></span>
	 </div>
	 <div class="unitsWrapperQuickView clr_left">
	 	<label class="left">{{'CON_SALES_UNIT' | translate}} : </label>
		<span  class="left">{{dlgObj.quickViewMatrixObj1.getSelectedUnit()}}  </span>
   			
		</div>
		<div class="unitsWrapperQuickView clr_left" ng-if="webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE'">
			<label  class="left">{{'CON_PRICE' | translate }} / {{'COH_UNIT' | translate}} : </label>
			<span ng-class="{'actPrice':convertAsNumber(dlgObj.quickViewMatrixObj1.getDiscountPrice()) > 0}" class="finalPriceQuickView">{{dlgObj.quickViewMatrixObj1.getPrice()}} {{webSettings.currencyCode}}  </span>
			<span ng-show="convertAsNumber(dlgObj.quickViewMatrixObj1.getDiscountPrice()) > 0" class="finalPriceQuickView">{{dlgObj.quickViewMatrixObj1.getDiscountPrice()}} {{webSettings.currencyCode}} </span>
		</div>
		<div class="unitsWrapperQuickView clr_left" ng-if="webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE'">
			<label  class="left">{{'CON_PRICE' | translate }} / {{'COH_UNIT' | translate}} : </label>
			<span  class="finalPriceQuickView">{{dlgObj.quickViewMatrixObj1.getDiscountPrice()}}  </span>
		</div>
		<div class="unitsWrapperQuickView clr_left" ng-if="webSettings.allowDiscountDisplay=='*ACTUAL_PRICE'">
			<label  class="left">{{'CON_PRICE' | translate }} / {{'COH_UNIT' | translate}} : </label>
			<span  class="finalPriceQuickView">{{dlgObj.quickViewMatrixObj1.getPrice()}}  </span>
		</div>
		<div class="unitsWrapperQuickView clr_left">
			<label  ng-show="isSignedIn && !(dlgObj.quickViewMatrixObj1.isMatrixBaseItem())" class="left">{{'COH_QUANTITY' | translate}} :  </label> <span  class="quickInfoCart"><input ng-show="isSignedIn && !(dlgObj.quickViewMatrixObj1.isMatrixBaseItem())" class="quantityWidth" ng-model="dlgObj.quickViewMatrixObj1.itemObject.newQuantity" type="text" ng-class ="{ 'error': !dlgObj.quickViewMatrixObj1.itemObject.validQuantityPriceCalc, '' : dlgObj.quickViewMatrixObj1.itemObject.validQuantityPriceCalc}" ng-change="checkValidQuantityPriceCal(dlgObj.quickViewMatrixObj1.itemObject,dlgObj.quickViewMatrixObj1.itemObject.newQuantity)" title="{{dlgObj.quickViewMatrixObj1.itemObject.quantityBoxMsg}}"> </input>
		<button ng-if="dlgObj.quickViewMatrixObj1.isBuyAllowed() && !isShopCartItem(dlgObj.quickViewMatrixObj1.getItemCode())" type="button" name="" value="" class="buyIcon"
			ng-click="dlgObj.quickViewMatrixObj1.buy()" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}">{{'CON_BUY' | translate}}</button>

		<span ng-if="dlgObj.quickViewMatrixObj1.isBuyAllowed() && isShopCartItem(dlgObj.quickViewMatrixObj1.getItemCode())">
			<span  class="addedInCart left"  ng-click="dlgObj.quickViewMatrixObj1.buy()"  title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span>
		</span>
		<button ng-show="isSignedIn && !(dlgObj.quickViewMatrixObj1.isMatrixBaseItem())" class="addToListTableView" ng-click="dlgObj.quickViewMatrixObj1.addItemToCurrentList()" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_LIST' | translate}}" >{{'CON_ADD_TO_LIST' | translate}} </button>
		<a  ng-show="webSettings.isSendEnquiryAllowed" title="{{'CON_CLICK_TO_SEND_EMAIL_ENQUIRY_PRODUCT' | translate}}" class="emailIcon" ng-click="sendPrdEnquiry(dlgObj.quickViewMatrixObj1.getItemCode(),dlgObj.quickViewMatrixObj1.getDesc())"></a>
		</span>
		</div>
	</div>
</div>
</div>
</div>
</script>
</div>
<!-- ADM-015 -->
<div class="notAvailableWindow" ng-controller="DlgCtrl">
	<script type="text/ng-template" id="notAvailableDlgView.html">
<div class="notAvailableDlgView">
		<div class="modal_view-container">   
        	<div class="modal-header">
				<button class="modal-close-btn" ng-click="cancel()">{{'CON_CANCEL' | translate}}</button>
        	</div>
          	<div>
           		<!--<div id="error-not-available" class="error-message">{{'MSG_ITEM_IS_NOT_TEMPORARY_AVAILABLE' | translate}}</div>-->
           		<div id="error-not-available" class="error-message">{{dlgObj.notAvailableObj.messageText}}</div>
				<div style="margin-bottom:5px" ng-bind-html="renderHtml(dlgObj.notAvailableObj.itemWebText)"></div>




				<div id="detail-container">
					<div class="notAvailableDialog-image">
						<img ng-src="{{dlgObj.notAvailableObj.imageURL}}" onerror="getDefaultImg(this);"/>
					</div>
					<div class="notAvailableDialog-detail">
						<h3>{{dlgObj.notAvailableObj.description}}
						<small>				
						<br>
						{{dlgObj.notAvailableObj.minsanCode}}
						</small>
						</h3>
						<table>

							<!-- <tr><td style="padding-right:10px;">{{'CON_SALES_UNIT' | translate}}</td><td>{{dlgObj.notAvailableObj.selectedUnit}}</td></tr> -->
							<tr><td style="padding-right:10px;">{{'COH_DISCOUNT_PRICE' | translate}}</td><td class="col-text-03">{{dlgObj.notAvailableObj.actualPrice}} {{webSettings.currencyCode}}</td></tr>
							<tr><td style="padding-right:10px;">{{'COH_QUANTITY' | translate}}</td><td>{{dlgObj.notAvailableObj.quantity}}</td></tr>
							<tr><td style="padding-right:10px;">{{'COH_AVAILABLE' | translate}}</td><td>{{dlgObj.notAvailableObj.availableQuantity}}</td></tr>


						</table>
					</div>
        		</div>
		</div>
</div>
    </script>
</div>
<!-- ADM-015 end -->
<!-- quick view matrix item end -->