<p class="pageTitle"> {{'COH_DELIVERY' | translate}}/{{'CON_PAYMENT_INFORMATION' | translate}}</p>
<div class="paymentInformationWrapper" ng-controller = "CartDeliveryPaymentCtrl">
	<div class="errorMsg txt_right d-inline" style="color:red;width:400px">{{CartDeliveryInfo.UIMessageKey}} </div>
	<div class="buttonWrapper">
				<button type="button" name="" value="" class="backButton " ng-click="gobackAlert()">{{'CON_BACK' |translate }}</button>
     <div class="clr_left right d-inline">
			<button type="button" class="saveButton left" ng-click="saveDeliveryInfo(CartDeliveryInfo)">{{'CON_SAVE' | translate}}</button>
			<button type="button" class="saveButton left" ng-click="clearChanges()">{{'CON_CLEAR' | translate}}</button>
			<button type="button" ng-disabled= "CartDeliveryInfo.lineCount == 0 || reviewOrder"  name="" value="" class="reviewOrder" ng-click = "CartDeliveryInfo.updateSelectedAddressInfo();goReviewOrder()">{{'CON_REVIEW_ORDER'  | translate}}</button>
		</div>
     </div>
	
		
<form action="" method="post" class="payment-information">
<p class="subHead">{{'TEXT_DELIVERY_ADDRESS' | translate}}</p>
	<table class="deliveryPaymentInformation">
		<tr>
			<td style="width:30%;">{{'CON_DELIVERY_ADDRESS' | translate}} :</td>
			<td>&nbsp;</td>
			<td colspan="2"> 
			<div class="select-style dpiDiv"> 
				<select  ng-model="CartDeliveryInfo.selectedAddress"  ng-options="address.displayAddressName for address in CartDeliveryInfo.customerDeliveryAddressList" ng-change="CartDeliveryInfo.changeAddress();changeCalled()">  					
				</select>
				</div>
				<span class="mendFields"> * </span>
			</td>
		</tr>
		<tr>
			<td>{{'COH_NAME' | translate}} :</td>
			<td>&nbsp;</td>
			<td colspan="2">
				<input id="text" class="left" type="text" name="text" placeholder="" ng-model="CartDeliveryInfo.selectedAddress.addressName" ng-change="CartDeliveryInfo.onDataChange();changeCalled()"
				 ng-show="CartDeliveryInfo.allowDispatchAddressOverride" ng-class ="{ 'error': CartDeliveryInfo.ErrOnControl.addressName, '' :  !CartDeliveryInfo.ErrOnControl.addressName }" />
				<span ng-show="!CartDeliveryInfo.allowDispatchAddressOverride">{{CartDeliveryInfo.selectedAddress.addressName}}</span>
				<span ng-show="CartDeliveryInfo.allowDispatchAddressOverride" class="mendFields nopadding"> * </span>
			</td>
		</tr>
		<tr>
			<td>{{'CON_ADDRESS_LINES' | translate}} :</td>
			<td>&nbsp;</td>
			<td colspan="2"> 
				<input id="address1" class="left" type="text" name="address" placeholder=" "  ng-model="CartDeliveryInfo.selectedAddress.address1" ng-change="CartDeliveryInfo.onDataChange();changeCalled()" 
				ng-show="CartDeliveryInfo.allowDispatchAddressOverride" ng-class ="{ 'error': CartDeliveryInfo.ErrOnControl.address1, '' :  !CartDeliveryInfo.ErrOnControl.address1 }" />
        		<span ng-show="!CartDeliveryInfo.allowDispatchAddressOverride">{{CartDeliveryInfo.selectedAddress.address1}}</span>
        		<span ng-show="CartDeliveryInfo.allowDispatchAddressOverride" class="mendFields nopadding"> * </span>
			</td>
		</tr>
		<tr ng-show="hideAddress(CartDeliveryInfo.allowDispatchAddressOverride,CartDeliveryInfo.selectedAddress.address2)">
			<td colspan="2">&nbsp;</td>
			<td colspan="2"> 
				<input id="address2" type="text" name="address" placeholder=" "  ng-model="CartDeliveryInfo.selectedAddress.address2" 
				ng-change="CartDeliveryInfo.onDataChange();changeCalled()" ng-show="CartDeliveryInfo.allowDispatchAddressOverride"/>
        		<span ng-show="!CartDeliveryInfo.allowDispatchAddressOverride">{{CartDeliveryInfo.selectedAddress.address2}}</span>
        
			</td>
		</tr>
		<tr ng-show="hideAddress(CartDeliveryInfo.allowDispatchAddressOverride,CartDeliveryInfo.selectedAddress.address3)">
			<td colspan="2">&nbsp;</td>
			<td colspan="2"> 
				<input id="address3" type="text" name="address" placeholder=" "  ng-model="CartDeliveryInfo.selectedAddress.address3" 
				ng-change="CartDeliveryInfo.onDataChange();changeCalled()" ng-show="CartDeliveryInfo.allowDispatchAddressOverride"/>
        		<span ng-show="!CartDeliveryInfo.allowDispatchAddressOverride">{{CartDeliveryInfo.selectedAddress.address3}}</span>
        
			</td>
		</tr>
		<tr>
			<td>{{'CON_POSTAL_CODE' | translate}} :</td>
			<td>&nbsp;</td>
			<td colspan="2"> 
				<input ng-show="CartDeliveryInfo.allowDispatchAddressOverride" id="Postal" class="left" type="text" name="email" placeholder="" ng-model="CartDeliveryInfo.selectedAddress.postalCode" ng-change="CartDeliveryInfo.onDataChange();changeCalled()" ng-class ="{ 'error': CartDeliveryInfo.ErrOnControl.postalCode, '' :  !CartDeliveryInfo.ErrOnControl.postalCode }"/>
				<span ng-show="!CartDeliveryInfo.allowDispatchAddressOverride">{{CartDeliveryInfo.selectedAddress.postalCode}}</span>      		
        		<span ng-show="CartDeliveryInfo.allowDispatchAddressOverride" class="mendFields nopadding"> * </span>
			</td>	
		</tr>
		<tr>
			<td>{{'CON_POSTCITY' | translate}} :</td>
			<td>&nbsp;</td>
			<td colspan="2"> 
				<input ng-show="CartDeliveryInfo.allowDispatchAddressOverride" id="address4" class="left" type="text" name="City" placeholder="" ng-model="CartDeliveryInfo.selectedAddress.address4" ng-change="CartDeliveryInfo.onDataChange();changeCalled()" ng-class ="{ 'error': CartDeliveryInfo.ErrOnControl.city, '' :  !CartDeliveryInfo.ErrOnControl.city }"/>
				<span ng-show="!CartDeliveryInfo.allowDispatchAddressOverride">{{CartDeliveryInfo.selectedAddress.address4}}</span>      		
        		<span ng-show="CartDeliveryInfo.allowDispatchAddressOverride" class="mendFields nopadding"> * </span>
        	</td>
		</tr>
		<tr>
			<td>{{'CON_COUNTRY' | translate}} :</td>
			<td>&nbsp;</td>
			<td colspan="2">
			<div ng-show="CartDeliveryInfo.allowDispatchAddressOverride" class="select-style dpiDiv" ng-class ="{ 'error': CartDeliveryInfo.ErrOnControl.country, '' :  !CartDeliveryInfo.ErrOnControl.country }">  
			 <select id= "countryList" ng-model="CartDeliveryInfo.selectedCountry"  ng-options="Country.description for Country in CartDeliveryInfo.CountryList" ng-change="fetchStateList(CartDeliveryInfo); CartDeliveryInfo.onDataChange();changeCalled()" >
		  	 </select>
		  	 </div>
		  	 <span ng-show="!CartDeliveryInfo.allowDispatchAddressOverride">{{CartDeliveryInfo.selectedCountry.description}}</span>
		  	 <span ng-show="CartDeliveryInfo.allowDispatchAddressOverride" class="mendFields"> * </span>      		
        	</td>
		</tr>
		<tr ng-show="CartDeliveryInfo.StateList.length>0">
			<td>{{'CON_STATE' | translate}} :</td>
			<td>&nbsp;</td>
			<td colspan="2"> 
			<div ng-show="CartDeliveryInfo.allowDispatchAddressOverride" class="select-style"> 
			  	<select id= "stateList" ng-model="CartDeliveryInfo.selectedState"  ng-options="State.stateProvinceDesc for State in CartDeliveryInfo.StateList" ng-change="fetchCountyList(CartDeliveryInfo); CartDeliveryInfo.onDataChange();changeCalled()" >
		  		</select>  
		  	</div>
		  	 <span ng-show="!CartDeliveryInfo.allowDispatchAddressOverride">{{CartDeliveryInfo.selectedState.stateProvinceDesc}}</span>   		
        	</td>
		</tr>
		<tr ng-show="CartDeliveryInfo.CountyList.length>0">
			<td>{{'CON_COUNTY' | translate}} :</td>
			<td>&nbsp;</td>
			<td colspan="2"> 
			<div ng-show="CartDeliveryInfo.allowDispatchAddressOverride" class="select-style"> 
			  	<select id= "countyList" ng-model="CartDeliveryInfo.selectedCounty"  ng-options="County.countyDesc for County in CartDeliveryInfo.CountyList" ng-change="CartDeliveryInfo.setCountyForSelectedState(); CartDeliveryInfo.onDataChange();changeCalled()" >
		  		</select>  
		  	</div>  
		  	 <span ng-show="!CartDeliveryInfo.allowDispatchAddressOverride">{{CartDeliveryInfo.selectedCounty.countyDesc}}</span> 		
        	</td>
		</tr>
		<tr ng-show="CartDeliveryInfo.allowChangeMannerOfTransport">
			<td>{{'CON_MANNER_OF_TRANSPORT' | translate}} :</td>
			<td>&nbsp;</td>
			<td colspan="2"> 
			<div class="select-style"> 
			  	<select id= "mannerOfTransportList" ng-model="CartDeliveryInfo.selectedTransport"  ng-options="transport.description for transport in CartDeliveryInfo.mannerOfTransportList" ng-change="CartDeliveryInfo.setTransportForSelectedAddress() ; CartDeliveryInfo.onDataChange();changeCalled()" 
			  	ng-show="CartDeliveryInfo.allowChangeMannerOfTransport" >
				 </select>

				 </div>
		 		 <!-- <span ng-show="!CartDeliveryInfo.allowChangeMannerOfTransport">{{CartDeliveryInfo.selectedTransport.description}}</span>  --> 		
        	</td>
		</tr>
		<tr ng-show ="webSettings.allowChangeCompleteDelivery">
			<td>{{'CON_COMPLETE_DELIVERY' | translate}} :</td>
			<td>&nbsp;</td>
			<td colspan="2"> 
			  	 <input id="delivery" type="checkbox" name="delivery" placeholder="delivery" class="complete_delivery" ng-model="CartDeliveryInfo.isCompleteDeliveryFlag"
			  	 ng-change="CartDeliveryInfo.onDataChange();changeCalled()" />
        	</td>
		</tr>
		<tr ng-show="CartDeliveryInfo.isShowEmailConfirmDispatch">
			<td>{{'CON_CONFIRM_DISPATCH_VIA_EMAIL' | translate}} :</td>
			<td>&nbsp;</td>
			<td colspan="2"> 
			  	 <input id="deliveryEmail" type="checkbox" name="deliveryEmail" placeholder="delivery" class="complete_delivery" ng-model="CartDeliveryInfo.sendEmailOnDispatch"
			  	 ng-change="CartDeliveryInfo.onDataChange();changeCalled()" />
        	</td>
		</tr>
		<tr ng-show="CartDeliveryInfo.isShowEmailConfirmDispatch">
			<td><span class="mendFields"> * </span>{{'CON_EMAIL' | translate}} :</td>
			<td>&nbsp;</td>
			<td colspan="2"> 
			  	 <input id="dispatchEmail" type="text" name="dispatchEmail" placeholder="" ng-model="CartDeliveryInfo.emailConfirmDispatch"  ng-show="CartDeliveryInfo.emailDispatchOverrideAllowed"
			  	 ng-change="CartDeliveryInfo.onDataChange();changeCalled()" ng-class ="{ 'error': CartDeliveryInfo.ErrOnControl.dispatchEmail, '' :  !CartDeliveryInfo.ErrOnControl.dispatchEmail }"/>
			  	 	<span ng-show="!CartDeliveryInfo.emailDispatchOverrideAllowed">{{CartDeliveryInfo.emailConfirmDispatch}}</span>      	
        	</td>
		</tr>
		<tr>
			<td>{{'CON_GOODS_MARK' | translate}} :</td>
			<td>&nbsp;</td>
			<td colspan="2"> 
			   <input id="Goods Mark" type="text" name="Goods Mark" maxlength="30" ng-change="CartDeliveryInfo.onDataChange();changeCalled()" ng-model= "CartDeliveryInfo.goodsMark"  />
        	</td>
		</tr>
		<!-- 
		<tr>
			<td>{{'TEXT_BILLING_ADDRESS' | translate}} :</td>
			<td>&nbsp;</td>
			<td colspan="2"> <input id="" type="checkbox" name="" placeholder="" ng-model="CartDeliveryInfo.isBillingAddressDifferent" ng-change="CartDeliveryInfo.updateSelectedAddressInfo()"/> </td>
			
		</tr>
		 -->
		 <tr>
		 <td colspan="2">&nbsp; </td>
		 <td>&nbsp;
		 
		 </td>
		 <td>&nbsp;</td>
		 </tr>
		<tr>			
			<td colspan="2">&nbsp; </td>
			<td> &nbsp;</td>
			<td>&nbsp; </td>
		</tr>
	</table>    
     
<!--     <div ng-if="isOnlinePayAllowed()" class="sep"></div> -->
<!--      <p ng-if="isOnlinePayAllowed()" class="subHead">{{'CON_PAYMENT_INFORMATION' |translate }}</p> -->
<!--      <p ng-if="isOnlinePayAllowed()">{{'CON_PAYMENT_METHOD' |translate }}:</p> -->
<!--      <label ng-if="isOnlinePayAllowed()" class="left"> -->
<!--     	 <input type="radio" value="invoice" class="left" name="paymentMethod" ng-model="CartDeliveryInfo.paymentMethod.type"/> <span class="radiebtn_margin"> {{'COH_INVOICE' |translate }}</span> -->
<!--      </label> -->
<!--      <label ng-if="isOnlinePayAllowed()" class="topMargin left">{{'CON_TERMS_OF_PAYMENT' |translate }}: {{CartDeliveryInfo.currentOrder.termsOfPaymentDescription}}</label> -->
<!--      <label ng-if="isOnlinePayAllowed()" class="left onliniePaymentOption"> -->
<!--     	 <input type="radio" value="Online Payment" ng-show="selectedPaymnetModeOnline(webSettings.paymentMethod)"  ng-model="CartDeliveryInfo.paymentMethod.type" class="left" name="onlinePaymentMethod"/> <span class="radiebtn_margin" ng-show="selectedPaymnetModeOnline(webSettings.paymentMethod)"> {{'CON_ONLINE_PAYMENT' | translate}} </span> -->
<!--      </label> -->
<!--      <div ng-if="isOnlinePayAllowed()" class="paymentOptions left"> -->
<!-- 				<img ng-src="images/mastercard.png"/> -->
<!-- 				<img ng-src="images/visa.png"/> -->
<!-- 				<img ng-src="images/amex.jpg"/> -->
<!-- 				<img ng-src="images/diners.png"/> -->
<!-- 				<img ng-src="images/maestro.png"/> -->
<!-- 				<img ng-src="images/Resursbank.jpg"/> -->
<!-- 			</div> -->
<!--     
     <div class="sep"></div>
     <table>
		<tr>
			<td style="width:30%;">   <input type="radio" value="creditcard" class="left" name="paymentMethod" ng-model="CartDeliveryInfo.paymentMethod.type" ng-disabled="true"/><span class="radiebtn_margin">{{'CON_CREDIT_CARD' |translate }}</span> </td>
			<td colspan = "3">&nbsp; </td>
			
		</tr>
		<tr>
			<td>{{'CON_CREDIT_CARD_TYPE' | translate}} :</td>
			<td>&nbsp;</td>
			<td colspan="2"> 
			<div class="select-style"> 
				<select name="selection" ng-disabled="true">
       				 <option value="Visa">Visa</option>
        			 <option value="MasterCard">MasterCard</option>
        		</select>
        		</div>
			</td>
			
		</tr>
		<tr>
			<td>{{'CON_CREDIT_CARD_NUMBER' | translate}} :</td>
			<td>&nbsp;</td>
			<td colspan="2"> 
				<input id="Card No" type="text" name="card No." placeholder="{{'CON_CREDIT_CARD_NUMBER' | translate}}" ng-disabled="true"/>
			</td>
			
		</tr>
		<tr>
			<td>{{'CON_CARD_VALID_THRU' | translate}} :</td>
			<td>&nbsp;</td>
			<td colspan="2"> 
				 <input id="Valid thru" type="text" name="Valid Thru" placeholder="{{'COH_CARD_VALID_THRU' | translate}}" ng-disabled="true" />
			</td>
			
		</tr>
		<tr>
			<td>{{'CON_CREDIT_CARD_HOLDER' | translate}} :</td>
			<td>&nbsp;</td>
			<td colspan="2"> 
				 <input id="Card Holder" type="text" name="Card Holder" placeholder="{{'CON_CREDIT_CARD_HOLDER' | translate}}"  ng-disabled="true"/>
			</td>
			
		</tr>
	</table>    
-->
     <div class="sep"></div>
     <p class="subHead">{{'CON_ORDER_REFERENCE' |translate }}</p>
     
     <table>
		<tr>
			<td style="width:30%;">{{'CON_YOUR_ORDER' | translate}} :</td>
			<td>&nbsp;</td>
			<td>    <input id="Your Order" type="text" name="Your Order" ng-change="changeCalled()" ng-model = "CartDeliveryInfo.orderReference.yourOrderNumber" maxlength="20" />
			 </td>
		</tr>
		<tr>
			<td>{{'COH_YOUR_REFERENCE' | translate}} :</td>
			<td>&nbsp;</td>
			<td>    <input id="Your Reference" type="text" name="Your Reference" ng-change="changeCalled()" ng-model = "CartDeliveryInfo.orderReference.yourReference" maxlength="20" />
			 </td>
		</tr>
		
		<tr>
			<td>{{'CON_FREE_TEXT' | translate}} :</td>
			<td>&nbsp;</td>
			<!-- NST-2205 Free text is no longer saved -->
			<td>   <textarea name="Address" rows=3 cols=30 ng-change="changeCalled()"  ng-model = "CartDeliveryInfo.orderReference.orderText" ></textarea>
			 <!-- NST-2205 Free text is no longer saved -->
			 </td>
		</tr>
		
		<tr ng-show="CartDeliveryInfo.isShowEmailOrderDispatch">
			<td class="rightPaddingDel">{{'CON_CONFIRM_ORDER_DISPATCH_VIA_EMAIL' | translate}} :</td>
			<td>&nbsp;</td>
			<td colspan="2"> 
			  	 <input id="deliveryEmail" type="checkbox" name="deliveryEmail" placeholder="delivery" class="complete_delivery" ng-model="CartDeliveryInfo.sendOrderEmailOnDispatch"
			  	 ng-change="changeCalled()" />
        	</td>
		</tr>
		<tr ng-show="CartDeliveryInfo.isShowEmailOrderDispatch">
			<td><span class="mendFields"> * </span>{{'CON_EMAIL' | translate}} :</td>
			<td>&nbsp;</td>
			<td colspan="2"> 
			  	 <input id="dispatchEmail" type="text" name="dispatchEmail" placeholder="" ng-model="CartDeliveryInfo.emailOrderDispatch"  ng-show="CartDeliveryInfo.emailOrderOverrideAllowed"
			  	 ng-change="changeCalled()" />
			  	 	<span ng-show="!CartDeliveryInfo.emailOrderOverrideAllowed">{{CartDeliveryInfo.emailOrderDispatch}}</span>      	
        	</td>
		</tr>
		
	</table>
     <p class="errorMsg txt_right" style="color:red">{{CartDeliveryInfo.UIMessageKey}} </p>
    <span ng-show="CartDeliveryInfo.showDeliveryAddressChangeMessage()" class="errorMsg txt_right">{{CartDeliveryInfo.deliveryAddressChangeMessage}} </span><br>
    <span ng-show="CartDeliveryInfo.showMotChangeMessage()" class="errorMsg txt_right">{{CartDeliveryInfo.motChangeMessage}} <br> </span>
     <span ng-show="CartDeliveryInfo.showDelNotAllowedWithCompleteDel()"  class="errorMsg txt_right">{{CartDeliveryInfo.delNotAllowedWithCompleteDel}}</span>
	<div class="buttonWrapper">
				<button type="button" name="" value="" class="backButton " ng-click="gobackAlert()">{{'CON_BACK' |translate }}</button>
     <div class="clr_left right">
    			<button type="button" class="saveButton left" ng-click="saveDeliveryInfo(CartDeliveryInfo)">{{'CON_SAVE' | translate}}</button>
    			<button type="button" class="saveButton left" ng-click="clearChanges()">{{'CON_CLEAR' | translate}}</button>
				<button type="button" ng-disabled= "CartDeliveryInfo.lineCount == 0 || reviewOrder"  name="" value="" class="reviewOrder" ng-click = "CartDeliveryInfo.updateSelectedAddressInfo();goReviewOrder()">{{'CON_REVIEW_ORDER'  | translate}}</button>
			</div>
     </div>
</form>
</div>