<div class="editAccount listview" ng-controller="editAccountCtrl">
<p class="head">{{'CON_EDIT_ACCOUNT' | translate}}</p>
<div class="user clr_left">	
<p class="editAccountCust">{{'CON_CUSTOMER' |translate}}:  <b>{{userAccountData.defaultCustomerName}}</b></p>
		<p ng-model="isCollapsed" ng-click="isCollapsed = !isCollapsed">{{'CON_USER'| translate}} <a ng-class ="{'exp-collapse-arrow': isCollapsed, 'exp-plus-arrow': !isCollapsed}">&nbsp;</a> </p>
		<div class="sep"></div>
		
		<p class="errorMsg right" >{{userAccountData.UIErrorKey}}</p>
		<p class="errorMsg right" ng-hide="!dataLoaded || editAccountForm.$valid">{{'MSG_INVALID_EMAIL_ADDRESS'| translate}}</p>
		<div ng-show="!isCollapsed">	
		 	<form ng-submit="" ng-show="dataLoaded" name="editAccountForm">		
			<section>
			<table class="editAccountUser">
				<tr>
					<td style="width:15%"> <label class="left">{{'CON_USER_ID'|translate}}: </label> </td>
					<td colspan="2" class="section-value">{{userAccountData.userId}}</td>		
				</tr>
				<tr>
					<td style="width:15%"> <label class="left">{{'COH_NAME'| translate}} :</label> </td>
					<td colspan="2" class="section-value"><input type="text" class="ng-pristine ng-valid" ng-model="userAccountData.userName" ></td>	
				
				</tr>
				<tr>
					<td style="width:15%"> <label class="left" ng-class ="{ 'error': !editAccountForm.$valid, '' :  editAccountForm.$valid }">{{'CON_EMAIL_ADDRESS'| translate}}:</label> </td>
					<td colspan="2" class="section-value"><input type="email" ng-model="userAccountData.userEmail" autofocus ng-mouseleave = "editAccountForm.$valid" ng-blur="editAccountForm.$valid" ng-keyup ="userAccountData.startShowError = true" ng-class ="{ 'error': !editAccountForm.$valid, '' :  editAccountForm.$valid }" required></td>	
				</tr>
				<tr>
					<td style="width:15%"> <label class="left">{{'CON_LOCALE'|translate}}: </label> </td>
					<td colspan="2" class="section-value">
						<div class="select-style" style="width: 295px;">
							<select ng-model="userAccountData.selectedLocale" style="width: 315px !Important;" ng-options="locale.desc for locale in userAccountData.localeList" 	ng-change="">
						</div>
	   					</select>
	   				</td>		
				</tr>
			</table>		
			</section>	
			<div class="buttonWrapper right">
					<button type="button" class="yellowButton primary-btn" ng-disabled= "!editAccountForm.$valid" ng-click="saveUserData()">{{'CON_EDIT_USER' | translate}}</button>
			</div>
			
			</form>		
		</div>	
	</div>

<div class="changePassword clr_both" ng-show="showChangePassword">	
		<p ng-model="isCollapsed_credential" ng-click="isCollapsed_credential = !isCollapsed_credential">{{'COH_FORCE_PASSWORD_CHANGE' | translate}} <a ng-class ="{'exp-collapse-arrow': !isCollapsed_credential, 'exp-plus-arrow': isCollapsed_credential}">&nbsp;</a> </p>
		<div class="sep"></div>
		<p class="passwordMsg">{{userPasswordInfo.UIErrorKey}}</p>
		<div ng-show="isCollapsed_credential">	
			 <form ng-submit="">
			<section>			
			<table class="editAccountUser">
			<tr>
				<td style="width:20%"> <label class="left">{{'CON_OLD_PASSWORD'| translate}}:  </label> </td>
				<td colspan="2" class="section-value"><input type="password" class="ng-pristine ng-valid" ng-model="userPasswordInfo.credentialInfo.oldPassword"></td>				
			</tr>
			<tr>
				<td> <label class="left">{{'CON_NEW_PASSWORD'| translate}}:</label> </td>
				<td colspan="2" class="section-value"><input type="password" class="ng-pristine ng-valid" ng-model="userPasswordInfo.credentialInfo.newPassword"></td>				
			</tr>
			<tr>
				<td> <label class="left">{{'CON_CONFIRM_NEW_PASSWORD'| translate}}: </label> </td>
				<td colspan="2" class="section-value"><input type="password" class="ng-pristine ng-valid" ng-model="userPasswordInfo.credentialInfo.confirmPassword"></td>				
			</tr>
			</table>			
			</section>		
					<div class="buttonWrapper right">
					<button type="button" class="yellowButton primary-btn" ng-disabled="false" ng-click="changeUserPassword(userPasswordInfo.credentialInfo)">{{'CON_CHANGE_PASSWORD' | translate}}</button>
					</div>    
			</form>
		</div>
	
	</div>
<div class="changeAddress clr_both">	
		<p ng-model="isCollapsed_address" ng-click="isCollapsed_address = !isCollapsed_address">{{'COH_ADDRESS' | translate }} <a ng-class ="{'exp-collapse-arrow': !isCollapsed_address, 'exp-plus-arrow': isCollapsed_address}">&nbsp;</a> </p>
		<div class="sep"></div>
		<div ng-show="isCollapsed_address">			
			
			<table>
			<thead class="editAccountAddress">
				<tr>
					<th ng-click="" >{{'COH_ADDRESS' | translate }}</th>
					<th ng-click=""> {{'CON_CONFIRMATION_ADDRESS' | translate }}</th>
					<th ng-click=""> {{'CON_DELIVERY_ADDRESS' | translate }}</th>				
					<th ng-click=""> {{'CON_INVOICE_ADDRESS' | translate }}</th>				
				</tr>
			 </thead>
			<tbody>
			        <tr ng-repeat="row in userAccountData.BusinessPartnerAddressList" >
			            <td> {{row.name}}</td>	
			           <td  ng-class="{'checkIcon': userAccountData.isUserAddressExists(row.addressTypeList,'CON_CONFIRMATION_ADDRESS'), '':!userAccountData.isUserAddressExists(row.addressTypeList,'CON_CONFIRMATION_ADDRESS') }"> 
			           		<span ng-show="userAccountData.isdefaultAddress(row.addressTypeList,'CON_CONFIRMATION_ADDRESS')" class="defaultType">*</span></td>	
					   <td  ng-class="{'checkIcon': userAccountData.isUserAddressExists(row.addressTypeList,'CON_DELIVERY_ADDRESS'), '':!userAccountData.isUserAddressExists(row.addressTypeList,'CON_DELIVERY_ADDRESS') }">
					   <span ng-show="userAccountData.isdefaultAddress(row.addressTypeList,'CON_DELIVERY_ADDRESS')" class="defaultType">*</span></td>
					   <td  ng-class="{'checkIcon': userAccountData.isUserAddressExists(row.addressTypeList,'CON_INVOICE_ADDRESS'), '':!userAccountData.isUserAddressExists(row.addressTypeList,'CON_INVOICE_ADDRESS') }"> 
					  <span ng-show="userAccountData.isdefaultAddress(row.addressTypeList,'CON_INVOICE_ADDRESS')" class="defaultType">*</span></td>
						
			        </tr>
			
			 </tbody>
		</table>	
		<label ng-show="defaultAddressType">* {{'MSG_DENOTES_ADDR_TYPE_DEFAULT' | translate}}</label>
		</div>
	</div>

<div class="paymentMethod clr_both">	
		<p ng-model="isCollapsed_payment" ng-click="isCollapsed_payment = !isCollapsed_payment">{{'CON_PAYMENT_METHOD'|translate}}  <a ng-class ="{'exp-collapse-arrow': !isCollapsed_payment, 'exp-plus-arrow': isCollapsed_payment}">&nbsp;</a> </p>
		<div class="sep"></div>
		<div ng-show="isCollapsed_payment"><!-- 				
			<table>
			<thead>
				<tr>
					<th ng-click="" > Actions</th>
					<th ng-click=""> Card</th>
					<th ng-click=""> Number</th>				
					<th ng-click=""> Holder</th>
					<th ng-click="">Valid Thru</th>
					<th ng-click="">  Allowed on Internet</th>				
					<th ng-click="">  Default payment method</th>				
				</tr>
			 </thead>
			<tbody>
					<tr>
						<td> **</td>
						<td>ABC</td>
						<td>**** **** **** 4008</td>
						<td>DEEPAK</td>
						<td>1220</td>
						<td>**</td>
						<td>**</td>
						
					</tr>
			 </tbody>
		</table> -->	
		<label class="defaultPaymentMethod">{{userAccountData.defaultPayment | translate}}</label>		
		</div>
	</div>



</div>