
<div ng-controller="ModalLoginCtrl">

<div class="functMenu">

	<div>
		<div style="min-height: 10px" ng-show="!isLoggedIn()"> </div>
		<div class="customerNameFuncMenu" ng-show="isLoggedIn()" ng-bind="getCustomerName()"></div>
	</div>
	<ul ng-controller="catFunctionMenuCtrl" id="funMenu"  class="functionMenu functionMenu-horizontal"	>
		<li  ng-repeat="menu in menuList" ng-class="{ 'dir' : menu.subMenu.length > 0, 'noBorder' : menu.name == 'CON_USER' }" ng-show="(menu.showInMenu && !(menu.name == 'CON_SIGNOFF' || menu.name == 'CON_SIGNON')) && ((menu.name == 'CON_USER') ? isLoggedIn() : true) && hasActiveSubMenu(menu)">			
			<a href ng-if="menu.name != 'CON_USER'"  ng-click="isLoginRequired(menu.signonRequired,menu)"> {{menu.name | translate }}</a>
			<a href ng-if="menu.name == 'CON_USER'" ng-click="isLoginRequired(menu.signonRequired,menu)"> {{menu.userName}}</a>  
				<ul >				
           			 <li  ng-repeat="submenu in menu.subMenu" ng-show="submenu.active && submenu.showInMenu">
              			<a ng-show="submenu.active && submenu.showInMenu" href ng-click="isLoginRequired(submenu.signonRequired,submenu)" >{{submenu.name | translate}}</a>
            		</li>
            		
          		</ul>          		
		</li>
		
				   
		<!-- li ng-show="isLoggedIn()" class="noBorder"> <a href ng-click="loginLogout()">{{'CON_SIGN_OUT' | translate}}</a> </li-->
		<li ng-show="!isLoggedIn()" class="noBorder"> <a href ng-click="loginLogout()">{{'CON_SIGN_IN' | translate}}</a> </li>

		<!-- <li ng-show="!isLoggedIn() && languageList.length > 1">
		<div   class="select-style">
		  <select ng-model="selectedLanguage" ng-options="lang.description for lang in languageList" ng-selected="lang.code == webSettings.languageCode"
		  ng-change="changeLanguage()" >
		  </select>
		</div>
		
		</li>
		 -->
		
		<!-- sample -->
		<span ng-show="!isLoggedIn() && languageList.length > 1">		
			<li  ng-class="{ 'dir' : languageList.length > 0 }">
				<a  href >{{selectedLanguage.translated}}</a>
				<ul style="min-width: 90px;">
					<li ng-show="lang.code!=selectedLanguage.code" ng-model="selectedLanguage" ng-repeat=" lang in languageList" ><a  href="" ng-click="changeLanguage(lang)">{{lang.translated}}</a></li>
				</ul>
				</li>
		  
		</span>
		<!-- sample -->
		
	</ul>
	
</div>
</div>