
<div ng-controller="ModalLoginCtrl">
	<div class="pre-header-logged" ng-show="isLoggedIn()">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="menu-pre-header">
              <div class="dropdown">
                <button id="lang" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-default dropdown-toggle">Italiano<span class="caret"></span></button>
                <ul aria-labelledby="lang" class="dropdown-menu">
                  <li><a href="#">English</a></li>
                  <li><a href="#">Francaise</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="menu-pre-header text-right" ng-controller="catFunctionMenuCtrl" id="funMenu">
          		<div class="dropdown" 
          			ng-repeat="menu in menuList" 
          			ng-class="{'dir' : menu.subMenu.length > 0, 'noBorder' : menu.name == 'CON_USER' }" 
          			ng-show="(menu.showInMenu && !(menu.name == 'CON_SIGNOFF' || menu.name == 'CON_SIGNON')) && ((menu.name == 'CON_USER') ? isLoggedIn() : true) && hasActiveSubMenu(menu)">		
					
					<button ng-if="menu.name != 'CON_USER' && menu.subMenu.length > 0" id="{{menu.name | translate }}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-default dropdown-toggle">
						<span  ng-click="isLoginRequired(menu.signonRequired,menu)">{{menu.name | translate }}</span>
						<span class="caret"></span>
					</button>
					<button ng-if="menu.name == 'CON_USER' && menu.subMenu.length > 0" id="{{menu.userName}}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-default dropdown-toggle">
						<span ng-click="isLoginRequired(menu.signonRequired,menu)"> {{menu.userName}}</span>  
						<span class="caret"></span>
					</button>
					
					<a href="javascript:void(0);" ng-if="menu.name != 'CON_USER' && menu.subMenu.length < 1" ng-click="isLoginRequired(menu.signonRequired,menu)">{{menu.name | translate }}</a>
					<a href="javascript:void(0);" ng-if="menu.name == 'CON_USER' && menu.subMenu.length < 1" ng-click="isLoginRequired(menu.signonRequired,menu)">{{menu.userName}}</a>
					
					<ul aria-labelledby="documenti" class="dropdown-menu" ng-if="menu.subMenu.length > 0">				
	           			 <li ng-repeat="submenu in menu.subMenu">
	              			<a href="#" ng-click="isLoginRequired(submenu.signonRequired,submenu)" >{{submenu.name | translate}}</a>
	            		</li>
	          		</ul>          		
				</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>