 
<div class="listview">
  <div class="extendedInfo">
	  <label>{{'CON_EXTENDED_INFO' | translate}}: </label>
	  <input type="radio" ng-model="homeCatalogShowExtendInfo" value='true' name="CatalogueRB" class="" ng-change="onChangeExtendedInfo()"><label>{{'CON_YES' | translate}}</label>
	  <input type="radio" ng-model="homeCatalogShowExtendInfo" value='false' name="CatalogueRB" class="" ng-change="onChangeExtendedInfo()">  <label>{{'CON_NO' | translate}}</label>
  </div>
   <div class="right download">
 		<a  href="" class="right" ng-show="webSettings.showXmlIcon"  title="{{'CON_HOME_CAT_XML' | translate}}" > <img ng-src="./images/XML.png" ng-click="exportCatalogTableAsXML()" /> </a> 
 		<a  href="" class="right" ng-show="webSettings.showExcelIcon" title="{{'CON_HOME_CAT_EXCEL' | translate}}" > <img ng-src="./images/Excel.png" ng-click="exportCatalogTableAsExcel()" /> </a>
		<a  href="" class="right" ng-show="webSettings.showPdfIcon" title="{{'CON_HOME_CAT_PDF' | translate}}" > <img ng-src="./images/PDF.png" ng-click="exportCatalogTableAsPDF(homeCatalogue.description)" /> </a>
		<button ng-show="tableHeaders.isBuyingAllowed" type="button" name="" value="" class="buyIcon" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}" 
		ng-click="buyItems()" >{{'CON_BUY' | translate}}</button>
    	<button type="button" ng-show="isSignedIn" name="" value="" class="addToList" title={{addToListText}} ng-click="addMultipleItemsToCurrentList();" title={{addToListText}}>{{'CON_ADD_TO_LIST' | translate}}</button> 
</div>
<div class="extendedInfoTableWrapper">
<table class="homeCat_list">
    <thead>
    	<!-- ADM-016  -->
    	<tr> 
        <th ng-show="homeCatalogShowExtendInfo=='true'">
    	<th>
			<div class="sorting">
					<span class="sortingInnerWrap">												
						<a ng-class ="homeCatalogSort.getAscCSS('code')" shref="" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="Sorting('code','ASC')"></a>
						<a ng-class ="homeCatalogSort.getDescCSS('code')" shref="" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="Sorting('code','DESC')"></a>					
					</span>
					<span>{{'CON_MINSAN_CODE' | translate}}</span>
			</div>
		</th>
		<th>
			<div class="sorting">
					<span class="sortingInnerWrap">
 					<a ng-class ="homeCatalogSort.getAscCSS('description')" shref="" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="Sorting('description','ASC')"></a>
					<a ng-class ="homeCatalogSort.getDescCSS('description')" shref="" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="Sorting('description','DESC')"></a>
				
					</span>
					<span>{{'COH_DESCRIPTION' | translate}}</span>
			</div>
		</th>
			
		<th class="txtCenter">{{'COH_UNIT' | translate}}</th>
    
    	<th class="txt_right" ng-show="tableHeaders.actualPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')" >
			<div class="sorting contentRight paddingRight" style="width:115px">
					<span>{{'COH_ACTUAL_PRICE' | translate}} {{webSettings.currencyCode}}</span>
			</div>		 
		</th>
		
		<th class="txt_right" ng-show="tableHeaders.discountPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE')">
			<div class="sorting contentRight paddingRight">
					<span>{{'COH_DISCOUNT_PRICE' | translate}} {{webSettings.currencyCode}}</span>
			</div>
		</th>

		<th class="txt_right" ng-show="tableHeaders.discountPercentage && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL')">
			<div class="sorting contentRight paddingRight">
				<span>{{'CON_DISCOUNT_%' | translate}}</span>
			</div>
		</th>
    
    	<th>{{'COH_QUANTITY' | translate}}</th>
    	<!-- ADM-008 --><th>{{'COH_ALTERNATIVES' | translate}}</th>
    	</tr>
    	</thead>
 		<!-- ADM-016 END -->
 		
 		 
        <!-- <th ng:repeat="(i,th) in head"  ng:click="changeSorting(i)">{{th}}</th> -->
       <!--  <th ng-repeat="th in defaultViewHeader" ng-click="changeSorting(th)"> {{th.displayName}}</th>  -->
        <tbody>
        
            <tr ng-repeat="row in productList" >
            <!-- <tr ng-repeat="row in productList | orderBy:'-sectorCode'" > -->
            <td ng-show="homeCatalogShowExtendInfo=='true'" style="width:100px;">
            <div class="listViewImageWrapper">
             	  <a href=""  ng-click="showProductDetail(row.code);"><img class="attentionImage" ng-src="{{BASE_ADDRESS}}{{row.attentionImageURL}}" ng-show="row.isShowAttentionImage"/>
	             <img ng-src="{{BASE_ADDRESS}}{{row.imageUrl}}" onerror="getDefaultImg(this);"></a>
             </div>
             </td>
             
            <!-- ADM-016 -->
            	<td><a href=""  ng-click="showProductDetail(row.code);" >{{row.minsanCode}}</a></td>
            	
            	<td>
            		<a href=""  ng-click="showProductDetail(row.code);" >{{row.description}}</a>
            		<span ng-if="!webSettings.showFullWebTextInItemTable" ng-show="homeCatalogShowExtendInfo=='true'" class="itemWebTxt" ng-bind-html="renderHtml(row.itemWebText)"></span> 
           			<span ng-if="webSettings.showFullWebTextInItemTable" ng-show="homeCatalogShowExtendInfo=='true'" class="itemWebTxtFull" ng-bind-html="renderHtml(row.itemWebText)"></span>
            	</td>
            	
            	<td class="quantityColumn"> 
           		 <div class="select-style right">	            
           			<select  ng-model="row.selectedUnitObject"  ng-options="unit.salesUnitDesc for unit in row.salesUnitsDesc track by unit.salesUnitDesc" ng-change="onUnitChange(row.code,row.selectedUnitObject.salesUnit,row)">  					
					</select> 				
            	</td>
            	
            	<td ng-show="tableHeaders.actualPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')" class="txt_right nowrap">
            		<a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)"> <span>{{row.actualPrice}} </span> </a>
            	</td>
            	
            	<td ng-show="tableHeaders.discountPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE')" class="txt_right"><a href="" ng-show="webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE'" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)" >{{row.discountPrice}}</a> </td>

	            <td ng-show="tableHeaders.discountPercentage && webSettings.isShowPrice && webSettings.allowDiscountDisplay=='*ALL'" class="txt_right"><a href="" ng-show="webSettings.allowDiscountDisplay=='*ALL'" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)">{{row.discountPercentageText}}</a> </td>
	            
            	<td   class="quantityColumn">
		              <div ng-show = "row.selectedUnitObject != null" class="nowrap left" style="width:100px;">
	    	         	 <span ng-show="isSignedIn && !row.isMatrixBaseItem" class="left">
              			<input ng-model="row.quantity" type="text" class="txt_right buyInput" ng-class ="{ 'error': !row.validQuantity, '' : row.validQuantity}" ng-change="checkValidQuantity(row,row.quantity)" title="{{row.quantityBoxMsg}}"/> 
              		</span>
		            <span ng-if="showHide(row.isBuyingAllowed) && !row.isMatrixBaseItem && !isShopCartItem(row.code)" >
						<button type="button" name="" value="" class="buyIcon" ng-click="buyItems(row)" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}">{{'CON_BUY' | translate}}</button>
					</span>
					<span ng-if="showHide(row.isBuyingAllowed) && !row.isMatrixBaseItem && isShopCartItem(row.code)">
						<span  class="addedInCart left"  ng-click="buyItems(row)"  title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span>
					</span>
					<span ng-if="isSignedIn && !row.isMatrixBaseItem" ng-show = "row.selectedUnitObject != null" class="">
							<button ng-disabled="row.selectedUnitObject == null" type="button" name="" value="" class="addToListTableView" title={{addToListText}} ng-click="addItemToCurrentList(row);" title={{addToListText}}>{{'CON_ADD_TO_LIST' | translate}}</button> 
					</span> 
					<!-- ADM-009 -->
					<img class="promotionImageListView" ng-src="images/Available.png" title="Item has promotion" ng-show="row.hasPromoP1OrP2">
					<img class="hospitalImageListView" ng-src="images/H.png" ng-show="row.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}" >
					<!-- ADM-009 end -->
	         	  </div>
	              <span ng-show="row.isMatrixBaseItem">
	               <a href=""  ng-click="showProductDetail(row.code);">
	            	{{row.segmentationDesc2}}/{{row.segmentationDesc3}}</a>
	              </span>
	            </td>
				<!-- ADM-008 Begin -->
				<td><a href="" ng-show="hasAlternative(row)"
					ng-click="alternativeClicked(row.code);"><button
							class="Alternative" title="{{'CON_ALTERNATIVES_ITEMS' | translate}}">AL</button></a></td>
				<!-- ADM-008 End -->
            <!--  ADM-016 END -->
        </tr>
     </tbody>
    
 </table>
 </div>
</div>
<!-- <a href="" class="loadMoreButton" style="">{{'MSG_LOADING_MORE_ITEMS' | translate}}</a> -->
<div ng-show="isShowBottomLoader()" class="loadInfoWrapper">{{'MSG_LOADING_MORE_ITEMS' | translate}}</div> 