	<p class="pageTitle">{{'CON_INTERRUPTED_CARTS' | translate}}</p>
	<div class="interruptedCartTableWrapper">
		<div>
		<p class="infowrapper">{{"TXT_CLICK_NTERRUPT_CART_ICON_01" | translate }} <img ng-src="images/InterruptedCartIcon1.png"/> {{"TXT_CLICK_NTERRUPT_CART_ICON_02" | translate }}</p>
		</div>
		<table ng-hide="isInterruptedCartEmpty">
		<thead>
				<tr>
					<th>{{'CON_SELECT' | translate}}</th>
					<th>{{'COH_ACTIONS' | translate}}</th>
					<th>{{'CON_ORDER' | translate}}</th>
					<th>{{'COH_DATE' | translate}}</th>
					<th>{{'CON_VALUE' | translate}}</th>
					<th>{{'COH_LINES' | translate}}</th>
					<th>{{'COH_IN_USE' | translate}}</th>
					<th>{{'CON_CONFIRMED' | translate}}</th>
					<th>{{'CON_GOODS_MARKING' | translate}}</th>
				</tr>
			</thead>
			<tbody>			
				<tr ng-repeat="cart in interruptedCarts">
					<td><input ng-model="cart.checked" type="checkbox"></input></td>
					<td><a  href="" ng-click="editCart(cart)"><img ng-src="images/InterruptedCartIcon1.png"/> </a> <span ng-show="cart.showWarning || cart.inUse"><img src="images/InterruptedCartIcon2.png"/></span></td>
					<td> {{cart.orderNumber}}</td>
					<td> {{cart.date}}</td>
					<td> {{cart.value}} {{cart.currencyCode}}</td>
					<td> {{cart.lineCount}}</td>
					<td> {{cart.inUse}}</td>
					<td> {{cart.isConfirmed}}</td>
					<td class="goodsMarking">{{cart.goodsMarking}}</td>
				</tr>								
			</tbody>
		</table>
	
		<div class="sep_tbl"></div>
		<label ng-hide="isInterruptedCartEmpty" class="selectAll">{{'CON_SELECT_ALL' | translate}}<input ng-model="selectAll" ng-init="selectAll=false" type="checkbox" ng-change="toggleSelectAll(selectAll)" class="left" /></label> 
		<button title="{{'CON_DELETE'|translate}}" ng-hide="isInterruptedCartEmpty"  class="delete-cart-icon" ng-click="deleteInterruptedCarts()">{{'CON_DELETE_CARTS' | translate}}</button>
		
		<div class="interruptedCartInfo">
		<p class="left warning" ng-bind-html="getTranslatedHTML('TXT_OE_002_01')"></p><img ng-src="images/InterruptedCartIcon2.png" class="left"/> <p class="left" ng-bind-html="getTranslatedHTML('TXT_OE_002_02')"></p>
		<p class="clr_left" ng-bind-html="getTranslatedHTML('TXT_OE_002_03')"></p>
		<p ng-bind-html="getTranslatedHTML('TXT_OE_002_04')"></p>
		<p ng-bind-html="getTranslatedHTML('TXT_OE_002_05')"></p>
		<p ng-bind-html="getTranslatedHTML('TXT_OE_002_06')"></p>
		</div>
		<div class="buttonWrapper">
			<div class="buttonWrapper clr_left">				
				<button class="backButton right" value="" name="" type="button" ng-click="goShoppingCart()">{{'CON_BACK' | translate}}</button>
			</div>
		</div>


		
	</div>

