<div class="listview invoicePage" ng-controller="invoiceHistoryCtrl" ng-show="showRequestBase">
		<div ng-show="isShowInnerLoader()" class="pageLoader">
	<div class="inner"></div>
	</div>
	<p class="left selectOrderLines">{{'CON_SELECT_INVOICE' | translate}} </p>
	<div class="sep"></div>
	<div>
		<section class="new-search">
		<p ng-model="isCollapsed" ng-click="isCollapsed = !isCollapsed">{{'CON_NEW_SEARCH' | translate}} <a ng-class ="{'exp-collapse-arrow': !isCollapsed, 'exp-plus-arrow': isCollapsed}">{{'CON_NEW_SEARCH' | translate}}</a> </p>		
	
			
		<div  ng-show="isCollapsed">
		<form class="search-form" role="form" ng-submit="submitFilter()" name="searchForm">
				 <div ng-repeat="filter in filterList.getFilters()">
					<div ng-show="filter.isEnabled" class="search-form-wrapper">					
						<label for = "filter.filterParam">{{filter.filterName | translate}} :</label> 
						<span ng-show ="filter.isInputList">
						<div class="select-style">
							<select name="" id="filter.filterParam" ng-model="filter.selectedItems" >				
								 <option ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" ng-repeat="resultperPage in resultPerPageList" ng-selected="resultperPage == filter.resultCount">{{resultperPage}}</option>
								 <option ng-if="filter.filterName == 'CON_CUSTOMER'" ng-repeat="item in filter.dataList" ng-value="item.code"  ng-selected="item.defaultCode == item.code"> {{item.description}} </option>
								 <option ng-if="filter.filterName != 'CON_CUSTOMER'" ng-repeat="item in filter.dataList" ng-value="item.code"  ng-selected="filterDetailSettings[filter.dataListName][0].code == item.code"> {{item.description}} </option>								 
							</select> 
							</div>
						</span>
						<span ng-show ="!filter.isInputList">							
							<input ng-if= "filter.numericType" type="text" id= "filter.filterParam" 
							name="filter.filterParam" ng-model="filter.selectedItems" 
							ng-blur ="validateNumber(filter,filter.selectedItems)" ng-mouseleave="validateNumber(filter,filter.selectedItems)"/> 
							<span ng-if= "filter.numericType"><p class="validationMsg ">  {{filter.validationMsg}} </p> </span>
							<input ng-if= "!filter.numericType" type="text" id= "filter.filterParam" name="filter.filterParam"  ng-model="filter.selectedItems"   />
						</span>
					
					</div>
				</div> 	
				<div class="submit clr_both"><button class="yellowButton right" ng-disabled="isFilterHasError(filterList.getFilters())">{{'CON_START_SEARCH' | translate}}</button></div>
			</form>
		</div>	
		<p class="clr_left" ng-bind-html="renderHtml(filterMsg)"></p>	
	    </section>	
	</div>
	 
	<div class="sep"></div>
	<section>
		<div class="invoice-search" >
		<div class="scrollTableTop" id = "result_set"></div>
			<!--  ."documentType","invoiceNumber","invoiceDate","typeCode","typeDescription","invoiceCustomer","vatFlag","amount","orderNumber","orderDate","salesman".; -->
			<table>
				<thead>
					<tr>
						<th>
							<div><span>{{'CON_SELECT' | translate}} </span>	</div>			
						</th>
						<th class="txt_right">				
						<div class="sorting contentRight paddingRight">
						<span class="sortingInnerWrap">		
							<a ng-class ="sort.getAscCSS('invoiceNumber')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('invoiceNumber')"></a>
	      				 	 <a ng-class="sort.getDescCSS('invoiceNumber')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('invoiceNumber')"></a>										
						</span>
								<span> {{'CON_INVOICE' | translate}}</span>
							</div>
						</th>
						<th>
						<div class="sorting">
						<span class="sortingInnerWrap">												
						 	<a ng-class ="sort.getAscCSS('invoiceDate')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('invoiceDate')"></a>
	      				 	 <a ng-class="sort.getDescCSS('invoiceDate')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('invoiceDate')"></a>										
						</span>
								<span> {{'COH_DOCUMENT_DATE' | translate}}</span>
							</div>				
						</th>				
						<th>
						
						<div class="sorting">
						<span class="sortingInnerWrap">
						 	<a ng-class ="sort.getAscCSS('Type')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Type')"></a>
	      				 	 <a ng-class="sort.getDescCSS('Type')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Type')"></a>										
						</span>
								<span>{{'COH_TYPE' | translate}}</span>
							</div>						
						</th> 
						<th ng-show="isColExist('invoiceCustomer',propertyList)">
						<div class="sorting">
						<span class="sortingInnerWrap">
						 	<a ng-class ="sort.getAscCSS('Customer')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Customer')"></a>
	      				 	 <a ng-class="sort.getDescCSS('Customer')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Customer')"></a>										
						</span>
								<span>{{'COH_INVOICE_CUSTOMER' | translate}}</span>
							</div>				
						</th>				
						<th class="txt_right">
						<div class="sorting contentRight paddingRight">
						<span class="sortingInnerWrap">
						 	<a ng-class ="sort.getAscCSS(SortByAmount)" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC(SortByAmount)"></a>
	      				 	 <a ng-class="sort.getDescCSS(SortByAmount)" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC(SortByAmount)"></a>										
						</span>
								<span>{{headingAmount}}</span>
							</div>		
						</th>
						<th class="txt_right">
						<div class="sorting contentRight paddingRight">
						<span class="sortingInnerWrap">
						 	<a ng-class ="sort.getAscCSS('orderNumber')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('orderNumber')"></a>
	      				 	 <a ng-class="sort.getDescCSS('orderNumber')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('orderNumber')"></a>										
						</span>
								<span> {{'CON_ORDER' | translate}}</span>
							</div>
						</th>
						<th>
						<div class="sorting">
						<span class="sortingInnerWrap">
						 	<a ng-class ="sort.getAscCSS('orderDate')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('orderDate')"></a>
	      				 	 <a ng-class="sort.getDescCSS('orderDate')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('orderDate')"></a>										
						</span>
								<span>{{'CON_ORDER_DATE' | translate}}</span>
							</div>
						</th>
						<th>
						<div class="sorting">
						<span class="sortingInnerWrap">
						 	<a ng-class ="sort.getAscCSS('salesman')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('salesman')"></a>
	      				 	 <a ng-class="sort.getDescCSS('salesman')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('salesman')"></a>										
						</span>
								<span>{{'COH_SALESMAN' | translate}}</span>
							</div>
						</th>						
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in invoiceData" >
						<td><input name="invoice" type="radio"  ng-model ="selectedRequest['invoice']" ng-value="row" value="{{row}}" ng-checked="selectedRequest.invoice.invoiceNumber == row.invoiceNumber" ng-click="selectedRequest['selected']= true" /></td>		
						<td class="txt_right"><a href="" ng-click="showInvoiceDetail(row,false);">{{row.invoiceNumber}}</a></td>
						<td>{{row.invoiceDate}}</td>				
						<td>{{row.typeDescription}}</td>
						<td ng-show="isColExist('invoiceCustomer',propertyList)">{{row.invoiceCustomer}}</td>				
						<td class="txt_right">{{row.amount}}</td>
						<td>
						<!-- <a href="" ng-click="showInvoiceDetail(row);">{{row.orderNumber}}</a> -->
							<span ng-show="row.mergeInvoiceFlag"><a shref="" title="{{row.mergeInvoiceText | translate }}" ><img ng-src="./images/MergeInvoices.png"></a> </span>
						<div class="txt_right"><span ng-show="!row.mergeInvoiceFlag"><a href="" ng-click="showOrderDetail(row)">{{row.orderNumber}}</a></span></div>  
					
						</td>
						<td>{{row.orderDate}}</td>
						<td>{{row.salesman}}</td>
					</tr>
					<tr ng-show ="!dataFound">
						 <td colspan="9">{{pageLoadMsg}}</td>
					</tr>
				</tbody>
			</table>
			<div class="sep_tbl"></div>
			<div class="buttonWrapper clr_left right">
			<a class="backButton left" href="" ng-click="goBack()" >{{'CON_BACK' | translate}}   </a>
			<button class="closeCart right" value="" name="" type="button" ng-click = "showInvoiceDetail(selectedRequest['invoice'],true);"  ng-disabled="!selectedRequest['selected']">{{'CON_SELECT_INVOICE_LINES'| translate}}</button>
			</div>
			<div class="buttonWrapper clr_left left">
				<button href="" class="goFirstArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="getFirstPage()" title = "{{'CON_FIRST_PAGE' | translate}}">{{'CON_FIRST_PAGE' | translate}} </button>
			<button href="" class="previousArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}">{{'CON_PREVIOUS_PAGE' | translate}} </button>
			<button href="" class="nextArrow" ng-disabled="!dataFound || !moreDataArrow"  ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}">{{'CON_NEXT_PAGE' | translate}} </button>
		</div>
		</div>
	</section>
</div>
