<div class="listview invoiceDetailPage" ng-controller="invoiceDetailCtrl">
	<div class="page-heading">
	 <span class="order-info">{{'CON_INVOICE_DETAIL' | translate }}</span>
	 <div class="order-details">
	 <label>{{'CON_DOCUMENT_TYPE' | translate}} : </label>
	 <span class="section-value">{{invoiceDetails.documentType}}</span>
	  <label>{{'CON_INVOICE_NUMBER' | translate}} : </label>
	  <span class="section-value">{{invoiceDetails.invoiceNumber}}</span>
	  </div>
	  </div>
	<div class="sep">
	
	</div>
		<div ng-show="isMergeInvoice">
		<div class="right download">
	<a ng-show="invoiceDetails.invoiceMailAllowed" ng-show="isSignedIn" title="{{'CON_SEND_INVOICE' | translate}}" class="emailIcon" 
						ng-click="sendInvoiceMail()"> </a>	
		<button type="button" ng-show="isSignedIn && !isMergeInvoice" name="" value="" class="buyIcon" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}"
		ng-click="invoiceDetailBuyItems()" >{{'CON_BUY' | translate}}</button>
		<button type="button" ng-show="isSignedIn && !isMergeInvoice" name="" value="" class="addToList" title={{addToListText}}
		 ng-click="addMultipleItemsToCurrentList();">{{'CON_ADD_TO_LIST' | translate}}</button> 
		 <a href="" ng-if="1==2" class="right" ng-show="webSettings.showPdfIcon" title="{{'CON_INVOICE_DETAIL_PDF' | translate}}"> <img ng-src="./images/PDF.png" ng-click="exportInvoiceLineTableAsPDF();" /> </a>
	</div>
	<div class="sep"></div>
	</div>
	<section name="invoiceLine" > 
	
	</section>	<section name="invoiceLine" ng-show="!isMergeInvoice">
	<div class="right download">
	<a ng-show="invoiceDetails.invoiceMailAllowed" title="{{'CON_SEND_INVOICE' | translate}}" class="emailIcon" 
						ng-click="sendInvoiceMail()"> </a>	
		<button type="button" name="" value="" class="buyIcon" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}"
		ng-click="invoiceDetailBuyItems()" >{{'CON_BUY' | translate}}</button>
		<button type="button" ng-show="isSignedIn" name="" value="" class="addToList" title={{addToListText}}
		 ng-click="addMultipleItemsToCurrentList();">{{'CON_ADD_TO_LIST' | translate}}</button>
		 <!-- ADM-012 
		 <a href="" class="right" ng-show="webSettings.showPdfIcon" title="{{'CON_INVOICE_DETAIL_PDF' | translate}}"> <img ng-src="./images/PDF.png" ng-click="exportInvoiceLineTableAsPDF();" /> </a>
		 -->
		 <a href="" class="right" ng-show="webSettings.allowInvoiceDownload && invoiceDetails.pdfFile != ''" title="{{'CON_INVOICE_DETAIL_PDF' | translate}}"> <img ng-src="./images/PDF.png" ng-click="exportInvoiceLineTableAsPDF();" /> </a>
	</div>
		<p class = "clr_left">{{'CON_INVOICE_LINE' | translate }}</p> 
		<div class="sep"></div>
		<div class="mainCatListScrollTable"> 
		<table>
			<thead>
				<tr>
					<th class="txt_right" ng-click="" > {{'CON_LINE' | translate }}</th>
					<th ng-click=""> {{'COH_ITEM' | translate }}</th>
					<th ng-click=""> {{'COH_DESCRIPTION' | translate }}</th>				
					<th class="txt_right" ng-click=""> {{'COH_QUANTITY' | translate }}</th>
					<th ng-click=""> {{'COH_UNIT' | translate }}</th>				
					<th class="txt_right" ng-click="" ng-show="isColExist('salesPrice',propertyList)">{{'CON_PRICE' | translate}} {{currency}}</th>
					<th class="txt_right" ng-click="" ng-show="isColExist('amount',propertyList)">{{'CON_VALUE' | translate}} {{currency}}</th>
					<th ng-click="" class="dateColumn">{{'COH_DELIVERY_DATE' | translate}}</th>
					<th class="quantityColumn" ng-click="">{{'COH_QUANTITY' | translate}}</th>
					<th class="txt_center">{{'CON_AVAILABLE' | translate}}</th>
					<th ng-click="">{{'COH_ENQUIRY_ON_ITEMS' | translate}}</th>
					<!-- <th ng-click="" ng-show="isColExist('warehouseDesc',propertyList)"> {{'COH_WAREHOUSE' | translate}}</th> -->
					<th ng-click="">{{'COH_SHIPMENT_MARKING' | translate}}</th>
				</tr>
			 </thead>
			<tbody>
					<tr ng-repeat="row in invoiceLineData">
						<td class="txt_right"><a href="" ng-click="showInvoiceLineDetail(row);">{{row.invoiceLineNumber}}</a> </td>
						<td><a href="" ng-click="showProductDetail(row.item);">{{row.item}} </a></td>
						<td><a href="" ng-click="showProductDetail(row.item);">{{row.itemDescription}}</a> </td>
						<td class="txt_right">{{row.quantity}} </td>
						<td>{{row.unitCodeDesc}} </td>
						<td class="txt_right" ng-show="isColExist('salesPrice',propertyList)">{{row.salesPrice}} </td>
						<td class="txt_right" ng-show="isColExist('amount',propertyList)">{{row.amount}} </td>
						<td>{{row.dispatchDate}} </td>
						<td><span class="nowrap">
						
							  <span  ng-show="isSignedIn" class="left">
				              		<input id="getId('text',row.item)" ng-model="row.newQuantity" type="text" class="txt_right buyInput" ng-class ="{ 'error': !row.validQuantity, '' : row.validQuantity}" ng-change="checkValidQuantity(row,row.newQuantity)" title="{{row.quantityBoxMsg}}"/> 
				              </span>
					            <span ng-if="row.isBuyAllowed && !isShopCartItem(row.item)" >
												<button type="button" name="" value="" class="buyIcon" ng-click="invoiceDetailBuyItems(row)" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}">{{'CON_BUY' | translate}}</button>
								</span>
								<span ng-if="row.isBuyAllowed  && isShopCartItem(row.item)">
												<span  class="addedInCart left"  ng-click="invoiceDetailBuyItems(row)"  title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span>
								</span>
					            <span ng-if="isSignedIn" class="">
												<button type="button" name="" value="" class="addToListTableView" title={{addToListText}} ng-click="addMultipleItemsToCurrentList(row);" >{{'CON_ADD_TO_LIST' | translate}}</button> 
								</span>
							
							
							</span>
						</td>
						
						<!-- td for availbility -->
						<td class="txt_center">
							<span class="txt_center" ng-show="row.showAvailabilityAsLink && row.showAvailabilityAsImage"> 
								<a href="" ng-click="showProductDetail(row.item,true);"><img ng-src="images/{{row.availabilityImageName}}" title="{{'CON_WAREHOUSE_INFORMATION' | translate}}"/> </a> 
							</span>
							<span class="txt_center" ng-show="!row.showAvailabilityAsLink && row.showAvailabilityAsImage"> 
								<a href="" ng-click="showProductDetail(row.item,true);"><img ng-src="images/{{row.availabilityImageName}}" /></a>
							</span>  
							<span class="txt_right" ng-show="row.showAvailabilityAsLink && !row.showAvailabilityAsImage"> 
								<a href="" ng-click="showProductDetail(row.item,true);" >{{row.availabilityText}} </a>
							</span>
							<span class="txt_right" ng-show="!row.showAvailabilityAsLink && !row.showAvailabilityAsImage"> 
								 {{row.availabilityText}}
							</span>  
						</td>
						<td class="txt_center"> <a ng-show="row.showEnquiryImage && (webSettings.sendMailOnRequest =='*ALL' || webSettings.sendMailOnRequest =='*INVOICE')" title="{{'CON_CLICK_TO_SEND_EMAIL_ENQUIRY_PRODUCT' | translate}}" class="emailIcon" 
						ng-click="sendPrdEnquiry(row.item,row.itemDescription)"></a> </td>
						<!-- <td ng-show="isColExist('warehouseDesc',propertyList)">{{row.warehouseDesc}} </td> -->
						<td>{{row.shipmentMarking}} </td>
					</tr>
					<tr ng-show ="!dataFound">
						 <td colspan="12"><span class="noMoreData">{{pageLoadMsg}}</span></td>
					</tr>
					
			 </tbody>
		</table>
		<div class="sep_tbl"></div>
		
			</div>
			<div class="buttonWrapper clr_left left">
<!-- 			<button class="goFirstArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="getFirstPage()" title = "{{'CON_FIRST_PAGE' | translate}}">{{'CON_FIRST_PAGE' | translate}} </button> -->
<!-- 			<button class="previousArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}">{{'CON_PREVIOUS_PAGE' | translate}} </button> -->
<!-- 			<button class="nextArrow" ng-disabled="!dataFound || !invoiceDetails.moreRecords"  ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}">{{'CON_NEXT_PAGE' | translate}} </button> -->
			
			</div>
	<div class="buttonWrapper right">
			<a class="backButton left" href="" ng-click="goBack()" >{{'CON_BACK' | translate}}   </a>
   	
	</div>
	</section>
		
	<section name="basicInformation" class="clr_left blankMargin">
	    <p>
			{{'CON_BASIC_INFORMATION' | translate}} <a shref="" ng-model="collapsed_basicInformation" ng-click="collapsed_basicInformation=!collapsed_basicInformation" ng-class ="{'exp-plus-icon': collapsed_basicInformation, 'exp-collapse-icon': !collapsed_basicInformation}">a</a>
		</p>
		<div class="sep"></div>
		<div ng-show="!collapsed_basicInformation" ng-class ="section-data">
			<table class="invoice-detail-table">	
				<tr><td> {{'COH_CUSTOMER' | translate}}: </td> <td class="section-value"> {{invoiceDetails.customerCode}}</td><td class="section-value">{{invoiceDetails.customerDesc}}</td><td colspan="3">&nbsp;</td></tr>
				<tr><td> {{'CON_DOCUMENT_DATE' | translate}}: </td> <td class="section-value"> {{invoiceDetails.documentDate}}</td><td colspan="3">&nbsp;</td></tr>
				<tr><td> {{'COH_CURRENCY' | translate}}: 	 </td> <td class="section-value"> {{invoiceDetails.primeCurrency}}</td><td colspan="3">&nbsp;</td></tr>
				<tr><td ng-show="isColExist('amountExcludingVAT',invoiceDetailsPropList)" > {{'CON_INVOICE_VALUE_EXCLUDING_VAT' | translate}} :  </td> <td class="section-value" ng-show="isColExist('amountExcludingVAT',invoiceDetailsPropList)"> {{invoiceDetails.amountExcludingVAT}}</td><td colspan="1">&nbsp;</td><td ng-show="isColExist('amountIncludingVAT',invoiceDetailsPropList)"> {{'CON_INVOICE_VALUE_INCLUDING_VAT' | translate}}:  </td> <td class="section-value" ng-show="isColExist('amountIncludingVAT',invoiceDetailsPropList)"> {{invoiceDetails.amountIncludingVAT}}</td></tr>			
				<tr><td ng-show="isColExist('goodsMarking',invoiceDetailsPropList)"> {{'COH_GOODS_MARKING' | translate}}: 	 </td> <td class="section-value" ng-show="isColExist('goodsMarking',invoiceDetailsPropList)"> {{invoiceDetails.goodsMarking}}</td><td colspan="3">&nbsp;</td></tr>
				<tr ng-show="isColExist('motCode',invoiceDetailsPropList) || isColExist('motDesc',invoiceDetailsPropList) "><td>{{'CON_MANNER_OF_TRANSPORT' | translate}}: </td> <td class="section-value"> {{invoiceDetails.motCode}}</td><td class="section-value"> {{invoiceDetails.motDesc}}</td><td colspan="2">&nbsp;</td></tr>
				<tr ng-show="isColExist('todCode',invoiceDetailsPropList) || isColExist('todDesc',invoiceDetailsPropList) "><td>{{'CON_TERMS_OF_DELIVERY' | translate}}:</td> <td class="section-value"> {{invoiceDetails.todCode}}</td><td class="section-value"> {{invoiceDetails.todDesc}}</td><td colspan="2">&nbsp;</td></tr>
				<tr ng-show="isColExist('topCode',invoiceDetailsPropList) || isColExist('topDesc',invoiceDetailsPropList) "><td> {{'CON_TERMS_OF_PAYMENT' | translate}}:</td> <td class="section-value"> {{invoiceDetails.topCode}}</td><td class="section-value"> {{invoiceDetails.topDesc}}</td><td colspan="2">&nbsp;</td></tr>

			</table>
		</div>
	</section>

	<section name="orderInformation">
		 <p>
			{{'CON_ORDER_REFERENCES' | translate}} <a shref="" ng-model="collapsed_orderInformation" ng-click="showOrderReferences();" ng-class ="{'exp-plus-icon': !collapsed_orderInformation, 'exp-collapse-icon': collapsed_orderInformation}">a</a>
		</p>
		<div class="sep"></div>
		<div ng-show="collapsed_orderInformation" ng-class ="section-data"> 
				<table class="invoice-detail-table">
				<tr><td>{{'CON_ORDER_NUMBER' | translate}} :</td><td class="section-value"> {{invoiceDetails.orderNumber}}</td> <td>&nbsp;</td> <td>{{'COH_ORDER_DATE' | translate}} :</td><td class="section-value"> {{invoiceDetails.orderDate}}</td></tr>				
				<tr><td>{{'CON_HANDLER' | translate}} :</td><td class="section-value"> {{invoiceDetails.handlerCode}}</td><td class="section-value">{{invoiceDetails.handlerDesc}}</td><td colspan="2">&nbsp;</td></tr>
				<tr><td>{{'CON_SALES_PERSON' | translate}} :</td><td class="section-value">{{invoiceDetails.salespersonCode}}</td><td class="section-value">{{invoiceDetails.salespersonDesc}}</td><td colspan="2">&nbsp;</td></tr>
				<tr ng-show="isColExist('orderReference',invoiceDetailsPropList)"><td>{{'CON_ORDER_REFERENCES' | translate}} :</td><td class="section-value">{{invoiceDetails.orderReference}}</td><td colspan="3">&nbsp;</td></tr>
				<tr ng-show="isColExist('yourReference',invoiceDetailsPropList)"><td>{{'COH_YOUR_REFERENCE' | translate}} :</td><td class="section-value">{{invoiceDetails.yourReference}}</td><td colspan="3">&nbsp;</td></tr>
		 
		 		
		 		</table>

		</div>
	</section>

	<section name="address">
		 <p>
			{{'COH_ADDRESS' | translate}} <a shref="" ng-model="collapsed_address" ng-click="collapsed_address=!collapsed_address" ng-class ="{'exp-plus-icon': !collapsed_address, 'exp-collapse-icon': collapsed_address}">a</a>
			<div class="sep"></div>
		</p>
		
		
		<div ng-show="collapsed_address"   ng-class ="section-data">
			<!-- div>{{'CON_INVOICE_ADDRESS' | translate}}:</div-->
			<div ng-show="isListEmpty(invoiceDetails)">{{resultMsg}}</div>
			<table class="invoice-detail-table">
				<tr>
					<td>{{'CON_INVOICE_ADDRESS' | translate}} :</td><td colspan="2">&nbsp;</td>
				
				</tr>
				<tr>
					<td class="section-value" ng-bind-html="renderHtml(invoiceDetails.address)"></td><td colspan="2">&nbsp;</td>
				
				</tr>
			</table>
			
			<!-- div class="" ng-bind-html = "renderHtml(invoiceDetails.address)"></div-->	
			<!-- <div ng-repeat = "address in invoiceAddressList">		
			
			<div class="section-value">{{address.addressLine1}}</div>
			<div class="section-value">{{address.addressLine2}}</div>
			<div class="section-value">{{address.addressLine3}}</div>
			<div class="section-value">{{address.addressLine4}}</div>
			<div class="section-value">{{address.postalCode}}</div>
			<div class="section-value">{{address.country}}</div>
			<div class="section-value">{{address.addressType}}</div>
			<div class="section-value">{{address.sequence}}</div>-->
			
		 </div>
	</section>
<div class="buttonWrapper right" ng-show="isMergeInvoice">
			<a class="backButton left" href="" ng-click="goBack()" >{{'CON_BACK' | translate}}   </a>
   	
	</div>

</div>