<div class="listview invoicePage" ng-controller="invoiceHistoryCtrl">
	<p class="left">{{'CON_INVOICE_SEARCH' | translate}} </p>
	<div class="right download">

 		<a href="" class="right" ng-show="webSettings.showXmlIcon" title="{{'CON_INVOICE_XML' | translate}}"> <img ng-src="./images/XML.png" ng-click="exportInvoiceTableAsXML();" /> </a> 
 		<a href="" class="right" ng-show="webSettings.showExcelIcon" title="{{'CON_INVOICE_EXCEL' | translate}}"> <img ng-src="./images/Excel.png" ng-click="exportInvoiceTableAsExcel();" /> </a>
		<a href="" class="right" ng-show="webSettings.showPdfIcon" title="{{'CON_INVOICE_PDF' | translate}}"> <img ng-src="./images/PDF.png" ng-click="exportInvoiceTableAsPDF();" /> </a>

</div> 
	<div class="sep"></div>
	<div>
		<section class="newSearch clr_left">
		<p ng-model="isCollapsed" ng-click="isCollapsed = !isCollapsed">{{'CON_NEW_SEARCH' | translate}} <a ng-class ="{'exp-collapse-arrow': !isCollapsed, 'exp-plus-arrow': isCollapsed}">{{'CON_NEW_SEARCH' | translate}}</a> </p>		
	
			
		<div  ng-show="isCollapsed">
		<form class="search-form" role="form" ng-submit="submitFilter()" name="searchForm">
				 <div ng-repeat="filter in filterList.getFilters()">
					<div ng-show="filter.isEnabled" class="search-form-wrapper">					
						<label for = "filter.filterParam">{{filter.filterName | translate}} :</label> 
						<span ng-show ="filter.isInputList">
						<div class="select-style">
							<select ng-if= "filter.filterName != 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems" ng-options="item.code as item.description for item in filter.dataList"  >	
							</select>
							<select ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems">
							<option ng-repeat="resultperPage in resultPerPageList" >{{resultperPage}}</option> 
							</select> 
							<!--	<select name="" id="filter.filterParam" ng-model="filter.selectedItems" >
									<option ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" ng-repeat="resultperPage in resultPerPageList" ng-selected="filterList.setResultPerPageListOption(filter,resultperPage)">{{resultperPage}}</option>
							<option ng-repeat="item in filter.dataList" ng-value="item.code" ng-selected="filterList.setSelectedOption(filter,item)"> {{item.description}} </option>
							</select>          -->                                                                                                              
														
							</div>
						</span>
						<span ng-show ="!filter.isInputList">							
							<input ng-if= "filter.numericType" type="text" id= "filter.filterParam" 
							name="filter.filterParam" ng-model="filter.selectedItems" 
							ng-blur ="validateNumber(filter,filter.selectedItems)" ng-mouseleave="validateNumber(filter,filter.selectedItems)"/> 
							<span ng-if= "filter.numericType"><p class="validationMsg ValidationMsgOrder">  {{filter.validationMsg}} </p> </span>
							<input ng-if= "!filter.numericType" type="text" id= "filter.filterParam" name="filter.filterParam"  ng-model="filter.selectedItems"   />
						</span>
					
					</div>
				</div> 	
				<div class="submit clr_both"><button class="yellowButton right" ng-disabled="isFilterHasError(filterList.getFilters())">{{'CON_START_SEARCH' | translate}}</button></div>
			</form>
			
		</div>	
		<p class="" ng-bind-html="renderHtml(filterMsg)"></p>	
	    </section>	
	</div>
	 
	<div class="sep"></div>
	<div class="scrollTableTop" id = "result_set"></div>
	<section >
		<div class="invoice-search mainCatListScrollTable clr_left" >
			<!--  ."documentType","invoiceNumber","invoiceDate","typeCode","typeDescription","invoiceCustomer","vatFlag","amount","orderNumber","orderDate","salesman".; -->
			<table class="invoiceHistoryTable">
				<thead>
					<tr>
						<!--  <th>
							<div class="sorting">
						<span class="sortingInnerWrap">												
							<a ng-class ="{ 'ascending_selected': showSelection('documentTypeASC'), 'ascending' :  !showSelection('documentTypeASC')  }" shref="" title="ascending" ng-click="Sorting('documentType','ASC')"></a>
							<a ng-class ="{ 'decending_selected':  showSelection('documentTypeDESC'), 'decending' :  !showSelection('documentTypeDESC') }" shref="" title="decending" ng-click="Sorting('documentType','DESC')"></a>					
						</span>
								<span>{{'COH_DOCTYPE' | translate}}</span>
							</div>
						</th> -->
						 
						<th class="txt_right">				
						<div class="sorting contentRight paddingRight">
						<span class="sortingInnerWrap">	
						 	<a ng-class ="sort.getAscCSS('invoiceNumber')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('invoiceNumber')"></a>
	      				 	 <a ng-class="sort.getDescCSS('invoiceNumber')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('invoiceNumber')"></a>										
																	
						</span>
								<span> {{'CON_INVOICE' | translate}}</span>
							</div>
						</th>
						<th>
						<div class="sorting">
						<span class="sortingInnerWrap">
						 	<a ng-class ="sort.getAscCSS('invoiceDate')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('invoiceDate')"></a>
	      				 	 <a ng-class="sort.getDescCSS('invoiceDate')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('invoiceDate')"></a>										
						</span>
								<span> {{'COH_DOCUMENT_DATE' | translate}}</span>
							</div>				
						</th>				
						 <th>
						<div class="sorting">
						<span class="sortingInnerWrap">
						 	<a ng-class ="sort.getAscCSS('Type')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Type')"></a>
	      				 	 <a ng-class="sort.getDescCSS('Type')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Type')"></a>										
						</span>
								<span>{{'COH_TYPE' | translate}}</span>
							</div>						
						</th> 
						<th ng-show="isColExist('invoiceCustomer',propertyList)">
						<div class="sorting">
						<span class="sortingInnerWrap">
						 	<a ng-class ="sort.getAscCSS('Customer')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Customer')"></a>
	      				 	 <a ng-class="sort.getDescCSS('Customer')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Customer')"></a>										
						</span>
								<span>{{'COH_INVOICE_CUSTOMER' | translate}}</span>
							</div>				
						</th>				
						<th class="txt_right">
						<div class="sorting contentRight paddingRight">
						<span class="sortingInnerWrap">
						 	<a ng-class ="sort.getAscCSS(SortByAmount)" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC(SortByAmount)"></a>
	      				 	 <a ng-class="sort.getDescCSS(SortByAmount)" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC(SortByAmount)"></a>										
						</span>
								<span>{{headingAmount}}</span>
							</div>		
						</th>
						<th class="txt_right">
						<div class="sorting contentRight paddingRight">
						<span class="sortingInnerWrap">
						 	<a ng-class ="sort.getAscCSS('orderNumber')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('orderNumber')"></a>
	      				 	 <a ng-class="sort.getDescCSS('orderNumber')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('orderNumber')"></a>										
						</span>
								<span> {{'CON_ORDER' | translate}}</span>
							</div>
						</th>
						<th>
						<div class="sorting">
						<span class="sortingInnerWrap">
						 	<a ng-class ="sort.getAscCSS('orderDate')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('orderDate')"></a>
	      				 	 <a ng-class="sort.getDescCSS('orderDate')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('orderDate')"></a>										
						</span>
								<span>{{'CON_ORDER_DATE' | translate}}</span>
							</div>
						</th>
						<th>
						<div class="sorting">
						<span class="sortingInnerWrap">
						 	<a ng-class ="sort.getAscCSS('salesman')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('salesman')"></a>
	      				 	 <a ng-class="sort.getDescCSS('salesman')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('salesman')"></a>										
						</span>
								<span>{{'COH_SALESMAN' | translate}}</span>
							</div>
						</th>	
						<th>
						<div class="sorting">
						<span class="sortingInnerWrap">
						 	<a ng-class ="sort.getAscCSS('yourReferrence')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('yourReferrence')"></a>
	      				 	 <a ng-class="sort.getDescCSS('yourReferrence')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('yourReferrence')"></a>										
						</span>
								<span>{{'CON_YOUR_ORDER_NUMBER' | translate}}</span>
							</div>
						</th>			
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in invoiceData" >
						<!-- <td>{{row.documentType}}</td>  -->
					<td><div class="txt_right"><a href="" ng-click="showInvoiceDetail(row);">{{row.invoiceNumber}}</a></div></td>
						<td>{{row.invoiceDate}}</td>				
					 <td>{{row.typeDescription}}</td>
						<td ng-show="isColExist('invoiceCustomer',propertyList)">{{row.invoiceCustomer}}</td>				
						<td><div class="txt_right">{{row.amount}}</div></td>
						<td >
						<span ng-show="row.mergeInvoiceFlag"><a shref="" title="{{'MSG_MERGED_INVOICE' | translate }}" ><img ng-src="./images/MergeInvoices.png"></a> </span>
						<div class="txt_right"><span ng-show="!row.mergeInvoiceFlag"><a href="" ng-click="showOrderDetail(row)">{{row.orderNumber}}</a></span></div>  
						 </td>
						<td>{{row.orderDate}}</td>
						<td>{{row.salesman}}</td>
						<td>{{row.yourReferrence}}</td>
					</tr>
					<tr ng-show ="!dataFound">
						 <td colspan="8">{{pageLoadMsg}}</td>
					</tr>
				</tbody>
			</table>
			<div class="sep_tbl"></div>
			
		</div>
			
		<div class="buttonWrapper clr_left right">
			<a class="backButton left" href="" ng-click="goBack()" >{{'CON_BACK' | translate}}   </a>
			</div>
			<div class="buttonWrapper clr_left left">
			<button href="" class="goFirstArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="getFirstPage()" title = "{{'CON_FIRST_PAGE' | translate}}">{{'CON_FIRST_PAGE' | translate}} </button>
			<button href="" class="previousArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}">{{'CON_PREVIOUS_PAGE' | translate}} </button>
			<button href="" class="nextArrow" ng-disabled="!dataFound || !moreDataArrow"  ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}">{{'CON_NEXT_PAGE' | translate}} </button>
			
	</div>
	</section>
</div>
