
<div class="loginWindow" ng-controller="ModalLoginCtrl">
    <script type="text/ng-template" id="loginForm.html">
<div class="loginFormView">
        <div class="modal-header">
            <h3>{{'CON_LOG_IN_TO_MY_ACCOUNT' | translate}}</h3>
		<button class="modal-close-btn" ng-click="cancel();removeMailAndWelcome();">{{'CON_CANCEL' | translate}}</button>
        </div>
<p class="errorMsg">{{ loginMsg }}</p>
<p class="errorMsg">{{ loginMsgInactive }}</p>
        <form ng-submit="submit(username,password,selectedLanguageForLogin)" >
          <div class="modal-body">
            <label>{{'CON_USER_NAME' | translate}}</label><input type="text" ng-model="username"  value="User ID" />
            <label>{{'CON_PASSWORD' | translate}}</label><input type="password" ng-model="password"  value="Password" />
			
			<span ng-show="languageList.length > 1 " class="nullable">
				<label>{{'CON_CONTINUE_IN' | translate}}</label>
			<div class="select-style left">
 				<select  ng-model="selectedLanguageForLogin" ng-options="lang.translated for lang in languageList" >
				
  				</select>
			</div>
			</span>
			<div class="loginButton">
			<button type="submit" class="yellowButton primary-btn">{{'CON_SIGN_IN' | translate}}</button>    
			</div>
          </div>
          <div class="modalFooter">
              <a ng-click ="gotoForgotPassword()" ng-if="showForgotPassword">{{'CON_FORGOT_PASSWORD' | translate}}</a><br ng-if="showForgotPassword && showNewAcc">
			  <!--<a ng-click ="gotoNewAccount()" ng-if="showNewAcc">{{'CONF_NEW_ACCOUNT' | translate}}</a> -->
			  <a ng-click ="gotoNewAccount()" ng-if="1==2">{{'CONF_NEW_ACCOUNT' | translate}}</a>
          </div>
        </form>
			</div>
    </script>

   
    
</div>