<div ng-controller="catMenuCtrl">
	<nav id="navbarLogged" class="logged-menu collapse navbar-collapse">
	  <ul>
	    <li ng-repeat="menu in menuSlider" height-stuff my-data="menuSlider" ng-mouseleave="hideSubmenu()">
	      <a href="javascript:void(0);" ng-mouseover="callLoadFunction(menu,$index)" title = "{{menu.description}}">{{menu.description}}</a>
	      <ul class="submenu" ng-if="selected==$index">
	        <li ng-repeat = "menu1 in catalogData.subCatalogueBeanList">
	        	<a href="javascript:void(0);" ng-click="showCatalogFromMain(menu1)">{{menu1.description}}</a>
	        </li>
	      </ul>
	    </li>
	  </ul>
	</nav>
</div>

<!-- 
	<nav id="cbp-hrmenu" class="cbp-hrmenu">
					<ul class="moreArrowNew" ng-controller="catMenuCtrl" id="widthNav">
					<a ng-show="nomorePrevRecords" class="moreItemsLeftArrow "   href="" title="{{'CON_VIEW_MORE' | translate}}" ng-click="prevMainMenuPage()"> </a>
						

<li ng-repeat="menu in menuSlider"   height-stuff my-data="menuSlider">
	<a  class="openItem" ng-click="callLoadFunction(menu)" title = "{{menu.description}}">{{menu.description}}</a>
	
	<div class="cbp-hrsub" ng-class="{'leftRequired': clicked,'leftNotRequired': !clicked}">
		<div class="cbp-hrsub-inner">
		<span class="subCatHeader">		
			<a class="subCatLeft" style="cursor:pointer;" ng-click="showCatalogFromMain(menu)" title = "{{catDescription}}" >{{catDescription}}</a>
			<a class="subCatRight" class="fontChanges" ng-click="showCatalogFromMain(menu)" ng-show="catalogData.moreRecords" >>> {{'CON_MORE'|translate}}...</a>
		</span> 
		
			<div ng-repeat = "menu1 in catalogData.subCatalogueBeanList" ng-class="{'fullWidthDiv': !clicked}">
				
				<h4 style="cursor:pointer;" ng-click="showCatalogFromMain(menu1)" title = "{{menu1.description}}">{{menu1.description}}</h4>
					<ul>
						<li ng-repeat = "menu2 in menu1.subCatalogueBeanList"><a class="noCursor" title = "{{menu2.description}}"><span style="cursor:pointer;"  ng-click="showCatalogFromMain(menu2)">{{menu2.description}}</span></a></li>
					</ul>
						<a ng-show="menu1.moreRecords" ng-click="showCatalogFromMain(menu1)">>>{{'CON_MORE' | translate}}...</a>
									
			</div>
			
			
			
			
		</div>
	</div>
</li>


						<a class="moreItemsArrow" ng-show="nextArrow" href="" title="{{'CON_VIEW_MORE' | translate}}" ng-click="nextMainMenuPage(nextArrow)"> </a>
					</ul>
				</nav>		
-->