<div id="mostPopularDiv" class="bestOffersWrapper" ng-controller="promotionCatlogCtrl" data-catalogViewName="MOST_POPULAR" ng-show="webSettings.isShowMostPopularItems">
<div class="heading">
<p class="left">{{'CON_MOST_POPULAR' | translate}}</p>
<a href="" class="right" ng-click="viewAllMostPopular()">{{'CON_VIEW_ALL' | translate}}</a>
</div>
<ul class="bestOffers">
<button class="slideLeft left"  ng-click="sliderPreviousPageMostPopular()" ng-disabled="!moreDataMostPopularleftArrow"> <b>{{'CON_PREVIOUS_PAGE' | translate}}</b> </button>

<li ng-repeat="cat in catalogSlider">

			<a href="" ng-click="showProductDetail(cat.code);">
			<img class="attentionImage" ng-src="{{BASE_ADDRESS}}{{cat.attentionImageURL}}" ng-show="cat.isShowAttentionImage"/>
			<img 	ng-src="{{BASE_ADDRESS}}{{cat.imageUrl}}" 	onerror="getDefaultImg(this);"> </a>
			<p class="clr_left"> <a href="" ng-click="showProductDetail(cat.code);">{{cat.description}}</a> </p>

		</li>
<button class="slideRight right" ng-click="sliderNextPageMostPopular()" ng-disabled="!moreDataMostPopular"> <b>{{'CON_NEXT' | translate}}</b> </button>

</ul>
</div>
