<div class="listview accountTransactionDetailPage" ng-controller="orderLineDetailCtrl">

	<div class="page-heading">
		 <p class="left">{{'CON_ORDER_LINE_INFORMATION' | translate}}</p>
		 <div class="order-details">
	 		<label>{{'CON_ORDER_NUMBER' | translate}} : </label><span class="section-value">{{orderLine.orderNumber}}</span>
	 		<label>{{'CON_LINE' | translate}} : </label><span class="section-value">{{orderLine.lineNumber}}</span>	 
	  	 </div>
	</div>
	<div class="sep"></div> 
	
	
	<section name="basicInformation">
	    <p> {{'CON_BASIC_INFORMATION' | translate}}
			<a shref="" ng-model="collapsed_basicInformation" ng-click="collapsed_basicInformation=!collapsed_basicInformation" ng-class = "{'exp-plus-icon': collapsed_basicInformation, 'exp-collapse-icon': !collapsed_basicInformation}">a</a>
		</p>
		<div class="sep"></div>
		<div ng-show="!collapsed_basicInformation" ng-class ="section-data">
			<table class="order-detail-table">	
				<tr>
					<td> {{'COH_ITEM' | translate}}: </td> <td class="section-value" colspan="2" ><a href="" ng-click="showProductDetail(orderLine.itemCode);" > {{orderLine.itemCode}} {{orderLine.itemDescription}}</a></td>
					<td> {{'CON_WAREHOUSE' | translate}}:</td> <td class="section-value">{{orderLine.warehouse}}</td>
					<td colspan="1">&nbsp;</td>
				</tr>
				<tr>
					<td> {{'CON_YOUR_PRODUCT' | translate}}: </td> <td class="section-value" colspan="2"><a href="" ng-click="showProductDetail(orderLine.itemCode);" >  {{orderLine.yourItemCode}} {{orderLine.yourItemDescription}}</a></td>
					<td> {{'COH_BACKLOGGED' | translate}}:</td> <td class="section-value">{{orderLine.backlogged}}</td>
					<td colspan="1">&nbsp;</td>				
				</tr>				
				<tr>
					<td> {{'COH_STATUS' | translate}}:  </td> <td class="section-value" colspan="2"> {{orderLine.status}}</td>
					<td> {{'CON_CONFIRMED_QUANTITY' | translate}}:  </td> <td class="section-value"> {{orderLine.confirmed}}</td><td colspan="1">&nbsp;</td>
				</tr>					
				<tr>
					<td> {{'CON_UNIT' | translate}}: 	 </td> <td colspan="5" class="section-value"> {{orderLine.unit}}</td>
				</tr>
				<tr>
					<td> {{'CON_ORDER_QUANTITY' | translate}}: 	 </td> <td colspan="5" class="section-value"> {{orderLine.ordered}}</td>
				</tr>
				
				<tr>
					<td> {{headingPrice}}:	 </td> <td colspan="5" class="section-value"> {{orderLine.price}} <span ng-show="orderLine.pricingUnitFlag">/{{orderLine.unit}}</span> </td>
				</tr>
				<tr ng-show="webSettings.isShowPrice">
					<td >{{'COH_ACTUAL_PRICE' | translate}}: </td>
					<td colspan="5" class="section-value">					
							<span ng-show ="order.pricePageFlag">{{orderLine.actualPrice}}</span>
							<span ng-show ="!order.pricePageFlag">{{orderLine.actualPrice}}</span>
							<span ng-show="order.pricingUnitFlag">{{order.currencyCodeOrSymbol}}</span>   
					</td>
				</tr>
				<!-- <tr ng-show="webSettings.isShowPrice">
					<td>{{'COH_DISCOUNT_PRICE' | translate}} :</td>
					<td colspan="5" class="section-value"> {{orderLine.discountPrice}} <span ng-show="order.pricingUnitFlag">{{order.currencyCodeOrSymbol}}</span></td>
					
				</tr> -->
				<tr>
					<td> {{'CON_TOTAL_DISCOUNT' | translate}}: 	 </td> <td colspan="2" class="section-value"> {{orderLine.discountTotal}}</td>
					<!-- <td ng-show="webSettings.isShowPrice">{{'CON_DISCOUNT_%' | translate}}</td> <td colspan="2" class="section-value"> {{orderLine.discountPercent}}</td> -->
				</tr>
				<tr>
					<td> {{'CON_TOTAL_EXCLUDING_VAT' | translate}}: 	 </td> <td colspan="5" class="section-value"> {{orderLine.totalExclVAT}}</td>
				</tr>
				<tr>
					<td> {{'CON_VAT' | translate}}: 	 </td> <td colspan="5" class="section-value"> {{orderLine.vatAmount}}</td>
				</tr>
				<tr>
					<td> {{'CON_TOTAL_INCLUDING_VAT' | translate}}: 	 </td> <td colspan="5" class="section-value"> {{orderLine.totalInclVAT}} {{webSettings.currencyCode}}</td>
				</tr>
						
				
			</table>
		</div>		
	</section>

	
	<section name="shipmentInformation">
		 <p>
			 {{'CON_SHIPMENT_INFORMATION' | translate}} <a shref="" ng-model="collapsed_shipmentInformation" ng-click="collapsed_shipmentInformation=!collapsed_shipmentInformation" ng-class ="{'exp-plus-icon': 	!collapsed_shipmentInformation, 'exp-collapse-icon': collapsed_shipmentInformation}">a</a>
			<div class="sep"></div>
		</p>		
		<div ng-show="collapsed_shipmentInformation"   ng-class ="section-data">
			<div ng-show="isListEmpty(order)">{{resultMsg}}</div>
			<table class="invoice-detail-table">
				<tr>
					<td> {{'CON_REQUESTED_DELIVERY_TIME' | translate}}: 	 </td> <td class="section-value"> {{orderLine.reqDeliveryTime}}</td><td colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td> {{'CON_DELIVERY_TIME' | translate}}: </td> <td class="section-value" colspan="2"> {{orderLine.delDate}}</td>
					<td> {{'CON_CONFIRMED_DATE' | translate}}:</td> <td class="section-value">{{orderLine.confirmedDate}}</td>
					<td colspan="1">&nbsp;</td>
				</tr>
				<tr>
					<td> {{'COH_GROSS_WEIGHT' | translate}}: </td> <td class="section-value" colspan="2"> {{orderLine.grossWeight}}</td>
					<td> {{'CON_GROSS_VOLUME' | translate}}:</td> <td class="section-value">{{orderLine.grossVolume}}</td>
					<td colspan="1">&nbsp;</td>
				</tr>
				<tr>
					<td> {{'CON_NET_WEIGHT' | translate}}: </td> <td class="section-value" colspan="2"> {{orderLine.netWeight}} </td>
					<td> {{'CON_NET_VOLUME' | translate}}:</td> <td class="section-value">{{orderLine.netVolume}}</td>
					<td colspan="1">&nbsp;</td>
				</tr>			
				<tr>
					<td> {{'COH_SHIPMENT_MARKING' | translate}}: 	 </td> <td class="section-value"> {{orderLine.shipmentMarking}}</td><td colspan="3">&nbsp;</td>
				</tr>
<!-- 				<tr> -->
<!-- 					<td ng-show="orderLine.isShipmentFlag"> {{'CON_SHIPPING_AGENT' | translate}}: 	 </td>  -->
<!-- 					<td class="section-value"> {{orderLine.shipmentAgent}}</td> -->
<!-- 					<td class="section-value"> {{orderLine.shipmentUrl}}</td> -->
<!-- 					<td class="section-value"> {{orderLine.shipmentImage}}</td> -->
<!-- 				</tr> -->
				<tr>
					<td class="section-value">{{'COH_SHIPMENT_TRACKING' | translate}}: </td>
					<td class="section-value">{{orderLine.shipmentAgent}}</td>
					<td class="section-value"><a href="{{orderLine.shipmentUrl}}" target="_blank"><img ng-src="{{BASE_ADDRESS}}{{orderLine.shipmentImage}}" onerror="getDefaultShipmentImage(this);"></a></td>
				</tr>
				
				
			</table>			
		 </div>
	</section>
	
	<div class="buttonWrapper right">	<a class="backButton " href="" ng-click="goBack()">{{'CON_BACK' | translate}}</a>	</div>	
	
</div>