<div class="listview accountTransactionDetailPage" ng-controller="orderDetailCtrl">
	<div class="page-heading">
		 <p class="left">{{'CON_ORDER_INFORMATION' | translate}}</p>
		 <div class="order-details">
	 		<label>{{'CON_ORDER_NUMBER' | translate}} : </label><span class="section-value">{{orderDetails.orderNumber}}</span>	 
	  	 </div>
	</div>
	<div class="sep"></div> 
	
	<p class="errorMsg" >{{errorMessage}}</p>
	<section name="orderLevelInfo">
	<div ng-show="orderDetails.isOrderMessageFlag">
		<a class="OrderInfo" shref="" title="{{orderDetails.orderMessage}}"></a>{{orderDetails.orderMessage}}
	</div>
	
	</section>
		
	 	
	<section name="orderLine">		
	<div class="right download">
	<a href="" class="right" ng-show="webSettings.showPdfIcon" title="{{'CON_ORDER_LINE_PDF' | translate}}"> <img ng-src="./images/PDF.png" ng-click="exportOrderDetail()" /> </a>
	<a title="{{'CON_SEND_ORDER' | translate}}" class="emailIcon" ng-show="orderDetails.isSendEnquiryMailAllowed" ng-click="sendOrderEmail(orderDetails.orderNumber)"></a>
		<button type="button" name="" value="" class="buyIcon" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}"
		ng-click="orderDetailBuyItems();" >{{'CON_BUY' | translate}}</button>
	<button type="button" ng-show="isSignedIn" name="" value="" class="addToList" title={{addToListText}} ng-click="addMultipleItemsToCurrentList();">{{'CON_ADD_TO_LIST' | translate}}</button> 
	</div>
		<div> 
		<table class="orderDetailTable">
			<thead>
				<tr>
					<th ng-show="orderDetails.isDeleteLineAllowedFlag">{{'CON_SELECT' | translate}}</th>
					<th class="txt_right">{{'COH_LINE' | translate}}</th>
					<th>{{'COH_PRODUCT' | translate}}</th>
					<th ng-show="orderDetails.isDescFlag"> {{'COH_DESCRIPTION' | translate}}</th>				
					<th class="txt_right">{{'COH_ORDERED_QUANTITY' | translate}}</th>
					<th class="txt_right">{{'CON_CONFIRMED' | translate}}</th>
					<th>{{'COH_UNIT' | translate}}</th>	
					<th class="txt_right" ng-show="(webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')" >
						{{'COH_ACTUAL_PRICE' | translate}} {{webSettings.currencyCode}}
			 		</th>
					<th class="txt_right" ng-show="(webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE')">
						{{'COH_DISCOUNT_PRICE' | translate}} {{webSettings.currencyCode}}
					</th>
					<th class="txt_right" ng-show="(webSettings.allowDiscountDisplay=='*ALL')">
						{{'CON_DISCOUNT_%' | translate}}
					</th>														
					<th>{{'COH_DELIVERY_DATE' | translate}}</th>
					<th class="txt_center" ng-show="webSettings.isShowPrice"> {{'CON_VALUE' | translate}} 
						<span ng-show="orderDetails.pricingUnitFlag">{{orderDetails.currencyCodeOrSymbol}}</span>
					</th>					
					<th class="quantityColumn">{{'COH_QUANTITY' | translate}}</th>
					<th class="txt_center">{{'COH_ENQUIRY_ON_ITEMS' | translate}}</th>
					
				</tr>
			 </thead>
			<tbody>
					<tr ng-repeat="row in orderLineData">
						<td ng-show="orderDetails.isDeleteLineAllowedFlag">
							<input type="checkbox" name= "{{row.lineNumber}}"  ng-model="row.checked" id ="{{row.lineNumber}}" ng-change="checkSelectedItems()" />
						</td>
						<td class="txt_right"><a href="" ng-click="showOrderLineDetail(row);">{{row.lineNumber}}</a> </td>
						<td><a href=""  ng-click="showProductDetail(row.itemCode);">{{row.itemCode}} </a></td>
						<td ng-show="orderDetails.isDescFlag"><a href=""  ng-click="showProductDetail(row.itemCode);">{{row.itemDescription}}</a> </td>
						<td class="txt_right">{{row.ordered}} </td>
						<td class="txt_right">{{row.confirmed}} </td>
						<td>{{row.unitDesc}} </td>	
						<td ng-show="(webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')" class="txt_right nowrap">
			            <a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlgFromOrderHistory(row)"> <span>{{row.actualPrice}} </span> </a>            	            
			            </td>          
			            <td ng-show="(webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE')" class="txt_right"><a href="" ng-show="webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE'" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlgFromOrderHistory(row)" >{{row.discountPrice}}</a> </td>
			            <td ng-show="webSettings.allowDiscountDisplay=='*ALL'" class="txt_right"><a href="" ng-show="webSettings.allowDiscountDisplay=='*ALL'" >{{row.discountPercent}}</a> </td>
                          
																
						<td>{{row.delDate}} </td>
						
						<td ng-class="{'txt_right' : !row.lineErrorFlag, 'txt_center' : row.lineErrorFlag}" ng-show="webSettings.isShowPrice">
							<div class="txt_right">
							<a href="" ng-show= "!row.lineErrorFlag" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlgFromOrderHistory(row)">
							<span  >{{row.value}}</span>
							</a>
							</div>
							<span  class="txt_center" ng-show= "row.lineErrorFlag"><a class="OrderInformation-icon" shref="" title="{{row.lineError}}"></a></span>
						 </td>						
						<td class="txt_center nowrap">
													
							<span  ng-show="isSignedIn">
								<input id="getId('text',row.itemCode)" ng-model="row.quantity" type="text" class="txt_right buyInput" ng-class ="{ 'error': !row.validQuantity, '' : row.validQuantity}" ng-change="checkValidQuantity(row,row.quantity)" title="{{row.quantityBoxMsg}}"/> 
							</span>
							<span ng-if="row.isBuyAllowed && !isShopCartItem(row.itemCode)" class="">
								<button type="button" name="" value="" class="buyIcon" ng-click="orderDetailBuyItems(row)" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}">{{'CON_BUY' | translate}}</button>
							</span>
							<span ng-if="row.isBuyAllowed && isShopCartItem(row.itemCode)">
								<span  class="addedInCart orderlineAddedInCart" ng-click="orderDetailBuyItems(row)"  title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span>
							</span>
							<span ng-if="isSignedIn" class="">
								<button type="button" name="" value="" class="addToListTableView" title={{addToListText}} ng-click="addMultipleItemsToCurrentList(row);" >{{'CON_ADD_TO_LIST' | translate}}</button> 
							</span>
							
						</td>
						<td class="txt_center"> <a ng-show="row.showEnquiryImage && (webSettings.sendMailOnRequest =='*ALL' || webSettings.sendMailOnRequest =='*ORDER')" title="{{'CON_CLICK_TO_SEND_EMAIL_ENQUIRY_PRODUCT' | translate}}" class="emailIcon" 
						ng-click="sendPrdEnquiry(row.itemCode,row.itemDescription)"></a></td>
						
					</tr>
					<tr ng-show ="!dataFound">
					<td colspan="11">{{pageLoadMsg}}</td>
				</tr>
			 </tbody>
		</table>
		<div class="sep_tbl"></div>
		<div class="buttonWrapper clr_left left">
<!-- 				<button href="" class="goFirstArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="getFirstPage()" title = "{{'CON_FIRST_PAGE' | translate}}">{{'CON_FIRST_PAGE' | translate}} </button> -->
<!-- 			<button href="" class="previousArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}">{{'CON_PREVIOUS_PAGE' | translate}} </button> -->
<!-- 			<button href="" class="nextArrow left" ng-disabled="!dataFound || !orderDetails.moreRecords"  ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}">{{'CON_NEXT_PAGE' | translate}} </button> -->
		<!-- 	<a class="nextButton" href="" ng-class="{'disabled': dataFound == false}"  ng-click="dataPaging(true)" >{{'CON_NEXT_PAGE' | translate}} </a> -->
			<button class="delete-cart-icon" ng-show="orderDetails.isDeleteAllowedFlag" ng-click="deleteOrderFromOrderPage(orderDetails.orderNumber)" >{{'CON_DELETE_ORDER' | translate}}</button>

			<button class="delete-cart-icon" ng-click="deleteSelectedOrderLines()" ng-show="orderDetails.isDeleteLineAllowedFlag" ng-disabled="!itemSelected">{{'CON_DELETE_SELECTED_ORDER_LINES' | translate}}</button> 
		
		</div>
		<div class="buttonWrapper right">
			<button class="backButton "  name="" type="button" ng-click="goBack()">{{'CON_BACK' | translate}}</button>
		</div> 
		</div>
	
	</section>
	
	<section name="basicInformation" class="blankMargin">
	    <p> {{'CON_BASIC_INFORMATION' | translate}}
			<a shref="" ng-model="collapsed_basicInformation" ng-click="collapsed_basicInformation=!collapsed_basicInformation" ng-class = "{'exp-plus-icon': collapsed_basicInformation, 'exp-collapse-icon': !collapsed_basicInformation}">a</a>
		</p>
		<div class="sep"></div>
		<div ng-show="!collapsed_basicInformation" ng-class ="section-data">
			<table class="order-detail-table">	
				<tr>
					<td> {{'COH_CUSTOMER' | translate}}: </td> <td class="section-value"> {{orderDetails.customerCode}}</td>
					<td class="section-value">{{orderDetails.customerDesc}}</td><td colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td> {{'CON_ORDER_NUMBER' | translate}}:  </td> <td class="section-value"> {{orderDetails.orderNumber}}</td><td colspan="1">&nbsp;</td>
					<td> {{'CON_ORDER_DATE' | translate}}:  </td> <td class="section-value"> {{orderDetails.orderDate}}</td>
				</tr>				
				<tr>
					<td> {{'CON_ORDER_STATUS' | translate}}:  </td> <td class="section-value"> {{orderDetails.orderStatus}}</td><td colspan="1">&nbsp;</td>
					<td> {{'CON_HELD' | translate}}:  </td> <td class="section-value"> {{orderDetails.held | translate}}</td>
				</tr>				
				<tr>
					<td> {{'COH_CURRENCY' | translate}}: 	 </td> <td class="section-value"> {{orderDetails.currencyCodeOrSymbol}}</td><td colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td ng-show="isColExist('orderValueExclVAT',orderDetailsPropList)" >{{'CON_ORDER_VALUE_EXCLUDING_VAT' | translate}}:  </td>
				 	<td class="section-value" ng-show="isColExist('orderValueExclVAT',orderDetailsPropList)"> {{orderDetails.orderValueExclVAT}}</td>
				 	<td colspan="1">&nbsp;</td><td ng-show="isColExist('orderValueInclVAT',orderDetailsPropList)">{{'CON_ORDER_VALUE_INCLUDING_VAT' | translate}}:</td>
				 	<td class="section-value" ng-show="isColExist('orderValueInclVAT',orderDetailsPropList)"> {{orderDetails.orderValueInclVAT}}</td>
				 </tr>			
				 <tr ng-show="orderDetails.isCreditCardInfoFlag">
				 	<td> {{'CON_ORDER_PAYMENT' | translate}}:  </td> <td class="section-value"> {{orderDetails.creditCardCode}}</td><td colspan="1">&nbsp;</td>
					<td> {{'COH_AMOUNT' | translate}}:  </td> <td class="section-value"> {{orderDetails.creditCardAmount}}</td>
			
				 </tr>			
				<tr>
					<td ng-show="isColExist('goodsMarking',orderDetailsPropList)"> {{'COH_GOODS_MARKING' | translate}}: </td>
					<td class="section-value" ng-show="isColExist('goodsMarking',orderDetailsPropList)"> {{orderDetails.goodsMarking}}</td><td colspan="3">&nbsp;</td>
				</tr>
				<tr ng-show="isColExist('motCode',orderDetailsPropList) || isColExist('motDesc',orderDetailsPropList) ">
					<td>{{'CON_MANNER_OF_TRANSPORT' | translate}}: </td> 
					<td class="section-value"> {{orderDetails.motCode}}</td><td class="section-value"> {{orderDetails.motDesc}}</td><td colspan="2">&nbsp;</td>
				</tr>
				<tr ng-show="isColExist('todCode',orderDetailsPropList) || isColExist('todDesc',orderDetailsPropList) ">
					<td>{{'CON_TERMS_OF_DELIVERY' | translate}}: 	 </td> 
					<td class="section-value"> {{orderDetails.todCode}}</td><td class="section-value"> {{orderDetails.todDesc}}</td><td colspan="2">&nbsp;</td>
				</tr>
				<tr ng-show="isColExist('topCode',orderDetailsPropList) || isColExist('topDesc',orderDetailsPropList) ">
					<td>{{'CON_TERMS_OF_PAYMENT' | translate}}:  </td> 
					<td class="section-value"> {{orderDetails.topCode}}</td><td class="section-value"> {{orderDetails.topDesc}}</td><td colspan="2">&nbsp;</td>
				</tr>
				<tr ng-show="isColExist('paymentMethod',orderDetailsPropList)">
					<td>{{'CON_PAYMENT_METHOD' | translate}}:  </td> 
					<td class="section-value"> {{orderDetails.paymentMethod | translate}}</td><td colspan="2">&nbsp;</td>
				</tr>
			</table>
		</div>		
	</section>
	<section name="orderText" ng-show="orderDetails.orderTextFlag">
	    <p>	{{'CON_ORDER_TEXT' | translate}}
			<a shref="" ng-model="collapsed_orderText" ng-click="collapsed_orderText=!collapsed_orderText" ng-class ="{'exp-plus-icon': !collapsed_orderText, 'exp-collapse-icon':  collapsed_orderText}">a </a>
		</p>
		<div class="sep"></div>
		<div ng-show="collapsed_orderText" ng-class ="section-data">
			<table class="order-detail-table">	
				<tr>
					<td class="section-value" ng-bind-html="renderHtml(orderDetails.orderText)" colspan="4"> </td><td colspan="5">&nbsp;</td>
				</tr>				
			</table>
		</div>
	</section>	
	<section name="orderFees" ng-show="orderDetails.isOrderFeesFlag">
	    <p> {{'CON_ORDER_FEES' | translate}}
			<a shref="" ng-model="collapsed_orderFees" ng-click="collapsed_orderFees=!collapsed_orderFees" ng-class ="{'exp-plus-icon': !collapsed_orderFees, 'exp-collapse-icon': collapsed_orderFees}">a</a>
		</p>
		<div class="sep"></div>
		<div ng-show="collapsed_orderFees" ng-class ="section-data">
			<table class="order-detail-table">	
				<tr>
					<td> {{'CON_ADMINISTRATION_FEE' | translate}}: </td> <td class="section-value"> {{orderDetails.administrationFee}}</td><td colspan="4">&nbsp;</td>
				</tr>
				<tr>
					<td> {{'CON_FREIGHT' | translate}}:  </td> <td class="section-value"> {{orderDetails.freight}}</td><td colspan="4">&nbsp;</td>
				</tr>				
				<tr>
					<td>  {{'CON_INVOICE_FEE' | translate}}: </td> <td class="section-value"> {{orderDetails.invoiceFee}}</td><td colspan="4">&nbsp;</td>
				</tr>				
				<tr>
					<td> {{'CON_POSTAGE' | translate}}:  </td> <td class="section-value"> {{orderDetails.postage}}</td><td colspan="4">&nbsp;</td>
				</tr>
				<tr ng-show="!showInsurancePercent(orderDetails.insurancePercent)">
					<td>  {{'CON_INSURANCE' | translate}}: </td> <td class="section-value"> {{orderDetails.insurance}}</td><td colspan="4">&nbsp;</td>
				</tr>	
				<tr ng-show="showInsurancePercent(orderDetails.insurancePercent)">
					<td>  {{'CON_INSURANCE' | translate}}: ({{orderDetails.insurancePercent}} %) </td> <td class="section-value"> {{orderDetails.insurance}}</td><td colspan="4">&nbsp;</td>
				</tr>			
				<tr>
					<td>  {{'CON_SURCHARGE' | translate}}:	 </td> <td class="section-value"> {{orderDetails.surcharge}}</td><td colspan="4">&nbsp;</td>
				</tr>				
			</table>
		</div>		
	</section>

	<section name="orderReferences">
		 <p> {{'CON_ORDER_REFERENCES' | translate}} 
			<a shref="" ng-model="collapsed_orderReferences" ng-click="showOrderReferences();" ng-class = "{'exp-plus-icon': !collapsed_orderReferences, 'exp-collapse-icon': collapsed_orderReferences}">a</a>
		</p>
		<div class="sep"></div>
		<div ng-show="collapsed_orderReferences" ng-class ="section-data"> 
			<table class="invoice-detail-table">								
				<tr>
					<td>{{'CON_HANDLER' | translate}} :</td><td class="section-value"> {{orderDetails.handlerCode}}</td>
					<td class="section-value">{{orderDetails.handlerDesc}}</td><td colspan="2">&nbsp;</td>
				</tr>
				<tr>
					<td>{{'CON_SALES_PERSON' | translate}}:</td><td class="section-value">{{orderDetails.salespersonCode}}</td>
					<td class="section-value">{{orderDetails.salespersonDesc}}</td><td colspan="2">&nbsp;</td>
				</tr>
				<tr ng-show="isColExist('yourOrder',orderDetailsPropList)">
					<td>{{'CON_YOUR_ORDER' | translate}}:</td>	<td class="section-value">{{orderDetails.yourOrder}}</td><td colspan="3">&nbsp;</td>
				</tr>
				<tr ng-show="isColExist('yourReference',orderDetailsPropList)">
					<td>{{'COH_YOUR_REFERENCE' | translate}}:</td><td class="section-value">{{orderDetails.yourReference}}</td><td colspan="3">&nbsp;</td>
				</tr>
				<tr ng-show="isColExist('ourReference',orderDetailsPropList)">
					<td>{{'CON_OUR_REFERENCE' | translate}}:</td><td class="section-value">{{orderDetails.ourReference}}</td><td colspan="3">&nbsp;</td>
				</tr>		 		 		
		 	</table>
		</div>
	</section>
	<section name="address">
		 <p>
			 {{'CON_ADDRESSES' | translate}} <a shref="" ng-model="collapsed_address" ng-click="collapsed_address=!collapsed_address" ng-class ="{'exp-plus-icon': 	!collapsed_address, 'exp-collapse-icon': collapsed_address}">a</a>
			<div class="sep"></div>
		</p>		
		<div ng-show="collapsed_address"   ng-class ="section-data">
			<div ng-show="isListEmpty(order)">{{resultMsg}}</div>
			<table class="invoice-detail-table">
				<tr>
					<td>{{'CON_CONFIRMATION_ADDRESS' | translate}} :</td><td colspan="2">&nbsp;</td>
					<td>{{'CON_DELIVERY_ADDRESS' | translate}}:</td><td colspan="">&nbsp;</td>
				</tr>
				<tr>
					<td class="section-value" ng-bind-html="renderHtml(orderDetails.confAddress)"></td><td colspan="2">&nbsp;</td>
					<td class="section-value" ng-bind-html="renderHtml(orderDetails.delAddress)"></td><td colspan="">&nbsp;</td>
				</tr>
			</table>			
		 </div>
	</section>
</div>