<div class="listview accountTransactionDetailPage" ng-controller="orderHistoryCtrl">
	<div class="page-heading">
		 <p class="left">{{'COH_ORDER_SEARCH' | translate}}</p>	
		 <div class="right download">
<!-- 		 
<a ng-show="browserIE9orLower()==false" href="" ng-click="exportAsHTML()" class="backArrow right">Export</a>
 -->
 		<a href="" class="right" ng-show="webSettings.showXmlIcon" title="{{'CON_ORDER_HISTORY_XML' | translate}}"> <img ng-src="./images/XML.png" ng-click="exportOrderTableAsXML()" /> </a> 
 		<a href="" class="right" ng-show="webSettings.showExcelIcon" title="{{'CON_ORDER_HISTORY_EXCEL' | translate}}"> <img ng-src="./images/Excel.png" ng-click="exportOrderTableAsExcel()" /> </a>
		<a href="" class="right" ng-show="webSettings.showPdfIcon" title="{{'CON_ORDER_HISTORY_PDF' | translate}}"> <img ng-src="./images/PDF.png" ng-click="exportOrderTableAsPDF()" /> </a>
		<!-- 
		<p  id="exportXLS_ID" class="right"> </p>
		<p  id="exportXML_ID" class="right"> </p>
 -->
</div> 
	</div>

	<div class="sep"></div>
	<div class="newSearch clr_left" >
		<p ng-model="isCollapsed" ng-click="isCollapsed = !isCollapsed">{{'CON_NEW_SEARCH' | translate}} <a ng-class ="{'exp-collapse-arrow': !isCollapsed, 'exp-plus-arrow': isCollapsed}">{{'CON_NEW_SEARCH' | translate}}</a> </p>		
		<div  ng-show="isCollapsed">
			<form class="search-form" role="form" ng-submit="submitFilter()" name="searchForm">
				 <div ng-repeat="filter in filterList.getFilters()">
					<div ng-show="filter.isEnabled" class="search-form-wrapper">					
						<label for = "filter.filterParam">{{filter.filterName | translate}} :</label> 
						<span ng-show ="filter.isInputList">
						<div class="select-style">
							<select ng-if= "filter.filterName != 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems" ng-options="item.code as item.description for item in filter.dataList"  >	
							</select>
							<select ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems">
							<option ng-repeat="resultperPage in resultPerPageList" >{{resultperPage}}</option> 
							</select>   
							                                                                                            
							<!-- 		
								 <option ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" ng-repeat="resultperPage in resultPerPageList" ng-selected="resultperPage == filter.resultCount">{{resultperPage}}</option>
								 <option ng-if="filter.filterName == 'CON_CUSTOMER'" ng-repeat="item in filter.dataList" ng-value="item.code"  ng-selected="item.defaultCode == item.code"> {{item.description}} </option>
								 <option ng-if="filter.filterName != 'CON_CUSTOMER'" ng-repeat="item in filter.dataList" ng-value="item.code"  ng-selected="filterDetailSettings[filter.dataListName][0].code == item.code"> {{item.description}} </option>
								  -->									 

							</div>
						</span>
						<span ng-show ="!filter.isInputList">							
							<input ng-if= "filter.numericType" type="text" id= "filter.filterParam" 
							name="filter.filterParam" ng-model="filter.selectedItems" 
							ng-blur ="validateNumber(filter,filter.selectedItems)" ng-mouseleave="validateNumber(filter,filter.selectedItems)"/> 
							<span ng-if= "filter.numericType"><p class="validationMsg ValidationMsgOrder">  {{filter.validationMsg}} </p> </span>
							<input ng-if= "!filter.numericType" type="text" id= "filter.filterParam" name="filter.filterParam"  ng-model="filter.selectedItems"   />
						</span>
					
					</div>
				</div> 	
				<div class="submit clr_both"><button class="yellowButton right" ng-disabled="isFilterHasError(filterList.getFilters())">{{'CON_START_SEARCH' | translate}}</button></div>
			</form>
		</div>
		<p class="" ng-bind-html="renderHtml(filterMsg)"></p>	
	</div>	
	<div class="sep"></div>
	
	<div class="scrollTableTop" id = "result_set"></div>
	<div class="order_search_tbl_wrapper" >	
		<table id="order_history_tbl_id">
			<thead>
			<tr>
				<th>
					<div><span>{{'COH_ACTIONS' | translate}} </span></div>
				</th>
				<th class="txt_right">
					<div class="sorting contentRight paddingRight">
						<span class="sortingInnerWrap">
						 	<a ng-class ="sort.getAscCSS('OrderNumber')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('OrderNumber')"></a>
	      				 	 <a ng-class="sort.getDescCSS('OrderNumber')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('OrderNumber')"></a>										
						</span>
						<span>{{'CON_ORDER' | translate}} </span>
					</div>			
				</th>
				 
				<th>
					<div class="sorting">
						<span class="sortingInnerWrap">	
						 	<a ng-class ="sort.getAscCSS('Customer')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Customer')"></a>
	      				 	 <a ng-class="sort.getDescCSS('Customer')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Customer')"></a>										
						</span>
						<span> {{'COH_CUSTOMER' | translate}}</span>
					</div>			
							
				</th>
						
				<th>				
					<div class="sorting">
						<span class="sortingInnerWrap">		
						 	<a ng-class ="sort.getAscCSS('OrderDate')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('OrderDate')"></a>
	      				 	 <a ng-class="sort.getDescCSS('OrderDate')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('OrderDate')"></a>										
						</span>
						<span>{{'CON_ORDER_DATE' | translate}}	</span>
					</div>			
				</th>
				<th>
					<div class="sorting">
						<span class="sortingInnerWrap">			
						 	<a ng-class ="sort.getAscCSS('Status')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Status')"></a>
	      				 	 <a ng-class="sort.getDescCSS('Status')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Status')"></a>										
						</span>
						<span> {{'CON_STATUS' | translate}}</span>
					</div>			
				</th>				
				<th class="txt_right">
					<div class="sorting contentRight paddingRight">
						<span class="sortingInnerWrap">			
						 	<a ng-class ="sort.getAscCSS('OrderValue')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('OrderValue')"></a>
	      				 	 <a ng-class="sort.getDescCSS('OrderValue')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('OrderValue')"></a>										
						</span>
						<span>{{'CON_ORDER_VALUE' | translate}}	</span>
					</div>			
				</th>
				<th>
					<div class="sorting">
						<span class="sortingInnerWrap">				
						 	<a ng-class ="sort.getAscCSS('Handler')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Handler')"></a>
	      				 	 <a ng-class="sort.getDescCSS('Handler')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Handler')"></a>										
						</span>
						<span>{{'CON_HANDLER' | translate}}</span>
					</div>			
				</th>
				<th>
					<div class="sorting">
						<span class="sortingInnerWrap">				
						 	<a ng-class ="sort.getAscCSS('YourOrderNumber')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('YourOrderNumber')"></a>
	      				 	 <a ng-class="sort.getDescCSS('YourOrderNumber')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('YourOrderNumber')"></a>										
						</span>
						<span>{{'CON_YOUR_ORDER_NUMBER' | translate}}	</span>
					</div>			
				</th>				
			</tr>
			</thead>
			<tbody ng-repeat="row in orderData" >
				<tr >						
					<td class="actions"> 
						<span><a class="OrderCopyLine-icon" shref="" title="{{'CON_COPY_ORDER_LINES' | translate}}"   ng-click="getCopyOrderLines(row.orderNumber);"></a></span>
						<span><a class="OrderLinePasteArea-icon" shref="" title="{{'CON_COPY_ORDER_LINES_TO_PASTE_AREA' | translate}}"  ng-click="showCopyPaste(row.orderNumber);"></a></span>
						<span><a class="OrderShoppingList-icon" shref="" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_LIST' | translate}}" ng-click="addOrderLinesToCurrentList(row.orderNumber);"></a></span>
					</td>					
					<td><div class="txt_right"><a href="" ng-click="showOrderDetail(row)">{{row.orderNumber}}</a></div></td>
					<td>{{row.customer}}</td>				
					<td>{{row.orderDate}}</td>
					<td> 
						<span ng-show= "row.isOrderHeldFlag"><a style="cursor: default !important;" class="OrderHeld-icon" shref="" title="{{'CON_ORDER_HELD' | translate}}"></a> </span>
						<span ng-show= "!row.isOrderHeldFlag">{{row.status}}</span>
					</td>
					<td>
						<span ng-show= "row.isOrderValueFlag"><a style="cursor: default !important;" class="OrderInformation-icon" shref="" title="{{row.orderValue}}"></a></span>
						<div class="txt_right"><span ng-show= "!row.isOrderValueFlag">{{row.orderValue}}</span></div>
					</td>
					<td>{{row.handler}}</td>
					<td>{{row.yourOrderNo}}</td>			
				</tr>
					<tr ng-show = "isCopyOrderVisible(row.orderNumber)">
					<td colspan = "8">	
					<section name="AddItems" class="clr_left secAddItems">			
	    				<p class="head"> {{'CON_ADD_ITEMS' | translate}}</p>
		 				<div class="sepCollapse"></div>						
						<p class="infowrapper"><b>{{'CON_IMPORTANT' | translate}}!</b> {{'CON_CLOSE_YOUR_CART_WHEN_READY' | translate}}</p>
						<p class= "left errorMsg">{{copyOrder.getUIErrorKey() | translate : (copyOrder.UIErrorParams) }}</p>
						<table class="addItemsTable">
						<thead>
							<tr>
								<th class="largeSpace">{{'COH_ITEM' | translate}}</th>
								<th class="smallSpace">{{'COH_QUANTITY' | translate}}</th>
								<th class="smallSpace">{{'CON_UNIT' | translate}}</th>
								<th class="largeSpace">{{'COH_REQUESTED_DELIVERY_DATE' | translate}}</th>
								<th class="largeSpace">{{'COH_SHIPMENT_MARKING' | translate}}</th>						
							</tr>
						</thead>
						<tbody ng-repeat="order in copyOrder.getList()">
						<tr ng-show= "!order.isValidProduct">
							<td colspan= "5"> <span class= "left errorMsg">	{{order.errorMsg}}</span></td>
						</tr>
						
						<tr>
							<td><input type="text" id="getId('txtProductCode',order.itemCode)"  ng-model = "order.itemCode" ng-blur = "ValidateProductLines(order,copyOrder,'')"/></td>
							<td><input type="text" id="getId('txtProductQuantity',order.itemCode)"  ng-model = "order.ordered" class="txt_right" ng-class ="{ 'error': !order.validQuantity, '' : order.validQuantity}" ng-change="checkValidQuantity(order,order.ordered)" title="{{order.quantityBoxMsg}}"/></td>
							<td><input type="text" id="getId('txtProductUnit',order.itemCode)" ng-class ="{ 'error': order.invalidUnit, '' : order.invalidUnit}" ng-model = "order.unit" ng-show = "!order.showUnitList" ng-change="checkValidUnit(order, order.unit)" />
								 <div class="select-style" ng-show = "order.showUnitList" ><select class="unitCode" ng-model="order.unit"  ng-options = "activeUnits.salesUnit as activeUnits.salesUnitDesc for activeUnits in order.activeUnitList" ></select></div></td>
							</td>
							<td><input type="text" id="getId('txtProductDelDate',order.itemCode)"   placeholder="{{webSettings.defaultDateFormat}}" ng-model = "order.delDate" ng-blur="validateDateRangeFormatShoppingCart(order.delDate,true)" ng-mouseleave="validateDateRangeFormatShoppingCart(order.delDate,true)" ng-class="{ 'error': !validDateShoppinglist, '' :  validDateShoppinglist }"></td>
							<td><input type="text" maxlength="30" id="getId('txtProductShipment',order.itemCode)"  ng-model = "order.shipmentMarking" /></td>
	
						</tr>
						</tbody>
						</table>			
						<div class="buttonWrapper clr_left right">
						<button class="clearAll" type="button" ng-click="copyOrder.clearAll()">{{'CON_CLEARALL' |	translate}}</button>
						<button class="addMore" type="button" ng-click="copyOrder.addMoreLines()">{{'CON_ADDMORE' |	translate}}</button>
						<!-- <button class="yellowButton" type="button" ng-click="AddMultipleItemsToCart(copyOrder.getOrderParam()) " ng-disabled="!copyOrder.isValidProductList">{{'CON_BUY'|	translate}}</button>  -->
						<button class="yellowButton" type="button" ng-click="validateProductList(copyOrder,'')" ng-disabled="!copyOrder.isValidProductList">{{'CON_BUY'|	translate}}</button>
						</div>			
						
					</section>		
					</td>
				</tr>
			
				<tr ng-show="isCopyPasteVisible(row.orderNumber)" class="edit_details_cart">					
					<td colspan = "8">					
	
					<section name="CopyPasteArea" class="copyPasteArea">
					<p class="head"> {{'CON_COPY_PASTE' | translate}}</p>
									
					<div class="informationCon">
						<div class="pasteAreaHead">{{'CON_PASTE_AREA' | translate}} </div>
						<textarea  type="textarea"  rows="5" cols="20" ng-model="copyOrder.orderText" id="row.orderNumber"></textarea>
						<span class="left"> {{'CON_VALUE_DELIMITER' | translate}} : </span>
						<input type="text" class="left value" ng-model="copyOrder.delimeter" maxlength="1"/>
						<span class="left"> {{'CON_DELIVERY_DATE_FORMAT' | translate}} : {{webSettings.defaultDateFormat}}</span>						
						<p class="errorMsg clr_left">{{'TXT_OE_004' | translate}} </p> 						
						<p class="errorMsg clr_left" ng-bind-html="renderHtmlTranslation('TXT_OE_005_03' )"></p>
						<p ng-bind-html="renderHtmlTranslation('TXT_OE_005_01' )"></p>				
						<p ng-bind-html="renderHtmlTranslation('TXT_OE_005_02' )"></p>				
						<div class="buttonWrapper">
						<div class="buttonWrapper clr_left right">
							<button class="clearAll" value="" name="" type="button"	ng-click="copyOrder.clearOrderText()">{{'CON_CLEARALL' |	translate}}</button>				
							<button class="yellowButton" value="" name="" type="button" 	ng-click="showCopyOrderLines(row.orderNumber,copyOrder.orderText);">{{'CON_CONVERT_TO_ORDER_LINES'|	translate}}</button>
						</div>
					</div>							
						<p class= "left error">{{copyOrder.getUIErrorKey() | translate : (copyOrder.UIErrorParams) }}</p>						
					</div>			
					</section>				
					</td>	
				</tr>	
				
			</tbody>
			<tbody>
				<tr ng-show ="!dataFound">
						 <td colspan="8">{{pageLoadMsg}}</td>
				</tr>
			</tbody>
		</table>
		<div class="sep_tbl"></div>
		<div class="buttonWrapper clr_left left">
			<button href="" class="goFirstArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="getFirstPage()" title = "{{'CON_FIRST_PAGE' | translate}}">{{'CON_FIRST_PAGE' | translate}} </button>
			<button href="" class="previousArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}">{{'CON_PREVIOUS_PAGE' | translate}} </button>
			<button href="" class="nextArrow" ng-disabled="!dataFound || !moreDataArrow "  ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}">{{'CON_NEXT_PAGE' | translate}} </button>
	</div>
	<div class="buttonWrapper right">
		<button ng-click="goBack()" type="button" name="" class="backButton  ng-binding">{{'CON_BACK' | translate}}</button> 
		  
	</div>


	</div>
</div>

