<div class="comparePageWrapper" ng-controller="prodSearchCtrl">
	<h3>{{'CON_PRODUCT_COMPARE' | translate}}</h3>
	<div class="sep"></div>
	<div class="compareTableScroll">
	<table class="Comparetable">
		<tbody>
			<tr>
				<td class="bottomborderNone">{{'COH_SELECT' | translate}}</td>
				<td class="blank bottomborderNone"></td>
				<td class="bottomborderNone" ng-repeat="row in SelectedProductList"><input
					type="checkbox" name="{{row.description}}" ng-model="row.checked"
					id="{{row.description}}" ng-change="RemoveProduct()" />
				</td>
			</tr>
			<tr>
				<td class="topborderNone">&nbsp; </td>
				<td class="blank topborderNone"></td>
				<td class="topborderNone" ng-repeat="row in SelectedProductList">
					<div ng-if="row.isRelative" class="gridViewImageWrapper">
					<a href="" ng-click="showProductDetail(row.solrItemCode);">
					 <img class="attentionImage" ng-src="{{BASE_ADDRESS}}{{row.attentionImageURL}}" ng-show="row.isShowAttentionImage"/>
					<img ng-src="{{BASE_ADDRESS}}{{row.imageUrl}}" class="gridViewCompareImage" onerror="getDefaultImg(this);">
					</a>
					</div>
					<div ng-if="!row.isRelative" class="gridViewImageWrapper">
					<a href="" ng-click="showProductDetail(row.solrItemCode);">
					 <img class="attentionImage" ng-src="{{BASE_ADDRESS}}{{row.attentionImageURL}}" ng-show="row.isShowAttentionImage"/>
						<img ng-src="{{row.imageUrl}}" class="gridViewCompareImage" onerror="getDefaultImg(this);">
					</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>{{'COH_DESCRIPTION' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList"><a href="" ng-click="showProductDetail(row.solrItemCode);" ng-bind-html="renderHtml(row.itemDescription)"></a></td>
			</tr>
			<tr>
				<td>{{'COH_PRODUCT_CODE' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList"><a href="" ng-click="showProductDetail(row.solrItemCode);">{{row.solrItemCode}}</a></td>
			</tr>
			<tr>
				<td>{{'CON_EXTENDED_INFO' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList" ng-bind-html="renderHtml(row.itemWebText)">
					</td>
			</tr>

			<tr ng-show="webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE'">
				<td>{{'COH_ACTUAL_PRICE' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList"><a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlgFromPrdSearch(row)">{{row.actualPrice}}</a></td>
			</tr>

			<tr ng-show="webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE'">
				<td>{{'COH_DISCOUNT_PRICE' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">
					<a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlgFromPrdSearch(row)">{{row.discountPrice}}</a></td>
			</tr>

			<tr ng-show="webSettings.allowDiscountDisplay=='*ALL'">
				<td>{{'CON_DISCOUNT_%' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">
					<a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlgFromPrdSearch(row)">{{row.discountPercentage}}</a></td>
			</tr>
			<tr>
				<td>{{'CON_DEFAULT_SALES_UNIT' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">
					{{row.itemUnitCode}}</td>
			</tr>
			<tr>
				<td>{{'CON_UNIT' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">
				<div class="select-style ">
				<select id="{{row.solrItemCode}}" ng-model="row.selectedUnit" ng-options = "unit for unit in row.salesUnits" ng-change="onUnitChange(row.solrItemCode,row.selectedUnit,row)" >	
				</select> 
				</div>
				</td>
			</tr>
			<tr>
				<td>{{'COH_QUANTITY'|translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">
					<span ng-show="isSignedIn" >
						<input ng-show="row.selectedUnit != null" id="getId('text',row.solrItemCode)" ng-model="row.quantity" type="text" class="quantity" ng-class ="{ 'error': !row.validQuantity, '' : row.validQuantity}" ng-change="checkValidQuantity(row,row.quantity)" title="{{row.quantityBoxMsg}}"/>
					</span>
					<!-- 
					<button ng-disabled="!row.iskingAllowed" ng-class="{'disabled': row.isBuyingAllowed == false}" type="button" name="" value="" class="buyIcon" ng-click="buyClicked(row)" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}">{{'CON_BUY' | translate}}</button>
					-->
					<span ng-if="row.isBuyingAllowed && !isShopCartItem(row.code)">							
						<button ng-disabled="!row.isBuyingAllowed" ng-class="{'disabled': row.isBuyingAllowed == false}" 
						type="button" name="" value="" class="buyIcon" ng-click="buyClicked(row)"
						 title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}">
						{{'CON_BUY' | translate}}</button>
					</span>
					
					<span ng-if="row.isBuyingAllowed && isShopCartItem(row.code)">
						<span ng-disabled="!row.isBuyingAllowed" ng-class="{'disabled': row.isBuyingAllowed == false}" 
						class="addedInCart CompareCartImg"  ng-click="buyClicked(row)"  
						title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}">
						</span>
					</span>		
					<button type="button" ng-show="isSignedIn && row.selectedUnit != null" name="" value="" class="addToList" title={{addToListText}} ng-click="addItem(row);">{{'CON_ADD_TO_LIST' | translate}}</button> 			
				</td>
			</tr>
			<tr>
				<td>{{'COH_ENQUIRY_ON_ITEMS' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList"> <img ng-show="row.showEnquiryImage" title="{{'CON_CLICK_TO_SEND_EMAIL_ENQUIRY_PRODUCT' | translate}}" ng-src="images/{{getEnquiryImageName(' ')}}" ng-click="sendPrdEnquiry(row.code,row.description)"/></td>
			</tr>
			<tr>
				<td>{{'COH_NET_WEIGHT' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">{{getProductUnitBean(row,row.selectedUnit).netWeight}} </td>
			</tr>
			<tr>
				<td>{{'CON_GROSS_WEIGHT' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">{{getProductUnitBean(row,row.selectedUnit).grossWeight}}</td>
			</tr>
			<tr>
				<td>{{'COH_NET_VOLUME' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">{{getProductUnitBean(row,row.selectedUnit).netVolume}}</td>
			</tr>
			<tr>
				<td>{{'CON_GROSS_VOLUME' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">{{getProductUnitBean(row,row.selectedUnit).grossVolume}}</td>
			</tr>
			<tr>
				<td>{{'COH_LENGTH' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">{{getProductUnitBean(row,row.selectedUnit).length}}</td>
			</tr>
			<tr>
				<td>{{'COH_HEIGHT' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">{{getProductUnitBean(row,row.selectedUnit).height}}</td>
			</tr>
			<tr>
				<td>{{'COH_WIDTH' | translate}}:</td>
				<td class="blank"></td>
				<td ng-repeat="row in SelectedProductList">{{getProductUnitBean(row,row.selectedUnit).width}}</td>
			</tr>
		</tbody>
	</table>
	 
	</div>
	<div class="buttonWrapper clr_left right">
	<a ng-click="goBack()" href="" class="backButton left ">{{'CON_BACK' | translate}}   </a>
	</div>
</div>