<div ng-show="ready" class="productDetailWrapper left" ng-controller="productDetailCtrl">
	<p class="head">{{'CON_PRODUCT_DETAILS' | translate}}</p>
	<!-- Image slider -->
	<div style="position: relative; float: left;" class="pd_imageWrapper">
		
		<div class="slider">
			<img ng-if="prdDetail.prdInfo.isRelative" class="attentionImage" ng-src="{{BASE_ADDRESS}}{{prdDetail.prdInfo.attentionImageURL}}" ng-show="prdDetail.prdInfo.isShowAttentionImage"/>
			<img ng-if="!prdDetail.prdInfo.isRelative" class="attentionImage" ng-src="{{prdDetail.prdInfo.attentionImageURL}}" ng-show="prdDetail.prdInfo.isShowAttentionImage"/>
			
			<img class="slide slide-animation "  ng-show="smallSlider.hasNoImage()" ng-src="{{smallSlider.getDefaultImage()}}" />
				
			<img ng-repeat="slide in smallSlider.getAllImages()" class="slide slide-animation nonDraggableImage" 
				ng-show="smallSlider.getCurrentIndex()==$index" ng-src="{{slide}}" ng-click="openImageDlg(smallSlider.getAllImages(),$index)" onerror="getDefaultImg(this);">

			<nav class="nav" >
				<div class="wrapper">
					<a href="" ng-show="smallSlider.showNavigationLinks()" class="left nextSlide" ng-click="smallSlider.previousImageGroup()"  >slide left</a>
					<ul class="dots">
						<li class="dot" ng-repeat="slide in smallSlider.currentImageGroup()">
							<a href="" 	ng-click="smallSlider.setCurrentIndex($index);"> <img ng-src="{{slide}}" onerror="getDefaultImg(this);">	</a>
						</li>
					</ul>
					<a href="" ng-show="smallSlider.showNavigationLinks()" ng-click="smallSlider.nextImageGroup()" class="right prevSlide"  >slide right</a>
				</div>
			</nav>
		</div> 
	</div>
	
	<div class="pd_infoWrapper">
	<!-- product detail  : matrix based item (option 1) -->
		
		
		<div class="itemName">{{prdDetail.prdInfo.itemDesc}}</div>			
		<div ng-show="isMatrixBasedItem && !matrixItemList[0].isShowTableViewForMatrixItems" class="unitsWrapper">
			<div class="matrixDesc">
				<label>{{matrixItemList[0].segmentationDesc2}}:</label> 
				<div class="select-style">
				 <select ng-model="prdDetail.selectedSeg2" ng-options="item.key for item in prdDetail.matrixRowList" 
				 ng-change="getSegmentationDesc3()" > </select>
				 </div>
			</div>
			<div class="matrixDesc">
				<label>{{matrixItemList[0].segmentationDesc3}}:</label>
				<div class="select-style">
				<select ng-model="prdDetail.selectedSeg3" ng-options="item.key for item in prdDetail.matrixColumnList" 
				ng-change="getMatrixChildDetail(prdDetail.getParamsForMatrixItem(),prdDetail.quantity,prdDetail.validQuantity);showPriceOnQuantity(prdDetail.prdInfo,prdDetail.quantity,prdDetail,prdDetail.validQuantity)" > </select>
				</div>
			</div>
		</div>
		<div class="unitsWrapper clr_left" ng-show="1==2">
			<label class="left">{{'COH_PRODUCT_CODE' | translate}} : </label> <span> <b class="pricecalcpadding">{{prdDetail.prdInfo.itemCode}}</b> </span>
		</div>
		<!-- ADM-008 -->
		<div class="" ng-show="prdDetail.prdInfo.additionalDescription.length > 0">
			<span> <b class="pricecalcpadding">{{prdDetail.prdInfo.additionalDescription}}</b> </span>
		</div>
		<div class="prdDetailWrapper clr_left">
			<label class="left">{{'CON_MINSAN_CODE' | translate}} : </label> <span> <b class="pricecalcpadding">{{prdDetail.prdInfo.minsanCode}}</b> </span>
		</div>
		<div class="prdDetailWrapper clr_left" ng-show="1==2">
			<label  class="left">{{'CON_PRODUCT_GROUP' | translate}} : </label> <span> <b class="pricecalcpadding">{{prdDetail.prdInfo.itemGroup}}</b> </span>
		 </div>
		<!-- ADM-010 <div class="unitsWrapper clr_left"> -->
		<!-- ADM-010 --><div class="unitsWrapper clr_left" ng-show="!webSettings.allowSelectUnitOfMeasure">
			 <label>{{'CON_SALES_UNIT' | translate}} :</label>
			 <div class="select-style">
			<!-- <select  ng-model="prdDetail.selectedUnit" ng-options="unit for unit in productDetails.unitCodes" 
	  			ng-change="getProductDetail(prdDetail.getParams())" >
	  		</select> -->
	  		<select ng-if="!isMatrixBasedItem" class="pricecalcpadding" ng-model="prdDetail.selectedUnitObject" ng-options="unit.salesUnitDesc for unit in productDetails.unitCodesDesc track by unit.salesUnitDesc" 
	  			ng-change="getProductDetail(prdDetail.getParams());showPriceOnQuantity(prdDetail.prdInfo,prdDetail.quantity,prdDetail,prdDetail.validQuantity)" >
	  		</select>
	  		<select ng-if="isMatrixBasedItem" class="pricecalcpadding" ng-model="prdDetail.selectedUnitObject" ng-options="unit.salesUnitDesc for unit in productDetails.unitCodesDesc track by unit.salesUnitDesc" 
	  			ng-change="getProductDetail(prdDetail.getParamsForMatrixItem(),'',true);showPriceOnQuantity(prdDetail.prdInfo,prdDetail.quantity,prdDetail,prdDetail.validQuantity)" >
	  		</select>
	  		</div>	  		
		</div>  
		<!-- ADM-010 -->
		<div class="unitsWrapper clr_left" ng-show="webSettings.allowSelectUnitOfMeasure">
			<label class="left">{{'CON_SALES_UNIT' | translate}} : </label> <span> <b class="pricecalcpadding">{{prdDetail.prdInfo.salesUnitDesc}}</b> </span>
		</div>
		<!-- ADM-010 end -->
		<div ng-show="isSignedIn" class="unitsWrapper clr_left">
			<label>{{'COH_QUANTITY' | translate}} :</label>
		 	<input id="getId('text',productDetails.itemCode)" ng-change="checkValidQuantity(prdDetail,prdDetail.quantity); showPriceOnQuantity(prdDetail.prdInfo,prdDetail.quantity,prdDetail,prdDetail.validQuantity)" ng-model="prdDetail.quantity" type="text" class="quantity" ng-class ="{ 'error': !prdDetail.validQuantity, '' : prdDetail.validQuantity}" ng-change="checkValidQuantity(prdDetail,prdDetail.quantity)" title="{{prdDetail.quantityBoxMsg}}"/>
		 	<a class="grossAmountValue" ng-show="prdDetail.validQuantity && webSettings.showPriceCalculation" ng-bind="netValue"></a>
		 </div>
			
<!-- 		<div class="unitsWrapper"> -->
<!-- 			<span ng-class="{'actPrice': convertAsNumber(productDetails.discountPercentage) > 0}" class="finalPrice" style="cursor: default;">{{prdDetail.prdInfo.actualPrice}}  </span>  -->
<!-- 			<span ng-show="convertAsNumber(productDetails.discountPercentage) > 0" class="finalPrice" style="cursor: default;">{{prdDetail.prdInfo.discountPrice}} &nbsp;&nbsp;&nbsp;&nbsp;  {{prdDetail.prdInfo.discountPercentage}} %</span>  -->
<!-- 		</div> -->
		
		<div ng-if="webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE'" class="unitsWrapper">
			<span class="finalPrice" style="cursor: default;" ng-click="showPriceCalcDlgFromItemDetail(prdDetail.prdInfo)">{{prdDetail.prdInfo.discountPrice}}  {{webSettings.currencyCode}} </span>
		</div>
		
		<div ng-if="webSettings.allowDiscountDisplay=='*ALL_PRICE'" class="unitsWrapper">
			<span ng-class="{'actPrice': convertAsNumber(prdDetail.prdInfo.discountPrice) > 0}" style="cursor: default;" class="finalPrice">{{prdDetail.prdInfo.actualPrice}}  {{webSettings.currencyCode}}  </span> 
			<span ng-show="convertAsNumber(prdDetail.prdInfo.discountPrice) > 0"  class="finalPrice" style="cursor: default;" ng-click="showPriceCalcDlgFromItemDetail(prdDetail.prdInfo)">{{prdDetail.prdInfo.discountPrice}}  {{webSettings.currencyCode}} </span> 
		</div>
		
		<div ng-if="webSettings.allowDiscountDisplay=='*ACTUAL_PRICE'" class="unitsWrapper">
			<span style="cursor: default;" class="finalPrice" ng-click="showPriceCalcDlgFromItemDetail(prdDetail.prdInfo)">{{prdDetail.prdInfo.actualPrice}}  {{webSettings.currencyCode}}  </span> 
		</div>
		
		<div ng-if="webSettings.allowDiscountDisplay=='*ALL'" class="unitsWrapper" >
			<span ng-class="{'actPrice': convertAsNumber(prdDetail.prdInfo.discountPrice) > 0}" style="cursor: default;" class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlgFromItemDetail(prdDetail.prdInfo)">{{prdDetail.prdInfo.actualPrice}} {{webSettings.currencyCode}}  </span>
			<span ng-show="convertAsNumber(prdDetail.prdInfo.discountPrice) > 0" style="cursor: default;" class="discount">{{prdDetail.prdInfo.discountPercentage}} %</span>
			<span ng-show="convertAsNumber(prdDetail.prdInfo.discountPrice) > 0" class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlgFromItemDetail(prdDetail.prdInfo)">{{prdDetail.prdInfo.discountPrice}} {{webSettings.currencyCode}} </span> 
		</div>

		<!-- ADM-009 -->
		<img width="20px" ng-src="images/Available.png" title="Item has promotion" ng-show="prdDetail.prdInfo.hasPromoP1OrP2">
		<img width="20px" ng-src="images\H.png" ng-show="prdDetail.prdInfo.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}" >
		<!-- ADM-009 end -->
		
			<a ng-show="prdDetail.isSendEnquiryAllowed" title="{{'CON_CLICK_TO_SEND_EMAIL_ENQUIRY_PRODUCT' | translate}}" class="emailIcon" 
						ng-click="sendPrdEnquiry(prdDetail.prdInfo.itemCode,prdDetail.prdInfo.itemDesc)"></a>
		
		<div ng-hide="webSettings.itemAvailabilityType == '*NO'" ng-show="isNormalItem || isComponentItem || !isMatrixOption2" class="left availability">
			<span ng-show="prdDetail.prdInfo.showAvailabilityAsLink && prdDetail.prdInfo.showAvailabilityAsImage"> 
				<label class="left">{{'CON_AVAILABLE'| translate}} :</label> <a title="{{'CON_CLICK_TO_SEE_WHS_INFO' | translate}}" href="" ><img ng-src="images/{{prdDetail.prdInfo.availabilityImageName}}" ng-click="showWhsTab(true)" /> </a> 
			</span>
			<span ng-show="!prdDetail.prdInfo.showAvailabilityAsLink && prdDetail.prdInfo.showAvailabilityAsImage"> 
			<label class="left">{{'CON_AVAILABLE'| translate}} :</label>
				<img ng-src="images/{{prdDetail.prdInfo.availabilityImageName}}" ng-click="showWhsTab(true)"/>
			</span>  
			<span ng-show="prdDetail.prdInfo.showAvailabilityAsLink && !prdDetail.prdInfo.showAvailabilityAsImage"> 
				<label class="left">{{'CON_AVAILABLE'| translate}} :</label>
				<a href="" ng-click="showWhsTab(true)" >{{prdDetail.prdInfo.availabilityText}} </a>
			</span>
			<span ng-show="!prdDetail.prdInfo.showAvailabilityAsLink && !prdDetail.prdInfo.showAvailabilityAsImage"> 
				<label class="left">{{'CON_AVAILABLE'| translate}} :</label> {{prdDetail.prdInfo.availabilityText}}
			</span>
		</div>
		<div class="unitsWrapper clr_left" ng-show="webSettings.isSendEnquiryAllowed">
			<label class="left">{{'COH_ENQUIRY_ON_ITEMS'| translate}} :</label> 
			<a  title="{{'CON_CLICK_TO_SEND_EMAIL_ENQUIRY_PRODUCT' | translate }}" class="emailIcon" ng-click="sendPrdEnquiry(prdDetail.prdInfo.itemCode,prdDetail.prdInfo.itemDesc)"></a>

		</div>
		
		<!-- add to list and buy buttons  -->
		<div class="buttonWrapper left clr_left">
		    <button class="backButton "  name="" type="button" ng-click="goBack()">{{'CON_BACK' | translate}}</button>
			<button type="button" name="" value="" class="homeCat" ng-disabled="disableShoppingList(prdDetail.isMatrixBaseItem) || prdDetail.selectedUnitObject == null" ng-class="{'disabled': !isSignedIn}" ng-click="addItem();">{{'CON_ADD_TO_LIST'|translate}}</button>
			<!-- ADM-013 --><button  ng-if="prdDetail.prdInfo.itemClass == 1" ng-show="isNormalItem || isComponentItem || isMatrixBasedItem" ng-disabled="!prdDetail.prdInfo.isBuyAllowed" ng-class="{'disabled': prdDetail.prdInfo.isBuyAllowed == false, 'addedInCart':isShopCartItem(prdDetail.prdInfo.itemCode)==true , 'buy':isShopCartItem(prdDetail.prdInfo.itemCode)==false }" 	type="button" name="" value="" ng-click="buyItem()">{{'CON_BUY'|translate}} <span ng-show="isShopCartItem(prdDetail.prdInfo.itemCode)" title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span></button>
			<!-- ADM-013 --><!-- ADM-020 --><button ng-if="prdDetail.prdInfo.itemClass == 2" type="button" name="" value="" class="buy" ng-class="buy" ng-click="showBtbDlgItemDetails(prdDetail.prdInfo, smallSlider.getAllImages()[smallSlider.getCurrentIndex()])" title="{{'COH_PROCURE_THE_ITEM' | translate}}">{{'CON_BTB' | translate}}</button>
<!-- 			<button ng-show="isMatrixBasedItem && matrixItemList[0].isShowTableViewForMatrixItems" ng-class="{'disabled':prdDetail.prdInfo.isBuyAllowed == false}" 	type="button" name="" value="" class="buy" 	ng-click="buyItems();">{{'CON_BUY'|translate}}</button> -->
		</div>
	
		
		<section name="matrixItemSectionTable" ng-show="isMatrixBasedItem && matrixItemList[0].isShowTableViewForMatrixItems">
		<div class=" matrixItemSection">			
			<!-- product detail table : matrix based item (option 2) -->
				
			<p>{{'MATRIX_ITEM_TEXT' | translate}}</p>
			<table class="matrixHandling" ng-show="matrixItemList[0].isShowTableViewForMatrixItems">
				<thead>
					<tr>
						<th>{{matrixItemList[0].segmentationDesc2}}/{{matrixItemList[0].segmentationDesc3}}</th>
						<th ng-repeat="col in matrixColumnList">{{col.key}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat = "row in matrixList">				
					<td> {{row[0].verticalTemplateName}}</td>					
					<td ng-repeat="item in row" > {{item.matrixItemPrice}} {{getTranslatedUnit(item.matrixUnitCode)}}<span ><input ng-model="item.newQuantity" type="text" ng-class ="{ 'error': !item.validQuantity, '' : item.validQuantity}" ng-change="checkValidQuantity(item,item.newQuantity)" title="{{item.quantityBoxMsg}}"/>
						<a ng-show="isSignedIn && displayAvailabilityImage(item)" href="" ng-click= "getProductDetail(prdDetail.getParamsForMatrixTableItem(item.itemMatrixCode),true)" title="{{'CON_CLICK_TO_SEE_WHS_INFO' | translate}}"> <img ng-src="images/{{item.availabilityImageName}}" /></a>
						<a ng-show="isSignedIn && displayAvailabilityLinkText(item)" href="" ng-click= "getProductDetail(prdDetail.getParamsForMatrixTableItem(item.itemMatrixCode),true)">{{item.availabilityMatrixItem}}</a>
						<a ng-show="isSignedIn && displayAvailabilityText(item)" ng-click= "getProductDetail(prdDetail.getParamsForMatrixTableItem(item.itemMatrixCode),true)"> {{item.availabilityMatrixItem}}</a>
						<a ng-show="isSignedIn" ng-if="showHide(item.isMatrixBuyAllowed)&& !isShopCartItem(item.itemMatrixCode)" > <button ng-show="item.isMatrixBuyAllowed" type="button" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}" name="" value="" class="buyIcon"	ng-click="buyItems();">{{'CON_BUY'|translate}}</button></a>
						<a ng-show="isSignedIn" ng-if="showHide(item.isMatrixBuyAllowed)&& isShopCartItem(item.itemMatrixCode)"> <button ng-show="item.isMatrixBuyAllowed" type="button" title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}" name="" value="" class="buyIconAdded"	ng-click="buyItems();">{{'CON_BUY'|translate}}</button></a>
						<button ng-show="isSignedIn" type="button" name="" value="" class="addToListTableView" ng-class="{'disabled': !isSignedIn}" title={{addToListText}} ng-click="addMatrixItemsToCurrentList();">{{'CON_ADD_TO_LIST' | translate}}</button>
						<a ng-show="webSettings.isSendEnquiryAllowed" title="{{'CON_CLICK_TO_SEND_EMAIL_ENQUIRY_PRODUCT' | translate }}" class="emailIcon" ng-click="sendPrdEnquiry(item.itemMatrixCode,prdDetail.prdInfo.itemDesc)"></a>
						<img class="quickInfoImageListView" ng-src="images/Information.png" title="Quick Information of Product"  ng-click="showQuickViewMatrixDlg(item);">
						<!-- ADM-009 -->
						<img class="promotionImage" ng-src="images/Available.png" title="Item has promotion" ng-show="item.hasPromoP1OrP2">
						<img class="hospitalImage" ng-src="images\H.png" ng-show="item.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}" >
						<!-- ADM-009 end -->
					</span>	
					
							
					<!-- <span ng-show="displayAvailabilityLinkImage(item)"></span> 
					<span ng-show="displayAvailabilityLinkText(item)"><a ng-show="displayAvailabilityLinkText(item)" href="" ng-click= "getProductDetail(prdDetail.getParamsForMatrixTableItem(item.itemMatrixCode),true)">{{item.availabilityMatrixItem}}</a></span>
					<span ng-show="displayAvailabilityImage(item)"></span>
					
					<span ng-show="displayAvailabilityText(item)" ng-click= "getProductDetail(prdDetail.getParamsForMatrixTableItem(item.itemMatrixCode),true)"> {{item.availabilityMatrixItem}}</span>
					-->
					</td>					
					</tr>
				</tbody>
			</table>					
		</div>		
		<div class="buttonWrapper right">
				<button class="backButton "  name="" type="button" ng-click="goBack()">{{'CON_BACK' | translate}}</button>
				<button type="button" name="" value="" class="homeCat" 	ng-class="{'disabled': !isSignedIn}" ng-click="addMatrixItemsToCurrentList();">{{'CON_ADD_TO_LIST'|translate}}</button>
				<!-- <button ng-class="{'disabled':prdDetail.prdInfo.isBuyAllowed == false}" 	type="button" name="" value="" class="buy" 	ng-click="buyItems();">{{'CON_BUY'|translate}}</button> -->
				
		</div>		
		</section>
		
		<!-- product detail  : with item components -->
		<section name= "componentItems"  ng-show="productDetails.hasComponentItems" class="left componentBasedItemSection">			
			<p>{{'TXT_IS_002' | translate}}</p>
		<table class="productComponents left" name="ProductComponent">
			<thead>
				<tr>
					<th>{{'COH_COMPONENT' | translate}}</th>
					<th>{{'CON_NAME' | translate}}</th>
					<th>{{'COH_QUANTITY' | translate}}</th>
					<th>{{'COH_UNIT' | translate}}</th>
					<th>
					<a shref="" ng-model="collapsed_ProductComponent" 	ng-click="collapsed_ProductComponent=!collapsed_ProductComponent" 	ng-class="{'open': !collapsed_ProductComponent, 'close': collapsed_ProductComponent}"></a>
					</th>
				</tr>
			</thead>
			<tbody ng-show="!collapsed_ProductComponent">
				<tr ng-repeat= "component in componentList" >
					<td>{{component.componentCode}}</td>
					<td><a href="" ng-click="showProductDetail(component.componentCode);">{{component.componentName}}</a></td>
					<td>{{component.quantity}}</td>
					<td>{{component.unitCode}}</td>					
					<td></td>
				</tr>
			</tbody>
		</table>

		
		<table class="productComponents left" name="spareparts">
			<thead>
				<tr>
					<th style="text-align: left" colspan="8">{{'COH_BUY_COMPONENT_SEPARATE' | translate}}</th>
					<th>
						<a shref="" ng-model="collapsed_ProductComponent" 	ng-click="collapsed_ProductComponent=!collapsed_ProductComponent" 	ng-class="{'open': collapsed_ProductComponent, 'close': !collapsed_ProductComponent}"></a>
					</th>
				</tr>				
			</thead >
			<tbody ng-show="collapsed_ProductComponent" class="additionaTable">
				<tr>
					<td class="nowrap"><b>{{'COH_COMPONENT' | translate}}</b></td>
					<td class="nowrap"><b>{{'CON_NAME' | translate}}</b></td>
					<td class="nowrap" ng-show="(webSettings.allowDiscountDisplay=='*ALL_PRICE') || (webSettings.allowDiscountDisplay=='*ALL') || (webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')"><b>{{'COH_ACTUAL_PRICE' | translate}}</b></td>
					<td class="nowrap" ng-show="(webSettings.allowDiscountDisplay=='*ALL_PRICE') || (webSettings.allowDiscountDisplay=='*ALL') || (webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE')"><b>{{'COH_DISCOUNT_PRICE' | translate}}</b></td>
					<td class="nowrap" ng-show="(webSettings.allowDiscountDisplay=='*ALL')"><b>{{'CON_DISCOUNT_%'  | translate}}</b></td>
					<td><b>{{'COH_QUANTITY' | translate}}</b></td>
					<td>&nbsp;</td>
					<td><b>{{'CON_AVAILABLE' | translate}}</b></td>
				</tr>
				<tr ng-repeat= "component in componentList" >
					<td style="width:100px;">{{component.componentCode}}</td>
					<td><a href="" ng-click="showProductDetail(component.componentCode);">{{component.componentName}}</a></td>
					<td ng-show="(webSettings.allowDiscountDisplay=='*ALL_PRICE') || (webSettings.allowDiscountDisplay=='*ALL') || (webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')"><span class="finalPrice ng-binding" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(component)">{{component.actualPrice}}</span></td>
					<td ng-show="(webSettings.allowDiscountDisplay=='*ALL_PRICE') || (webSettings.allowDiscountDisplay=='*ALL') || (webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE')"><span class="finalPrice ng-binding" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(component)">{{component.discountPrice}}</span></td>
					<td ng-show="(webSettings.allowDiscountDisplay=='*ALL')">{{component.discountPercentage}}</td>
					<td><input ng-show="isSignedIn" ng-model="component.newQuantity"type="text" ng-class ="{ 'error': !component.validQuantity, '' : component.validQuantity}" ng-change="checkValidQuantity(component,component.newQuantity)" title="{{component.quantityBoxMsg}}"/></td>
					<td class="buyButtonwidht">		
							
					<span class="left" ng-show="webSettings.isSendEnquiryAllowed && showEnquiryImage(component.inquiryImage)">
					<img title="{{'CON_CLICK_TO_SEND_EMAIL_ENQUIRY_PRODUCT' | translate}}" ng-src="images/{{getEnquiryImageName(component.inquiryImage)}}" ng-click="sendPrdEnquiry(component.componentCode,component.componentName)" /></span> 
					
					<button ng-if="component.isBuyAllowed && !isShopCartItem(component.componentCode)"  type="button" class="buyIcon left"	ng-click="buyComponentItems(component)">{{'CON_BUY'|translate}}</button>
					<span ng-if="component.isBuyAllowed && isShopCartItem(component.componentCode)">
						<span  class="addedInCart left"  ng-click="buyComponentItems(component)"  title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span>
					</span>
					<span class="left" >
					
					<img title="{{'CON_ADD_TO_LIST'|translate}}" ng-class="{'disabled': !isSignedIn}" class="imgAddToList" ng-src="images/{{getFavImageName(component.inquiryImage)}}" ng-click="addComponentItem(component);" />
					</span> 
					
					</td>
					<td>
							
					<span ng-show="prdDetail.prdInfo.showAvailabilityAsLink && prdDetail.prdInfo.showAvailabilityAsImage" class="availableMarginLeft"> 
					<a title="{{'CON_CLICK_TO_SEE_WHS_INFO' | translate}}"  ng-click="showProductDetail(component.componentCode,true);"  ><img ng-src="images/{{prdDetail.prdInfo.availabilityImageName}}" /> </a> 
					</span>
					<span ng-show="!prdDetail.prdInfo.showAvailabilityAsLink && prdDetail.prdInfo.showAvailabilityAsImage"  ng-click="showProductDetail(component.componentCode,true);" class="availableMarginLeft"> 
					<img ng-src="images/{{prdDetail.prdInfo.availabilityImageName}}"/>
					</span>  
					<span ng-show="prdDetail.prdInfo.showAvailabilityAsLink && !prdDetail.prdInfo.showAvailabilityAsImage"> 
					
					<a href="" ng-click="showProductDetail(component.componentCode,true);" class="availableMarginLeft" >{{component.availabilityOfItem}} </a>
					</span>
					<span ng-show="!prdDetail.prdInfo.showAvailabilityAsLink && !prdDetail.prdInfo.showAvailabilityAsImage" ng-click="showProductDetail(component.componentCode,true);" class="availableMarginLeft"> 
					{{component.availabilityOfItem}}
					</span>					
					</td>
				</tr>
			</tbody>
		</table>	
		<div class="buttonWrapper right" style="display:none;">
				<button class="backButton "  name="" type="button" ng-click="goBack()">{{'CON_BACK' | translate}}</button>
				<button type="button" name="" value="" class="homeCat" 	ng-class="{'disabled': !isSignedIn}" ng-click="addComponentItemsToCurrentList();">{{'CON_ADD_TO_LIST'|translate}}</button>
				<button ng-class="{'disabled':prdDetail.prdInfo.isBuyAllowed == false}" 	type="button" name="" value="" class="buy" 	ng-click="buyComponentItems()">{{'CON_BUY'|translate}}</button>
		</div>	
		</section>
		
		
		</div>
		<!-- 
		<div class="tabControl clr_left">
		<tabset justified="true"> 
			<tab heading="Overview">			
			<p ng-bind-html="renderHtml(productDetails.itemWebText)"></p>
			 <table>	
			 		<tr> <td>{{'CON_NET_VOLUME' | translate}} :</td>  <td>{{productDetails.netVolume}}</td></tr>	 
			 		<tr> <td>{{'COH_GROSS_VOLUME' | translate}} :</td>  <td>{{productDetails.grossVolume}}</td></tr>	
			 		<tr> <td>{{'CON_NET_WEIGHT' | translate}} :</td>  <td>{{productDetails.netWeight}}</td></tr>
			 		<tr> <td>{{'CON_GROSS_WEIGHT' | translate}} :</td>   <td>{{productDetails.grossWeight}}</td></tr>
			 		<tr> <td>{{'COH_LENGTH' | translate}} :</td> <td>{{productDetails.length}}</td></tr>
			 		<tr> <td>{{'COH_HEIGHT' | translate}} :</td> <td>{{productDetails.height}}</td></tr>
			 		<tr> <td>{{'COH_WIDTH' | translate}} :</td>  <td>{{productDetails.width}}</td></tr>
			 		<tr> <td>{{'COH_ENQUIRY_ON_ITEMS' | translate}} :</td> <td ng-show="productDetails.isSendEnquiryAllowed && showEnquiryImage(productDetails.inquiryImage)"><img title="{{'CON_CLICK_TO_SEND_EMAIL_ENQUIRY_PRODUCT' | translate}}" src="images/{{getEnquiryImageName(productDetails.inquiryImage)}}" /> </td></tr>		 				 	
		 		</table>		
			</tab>
		 	<tab heading="Specifications">
		 		<p ng-repeat = "rc in resourceBeanList" ng-show="rc.listOfRT.length > 0 ">
		 			<a href = "{{list}}" target="_blank" ng-repeat="list in rc.listOfRT " >{{rc.resourceType}}</a>
		 		</p>		 	
		 		<p ng-repeat =" web in webLink"><a href = "{{web.linkAddress}}" target="_blank">{{web.linkName}}</a></p>
		 		 	
		 	</tab>
		 	<tab heading="{{'CON_WAREHOUSE_DETAILS' | translate}}" ng-show="productDetails.isWarehouseDetailsShown">		 	
		 		<table ng-repeat="ws in warehouseBeanList" >	
		 			<tr> <td>{{'CON_WAREHOUSE_CODE' | translate}} :  </td><td>{{ws.wareHouseCode}}</td></tr>	 
		 			<tr> <td>{{'COH_DESCRIPTION' | translate}} :</td> <td>{{ws.description}}</td></tr>	
		 			<tr> <td>{{'COH_STOCK_ON_HAND' | translate}} :</td><td>{{ ws.onHand }}</td></tr>
		 			<tr> <td>{{'CON_AVAILABLE' | translate}} :</td> <td>{{ ws.available}}</td></tr>
		 			<tr> <td>{{'CON_AVAILABLE_DATE' | translate}} :</td> <td>{{ws.availabilityDate}} </td></tr> 
		 			<tr ng-show="$index!=(warehouseBeanList.length-1)"> <td colspan="2"><div class="sep"></div></td></tr> 		
		 		</table>	
		 		
		 		</tab>
		  </tabset>
		</div>
		-->
		
	<div id="tabs" class="tabControl clr_left">
		<ul ng-repeat="tab in productInfoTabs" >
			<li  ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)" ng-show="tab.isEnabled">{{tab.title}}</li>
		</ul>
		<div id="mainView">
			<div ng-include="currentTab"></div>
		</div>
	</div>
		<script type="text/ng-template" id="overview.html">
		<div id="overview">
		<p ng-bind-html="renderHtml(productDetails.itemWebText)"></p>
		<p ng-bind-html="renderHtml(productDetails.itemSharedWebText)"></p>
			<!-- ADM-021 start -->	
				 <table class="overviewTabs">
					<!-- ADM-008 
			 		<tr> <td>{{'CON_SUBSTANCE_NAME' | translate}} :</td>  <td>{{productDetails.federfarmaBean.substanceName}} ({{productDetails.federfarmaBean.substanceCode}})</td></tr>	 
			 		<tr> <td>{{'CON_MANUFACTURER_NAME' | translate}} :</td>  <td>{{productDetails.federfarmaBean.manufacturerName}} ({{productDetails.federfarmaBean.manufacturerCode}})</td></tr>	
					<!-- ADM-008 
			 		<tr> <td>{{'CON_NET_VOLUME' | translate}} :</td>  <td>{{productDetails.netVolume}}</td></tr>	 
			 		<tr> <td>{{'COH_GROSS_VOLUME' | translate}} :</td>  <td>{{productDetails.grossVolume}}</td></tr>	
			 		<tr> <td>{{'CON_NET_WEIGHT' | translate}} :</td>  <td>{{productDetails.netWeight}}</td></tr>
			 		<tr> <td>{{'CON_GROSS_WEIGHT' | translate}} :</td>   <td>{{productDetails.grossWeight}}</td></tr>
			 		<tr> <td>{{'COH_LENGTH' | translate}} :</td> <td>{{productDetails.length}}</td></tr>
			 		<tr> <td>{{'COH_HEIGHT' | translate}} :</td> <td>{{productDetails.height}}</td></tr>
			 		<tr> <td>{{'COH_WIDTH' | translate}} :</td>  <td>{{productDetails.width}}</td></tr>
					<tr ng-show ="productDetails.category1 != null"> <td>{{productDetails.category1Description}} :</td>  <td>{{productDetails.category1}}</td></tr>
					<tr ng-show ="productDetails.category2 != null"> <td>{{productDetails.category2Description}} :</td>  <td>{{productDetails.category2}}</td></tr>
					<tr ng-show ="productDetails.category3 != null"> <td>{{productDetails.category3Description}} :</td>  <td>{{productDetails.category3}}</td></tr>
					<tr ng-show ="productDetails.category4 != null"> <td>{{productDetails.category4Description}} :</td>  <td>{{productDetails.category4}}</td></tr>
					<tr ng-show ="productDetails.category5 != null"> <td>{{productDetails.category5Description}} :</td>  <td>{{productDetails.category5}}</td></tr>
					<tr ng-show ="productDetails.category6 != null"> <td>{{productDetails.category6Description}} :</td>  <td>{{productDetails.category6}}</td></tr>
					<tr ng-show ="productDetails.alpha1 != null"> <td>{{productDetails.alpha1Description}} :</td>  <td>{{productDetails.alpha1}}</td></tr>
					<tr ng-show ="productDetails.alpha2 != null"> <td>{{productDetails.alpha2Description}} :</td>  <td>{{productDetails.alpha2}}</td></tr>
					<tr ng-show ="productDetails.userDefinedNumericField1 != null"> <td>{{productDetails.userDefinedNumericField1Description}} :</td>  <td>{{productDetails.userDefinedNumericField1}}</td></tr>
					<tr ng-show ="productDetails.userDefinedNumericField2 != null"> <td>{{productDetails.userDefinedNumericField2Description}} :</td>  <td>{{productDetails.userDefinedNumericField2}}</td></tr>
					<!-- do not show enquiry under overview tab
			 		<tr> <td>{{'COH_ENQUIRY_ON_ITEMS' | translate}} :</td> <td ng-show="productDetails.isSendEnquiryAllowed && showEnquiryImage(productDetails.inquiryImage)"><img title="{{'CON_CLICK_TO_SEND_EMAIL_ENQUIRY_PRODUCT' | translate}}" ng-src="images/{{getEnquiryImageName(productDetails.inquiryImage)}}" /> </td></tr>		 				 	
					
				</table>		
			<!-- ADM-021 end -->		 		
		</div>
	</script>
	
	<script type="text/ng-template" id="catalogProdDetail.html">
	
		<div id="overview">
		
            <ul class="catList"  >
               <li  class="" ng-repeat="menu in subCatalogueBeanList" 
                  ng-include = "'cat_renderer.html'"  >
               </li>
            </ul>
			</div>		
	</script>
	<script type="text/ng-template" id="cat_renderer.html">
               <a ng-click="showCatalogFromProd(menu)"  title="{{menu.description}}"> {{menu.description}} </a>
                 <ul class="catList" style="display:-moz-inline-box;display: -webkit-inline-box;"> <li ng-repeat = "menu in menu.subCatalogueBeanList"
                      ng-include = "'cat_renderer.html'"></li>
               </ul>
                   
            </script>
	
	<script type="text/ng-template" id="specifications.html">
		<div id="spec">
			<!-- ADM-021 start -->
			 <table class="overviewTabs">
					<tr> <td>{{'COH_PRODUCT_CODE' | translate}} :</td>  <td>{{prdDetail.prdInfo.itemCode}}</td></tr>
					<!-- ADM-008 -->
			 		<tr> <td>{{'CON_SUBSTANCE_NAME' | translate}} :</td>  <td>{{productDetails.federfarmaBean.substanceName}} ({{productDetails.federfarmaBean.substanceCode}})</td></tr>	 
			 		<tr> <td>{{'CON_MANUFACTURER_NAME' | translate}} :</td>  <td>{{productDetails.federfarmaBean.manufacturerName}} ({{productDetails.federfarmaBean.manufacturerCode}})</td></tr>	
					<!-- ADM-008 -->
			 		<tr> <td>{{'CON_NET_VOLUME' | translate}} :</td>  <td>{{productDetails.netVolume}}</td></tr>	 
			 		<tr> <td>{{'COH_GROSS_VOLUME' | translate}} :</td>  <td>{{productDetails.grossVolume}}</td></tr>	
			 		<tr> <td>{{'CON_NET_WEIGHT' | translate}} :</td>  <td>{{productDetails.netWeight}}</td></tr>
			 		<tr> <td>{{'CON_GROSS_WEIGHT' | translate}} :</td>   <td>{{productDetails.grossWeight}}</td></tr>
			 		<tr> <td>{{'COH_LENGTH' | translate}} :</td> <td>{{productDetails.length}}</td></tr>
			 		<tr> <td>{{'COH_HEIGHT' | translate}} :</td> <td>{{productDetails.height}}</td></tr>
			 		<tr> <td>{{'COH_WIDTH' | translate}} :</td>  <td>{{productDetails.width}}</td></tr>
					<tr ng-show ="productDetails.category1 != null"> <td>{{productDetails.category1Description}} :</td>  <td>{{productDetails.category1}}</td></tr>
					<tr ng-show ="productDetails.category2 != null"> <td>{{productDetails.category2Description}} :</td>  <td>{{productDetails.category2}}</td></tr>
					<tr ng-show ="productDetails.category3 != null"> <td>{{productDetails.category3Description}} :</td>  <td>{{productDetails.category3}}</td></tr>
					<tr ng-show ="productDetails.category4 != null"> <td>{{productDetails.category4Description}} :</td>  <td>{{productDetails.category4}}</td></tr>
					<tr ng-show ="productDetails.category5 != null"> <td>{{productDetails.category5Description}} :</td>  <td>{{productDetails.category5}}</td></tr>
					<tr ng-show ="productDetails.category6 != null"> <td>{{productDetails.category6Description}} :</td>  <td>{{productDetails.category6}}</td></tr>
					<tr ng-show ="productDetails.alpha1 != null"> <td>{{productDetails.alpha1Description}} :</td>  <td>{{productDetails.alpha1}}</td></tr>
					<tr ng-show ="productDetails.alpha2 != null"> <td>{{productDetails.alpha2Description}} :</td>  <td>{{productDetails.alpha2}}</td></tr>
					<tr ng-show ="productDetails.userDefinedNumericField1 != null"> <td>{{productDetails.userDefinedNumericField1Description}} :</td>  <td>{{productDetails.userDefinedNumericField1}}</td></tr>
					<tr ng-show ="productDetails.userDefinedNumericField2 != null"> <td>{{productDetails.userDefinedNumericField2Description}} :</td>  <td>{{productDetails.userDefinedNumericField2}}</td></tr>
					<!-- do not show enquiry under overview tab
			 		<tr> <td>{{'COH_ENQUIRY_ON_ITEMS' | translate}} :</td> <td ng-show="productDetails.isSendEnquiryAllowed && showEnquiryImage(productDetails.inquiryImage)"><img title="{{'CON_CLICK_TO_SEND_EMAIL_ENQUIRY_PRODUCT' | translate}}" ng-src="images/{{getEnquiryImageName(productDetails.inquiryImage)}}" /> </td></tr>		 				 	
					-->		 		
			</table>
			<!-- ADM-021 end -->
			<p ng-repeat = "rc in resourceBeanList" ng-show="rc.listOfRT.length > 0 ">
		 			<a href = "{{rc.listOfRT[$index]}}" target="_blank" ng-repeat="list in rc.resourceListDesc " >{{rc.resourceDescName[$index]}}<br/></a>
		 		</p>		 	
		 		<p ng-repeat =" web in webLink"><a href = "{{web.linkAddress}}" target="_blank">{{web.linkDescription}}</a></p>
		</div>
	</script>
	
	<script type="text/ng-template" id="warehouse.html">
		<div id="whs">
			<table class="overviewTabs" ng-repeat="ws in warehouseBeanList" >	
		 			<tr> <td>{{'CON_WAREHOUSE_CODE' | translate}} :  </td><td>{{ws.wareHouseCode}}</td></tr>	 
		 			<tr> <td>{{'COH_DESCRIPTION' | translate}} :</td> <td>{{ws.description}}</td></tr>
					<!-- ADM-021 -->
					<!-- 	
		 			<tr> <td>{{'COH_STOCK_ON_HAND' | translate}} ({{prdDetail.prdInfo.defaultSalesUnitDesc}}) :</td>
						<td>
							<span ng-show="displayWhsOnHand(ws.onHand)"> 
								<img ng-src="images/{{getWhsOnHandImage(ws.onHand)}}" />  
							</span>
							<span ng-show="!displayWhsOnHand(ws.onHand)">
								 {{getWhsOnHandText(ws.onHand)}}
							</span>
						</td>
					</tr>
		 			<tr> <td>{{'CON_AVAILABLE' | translate}} ({{prdDetail.prdInfo.defaultSalesUnitDesc}}) :</td> 
						<td>
							<span ng-show="displayWhsAvailabilityImage(ws.available)"> 
								<img ng-src="images/{{getWhsAvailabilityImage(ws.available)}}" />  
							</span>
							<span ng-show="!displayWhsAvailabilityImage(ws.available)"> 
								{{getWhsAvailabilityText(ws.available)}}
							</span>
						</td>
					</tr>
		 			<tr> <td>{{'CON_AVAILABLE_DATE' | translate}} :</td> <td>{{ws.availabilityDate}} </td></tr>
					--> 
		 			<tr ng-show="$index!=(warehouseBeanList.length-1)"> <td colspan="2"><div class="sep"></div></td></tr> 		
		 		</table>	
		</div>
	</script>
<!-- ADM-008 -->
<div>
	<div class="sep"></div>
	<div ui-view="alternativeItemsView"></div>
</div>
<!-- ADM-008 end -->
<div>
	<div class="sep"></div>
	<div class="scrollTableTop" id = "result_set">
	<section id="promotionSection" ui-view="promotionSection"></section>
	</div>
</div>
</div>
