<div ng-controller="prodSearchCtrl" class="productSearchResult">
	<!-- <p class="head">{{'CON_SEARCH_RESULT' | translate}}</p>  -->
	<div class="barProductSearch">				
		<!-- <a class="list" ui-sref=".homeCatalogTable" >Table View</a>  --> 
		<div class="rightWithPadding">
		<span class=""> <a href="" ng-click="compare();"  ng-class = "{'compareShowDisabled':(SelectedProductList.length > 1 && !isCompareProductShowDisable),'compare': (SelectedProductList.length > 1 && isCompareProductShowDisable), 'compare_disabled': 
(SelectedProductList.length < 2)}" >{{'COH_COMPARE' | translate}}</a>
	</span>
	<span class="">{{'COH_VIEW' | translate}}</span>
		<span ng-if="!isList" >
			<a class="GridSelected" href="" ></a>&nbsp;<a class="TableView" ng-click="changeView();" href="" ></a>
		</span>
		<span ng-if="isList">
		<a class="GridView" href=""  ng-click="changeView();"></a>&nbsp;<a class="TableSelected" href="" ></a>
		</span>
			</div>
		<!--<a ng-class ="{'list': isList, 'grid': !isList}" href="" ng-click="changeView();">{{ViewLabelName}}</a>-->
			
	</div>
<div class="resultsMainWrapper marginTop">
	<div ng-class="{'leftSearchWrappercollapse':filterPanelCollapsed,'leftSearchWrapper':!filterPanelCollapsed}">
	 <div id="prod_hdr01" ng-class="{'hdr01Collapse':filterPanelCollapsed,'hdr01Expand':!filterPanelCollapsed}" ng-click="filterPanelCollapsed=!filterPanelCollapsed">
    <a id="ankl00_01" title="Search" class="hdr01">
      <img id="ctl00_01" src="images/searchFilertersIcon.png" style="border: 0; float: left; height:25px; margin: 4px" />
      <span id="sp100_01" ng-hide="filterPanelCollapsed">{{'CON_PRODUCT_SEARCH' | translate}} </span>
      <img id="ctl00_02" ng-hide="filterPanelCollapsed" src="images/panelCollapseIcon.png" style="border: 0; float: left; margin: 4px" />

    </a>
  </div>
  <section id="filters" ng-hide="filterPanelCollapsed">	
	<div class="searchFields left">
	<input type="text" placeholder="{{'COH_PRODUCT_CODE' | translate}}" ng-model="productCodeSearchText" on-Enter="advanceSearch(true)"></input>
	<input type="text" placeholder="{{'COH_DESCRIPTION' | translate}}" ng-model="productDescSearchText" on-Enter="advanceSearch(true)"></input>
	<!-- ADM-011 -->
	<input type="text" placeholder="{{'CON_MINSAN_CODE' | translate}}" ng-show="webSettings.showMinsanCodeColumn" ng-model="minsanCodeSearchText" on-Enter="advanceSearch(true)"></input>
	<input type="text" placeholder="{{'CON_EAN_CODE' | translate}}" ng-show="webSettings.showEanCodeColumn" ng-model="eanCodeSearchText" on-Enter="advanceSearch(true)"></input>
	<input type="text" placeholder="{{'CON_SUBSTANCE_NAME' | translate}}" ng-show="webSettings.showSubstanceNameColumn" ng-model="substanceNameSearchText" on-Enter="advanceSearch(true)"></input>
	<input type="text" placeholder="{{'CON_MANUFACTURER_NAME' | translate}}" ng-show="webSettings.showManufacturerNameColumn" ng-model="manufacturerNameSearchText" on-Enter="advanceSearch(true)"></input>
	<!-- ADM-011 end -->
	<a href="" class="clearSelection"  ng-click="clearFilterSelection()">{{'CON_CLEAR_SELECTION' | translate}}</a> 
	 <button class="yellowButton right"  ng-click="advanceSearch(true)">{{'CON_SEARCH' | translate}}</button> 
	</div>
	<!-- ADM-026 
	<h1 ng-show="productSearchFilterList.hasEnabledFilters()">{{'CON_REFINE_SEARCH' | translate}}</h1>
	<div data-ng-repeat="FilterItem in productSearchFilterList.getFilters()" class="filters-wrapper"> -->
	<!-- ADM-026 Begin -->
	<h1 ng-hide="true" >{{'CON_REFINE_SEARCH' | translate}}</h1>
	<div ng-hide="true" data-ng-repeat="FilterItem in productSearchFilterList.getFilters()" class="filters-wrapper">
	<!-- ADM-026 End -->
		<div class="sep"></div>
		<div ng-show="FilterItem.isEnabled">
		
			<a shref="" ng-model="collapsed" ng-click="collapsed=!collapsed"
				ng-class="{'exp-plus-icon': collapsed, 'exp-collapse-icon': !collapsed}">a</a>
			<p class="filter-name">{{FilterItem.filterValueName}}</p>
			<fieldset class="filters" ng-show="!collapsed">
				<br />
				<p ng-if="webSettings.showNumberOfItemsInFilter" data-ng-repeat="filterValueList in FilterItem.dataList">
					<label ng-if =" filterValueList.count != null" title="{{filterValueList.desc}}   ({{filterValueList.count}})">
						<!-- input type="checkbox" 	ng-model="filterFormInfo[FilterItem.filterName]" ng-true-value="{{filterValueList.code}}" ng-false-value="" /> -->
					<!-- 	<input type="radio"
						ng-model="FilterItem.selectedItems" ng-value="filterValueList" value="{{filterValueList}}" ng-checked="filterValueList.code ==FilterItem.selectedItems.code" id="filterValueList.code"> {{filterValueList.desc}} 
					-->
					<input type="checkbox" 	ng-model="filterValueList.checked" ng-change="advanceSearch()"  ng-true-value="{{filterValueList.code}}" ng-false-value="false" /> {{filterValueList.desc}}   ({{filterValueList.count}})
					</label>
					<label ng-if =" filterValueList.count == null" title="{{filterValueList.desc}}">
						<!-- input type="checkbox" 	ng-model="filterFormInfo[FilterItem.filterName]" ng-true-value="{{filterValueList.code}}" ng-false-value="" /> -->
					<!-- 	<input type="radio"
						ng-model="FilterItem.selectedItems" ng-value="filterValueList" value="{{filterValueList}}" ng-checked="filterValueList.code ==FilterItem.selectedItems.code" id="filterValueList.code"> {{filterValueList.desc}} 
					-->
					<input type="checkbox" 	ng-model="filterValueList.checked" ng-change="advanceSearch()"  ng-true-value="{{filterValueList.code}}" ng-false-value="false" /> {{filterValueList.desc}}
					</label>
				</p>
				<p ng-if="!webSettings.showNumberOfItemsInFilter" data-ng-repeat="filterValueList in FilterItem.dataList">
					<label title="{{filterValueList.desc}}">
						<!-- input type="checkbox" 	ng-model="filterFormInfo[FilterItem.filterName]" ng-true-value="{{filterValueList.code}}" ng-false-value="" /> -->
					<!-- 	<input type="radio"
						ng-model="FilterItem.selectedItems" ng-value="filterValueList" value="{{filterValueList}}" ng-checked="filterValueList.code ==FilterItem.selectedItems.code" id="filterValueList.code"> {{filterValueList.desc}} 
					-->
					<input type="checkbox" 	ng-model="filterValueList.checked" ng-change="advanceSearch()"  ng-true-value="{{filterValueList.code}}" ng-false-value="false" /> {{filterValueList.desc}}
					</label>
				</p>
				
			</fieldset>
		</div>
	</div>
	</section>
	</div>	
	
	<section id="productSearchResultView" ng-class="{'expendedView':filterPanelCollapsed}">
	<div class="filtersInfowrapper left" ng-show="productSearchFilterList.getSelectedFiltersProductSearch().length > 0" ng-class="{'expendedViewFilters':filterPanelCollapsed}">
    <ul>
        <li>{{'CON_YOU_SELECTED' | translate}} </li>
        <li data-ng-repeat="FilterItem in productSearchFilterList.getSelectedFiltersProductSearch()">{{FilterItem.desc}}
        <!-- 	<a href="" title="{{'CON_REMOVE_FILTER' | translate}}" ng-click="productSearchFilterList.removeSelection(FilterItem)"></a> -->
        	<a href="" title="{{'CON_REMOVE_FILTER' | translate}}" ng-click="removeFilter(FilterItem)"></a>
        </li>
    </ul>   
    </div>
		<div class="countMsg left errorMsg" ng-show="errorMsg != null">{{errorMsg}} </div> 
		<div ui-view="productSearchResultView"></div>
	</section>
	
	</div>
</div>