<div class="listview">
  <div class="extendedInfo">
	  <label>{{'CON_EXTENDED_INFO' | translate}}: </label>
	  <input type="radio" ng-model="prdSearchShowExtendInfo" ng-value="ExtendedInfoOption1" value="{{ExtendedInfoOption1}}" name="CatalogueRB" class="" ng-checked="ExtendedInfoOption1 == prdSearchShowExtendInfo" ng-change="$parent.prdSearchShowExtendInfo = true"><label>{{'CON_YES' | translate}}</label>
	  <input type="radio" ng-model="prdSearchShowExtendInfo" ng-value="ExtendedInfoOption2" value="{{ExtendedInfoOption2}}" name="CatalogueRB" class="" ng-checked="ExtendedInfoOption2 == prdSearchShowExtendInfo" ng-change="$parent.prdSearchShowExtendInfo = false">  <label>{{'CON_NO' | translate}}</label>
	  <!-- <input type="radio" ng-model="prdSearchShowExtendInfo" value='true' name="CatalogueRB" class=""><label>{{'CON_YES' | translate}}:</label>
	  <input type="radio" ng-model="prdSearchShowExtendInfo" value='false' name="CatalogueRB" class="">  <label>{{'CON_NO' | translate}}:</label>
	   -->
  </div>
  <div class="right download">
   		<a href="" class="right" ng-show="webSettings.showXmlIcon" title="{{'CON_PRODUCT_SEARCH_XML' | translate}}"> <img ng-src="./images/XML.png" ng-click="exportPrdSearchData('xml')" /> </a> 
 		<a href="" class="right" ng-show="webSettings.showExcelIcon" title="{{'CON_PRODUCT_SEARCH_EXCEL' | translate}}"> <img ng-src="./images/Excel.png" ng-click="exportPrdSearchData('xls')" /> </a>
		<a href="" class="right" ng-show="webSettings.showPdfIcon" title="{{'CON_PRODUCT_SEARCH_PDF' | translate}}"> <img ng-src="./images/PDF.png" ng-click="exportPrdSearchData('pdf')" /> </a>
  
	<button ng-show="prdSearchTblHeaders.isBuyingAllowed" type="button" name="" value="" class="buyIcon" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}"
	ng-click="buyItems()" >{{'CON_BUY' | translate}}</button>
	<button type="button" ng-show="isSignedIn" name="" value="" class="addToList" title={{addToListText}} ng-click="addMultipleItemsToCurrentList();">{{'CON_ADD_TO_LIST' | translate}}</button> 
  </div>
 <div class="mainCatListScrollTable">
<table class="prodSearch_lV">
	<!--  ADM-016 -->
    <thead>
         <tr>
         	<th ng-show="prdSearchShowExtendInfo==true"></th>
         	<th class="txt_right"> {{'COH_MATCHES_SEARCH_CRITERIA' | translate}} </th>
         	<th> {{'CON_MINSAN_CODE' | translate}} </th>
         	<th> {{'COH_DESCRIPTION' | translate }} </th>
         	<th> {{'COH_UNIT' |  translate }} </th>
         	<th class="txt_right" ng-show="prdSearchTblHeaders.actualPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')" >
				{{ 'COH_ACTUAL_PRICE' |  translate }} {{webSettings.currencyCode}}
			</th>
			<th class="txt_right" ng-show="prdSearchTblHeaders.discountPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE')">
				{{ 'COH_DISCOUNT_PRICE' |  translate }} {{webSettings.currencyCode}}
			</th>
			<th class="txt_right" ng-show="prdSearchTblHeaders.discountPercentage && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL')">
					{{ 'CON_DISCOUNT_%' |  translate }}
			</th>
			<th class="quantityColumn"> {{'CON_QUANTITY' |  translate }} </th>					
			<!-- ADM-008 --><th>{{'COH_ALTERNATIVES' | translate}}</th>
         </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in searchProductList | orderBy:['-sectorCode','actualPrice']" >
        	<td ng-show="prdSearchShowExtendInfo==true" style="width:100px;">
            <div class="listViewImageWrapper">
	            <a href=""  ng-click="showProductDetail(item.solrItemCode);"> 
	            	<img class="attentionImage" ng-src="{{BASE_ADDRESS}}{{item.attentionImageURL}}" ng-show="item.isShowAttentionImage"/>
	            	<img ng-src="{{BASE_ADDRESS}}{{item.imageUrl}}" onerror="getDefaultImg(this);">
	            </a>
             </div>
             </td>
    		<td class="txt_right">{{item.propScoring}}%</a></td>
            <td ><a href="" ng-click="showProductDetail(item.solrItemCode);" >{{item.minsanCode}}</a></td>
            <td >
            	<a href=""  ng-click="showProductDetail(item.solrItemCode);" >{{item.itemDescription}}</a>
            	<span ng-if="!webSettings.showFullWebTextInItemTable && webSettings.showWebTextColumn" ng-show="prdSearchShowExtendInfo==true" class="itemWebTxt" ng-bind-html="renderHtml(item.itemWebText)"></span> 
            	<span ng-if="webSettings.showWebTextColumn && webSettings.showFullWebTextInItemTable" ng-show="prdSearchShowExtendInfo==true" class="itemWebTxtFull" ng-bind-html="renderHtml(item.itemWebText)"></span>
            </td>
            <td>
            	<div class="select-style left">
            		<select ng-model="item.selectedUnitObject"  ng-options="unit.salesUnitDesc for unit in item.salesUnitsDesc track by unit.salesUnitDesc" 
            			ng-change="onUnitChange(item.solrItemCode,item.selectedUnitObject.salesUnit,item)" >
	  				</select>
	  			</div>
	  		</td>
	  		<td class="txt_right" ng-show="prdSearchTblHeaders.actualPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')"><a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlgFromPrdSearch(item);"> {{item.actualPrice}} / {{item.selectedUnitObject.salesUnitDesc}}</a></td>
            <td class="txt_right" ng-show="prdSearchTblHeaders.discountPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE')"><a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlgFromPrdSearch(item);">{{item.discountPrice}}</a> </td>
			<td class="txt_right" ng-show="prdSearchTblHeaders.discountPercentage && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL') "><a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlgFromPrdSearch(item);">{{item.discountPercentageText}}</a> </td>
			<td class="quantityColumn">
            	 <span  ng-show="isSignedIn && !item.isMatrixBaseItem" class="left">
						<input ng-show="item.selectedUnitObject != null" ng-model="item.quantity" type="text" class="txt_right buyInput" ng-class ="{ 'error': !item.validQuantity, '' : item.validQuantity}" ng-change="checkValidQuantity(item,item.quantity)" title="{{item.quantityBoxMsg}}"/> 
				</span>
				<span ng-if="isTrue(item.isBuyingAllowed) && !item.isMatrixBaseItem && !isShopCartItem(item.code)" class="left">
					 <button  type="button" name="" value="" class="buyIcon" ng-click="buyItems(item)" >{{'CON_BUY' | translate}}</button>
				</span>
				<span ng-if="isTrue(item.isBuyingAllowed) && !item.isMatrixBaseItem && isShopCartItem(item.code)" class="left">
					<span  class="addedInCart left"  ng-click="buyItems(item)"  title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span>
				</span>
				<!-- ADM-013 -->
				<span ng-if="item.itemClass == 2" class="left">
					<button type="button" name="" value="" class="procureTableView" ng-click="showBtbDlg(item);" title="{{'COH_PROCURE_THE_ITEM' | translate}}">{{'CON_BTB' | translate}}</button> 
				</span>
				<!-- ADM-013 end -->
				<span ng-if="isSignedIn && !item.isMatrixBaseItem" ng-show="item.selectedUnitObject != null" class="">
					<button type="button" name="" value="" class="addToListTableView" ng-click="addItemToCurrentList(item);" >{{'CON_ADD_TO_LIST' | translate}}</button> 
				</span>
				<!-- ADM-009 -->
				<img class="promotionImageListView" ng-src="images/Available.png" title="Item has promotion" ng-show="item.hasPromoP1OrP2">
				<img class="hospitalImageListView" ng-src="images/H.png" ng-show="item.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}" >
				<!-- ADM-009 end -->
	            
	            <span ng-show="item.isMatrixBaseItem">
            <a	href="" ng-click="showProductDetail(item.solrItemCode);"  >
            {{item.segmentationDesc2}}/{{item.segmentationDesc3}}</a></span>
            </td>            
			<!-- ADM-008 Begin -->
			<td><a href="" ng-show="hasAlternative(item)"
				ng-click="alternativeClicked(item.code);"><button
						class="Alternative" title="{{'CON_ALTERNATIVES_ITEMS' | translate}}">AL</button></a></td>
			<!-- ADM-008 End -->
          </tr>
    </tbody>
    </table>   
    <!--  ADM-016 END -->
 </table>
</div> 
</div>
<div ng-show="isShowBottomLoader()" class="loadInfoWrapper">{{'MSG_LOADING_MORE_ITEMS' | translate}}</div>