	<ul  class="grid proSearch">
		<!-- <li ng-repeat="item in searchProductList" class="gridlayout" > -->
		<li ng-repeat="item in searchProductList | orderBy:['-sectorCode','actualPrice']" class="gridlayout" >
		<div class="product-content-wrapper">
		 <label ng-show="showCompare"><input type="checkbox" name= "{{item.solrItemCode}}"  ng-model="item.checked" id ="{{item.solrItemCode}}" ng-change="SelectedProduct(searchProductList)" />{{'CON_SELECT_TO_COMPARE' | translate}}</label>
		 <span class="productCode"><a href="" ng-click="showProductDetail(item.solrItemCode);" >{{item.solrItemCode}}</a></span>
		<!-- 
		<img src="{{BASE_ADDRESS}}{{item.imageURL}}" style="width: 100px; height: 100px;"  ng-click="showProductDetail(item);" onerror="getDefaultImg(this);">
		 -->
		<div ng-if="item.isRelative" class="gridViewImageWrapper">
		<a href="" ng-click="showProductDetail(item.solrItemCode);">{{item.imageURL}} 
			<img class="attentionImage" ng-src="{{BASE_ADDRESS}}{{item.attentionImageURL}}" ng-show="item.isShowAttentionImage"/>
			<img ng-src="{{BASE_ADDRESS}}{{item.imageUrl}}" onerror="getDefaultImg(this);">
		</a>
		<img class="quickInfoImage" ng-src="images/Information.png" title="{{'CON_QUICKINFO' | translate}}"  ng-click="showQuickViewDlg(item);">
		<!-- ADM-009 -->
		<img class="promotionImage" ng-src="images/Available.png" title="Item has promotion" ng-show="item.hasPromoP1OrP2">
		<img class="hospitalImage" ng-src="images\H.png" ng-show="item.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}" >
		<!-- ADM-009 end -->
		</div>
		<div ng-if="!item.isRelative" class="gridViewImageWrapper">
		<a href="" ng-click="showProductDetail(item.solrItemCode);">{{item.imageURL}} 
			<img class="attentionImage" ng-src="{{item.attentionImageURL}}" ng-show="item.isShowAttentionImage"/>
			<img ng-src="{{item.imageUrl}}" onerror="getDefaultImg(this);">
		</a>
		<img class="quickInfoImage" ng-src="images/Information.png" title="{{'CON_QUICKINFO' | translate}}"  ng-click="showQuickViewDlg(item);">
		<!-- ADM-009 -->
		<img class="promotionImage" ng-src="images/Available.png" title="Item has promotion" ng-show="item.hasPromoP1OrP2">
		<img class="hospitalImage" ng-src="images\H.png" ng-show="item.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}" >
		<!-- ADM-009 end -->
		</div>		 
			<span class="productDescription"><a href="" ng-click="showProductDetail(item.solrItemCode);" >{{item.itemDescription}}</a></span>

			<!--<span class="clr_left">{{'CON_SALES_UNIT' | translate}}: {{item.salesUnit}}</span>   -->
			<div class="clr_left"><span class="left">{{'CON_SALES_UNIT' | translate}}:</span>
			 <div class="select-style left">
			 <!-- 
			 <select ng-model="item.selectedUnit" ng-options="unit for unit in item.salesUnits" ng-change="onUnitChange(item.solrItemCode,item.selectedUnit,item)" >
	  		</select>
	  		 -->
	  		 <select ng-model="item.selectedUnitObject"  ng-options="unit.salesUnitDesc for unit in item.salesUnitsDesc track by unit.salesUnitDesc" 
            	ng-change="onUnitChange(item.solrItemCode,item.selectedUnitObject.salesUnit,item)" >
	  		</select>
		</div>
	  		</div> 
			<div ng-if="webSettings.allowDiscountDisplay=='*ALL'"  ng-show="webSettings.isShowPrice">
			<span ng-class="{'actPrice': convertAsNumber(item.discountPercentage) > 0, 'priceCalculationText': !isPriceCalculationEnabled}" class="finalPrice" ng-click="showPriceCalcDlg(item)">{{item.actualPrice}} {{webSettings.currencyCode}} / {{item.selectedUnitObject.salesUnitDesc}} </span>
			<span ng-show="convertAsNumber(item.discountPercentage) > 0" class="discount">{{item.discountPercentage}} %</span>
			<span ng-show="convertAsNumber(item.discountPercentage) > 0" class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(item)">{{item.discountPrice}} {{webSettings.currencyCode}} / {{item.selectedUnitObject.salesUnitDesc}} </span>
			</div>
			
			<div ng-if="webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE'"  ng-show="webSettings.isShowPrice">
			<span  class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(item)">{{item.discountPrice}} {{webSettings.currencyCode}} / {{item.selectedUnitObject.salesUnitDesc}} </span>
			</div>
			
			<div ng-if="webSettings.allowDiscountDisplay=='*ALL_PRICE'"   ng-show="webSettings.isShowPrice">
			<span ng-class="{'actPrice': convertAsNumber(item.discountPrice) > 0, 'priceCalculationText': !isPriceCalculationEnabled}" class="finalPrice" ng-click="showPriceCalcDlg(item)">{{item.actualPrice}} {{webSettings.currencyCode}} / {{item.selectedUnitObject.salesUnitDesc}} </span>
			<span ng-show="convertAsNumber(item.discountPrice) > 0" class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(item)">{{item.discountPrice}} {{webSettings.currencyCode}} / {{item.selectedUnitObject.salesUnitDesc}} </span>
			</div>
			
			<div ng-if="webSettings.allowDiscountDisplay=='*ACTUAL_PRICE'"  ng-show="webSettings.isShowPrice">
			<span class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(item)">{{item.actualPrice}} {{webSettings.currencyCode}} / {{item.selectedUnitObject.salesUnitDesc}} </span>
			</div>

			<span ng-show="item.isMatrixBaseItem">
            <a	href="" ng-click="showProductDetail(item.solrItemCode);"  >
            {{item.segmentationDesc2}}/{{item.segmentationDesc3}}</a></span>
			<span ng-show="isSignedIn && !item.isMatrixBaseItem" class="clr_left">{{'CON_QUANTITY' | translate}}: <input ng-model="item.quantity" type="text" class="quantity" ng-class ="{ 'error': !item.validQuantity, '' : item.validQuantity}" ng-change="checkValidQuantity(item,item.quantity)" title="{{item.quantityBoxMsg}}"/></span>
			<div class="availHeight" ng-hide="webSettings.itemAvailabilityType == '*NO' || !isSignedIn"  ng-show="isNormalItem || isComponentItem || !isMatrixOption2" class="left availability">
			<span ng-show="item.showAvailabilityAsLink && item.showAvailabilityAsImage"> 
				<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label> <a href="" ng-click="showProductDetail(item.solrItemCode,true);"><img class="availImage" ng-src="images/{{item.availabilityImageName}}"  title="{{'CON_CLICK_TO_SEE_WH_INFO' | translate}}"/> </a> 
			</span>
			<span ng-show="!item.showAvailabilityAsLink && item.showAvailabilityAsImage"> 
			<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label>
				<img ng-src="images/{{item.availabilityImageName}}"/>
			</span>  
			<span ng-show="item.showAvailabilityAsLink && !item.showAvailabilityAsImage"> 
				<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label>
				<a href="" ng-click="showProductDetail(item.solrItemCode,true);" >{{item.availabilityText}} </a>
			</span>
			<span ng-show="!item.showAvailabilityAsLink && !item.showAvailabilityAsImage"> 
				<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label> <a  href=""  ng-click="showProductDetail(item.solrItemCode,true);">{{item.availabilityText}} </a>
			</span>
		</div>
			</div>
			
			

			<div class="buttonWrapperGrid">
				<button type="button" name="" value="" class="homeCat" ng-class="{'disabled': !isSignedIn}" ng-click="addItemToCurrentList(item);" ng-disabled="disableShoppingList(item.isMatrixBaseItem) || item.selectedUnitObject == null">{{'CON_ADD_TO_LIST' | translate}}</button>
				<!-- ADM-013 --><button ng-if="item.itemClass == 1" ng-disabled="disableCatalogBuy(item.isBuyingAllowed,item.isMatrixBaseItem)" ng-class="{'disabled': item.isBuyingAllowed == false, 'addedInCart':isShopCartItem(item.code)==true , 'buy':isShopCartItem(item.code)==false }" type="button" name="" value="" class="buy" ng-click="buyClicked(item)" >{{'CON_BUY' | translate}}</button>
				<!-- ADM-013 --><button ng-if="item.itemClass == 2" type="button" name="" value="" class="buy" ng-class="buy" ng-click="showBtbDlg(item)" title="{{'COH_PROCURE_THE_ITEM' | translate}}">{{'CON_BTB' | translate}}</button>
			</div>
		
		</li>
	</ul>
	<div ng-show="isShowBottomLoader()" class="loadInfoWrapper">{{'MSG_LOADING_MORE_ITEMS' | translate}}</div>