	<ul  class="grid homeCatView">
		
		<!-- <li ng-repeat="cat in PromotionCatalog.productList" class="gridlayout" > -->
		<li ng-repeat="cat in PromotionCatalog.productList | orderBy:['-sectorCode','actualPrice']" class="gridlayout" >
		<div class="product-content-wrapper">
		 <label ng-show="showCompare"><input type="checkbox" name= "{{cat.code}}"  ng-model="cat.checked" id ="{{cat.code}}" ng-change="SelectedProduct(PromotionCatalog.productList)" />{{'CON_SELECT_TO_COMPARE' | translate}}</label>
		<span class="productCode"><a href="" ng-click="showProductDetail(cat.code);">{{cat.code}}</a></span> 
		<div ng-if="cat.isRelative" class="gridViewImageWrapper">
			<a	href="" ng-click="showProductDetail(cat.code);"  >
			 <img class="attentionImage" ng-src="{{BASE_ADDRESS}}{{cat.attentionImageURL}}" ng-show="cat.isShowAttentionImage"/>
			<img ng-src="{{BASE_ADDRESS}}{{cat.imageUrl}}" onerror="getDefaultImg(this);">
			</a>
			<img class="quickInfoImage" ng-src="images/Information.png" title="Quick Information of Product"  ng-click="showQuickViewDlg(cat);">
			<!-- ADM-009 -->
			<img class="promotionImage" ng-src="images/Available.png" title="Item has promotion" ng-show="cat.hasPromoP1OrP2">
			<img class="hospitalImage" ng-src="images/H.png" ng-show="cat.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}" >
			<!-- ADM-009 end -->
		</div>
		<div ng-if="!cat.isRelative" class="gridViewImageWrapper">
			<a	href="" ng-click="showProductDetail(cat.code);"  >
			 <img class="attentionImage" ng-src="{{BASE_ADDRESS}}{{cat.attentionImageURL}}" ng-show="cat.isShowAttentionImage"/>
			<img ng-src="{{cat.imageUrl}}" onerror="getDefaultImg(this);">
			</a>
			<img class="quickInfoImage" ng-src="images/Information.png" title="Quick Information of Product"  ng-click="showQuickViewDlg(cat);">
			<!-- ADM-009 -->
			<img class="promotionImage" ng-src="images/Available.png" title="Item has promotion" ng-show="cat.hasPromoP1OrP2">
			<img class="hospitalImage" ng-src="images/H.png" ng-show="cat.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}" >
			<!-- ADM-009 end -->
		</div>	
			
			<span class="productDescription clr_left"><a href=""  ng-click="showProductDetail(cat.code);" >{{cat.description}}</a></span>

			<span class="clr_left"><span class="left">{{'CON_SALES_UNIT' | translate}}:</span>
			<div class="select-style left">
			
			<!-- <select ng-model="cat.selectedUnit" ng-options="unit for unit in cat.salesUnits" 
	  			ng-change="onUnitChange(cat.code,cat.selectedUnit,cat)" >
	  		</select>  -->
	  		<select  ng-model="cat.selectedUnitObject"  ng-options="unit.salesUnitDesc for unit in cat.salesUnitsDesc track by unit.salesUnitDesc" 
	  			ng-change="onUnitChange(cat.code,cat.selectedUnitObject.salesUnit,cat)">  
			</select>
	  		</div>
			</span>
			 
			<div class="availGridSpan" ng-if="webSettings.allowDiscountDisplay=='*ALL'" ng-show="webSettings.isShowPrice">
			<span ng-class="{'actPrice': convertAsNumber(cat.discountPercentage) > 0, 'priceCalculationText': !isPriceCalculationEnabled}" class="finalPrice" ng-click="showPriceCalcDlg(cat)">{{cat.actualPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}} </span>
			<span ng-show="convertAsNumber(cat.discountPercentage) > 0" class="discount">{{cat.discountPercentage}} %</span>
			<span ng-show="convertAsNumber(cat.discountPercentage) > 0" class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.discountPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}} </span>
			</div>
			
			<div ng-if="webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE'" ng-show="webSettings.isShowPrice">
			<span class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.discountPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}} </span>
			</div>
		
			<div ng-if="webSettings.allowDiscountDisplay=='*ALL_PRICE'" ng-show="webSettings.isShowPrice">
			<span ng-class="{'actPrice': convertAsNumber(cat.discountPrice) > 0, 'priceCalculationText': !isPriceCalculationEnabled}" class="finalPrice" ng-click="showPriceCalcDlg(cat)">{{cat.actualPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}} </span>
			<span ng-show="convertAsNumber(cat.discountPrice) > 0" class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.discountPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}} </span>
			</div>		
			
			<div ng-if="webSettings.allowDiscountDisplay=='*ACTUAL_PRICE'" ng-show="webSettings.isShowPrice">
			<span class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.actualPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}} </span>
			</div>			
			
            <span ng-show="cat.isMatrixBaseItem">
            <a	href="" ng-click="showProductDetail(cat.code);"  >
            {{cat.segmentationDesc2}}/{{cat.segmentationDesc3}}</a></span>
			<span ng-show="isSignedIn && !cat.isMatrixBaseItem" >{{'COH_QUANTITY' | translate}}: <input name="" ng-model="cat.buyQuantity" type="text" class="quantity" ng-class ="{ 'error': !cat.validQuantity, '' : cat.validQuantity}" ng-change="checkValidQuantity(cat,cat.buyQuantity)" title="{{cat.quantityBoxMsg}}"/></span>
			<div class="availHeight" ng-hide="webSettings.itemAvailabilityType == '*NO' || !isSignedIn"  ng-show="isNormalItem || isComponentItem || !isMatrixOption2" class="left availability">
			<span ng-show="cat.showAvailabilityAsLink && cat.showAvailabilityAsImage"> 
				<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label> <a href="" ng-click="showProductDetail(cat.code,true);"><img class="availImage" ng-src="images/{{cat.availabilityImageName}}"  title="{{'CON_CLICK_TO_SEE_WH_INFO' | translate}}"/> </a> 
			</span>
			<span ng-show="!cat.showAvailabilityAsLink && cat.showAvailabilityAsImage"> 
			<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label>
				<img ng-src="images/{{cat.availabilityImageName}}"/>
			</span>  
			<span ng-show="cat.showAvailabilityAsLink && !cat.showAvailabilityAsImage"> 
				<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label>
				<a href="" ng-click="showProductDetail(cat.code,true);" >{{cat.availabilityText}} </a>
			</span>
			<span ng-show="!cat.showAvailabilityAsLink && !cat.showAvailabilityAsImage"> 
				<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label> <a  href=""  ng-click="showProductDetail(cat.code,true);">{{cat.availabilityText}} </a>
			</span>
			</div>
			</div>
			
			<div class="buttonWrapperGrid">
				<button type="button" name="" value="" class="homeCat" ng-class="{'disabled': !isSignedIn}" ng-click="addItemToList(cat);" ng-disabled="disableShoppingList(cat.isMatrixBaseItem)" >{{'CON_ADD_TO_LIST' | translate}}</button>
				<button ng-disabled="disableCatalogBuy(cat.isBuyingAllowed,cat.isMatrixBaseItem)" ng-class="{'disabled': !cat.isBuyingAllowed, 'addedInCart':isShopCartItem(cat.code)==true , 'buy':isShopCartItem(cat.code)==false }" 
				type="button" name="" value="" ng-click="gridViewBuyClicked(cat)" >{{'CON_BUY' | translate}} 
				<span ng-show="isShopCartItem(cat.code)" title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span></button>
			</div>
		
		</li>
	</ul>
	<!-- <a href="" class="loadMoreButton" style="">{{'MSG_LOADING_MORE_ITEMS' | translate}}</a>  -->
	<div ng-show="isShowBottomLoader()" class="loadInfoWrapper">{{'MSG_LOADING_MORE_ITEMS' | translate}}</div>