
<div class="mainCatWrapper bestOffers" ng-controller="promotionCatlogCtrl" data-catalogViewName="BEST_OFFER">

<div class="barProductSearch" ng-hide="isProductListEmpty">
		<p class="head">{{pageLabelName}}</p>	 
		<div class="rightWithPadding">
		<span class=""> <a href=""  ng-click="compare();"  ng-class = "{'compareShowDisabled':(SelectedProductList.length > 1 && !isCompareProductShowDisable),'compare': (SelectedProductList.length > 1 && isCompareProductShowDisable), 'compare_disabled':(SelectedProductList.length < 2)}" >{{'COH_COMPARE' | translate}}</a>	
		</span>
		
		<span class="">{{'COH_VIEW' | translate}}</span>
		<span ng-if="!isList" >
			<a class="GridSelected" href="" ></a>&nbsp;<a class="TableView" ng-click="changeCatalogView();" href="" ></a>
		</span>
		<span ng-if="isList">
		<a class="GridView" href=""  ng-click="changeCatalogView();"></a>&nbsp;<a class="TableSelected" href="" ></a>
		</span>
		
		
		
		</div>
		
	</div>
<!-- ADM026
<div class="marginTopPromo"> -->
<div class="marginTopPromo" ng-hide="true">
<!-- ADM026 End -->

	<a href="" ng-model="filterPanelCollapsed" ng-click="filterPanelCollapsed=!filterPanelCollapsed" ng-class="{'leftCollapsible-r':filterPanelCollapsed, 'leftCollapsible-l':!filterPanelCollapsed}"></a>
	
	<section id="filters" ng-hide="filterPanelCollapsed">
	<form class="search-form" role="form" ng-submit="submitPromotionFilter()" name="searchForm" >
		
	<div class="searchFields left" >	
	
<!-- 	<button class="yellowButton  right">{{'CON_SEARCH' | translate}}</button> -->
	</div>	
		<h1 ng-show="catalogSearchFilterList.hasEnabledFilters()">{{'CON_REFINE_SEARCH' | translate}}</h1>
		<div data-ng-repeat="FilterItem in catalogSearchFilterList.getFilters()" class="filters-wrapper">
		
			<div ng-show ="FilterItem.isEnabled">
			<div class="sep"></div>
				<a shref="" ng-model="collapsed" ng-click="collapsed=!collapsed" ng-class="{'exp-plus-icon': !collapsed, 'exp-collapse-icon': collapsed}">a</a>
			<p class="filter-name">{{FilterItem.filterName | translate}}</p>
			<fieldset class="filters" ng-show="collapsed">
				<br />
				<p ng-if="webSettings.showNumberOfItemsInFilter" data-ng-repeat="filterValueList in FilterItem.dataList">
					<label ng-if =" filterValueList.count != null" title="{{filterValueList.desc}}   ({{filterValueList.count}})">
						<!-- <input type="radio" ng-model="filterFormInfo[FilterItem.filterParam]" value="{{filterValueList.code}}"> {{filterValueList.desc}} -->
						<input type="radio" ng-model="FilterItem.selectedItems" ng-value="filterValueList" value="{{filterValueList}}" ng-checked="filterValueList.code ==FilterItem.selectedItems.code " ng-change="submitPromotionFilter();" id="filterValueList.code"> {{filterValueList.desc}}   ({{filterValueList.count}}) 
						</label>
						<label ng-if =" filterValueList.count == null" title="{{filterValueList.desc}}">
						<!-- <input type="radio" ng-model="filterFormInfo[FilterItem.filterParam]" value="{{filterValueList.code}}"> {{filterValueList.desc}} -->
						<input type="radio" ng-model="FilterItem.selectedItems" ng-value="filterValueList" value="{{filterValueList}}" ng-checked="filterValueList.code ==FilterItem.selectedItems.code " ng-change="submitPromotionFilter();" id="filterValueList.code"> {{filterValueList.desc}}
						</label>
				</p>
				<p ng-if="!webSettings.showNumberOfItemsInFilter" data-ng-repeat="filterValueList in FilterItem.dataList">
					<label><!-- input type="checkbox" 	ng-model="filterFormInfo[FilterItem.filterName]" ng-true-value="{{filterValueList.code}}" ng-false-value="" /> -->
						<!-- <input type="radio" ng-model="filterFormInfo[FilterItem.filterParam]" value="{{filterValueList.code}}"> {{filterValueList.desc}}  -->
						<input type="radio"
						ng-model="FilterItem.selectedItems"  ng-value="filterValueList" value="{{filterValueList}}" ng-checked="filterValueList.code ==FilterItem.selectedItems.code" ng-change="submitPromotionFilter()" id="filterValueList.code"> {{filterValueList.desc}} 
						</label>
				</p>
			</fieldset>
			</div>
		</div>
	</form>	
	</section>	
	
	<div class="filtersInfowrapper left" ng-show="catalogSearchFilterList.getSelectedFilters().length > 0" ng-class="{'expendedViewFilters':filterPanelCollapsed}">
    <ul>
        <li>{{'CON_YOU_SELECTED' | translate}} </li>
        <li data-ng-repeat="FilterItem in catalogSearchFilterList.getSelectedFilters()">{{FilterItem.filterValueName}}: {{FilterItem.selectedItems.desc}}
        	<a href="" title="{{'CON_REMOVE_FILTER' | translate}}" ng-click="removePromotionFilter(FilterItem);"></a>
        </li>
    </ul>   
    </div>
	</div>	
	
<!-- ADM026
	<section id="filter-results"  ng-class="{'expendedView':filterPanelCollapsed}"> -->
	<section id="filter-results"  ng-class="{'expendedView':true}">
<!-- ADM026 -->
 	<div ui-view="catalogViewPromotion" class="catalogViewPromotion clr_left" ng-hide="isProductListEmpty"></div>
	</section>
 	

</div>