<div class="listview quotationPageDetailPage" ng-controller="quotationLineDetailCtrl">
	<div class="page-heading"> 
	<span class="order-info">{{'CON_QUOTATION_LINE_INFORMATION' | translate}}</span> 
	<div class="order-details">	 
		<label>{{'CON_QUOTATION_NUMBER' | translate}}: </label>
		<span class="section-value">{{quotationData.QuotationNumber}}</span>
		<label>{{'CON_LINE' | translate}} : </label><span class="section-value">{{quotationLine.lineNumber}}</span>
		<label>{{'CON_VERSION_NUMBER' | translate}}: </label>
		<span class="section-value">{{quotationData.VersionNumber}}</span>
		
	</div>
	</div>
	<div class="sep"></div>
	<section name="lineInformation">
		<p class="clr_left">{{'CON_QUOTATION_LINE_INFORMATION' | translate}}	</p>
		<div class="sep"></div>		
	<table class="quotation-line-detail">			
				<tr>
					<td>{{'CON_PRODUCT' | translate}}:</td>
					<td class="section-value"><a href="" ng-click="showProductDetail(quotationLine.itemCode);">{{quotationLine.itemCode}}</a></td>
					<td class="section-value"><a href="" ng-click="showProductDetail(quotationLine.itemCode);">{{quotationLine.itemDescription}}</a></td>
					<td colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td>{{'CON_DISPATCH_DATE' | translate}}:</td>
					<td class="section-value">{{quotationLine.deliveryDate}}</td>
					<td colspan="4">&nbsp;</td>
				</tr>
				<tr>
					<td>{{'CON_QUANTITY' | translate}}:</td>
					<td class="section-value">{{quotationLine.quantity}}</td>
					<td class="section-value">{{quotationLine.unit}}</td>
					<td colspan="3">&nbsp;</td>
				</tr>
				<tr>				
					<td ng-show="quotationLine.vatFlag"> {{'CON_PRICE_INCL_VAT' | translate}} :</td>
					<td ng-show="!quotationLine.vatFlag"> {{'CON_PRICE_EXCL_VAT' | translate}}:</td>
					<td class="section-value">{{Price}}</td>
					<td class="section-value">{{quotationLine.pricingUnit}}</td>
					<td colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td>{{'CON_TOTAL_EXCLUDING_VAT' | translate}}:</td>
					<td class="section-value">{{quotationLine.amountExclVAT}}</td>
					<td colspan="4">&nbsp;</td>
				</tr>
				<tr>
					<td>{{'CON_VAT' | translate}}:</td>
					<td class="section-value">{{quotationLine.vat}}</td>
					<td colspan="4">&nbsp;</td>
				</tr>
				<tr>
					<td>{{'CON_TOTAL_INCLUDING_VAT' | translate}}:</td>
					<td class="section-value">{{quotationLine.amountInclVAT}} {{quotationLine.currency}}</td>
					<td colspan="4">&nbsp;</td>
				</tr>

			</table>
		<div class="buttonWrapper  right">
	 <button ng-click="goBack()" type="button" name="" class="backButton  ng-binding">{{'CON_BACK' | translate}}</button> 
	</div> 
	</section>

	
</div>