<div class="listview quotationPage" ng-controller="quotationHistoryCtrl">
<p class="left">{{'CON_QUOTATION_SEARCH' | translate}}</p>
	<div class="right download">

 		<a href="" class="right" ng-show="webSettings.showXmlIcon" title="{{'CON_QUOTATION_HISTORY_XML' | translate}}"> <img ng-src="./images/XML.png" ng-click="exportQuotationTableAsXML();" /> </a> 
 		<a href="" class="right" ng-show="webSettings.showExcelIcon" title="{{'CON_QUOTATION_HISTORY_EXCEL' | translate}}"> <img ng-src="./images/Excel.png" ng-click="exportQuotationTableAsExcel();" /> </a>
		<a href="" class="right" ng-show="webSettings.showPdfIcon" title="{{'CON_QUOTATION_HISTORY_PDF' | translate}}"> <img ng-src="./images/PDF.png" ng-click="exportQuotationTableAsPDF();" /> </a>

</div> 
<div class="sep"></div>
	<div class="newSearch clr_left">
		<p ng-model="isCollapsed" ng-click="isCollapsed = !isCollapsed">{{'CON_NEW_SEARCH' | translate}} <a ng-class ="{'exp-collapse-arrow': !isCollapsed, 'exp-plus-arrow': isCollapsed}">New Search</a> </p>		
		<div  ng-show="isCollapsed">
			<form class="search-form" role="form" ng-submit="submitFilter()" name="searchForm">
				 <div ng-repeat="filter in filterList.getFilters()">
					<div ng-show="filter.isEnabled" class="search-form-wrapper">					
						<label for = "filter.filterParam">{{filter.filterName | translate}} :</label> 
						<span ng-show ="filter.isInputList">
						<div class="select-style">
						<select ng-if= "filter.filterName != 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems" ng-options="item.code as item.description for item in filter.dataList"  >	
							</select>
							<select ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems">
							<option ng-repeat="resultperPage in resultPerPageList" >{{resultperPage}}</option> 
							</select>  
						<!-- <select name="" id="filter.filterParam" ng-model="filter.selectedItems" >
							<option ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" ng-repeat="resultperPage in resultPerPageList" ng-selected="filterList.setResultPerPageListOption(filter,resultperPage)">{{resultperPage}}</option>
							<option ng-repeat="item in filter.dataList" ng-value="item.code" ng-selected="filterList.setSelectedOption(filter,item)"> {{item.description}} </option>
							</select>                 -->                                                                                                    
							<!-- 				
						<select name="" id="filter.filterParam" ng-model="filter.selectedItems" >				
								 <option ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" ng-repeat="resultperPage in resultPerPageList" ng-selected="resultperPage == filter.resultCount">{{resultperPage}}</option>
								 <option ng-if="filter.filterName == 'CON_CUSTOMER'" ng-repeat="item in filter.dataList" ng-value="item.code"  ng-selected="item.defaultCode == item.code"> {{item.description}} </option>
								 <option ng-if="filter.filterName != 'CON_CUSTOMER'" ng-repeat="item in filter.dataList" ng-value="item.code"  ng-selected="filterDetailSettings[filter.dataListName][0].code == item.code"> {{item.description}} </option>								 
							</select
							 --> 
							
							
							</div>
						</span>
						<span ng-show ="!filter.isInputList">							
							<input ng-if= "filter.numericType" type="text" id= "filter.filterParam" 
							name="filter.filterParam" ng-model="filter.selectedItems" 
							ng-blur ="validateNumber(filter,filter.selectedItems)" ng-mouseleave="validateNumber(filter,filter.selectedItems)"/> 
							<span ng-if= "filter.numericType"><p class="validationMsg ValidationMsgOrder">  {{filter.validationMsg}} </p> </span>
							<input ng-if= "!filter.numericType" type="text" id= "filter.filterParam" name="filter.filterParam"  ng-model="filter.selectedItems"   />
						</span>
					
					</div>
				</div> 	
				<div class="submit clr_both"><button class="yellowButton right" ng-disabled="isFilterHasError(filterList.getFilters())">{{'CON_START_SEARCH' | translate}}</button></div>
			</form>
		</div>
		<p class="" ng-bind-html="renderHtml(filterMsg)"></p>	
	</div>	
<div class="sep"></div>


<div class="scrollTableTop" id = "result_set"></div>
<div class="left quatationSearch" >	
	<table>
		<thead>
			<tr>
				<th class="txt_right">
				<div class="sorting contentRight paddingRight">
						<span class="sortingInnerWrap">	
						 	<a ng-class ="sort.getAscCSS('QuotationNumber')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('QuotationNumber')"></a>
	      				 	 <a ng-class="sort.getDescCSS('QuotationNumber')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('QuotationNumber')"></a>										
						</span>
						<span>{{'CON_QUOTATION' | translate}}</span>
						</div>			
				</th>
				<th class="txt_right">				
				
						{{'CON_VERSION' | translate}}			
				</th>
				<th>
				<div class="sorting">
						<span class="sortingInnerWrap">	
						
						 	<a ng-class ="sort.getAscCSS('Customer')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Customer')"></a>
	      				 	 <a ng-class="sort.getDescCSS('Customer')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Customer')"></a>										
						</span>
						<span>{{'CON_CUSTOMER' | translate}}</span>
						</div>				
				</th>				
				<th class="txt_right">
				
				<div class="sorting contentRight paddingRight">
						<span class="sortingInnerWrap">		
						
						 	<a ng-class ="sort.getAscCSS('Value')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Value')"></a>
	      				 	 <a ng-class="sort.getDescCSS('Value')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Value')"></a>										
						</span>
						<span>{{'CON_VALUE' | translate}}</span>
						</div>			
				</th>
				<th>
				<div class="sorting">
						<span class="sortingInnerWrap">		
						
						 	<a ng-class ="sort.getAscCSS('Handler')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Handler')"></a>
	      				 	 <a ng-class="sort.getDescCSS('Handler')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Handler')"></a>										
						</span>
						<span>{{'CON_HANDLER' | translate}}</span>
						</div>			
				</th>				
				<th>
				<div class="sorting">
						<span class="sortingInnerWrap">		
						
						 	<a ng-class ="sort.getAscCSS('ExpiryDate')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('ExpiryDate')"></a>
	      				 	 <a ng-class="sort.getDescCSS('ExpiryDate')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('ExpiryDate')"></a>										
						</span>
						<span>{{'COH_EXPIRE_DATE' | translate}}</span>
						</div>			
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in quotationData" >
				<td class="txt_right"><a href="" ng-click="showQuotationDetail(row);">{{row.QuotationNumber}}</a></td>
				<td class="txt_right">{{row.VersionNumber}}</td>
				<td>{{row.CustomerDesc}}</td>				
				<td class="txt_right">{{row.OrderValue}}</td>
				<td>{{row.HandlerDesc}}</td>				
				<td>{{row.DueDate}}</td>
				
			</tr>
			<tr ng-show ="!dataFound">
				 <td class="alignCenter" colspan="6">{{pageLoadMsg}}</td>
			</tr>
			
		</tbody>
	

	</table>
	<div class="sep_tbl"></div>
	<div class="buttonWrapper clr_left left">
		<button href="" class="goFirstArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="getFirstPage()" title = "{{'CON_FIRST_PAGE' | translate}}">{{'CON_FIRST_PAGE' | translate}} </button>
		<button href="" class="previousArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}">{{'CON_PREVIOUS_PAGE' | translate}} </button>
		<button href="" class="nextArrow" ng-disabled="!dataFound || !moreDataArrow"  ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}">{{'CON_NEXT_PAGE' | translate}} </button>
	</div>	
	<div class="buttonWrapper  right">
	 <button ng-click="goBack()" type="button" name="" class="backButton  ng-binding">{{'CON_BACK' | translate}}</button> 
	</div> 
	
</div>

</div>
