<div class="requestReceivedConf"  ng-controller="requestCtrlReview" >

<p class="head">{{'CON_REQUEST_RECEIVED_CONFIRMATION' | translate}}</p>
<p ng-bind-html="renderHtml(responseMsgObject.UIMessageKey)"></p>
<p class="textMsg">{{'TXT_BP_001' | translate}}</p>
<p class="errorMsg" ng-show="!requestLineError">{{responseMsgObject.requestLineUIMessageKey}}</p>
<a href="" ng-click="backToRequestSearch()">{{'CON_BACK_TO_REQUEST_SEARCH' | translate}}?</a>


</div>
<div >
	<div class="sep"></div>
	<section id="promotionSection" ui-view="promotionSection"></section>
</div>
