<div class="listview quotationPageDetailPage" ng-controller="requestLineDetailCtrl">
	<div class="page-heading"> 
	<span class="order-info">{{'CON_REQUEST_LINE_INFORMATION' | translate}}</span> 
	<div class="order-details">	 
		<label>{{'CON_REQUEST_NUMBER' | translate}}: </label>
		<span class="section-value">{{requestDetails.requestId}}</span>
		<label>{{'CON_LINE' | translate}} : </label><span class="section-value">{{requestLine.lineNumber}}</span>
			
	</div>
	</div>
	<div class="sep"></div>
	<div class="buttonWrapper clr_left right">
			<a class="backButton left" href="" ng-click="goBack()" >{{'CON_BACK' | translate}}   </a>
			</div>


	<section name="lineInformation">
		<p class="clr_left">{{'CON_REQUEST_LINE_INFORMATION' | translate}}	</p>
		<div class="sep"></div>		
	<table class="quotation-line-detail">			
				<tr>
					<td>{{'CON_PRODUCT' | translate}}:</td>
					<td class="section-value" colspan="2"><a href="" ng-click="showProductDetail(requestLine.product);">{{requestLine.product}}</a></td>					
				</tr>
				<tr>
					<td>{{'COH_DESCRIPTION' | translate}}:</td>
					<td class="section-value" colspan="2"><a href="" ng-click="showProductDetail(requestLine.product);">{{requestLine.description}}</a></td>
					
				</tr>
				<tr>
					<td>{{'COH_UNIT' | translate}}:</td>
					<td class="section-value" colspan="2">{{requestLine.unit}}</td>
				</tr>
				<tr>
					<td>{{'CON_LINE_CREATION_DATE' | translate}}:</td>
					<td class="section-value" colspan="2">{{requestLine.date}}</td>
				</tr>
				
				<tr>
					<td>{{'CON_QUANTITY' | translate}}:</td>
					<td class="section-value" colspan="2">{{requestLine.quantity}}</td>
				</tr>
				<tr>
					<td>{{'CON_NEW_ORDER_NUMBER' | translate}}:</td>
					<td class="section-value" colspan="2">  <a ng-show="requestDetails.refLinkFlag" ng-click="showRequestNewOrderDetail(requestDetails, requestLine.orderNumber)">{{requestLine.orderNumber}} </a></td>
				</tr>
				<tr>
					<td>{{'COH_REQUEST_TYPE' | translate}}:</td>
					<td class="section-value" colspan="2">{{requestLine.requestType}}</td>
				</tr>
				
				
				<tr>
					<td>{{'CON_REQUEST_DESCRIPTION' | translate}}:</td>
					<td class="section-value" colspan="2">{{requestLine.requestDesc}}</td>
				</tr>
				
				<tr>
					<td>{{'CON_RESOLUTION' | translate}}:</td>
					<td class="section-value" colspan="2">{{requestLine.resolution}}</td>
				</tr>
				
			</table>
			<div class="sep"></div>
	</section>

	
</div>