
<div class="listview quotationPageDetailPage" ng-show="requestLineObj.showRequestLines">
<div class="page-heading">
	 <span class="order-info">{{'CON_REQUEST_LINES' | translate}}</span>
</div>

<section name="quotationLine"  >		
		<div class="sep"></div>
		<div> 
		<table class="quotation-detail-table requestNewLine">
			<thead>
				<tr>
					<th>{{'COH_ACTIONS' | translate}}</th>
					<th class="txt_right" ng-click="" > {{'COH_LINE' | translate}}</th>
					<th ng-click="">{{'COH_PRODUCT' | translate}}</th>
					<th ng-click="" >{{'COH_DESCRIPTION' | translate}}</th>
					<th class="txt_right" ng-click="">{{'COH_QUANTITY' | translate}}</th>		
					<th ng-click="">{{'COH_UNIT' | translate}}</th>															
					<th ng-click="">{{'COH_REQUEST_TYPE' | translate}}</th>		
					<th ng-click="">{{'COH_REQUEST_DESCRIPTION' | translate}}</th>				
													
				</tr>
				
			 </thead>
			<tbody ng-repeat= "reqLine in requestLineObj.getLineList()">
		
				<tr ng-show="!collapsed_edits" ng-class="{true: 'editBackground', false: ''}[collapsed_edit]">					
					<td class="smallSpace">						 					
						<button href="" class="editDetails" ng-disabled="collapsed_edit"  title="{{'CON_CHANGE_REQUEST_LINE' | translate}}" ng-model="collapsed_edit" ng-click="collapsed_edit=!collapsed_edit;validateRequestLines(reqLine,'REQUEST',requestLineObj);requestLineObj.EditLine($index)">{{'CON_EDIT_DETAILS' | translate}} </button>
						<button  class="delete-icon" ng-disabled="collapsed_edit" title="{{'CON_DELETE_REQUEST_LINE'| translate}}" ng-click="deleteSelectedRequestLine($index,reqLine)">{{'CON_DELETE'| translate}}</button> 
					</td>					
  					<td class="txt_right">{{reqLine.lineNumber}}  </td> 
					<td>{{reqLine.product}} </td>
					<td>{{reqLine.productDescription}} </td>
					<!-- <td><input type="text" id=""  value="each" class="txt_right quantity" ng-model="reqLine.quantity" ng-disabled="!collapsed_edit"/> </td>
					 -->
					<td><input type="text" id="getId('txtQuantity',reqLine.product)"  value="each" class="txt_right quantity" ng-disabled="!collapsed_edit" ng-model = "reqLine.quantity" class="txt_right" ng-class ="{ 'error': !reqLine.validQuantity, '' : reqLine.validQuantity}" ng-change="checkValidQuantity(reqLine,reqLine.quantity)" title="{{reqLine.quantityBoxMsg}}" /></td>
										
					<td>
					<input type="text" id="reqLine.product"  ng-model = "reqLine.unit" ng-show = "!reqLine.showUnitList" ng-disabled="!collapsed_edit"/> 					
					 <div class="select-style" ng-show = "reqLine.showUnitList">
					 <select ng-disabled="!collapsed_edit" class="unitCode" ng-model="reqLine.unit"  ng-options = "activeUnits.salesUnit as activeUnits.salesUnitDesc for activeUnits in reqLine.activeUnitList"></select>
					 </div>
					
					</td>
																				
					<td> <div class="select-style"><select ng-disabled="!collapsed_edit" ng-model="reqLine.selctedProbType" ng-change="onAddProdReqTypeChange(getId('txtRequestType',reqLine.product), reqLine.selctedProbType)" ng-options = "requestType.description for requestType in  reqLine.requestTypeList" ></select></div></td>				
					<td><input type="text" id=""  value="each" class="description" ng-model="reqLine.requestDesc" ng-disabled="!collapsed_edit"/> </td>				
					
				</tr>
				
				<tr ng-show="collapsed_edit" class="editBackground">							
					<td colspan = "8">
							<div class="button-wrapper right">
								<button class="cancleCart left" value="" name="" type="button" ng-click="collapsed_edit=!collapsed_edit;requestLineObj.CancelEditLine($index)">{{'CON_CANCEL' | translate}}</button>					
								<button class="updateCart right" type="button"  ng-disabled="!reqLine.validQuantity" ng-click= "collapsed_edit=!collapsed_edit;updateLineObj(requestLineObj);" >{{'CON_UPDATE' | translate}}</button>
							</div>
					</td>					
				</tr>
				
					<!-- 
				<tr ng-show="collapsed_edit" class="edit_details_cart">	
					<td class="smallSpace">						 					
						<button href="" class="editDetails" ng-disabled="collapsed_edit"  title="Edit Details" ng-model="collapsed_edit" ng-click="collapsed_edit=!collapsed_edit">Edit Details </button>
						<button  class="delete-icon" ng-disabled="collapsed_edit" title="{{'CON_DELETE'| translate}}" ng-click="">{{'CON_DELETE'| translate}}</button> 
					</td>
					<td>11  </td> 
					<td>aa </td>
					<td>desc </td>
				
					<td><input type="text" id=""  value="2" class="delivery_date"/></td>
					<td><input type="text" id=""  value="each" class="delivery_date"/></td>
					<td><select ng-model="SelectedRequestType" ng-options = "requestType.description for requestType in requestTypeList" ></select> </td>	
					<td> <input type="text" id=""  value="req desc" class="delivery_date"/> </td>
				</tr>
				<tr ng-show="collapsed_edit" class="edit_details_cart">							
					<td colspan = "8">
							<div class="button-wrapper">
								<button class="cancleCart left" value="" name="" type="button" ng-click="collapsed_edit=!collapsed_edit">{{'CON_CANCEL' | translate}}</button>					
								<button class="updateCart right" type="button" ng-click= "collapsed_edit=!collapsed_edit; updateCart(orderLine) " >{{'CON_UPDATE' | translate}}</button>
							</div>
					</td>					
				</tr>
				 -->
				<!-- <tr ng-repeat="row in requestLineData" ng-show ="dataFound">
	  					<td><a href="" ng-click="showRequestLineDetail(row,requestDetails.requestId)">{{row.lineNumber}} </a> </td> 
						<td>	<a href=""  ng-click="showProductDetail(row.product);">{{row.product}} </a></td>
						<td><a href="" ng-click="showProductDetail(row.product);" ng-show = "requestDetails.descColumnFlag">{{row.description}}</a> </td>
						<td>{{row.quantity}} </td>	
						<td>{{row.unit}}</td>											
						<td>{{row.requestType}} </td>
					</tr> -->
				<tr ng-show ="!dataFound">
					 <td colspan="7">{{requestLineLoadMsg}}</td>
				</tr>
			 </tbody>
		</table>
		<div class="sep_tbl"></div>
		
		<!-- <div class="buttonWrapper clr_left left">
			<a class="goFirstArrow left" ng-click="getFirstPage()" title = "{{'CON_FIRST_PAGE' | translate}}" > {{'CON_FIRST_PAGE' | translate}} </a> 
			<a class="previousArrow left" href="" ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}">{{'CON_PREVIOUS_PAGE' | translate}}   </a>
			<button href="" class="nextArrow" ng-disabled="!dataFound"  ng-model="dataFound" ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}">{{'CON_NEXT_PAGE' | translate}} </button>		
		</div> -->
		</div>
		
	</section>
</div>