
<div class="listview requestConfirmationPage"  ng-controller="requestCtrlReview" >

	<p class="page-heading">{{'CON_CONFIRMATION' | translate}} - {{'CON_SUBMIT_REQUEST' |translate}} ?</p>


<table id="request_submit_tbl" class="order-detail-table">			
			<tr>
				<td style="width:15%"> <label class="left">{{'CON_CUSTOMER_NAME' | translate}} :</label> </td>
				<td colspan="2" class="section-value"><b>{{requestObject.customerName}}</b></td>				
			</tr>
			<tr>
				<td style="width:15%"> <label class="left">{{'CON_CREATION_DATE' | translate}} :</label> </td>
				<td colspan="2" class="section-value">{{requestDate}}</td>				
			</tr>
			
			<tr>
				<td> <label class="clr_left">{{ requestForlabel | translate}} :</label> 	 </td> 
				<td colspan="2"><label>{{requestObject.docType}}</label>
				<label>{{requestObject.reference}} </label></td>				
			</tr>
			<tr> 
				<td><label>{{'COH_YOUR_REFERENCE' | translate}} :</label></td>
				<td><label>{{requestObject.yourReferenceName}}</label> </td>				
		 	</tr>
			<tr>
				<td><label>{{'COH_REQUEST_TYPE' | translate}} :</label> </td>
			 	<td> <label>{{requestObject.probType.description}}</label> </td>		 
			 	
			</tr>
			<tr>
				<td> <label> {{'COH_DESCRIPTION' | translate}} :</label></td>
				<td><label> {{requestObject.reqDesc}} </label></td>
			</tr>
	</table>
	




<section name="quotationLine"   ng-show="showRequestLine">		
		
		<div> 
		<table class="quotation-detail-table">
			<thead>
				<tr>
					
					<th ng-click="" > {{'COH_LINE' | translate}}</th>
					<th ng-click="">{{'COH_PRODUCT' | translate}}</th>
					<th ng-click="" >{{'COH_DESCRIPTION' | translate}}</th>
					<th class="txt_right" ng-click="">{{'COH_QUANTITY' | translate}}</th>		
					<th ng-click="">{{'COH_UNIT' | translate}}</th>															
					<th ng-click="">{{'COH_REQUEST_TYPE' | translate}}</th>		
					<th ng-click="">{{'COH_REQUEST_DESCRIPTION' | translate}}</th>				
													
				</tr>
				
			 </thead>
			<tbody ng-repeat= "reqLine in requestLineObj.newRequestLineList">
		
				<tr >					
									
  					<td>{{reqLine.lineNumber}}  </td> 
					<td>{{reqLine.product}} </td>
					<td>{{reqLine.productDescription}} </td>
					<td class="txt_right">{{reqLine.quantity}} </td>					
					<td>{{reqLine.unit}}</td>															
					<td>{{reqLine.selctedProbType.description}}</td>				
					<td>{{reqLine.requestDesc}}</td>				
					
				</tr>
				
			 </tbody>
		</table>
		<div class="sep_tbl"></div>	
		
		</div>
		
	</section>
	<div class="buttonWrapper right">
			<a class="clearAll left" href="" ng-click="backToRequest()" >{{'CON_NO' | translate}}   </a> 
			<button class="yellowButton right" ng-click="createRequest()">{{'CON_YES' | translate}}</button>
	</div>	
</div>
