<div class="listview quotationPageDetailPage" ng-controller="requestDetailCtrl">
	<div class="page-heading">
		 <span class="order-info">{{'CON_REQUEST_INFORMATION' | translate}}</span>
	 	 <div class="order-details">
	 		<label>{{'CON_REQUEST_NUMBER' | translate }}: </label>
	 		<span class="section-value">{{requestDetails.requestId}}</span>
	 	 </div>
	 </div>
	<div class="sep"></div> 
	<section name="quotationLine" ng-show ="requestLineDataFound" >		

		<div class="sep"></div>
		<div> 
				 <a href="" class="right" ng-show="webSettings.showPdfIcon" title="{{'CON_REQUEST_DETAIL_PDF' | translate}}"> <img ng-src="./images/PDF.png" ng-click="exportRequestLineTableAsPDF();" /> </a>
			<table class="quotation-detail-table">
				<thead>
					<tr>
						<th class="txt_right" ng-click="" > {{'COH_LINE' | translate}}</th>
						<th ng-click="">{{'COH_PRODUCT' | translate}}</th>
						<th ng-click="" ng-show = "requestDetails.descColumnFlag">{{'COH_DESCRIPTION' | translate}}</th>
						<th ng-click="">{{'COH_UNIT' | translate}}</th>					
						<th class="txt_right" ng-click="">{{'COH_QUANTITY' | translate}}</th>
						<th ng-click="">{{'COH_DATE' | translate}}</th>					
						<th ng-click="">{{'COH_REQUEST_TYPE' | translate}}</th>					
														
					</tr>
				 </thead>
				<tbody>
						<tr ng-repeat="row in requestLineData" ng-show ="dataFound">
		  					<td class="txt_right"><a href="" ng-click="showRequestLineDetail(row,requestDetails.requestId)">{{row.lineNumber}} </a> </td> 
							<td><a href=""  ng-click="showProductDetail(row.product);">{{row.product}} </a></td>
							<td ng-show = "requestDetails.descColumnFlag"><a href="" ng-click="showProductDetail(row.product);" >{{row.description}}</a> </td>
							<td>{{row.unitDesc}}</td>
							<td class="txt_right">{{row.quantity}} </td>		
							<td>{{row.date}} </td>									
							<td>{{row.requestType}} </td>
						</tr>
						<tr ng-show ="!dataFound">
							 <td colspan="7">{{pageLoadMsg}}</td>
						</tr>
				 </tbody>
			</table>
			<div class="sep_tbl"></div>
			<div class="buttonWrapper clr_left left">
<!-- 				<button href="" class="goFirstArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="getFirstPage()" title = "{{'CON_FIRST_PAGE' | translate}}">{{'CON_FIRST_PAGE' | translate}} </button> -->
<!-- 				<button href="" class="previousArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}">{{'CON_PREVIOUS_PAGE' | translate}} </button> -->
<!-- 				<button href="" class="nextArrow" ng-disabled="!dataFound || !requestDetails.moreRecords"  ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}">{{'CON_NEXT_PAGE' | translate}} </button> -->
			</div>
			<div class="buttonWrapper right">
				<a class="backButton left" href="" ng-click="goBack()" >{{'CON_BACK' | translate}}   </a>
			</div>
		</div>
	</section>
	<div class="buttonWrapper right">
		<a class="backButton left" href="" ng-click="goBack()" ng-show ="!requestLineDataFound" >{{'CON_BACK' | translate}}   </a>
	</div>
	<section name="requestHeaderInformation" class="blankMargin">
	    <p>
			{{'CON_REQUEST_HEADER_INFORMATION' | translate}}<a shref="" ng-model="collapsed_requestHeaderInformation" ng-click="collapsed_requestHeaderInformation=!collapsed_requestHeaderInformation" ng-class ="{'exp-plus-icon': collapsed_requestHeaderInformation, 'exp-collapse-icon': !collapsed_requestHeaderInformation}">a</a>
		</p>
		<div class="sep"></div>
		<div ng-show="!collapsed_requestHeaderInformation" ng-class ="section-data">
			<table class="quotation-detail-table">	
				<tr><td> {{'CON_CUSTOMER' | translate}}: </td> <td class="section-value"> {{requestDetails.customer}}</td><td>&nbsp;</td></tr>			
				<tr><td> {{'CON_STATUS' | translate}}: 	 </td> <td class="section-value" > {{requestDetails.status}}</td><td>&nbsp;</td></tr>
				
				<tr><td> {{'CON_HANDLER' | translate}}: </td> <td class="section-value" colspan ="2"> {{requestDetails.handlerCode}}&nbsp;&nbsp;&nbsp;{{requestDetails.handlerDesc}}</td></tr>			
				<tr><td> {{'COH_YOUR_REFERENCE' | translate}}: 	 </td> <td class="section-value"> {{requestDetails.yourReference}}</td><td>&nbsp;</td></tr>
				
				<tr><td> {{'COH_DATE' | translate}}: </td> <td class="section-value"> {{requestDetails.date}}</td><td>&nbsp;</td></tr>			
				<tr><td> {{'CON_TIME' | translate}}: 	 </td> <td class="section-value"> {{requestDetails.time}}</td><td>&nbsp;</td></tr>
				
				<tr><td> {{'CON_DESTINATION' | translate}}: </td> <td class="section-value"> {{requestDetails.destination}}</td><td>&nbsp;</td></tr>			
				<tr>
					<td ng-show = "requestDetails.referenceType == 'Order'">  {{'CON_ORDER' | translate}}: 	 </td>
					<td ng-show = "requestDetails.referenceType == 'Invoice'">  {{'CON_INVOICE' | translate}}: 	 </td>					
				
				 <td class="section-value" colspan="2"> {{requestDetails.docType}} 
				 <span ng-show="!requestDetails.refLinkFlag" > {{requestDetails.reference}}</span>
				 
				 <a ng-show="requestDetails.refLinkFlag" ng-click="showRequestReferenceDetail(requestDetails,requestDetails.referenceType)"> {{requestDetails.reference}} </a></td></tr>
				
				<tr><td> {{'COH_REQUEST_TYPE' | translate}}: </td> <td class="section-value"> {{requestDetails.requestType}}</td><td>&nbsp;</td></tr>			
				<tr><td> {{'CON_REQUEST_DESCRIPTION' | translate}}: 	 </td> <td class="section-value"> {{requestDetails.reqDesc}}</td><td>&nbsp;</td></tr>
				
				<tr><td> {{'CON_RESOLUTION_TYPE' | translate}}: </td> <td class="section-value"> {{requestDetails.resolutionType}}</td><td>&nbsp;</td></tr>			
				<tr><td> {{'CON_RESOLUTION_DESCRIPTION' | translate}}: 	 </td> <td class="section-value"> {{requestDetails.resolutionDesc}}</td><td>&nbsp;</td></tr>			
				
			</table>
			<div class="sep"></div>
		</div>
	</section>
</div>

