<div class="listview reqSearch" ng-controller="requestHistoryCtrl">
<p>{{'CON_REQUEST_SEARCH' | translate}}</p>
 <div class="right download">
 		<a href="" class="right" ng-show="webSettings.showXmlIcon" title="{{'CON_REQUEST_SEARCH_XML' | translate}}"> <img ng-src="./images/XML.png" ng-click="exportRequestHistory('xml')" /> </a> 
 		<a href="" class="right" ng-show="webSettings.showExcelIcon" title="{{'CON_REQUEST_SEARCH_EXCEL' | translate}}"> <img ng-src="./images/Excel.png" ng-click="exportRequestHistory('xls')" /> </a>
		<a href="" class="right" ng-show="webSettings.showPdfIcon" title="{{'CON_REQUEST_SEARCH_PDF' | translate}}" > <img ng-src="./images/PDF.png" ng-click="exportRequestHistory('pdf')" /> </a>
</div>

	<div class="new-search">
		<p ng-model="isCollapsed" ng-click="isCollapsed = !isCollapsed"> 
			<a ng-class ="{'exp-collapse-arrow': !isCollapsed, 'exp-plus-arrow': isCollapsed}">{{'CON_NEW_SEARCH' | translate}}</a>{{'CON_NEW_SEARCH' | translate}} </p>		
		<div class="sep"></div>
		<div  ng-show="isCollapsed" >
			<form class="search-form" role="form" ng-submit="submitFilter()" name="searchForm">
				 <div ng-repeat="filter in filterList.getFilters()">
					<div ng-show="filter.isEnabled" class="search-form-wrapper">					
						<label for = "filter.filterParam">{{filter.filterName | translate}} :</label> 
						<span ng-show ="filter.isInputList">
						<div class="select-style">
						<select ng-if= "filter.filterName != 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems" ng-options="item.code as item.description for item in filter.dataList"  >	
							</select>
							<select ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems">
							<option ng-repeat="resultperPage in resultPerPageList" >{{resultperPage}}</option> 
							</select>  
						<!-- <select name="" id="filter.filterParam" ng-model="filter.selectedItems" >
									<option ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" ng-repeat="resultperPage in resultPerPageList" ng-selected="filterList.setResultPerPageListOption(filter,resultperPage)">{{resultperPage}}</option>
							<option ng-repeat="item in filter.dataList" ng-value="item.code" ng-selected="filterList.setSelectedOption(filter,item)"> {{item.description}} </option>
							</select>     -->                                                                                                                
							<!-- 				
							<select name="" id="filter.filterParam" ng-model="filter.selectedItems" >				
								 <option ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" ng-repeat="resultperPage in resultPerPageList" ng-selected="resultperPage == filter.resultCount">{{resultperPage}}</option>
								 <option ng-if="filter.filterName == 'CON_CUSTOMER'" ng-repeat="item in filter.dataList" ng-value="item.code"  ng-selected="item.defaultCode == item.code"> {{item.description}} </option>
								 <option ng-if="filter.filterName != 'CON_CUSTOMER'" ng-repeat="item in filter.dataList" ng-value="item.code"  ng-selected="filterDetailSettings[filter.dataListName][0].code == item.code"> {{item.description}} </option>								 
							</select> 
							 --> 
							
							</div>
						</span>
						<span ng-show ="!filter.isInputList">							
							<input ng-if= "filter.numericType" type="text" id= "filter.filterParam" 
							name="filter.filterParam"  ng-model="filter.selectedItems" 
							ng-blur ="validateNumber(filter,filter.selectedItems)" ng-mouseleave="validateNumber(filter,filter.selectedItems)"/> 
							<span ng-if= "filter.numericType"><p class="validationMsg ">  {{filter.validationMsg}} </p> </span>
							<input ng-if= "!filter.numericType" type="text" id= "filter.filterParam" name="filter.filterParam"  ng-model="filter.selectedItems"   />
						</span>
					
					</div>
				</div> 
					<div class="submit clr_both"><button class="yellowButton right" ng-disabled="isFilterHasError(filterList.getFilters())">{{'CON_START_SEARCH' | translate}}</button></div>
			</form>
		</div>
		<p class="clr_left" ng-bind-html="renderHtml(filterMsg)"></p>	
	</div>	
<div class="sep"></div>
 

<div class="scrollTableTop" id = "result_set"></div>
<div class="left mainCatListScrollTable" >	
	<table class="requestSearchTable">
		<thead>
			<tr>
				<th>	
					<span>{{'COH_ACTIONS' | translate}}</span>					
				</th>
				<th class="txt_right">
				<div class="sorting contentRight paddingRight">
					<span class="sortingInnerWrap">	
					 	<a ng-class ="sort.getAscCSS('RequestNumber')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('RequestNumber')"></a>
	      			 	<a ng-class="sort.getDescCSS('RequestNumber')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('RequestNumber')"></a>
					</span>	
					<span>{{'COH_ID' | translate}} </span>
					</div>			
				</th>
				<th ng-show="requestData.customerFlag">
					<div class="sorting">
					<span class="sortingInnerWrap">	
					 	<a ng-class ="sort.getAscCSS('customer')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('customer')"></a>
	      			 	<a ng-class="sort.getDescCSS('customer')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('customer')"></a>
					</span>						
					<span>{{'CON_CUSTOMER' | translate}}</span>
					</div>
				</th>				
				<th>	
				<div class="sorting">
					<span class="sortingInnerWrap">	
					
					 	<a ng-class ="sort.getAscCSS('status')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('status')"></a>
	      			 	<a ng-class="sort.getDescCSS('status')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('status')"></a>
					</span>	
					<span>{{'CON_STATUS' | translate}}</span>
					</div>							
				</th>
				<th>
				<div class="sorting">
					<span class="sortingInnerWrap">	
					
					 	<a ng-class ="sort.getAscCSS('RequestType')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('RequestType')"></a>
	      			 	<a ng-class="sort.getDescCSS('RequestType')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('RequestType')"></a>
					</span>									
					<span>{{'COH_REQUEST_TYPE' | translate}}</span>
					</div>								
				</th>				
				<th>
				<div class="sorting">
				
					<span class="sortingInnerWrap">	
					 	<a ng-class ="sort.getAscCSS('ResolutionType')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('ResolutionType')"></a>
	      			 	<a ng-class="sort.getDescCSS('ResolutionType')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('ResolutionType')"></a>
					</span>	
					<span>{{'CON_RESOLUTION_TYPE' | translate}}</span>
						</div>	
				</th>
				<th>
				<div class="sorting">
					<span class="sortingInnerWrap">	
					 	<a ng-class ="sort.getAscCSS('ReferenceType')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('ReferenceType')"></a>
	      			 	<a ng-class="sort.getDescCSS('ReferenceType')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('ReferenceType')"></a>
					</span>				
					<span>{{'COH_REFERENCE_TYPE' | translate}}</span>
					</div>		
				</th>
				<th class="txt_right">
				<div class="sorting contentRight paddingRight">
					<span class="sortingInnerWrap">	
					 	<a ng-class ="sort.getAscCSS('Reference')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Reference')"></a>
	      			 	<a ng-class="sort.getDescCSS('Reference')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Reference')"></a>
					</span>				
				
						<span>{{'CON_REFERENCE' | translate}}</span>
				</div>			
				</th>
				<th>
				<div class="sorting">
					<span class="sortingInnerWrap">	
					
					 	<a ng-class ="sort.getAscCSS('Date')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Date')"></a>
	      			 	<a ng-class="sort.getDescCSS('Date')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Date')"></a>
					</span>				
				
						<span>{{'COH_DATE' | translate}}</span>
				</div>			
				</th>
				 <th>
				<div class="sorting">
					<span class="sortingInnerWrap">												
						<a ng-class ="{ 'ascending_selected': showSelection('HandlerASC'), 'ascending' :  !showSelection('HandlerASC')  }" shref="" title="ascending" ng-click="sortASC('Handler')"></a>
						<a ng-class ="{ 'decending_selected':  showSelection('HandlerDESC'), 'decending' :  !showSelection('HandlerDESC') }" shref="" title="decending" ng-click="sortDESC('Handler')"></a>					
					</span>				
				
				
						<span>{{'CON_HANDLER' | translate}}</span>
				</div>			
				</th>
				
				<th>
					<div class="sorting">
					<span class="sortingInnerWrap">	
					 	<a ng-class ="sort.getAscCSS('YourReference')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('YourReference')"></a>
	      			 	<a ng-class="sort.getDescCSS('YourReference')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('YourReference')"></a>
	      				 	 											
					</span>				
				
						<span>{{'COH_YOUR_REFERENCE' | translate}}</span>
						</div>			
				</th>
				
			</tr>
		</thead>
		<tbody>
		 <tr ng-repeat="row in requestHistoryList" >
				<td>
				<button  ng-show="row.deleteReqFlag" class="delete-icon" title="{{'CON_DELETE'| translate}}" ng-click="deleteRequestAction(row.requestId)">{{'CON_DELETE'| translate}}</button>&nbsp;
				</td>			
				<td><div class="txt_right"><a ng-click="showRequestDetail(row)">{{row.requestId}}</a></div></td>
				<td ng-show="requestData.customerFlag">{{row.customer}}</td>				
				<td>{{row.status}}  </td>
				<td>{{row.requestType}}  </td>
				<td>{{row.resolutionType}}  </td>
				<td>{{row.refType}}  </td>
				<td><div class="txt_right">
					<span ng-if="!row.refLinkFlag" ng-click="showRequestReferenceDetail(row,row.refType)"><span ng-show="!isEmptyString(row.docType)">{{row.docType}}&nbsp;</span>{{row.reference}}</span>
					<a ng-show="row.refLinkFlag" ng-click="showRequestReferenceDetail(row,row.refType)"><span ng-show="!isEmptyString(row.docType)">{{row.docType}}&nbsp;</span>{{row.reference}}</a> 
				</div></td>
				<td>{{row.date}}</td>				
				 <td>{{row.handler}}</td> 
				<td>{{row.yourReference}}</td>
				
			</tr>
			<tr ng-show ="!dataFound">
				 <td colspan="8">{{pageLoadMsg}}</td>
			</tr>		
		</tbody>
	</table>
	<div class="sep_tbl"></div>	
</div>
<div class="buttonWrapper clr_left right">
			<a class="backButton left" href="" ng-click="goBack()" >{{'CON_BACK' | translate}}   </a>
			</div>
	<div class="buttonWrapper clr_left left">
		<button href="" class="goFirstArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="getFirstPage()" title = "{{'CON_FIRST_PAGE' | translate}}">{{'CON_FIRST_PAGE' | translate}} </button>
		<button href="" class="previousArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}">{{'CON_PREVIOUS_PAGE' | translate}} </button>
		<button href="" class="nextArrow" ng-disabled="!dataFound || !moreDataArrow"  ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}">{{'CON_NEXT_PAGE' | translate}} </button>
	
	</div>
</div>
