<div class="listview reqSearch" ng-controller="requestCtrl">

<p class="left">{{'CON_BP_NEW_REQUEST' | translate}}</p>
<div class="newRequestButtonsWrap">
<div class="buttonWrapper right">
	<a class="clearAll left" href="" ng-click="clearAllData()" >{{'CON_CLEAR' | translate}}   </a>
	<button class="yellowButton right" ng-click="validateNewRequest()">{{'CON_SUBMIT_REQUEST' | translate}}</button>
</div>
</div>
	<div class="new-search clr_left">	
		<p ng-model="isCollapsed_Products" ng-click="showAddProductSection()">{{'CON_ADD_PRODUCTS' | translate}} <a ng-class ="{'exp-collapse-arrow': !isCollapsed_Products, 'exp-plus-arrow': isCollapsed_Products}">&nbsp;</a> </p>
		<div class="sep"></div>
		<div  ng-show="isCollapsed_Products" >			
			<section id="requestBase" ui-view="requestBase"></section>			
		</div>
	
	</div>
	
	<!--<section class="clr_both request_header"> -->
	<section class="clr_both">
	<div class="new-search">	
	<p class="left" ng-model="isCollapsed" ng-click="isCollapsed = !isCollapsed">{{'CON_REQUEST_HEADER' | translate}} <a ng-class ="{'exp-collapse-arrow': isCollapsed, 'exp-plus-arrow': !isCollapsed}">New Search</a> </p>
	<p class="submitReqErrorMsg">{{requestObject.getUIErrorKey() | translate : (requestObject.UIErrorParams) }}</p>
	<div class="sep"></div>
	<div  ng-show="!isCollapsed" >
		
		<table id="request_submit_tbl" class="submitRequestTable">		
			
			<tr>
				<td style="width:15%"> <label class="left">{{'CON_CUSTOMER' | translate}} :</label> </td>
				<td colspan="2" class="section-value">{{webSettings.sessionDefaultCustomerName}}</td>				
			</tr>
			<tr>
				<td> <label class="left">{{'CON_REFERENCE' | translate}} :</label></td>
				<td colspan="2"> 
				<label class="left"><input type="radio" id="order" ng-model ="reqTemplate['checked']" value="order" ng-change="changeView()" class="left">{{'CON_ORDER' | translate}} </label>
				 <label class="left"><input type="radio" id= "invoice" ng-model ="reqTemplate['checked']" value="invoice" ng-change="changeView()" class="left"> {{'CON_INVOICE' | translate}} </label>
				<label class="left"><input type="radio" id= "none" ng-model ="reqTemplate['checked']" value="product" ng-change="changeView()" class="left"> {{'CON_NONE' | translate}} </label>
				 </td>
				
			</tr>
			<tr ng-show="reqTemplate['checked']!='product'">
				<td> <label class="clr_left" ng-class ="{ 'error': requestObject.ErrOnControl.orderNum, '' :  !requestObject.ErrOnControl.orderNum }">{{requestForlabel | translate}} :</label> 	 </td> 
				<td colspan="2">
			<!-- 	<input type="text" name="docType" ng-if="requestForlabel == 'CON_INVOICE'" class="doctype" ng-model="requestObject.docType" >  -->
				<input type="text" class="orderSearchField" ng-model="requestObject.reference" name="reference" ng-class ="{ 'error': requestObject.ErrOnControl.orderNum, '' :  !requestObject.ErrOnControl.orderNum }"> <input type="button" class="orderSearchButton" value="Search" ng-click="changeState()"></td>				
			</tr>
			<tr> 
				<td><label>{{'COH_YOUR_REFERENCE' | translate}} :</label></td>
				<td><input type="text" maxlength="20" ng-model="requestObject.yourReferenceName"> </td>				
		 	</tr>
			<tr>
				<td><label ng-class ="{ 'error': requestObject.ErrOnControl.probType, '' :  !requestObject.ErrOnControl.probType }">{{'COH_REQUEST_TYPE' | translate}} :</label> </td>
			 	<td>
			 	<div class="select-style left"  ng-class ="{ 'error': requestObject.ErrOnControl.probType, '' :  !requestObject.ErrOnControl.probType }">
			 	 <select ng-model="requestObject.probType" ng-options = "requestType.description for requestType in requestObject.requestTypeList" id="reqTypeDropDown" ng-change="onReqTypeChange()" >
			 	 </select>
			 	 </div>
			 	  <span class="mendFields">*</span>
			 	 </td>
			</tr>
			<tr>
				<td> <label ng-class ="{ 'error': requestObject.ErrOnControl.reqDesc, '' :  !requestObject.ErrOnControl.reqDesc }"> {{'COH_DESCRIPTION' | translate}} :</label></td>
				<td><textarea class="left" ng-model="requestObject.reqDesc" ng-class ="{ 'error': requestObject.ErrOnControl.reqDesc, '' :  !requestObject.ErrOnControl.reqDesc }"></textarea>  <span class="mendFields">*</span></td>
			</tr>
		</table>	
		<div class="sep"></div>	
	</div>		
</div>	
<!--	<div class="request_header_loader">
		<div class="inner"></div>
	</div> -->
	</section>
<div >
<section id="requestFor" ui-view="requestFor"></section>
 </div>
</div>

