<div class="shopping-cart-wrapper" ng-controller = "CartDeliveryPaymentCtrl">
<div>
			<div class="processStatus" style="margin-left: 21%;">
				<button class="reviewOrderShopCart" style="cursor:pointer;" value="" name="" type="button" ng-click="isShoppingCartSignOnRequired()" >{{'CON_SHOPPINGCART_1' | translate}}</button>
				<button class="cartNewShopCart "  value="" ng-disabled = "isCartEmpty" name="" type="button" >{{'CON_REVIEW_ORDER_1' | translate}}</button>
				<button class="reviewOrderShopCart  deliveryInfoCloseCart" value="" ng-disabled = "isCartEmpty" name="" type="button">{{'CON_ORDER_CREATED' | translate}}</button>
			</div>
	</div>
	<p class="heading left">{{'CON_REVIEW_ORDER'  | translate}}</p>
	 <p ng-if="CartDeliveryInfo.nsOrderValueInfo.isCreditLimitExceeded" class="clr_left creditError">
			<span class="error"><b>{{'CON_WARNING' | translate}}:</b></span> {{'CON_CREDIT_LIMIT_EXCEEDED' | translate}}
			<br/>
			<span>{{CartDeliveryInfo.nsOrderValueInfo.itemSalesRestMsg}}</span>
		</p>  
	<div class="right download">
 	 	<a href="" class="right" ng-show="webSettings.showXmlIcon" title="{{'CON_ORDER_CONFIRMATION_DATA_XML' | translate}}"> <img ng-src="./images/XML.png" ng-click="exportReviewOrderTableAsXML();" /> </a> 
 		<a href="" class="right" ng-show="webSettings.showExcelIcon" title="{{'CON_ORDER_CONFIRMATION_EXCEL' | translate}}"> <img ng-src="./images/Excel.png" ng-click="exportReviewOrderTableAsExcel();" /> </a>
		<a href="" class="right" title="{{'CON_ORDER_CONFIRMATION_PDF' | translate}}"> <img ng-src="./images/PDF.png" ng-click="exportReviewOrderTableAsPDF();" /> </a>
        </div> 
        
        <div ng-if="webSettings.showSalesTermsAndConditions == 'termsandcondition.html'" class="buttonWrapper clearBoth clr_left right inline-block">
			<div  class="checkBoxleft">
			<input type="checkbox" ng-model="cartDeliveryTermsAndCondition" ng-click="selectCloseCart(cartDeliveryTermsAndCondition)"> <a ng-href="./{{getTermsNConditionFileName()}}" target="_blank">{{'SALES_AND_CONDITION' | translate}}</a>
			</div>
			<button class="backButton left" value="" name="" type="button" ng-click="goBack()">{{'CON_BACK' |translate }}</button>
			<button ng-disabled= "!cartDeliveryTermsAndCondition || CartDeliveryInfo.lineCount == 0" class="reviewOrder" value="" name="" type="button" ng-click = "goThankYou()">{{'CON_CONFIRM_ORDER' |translate }}</button>
		</div>
		
		<div ng-if="webSettings.showSalesTermsAndConditions != 'termsandcondition.html'"  class="buttonWrapper clearBoth clr_left right">
			<button class="backButton left" value="" name="" type="button" ng-click="goBack()">{{'CON_BACK' |translate }}</button>
			<button ng-disabled= "CartDeliveryInfo.lineCount == 0" class="reviewOrder" value="" name="" type="button" ng-click = "goThankYou()">{{'CON_CONFIRM_ORDER' |translate }}</button>
		</div>
        
	<div class="reviewOrderTableWrapper left">
		<div class="reference container_reference">
			<p class="left">{{'CON_REFERENCE_NUMBER' | translate}} :  {{CartDeliveryInfo.currentOrder.temporaryOrderNumber}}</p> 
			<p class="right" ng-show="!CartDeliveryInfo.nsOrderValueInfo.cubePercentageError">{{'MSG_CONTAINER_CASE' | translate}} : {{CartDeliveryInfo.nsOrderValueInfo.cubePercentage}}</p>
		</div>
		<table>
			<thead>
				<tr>
					<th class="txt_left">{{'CON_ITEM' | translate}}</th>
					<th class="txt_left">{{'COH_DESCRIPTION' | translate}}</th>
					<th class="txt_left">{{'CON_DELIVERY_DATE' | translate}}</th>
					<th class="txt_left">{{'CON_UNIT' | translate}}</th>
					<th class="txt_right">{{'CON_DISCOUNT' | translate}}</th>
					<th class="txt_right">{{'CON_PRICE' | translate}}</th>
					<th class="txt_right">{{'COH_QUANTITY' | translate}}</th>
					<th class="txt_right">{{'COH_TOTAL_AMOUNT' | translate}}</th>		
					<th>{{'COH_SHIPMENT_MARKING' | translate}}</th>			
				</tr>
			</thead>
			<tbody ng-repeat="orderLine in CartDeliveryInfo.orderLines">
				<tr>
					<td style="text-align: left;">{{orderLine.ivItem.code}}</td>
					<td>{{orderLine.ivItem.description}}</td>
					<td>{{orderLine.ivEnteredValues.Date}}<span ng-show="orderLine.ivOrderLine.isLateDispatch" class="late">({{'MSG_LATE' | translate}})</span></td>
					<td>{{orderLine.ivEnteredValues.Unit}}</td>
					<!-- 
					<td ng-show="webSettings.isShowPrice" >{{orderLine.ivOrderLine.item.discountPercentage}}</td>
					<td ng-show="webSettings.isShowPrice && (orderLine.ivOrderLine.lineDisCount > 0)">{{orderLine.ivOrderLine.item.discountPrice}} </td>
					<td ng-show="webSettings.isShowPrice && (orderLine.ivOrderLine.lineDisCount  <= 0)">{{orderLine.ivOrderLine.item.actualPrice}} </td>						
					-->
					<td class="txt_right"> <span> {{orderLine.ivOrderLine.lineDisCount}} </span> </td>
					<td class="txt_right">{{orderLine.ivOrderLine.price}} {{orderLine.ivOrderLine.pricingUnitCode}}</td>						
			
					<td class="txt_right" ng-bind="changeFormatToLocale(orderLine.ivOrderLine.orderedQuantity)">{{orderLine.ivOrderLine.orderedQuantity}}</td>
					<td class="txt_right">{{orderLine.ivOrderLine.lineVal}}</td>	
					<td class="txt_center">{{orderLine.ivOrderLine.shipmentMark}}</td>
					
															
				</tr>
				<tr ng-show = "orderLine.focListItems.length > 0">
					<td colspan= "1">
						<img ng-src="images/FreeOfCharge.gif" class="focItem"/> 
						<span class="clr_right">{{orderLine.focListItems[0].focItemCode}}</span></td>
					<td colspan= "1"><span class="left"> {{orderLine.focListItems[0].focItemDesc}} </span></td>
					<td colspan= "1">&nbsp;</td>
					<td colspan= "1"> {{orderLine.focListItems[0].focItemUnit}}</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td colspan= "1" class="txt_center"> {{orderLine.focListItems[0].focItemQty}}</td>
					<td colspan= "2">&nbsp;</td>
				</tr>
				<tr ng-if="!isEmptyValue(orderLine.ivOrderLine.replacementItem)">
				 <td colspan="5">{{orderLine.ivOrderLine.replacementItem}}</td>
				 <td class="smallSpace">&nbsp;</td>
				 <td class="smallSpace txt_center">&nbsp;</td>	
				 <td colspan= "2">&nbsp;</td>
				</tr>
				</tbody>
			</table>
			<div class="sep_tbl"></div>
			<table>
				<tbody>			
				<tr style="border-top:1px solid #ccc;">						
					<td colspan="2" class="shopping-cart-table-footer">
						<div class="footer-left">
							<p>{{'CON_TOTAL_WEIGHT'| translate}} {{CartDeliveryInfo.nsOrderValueInfo.emTotalWeight}}</p>
							<p>{{'CON_TOTAL_VOLUME'| translate}} {{CartDeliveryInfo.nsOrderValueInfo.emTotalVolume}}</p>
						</div>
					</td>
					<td></td>
					<td></td>        
					<td colspan="4" class="shopping-cart-table-footer">
						<div class="footer-right">
							<p class="left clr_left"><label>{{'CON_TOTAL_LINES' | translate}} : </label><span>{{CartDeliveryInfo.nsOrderValueInfo.emTotalLines}}</span></p>
							<p  class="left clr_left"><label>{{'CON_ORDER_DISCOUNT' | translate}} : </label><span>{{CartDeliveryInfo.nsOrderValueInfo.emDisCount}}</span></p>
							<p  class="left clr_left"><label>{{'CON_ADMINISTRATION_FEE' | translate}} : </label> <span>{{CartDeliveryInfo.nsOrderValueInfo.adminFee}}</span></p>
							<p class="left clr_left"><label>{{'CON_INVOICE_FEE' | translate}} : </label><span>{{CartDeliveryInfo.nsOrderValueInfo.invoiceFee}}</span></p>
							<p ng-show="isShowThisField(CartDeliveryInfo.nsOrderValueInfo.freightFee)" class="left clr_left"><label>{{'CON_FREIGHT_FEE' | translate}} : </label><span>{{CartDeliveryInfo.nsOrderValueInfo.freightFee}}</span></p>
							<p ng-show="isShowThisField(CartDeliveryInfo.nsOrderValueInfo.postageFee)" class="left clr_left"><label>{{'CON_POSTAGE_FEE' | translate}} : </label><span>{{CartDeliveryInfo.nsOrderValueInfo.postageFee}}</span></p>
							<p ng-show="isShowThisField(CartDeliveryInfo.nsOrderValueInfo.insuranceFee)" class="left clr_left"><label>{{'CON_INSURANCE_FEE' | translate}} : </label><span>{{CartDeliveryInfo.nsOrderValueInfo.insuranceFee}}</span></p>
							<p ng-show="isShowThisField(CartDeliveryInfo.nsOrderValueInfo.insurancePercentage)" class="left clr_left"><label>{{'CON_INSURANCE_PERCENTAGE' | translate}} : </label><span>{{CartDeliveryInfo.nsOrderValueInfo.insurancePercentage}}</span></p>
							<p ng-show="isShowThisField(CartDeliveryInfo.nsOrderValueInfo.surcharge)" class="left clr_left"><label>{{'CON_SURCHARGE' | translate}} : </label><span>{{CartDeliveryInfo.nsOrderValueInfo.surcharge}}</span></p>
							
							<p class="left clr_left"><label>{{'CON_TOTAL_EXCLUDING_VAT' | translate}} : </label><span>{{CartDeliveryInfo.nsOrderValueInfo.emLineNet}}</span></p>
							<p class="left clr_left"><label>{{'CON_VAT' | translate}} : </label><span> {{CartDeliveryInfo.nsOrderValueInfo.emVAT}}</span></p>
							<p class="left clr_left"><label>{{'CON_COIN_ADJUSTMENT' | translate}} : </label><span> {{CartDeliveryInfo.nsOrderValueInfo.coinAdjustment}}</span></p>
							<p class="grand-total"><label>{{'CON_GRAND_TOTAL' | translate}}: </label> <span>{{CartDeliveryInfo.nsOrderValueInfo.emOrderTotal}} {{webSettings.currencyCode}}</span></p>
						</div>
						<!--  <div class="footer-right">
							<p><label>{{'CON_TOTAL_LINES' | translate}} : </label>{{CartDeliveryInfo.currentOrder.lineCount}}</p>
							<p><label>{{'CON_ORDER_DISCOUNT' | translate}} : </label>{{CartDeliveryInfo.nsOrderValueInfo.emDisCount}}%</p>
							<p><label>{{'CON_TOTAL_EXCLUDING_VAT' | translate}} : </label>{{CartDeliveryInfo.nsOrderValueInfo.emLineNet}}</p>
							<p><label>{{'CON_VAT' | translate}} : </label> {{CartDeliveryInfo.nsOrderValueInfo.emVAT}}</p>
							<p class="grand-total"><label>{{'CON_GRAND_TOTAL' | translate}} : </label><span>{{CartDeliveryInfo.nsOrderValueInfo.emOrderTotal}}</span> </p>
						</div>-->
					</td>   
					  <td>&nbsp;</td>   					
				</tr>				
			</tbody>
		</table>
		<div class="sep"></div>
		<div class="deliveryAddress">
			<p class="hed">{{'CON_DELIVERY_ADDRESS' | translate}}</p>
			<p>{{CartDeliveryInfo.deliveryAddress.displayAddress}}</p>
			<p>{{CartDeliveryInfo.deliveryAddress.addressName}}</p> 
			<p>{{CartDeliveryInfo.deliveryAddress.address1}}</p>
			<p>{{CartDeliveryInfo.deliveryAddress.address2}}</p>
			<p>{{CartDeliveryInfo.deliveryAddress.address3}}</p>
			<p>{{CartDeliveryInfo.deliveryAddress.postalCode}} {{CartDeliveryInfo.deliveryAddress.address4}}</p>
			<p ng-show="showCountyOrState(CartDeliveryInfo.deliveryAddress.countyDesc)">{{CartDeliveryInfo.deliveryAddress.countyDesc}}</p>
			<p ng-show="showCountyOrState(CartDeliveryInfo.deliveryAddress.stateProvDesc)">{{CartDeliveryInfo.deliveryAddress.stateProvDesc}}</p>
			<p>{{CartDeliveryInfo.deliveryAddress.countryDesc}}</p>
		</div>
		<div class="billingAddress">
			<p class="hed">{{'CON_BILLING_ADDRESS' | translate}}</p>
			<p>{{CartDeliveryInfo.billingAddress.displayAddress}}</p>
			<p>{{CartDeliveryInfo.billingAddress.addressName}}</p>
			<p>{{CartDeliveryInfo.billingAddress.address1}}</p>
			<p>{{CartDeliveryInfo.billingAddress.address2}}</p>
			<p>{{CartDeliveryInfo.billingAddress.address3}}</p>
			<p>{{CartDeliveryInfo.billingAddress.postalCode}} {{CartDeliveryInfo.billingAddress.address4}}</p>
			<p ng-show="showCountyOrState(CartDeliveryInfo.billingAddress.countyDesc)">{{CartDeliveryInfo.billingAddress.countyDesc}}</p>
			<p ng-show="showCountyOrState(CartDeliveryInfo.billingAddress.stateProvDesc)">{{CartDeliveryInfo.billingAddress.stateProvDesc}}</p>
			<p>{{CartDeliveryInfo.billingAddress.countryDesc}}</p>
		</div>		
		<div class="sep"></div>		
		<div ng-if="webSettings.isPaymentModeActivated" class="paymentInformation">
			<p class="hed">{{'CON_PAYMENT_INFORMATION' | translate}}</p>
			
			<span  >
				<p> {{'CON_PAYMENT_METHOD' | translate}} </p> <span class="blackSpan" ng-show="CartDeliveryInfo.isShowEmailInvoiceDispatch">  {{'CON_CONFIRM_INVOICE_VIA_EMAIL' | translate}} :</span> <input ng-show="CartDeliveryInfo.isShowEmailInvoiceDispatch"  type="checkbox"  class="complete_delivery" ng-model="CartDeliveryInfo.sendInvoiceEmailOnDispatch" /> </p>
				<input ng-show="selectedPaymnetMode(webSettings.paymentMethod)" type="radio" ng-model="selectedPayMethod.name" class="" value="INVOICE" > <lable ng-show="selectedPaymnetMode(webSettings.paymentMethod)">{{'COH_INVOICE' | translate}}</lable> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input ng-show="CartDeliveryInfo.isShowEmailInvoiceDispatch && CartDeliveryInfo.emailInvoiceOverrideAllowed" type="text" ng-model="CartDeliveryInfo.emailInvoiceDispatch" /><span ng-show="!CartDeliveryInfo.emailInvoiceOverrideAllowed">{{CartDeliveryInfo.emailInvoiceDispatch}}</span>
				<p class="paymentTerms">{{'CON_TERMS_OF_PAYMENT' | translate}} : <span> {{CartDeliveryInfo.currentOrder.termsOfPaymentDescription}}</span></p>
				
	 			<p ng-show="selectedPaymnetModeOnline(webSettings.paymentMethod)" class="left">
	 				<input type="radio" ng-model="selectedPayMethod.name" class="" value="ONLINE_PAYMENT" > <lable>{{'CON_ONLINE_PAYMENT' | translate}}</lable>
	 				</p>
	 			<div ng-show="selectedPaymnetModeOnline(webSettings.paymentMethod)" class="paymentOptions left">
				<img ng-src="images/mastercard.png"/>
				<img ng-src="images/visa.png"/>
				<img ng-src="images/amex.jpg"/>
				<img ng-src="images/diners.png"/>
				<img ng-src="images/maestro.png"/>
				<img ng-src="images/Resursbank.jpg"/>
			</div>
			</span>
			
		</div>
		<div class="orderRef">
			<p class="hed">{{'CON_ORDER_REFERENCE' | translate}}</p>
			<p class="clr_left"><span>{{'CON_YOUR_ORDER' | translate}} :</span> {{CartDeliveryInfo.orderReference.yourOrderNumber}}</p>
			<p class="clr_left left"><span>{{'CON_YOUR_REFERENCE' | translate}}:</span> {{CartDeliveryInfo.orderReference.yourReference}}</p>
			<p class="clr_left left"><span>{{'CON_OUR_REFERENCE' | translate}}:</span> {{CartDeliveryInfo.orderReference.ourReference}}</p>
			<p class="clr_left left"><span>{{'CON_CREATION_DATE' | translate}}:</span> {{CartDeliveryInfo.creationDate}}</p>
			<p ng-if="CartDeliveryInfo.isCompleteDeliveryFlag" class="clr_left left"><span>{{'CON_COMPLETE_DELIVERY' | translate}}:</span> {{CartDeliveryInfo.completeDelivery}}</p>
			<p ng-if="!CartDeliveryInfo.isCompleteDeliveryFlag" class="clr_left left"><span>{{'CON_COMPLETE_DELIVERY' | translate}}:</span> {{'CON_NOT_REQUESTED' | translate}}</p>
			<p class="clr_left left"><span>{{'CON_FREE_TEXT' | translate}}:</span> {{CartDeliveryInfo.orderReference.orderText}}</p>
			<p class="clr_left left"><span>{{'CON_GOODS_MARK' | translate}}:</span> {{CartDeliveryInfo.currentOrder.shipmentMark}}</p>
		</div>
				<div class="orderRef" ng-show="!webSettings.isPaymentModeActivated">
			<p class="clr_left left">
				<span class="blackSpan" ng-show="CartDeliveryInfo.isShowEmailInvoiceDispatch">  {{'CON_CONFIRM_INVOICE_VIA_EMAIL' | translate}} :</span> <input ng-show="CartDeliveryInfo.isShowEmailInvoiceDispatch"  type="checkbox"  class="complete_delivery" ng-model="CartDeliveryInfo.sendInvoiceEmailOnDispatch" />
			</p>
			<p class="clr_left left">
				<input ng-show="CartDeliveryInfo.isShowEmailInvoiceDispatch && CartDeliveryInfo.emailInvoiceOverrideAllowed" type="text" ng-model="CartDeliveryInfo.emailInvoiceDispatch" /><span ng-show="!CartDeliveryInfo.emailInvoiceOverrideAllowed">{{CartDeliveryInfo.emailInvoiceDispatch}}</span>
			</p>
		</div>
		<div class="sep"></div>	
		<div>
			<p class="orderNote clr_both"> {{CartDeliveryInfo.orderFeeWebText}} </p>
		</div>
		
		
		<div ng-if="webSettings.showSalesTermsAndConditions == 'termsandcondition.html'" class="buttonWrapper clr_left right inline-block">
			<div  class="checkBoxleft">
			<input type="checkbox" ng-model="cartDeliveryTermsAndCondition" ng-click="selectCloseCart(cartDeliveryTermsAndCondition)"> <a ng-href="./{{getTermsNConditionFileName()}}" target="_blank">{{'SALES_AND_CONDITION' | translate}}</a>
			</div>
			<button class="backButton left" value="" name="" type="button" ng-click="goBack()">{{'CON_BACK' |translate }}</button>
			<button ng-disabled= "!cartDeliveryTermsAndCondition || CartDeliveryInfo.lineCount == 0" class="reviewOrder" value="" name="" type="button" ng-click = "goThankYou()">{{'CON_CONFIRM_ORDER' |translate }}</button>
		</div>
		
		<div ng-if="webSettings.showSalesTermsAndConditions != 'termsandcondition.html'"  class="buttonWrapper clr_left right">
			<button class="backButton left" value="" name="" type="button" ng-click="goBack()">{{'CON_BACK' |translate }}</button>
			<button ng-disabled= "CartDeliveryInfo.lineCount == 0" class="reviewOrder" value="" name="" type="button" ng-click = "goThankYou()">{{'CON_CONFIRM_ORDER' |translate }}</button>
		</div>	
			
	</div>
</div>

