<div class="listview shoppingListEntry" ng-controller="shoppingListDetailsCtrl">

  	<div class="page-heading">
		 <p class="left">{{'CON_SHOPPING_LIST_ENTRY' | translate}}</p>	
		 <div class="right download">

 			<a href="" class="right" ng-show="webSettings.showXmlIcon" title="{{'CON_SHOPPING_LIST_XML' | translate}}"> <img ng-src="./images/XML.png" ng-click="exportShoppingListLinesData('xml')" /> </a> 
 			<a href="" class="right" ng-show="webSettings.showExcelIcon" title="{{'CON_SHOPPING_LIST_EXCEL' | translate}}"> <img ng-src="./images/Excel.png" ng-click="exportShoppingListLinesData('xls')" /> </a>
			<a href="" class="right" ng-show="webSettings.showPdfIcon" title="{{'CON_SHOPPING_LIST_PDF' | translate}}"> <img ng-src="./images/PDF.png" ng-click="exportShoppingListLinesData('pdf')" /> </a>
		</div> 
	</div>
	<div class="sep"></div>
	<div class="new-search">
		<p class="left" ng-model="isCollapsed" ng-click="showAddProductTable();"> {{'CON_ADD_PRODUCTS' | translate}}
			<a  ng-class ="{'exp-collapse-arrow': !isCollapsed, 'exp-plus-arrow': isCollapsed}">&nbsp;</a></p>		
	</div>	
	<div  ng-show="isCollapsed" class="clr_left" >
        	<section id="productSec" ui-view="productSection"></section>
	</div>	
		
	
	<p class="editAccountCust clr_left"><b>{{'CON_LIST_NAME' |translate}}: {{ListId}} </b></p>	
	<p ng-show="showUpdatedMessage" ng-class="{'shoppingListItemUpdateSuccess':listUpdateSuccess,'shoppingListItemUpdateError':!listUpdateSuccess}">{{updateMessage}}</p>
	<section>	 
		<div class="mainCatListScrollTable clr_left left"  >
		
			<table class="topItemsTable">
				<thead>
					<tr>
						 <th>
							<span>{{'CON_SELECT' | translate}}</span>
						</th>
						 
						<th>				
							<span> {{'COH_PRODUCT' | translate}}</span>
						</th>
						<th>
							<span> {{'COH_DESCRIPTION' | translate}}</span>			
						</th>

						<th class="txt_right" ng-show=" webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')">
							{{'COH_ACTUAL_PRICE' | translate}} {{webSettings.currencyCode}}</th>
						<th class="txt_right" ng-show=" webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE')">
							{{'COH_DISCOUNT_PRICE' | translate}} {{webSettings.currencyCode}}
						</th>
						<th class="txt_right" ng-show="webSettings.isShowPrice && webSettings.allowDiscountDisplay=='*ALL' ">
							{{'CON_DISCOUNT_%' | translate}}</th>

						<th class="smallSpace">
							{{'COH_QUANTITY' | translate}}	
						</th>
						
						<th class="smallSpace">
							{{'COH_UNIT' | translate}}
						</th>
						<th class="smallSpace">
						    {{'COH_REQUESTED_DELIVERY_DATE' | translate}}
						</th>				
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in shoppingListDetails.listData.listOfLine">
						<td><input type="checkbox" ng-model="row.checked" ng-change="checkSelectedItems(shoppingListDetails.listData.listOfLine)"/></td>
						<td><a href=""  ng-click="showProductDetail(row.code);" >{{row.code}}</a></td>
						<td><a href=""  ng-click="showProductDetail(row.code);" >{{row.description}}</a></td>
						<td class="txt_right" ng-show="webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')"><a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlgFromListEntry(row);">{{row.actualPrice}}</a></td>
						<td class="txt_right" ng-show="webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE')"><a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlgFromListEntry(row);">{{row.discountPrice}}</a></td>
						<td class="txt_right" ng-show="webSettings.isShowPrice && webSettings.allowDiscountDisplay=='*ALL'"><a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlgFromListEntry(row);">{{row.discountPercentage}}</a></td>

						<td><input type="text" class="txt_right quantity" id=""  ng-model = "row.quantity" ng-init="row.quantity = changeFormatToLocale(row.quantity)" ng-class ="{ 'error': !row.validQuantity, '' : row.validQuantity}" ng-change="checkValidQuantity(row,row.quantity)" title="{{row.quantityBoxMsg}}"/></td>
						<td><div class="select-style"> <select ng-model="row.selectedUnitObject"  ng-options = "unit.salesUnitDesc for unit in row.salesUnitsDesc track by unit.salesUnitDesc" ></select></div></td>
						<td ng-if="!webSettings.useDatePicker" class="reqDelDate" >                           
<!-- 						<input  type="text" id="getId('txtProductDelDate',row.itemCode)" placeholder="YYYY-MM-DD" ng-model = "row.deliveryDate" />-->
						<input type="text" id="getId('txtProductDelDate',row.itemCode)" 
						ng-blur ="validateDateRangeFormatShoppingList(row.deliveryDate,true)" 
						ng-mouseleave="validateDateRangeFormatShoppingList(row.deliveryDate,true)"
						 ng-class ="{ 'error': !validDateShoppinglist, '' :  validDateShoppinglist }"  
						placeholder= "{{webSettings.defaultDateFormat}}" ng-model="row.deliveryDate" />
						</td>
						<td ng-if="webSettings.useDatePicker" class="reqDelDate">
						<input type="text" ng-model="row.deliveryDate" placeholder= "{{webSettings.defaultDateFormat}}" 
						ng-blur ="validateDateRangeFormatShoppingList(row.deliveryDate,true)" 
						ng-mouseleave="validateDateRangeFormatShoppingList(row.deliveryDate,true)"
						 ng-class ="{ 'error': !validDateShoppinglist, '' :  validDateShoppinglist }"
						name="mDate" my-Datepicker/>
						    
						</td>				
							<!-- 	<td><input type="text" id=""  ng-model = "row.deliverydate"/></td>	 -->
					</tr>
					<tr ng-show ="!dataFound">
						 <td colspan="5">{{pageLoadMsg}}</td>
					</tr>
				</tbody>
			</table>
			<div class="sep_tbl"></div>
			
		</div>
		<div class="buttonWrapper clr_left right">
			<a class="backButton left" href="" ng-click="goBack()" >{{'CON_BACK' | translate}}   </a>
			<button class="closeCart right"  type="button" ng-click = "saveShoppingListLines(shoppingListDetails.listData);" ng-disabled="!dataFound">{{'CON_SAVE_LIST'| translate}}</button>
			</div>
			<div class="buttonWrapper clr_left left">
		
		<button href="" class="goFirstArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="getFirstPage();" title = "{{'CON_FIRST_PAGE' | translate}}">{{'CON_FIRST_PAGE' | translate}} </button>		
		<button href="" class="previousArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage();" title = "{{'CON_PREVIOUS_PAGE' | translate}}">{{'CON_PREVIOUS_PAGE' | translate}} </button>
		<button href="" class="nextArrow left" ng-disabled="!shoppingListDetails.pageDataFound || !shoppingListDetails.moreRecords"   ng-model="shoppingListDetails.pageDataFound" ng-click="nextPage();" title = "{{'CON_NEXT_PAGE' | translate}}">{{'CON_NEXT_PAGE' | translate}} </button>
		
		<label class="selectAll" ng-class ="{ 'disabled': !dataFound, '' : dataFound}" >{{'CON_SELECT_ALL' | translate}}<input ng-model="selectAll" ng-init="selectAll=false" type="checkbox" ng-change="toggleSelectAll(selectAll)" class="left" ng-disabled="!dataFound"/></label>
		<button class="buyIcon left" type="button" ng-show="true" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}" ng-click="buyListItems(shoppingListDetails.listData.listOfLine);" ng-disabled="!itemSelected">{{'CON_BUY'| translate}}</button>
		<button title="{{'CON_DELETE' | translate}}"  class="delete-cart-icon" ng-click="deleteShoppingListLines(shoppingListDetails.listData.listOfLine);" ng-disabled="!itemSelected">{{'CON_DELETE_LINES' | translate}}</button>
		<button title="{{'CON_SUBMIT_REQUEST' | translate}}"  class="submit-icon" ng-click="goToSUbmit(shoppingListDetails.listData.listOfLine);" ng-disabled="!itemSelected" >{{'CON_SUBMIT_REQUEST' | translate}}</button>		
	</div>
	</section>
	 
</div>