<div ng-show = "listofRequestNotNull()" class="listview invoiceDetailPage" ng-controller="shoppingListDetailsCtrl">
	<div ng-show="isShowInnerLoader()" class="pageLoader">
	<div class="inner"></div>
	</div>
	<div class="page-heading">
	 <!-- <span class="order-info">{{'COH_SELECT' | translate }}</span>  -->
<!-- 	 <div class="order-details"> -->
<!-- 	 <label>{{'CON_DOCUMENT_TYPE' | translate}} : </label> -->
<!-- 	 <span class="section-value">{{invoiceDetails.documentType}}</span> -->
<!-- 	  <label>{{'CON_INVOICE_NUMBER' | translate}} : </label> -->
<!-- 	  <span class="section-value">{{invoiceDetails.invoiceNumber}}</span> -->
<!-- 	  </div> -->
	 
	  </div>
	    <p class="errorMsg" ng-show="!requestLineSelected">{{requestLineSelectionMsg}}</p>
		<section name="shoppingLine">
		<p class = "clr_left">{{'CON_SELECT_LINES' | translate }}</p> 
		<div class="sep"></div>
		<div> 
		<table>
			<thead>
				<tr>
					<th>{{'CON_SELECT' | translate}}</th>
					<th ng-click="" > {{'CON_LINE' | translate }}</th>
					<th ng-click=""> {{'COH_ITEM' | translate }}</th>
					<th ng-click=""> {{'COH_DESCRIPTION' | translate }}</th>				
					<th ng-click=""> {{'COH_QUANTITY' | translate }}</th>
					<th ng-click=""> {{'COH_UNIT' | translate }}</th>				
					<th ng-click="" ng-show="isColExist('salesPrice',propertyList)">{{'CON_PRICE' | translate}} {{currency}}</th>
					<th ng-click="" ng-show="isColExist('amount',propertyList)">{{'CON_VALUE' | translate}} {{currency}}</th>
					<th ng-click="">{{'COH_DELIVERY_DATE' | translate}}</th>
					
				</tr>
			 </thead>
			<tbody>
					<tr ng-repeat="row in listOfRequest">
						<td>
							<input type="checkbox" name= "{{row.lineNumber}}"  ng-model="row.checked" id ="{{row.lineNumber}}" ng-change="SelectedShoppingListLine(listOfRequest)" />
						</td>
						<td><a href="" ng-click="showInvoiceLineDetail(row);">{{row.lineNumber}}</a> </td>
						<td><a href="" ng-click="showProductDetail(row.code);">{{row.code}} </a></td>
						<td><a href="" ng-click="showProductDetail(row.code);">{{row.description}}</a> </td>
						<td>{{row.quantity}} </td>
						<td>{{row.selectedUnitObject.salesUnitDesc}} </td>
						<td ng-show="isColExist('salesPrice',propertyList)">{{row.actualPrice}} </td>
						<td ng-show="isColExist('amount',propertyList)">{{row.discountPrice}} </td>
						<td>{{row.deliveryDate}} </td>
						
					</tr>
					<tr ng-show ="!dataFound">
						 <td colspan="9">{{pageLoadMsg}}</td>
					</tr>
			 </tbody>
		</table>
		<div class="sep_tbl"></div>
		<div class="buttonWrapper clr_left right">
			<a class="backButton left" href="" ng-click="goBack()" >{{'CON_BACK' | translate}}   </a>
			<button class="closeCart right" value="" name="" type="button" ng-click = "showAddProduct(listOfRequest,false,true)" >{{'CON_ADD_PRODUCTS'| translate}}</button>
			</div>
			<div class="buttonWrapper clr_left left">
		<!-- 	<button href="" class="goFirstArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="getFirstPage()" title = "{{'CON_FIRST_PAGE' | translate}}">{{'CON_FIRST_PAGE' | translate}} </button>
			<button href="" class="previousArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}">{{'CON_PREVIOUS_PAGE' | translate}} </button>
			<button href="" class="nextArrow" ng-disabled="!dataFound"  ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}">{{'CON_NEXT_PAGE' | translate}} </button>
		 -->
		<!-- 	<input type="checkbox" name= ""  ng-model="selectRequestLine['All']"  ng-change="" /> {{'CON_SELECT_ALL' | translate}}  -->
			<input type="checkbox" name= ""  ng-model="selectRequestLine['AllVisible']"  ng-click="selectAllVisible(listOfRequest)" /> {{'CON_SELECT_ALL_VISIBLE' | translate}}
					
	</div>
	</div>
		
	</section>
		
	

	

	


</div>