<div class="shopping-cart-wrapper" ng-controller = "shoppingCartCtrl">	
	<div id="shopCartOptions" ng-if="loadCarOptionClass()" ng-class="cartOptions">
		<p>{{'CON_CART_OPTIONS' | translate}}</p>
		<ul>
			<li ng-show="!collapsed_additem1"><a href="" ng-click="goToAddItem('productSec')" >{{'CON_ADD_ITEMS' | translate}}</a></li>
			<li ng-show="collapsed_additem1" class="disabled">{{'CON_ADD_ITEMS' | translate}}</li>
			<li ng-if="showCopyPasteArea" ng-show="!collapsed_copypasteArea1"><a href="" ng-click="goToCopyPaste('copySec')">{{'CON_COPY_PASTE_AREA' | translate}}</a></li>
			<li ng-if="showCopyPasteArea" ng-show="collapsed_copypasteArea1" class="disabled">{{'CON_COPY_PASTE_AREA' | translate}}</li>
			
			<li ng-if="webSettings.showInterruptedCart"><a href="" ng-click = "goInterruptedCart();">{{'CON_INTERRUPTED_CARTS' | translate}}</a></li>
			<li><a href="" ng-show="currentOrder.temporaryOrderNumber!=null" ng-click="deleteCurrentCart_Click();">{{'CON_DELETE_CART' | translate}}</a></li>
			<li ng-show="!isCartEmpty"><a href=""  ng-click="newCart_Click();">{{'CON_NEW_CART' | translate}}</a></li>
			<li ng-show="isCartEmpty" class="disabled" >{{'CON_NEW_CART' | translate}}</li>
			<li><a href="" ng-click="showDeliveryPaymentInfo();">{{'CON_DELIVERY_PAYMENT_INFO' | translate}}</a></li>
		</ul>
	</div>
<div ui-view="shopCartChildView"></div>
</div>
