<div class="listview shoppingList" ng-controller="shoppingListCtrl">
	<p class="head">{{'CON_SHOPPING_LIST' | translate}} </p>
	<div class="new-search">
		<p class="left" ng-model="isCollapsed" ng-click="isCollapsed = !isCollapsed"> 
			<a ng-class ="{'exp-collapse-arrow': !isCollapsed, 'exp-plus-arrow': isCollapsed}">{{'CON_NEW_SEARCH' | translate}}</a>{{'CON_NEW_SEARCH' | translate}} </p>		
		
		<div  ng-show="isCollapsed" >
		<!--  -->
		<form class="search-form" role="form" ng-submit="submitFilter()" name="searchForm">
				 <div ng-repeat="filter in ShoppingList.filterList.getFilters()">
					<div ng-show="filter.isEnabled" class="search-form-wrapper">					
						<label for = "filter.filterParam">{{filter.filterName | translate}} :</label> 
						<span ng-show ="filter.isInputList">
						<div class="select-style">
							<select ng-if= "filter.filterName != 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems" ng-options="item.code as item.description for item in filter.dataList"  >	
							</select>
							<select ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems">
							<option ng-repeat="resultperPage in resultPerPageList" >{{resultperPage}}</option> 
							</select>   
						<!-- <select name="" id="filter.filterParam" ng-model="filter.selectedItems" >
									<option ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" ng-repeat="resultperPage in resultPerPageList" ng-selected="ShoppingList.filterList.setResultPerPageListOption(filter,resultperPage)">{{resultperPage}}</option>
							<option ng-repeat="item in filter.dataList" ng-value="item.code" ng-selected="ShoppingList.filterList.setSelectedOption(filter,item)"> {{item.description}} </option>
							</select>    
							 -->                                                                                                                
							<!-- 				
							<select name="" id="filter.filterParam" ng-model="filter.selectedItems" >
								 <option ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" ng-repeat="resultperPage in resultPerPageList" ng-selected="resultperPage == filter.resultCount">{{resultperPage}}</option>
								 <option ng-if="filter.filterName == 'CON_CUSTOMER'" ng-repeat="item in filter.dataList" ng-value="item.code"  ng-selected="item.defaultCode == item.code"> {{item.description}} </option>
								 <option ng-if="filter.filterName != 'CON_CUSTOMER'" ng-repeat="item in filter.dataList" ng-value="item.code"  ng-selected="filter.dataList[0].code == item.code"> {{item.description}} </option>
							</select>
							 --> 
							</div>
						</span>
						<span ng-show ="!filter.isInputList && filter.filterName !='COH_REQUESTED_DELIVERY_DATE'">							
							<input ng-if= "filter.numericType" type="text" id= "filter.filterParam" name="filter.filterParam"  ng-model="filter.selectedItems" 	ng-blur ="validateNumber(filter,filter.selectedItems)" ng-mouseleave="validateNumber(filter,filter.selectedItems)"/> 
							<span ng-if= "filter.numericType"><p class="validationMsg ">  {{filter.validationMsg}} </p> </span>
							<input ng-if= "!filter.numericType" type="text" id= "filter.filterParam" name="filter.filterParam"  ng-model="filter.selectedItems"   />
							
							
						</span>
						<span ng-show ="!filter.isInputList && filter.filterName =='COH_REQUESTED_DELIVERY_DATE'" class="left clr_right">	
								<input type="text" id="filter.filterParamValue1" name="filter.filterParamValue1"  placeholder= "{{'COH_VALUE' | translate}}1" ng-model="filter.selectedItems1"/>
								<input type="text" id="filter.filterParamValue2" name="filter.filterParamValue2" placeholder= "{{'COH_VALUE' | translate}}2"  ng-model="filter.selectedItems2" />							
							</span>

					</div>
				</div> 	
				<p class="left clr_left errorMsg" ng-bind-html="renderHtml(ShoppingList.filterMsg)"></p>
				<div class="submit"><button class="yellowButton right" ng-disabled="ShoppingList.filterList.hasError()">{{'CON_START_SEARCH' | translate}}</button></div>
			</form>
		
		</div>	
		
	</div>	
	
<div class="createNewList clr_both">	
		<p ng-model="isCollapsed_newList" ng-click="isCollapsed_newList = !isCollapsed_newList" class="left">{{'CON_CREATE_NEW_LIST' | translate}} <a ng-class ="{'exp-collapse-arrow': !isCollapsed_newList, 'exp-plus-arrow': isCollapsed_newList}">&nbsp;</a> </p>
		<p class="submitReqErrorMsg">{{ShoppingList.UIMessageKey}}</p>
		<div class="sep"></div>
		<div ng-show="isCollapsed_newList">	
			 <form ng-submit="">
			<section>			
			<table class="editAccountUser">
			<tr>
				<td style="width:20%"> <label class="left">{{'CON_LIST_NAME'| translate}}:  </label> </td>
				<td colspan="2" class="section-value">
				<input type="text" class="left value" ng-model="ShoppingList.newList.listId"  ng-class ="{ 'error':ShoppingList.ErrOnControl.ListID, '' :  !ShoppingList.ErrOnControl.ListID }">
				<span class="mendFields">*</span>
				</td>				
			</tr>
			<tr>
				<td valign="top"> <label class="left">{{'COH_DESCRIPTION'| translate}}:</label> </td>
				<td colspan="2" class="section-value">
					<textarea  type="textarea"  rows="3" cols="20" maxlength="255"   ng-model="ShoppingList.newList.listDesc" ng-class ="{ 'error':ShoppingList.ErrOnControl.ListDesc, '' :  !ShoppingList.ErrOnControl.ListDesc }"></textarea></td>				
			</tr>
			<tr ng-if= "webSettings.allowedSharedList == 'Y'">
				<td> <label class="left">{{'CON_SHARE_WITH_COLLEAGUES'| translate}}: </label> </td>
				<td colspan="2" class="section-value"><input type="checkbox"  ng-model="ShoppingList.newList.checked" /></td>				
			</tr>
			</table>
						
			</section>		
					<div class="buttonWrapper right">
					<button type="button" class="yellowButton primary-btn" ng-disabled="false" ng-click="createNewShoppingList(ShoppingList.newList);">{{'CON_CREATE_LIST' | translate}}</button>
					</div>    
		</div>
	
	</div>

	<div class="scrollTableTop" id = "result_set"></div>
	<section>
	
		 
		<div class="mainCatListScrollTable clr_left left"  >
			<table class="topItemsTable">
				<thead>
					<tr>
						 <th>
							<div class="sorting">
								<span>{{'COH_ACTION' | translate}}</span>
							</div>
						</th>
						 
						<th>				
						<div class="sorting">
						<span class="sortingInnerWrap">		
						  <a ng-class ="ShoppingList.sort.getAscCSS('ListId')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('ListId')"></a>
	      				  <a ng-class="ShoppingList.sort.getDescCSS('ListId')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('ListId')"></a> 
						</span>
								<span> {{'CON_LIST_NAME' | translate}}</span>
							</div>
						</th>
						<th>
						<div class="sorting">
							<span> {{'COH_DESCRIPTION' | translate}}</span>
							</div>				
						</th>				
						 <th>
						<div class="sorting">
								<span>{{'COH_LIST_OWNER' | translate}}</span>
						</div>						
						</th> 
						<th>
						<div class="sorting">
						<span class="sortingInnerWrap">		
						<a ng-class ="ShoppingList.sort.getAscCSS('Customer')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Customer')"></a>
	      				 <a ng-class="ShoppingList.sort.getDescCSS('Customer')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Customer')"></a> 
						</span>
							<span>{{'COH_CUSTOMER' | translate}}</span>
						</div>				
						</th>
						
						<th ng-if= "webSettings.allowedSharedList == 'Y'">
						<div class="sorting">
							<span>{{'CON_SHARED' | translate}}</span>
						</div>				
						</th>
						<th>
						<div class="sorting">
						<span class="sortingInnerWrap">	
						<a ng-class ="ShoppingList.sort.getAscCSS('LastUsed')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('LastUsed')"></a>
	      				<a ng-class="ShoppingList.sort.getDescCSS('LastUsed')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('LastUsed')"></a> 
						</span>
							<span>{{'COH_LAST_USED_DATE' | translate}}</span>
						</div>				
						</th>				
							
					</tr>
				</thead>
				<tbody>
					<tr ng-show ="dataFound" ng-repeat="row in ShoppingList.itemsList">
						<td><input name="list" type="radio"   ng-model ="selectedShoppingList['list']" ng-value="row" value={{row}} ng-click="selectedShoppingList['selected']= true" ng-checked = "row.listId == selectedShoppingList['list'].listId" /></td>
						<td><a href="" ng-click="showShoppingListDetails(row);">{{row.listId}}</a> <span ng-show="row.listLock==2"><img ng-src="images/ShoppingListLock.png"/></span></td>
						<td>{{row.listDesc}}</td>
						<td>{{row.listOwner}}</td>
						<td>{{row.customerId}}</td>
						<td ng-if= "webSettings.allowedSharedList == 'Y'">{{row.hasShared}}</td>
						<td>{{row.lastUsedDate}}</td>
												
												
					</tr>
					<tr ng-show ="!dataFound">
						 <td colspan="7">{{pageLoadMsg}}</td>
					</tr>

				</tbody>
			</table>
			<div class="sep_tbl"></div>
			
		</div>
		<div class="buttonWrapper clr_left right">
			<a class="backButton left" href="" ng-click="goBack()" >{{'CON_BACK' | translate}}   </a>
			<button class="closeCart right"  type="button" ng-disabled="!dataFound || selectedShoppingList.selected != true"  ng-click = "makeShoppingListDefault(selectedShoppingList['list']);" >{{'CON_SHOPPINGLIST_DEFAULT'| translate}}</button> 
			</div>
			<div class="buttonWrapper clr_left left">
		
		<button href="" class="goFirstArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="getFirstPage()" title = "{{'CON_FIRST_PAGE' | translate}}">{{'CON_FIRST_PAGE' | translate}} </button>		
		<button href="" class="previousArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}">{{'CON_PREVIOUS_PAGE' | translate}} </button>
		<!-- <button href="" class="nextArrow left" ng-disabled="!ShoppingList.pageDataFound"  ng-model="ShoppingList.pageDataFound" ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}">{{'CON_NEXT_PAGE' | translate}} </button> -->
		<button href="" class="nextArrow left" ng-disabled="!dataFound || !moreDataArrow"  ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}">{{'CON_NEXT_PAGE' | translate}} </button>
		<button title="{{'CON_DELETE' | translate}}"  class="delete-cart-icon"  ng-disabled="!dataFound || selectedShoppingList.selected != true" ng-click="deleteShoppingList(selectedShoppingList['list']);">{{'CON_DELETE_SHOPPING_LIST' | translate}}</button>		
	</div>
	<div class="clr_left left">
	<p class="shoppingListMessage" ng-show="ShoppingList.getShoppingListLockStatus()" ng-bind-html="renderHtml(listMessage)"></p></div>
	</section>
	
	 
</div>