<div class="thankYouWrapper" ng-controller="shoppingCartCtrl">
<div style="margin-top: 10px;">
			<div class="processStatus" style="margin-left: 5%;">
				<button class="reviewOrderShopCart" style="cursor:pointer;" value="" name="" type="button" ng-click="isShoppingCartSignOnRequired()" >{{'CON_SHOPPINGCART_1' | translate}}</button>
				<button class="reviewOrderShopCart "  value=""  name="" type="button" >{{'CON_REVIEW_ORDER_1' | translate}}</button>
				<button class="cartNewShopCart  deliveryInfoCloseCart" style="cursor:pointer;" ng-click="!isShowDisableMenuItem('CON_ORDER_INFORMATION') ||printOrderInfo(thankYouObj.orderNumber)" value=""  name="" type="button">{{'CON_ORDER_CREATED' | translate}}</button>
			</div>
	</div>

	<h3 ng-if="thankYouObj.isOrderPlaced">{{'TXT_OE_006' | translate}}</h3>
	<p ng-bind-html="renderHtml(thankYouObj.cartMsg)"></p>
	<p>{{'CON_ORDER_STATUS' | translate}}:  {{thankYouObj.cartStatus}} </p>
	
	<p ng-if="thankYouObj.transactionId!=null" >{{'CON_TRANSACTION_ID' | translate}}: {{thankYouObj.transactionId}} </p>
	<p ng-if="thankYouObj.enterpriseErrorMessage!=null" >{{thankYouObj.enterpriseErrorMessage}} </p>
	<p ng-if="thankYouObj.paymentErrorMessage!=null" >{{thankYouObj.paymentErrorMessage}} </p>

	
	<div class="buttonWrapper">
		<button type="button" name="" value="" class="thankYouButton ng-binding" ng-click="!isShowDisableMenuItem('CON_ORDER_INFORMATION') ||printOrderInfo(thankYouObj.orderNumber)" ng-disabled = "!thankYouObj.isViewOrder">{{'CON_VIEW_PRINT_ORDER_RECEIPT' | translate}}</button>
		<button type="button" name="" value="" class="thankYouButton ng-binding" ng-click="!isShowDisableMenuItem('CON_ORDER_INFORMATION') ||showOrderInfo(thankYouObj.orderNumber)" ng-disabled = "!thankYouObj.isViewOrder" >{{'CON_VIEW_ORDERS' | translate}}</button>
		<button type="button" name="" value="" class="thankYouButton ng-binding" ng-show="sendMailOnRequest" ng-click="sendOrderEmail(thankYouObj.orderNumber)" ng-disabled = "!thankYouObj.isViewOrder">{{'CON_EMAIL_ORDER_DETAILS' | translate }}</button>
	</div>
	
	<a class="continueShop" href="#" ng-click = "goHome()">{{'CON_CONTINUE_SHOPPING' | translate}} ?</a>
</div>

<div >
	<div class="sep"></div>
	 <section id="promotionSection" ui-view="promotionSection"></section> 
 </div>
