<div class="listview invoicePage" ng-controller="topItemCtrl">
	<p>{{'CON_MY_TOP_ITEMS' | translate}} </p>
	<div class="sep"></div>
	<div class="new-search">
		<p class="left" ng-model="isCollapsed" ng-click="isCollapsed = !isCollapsed"> 
			<a ng-class ="{'exp-collapse-arrow': !isCollapsed, 'exp-plus-arrow': isCollapsed}">{{'CON_NEW_SEARCH' | translate}}</a>{{'CON_NEW_SEARCH' | translate}} </p>		
		
		<div  ng-show="isCollapsed" >
		<!--  -->
		<form class="search-form" role="form" ng-submit="submitFilter()" name="searchForm">
				 <div ng-repeat="filter in TopItems.filterList.getFilters()">
					<div ng-show="filter.isEnabled" class="search-form-wrapper">					
						<label for = "filter.filterParam">{{filter.filterName | translate}} :</label> 
						<span ng-show ="filter.isInputList">
						<div class="select-style">
						<select ng-if= "filter.filterName != 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems" ng-options="item.code as item.description for item in filter.dataList"  >	
							</select>
							<select ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems">
							<option ng-repeat="resultperPage in resultPerPageList" >{{resultperPage}}</option> 
							</select>  
							<!-- <select name="" id="filter.filterParam" ng-model="filter.selectedItems" >
								<option ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" ng-repeat="resultperPage in resultPerPageList" ng-selected="TopItems.filterList.setResultPerPageListOption(filter,resultperPage)">{{resultperPage}}</option>
								<option ng-repeat="item in filter.dataList" ng-value="item.code" ng-selected="TopItems.filterList.setSelectedOption(filter,item)"> {{item.description}} </option>
							</select>       -->                                                                                                              
													
							</div>
						</span>
						<span ng-show ="!filter.isInputList && filter.filterName !='COH_REQUESTED_DELIVERY_DATE'">							
							<input ng-if= "filter.numericType" type="text" id= "filter.filterParam" name="filter.filterParam"  ng-model="filter.selectedItems" 	ng-blur ="validateNumber(filter,filter.selectedItems)" ng-mouseleave="validateNumber(filter,filter.selectedItems)"/> 
							<span ng-if= "filter.numericType"><p class="validationMsg ">  {{filter.validationMsg}} </p> </span>
							<input ng-if= "!filter.numericType" type="text" id= "filter.filterParam" name="filter.filterParam"  ng-model="filter.selectedItems"   />
							
							
						</span>
						<span ng-show ="!filter.isInputList && filter.filterName =='COH_REQUESTED_DELIVERY_DATE'" class="left clr_right">	
								<input type="text" id="filter.filterParamValue1" name="filter.filterParamValue1"  title="{{filter.validationMsg}}" placeholder= "{{webSettings.defaultDateFormat}}" ng-model="filter.selectedItems1" ng-blur ="validateDateFormat(filter,filter.selectedItems1,false)" ng-mouseleave="validateDateFormat(filter,filter.selectedItems1,false)" ng-class ="{ 'error': !filter.isValidInput, '' :  filter.isValidInput }" />
								<input type="text" id="filter.filterParamValue2" name="filter.filterParamValue2"  title="{{filter.validationMsg2}}" placeholder= "{{webSettings.defaultDateFormat}}"  ng-model="filter.selectedItems2" ng-blur ="validateDateFormat(filter,filter.selectedItems2,true)" ng-mouseleave="validateDateFormat(filter,filter.selectedItems2,true)" ng-class ="{ 'error': !filter.isValidInput2, '' :  filter.isValidInput2 }"  />							
							</span>
					
					</div>
				</div> 	
				<p class="left clr_left errorMsg" ng-bind-html="renderHtml(TopItems.filterMsg)"></p>
				<div class="submit"><button class="yellowButton right" ng-disabled="TopItems.filterList.hasError()">{{'CON_START_SEARCH' | translate}}</button></div>
			</form>
		
		</div>	
		
	</div>	
	<div class="scrollTableTop" id = "result_set"></div>
	<section>
	
		<div class="extendedInfo clr_left">
			  <label>{{'CON_EXTENDED_INFO' | translate}}: </label>
			  <input type="radio" ng-model="topItemShowExtendInfo" value='true' name="CatalogueRB" class=""><label>{{'CON_YES' | translate}}</label>
			  <input type="radio" ng-model="topItemShowExtendInfo" value='false' name="CatalogueRB" class="">  <label>{{'CON_NO' | translate}}</label>
		  </div>
		  <div class="right download">
		  <button type="button" name="" value="" class="buyIcon" ng-click="buyTopItems()" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}">{{'CON_BUY' | translate}}</button>
   		<a href="" class="right" ng-show="webSettings.showXmlIcon" title="{{'CON_MY_TOP_ITEMS_SEARCH_XML' | translate}}"> <img ng-src="./images/XML.png" ng-click="exportTopItemsList('xml')" /> </a> 
 		<a href="" class="right" ng-show="webSettings.showExcelIcon" title="{{'CON_MY_TOP_ITEMS_SEARCH_EXCEL' | translate}}"> <img ng-src="./images/Excel.png" ng-click="exportTopItemsList('xls')" /> </a>
		<a href="" class="right" ng-show="webSettings.showPdfIcon" title="{{'CON_MY_TOP_ITEMS_SEARCH_PDF' | translate}}"> <img ng-src="./images/PDF.png" ng-click="exportTopItemsList('pdf')" /> </a>
  
	<button ng-show="prdSearchTblHeaders.isBuyingAllowed" type="button" name="" value="" class="buyIcon" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}"
	ng-click="buyItems()" >{{'CON_BUY' | translate}}</button>
	<button type="button" ng-show="isSignedIn" name="" value="" class="addToList" title={{addToListText}} ng-click="addMultipleItemsToCurrentList();">{{'CON_ADD_TO_LIST' | translate}}</button> 
  </div>
		<div class="mainCatListScrollTable clr_left left"  >
		<!--  ADM-016 -->
		<table class="topItemsTable">
			<thead>
				<tr>
					 <th class="txt_right" ng-show="topItemShowExtendInfo=='true'">
						<div class="sorting contentRight paddingRight">
							<span class="sortingInnerWrap">												
						  		<a ng-class ="TopItems.sort.getAscCSS('TotalAmount')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('TotalAmount')"></a>
	      				  		<a ng-class="TopItems.sort.getDescCSS('TotalAmount')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('TotalAmount')"></a>  
							</span>
							<span>{{'COH_TOTAL_AMOUNT' | translate}}&nbsp;{{webSettings.currencyCode}}</span>
						</div>
						</th>
						<th class="txt_right" ng-show="topItemShowExtendInfo=='true'">
							<div class="sorting contentRight paddingRight">
								<span class="sortingInnerWrap">												
						  			<a ng-class ="TopItems.sort.getAscCSS('Quantity')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Quantity')"></a>
	      				  	 		<a ng-class="TopItems.sort.getDescCSS('Quantity')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Quantity')"></a> 
								</span>
								<span>{{'COH_QUANTITY' | translate}}</span>
							</div>	
						</th>			
						<th class="txt_right" ng-show="topItemShowExtendInfo=='true'">
							<div class="sorting contentRight paddingRight">
								<span class="sortingInnerWrap">												
						  			<a ng-class ="TopItems.sort.getAscCSS('Line')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Line')"></a>
	      				  	 		<a ng-class="TopItems.sort.getDescCSS('Line')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Line')"></a> 
								</span>
								<span>{{'COH_LINES' | translate}}</span>
							</div>				
						</th>	
						<th ng-show="topItemShowExtendInfo=='true'"></th>
						<th>				
							<div class="sorting">
								<span class="sortingInnerWrap">												
							  		<a ng-class ="TopItems.sort.getAscCSS('Item')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Item')"></a>
	      				  	 		<a ng-class="TopItems.sort.getDescCSS('Item')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Item')"></a> 
								</span>
								<span> {{'COH_ITEM' | translate}}</span>
							</div>
						</th>
						<th>
							<div class="sorting">
								<span class="sortingInnerWrap">												
								  	<a ng-class ="TopItems.sort.getAscCSS('Discription')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Discription')"></a>
	      				  	 		<a ng-class="TopItems.sort.getDescCSS('Discription')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Discription')"></a> 
								</span>
								<span> {{'COH_DESCRIPTION' | translate}}</span>
							</div>				
						</th>
						<th>
							<div class="sorting">
								<span>{{'COH_UNIT' | translate}}</span>
							</div>				
						</th>	
						<th class="txt_right">
							<div class="sorting contentRight paddingRight" ng-show="webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')">
								<span>{{'COH_ACTUAL_PRICE' | translate}}&nbsp;{{webSettings.currencyCode}}</span>
							</div>						
						</th> 
						<th class="txt_right" ng-show="(webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE')">
							<div class="sorting contentRight paddingRight">
								<span>{{'COH_DISCOUNT_PRICE' | translate}}&nbsp;{{webSettings.currencyCode}}</span>
							</div>				
						</th>
						<th class="txt_right" ng-show="(webSettings.allowDiscountDisplay=='*ALL')">
							<div class="sorting contentRight paddingRight">
								<span>{{'COH_DISCOUNT_PERCENTAGE' | translate}}</span>
							</div>				
						</th>
						<th style="width:30px;">
								<span>{{'COH_QUANTITY' | translate}}</span>
						</th>	
						<th>{{'COH_ALTERNATIVES' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in TopItems.itemsList">
						<td class="txt_right" ng-show="topItemShowExtendInfo=='true'">{{ row.totalAmount}}</td>
						<td class="txt_right" ng-show="topItemShowExtendInfo=='true'">{{ row.totalQuantity}}</td>
						<td class="txt_right" ng-show="topItemShowExtendInfo=='true'" class="txtCenter">{{ row.lines}}</td>
			            <td ng-show="topItemShowExtendInfo=='true'" style="width:100px;">
            				<div class="listViewImageWrapper">
			    	       	  <a href=""  ng-click="showProductDetail(row.code);"><img class="attentionImage" ng-src="{{BASE_ADDRESS}}{{row.attentionImageURL}}" ng-show="row.isShowAttentionImage"/>
	        			     <img ng-src="{{BASE_ADDRESS}}{{row.imageUrl}}" onerror="getDefaultImg(this);"></a>
				             </div>
             			</td>	
						<td><a href="" ng-click="showProductDetail(row.code);">{{row.code}}</a></td>
						<td><a href="" ng-click="showProductDetail(row.code);">{{ row.description}}</a></td>
						<td>
							 <div class="select-style">	            
           						<select  ng-model="row.selectedUnitObject"  ng-options="unit.salesUnitDesc for unit in row.salesUnitsDesc track by unit.salesUnitDesc" ng-change="onUnitMyTopItem(row.code,row.selectedUnitObject.salesUnit,row)">  					
								</select> 
							</div>
						</td>
						<td class="txt_right"><a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlgFromTopItems(row)" ng-show="webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')">{{ row.actualPrice}} </a></td>
						<td class="txt_right" ng-show="(webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE')"><a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlgFromTopItems(row)">{{ row.discountPrice}}</a></td>
						<td class="txt_right" ng-show="(webSettings.allowDiscountDisplay=='*ALL')"><a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlgFromTopItems(row)">{{ row.discountPercentage}}</a></td>
						<td class="TopItemsquantityColumn" >
							<span  ng-show="isSignedIn" class="left">
								<input ng-show = "row.selectedUnitObject != null" id="getId('text',row.code)" ng-model="row.quantity" type="text" class="txt_right buyInput" ng-class ="{ 'error': !row.validQuantity, '' : row.validQuantity}" ng-change="checkValidQuantity(row,row.quantity)" title="{{row.quantityBoxMsg}}"/> 
							</span>
							<span ng-if="row.isBuyAllowed && !isShopCartItem(row.code)" class="left">
								<button type="button" name="" value="" class="buyIcon" ng-click="buyTopItems(row)" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}">{{'CON_BUY' | translate}}</button>
							</span>
							<span ng-if="row.isBuyAllowed && isShopCartItem(row.code)" class="left">
								<span  class="addedInCart left"  ng-click="buyTopItems(row)"  title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span>
							</span>
							<span ng-if="isSignedIn" class="" ng-show = "row.selectedUnitObject != null">
								<button type="button" name="" value="" class="addToListTableView" title={{addToListText}} ng-click="addMultipleItemsToCurrentList(row);" >{{'CON_ADD_TO_LIST' | translate}}</button> 
							</span>
					<!-- ADM-009 -->
					<img class="promotionImageListView" ng-src="images/Available.png" title="Item has promotion" ng-show="row.hasPromoP1OrP2">
					<img class="hospitalImageListView" ng-src="images/H.png" ng-show="row.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}" >
					<!-- ADM-009 end -->
						</td>
						<td><!--  Alternative --></td>
				</tr>
			</tbody>
		</table>
		 <!--  ADM-016 END -->
			<div ng-show="topItemShowExtendInfo=='false'" class="sep_tbl1"></div>
			<div ng-show="topItemShowExtendInfo=='true'" class="sep_tbl_ext1"></div>
			
		</div>
		<div class="buttonWrapper clr_left right">
			<a class="backButton left" href="" ng-click="goBack()" >{{'CON_BACK' | translate}}   </a>
			</div>
			<div class="buttonWrapper clr_left left">
		<!-- <a class="goFirstArrow left" ng-click="getFirstPage()" title = "{{'CON_FIRST_PAGE' | translate}}" ng-disabled="paginationObj.isFirstPage()" > {{'CON_FIRST_PAGE' | translate}} </a> -->
		<button href="" class="goFirstArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="getFirstPage()" title = "{{'CON_FIRST_PAGE' | translate}}">{{'CON_FIRST_PAGE' | translate}} </button>
		 
		<!-- <a class="previousArrow left" href="" ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}">{{'CON_PREVIOUS_PAGE' | translate}}   </a> -->
		<button href="" class="previousArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}">{{'CON_PREVIOUS_PAGE' | translate}} </button>
		<button href="" class="nextArrow" ng-disabled="!dataFound || !moreDataArrow"  ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}">{{'CON_NEXT_PAGE' | translate}} </button>		
	</div>
	</section>
	 
</div>