<div class="listview transportNotePage"
	ng-controller="transportNoteHistoryCtrl">
	<p class="left">{{'CON_TRANSPORTNOTE_SEARCH' | translate}}</p>
	<div class="right download">

		<a href="" class="right" ng-show="webSettings.showXmlIcon"
			title="{{'CON_TRANSPORTNOTE_HISTORY_XML' | translate}}"> <img
			ng-src="./images/XML.png" ng-click="exportTransportNoteTableAsXML();" />
		</a> <a href="" class="right" ng-show="webSettings.showExcelIcon"
			title="{{'CON_TRANSPORTNOTE_HISTORY_EXCEL' | translate}}"> <img
			ng-src="./images/Excel.png"
			ng-click="exportTransportNoteTableAsExcel();" />
		</a> <a href="" class="right" ng-show="webSettings.showPdfIcon"
			title="{{'CON_TRANSPORTNOTE_HISTORY_PDF' | translate}}"> <img
			ng-src="./images/PDF.png" ng-click="exportTransportNoteTableAsPDF();" />
		</a>

	</div>
	<div class="sep"></div>
	<div class="newSearch clr_left">
		<p ng-model="isCollapsed" ng-click="isCollapsed = !isCollapsed">
			{{'CON_NEW_SEARCH' | translate}} <a
				ng-class="{'exp-collapse-arrow': !isCollapsed, 'exp-plus-arrow': isCollapsed}">New
				Search</a>
		</p>
		<div ng-show="isCollapsed">
			<form class="search-form" role="form" ng-submit="submitFilter()"
				name="searchForm">
				<div ng-repeat="filter in filterList.getFilters()">
					<div ng-show="filter.isEnabled" class="search-form-wrapper">
						<label for="filter.filterParam">{{filter.filterName |
							translate}} :</label> <span ng-show="filter.isInputList">
							<div class="select-style">
								<select ng-if="filter.filterName != 'CON_RESULTS_PER_PAGE'"
									name="" id="filter.filterParam" ng-model="filter.selectedItems"
									ng-options="item.code as item.description for item in filter.dataList">
								</select> <select ng-if="filter.filterName == 'CON_RESULTS_PER_PAGE'"
									name="" id="filter.filterParam" ng-model="filter.selectedItems">
									<option ng-repeat="resultperPage in resultPerPageList">{{resultperPage}}</option>
								</select>
							</div>
						</span> <span ng-show="!filter.isInputList"> <input
							ng-if="filter.numericType" type="text" id="filter.filterParam"
							name="filter.filterParam" ng-model="filter.selectedItems"
							ng-blur="validateNumber(filter,filter.selectedItems)"
							ng-mouseleave="validateNumber(filter,filter.selectedItems)" /> <span
							ng-if="filter.numericType"><p
									class="validationMsg ValidationMsgOrder">
									{{filter.validationMsg}}</p> </span> <input ng-if="!filter.numericType"
							type="text" id="filter.filterParam" name="filter.filterParam"
							ng-model="filter.selectedItems" />
						</span>

					</div>
				</div>
				<div class="submit clr_both">
					<button class="yellowButton right"
						ng-disabled="isFilterHasError(filterList.getFilters())">{{'CON_START_SEARCH'
						| translate}}</button>
				</div>
			</form>
		</div>
		<p class="" ng-bind-html="renderHtml(filterMsg)"></p>
	</div>
	<div class="sep"></div>

	<div class="scrollTableTop" id="result_set"></div>
	<div class="left quatationSearch">
		<table>
			<thead>
				<tr>
					<th class="txt_right">
						<div class="sorting contentRight paddingRight">
							<span class="sortingInnerWrap"> <a
								ng-class="sort.getAscCSS('TransportNoteNumber')"
								title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}"
								ng-click="sortASC('TransportNoteNumber')"></a> <a
								ng-class="sort.getDescCSS('TransportNoteNumber')"
								title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}"
								ng-click="sortDESC('TransportNoteNumber')"></a>
							</span> <span>{{'CON_TRANSPORTNOTE' | translate}}</span>
						</div>
					</th>
					<th>
						<div class="sorting">
							<span class="sortingInnerWrap"> <a
								ng-class="sort.getAscCSS('TransportNoteDate')"
								title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}"
								ng-click="sortASC('TransportNoteDate')"></a> <a
								ng-class="sort.getDescCSS('TransportNoteDate')"
								title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}"
								ng-click="sortDESC('TransportNoteDate')"></a>
							</span> <span>{{'CON_TRANSPORTNOTE_DATE' | translate}}</span>
						</div>
					</th>
					<th>
						<div class="sorting">
							<span class="sortingInnerWrap"> <a
								ng-class="sort.getAscCSS('Customer')"
								title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}"
								ng-click="sortASC('Customer')"></a> <a
								ng-class="sort.getDescCSS('Customer')"farma
								title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}"
								ng-click="sortDESC('Customer')"></a>
							</span> <span>{{'CON_CUSTOMER' | translate}}</span>
						</div>
					</th>
					<th>
						<div class="sorting">
							<span class="sortingInnerWrap"> <a
								ng-class="sort.getAscCSS('Debtor')"
								title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}"
								ng-click="sortASC('Debtor')"></a> <a
								ng-class="sort.getDescCSS('Debtor')"
								title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}"
								ng-click="sortDESC('Debtor')"></a>
							</span> <span>{{'CON_DEBTOR' | translate}}</span>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in transportNoteData">
					<td class="txt_right"><a href=""
						ng-click="showTransportNoteDetail(row);">{{row.TransportNoteNumber}}</a></td>
					<td>{{row.TransportNoteDate}}</td>
					<td>{{row.CustomerDesc}}</td>
					<td>{{row.DebtorDesc}}</td>
				</tr>
				<tr ng-show="!dataFound">
					<td class="alignCenter" colspan="6">{{pageLoadMsg}}</td>
				</tr>
			</tbody>
		</table>
		<div class="sep_tbl"></div>
		<div class="buttonWrapper clr_left left">
			<button href="" class="goFirstArrow left"
				ng-disabled="paginationObj.isFirstPage()" ng-click="getFirstPage()"
				title="{{'CON_FIRST_PAGE' | translate}}">{{'CON_FIRST_PAGE'
				| translate}}</button>
			<button href="" class="previousArrow left"
				ng-disabled="paginationObj.isFirstPage()" ng-click="previousPage()"
				title="{{'CON_PREVIOUS_PAGE' | translate}}">{{'CON_PREVIOUS_PAGE'
				| translate}}</button>
			<button href="" class="nextArrow"
				ng-disabled="!dataFound || !moreDataArrow" ng-click="nextPage()"
				title="{{'CON_NEXT_PAGE' | translate}}">{{'CON_NEXT_PAGE' |
				translate}}</button>
		</div>
		<div class="buttonWrapper  right">
			<button ng-click="goBack()" type="button" name=""
				class="backButton  ng-binding">{{'CON_BACK' | translate}}</button>
		</div>
	</div>
</div>
