<div class="listview quotationPageDetailPage"
	ng-controller="transportNoteDetailCtrl">

	<div class="page-heading">
		<span class="order-info">{{'CON_TRANSPORTNOTE_INFORMATION' |
			translate}}</span>
		<div class="order-details">
			<label>{{'CON_TRANSPORTNOTE_NUMBER' | translate }}: </label> <span
				class="section-value">{{transportNoteDetails.transportNoteNumber}}</span>
		</div>
	</div>
	<section name="transportNoteLine">
		<div class="right download">
			<button ng-show="webSettings.allowBuyFromTransportNoteLine"
				type="button" name="" value="" class="buyIcon"
				title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}"
				ng-click="buyItems()">{{'CON_BUY' | translate}}</button>
			<button ng-show="webSettings.allowBuyFromTransportNoteLine"
				type="button" ng-show="isSignedIn" name="" value=""
				class="addToList" title={{addToListText}}
				ng-click="addMultipleItemsToCurrentList();" title={{addToListText}}>{{'CON_ADD_TO_LIST'
				| translate}}</button>

			<a href="" class="right" ng-show="webSettings.allowTransportNoteDownload && transportNoteDetails.pdfFile != ''"
				title="{{'CON_TRANSPORTNOTE_DETAIL_PDF' | translate}}"> <img
				ng-src="./images/PDF.png"
				ng-click="exportTransportNoteLineTableAsPDF();" />
			</a>
		</div>
		<div class="sep"></div>
		<div>
			<p class="submitReqErrorMsg">{{transportNoteMsg}}</p>
			<table class="quotation-detail-table">
				<thead>
					<tr>
						<th class="txt_right">
							<div class="sorting paddingRight">
								<span class="sortingInnerWrap"> <a
									ng-class="sort.getAscCSS('lineNumber')" class="ascending"
									ng-click="sortASC('lineNumber'); sortType = '+lineNumber';"
									title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}"></a> <a
									ng-class="sort.getDescCSS('lineNumber')" class="decending"
									ng-click="sortDESC('lineNumber'); sortType = '-lineNumber';"
									title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}"></a>
								</span> <span>{{'COH_LINE' | translate}}</span>
							</div>
						</th>
						<th ng-click="">
							<div class="sorting paddingRight">
								<span class="sortingInnerWrap"> <a
									ng-class="sort.getAscCSS('itemCode')" class="ascending"
									ng-click="sortASC('itemCode'); sortType = '+itemCode'"
									title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}"></a> <a
									ng-class="sort.getDescCSS('itemCode')" class="decending"
									ng-click="sortDESC('itemCode'); sortType = '-itemCode'"
									title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}"></a>
								</span> <span>{{'COH_PRODUCT' | translate}}</span>
							</div>
						</th>
						<th ng-click="">
							<div class="sorting paddingRight">
								<span class="sortingInnerWrap"> <a
									ng-class="sort.getAscCSS('itemDescription')" class="ascending"
									ng-click="sortASC('itemDescription'); sortType = '+itemDescription'"
									title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}"></a> <a
									ng-class="sort.getDescCSS('itemDescription')" class="decending"
									ng-click="sortDESC('itemDescription'); sortType = '-itemDescription'"
									title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}"></a>
								</span> <span>{{'COH_DESCRIPTION' | translate}}</span>
							</div>
						</th>
						<th class="txt_right" ng-click="">
							<div class="sorting paddingRight">
								<span class="sortingInnerWrap"> <a
									ng-class="sort.getAscCSS('orderNumber')" class="ascending"
									ng-click="sortASC('orderNumber'); sortType = '+orderNumber'"
									title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}"></a> <a
									ng-class="sort.getDescCSS('orderNumber')" class="decending"
									ng-click="sortDESC('orderNumber'); sortType = '-orderNumber'"
									title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}"></a>
								</span> <span>{{'COH_ORDER_NUMBER' | translate}}</span>
							</div>
						</th>
						<th class="txt_right" ng-click="">{{'CON_PHYSICAL_CONTAINER' |
							translate}}</th>
						<th class="txt_right" ng-click="">{{'COH_QUANTITY' |
							translate}}</th>
						<th ng-click="">{{'COH_UNIT' | translate}}</th>
						<th ng-click="">
							<div class="sorting paddingRight">
								<span class="sortingInnerWrap"> <a
									ng-class="sort.getAscCSS('deliveryDate')" class="ascending"
									ng-click="sortASC('deliveryDate'); sortType = '+deliveryDate'"
									title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}"></a> <a
									ng-class="sort.getDescCSS('deliveryDate')" class="decending"
									ng-click="sortDESC('deliveryDate'); sortType = '-deliveryDate'"
									title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}"></a>
								</span> <span> {{'COH_DISPATCH_DATE' | translate}} </span>
							</div>
						</th>
						<th class="txt_center" ng-click="">{{'COH_AVAILABLE' |
							translate}}</th>
						<th ng-show="webSettings.allowBuyFromTransportNoteLine">{{'COH_QUANTITY'
							| translate}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in transportNoteLineData | orderBy:sortType">
						<td class="txt_right"><a href=""
							ng-click="showTransportNoteLineDetail(row);">{{row.lineNumber}}</a>
						</td>
						<td><a href="" ng-click="showProductDetail(row.itemCode);">{{row.itemCode}}
						</a></td>
						<td><a href="" ng-click="showProductDetail(row.itemCode);">{{row.itemDescription}}</a>
						</td>
						<td class="txt_right">{{row.orderNumber}}
						</td>
						<td class="txt_right">{{row.physicalContainer}}
						</td>
						<td class="txt_right">{{row.quantity}}</td>
						<td>{{row.unitDesc}}</td>
						<td>{{row.dispatchDate}}</td>
						<td class="txtCenter"><span
							ng-show="row.showAvailabilityAsLink && row.showAvailabilityAsImage">
								<a href="" ng-click="showProductDetail(row.itemCode,true);"><img
									ng-src="images/{{row.availabilityImageName}}"
									title="{{'CON_CLICK_TO_SEE_WH_INFO' | translate}}" /> </a>
						</span> <span
							ng-show="!row.showAvailabilityAsLink && row.showAvailabilityAsImage">
								<img ng-src="images/{{row.availabilityImageName}}" />
						</span>
							<div>
								<span
									ng-show="row.showAvailabilityAsLink && !row.showAvailabilityAsImage">
									<a href="" ng-click="showProductDetail(row.itemCode,true);">{{row.availabilityText}}
								</a>
								</span> <span
									ng-show="!row.showAvailabilityAsLink && !row.showAvailabilityAsImage">
									<a href="" ng-click="showProductDetail(row.itemCode,true);">{{row.availabilityText}}
								</a>
								</span>
							</div></td>
						<td ng-show="webSettings.allowBuyFromTransportNoteLine"
							class="quantityColumn">
							<div class="nowrap left" style="width: 100px;">
								<span class="left"> <input ng-model="row.quantity1"
									type="text" class="txt_right buyInput"
									ng-class="{ 'error': !row.validQuantity, '' : row.validQuantity}"
									ng-change="checkValidQuantity(row,row.quantity1)"
									title="{{row.quantityBoxMsg}}" />
								</span> <span ng-if="row.buyAllowed && !isShopCartItem(row.itemCode)">
									<button ng-disabled="!row.buyAllowed" type="button" name=""
										value="" class="buyIcon" ng-click="buyItems(row)"
										title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}">{{'CON_BUY'
										| translate}}</button>
								</span> <span ng-if="row.buyAllowed && isShopCartItem(row.itemCode)">
									<span class="addedInCart left" ng-click="buyItems(row)"
									title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span>
								</span> <span class="">
									<button type="button" name="" value=""
										class="addToListTableView" title={{addToListText}}
										ng-click="addItemToCurrentListTransportNote(row);"
										title={{addToListText}}>{{'CON_ADD_TO_LIST' |
										translate}}</button>
								</span>
							</div>
						</td>
					</tr>
					<tr ng-show="!dataFound">
						<td colspan="10">{{pageLoadMsg}}</td>
					</tr>
				</tbody>
			</table>
			<div class="sep_tbl"></div>
			<div class="buttonWrapper clr_left left">
				<!-- 			<button class="goFirstArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="getFirstPage()" title = "{{'CON_FIRST_PAGE' | translate}}">{{'CON_FIRST_PAGE' | translate}} </button> -->
				<!-- 			<button class="previousArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}">{{'CON_PREVIOUS_PAGE' | translate}} </button> -->
				<!-- 			<button class="nextArrow" ng-disabled="!dataFound"  ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}">{{'CON_NEXT_PAGE' | translate}} </button> -->
			</div>
			<div class="buttonWrapper  right">
				<button class="backButton" ng-click="goBack();">{{'CON_BACK'
					| translate}}</button>
			</div>
		</div>

	</section>

	<section name="transportNoteHeaderInformation" class="blankMargin">
		<p>
			{{'CON_TRANSPORTNOTE_HEADER_INFORMATION' | translate}}<a shref=""
				ng-model="collapsed_transportNoteHeaderInformation"
				ng-click="collapsed_transportNoteHeaderInformation=!collapsed_transportNoteHeaderInformation"
				ng-class="{'exp-plus-icon': collapsed_transportNoteHeaderInformation, 'exp-collapse-icon': !collapsed_transportNoteHeaderInformation}">a</a>
		</p>
		<div class="sep"></div>
		<div ng-show="!collapsed_transportNoteHeaderInformation"
			ng-class="section-data">
			<table class="quotation-detail-table">
				<tr>
					<td>{{'CON_CUSTOMER' | translate}}:</td>
					<td class="section-value">
						{{transportNoteDetails.customerCode}}</td>
					<td class="section-value">{{transportNoteDetails.customerDesc}}</td>
					<td colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td>{{'CON_DEBTOR' | translate}}:</td>
					<td class="section-value">{{transportNoteDetails.debtorCode}}</td>
					<td class="section-value">{{transportNoteDetails.debtorDesc}}</td>
					<td colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td>{{'CON_TRANSPORTNOTE_DATE' | translate}}:</td>
					<td class="section-value">{{transportNoteDetails.transportNoteDate}}</td>
					<td colspan="3">&nbsp;</td>
				</tr>
				<tr
					ng-show="isColExist('motCode',transportNoteDetailsPropList) || isColExist('motDesc',transportNoteDetailsPropList) ">
					<td>{{'CON_MANNER_OF_TRANSPORT' | translate}}:</td>
					<td class="section-value">{{transportNoteDetails.motCode}}</td>
					<td class="section-value">{{transportNoteDetails.motDesc}}</td>
					<td colspan="2">&nbsp;</td>
				</tr>
				<tr
					ng-show="isColExist('todCode',transportNoteDetailsPropList) || isColExist('todDesc',transportNoteDetailsPropList) ">
					<td>{{'CON_TERMS_OF_DELIVERY' | translate}} :</td>
					<td class="section-value">{{transportNoteDetails.todCode}}</td>
					<td class="section-value">{{transportNoteDetails.todDesc}}</td>
					<td colspan="2">&nbsp;</td>
				</tr>
				<tr
					ng-show="isColExist('shippingAgentCode',transportNoteDetailsPropList) || isColExist('shippingAgentDesc',transportNoteDetailsPropList) ">
					<td>{{'CON_SHIPPING_AGENT' | translate}} :</td>
					<td class="section-value">
						{{transportNoteDetails.shippingAgentCode}}</td>
					<td class="section-value">{{transportNoteDetails.shippingAgentDesc}}</td>
					<td colspan="2">&nbsp;</td>
				</tr>
			</table>
		</div>
	</section>
	<section name="address">
		<p>
			{{'CON_ADDRESSES' | translate}} <a shref=""
				ng-model="collapsed_address"
				ng-click="collapsed_address=!collapsed_address"
				ng-class="{'exp-plus-icon': 	!collapsed_address, 'exp-collapse-icon': collapsed_address}">a</a>
		<div class="sep"></div>
		</p>
		<div ng-show="collapsed_address" ng-class="section-data">
			<table class="invoice-detail-table">
				<tr>
					<td>{{'CON_DELIVERY_ADDRESS' | translate}}:</td>
					<td colspan="">&nbsp;</td>
				</tr>
				<tr>
					<td class="section-value"
						ng-bind-html="renderHtml(transportNoteDetails.delAddress)"></td>
					<td colspan="">&nbsp;</td>
					<td colspan="2">&nbsp;</td>
				</tr>
			</table>
		</div>
	</section>
</div>
