/*************************************************************** 
 * IBS Default Stylesheet document 
 * for Microsoft Internet Explorer			 	
 ***************************************************************/	

.IBSAboveTableHeader { font-family: verdana; font-size: 12px; border: 0; }
.IBSTableHeader { font-family: verdana; font-size: 14px; color: #FFFFFF; background-image: url(BackgroundToningHeader.gif)}
.IBSTableFooter { background-image: url(BackgroundToningBottom.gif); height: 6px}
.IBSTableFooterSmall { background-image: url(BackgroundToningBottom2.gif); height: 3px}
.IBSTableFooterMini { background-color: #A5A5A5; height: 1px}
.IBSTableTitle { font-family: Verdana; font-size: 10px; color: #6d6d6d; font-weight: Bold; }
.IBSTextSmall { font-family: Verdana; font-size: 10px; text-align: Left}
.IBSTextNormal { font-family: Verdana; font-size: 11px; text-align: Left}
.IBSTextNormalCenter { font-family: Verdana; font-size: 11px; text-align: Center}
.IBSNumberNormal { font-family: Verdana; font-size: 11px; text-align: Right}
.IBSTextAttention { font-family: Verdana; font-size: 11px; color: #000033 }
.IBSTextInfoLarge { font-family: Verdana; font-size: 16px; font-weight: Bold; color: #6D6D6D }
.IBSTextWarning { font-family: Verdana; font-size: 14px; color: #FF0000 }
.IBSTextWarningSmall { font-family: Verdana; font-size: 11px; color: #FF0000 }
.IBSTextHeader { font-family: Verdana; font-size: 16px; text-align: Left}
.IBSTextHeaderAttention { font-family: Verdana; font-size: 18px; text-align: Left; text-decoration: underline; font-style: italic; color: #AD3100}
.IBSTextSubHeader { font-family: Verdana; font-size: 12px; text-align: Left; text-decoration: underline;}
.IBSShoppingListHeader{ font-family: Verdana; font-size: 14px; background-color: #B7BCAE }
.IBSNavigationBg { border-right:1px solid #8A8A8A; background-color: #FFFFFF; vertical-align: top}
.IBSAdmHeader{ background-image: url(BackgroundToningTop.gif); vertical-align: top; font-family: Verdana; font-size: 18px; text-align: Center  }
.IBSFunctionBg { vertical-align: top }
.IBSAlignTop{ vertical-align: top}
.IBSDivider {background-color: #8A8A8A;}
.IBSPageTitleDivider {background-color: #C2C2C2;}
.IBSPageTitleHeader { font-family: Verdana; font-size: 16px; color: #6D6D6D; font-weight: Bold }
.IBSPageTitleRightHeader { font-family: Verdana; font-size: 10px; color: #6D6D6D; }
.IBSLabel { font-family: Verdana; font-size: 10px; text-align: Left; color: #3D3D3D; }
.IBSLabelDisabled { font-family: Verdana; font-size: 10px; text-align: Left; color: #9D9D9D; }
.IBSLabelSmall { font-family: Verdana; font-size:  9px; text-align: Left }
.IBSLabelHeader { font-family: Verdana; font-size: 10px; text-align: Left; font-weight: Bold  }
.IBSLabelHeaderLight { font-family: Verdana; font-size: 10px; text-align: Left; font-weight: Bold; color: #6D6D6D }
.IBSLabelOrderEntry { font-family: Verdana; font-size: 11px; text-align: Right }
.IBSLanguage {margin-top: 0; margin-left: 0; vertical-align: top}
.IBSLeftFrame {border-right:1px solid #99bded;}
.IBSListNormal { font-family: Verdana; font-size: 11px; text-align: Left}
.IBSOutput{ font-family: Verdana; font-size: 10px; font-weight: Bold }
.IBSOutputDisabled { font-family: Verdana; font-size: 10px; color: #9D9D9D; }
.IBSOutputNumber { font-family: Verdana; font-size: 10px; font-weight: Bold; text-align: Right }
.IBSOutputText{ font-family: Verdana; font-size: 10px;}
.IBSShoppingCartHeader {font-family: Verdana; font-size: 14px; background-color: #B7BCAE }
.IBSShoppingCartBg {}
.IBSPageNumber { font-family: Verdana; font-size: 10px; color: #800000 }
.IBSPageTitleText{ font-family: Verdana; font-size: 11px; text-align: Left }
.IBSLinksHeader { font-family: Verdana; color: #FFFFFF; font-weight: Bold; font-size: 10px;  background-image: url(BackgroundHeaderMessage.gif); height: 20px; }
.IBSMessagesHeader { font-family: Verdana; color: #FFFFFF; font-weight: Bold; font-size: 10px;  background-image: url(BackgroundHeaderMessage.gif); height: 20px; }
.IBSNewsHeader { font-family: Verdana; color: #FFFFFF; font-size: 10px; font-weight: Bold;  background-image: url(BackgroundHeaderMessage.gif); height: 20px; }
.IBSWelcomeText {font-family: Verdana; font-size: 14px }
.IBSSearchTipHeader { color: #AD3100 }
.IBSSearchTipText { font-family: Verdana; font-size: 11px; background-color: #EBEAE8; text-align: Left }
.IBSMandatoryDataChar { font-family: Verdana; font-size: 11px; font-weight: bold; text-align: Left; color: #AD3100 }
.IBSTipTextSmall { font-family: Verdana; font-size: 10px; text-align: left; color: #800000 }
.IBSTopAlign { vertical-align: top }

.IBSActionLink { font-family: Verdana; font-size: 10px; color : #7F0000; text-decoration: none }
.IBSActionLink:hover { font-family: Verdana; font-size: 10px; color: #000066; text-decoration: underline }
.IBSAvailabilityCellLink {color: #7F0000; text-decoration: none }
.IBSAvailabilityCellLink:hover {color: #000066; text-decoration: underline }
.IBSAvailabilityCellShortageLink { color: #AD3100; text-decoration: none }
.IBSAvailabilityCellShortageLink:hover {color: #800000; text-decoration: underline }
.IBSLink { font-family: Verdana; font-size: 10px; color : #7F0000; text-decoration: none }
.IBSLink:hover { font-family: Verdana; font-size: 10px; color: #000066; text-decoration: underline }
.IBSEnhancedLink { font-family: Verdana; font-size: 11px; color: #800000; text-decoration: underline }
.IBSEnhancedLink:hover { font-family: Verdana; font-size: 11px; color: #336699; text-decoration: underline }
.IBSCellLink { color: #7F0000; text-decoration:none }
.IBSCellLink:hover { color: #000066; text-decoration: underline }
.IBSCellLinkAttention {  font-family: Verdana; font-size: 11px; font-weight: bold; color: #800000; text-decoration: none }
.IBSCellLinkAttention:hover { font-family: Verdana; font-size: 11px; font-weight: bold; color: #336699; text-decoration: underline }
.IBSCellLinkModeToggle { color: #000000; text-decoration: underline }
.IBSCellLinkModeToggle:hover { color: #336699; text-decoration: underline }
.IBSGoToLink { font-family: Verdana; font-size: 10px; color : #7F0000; text-decoration: none }
.IBSGoToLink:hover { font-family: Verdana; font-size: 10px; color: #000066 }
.IBSMenuLink { font-family: Verdana; font-size: 14px; color: #000000; text-decoration: none }
.IBSMenuLink:hover  { font-family: Verdana; font-size: 14px; color: #000066; text-decoration: underline }
.IBSSearchTipLink { font-family: Verdana; font-size: 10px; color: #7F0000; text-decoration: none }
.IBSSearchTipLink:hover { font-family: Verdana; font-size: 10px; color: #000066; text-decoration: underline }

.IBSHtmlCheckableControl { font-family: Verdana; font-size: 10px; color: #FFEDCC} 
.IBSHtmlSelectForm { font-family: Verdana; font-size: 11px;  background-color: #FFFFFF;}
.IBSHtmlColumnResequenceHandler { font-family: Verdana; font-size: 11px;}
.IBSHtmlLinkSelectionHandler {  color: #F70000; text-decoration:none } 
.IBSHtmlLinkSelectionHandler:hover { color: #000066; text-decoration: underline }

.IBSEmpty { font-family: Verdana; font-size: 10px }
.IBSEmptySmall { font-family: Verdana; font-size: 8px }
.IBSEmptyMini { font-family: Verdana; font-size: 3px } 

body.IBSBody { background-color: #FFFFFF; margin-top: 0; margin-left: 5px; vertical-align: top; }
body.IBSAdmBody { background-color: #EBEAE8; margin-top: 0px; margin-left: 0px; vertical-align: top; margin-right: 0px; margin-bottom: 0px; margin-width: 0px; margin-height: 0px; }
body.IBSTopBody {margin-top: 0; margin-left: 5px; vertical-align: top; background-image: url(BackgroundToningTop.gif)}
body.IBSBodyNoMargin { margin-top: 0; margin-left: 0; vertical-align: top}

font.IBSCellErrorMessage { color: #CC3300 }
font.IBSCellInfoMessage { color: #336699 }
font.IBSErrorMessage { font-family: Verdana; font-size: 11px; color: #CC3300; }
font.IBSInfoMessage { font-family: Verdana; font-size: 11px; color: #336699 }

input.IBSInput {font-family: Verdana; font-size: 10px; color: #000000;}
input.IBSPushButton {font-family: Verdana; font-size: 11px}
input.IBSPushButtonSmall {font-size: xx-small}
input.IBSPushButtonSmall2 {background-color:#BBBBBB; border-style: groove; border-width: 1px; font-size: 10px; height: 16px;}
input.IBSPushButtonInfo {color:#FFFFFF; background-color:#2A5988; border-style: groove; border-width: 2px; font-size: 10px; font-weight:bold; height: 20px;}

table.IBSBorderTable { border: 1px solid #B7BCAE }
table.IBSCompareTable {}
table.IBSGroupBoxTable { border: 1px solid #B7BCAE }
table.IBSListTable {}
table.IBSShoppingCartTable { border: 1px solid #B7BCAE }
table.IBSSelectionTable { }
table.IBSListTable2 { background-color: #FFFFFF }
table.IBSOrderDetailTable {border: 0;}
table.IBSOrderTotalTable { }
table.IBSLayoutTable{ border: 0;  vertical-align: top; }
table.IBSLeftLayoutTable {border-right:1px solid #8A8A8A; vertical-align: top; height: 100%; width: 100%; }
table.IBSPageHeaderTable {border: 0; vertical-align: top; height: 100%; width: 97%; }

td.IBSAdmOutput{ font-family: Verdana; font-size: 11px }
td.IBSAvailabilityCell { font-family: Verdana; font-size: 11px;}
td.IBSAvailabilityCellShortage { color: #AD3100; font-family: Verdana; font-size: 11px}
td.IBSAvailabilityCellBold { font-family: Verdana; font-size: 11px; font-weight: bold }
td.IBSAvailabilityCellShortageBold { color: #AD3100; font-family: Verdana; font-size: 11px; font-weight: bold; }
td.IBSBackgroundCell {background-color: #FFFFFF; border-left: 1px solid #FFFFFF; border-right: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF; border-top-width: 1px; border-bottom-width: 1px; vertical-align: top; height: 100%;}
td.IBSBackgroundDummyCell {background-color: #FFFFFF; border-left-width: 1px; border-right-width: 1px; border-top: 1px solid #FFFFFF; border-bottom-width: 1px; background-repeat: repeat-x; }
td.IBSCompareDataCell { font-family: Verdana; font-size: 10px; text-align: center; vertical-align: top; background-color: #EBEAE8; }
td.IBSCompareDataCellCheckbox { font-family: Verdana; font-size: 10px; text-align: center; vertical-align: top; background-color: #EBEAE8; }
td.IBSCompareDataCellImage { font-family: Verdana; font-size: 10px; text-align: center; vertical-align: top; background-color: #FFFFFF; }
td.IBSCompareDataCellNumber { font-family: Verdana; font-size: 10px; text-align: center; vertical-align: top; background-color: #EBEAE8; }
td.IBSCompareDataCellText { font-family: Verdana; font-size: 10px; text-align: left; vertical-align: top; background-color: #EBEAE8; }
td.IBSCompareDataCellUnitHeader { font-family: Verdana; font-size: 9px; font-weight: bold; text-align: center; vertical-align: top; background-color: #A0C0EE; }
td.IBSCompareEmptyColumn {width: 3px}
td.IBSCompareEmptyLabelCell {}
td.IBSCompareLabelCell { font-family: Verdana; font-size: 9px; font-weight: bold; text-align: Left; vertical-align: top; color: #6D6D6D;}
td.IBSCompareLabelCellSmall { font-family: Verdana; font-size: 8px; text-align: Left; vertical-align: top; color: #6D6D6D;}
td.IBSFooterCell { font-family: Verdana; font-size: 10px; color: #000000; background-color: #B7BCAE; text-align: Left; }
td.IBSHeaderToppCell { font-family: Verdana; font-size: 10px; color: #FFFFFF; font-weight: bold; }
td.IBSHeaderCell { font-family: Verdana; font-size: 10px; color: #FFFFFF; background-image: url(BackgroundToningHeader.gif); font-weight: bold; height: 16px}
td.IBSHeaderCellLight {font-family: Verdana; font-size: 10px; font-weight: Bold; color: #6D6D6D; text-align: Left  }
td.IBSHeaderCellLightNoBold {font-family: Verdana; font-size: 10px; color: #6D6D6D; text-align: Left  }
td.IBSHeaderCellAttention { font-family: Verdana; font-size: 14px; font-weight: bold; background-color: #B7BCAE; color: #AD3100; }
td.IBSHeaderCellNumber { font-family: Verdana; font-size: 10px; color: #FFFFFF; font-weight: bold; background-image: url(BackgroundToningHeader.gif); text-align: Right; height: 16px}
td.IBSHeaderCellSmall { font-family: Verdana; color: #FFFFFF; font-size: 9px; background-color: #A5A5A5; }
td.IBSHeaderCellSmallNumber { font-family: Verdana; font-size: 9px; background-color: #A5A5A5; text-align: Right }
td.IBSKeyCell { font-family: Verdana; font-weight: Bold; font-size: 11px }
td.IBSListCell { font-family: Verdana; font-size: 10px }
td.IBSListCellSmall { font-family: Verdana; font-size: 9px }
td.IBSListCellNumber { font-family: Verdana; font-size: 10px; text-align: Right }
td.IBSListCell2 { font-family: Verdana; font-size: 10px; background-color: #EBEAE8 }
td.IBSListCell2Small { font-family: Verdana; font-size: 9px; background-color: #EBEAE8 }
td.IBSListCell2Number { font-family: Verdana; font-size: 10px; text-align: Right; background-color: #EBEAE8 }
td.IBSListCell3 { font-family: Verdana; font-size: 10px;  vertical-align: top }
td.IBSListCell4 { font-family: Verdana; font-size: 10px; vertical-align: top; background-color: #EBEAE8 }
td.IBSListCell4Number { font-family: Verdana; font-size: 10px; text-align: Right; vertical-align: top; background-color: #EBEAE8 }
td.IBSLastRowTable{ background-color: #FFFFFF; }

tr.IBSListRow1 { background-color: #F9F9F9; } 
tr.IBSListRow2 { background-color: #ECECEC; }

textarea.IBSTextArea { font-family: Verdana; font-size: 10px; background-color: #FFFFFF }

/*************************************************************** 
 * Catalogue tree frame
 ***************************************************************/
font.CatLevelDot { font-family: Verdana; font-size: 1em; color: #535353; font-weight: bold }
font.CatLevelDot2 { font-family: Verdana; font-size: 1em; color: #000000; font-weight: bold }
.CatTitleHeader { font-family: Verdana; font-size: 11px; color:#535353 }
.CatTitleText{ font-family: Verdana; font-size: 10px; text-align: Left; color: #535353 }
.CatTextAttention { font-family: Verdana; font-size: 10px; text-align: left; font-style: italic; color: #535353 }
.CatNodeActionLink { font-family: Verdana; font-size: 10px; text-align: right; text-decoration:none; color: #535353}
.CatNodeLink { font-family: Verdana; font-size: 11px; text-align: right; text-decoration:none; color: #535353}
.CatNodeLink:hover { font-family: Verdana; font-size: 11px; text-align: right; background-color: #FFFFFF; color: #000000; text-decoration: underline }
.CatLeafLink { font-family: Verdana; font-size: 10px; text-align: right; text-decoration:none; color: #535353}
.CatLeafLink:hover { font-family: Verdana; font-size: 10px; text-align: right; background-color: #FFFFFF; color: #000000; text-decoration: underline }
.CatCellLink { color: #000000; text-decoration:none }
.CatCellLink:hover { color: #000066; text-decoration: underline }
.CatLink { font-family: Verdana; font-size: 10px; color : #7F0000; text-decoration: none }
.CatLink:hover { font-family: Verdana; font-size: 10px; color: #000066; text-decoration: underline }
td.CatCell { font-family: Verdana; font-size: 11px; color: #535353}
td.CatHeader {text-align: Center; font-family: Verdana; font-size: 11px; color: #535353}
table.CatTable { }

.CatAlphabetText { font-family: Verdana; font-size: 10px; text-align: right; font-weight: Bold; color: #535353}
.CatAlphabetLink { font-family: Verdana; font-size: 10px; text-align: right; text-decoration:none; color: #535353}
.CatAlphabetLink:hover { font-family: Verdana; font-size: 10px; text-align: right; color: #000000; text-decoration: underline }
.CatAlphabetActiveLink { font-family: Verdana; font-size: 10px; text-align: right; color: #535353;  text-decoration:none;}
.CatAlphabetActiveLink:hover { font-family: Verdana; font-size: 10px; text-align: right; color: #000000; text-decoration: underline }
td.CatAlphabetCell { text-align: left; vertical-align: top}
td.CatAlphabetCell2 { width: 133px}
table.CatAlphabetTable { }

/*************************************************************** 
 * Alphabetic view 
 ***************************************************************/
.AlphabetText { font-family: Verdana; font-size: 10px; text-align: right; font-weight: Bold; color: #6D6D6D}
.AlphabetLink { font-family: Verdana; font-size: 10px; text-align: right; text-decoration:none; color: #000000}
.AlphabetLink:hover { font-family: Verdana; font-size: 10px; text-align: right; color: #000000; text-decoration: underline }
.AlphabetActiveLink { font-family: Verdana; font-size: 10px; text-align: right; text-decoration:none; color: #000000}
.AlphabetActiveLink:hover { font-family: Verdana; font-size: 10px; text-align: right; color: #000000; text-decoration: underline }
td.AlphabetCell { text-align: left; vertical-align: top}
td.AlphabetCell2 { width: 133px}
table.AlphabetTable { }

/*************************************************************** 
 * Left frame
 ***************************************************************/	
body.IBSLeftBody { background-color: #FFFFFF; margin-top: 0; margin-left: 0; vertical-align: top; width: 180px}
.IBSTextNormal2 { font-family: Verdana; font-size: 11px; text-align: left; color: #535353; font-weight: Bold }
.IBSTextAttention2 { font-family: Verdana; font-size: 12px; font-weight: bold; text-align: center; color: #FFFF00 }
.IBSLink2 { font-family: Verdana; font-size: 11px; color: #FFFFFF; text-align: right; text-decoration: underline }
.IBSLink2:hover { font-family: Verdana; font-size: 11px; color: #CCCCCC; text-align: right; text-decoration: underline }
.IBSFrameHeader { font-family: Verdana; font-size: 12px; color: #6D6D6D; font-weight: Bold; }

/*************************************************************** 
 * Left top logo frame
 ***************************************************************/	
body.IBSLeftTopBody { background-color: #FFFFFF; margin-top: 0; margin-left: 0; vertical-align: top; width: 180px}

/*************************************************************** 
 * Quick product search
 ***************************************************************/
body.IBSLeftBottomBody { background-image: url(BackgroundToning.gif); margin-top: 0; margin-left: 0; vertical-align: top; width: 180px}	
td.IBSSearchCell { font-family: Verdana; font-size: 10px; text-align: right; vertical-align: top; }
td.IBSSearchCell2 { font-family: Verdana; font-size: 10px; text-align: left; vertical-align: top; }
.IBSSearchLink { font-family: Verdana; font-size: 10px; color: #7F0000; text-align: right; text-decoration: none }
.IBSSearchLink:hover { font-family: Verdana; font-size: 10px; color: #000066; text-align: right; text-decoration: underline; }
.IBSSearchFrameHeader { font-family: Verdana; font-size: 12px; color: #ffffff; font-weight: Bold; }

/*************************************************************** 
 * Top Navigation frame
 ***************************************************************/	
#body.IBSTopBody { background-color: #B7BCAE; margin-top: 0; margin-left: 0; vertical-align: top }
td.IBSTopHeaderCell { font-family: Verdana; font-size: 10px;  background-image: url(BackgroundToningTop.gif)}
input.IBSTopInput { font-family: VERDANA, Verdana, HELVETICA, GENEVA; font-size: 10px; width: 100% }
.IBSTopLink { font-family: Verdana; font-size: 10px; color: #000000; text-decoration: none }
.IBSTopLink:hover { font-family: Verdana; font-size: 10px; color: #000066; text-decoration: underline }

td.IBSTopMenuCell { font-family: Verdana; font-size: 10px; width: 110px; background-image: url(BackgroundToningTop.gif); text-align: Center }
.IBSTopMenuLink { font-family: Verdana; font-size: 10px; color: #000000; text-decoration: none }
.IBSTopMenuLink:hover { font-family: Verdana; font-size: 10px; color: #000066; text-decoration: underline }


/*************************************************************** 
 * Shopping cart frame
 ***************************************************************/	
body.IBSShopCartBody { margin-top: 1px; margin-left: 0; vertical-align: top; background-image: url(BackgroundToning.gif)}
table.IBSShopCartListTable {}
td.IBSShopCartHeaderCell { font-family: Verdana; font-size: 10px; color: #FFFFFF; background-image: url(BackgroundToningHeader.gif); font-weight: bold; }
td.IBSShopCartHeaderCellNumber { font-family: Verdana; font-size: 10px; color: #FFFFFF; background-image: url(BackgroundToningHeader.gif); font-weight: bold; text-align: Right; }
td.IBSShopCartListCell {font-family: Verdana; font-size: 10px;}
td.IBSShopCartListCellNumber { font-family: Verdana; font-size: 10px; text-align: Right; }
tr.IBSShopCartListRow1 { background-color: #F9F9F9; } 
tr.IBSShopCartListRow2 { background-color: #ECECEC; }
.IBSShopCartCellLink { color: #7F0000; text-decoration: none; }
.IBSShopCartCellLink:hover { color: #000066; text-decoration: underline; }
.IBSShopCartLabel { font-family: Verdana; font-size:10px; text-align: Left; color: #ffffff; }
.IBSShopCartOutput{ font-family: Verdana; font-size:10px; font-weight: Bold }
.IBSShopCartOutputNumber { font-family: Verdana; font-size: 10px; font-weight: Bold; text-align: Right }
.IBSShopCartPageTitleHeader { font-family: Verdana; font-size: 12px; color: #FFFFFF; font-weight: Bold; }
.IBSShopCartTableHeader { font-family: Verdana; font-size: 10px; font-weight: Bold; color: #FFFFFF; }
.IBSShopCartTextAttention { font-family: Verdana; font-size: 10px; color: #AD3100; }

/*************************************************************** 
 * Menu Frame
 ***************************************************************/

table.menu	{position: absolute; visibility: hidden; }
#mainmenu	{position: static; }

td.IBSMenuLink {
	color:  #FFFFFF;            /* Must be the same as tdColor in the menu_script.js */
	background-color: #98B8E8; /* Must be the same as tdBgColor in the menu_script.js */
	border: 0px; cursor: pointer; padding: 0px 8px 2px; font-family: Verdana; font-size: 10px; white-space: nowrap;
}

td.IBSMenuPointer {
	color:  #FFFFFF;           /* Must be the same as tdColor in the menu_script.js */
	background-color: #98B8E8; /* Must be the same as tdBgColor in the menu_script.js */
	border: 0px; padding: 0px 8px 2px; font-family: Verdana; cursor: s-resize; font-size: 10px; white-space: nowrap;

}

.MenuHeadItem {position: absolute; visibility: hidden; }
.MenuItem {position: absolute; visibility: inherit; font-family: Verdana; font-size: 10px; white-space: nowrap; text-align: center; color: #FFFFFF; padding-left: 3px; padding-top: 2px;  background-image: url(BackgroundToningTop.gif); }
 

/**************************************************************
 * HELP Windows
 **************************************************************/
body.IBSHelpBody { margin-top: 10px; margin-left: 10px; vertical-align: top; background-color: #EBEAE8;}
p.IBSHelpLinks { font-family: Verdana; font-size: 12px; text-align: Left;}
.IBSHelpHeaderLink { font-family: Verdana; font-size: 12px; text-align: Left; color: #000000; text-decoration: none }
.IBSHelpLink {color: #336699; text-decoration: none }
.IBSHelpLink:hover {color: #000066; text-decoration: underline }

/*************************************************************** 
 * NETSTORE BACKOFFICE
 ***************************************************************/	
/*************************************************************** 
 * Left frame
 ***************************************************************/	
.BoLeftMenuLink { font-family: Verdana; font-size: 10px; text-align: Left; text-decoration: none; 
               color: #FFFFFF; line-height: 100%; float: left; word-spacing: 0; 
               margin-top: -1px; margin-bottom: -1px; padding: 0 }
.BoLeftMenuLink2 { font-family: Verdana; font-size: 10px; text-align: Left; text-decoration: none; 
               color: #FFFFFF; line-height: 100%; word-spacing: 0; float: left; 
               margin-top: 4px; margin-bottom: -1px; padding: 0 }
