<div class="advanced-search add-products">
    <div class="panel panel-default">
      <h5 ng-show="showRequestBase"> {{'CON_ADD_PRODUCTS_TO_YOUR_REQUEST' | translate}} </h5>
      <div id="addproducts" aria-expanded="true" class="collapsed">
        <div class="panel-body">
            <div class="orders-table table-responsive">
				<table class="table table-striped table-hover table-orders">
					<thead>
						<tr>
							<th>{{'COH_PRODUCT' | translate}}</th>
							<th>{{'CON_MINSAN_CODE' | translate}}</th>
							<th>{{'COH_DESCRIPTION' | translate}}</th>
							<th>{{'CON_UNIT' | translate}}</th>
							<th>{{'COH_QUANTITY' | translate}}</th>

							<!-- ADM-XXX
										<th>{{'CON_REQUEST_TYPE' | translate}}</th>
										<th>{{'COH_DESCRIPTION' | translate}}</th>
										-->
							<!-- ADM-XXX -->
							<th>{{'COH_BATCH' | translate}}</th>
							<th>{{'COH_EXPIRE_DATE' | translate}}</th>
							<th>{{'CON_SERIAL_NUMBER' | translate}}</th>
							<th>{{'COH_REASON_CODE' | translate}}</th>
						</tr> 
					</thead>
		
					<tbody ng-repeat="reqLine in requestLineObj.getWrkLineList()">
		
						<tr ng-show="!reqLine.isValidProduct">
							<td colspan="5"><span class="left errorMsg">
									{{reqLine.errorMsg}}</span></td>
						</tr>
		
						<tr>
							<td>{{reqLine.product}}</td>
							<td>{{reqLine.minsanCode}}</td>
							<td>{{reqLine.productDescription}}</td>
							<td>{{reqLine.unit}}</td>
							<td><input type="text"
								id="getId('txtQuantity',reqLine.product)"
								ng-model="reqLine.quantity" class="txt_right"
								ng-class="{ 'error': !reqLine.validQuantity, '' : reqLine.validQuantity}"
								ng-change="checkValidQuantity(reqLine,reqLine.quantity)"
								ng-blur="validateEnteredLineData(reqLine, requestLineObj)"
								title="{{'MSG_ENTER_RETURNED_QUANTITY' | translate}}"   size="4" maxlength="4" style="width:40px"/></td>
							<td><input type="text" id="getId('txtBatch',reqLine.product)"
								ng-model="reqLine.batch" ng-blur="validateBatch(reqLine)"
								title="{{'MSG_ENTER_RETURNED_BATCH' | translate}}" size="12" maxlength="12" style="width:150px"/></td>
							<td ng-if="!webSettings.useDatePicker" class="reqDelDate"><input
								type="text" id="getId(getId('txtExpireDate',reqLine.product))"
								placeholder="{{webSettings.defaultDateFormat}}"
								ng-class="{ 'error': !reqLine.validDate, '' :  reqLine.validDate }"
								ng-change="validateDateBpr(reqLine)" ng-model="reqLine.expireDate"
								title="{{'MSG_ENTER_EXPIRE_DATE' | translate}}" size="12" maxlength="12" style="width:130px"/></td>
							<td ng-if="webSettings.useDatePicker" class="reqDelDate"><input
								type="text" placeholder="{{webSettings.defaultDateFormat}}"
								ng-class="{ 'error': !reqLine.validDate, '' :  reqLine.validDate }"
								ng-change="validateDateBpr(reqLine)" name="mDate" my-Datepicker
								ng-model="reqLine.expireDate"
								title="{{'MSG_SELECT_EXPIRE_DATE' | translate}}" size="12" maxlength="12" style="width:130px"/></td>
							<td><input type="text"
								id="getId('txtSerialNo',reqLine.product)"
								ng-model="reqLine.serialNo"
								title="{{'MSG_ENTER_RETURNED_SERIAL_NO' | translate}}" /></td>
							<td>
								<div class="select-style">
									<select ng-model="reqLine.selectedReasonCode"
										ng-options="reasonCode.description for reasonCode in reqLine.reasonCodeList"
										id="getId('txtReasonCode',reqLine.product)"
										ng-change="onAddProdReqTypeChange(getId('txtReasonCode',reqLine.product), reqLine.selectedReasonCode"
										title="{{'MSG_SELECT_REASON_CODE' | translate}}" size="20" maxlength="20" style="width:200px">
									</select>
								</div>
							</td>
							<td class="actions-td">
								<button ng-disabled="collapsed_edit" class="btn btn-block btn-danger" title="{{'CON_DELETE_REQUEST_LINE'| translate}}" ng-click="deleteSelectedWrkRequestLine($index,reqLine)"><i aria-hidden="true" class="fa fa-trash"></i></button>
							</td>
						</tr>
		
					</tbody>
				</table>
			</div>
			<div class="bottom-transport bottom-wlist checkout-container">
              <div class="row">
                <div class="col-sm-12 wlist-control-buttons">
                  <div class="cancel-section addprod-buttons">
                    <button type="button" class="btn btn-block btn-success" ng-click="validateEnteredLines(requestLineObj,'REQUEST')"
						ng-disabled="!requestLineObj.isValidProductList">{{'CON_ADD_TO_REQUEST'| translate}}</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
     </div>   				
   </div>
</div>
