<div class="advanced-search add-products">
    <div class="panel panel-default">
      <h5 ng-show="showRequestBase"> {{'CON_ADD_PRODUCTS_TO_YOUR_REQUEST' | translate}}</h5>
      <div id="addproducts" aria-expanded="true" class="collapsed">
        <div class="panel-body">
            <div class="orders-table">
	    		<p class= "left errorMsg">{{copyOrder.getUIErrorKey() | translate : (copyOrder.UIErrorParams)}}</p> 
				<table class="table table-striped table-hover table-orders">
					<thead>
						<tr>
							<th>{{'COH_PRODUCT_CODE' | translate}}</th>
							<th>{{'COH_QUANTITY' | translate}}</th>
							<th>{{'CON_UNIT' | translate}}</th>
					<!-- 	<th>{{'COH_REQUESTED_DELIVERY_DATE' | translate}}</th> -->	
							<th>{{'COH_SHIPMENT_MARKING' | translate}}</th>						
						</tr>
					</thead>
					
					<tbody ng-repeat="order in copyOrder.getList()">
						<tr ng-show= "!order.isValidProduct">
							<td colspan= "5"> <span class= "left errorMsg">	{{order.errorMsg}}</span></td>
						</tr>
					
						<tr>
							<td><input type="text" id="getId('txtProductCode',order.itemCode)"  ng-model = "order.itemCode" ng-blur = "ValidateProductLines(order,copyOrder,'CART')"/></td>
							<td><input type="text" id="getId('txtProductQuantity',order.itemCode)"  ng-model = "order.ordered" class="txt_right" ng-class ="{ 'error': !order.validQuantity, '' : order.validQuantity}" ng-change="checkValidQuantity(order,order.ordered)" title="{{order.quantityBoxMsg}}"/></td>
							<td><input type="text" id="getId('txtProductUnit',order.itemCode)"  ng-model = "order.unit" ng-show = "!order.showUnitList"  />
								 <div class="select-style" ng-show = "order.showUnitList"><select ng-model="order.unit"  ng-options = "activeUnits.salesUnit as activeUnits.salesUnitDesc for activeUnits in order.activeUnitList" ></select></div></td>
							</td>
							<!-- <td><input type="text" id="getId('txtProductDelDate',order.itemCode)"   placeholder="YYYY-MM-DD" ng-model = "order.delDate" /></td>
							 -->
							<td><input type="text" maxlength="30" id="getId('txtProductShipment',order.itemCode)"  ng-model = "order.shipmentMarking" /></td>
	
						</tr>
					</tbody>
						
				</table>
			</div>
			<div class="bottom-transport bottom-wlist checkout-container">
              <div class="row">
                <div class="col-sm-12 wlist-control-buttons">
                  <div class="cancel-section addprod-buttons">
                    <button type="button" class="btn btn-block btn-danger" ng-click="copyOrder.clearAll()"><i aria-hidden="true" class="fa fa-trash"></i>{{'CON_CLEARALL' |	translate}}</button>
                    <button type="button" class="btn btn-block btn-info" ng-click="copyOrder.addMoreLines()">{{'CON_ADDMORE' |	translate}}</button>
                    <button type="button" class="btn btn-block btn-success" ng-click="addItemsToList(copyOrder)" ng-disabled="!copyOrder.isValidProductList">{{'CON_ADD_TO_LIST'|	translate}}</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
     </div>   				
   </div>
</div>   								