<section name="AddItems" id="AddItems" class="clr_left secAddItems" >			
	    	<p class="head"> {{'CON_ADD_ITEMS' | translate}}    
	    	<a shref="" ng-model="collapsed_additem1" ng-click="showAddProductTable()" ng-class = "{'exp-plus-icon': !collapsed_additem1, 'exp-collapse-icon': collapsed_additem1}">a</a>
			</p>
		 	<div class="sepCollapse"></div>
		<div style="width: 100%; height: 25px;" ng-show="collapsed_additem1" ng-class="section-data">
			<section name="AddItems" class="clr_left secAddItems">			
	    							
						<p class="infowrapper"><b>{{'CON_IMPORTANT' | translate}}!</b> {{'CON_CLOSE_YOUR_CART_WHEN_READY' | translate}}</p>
						<p class= "left errorMsg">{{copyOrder.getUIErrorKey() | translate : (copyOrder.UIErrorParams) }}</p>
						<table class="addItemsTable">
							<thead>
								<tr>
									<th class="largeSpace">{{'COH_ITEM' | translate}}</th>
									<th class="smallSpace">{{'COH_QUANTITY' | translate}}</th>
									<th class="smallSpace">{{'CON_UNIT' | translate}}</th>
									<th class="largeSpace">{{'COH_REQUESTED_DELIVERY_DATE' | translate}}</th>
									<th class="largeSpace">{{'COH_SHIPMENT_MARKING' | translate}}</th>						
								</tr>
							</thead>
							<tbody ng-repeat="order in copyOrder.getList()">
								<tr ng-show= "!order.isValidProduct">
									<td colspan= "5"> <span class= "left errorMsg">	{{order.errorMsg}}</span></td>
								</tr>
							
								<tr>
									<td><input type="text" id="getId('txtProductCode',order.itemCode)"  ng-model = "order.itemCode" ng-blur = "ValidateProductLines(order,copyOrder,'CART')"/></td>
									<td><input type="text" id="getId('txtProductQuantity',order.itemCode)"  ng-model = "order.ordered" class="txt_right" ng-class ="{ 'error': !order.validQuantity, '' : order.validQuantity}" ng-change="checkValidQuantity(order,order.ordered)" title="{{order.quantityBoxMsg}}"/></td>
									<td><input type="text" id="getId('txtProductUnit',order.itemCode)"  ng-model = "order.unit" ng-show = "!order.showUnitList"  />
										 <div class="select-style" ng-show = "order.showUnitList">
										 <select ng-model="order.unit"  ng-options = "activeUnits.salesUnit as activeUnits.salesUnitDesc for activeUnits in order.activeUnitList"  ></select></div></td>
									</td>
									<td><input type="text" id="getId('txtProductDelDate',order.itemCode)"   placeholder="{{webSettings.defaultDateFormat}}" ng-model = "order.delDate" ng-blur="validateDateRangeFormatShoppingCart(order.delDate,true)" ng-mouseleave="validateDateRangeFormatShoppingCart(order.delDate,true)" ng-class="{ 'error': !validDateShoppinglist, '' :  validDateShoppinglist }" /></td>
									<td><input type="text" maxlength="30" id="getId('txtProductShipment',order.itemCode)"  ng-model = "order.shipmentMarking" /></td>
			
								</tr>
							</tbody>
						</table>			
						<div class="buttonWrapper clr_left right">
						<button class="clearAll" type="button" ng-click="copyOrder.clearAll()">{{'CON_CLEARALL' |	translate}}</button>
						<button class="addMore" type="button" ng-click="copyOrder.addMoreLines()">{{'CON_ADDMORE' |	translate}}</button>
						<!-- <button class="yellowButton" type="button" ng-click="AddMultipleItemsToCart(copyOrder.getOrderParam()) " ng-disabled="!copyOrder.isValidProductList">{{'CON_BUY'|	translate}}</button>  -->
						<button ng-class="{'disabled': isLoggedIn() == false,'buy':copyOrder.isValidProductList==true,'yellowButton':copyOrder.isValidProductList!==true}"  class="yellowButton" type="button" ng-click="validateProductList(copyOrder,'CART')"  ng-disabled="!copyOrder.isValidProductList">{{'CON_BUY'|	translate}}</button>
						</div>			
						
					</section>	
			
		</div>

	</section>		