<div class="catalog-hp related-products" ng-controller="promotionCatlogCtrl" data-catalogViewName="ALTERNATIVES">
<div ng-show="catalogSlider.length > 0">
	<div class="title-section">
		<h3>{{'CON_ALTERNATIVES_ITEMS' | translate}}</h3>
		<a href="javascript:void(0)" ng-click="viewAllAlternatives()">{{'CON_VIEW_ALL' | translate}}</a>
	</div>
	
	<div class="row catalog-hp-products visu-grid">
		<div class="col-sm-3 product-block-item" ng-repeat="cat in catalogSlider">
	       <div class="padd">			
	               <figure ng-if="cat.isRelative">
	               	<a href="javascript:void(0);" ng-click="showProductDetail(cat.code);">
	               		<img ng-src="{{BASE_ADDRESS}}{{cat.attentionImageURL}}" ng-show="cat.isShowAttentionImage" class="abs-image-product"/>
						<img class="prodImage" ng-src="{{BASE_ADDRESS}}{{cat.imageUrl}}" onerror="getDefaultImg(this);">
	               	</a>
	               </figure>
	               <figure ng-if="!cat.isRelative">
	               	<a	href="javascript:void(0);" ng-click="showProductDetail(cat.code);">
	               		<img ng-src="{{cat.attentionImageURL}}" ng-show="cat.isShowAttentionImage" class="abs-image-product"/>
						<img class="prodImage" ng-src="{{cat.imageUrl}}" onerror="getDefaultImg(this);">
					</a>
	               </figure>
	               <h3><a href="javascript:void(0);" ng-click="showProductDetail(cat.code);" title="{{cat.description}}">{{cat.description}}</a></h3>
	               <!--div class="row unities">
	                 <div class="col-sm-7">
	                 	<span class="uv-label">{{'CON_SALES_UNIT' | translate}}:</span>
	                 </div>
	                 <div class="col-sm-5 uv-qty">
	                 	<label ng-if="webSettings.allowSelectUnitOfMeasure">
	                	{{cat.selectedUnitObject.salesUnitDesc}}
	                	</label>
	                	
	                   <select ng-if="!webSettings.allowSelectUnitOfMeasure" ng-model="cat.selectedUnitObject" ng-options="unit.salesUnitDesc for unit in cat.salesUnitsDesc track by unit.salesUnitDesc" ng-change="onUnitChange(cat.code,cat.selectedUnitObject.salesUnit,cat)">  					
		</select>
	                 </div>
	               </div-->
	             </div>
	    </div>
	</div>
</div>
</div>