<div class="mainCatWrapper" ng-controller="promotionCatlogCtrl" data-catalogViewName="ALTERNATIVES">

<div class="barProductSearch" ng-hide="isProductListEmpty">
	<div class="search-results-page">
    	<div class="search-infos">
        	<h2>{{pageLabelName}}</h2>
    	</div>
        <div class="top-selectors" ng-show="isLoggedIn()">
	        <div class="head-catalog" id="visuAffix">
	          <div class="row">
	            <div class="col-sm-4">
	           		<span ng-if="webSettings.showCatalogueBreadcrumb" class= "breCru">
	                  	<a ng-click="showCatalogFromProd(subCatalogueBeanListBred)" title="{{subCatalogueBeanListBred.description}}">{{subCatalogueBeanListBred.description}} </a><a ng-click="showCatalogFromProd(menu)" ng-repeat="menu in subCatalogueBeanListBred.subCatalogueBeanList"   title="{{menu.description}}">{{menu.description}} </a>
					</span>
	            </div>
	            <div class="col-sm-5 text-center">
		            <div class="visu-type acq-type" ng-if="webSettings.allowSelectUnitOfMeasure && isLoggedIn()">
	                   		<label>Acquista in:</label>
	                      <label>
					  		<input type="radio" ng-model="freeSearchObj.packPiece" value="CF" ng-change="setTipoVendita('CF')">Confezioni
					  	</label>
	                      <label>
							<input type="radio" ng-model="freeSearchObj.packPiece" value="PZ" ng-change="setTipoVendita('PZ')">Pezzi &nbsp;
						</label>
	                </div>
	                </div>
	                <div class="col-sm-3 text-right">
	              <div class="catalog-view-controls">
	              	<span class="label-actions">{{'COH_VIEW' | translate}}</span>
	              </div>
	              <ul class="nav nav-tabs"> 
	                <li ng-class="{'active':!isList}"> 
	                	<a href="javascript:void(0);" class="catalog-view-grid" ng-click="changeCatalogView();">
	                		<i class="fa fa-th"></i>
	                	</a>
	                </li>
	                <li ng-class="{'active':isList}"> 
	                	<a href="javascript:void(0);" class="catalog-view-list" ng-click="changeCatalogView();">
	                		<i class="fa fa-th-list"></i>
	                	</a>
	                </li>
	              </ul>
	            </div>
	          </div>
	        </div>
	    </div>
	</div>

	</div>
<!-- ADM026
<div class="marginTopPromo"> -->
<div class="marginTopPromo" ng-hide="true">
<!-- ADM026 End -->

	<a href="" ng-model="filterPanelCollapsed" ng-click="filterPanelCollapsed=!filterPanelCollapsed" ng-class="{'leftCollapsible-r':filterPanelCollapsed, 'leftCollapsible-l':!filterPanelCollapsed}"></a>
	<section id="filters" ng-hide="filterPanelCollapsed">
	<form class="search-form" role="form" ng-submit="submitPromotionFilter();" name="searchForm" >
		
	<div class="searchFields left">	
	
<!-- 	<button class="yellowButton  right">{{'CON_SEARCH' | translate}}</button> -->
	</div>	
		<h1 ng-show="catalogSearchFilterList.hasEnabledFilters()">{{'CON_REFINE_SEARCH' | translate}}</h1>
		<div data-ng-repeat="FilterItem in catalogSearchFilterList.getFilters()" class="filters-wrapper">
		<div ng-show ="FilterItem.isEnabled">
			<div class="sep"></div>
				<a shref="" ng-model="collapsed" ng-click="collapsed=!collapsed" ng-class="{'exp-plus-icon': !collapsed, 'exp-collapse-icon': collapsed}">a</a>
			<p class="filter-name">{{FilterItem.filterName | translate}}</p>
			<fieldset class="filters" ng-show="collapsed">
				<br />
				<p ng-if="webSettings.showNumberOfItemsInFilter" data-ng-repeat="filterValueList in FilterItem.dataList">
					<label ng-if =" filterValueList.count != null" title="{{filterValueList.desc}}   ({{filterValueList.count}})">	<input type="radio"
						ng-model="FilterItem.selectedItems" ng-value="filterValueList" value="{{filterValueList}}" ng-checked="filterValueList.code ==FilterItem.selectedItems.code" ng-change="submitPromotionFilter();"  id="filterValueList.code"> {{filterValueList.desc}} 	({{filterValueList.count}})					
				    </label>
				    <label ng-if =" filterValueList.count == null" title="{{filterValueList.desc}}">	<input type="radio"
						ng-model="FilterItem.selectedItems" ng-value="filterValueList" value="{{filterValueList}}" ng-checked="filterValueList.code ==FilterItem.selectedItems.code" ng-change="submitPromotionFilter();"  id="filterValueList.code"> {{filterValueList.desc}} 					
				    </label>
				</p>
				
				<p ng-if="!webSettings.showNumberOfItemsInFilter" data-ng-repeat="filterValueList in FilterItem.dataList">
					<label>	<input type="radio"
						ng-model="FilterItem.selectedItems" ng-value="filterValueList" value="{{filterValueList}}" ng-checked="filterValueList.code ==FilterItem.selectedItems.code" ng-change="submitPromotionFilter();"  id="filterValueList.code"> {{filterValueList.desc}} 						
				    </label>
				</p>
			</fieldset>
			</div>
		</div>
	</form>	
	</section>	
		<div class="filtersInfowrapper left" ng-show="catalogSearchFilterList.getSelectedFilters().length > 0" ng-class="{'expendedViewFilters':filterPanelCollapsed}">
    <ul>
        <li>{{'CON_YOU_SELECTED' | translate}} </li>
        <li data-ng-repeat="FilterItem in catalogSearchFilterList.getSelectedFilters()">{{FilterItem.filterValueName}}: {{FilterItem.selectedItems.desc}}
        	<a href="" title="{{'CON_REMOVE_FILTER' | translate}}" ng-click="removePromotionFilter(FilterItem);"></a>
        </li>
    </ul>   
    </div>
	</div>	
 	<div ui-view="catalogViewPromotion" class="catalogViewPromotion " ng-hide="isProductListEmpty"></div>
</div>
<script>
jQuery(document).ready(function(){
	jQuery('#visuAffix').affix({
	    offset: {
	        top: 250
	    }
	});
});
</script>
