  <div ng-if="webSettings.showBanner" id="slides_control" ng-show="!emptyBannerList">
  	<div ng-show="isLoggedIn()">
  	<slick class="logged-hp-slider" slides-to-show=1 slides-to-scroll=1 init-onload=true data="banner.bannerList" dots="true" infinite="true" speed=1000 autoplay= "true" >
        <div ng-repeat="item in banner.bannerList" >
			 <a	ng-if="item.linkType=='CATALOGUE' && item.code!='EMPTY'" href="" ng-click="showCatalogDetail(item.code,item.description);" >
				 <img ng-src="{{BASE_ADDRESS}}{{item.imageURL}}" onerror="getDefaultBannerImg(this);" alt="immagine">
				 <!-- span class="caption-claim">
					<h2>Forniture per le grandi organizzazioni</h2>
				</span-->
			 </a>
			 <a	ng-if="item.linkType!='CATALOGUE'" href="" ng-click="showProductDetail(item.code);"  >
				 <img ng-src="{{BASE_ADDRESS}}{{item.imageURL}}" onerror="getDefaultBannerImg(this);" alt="immagine">
				 <!-- span class="caption-claim">
					<h2>Forniture per le grandi organizzazioni</h2>
				</span-->
			 </a>
			<img ng-if="item.linkType=='CATALOGUE' && item.code=='EMPTY'" ng-src="{{BASE_ADDRESS}}{{item.imageURL}}" onerror="getDefaultBannerImg(this);" alt="immagine">
			<!-- span class="caption-claim">
				<h2>Forniture per le grandi organizzazioni</h2>
			</span-->
        </div>
      </slick>
      </div>
      <div class="row main-notlogged" ng-show="!isLoggedIn()">
        <div class="col-sm-7 col-md-8">
          <div class="bigclaim-notlogged">
          	<img src="./images/image-sld-notlogged.jpg">
          </div>
          <div class="bigclaim-notlogged-text">
            <h1>Chi siamo</h1>
            <div class="simple-text">
              <p><i>FarmAlvarion S.r.l.</i> in qualit&aacute; di  <span style="text-decoration:underline;">distributore intermedio del farmaco</span>, ha come oggetto della sua attivit&aacute; il commercio all'ingrosso di specialit&aacute; medicinali, prodotti galenici, prodotti  parafarmaceutici, omeopatici, erboristeria, presidi medico chirurgici, articoli sanitari, materiali di medicazione, alimenti per la prima infanzia, prodotti dietetici speciali, complementi alimentari, integratori della dieta, apparecchi medicali ed elettromedicali, cosmetici ed altri prodotti normalmente in vendita agli oltre 3.000 attuali clienti, tra cui farmacie, parafarmacie, ospedali e case di cura.</p>
              <p><i>FarmAlvarion S.r.l.</i> opera nei seguenti due segmenti di attivit&aacute;:</p>
              <ul>
			 <li>Distribuzione alle 170 farmacie del gruppo, alle farmacie private e comunali e alle parafarmacie clienti per un totale di oltre 2500 clienti;</li>
			 <li>Distribuzione prodotti e servizi a case di cura, case di riposo, RSA, A.U.S.L. ed enti vari per un totale di circa 600 clienti su tutto il territorio italiano.</li>
			 </ul>
		<p><i>FarmAlvarion S.r.l.</i> fa parte del gruppo Admenta Italia <a href="http://www.admentaitalia.it" target="_blank">www.admentaitalia.it</a></p>
            </div>
          </div>
        </div>
        <aside class="col-sm-5 col-md-4">
          <!-- start:_side-login-->
          <div class="side-login" ng-controller="ModalLoginCtrl">
          		<p class="errorMsg">{{ loginMsg }}</p>
				<p class="errorMsg">{{ loginMsgInactive }}</p>
            <form ng-submit="submit(username,password,selectedLanguageForLogin)">
              <div class="row-form">
                <label>{{'CON_USER_NAME' | translate}}</label>
                <input type="text" ng-model="username"  value="User ID" >
              </div>
              <div class="row-form">
                <label>{{'CON_PASSWORD' | translate}}</label>
                <input type="password" ng-model="password"  value="Password">
              </div>
              	<span ng-show="languageList.length > 1 " class="nullable">
					<label>{{'CON_CONTINUE_IN' | translate}}</label>
					<div class="select-style left">
		 				<select  ng-model="selectedLanguageForLogin" ng-options="lang.translated for lang in languageList" >
						
		  				</select>
					</div>
				</span>
              <button type="submit" class="btn btn-primary">{{'CON_SIGN_IN' | translate}}</button>
            </form>
          </div>
          <!-- end:_side-login-->
          <!-- start:_side-list-block-->
          <div class="side-list-block">
            <div class="padd">
              <h4>Contatti</h4>
              <div class="simple-text">
                <p>
                   <i>FarmAlvarion S.r.l.</i><br/>
					Blocco 11.1 Interporto<br/>
					40010 Bentivoglio (Bo)<br/>
				 <ul style="font-size:small;">
                    <li>Telefono: +39 051 6372011</li>
					<li>Fax: +39 051 6336926</li>
					<li>Clienti Ospedalieri <a href="mailto:vendite.ospedaliero@admentaitalia.it">vendite.ospedaliero@admentaitalia.it</a></li>
					<li>Canale Farmacie <a href="mailto:assistenza.clienti@admentaitalia.it">assistenza.clienti@admentaitalia.it</a></li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
          <!-- end:_side-list-block-->
        </aside>
      </div>
  </div>