<div id="bestOfferDiv" class="bestOffersWrapper" ng-controller="promotionCatlogCtrl" data-catalogViewName="BEST_OFFER" ng-show="webSettings.isShowPromotionalItems" >
<div class="heading">
<p class="left"> {{'CON_BEST_OFFERS' | translate}}</p>
<a href="" class="right" ng-click="viewAllBestOffer()">{{'CON_VIEW_ALL' | translate}} </a>
</div>
<ul class="bestOffers">

<button class="slideLeft left"  ng-click="sliderPreviousPageBestOffer()" ng-disabled="!moreDataBestOfferLeftArrow"> <b>{{'CON_PREVIOUS_PAGE' | translate}}</b> </button>

<li ng-repeat="cat in catalogSlider">

			<a href="" ng-click="showProductDetail(cat.code);">
			<img class="attentionImage" ng-src="{{BASE_ADDRESS}}{{cat.attentionImageURL}}" ng-show="cat.isShowAttentionImage"/>
			<img 	ng-src="{{BASE_ADDRESS}}{{cat.imageUrl}}" 	onerror="getDefaultImg(this);"> </a>
			<p class="clr_left"> <a href="" ng-click="showProductDetail(cat.code);">{{cat.description}}</a> </p>

		</li>
<button class="slideRight right" ng-click="sliderNextPageBestOffer()" ng-disabled="!moreDataBestOffer"> <b>{{'CON_NEXT' | translate}}</b> </button>

</ul>
</div>
