<div ng-controller="catMenuCtrlView" class="productSearchResult">
<div class="catalogueMainContentWrapper">
  	<div class="top-selectors" ng-show="isLoggedIn()">
        <div class="head-catalog" id="visuAffix">
          <div class="row">
            <div class="col-sm-4">
           		<span ng-if="webSettings.showCatalogueBreadcrumb" class= "breCru">
                  	<a ng-click="showCatalogFromProd(subCatalogueBeanListBred)" title="{{subCatalogueBeanListBred.description}}">{{subCatalogueBeanListBred.description}} </a><a ng-click="showCatalogFromProd(menu)" ng-repeat="menu in subCatalogueBeanListBred.subCatalogueBeanList"   title="{{menu.description}}">{{menu.description}} </a>
				</span>
            </div>
            <div class="col-sm-5 text-center">
	            <div class="visu-type acq-type" ng-if="webSettings.allowSelectUnitOfMeasure && isLoggedIn()">
                   		<label>Acquista in:</label>
                      <label>
				  		<input type="radio" ng-model="freeSearchObj.packPiece" value="CF" ng-change="setTipoVendita('PZ')">Confezioni
				  	</label>
                      <label>
						<input type="radio" ng-model="freeSearchObj.packPiece" value="PZ" ng-change="setTipoVendita('PZ')">Pezzi &nbsp;
					</label>
                </div>
                </div>
                <div class="col-sm-3 text-right">
              <div class="catalog-view-controls">
              	<span class="label-actions">{{'COH_VIEW' | translate}}</span>
              </div>
              <ul class="nav nav-tabs"> 
                <li ng-class="{'active':!isList}"> 
                	<a href="javascript:void(0);" class="catalog-view-grid" ng-click="changeView();">
                		<i class="fa fa-th"></i>
                	</a>
                </li>
                <li ng-class="{'active':isList}"> 
                	<a href="javascript:void(0);" class="catalog-view-list" ng-click="changeView();">
                		<i class="fa fa-th-list"></i>
                	</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>

		<div class="catalog-hp" ng-show="isGridView()">
        	<div class="catalog-hp-products visu-grid clearfix">
                <div class="col-sm-3 product-block-item" ng-repeat="cat in productList | orderBy:['-sectorCode','priceForSort']">
                <div class="prod-block-cnt">
                  <div class="padd">
                    <a href="" ng-show="hasAlternative(row)" ng-click="alternativeClicked(row.code);">
						<button class="Alternative" title="{{'CON_ALTERNATIVES_ITEMS' | translate}}"><i class="fa fa-bars" aria-hidden="true"></i></button>
					</a>
                    <figure ng-if="cat.isRelative">
                    	<a href="javascript:void(0);" ng-click="showProductDetail(cat.code);">
                    		<img ng-src="{{BASE_ADDRESS}}{{cat.attentionImageURL}}" ng-show="cat.isShowAttentionImage" class="abs-image-product"/>
							<img class="prodImage" ng-src="{{BASE_ADDRESS}}{{cat.imageUrl}}" onerror="getDefaultImg(this);">
                    	</a>
                    </figure>
                    <figure ng-if="!cat.isRelative">
                    	<a	href="javascript:void(0);" ng-click="showProductDetail(cat.code);">
                    		<img ng-src="{{cat.attentionImageURL}}" ng-show="cat.isShowAttentionImage" class="abs-image-product"/>
							<img class="prodImage" ng-src="{{cat.imageUrl}}" onerror="getDefaultImg(this);">
						</a>
                    </figure>
                    <div class="row">
                    	<div class="col-sm-4">
                    		<i class="fa fa-info-circle fa-2" title="{{'CON_QUICKINFO' | translate}}"  ng-click="showQuickViewDlg(cat);"></i>
						</div>
						<div class="col-sm-4 text-center">
							<i class="fa fa-tags fa-2" title="{{'CON_PROMOTIONAL_ITEM' | translate}}" ng-show="cat.hasPromoP1OrP2 && !hospital"></i>
						</div>
						<div class="col-sm-4 ">
							<i class="fa fa-h-square fa-2 pull-right" ng-show="cat.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}"></i>
                    	</div>
                    </div>
                    <div class="product-code">{{cat.code}}</div>
                    <h3><a href="javascript:void(0);" ng-click="showProductDetail(cat.code);" title="{{cat.description}}">{{cat.description}}</a></h3>
                    <div class="row unities">
                      <div class="col-sm-7">
                      	<span class="uv-label">{{'CON_SALES_UNIT' | translate}}:</span>
                      </div>
                      <div class="col-sm-5 uv-qty">
                      	<label ng-if="webSettings.allowSelectUnitOfMeasure">
                     	{{cat.selectedUnitObject.salesUnitDesc}}
                     	</label>
                     	
                        <select ng-if="!webSettings.allowSelectUnitOfMeasure" ng-model="cat.selectedUnitObject" ng-options="unit.salesUnitDesc for unit in cat.salesUnitsDesc track by unit.salesUnitDesc" ng-change="onUnitChange(cat.code,cat.selectedUnitObject.salesUnit,cat)">  					
						</select>
                      </div>
                    </div>
                    <div class="availGridSpan" ng-if="webSettings.allowDiscountDisplay=='*ALL'" ng-show="webSettings.isShowPrice">
                    	<div>
	                    	<div class="last-prices-sold">
								<span ng-show="convertAsNumber(cat.discountPercentage) > 0" ng-class="{'actPrice': convertAsNumber(cat.discountPercentage) > 0, 'priceCalculationText': !isPriceCalculationEnabled}" class="last-price" ng-click="showPriceCalcDlg(cat)">{{cat.actualPrice}} {{webSettings.currencyCode}}</span>
								<span ng-show="convertAsNumber(cat.discountPercentage) > 0" class="percent-sold">{{cat.discountPercentage}}%</span>
							</div>
							<div ng-show="convertAsNumber(cat.discountPercentage) > 0" class="price-product" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.discountPrice}} {{webSettings.currencyCode}} </div> 
						</div>
						<div  ng-show="convertAsNumber(cat.discountPercentage) <= 0">
							<div class="price-product" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.actualPrice}} {{webSettings.currencyCode}}</div> 
						</div>
						<div class="price-for-kg">{{cat.selectedUnitObject.salesUnitDesc}}</div>
					</div>
					<div ng-if="webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE'" ng-show="webSettings.isShowPrice">
						<div class="price-product" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.discountPrice}} {{webSettings.currencyCode}}</div>
						<div class="price-for-kg">{{cat.selectedUnitObject.salesUnitDesc}}</div>
					</div>
					<div ng-if="webSettings.allowDiscountDisplay=='*ALL_PRICE'" ng-show="webSettings.isShowPrice">
						<div ng-class="{'actPrice': convertAsNumber(cat.discountPrice) > 0, 'priceCalculationText': !isPriceCalculationEnabled}" class="price-product" ng-click="showPriceCalcDlg(cat)">{{cat.actualPrice}} {{webSettings.currencyCode}}</div>
						<div ng-show="convertAsNumber(cat.discountPrice) > 0" class="price-product" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.discountPrice}} {{webSettings.currencyCode}}</div> 
						<div class="price-for-kg">{{cat.selectedUnitObject.salesUnitDesc}}</div>
					</div>
					<div ng-if="webSettings.allowDiscountDisplay=='*ACTUAL_PRICE'" ng-show="webSettings.isShowPrice">
						<div class="price-product" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.actualPrice}} {{webSettings.currencyCode}}</div> 
						<div class="price-for-kg">{{cat.selectedUnitObject.salesUnitDesc}}</div>
					</div>
                  </div>
                  <span ng-show="cat.isMatrixBaseItem">
                  		<a href="" ng-click="showProductDetail(cat.code);">{{cat.segmentationDesc2}}/{{cat.segmentationDesc3}}</a>
		          </span>
		        <div class="availHeight" ng-hide="webSettings.itemAvailabilityType == '*NO' || !isSignedIn" ng-show="isNormalItem || isComponentItem || !isMatrixOption2" class="left availability">
					<span ng-show="cat.showAvailabilityAsLink && cat.showAvailabilityAsImage"> 
						<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label> 
						<a href="" ng-click="showProductDetail(cat.code,true);">
							<img class="availImage" ng-src="images/{{cat.availabilityImageName}}"  title="{{'CON_CLICK_TO_SEE_WH_INFO' | translate}}"/> 
						</a> 
					</span>
					<span ng-show="!cat.showAvailabilityAsLink && cat.showAvailabilityAsImage"> 
						<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label>
						<img ng-src="images/{{cat.availabilityImageName}}"/>
					</span>  
					<span ng-show="cat.showAvailabilityAsLink && !cat.showAvailabilityAsImage"> 
						<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label>
						<a href="" ng-click="showProductDetail(cat.code,true);" >{{cat.availabilityText}} </a>
					</span>
					<span ng-show="!cat.showAvailabilityAsLink && !cat.showAvailabilityAsImage"> 
						<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label> 
						<a href="" ng-click="showProductDetail(cat.code,true);">{{cat.availabilityText}} </a>
					</span>
             	 </div>
                  <div class="padd-addcart">
                    <div class="store-addcart">
                      <div class="row">
                        <div class="col-sm-6">
                          <input type="text" value="1" ng-model="cat.quantity" ng-keyup="$event.keyCode == 13 ? gridViewBuyClicked(cat) : null" ng-class ="{ 'error': !cat.validQuantity, '' : cat.validQuantity}" ng-change="checkValidQuantity(cat,cat.quantity)">
                        </div>
                        <div class="col-sm-6">
                        	<button ng-if="cat.itemClass == 1" class="addcart-btn btn col-primary-01" 
		                    		ng-disabled="disableCatalogBuy(cat.isBuyingAllowed,cat.isMatrixBaseItem)" 
		                    		ng-class="{'disabled': cat.isBuyingAllowed == false, 'addedInCart':isShopCartItem(cat.code)==true , 'buy':isShopCartItem(cat.code)==false }"
		                    		ng-click="gridViewBuyClicked(cat)">
		                    		<i class="fa fa-inverse fa-cart-arrow-down"></i>
		                    		<i ng-show="isShopCartItem(cat.code)" title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}" class="fa fa-inverse fa-check" aria-hidden="true"></i>
		                    </button>
		                    <button ng-if="cat.itemClass == 2" type="button" class="btn btn-info procura-btn" ng-click="showBtbDlg(cat)" title="{{'COH_PROCURE_THE_ITEM' | translate}}">{{'CON_BTB' | translate}}</button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                       	<div class="col-sm-6">
                       		<a href="javascript:void(0);" ng-show="hasAlternative(cat)" ng-click="alternativeClicked(cat.code);">
					        	<button class="btn btn-info" title="{{'CON_ALTERNATIVES_ITEMS' | translate}}"><i class="fa fa-bars" aria-hidden="true"></i></button>
					        </a>
                       	</div>
                       	<div class="col-sm-6 store-wishlist">
                       		<a href="javascript:void(0);" class="btn-warning btn" ng-class="{'disabled': !isSignedIn}" ng-click="addItemToCurrentList(cat);" ng-disabled="disableShoppingList(cat.isMatrixBaseItem) || cat.selectedUnitObject == null" ><i class="fa fa-inverse fa-star"></i></a>
                       	</div>
                    </div>
                  </div>
                </div>
                </div>
            </div>
        </div>
		<div class="catalog-hp" ng-show="isTableView() &&  recordFound ">
             <div class="catalog-hp-products visu-list clearfix">
					<div class="row visu-type">
						<div class="col-sm-6 col-xs-12">
						<form>
							<label>{{'CON_EXTENDED_INFO' | translate}}: </label>
							<div class="radio">
								<label> <input type="radio" ng-model="showExtendInfo"
									value='true' name="CatalogueRB">{{'CON_YES' |
									translate}}
								</label>
							</div>
							<div class="radio">
								<label> <input type="radio" ng-model="showExtendInfo"
									value='false' name="CatalogueRB">{{'CON_NO' |
									translate}}
								</label>
							</div>
						</form>
						</div>
						<div class="col-sm-6 col-xs-12 text-right">
							<a  href="javascript:void();" class="btn btn-primary" ng-show="webSettings.showXmlIcon" title="{{'CON_MAIN_CAT_XML' | translate}}" ng-click="exportCatalogTableAsXML()"><i class="fa fa-file-code-o" aria-hidden="true"></i> </a> 
			                <a  href="javascript:void();" ng-click="exportCatalogTableAsExcel()" class="btn btn-primary" ng-show="webSettings.showExcelIcon" title="{{'CON_MAIN_CAT_EXCEL' | translate}}"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
			                <a  href="javascript:void();" class="btn btn-primary" ng-show="webSettings.showPdfIcon" title="{{'CON_MAIN_CAT_PDF' | translate}}"  ng-click="exportCatalogTableAsPDF(catDescBreadCrum)"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> </a>
			                
			                <button ng-show="tableHeaders.isBuyingAllowed" type="button" name="" value="" class="addcart-btn btn col-primary-01" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}"
			                  ng-click="buyItems()" ><i class="fa fa-inverse fa-cart-arrow-down"></i></button>
			                <button type="button" ng-show="isSignedIn" name="" value="" title="{{'CON_ADD_TO_LIST' | translate}}" ng-click="addMultipleItemsToCurrentList();"class="btn-warning btn"><i class="fa fa-inverse fa-star"></i></button> 
						</div>
					</div>
					
					<div class="table-responsive table-list-products">
						<table class="table">
							<thead>
								<tr>

									<th ng-show="showExtendInfo=='true'">Immagine</th>
									<th>{{'CON_MINSAN_CODE' | translate}}</th>
									<th>{{'COH_DESCRIPTION' | translate}}</th>
									<th>{{'COH_UNIT' | translate}}</th>
									<th
										ng-show="tableHeaders.actualPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')">
										{{'COH_ACTUAL_PRICE' | translate}}
										{{webSettings.currencyCode}}</th>
									<th
										ng-show="tableHeaders.discountPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE')">
										{{'COH_DISCOUNT_PRICE' | translate}}
										{{webSettings.currencyCode}}</th>
									<th
										ng-show="tableHeaders.discountPercentage && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL')">
										{{'CON_DISCOUNT_%' | translate}}</th>
									<th>{{'COH_QUANTITY' | translate}}</th>
									<th></th>
									<th>{{'COH_ACTIONS' | translate}}</th>

								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="row in productList | orderBy:['-sectorCode','priceForSort']">
									<td ng-show="showExtendInfo=='true'">
										<figure>
											<a href="javascript:void(0);"
												ng-click="showProductDetail(row.code);"> <img
												ng-src="{{BASE_ADDRESS}}{{row.imageUrl}}"
												onerror="getDefaultImg(this);">
											</a>
										</figure>
									</td>
									<td>
										<div class="product-code"
											ng-click="showProductDetail(row.code);">{{row.minsanCode}}</div>
									</td>
									<td>
										<h3>
											<a href="javascript:void(0);"
												ng-click="showProductDetail(row.code);">
												{{row.description}} <span
												ng-if="!webSettings.showFullWebTextInItemTable"
												ng-show="homeCatalogShowExtendInfo=='true'"
												ng-bind-html="renderHtml(row.itemWebText)"></span> <span
												ng-if="webSettings.showFullWebTextInItemTable"
												ng-show="homeCatalogShowExtendInfo=='true'"
												ng-bind-html="renderHtml(row.itemWebText)"></span>
											</a>
										</h3>
									</td>

									<td>
										<div class="uv-qty">
											<label ng-if="webSettings.allowSelectUnitOfMeasure">
												{{row.selectedUnitObject.salesUnitDesc}} </label> <select
												ng-if="!webSettings.allowSelectUnitOfMeasure"
												ng-model="row.selectedUnitObject"
												ng-options="unit.salesUnitDesc for unit in row.salesUnitsDesc track by unit.salesUnitDesc"
												ng-change="onUnitChange(row.code,row.selectedUnitObject.salesUnit,row)"></select>
										</div>
									</td>

									<td
										ng-show="tableHeaders.actualPrice && 
                       			 webSettings.isShowPrice && 
                       			 (	webSettings.allowDiscountDisplay=='*ALL' || 
                       			 	webSettings.allowDiscountDisplay=='*ALL_PRICE' || 
                       			 	webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')">
										<span ng-class="{'last-price':row.discountPrice}"> <a
											href="javascript:void(0);"
											ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}"
											ng-click="showPriceCalcDlg(row)"> {{row.actualPrice}} </a>
									</span>
									</td>

									<td
										ng-show="tableHeaders.discountPrice && 
                       			 webSettings.isShowPrice && 
                       			 (	webSettings.allowDiscountDisplay=='*ALL' || 
                       			 	webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || 
                       			 	webSettings.allowDiscountDisplay=='*ALL_PRICE')">
										<span class="percent-sold"> <a
											href="javascript:void(0);"
											ng-show="webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE'"
											ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}"
											ng-click="showPriceCalcDlg(row)">{{row.discountPrice}}</a>
									</span>
									</td>
									<td
										ng-show="tableHeaders.discountPercentage && webSettings.isShowPrice && webSettings.allowDiscountDisplay=='*ALL'"
										class="txt_right"><span class="price-product"> <a
											href="javascript:void(0);"
											ng-show="webSettings.allowDiscountDisplay=='*ALL'"
											ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}"
											ng-click="showPriceCalcDlg(row)">
												{{row.discountPercentageText}} </a>
									</span></td>
									<td><span ng-show="isSignedIn && !row.isMatrixBaseItem"
										class="left"> <input ng-model="row.quantity"
											type="text" class="qty-selector"
											ng-class="{ 'error': !row.validQuantity, '' : row.validQuantity}"
											ng-change="checkValidQuantity(row,row.quantity)"
											ng-keyup="$event.keyCode == 13 ? gridViewBuyClicked(row) : null"
											title="{{row.quantityBoxMsg}}" />
									</span></td>
									<td><i class="fa fa-tags fa-2" title="{{'CON_PROMOTIONAL_ITEM' | translate}}"
										ng-show="row.hasPromoP1OrP2 && !hospital"></i> <i
										class="fa fa-h-square fa-2" ng-show="row.sectorCode==2"
										title="{{'CON_HOSPITAL_ITEM' | translate}}"></i></td>
									<td>
										<div class="padd-addcart">
											<button class="addcart-btn btn col-primary-01"
												ng-if="row.itemClass == 1"
												ng-disabled="disableCatalogBuy(row.isBuyingAllowed,row.isMatrixBaseItem)"
												ng-class="{'disabled': row.isBuyingAllowed == false, 'addedInCart':isShopCartItem(row.code)==true , 'buy':isShopCartItem(row.code)==false }"
												ng-click="gridViewBuyClicked(row)">
												<i class="fa fa-inverse fa-cart-arrow-down"></i> <i
													ng-show="isShopCartItem(row.code)"
													title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"
													class="fa fa-inverse fa-check" aria-hidden="true"></i>
											</button>
											
											<button ng-if="row.itemClass == 2" type="button" style="width:80px;margin-right:10px;"
												class="btn btn-info procura-btn" ng-click="showBtbDlg(row)"
												title="{{'COH_PROCURE_THE_ITEM' | translate}}">{{'CON_BTB'
												| translate}}</button>
											<span ng-if="isSignedIn && !row.isMatrixBaseItem"
												ng-show="row.selectedUnitObject != null" class="">
												<div class="store-wishlist">
													<a href="javascript:void(0);"
														ng-click="addItemToCurrentList(row);"
														class="btn-warning btn"><i
														class="fa fa-inverse fa-star"></i></a>
												</div>
											</span> <span ng-show="row.isMatrixBaseItem"> <a href=""
												ng-click="showProductDetail(row.code);">
													{{row.segmentationDesc2}}/{{row.segmentationDesc3}}</a>
											</span> <a href="" ng-show="hasAlternative(row)"
												ng-click="alternativeClicked(row.code);">
												<button class="btn btn-info"
													title="{{'CON_ALTERNATIVES_ITEMS' | translate}}">
													<i class="fa fa-bars" aria-hidden="true"></i>
												</button>
											</a>
										</div>
									</td>
								</tr>
							</tbody>

						</table>
						<!-- ADM-016 END -->
					</div>
				</div>
        </div>

   </div>
</div>
<script>
jQuery(document).ready(function(){
	jQuery('#visuAffix').affix({
	    offset: {
	        top: 200
	    }
	});
});
</script>