<div class="changeCustomer  listview" ng-controller="changeCustomerCtrl">
<p class="head">{{'COH_CHANGE_CUSTOMER'|translate}}</p>
<div class="sep"></div>
<p ng-show="changeCustObj.isChangeCustomerEnabled" class="infowrapper ng-scope ng-binding"><b class="ng-binding">{{'CON_IMPORTANT' | translate}} :</b>{{'TXT_CF_008'| translate}}</p>
 <div class="currentCustomer clr_left">
 <label>{{'CON_CURRENT_CUSTOMER' | translate}}:</label>
 <div class="left">
 <p>{{changeCustObj.deftCust.code}} &nbsp; {{changeCustObj.deftCust.name}} </p>
 <p ng-bind-html="renderHtml(changeCustObj.getDefaultAddressStr())"> </p>
 </div>
 
 </div>
 <div class="new-search clr_left">
  <p class="left" ng-model="isCollapsed" ng-click="isCollapsed = !isCollapsed"> 
   <a ng-class ="{'exp-collapse-arrow': !isCollapsed, 'exp-plus-arrow': isCollapsed}">{{'CON_NEW_SEARCH' | translate}}</a>{{'CON_NEW_SEARCH' | translate}} </p>  
  <div class="sep"></div>
  <div  ng-show="isCollapsed" >
  <!--  -->
		<form class="search-form" role="form" ng-submit="submitFilter()" name="searchForm">
				 <div ng-repeat="filter in changeCustObj.filterList.getFilters()">
					<div ng-show="filter.isEnabled" class="search-form-wrapper">					
						<label for = "filter.filterParam">{{filter.filterName | translate}} :</label> 
						<span ng-show ="!filter.isInputList">							
							<input ng-if= "!filter.numericType" type="text" id= "filter.filterParam" name="filter.filterParam"  ng-model="filter.selectedItems"  />
						</span>
						
						<span ng-show ="filter.isInputList">
						<div class="select-style">
							<select name="" id="filter.filterParam" ng-model="filter.selectedItems" >				
								 	<option ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" ng-repeat="resultperPage in resultPerPageList" ng-selected="changeCustObj.filterList.setResultPerPageListOption(filter,resultperPage)">{{resultperPage}}</option>
							</select> 
							<!-- 
							<select name="" id="filter.filterParam" ng-model="filter.selectedItems" >				
								 <option ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" ng-repeat="resultperPage in resultPerPageList" ng-selected="resultperPage == filter.resultCount">{{resultperPage}}</option>
							</select> 
							 -->
							</div>
						</span>
					
					</div>
				</div>
				<p class="left clr_left errorMsg" ng-show="changeCustObj.filterMsg!=null">{{changeCustObj.filterMsg}}</p> 	
				<div class="submit"><button class="yellowButton right" ng-disabled="changeCustObj.filterList.hasError()">{{'CON_START_SEARCH' | translate}}</button></div>
			</form>
  </div> 
  
 </div> 
 

 <div class="scrollTableTop" id = "result_set"></div>
  <div class="mainCatListScrollTable clr_left left"  >
  <p ng-show="changeCustObj.errorMsg!=null" class="errorMsg">{{changeCustObj.errorMsg}}</p>
    <table class="topItemsTable changeCustomer">
    <thead>
     <tr>
       <th>
        <span>{{'COH_SELECT'|translate}}</span>
      </th>
       
      <th>   
	      <div class="sorting">
	       <span> {{'COH_CHANGE_CUSTOMER'|translate}} </span>
	      </div>  
      </th>
      <th>
      <div class="sorting">
      	  <span class="sortingInnerWrap">       
      	   <a ng-class ="changeCustObj.sort.getAscCSS('CustomerCode')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('CustomerCode')"></a>
	       <a ng-class="changeCustObj.sort.getDescCSS('CustomerCode')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('CustomerCode')"></a>    
	      </span>
       <span> {{'COH_CUSTOMER_NUMBER'|translate}}</span>
       </div>    
      </th>    
       <th>
      <div class="sorting">
      	  <span class="sortingInnerWrap">            
	       <a ng-class ="changeCustObj.sort.getAscCSS('CustomerName')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('CustomerName')"></a>
	       <a ng-class="changeCustObj.sort.getDescCSS('CustomerName')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('CustomerName')"></a>     
	      </span>
        <span>{{'COH_NAME'|translate}} </span>
      </div>      
      </th> 
      <th>
      <div class="sorting">
      	  <span class="sortingInnerWrap">            
	       <a ng-class ="changeCustObj.sort.getAscCSS('CustomerAdd')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('CustomerAdd')"></a>
	       <a ng-class="changeCustObj.sort.getDescCSS('CustomerAdd')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('CustomerAdd')"></a>     
	      </span>
       <span>{{'COH_ADDRESS'|translate}}</span>
      </div>      
      </th>
        
     </tr>
    </thead>
    <tbody>
     <tr ng-repeat="cust in changeCustObj.customerList">
     
      <td><input type="radio" ng-model="changeCustObj.selectedCustCode"  ng-value="cust.code" ng-change="changeCustObj.setCustomerSelected(cust)"></td>
      <td><div class="select-style"><select  ng-model="cust.changeType" ng-options="type.value for type in changeCustObj.typeList" style="width: 100% !important;" ng-change="changeCustObj.selectedCustomer.changeType = cust.changeType">
      		<!--  
      		<option value="{{changeCustObj.CONST_TYPE_SESSION}}" >{{'CON_FOR_THIS_SESSION' | translate}}</option>
      		<option value="{{changeCustObj.CONST_TYPE_DEFAULT}}" >{{'CON_AS_DEFAULT_CUSTOMER' | translate}}</option>
      		-->
      	  </select>
      	  </div>
      </td>
      <td>{{cust.code}}</td>
      <td>{{cust.name}}</td>
      <td>{{changeCustObj.getAddressStr(cust)}} </td>
     </tr>
 	<tr ng-show ="!changeCustObj.dataFound">
		 <td colspan="5">{{changeCustObj.pageLoadMsg}}</td>
	</tr>
    </tbody>
   </table>
   <div class="sep_tbl"></div>
   
  </div>
  <div class="buttonWrapper clr_left right">
   <a class="backButton left" href="" ng-click="goBack()" >{{'CON_BACK' | translate}}   </a>
   <button class="closeCart right"  type="button" ng-disabled="!changeCustObj.isChangeCustomerEnabled || !changeCustObj.isOtherCustSelected "  ng-click="changeCustomer()"> {{'COH_CHANGE_CUSTOMER'|translate}}</button> 
   </div>
   <div class="buttonWrapper clr_left left">
  
  <button href="" class="goFirstArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="getFirstPage();changeCustObj.setCustomerNextPage()" title = "{{'CON_FIRST_PAGE' | translate}}">{{'CON_FIRST_PAGE' | translate}} </button>  
  <button href="" class="previousArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage();changeCustObj.setCustomerNextPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}">{{'CON_PREVIOUS_PAGE' | translate}} </button>
  <button href="" class="nextArrow left" ng-disabled="!changeCustObj.dataFound || !changeCustObj.moreDataArrow"  ng-click="nextPage();changeCustObj.setCustomerNextPage()" title = "{{'CON_NEXT_PAGE' | translate}}">{{'CON_NEXT_PAGE' | translate}} </button>
    
 </div>
  </div>
