<section name="CopyPasteArea" class="copyPasteArea" id="CopyPasteArea">
		<p class="head"> {{'CON_COPY_PASTE' | translate}}    
	    	<a shref="" ng-model="collapsed_copypasteArea1"  ng-click="showCopyPaste()" ng-class = "{'exp-plus-icon': !collapsed_copypasteArea1, 'exp-collapse-icon': collapsed_copypasteArea1}">a</a>
		</p>
		<div class="sepCollapse"></div>
		<div ng-show="collapsed_copypasteArea1" ng-class="section-data">
			<section name="CopyPasteArea" class="copyPasteArea">
					
									
					<div class="informationCon">
						<div class="pasteAreaHead">{{'CON_PASTE_AREA' | translate}} </div>
						<textarea  type="textarea"  rows="5" cols="20" ng-model="copyOrder.orderText" id="row.orderNumber"></textarea>
						<span class="left"> {{'CON_VALUE_DELIMITER' | translate}} : </span>
						<input type="text" class="left value" ng-model="copyOrder.delimeter" maxlength="1" ng-blur = "updateOrderDelimeter(copyOrder.delimeter)"/>
						<span class="left"> {{'CON_DELIVERY_DATE_FORMAT' | translate}} : {{webSettings.defaultDateFormat}}</span>						
						<p class="errorMsg clr_left">{{'TXT_OE_004' | translate}} </p> 
						<p  ng-bind-html="renderHtmlTranslation(' TXT_OE_005_03')" style="clear:both;"></p>
						<p ng-bind-html="renderHtmlTranslation('TXT_OE_005_03')" style="clear:both;"></p>				
						<p ng-bind-html="renderHtmlTranslation('TXT_OE_005_02')"></p>		
						<p class= "left errorMsg">{{copyOrder.getUIErrorKey() | translate : (copyOrder.UIErrorParams) }}</p>			
						
						<div class="buttonWrapper clr_left right">
							<button class="clearAll" value="" name="" type="button"	ng-click="copyOrder.clearOrderText()">{{'CON_CLEARALL' |	translate}}</button>				
							<button class="yellowButton" value="" name="" type="button" 	ng-click="showAddTable(row.orderNumber,copyOrder.orderText);">{{'CON_CONVERT_TO_ORDER_LINES'|	translate}}</button>
						</div>
												
											
					</div>			
		</section>	
		</div>
	</section>
