<div ng-controller = "CartDeliveryPaymentCtrl">
	<div class="row head-cart">
		<div class="col-sm-8">
			<h1>{{'CON_INFORMATION' | translate}}</h1>
		</div>
	</div>
	<div class="row body-cart"> 
		<div class="col-md-3 col-sm-12" ng-if="loadCarOptionClass()">
			<div class="cart-navigation">
				<nav>
					<a href="javascript:void(0);" ng-if="webSettings.showInterruptedCart" ng-click="goInterruptedCart();">{{'CON_INTERRUPTED_CARTS' | translate}}</a>
					<a href="javascript:void(0);" ng-show="currentOrder.temporaryOrderNumber!=null" ng-click="deleteCurrentCart_Click();">{{'CON_DELETE_CART' | translate}}</a>
					<a href="javascript:void(0);" ng-show="!isCartEmpty" ng-click="newCart_Click();">{{'CON_NEW_CART' | translate}}</a>
					<a href="javascript:void(0);" ng-show="isCartEmpty" class="disabled" >{{'CON_NEW_CART' | translate}}</a>
					<a href="javascript:void(0);" ng-click="showDeliveryPaymentInfo();">{{'CON_INFORMATION' | translate}}</a>
		    	</nav>
		  	</div>
		</div>
		<div class="col-md-9 col-sm-12">
			<div class="padd">
				<form action="" method="post">
					<label for="">{{'CON_FREE_TEXT' | translate}}</label>
	                  <textarea rows="3" placeholder="{{'CON_FREE_TEXT' | translate}}..." class="form-control" name="Address" ng-change="changeCalled()" ng-model="CartDeliveryInfo.orderReference.orderText"></textarea>
	                  <div class="row">
	                    <div class="col-sm-4 info-actions">
		                    <div class="alert alert-warning" ng-show="CartDeliveryInfo.UIMessageKey!=null">{{CartDeliveryInfo.UIMessageKey}}</div>
	                    </div>
	                    
	                    <div class="col-sm-8 info-actions">
	                      <button type="button" class="btn btn-block btn-info" ng-click="saveDeliveryInfo(CartDeliveryInfo)"><i aria-hidden="true" class="fa fa-shopping-cart"></i>{{'CON_SAVE' | translate}}</button>
	                      <button type="reset" class="btn btn-block btn-danger"><i aria-hidden="true" class="fa fa-trash"></i>{{'CON_CLEAR' | translate}}</button>
	                      <button type="button" class="btn btn-block btn-success" ng-disabled= "CartDeliveryInfo.lineCount == 0 || reviewOrder" ng-click = "CartDeliveryInfo.updateSelectedAddressInfo();goReviewOrder()"><i aria-hidden="true" class="fa fa-eye"></i>{{'CON_REVIEW_ORDER'  | translate}}</button>
	                     </div>
	                  </div>
				</form>
			</div>
			<div class="footer-checkout clearfix">
	            <div class="goback-section pull-left">
	            	<a href="javascript:void(0);" class="btn btn-info" ng-click="goShoppingCart()">
	            		<i aria-hidden="true" class="fa fa-caret-left"></i>{{'CON_BACK' | translate}}
	            	</a>
	            </div>
	         </div>
		</div>
	</div>
</div>