<div class="editAccount listview" ng-controller="editAccountCtrl">
<div class="checkout-container account-container">
          <h1>{{'CON_EDIT_ACCOUNT' | translate}}</h1>
          <h4>{{'CON_CUSTOMER' |translate}}:<span>{{userAccountData.defaultCustomerName}}</span></h4>
          <div class="user-infos">
            <h2>{{'CON_USER'| translate}}</h2>
            <form ng-submit="" ng-show="dataLoaded" name="editAccountForm">	
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="{{'CON_USER_ID'|translate}}">{{'CON_USER_ID'|translate}}</label><strong>{{userAccountData.userId}}</strong>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="{{'COH_NAME'| translate}}">{{'COH_NAME'| translate}}</label>
                  <input type="text" class="form-control ng-pristine ng-valid" ng-model="userAccountData.userName" >
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="{{'CON_EMAIL_ADDRESS'| translate}}">{{'CON_EMAIL_ADDRESS'| translate}}</label>
                  <input type="email" class="form-control" ng-model="userAccountData.userEmail" autofocus ng-mouseleave = "editAccountForm.$valid" ng-blur="editAccountForm.$valid" ng-keyup ="userAccountData.startShowError = true" ng-class ="{ 'error': !editAccountForm.$valid, '' :  editAccountForm.$valid }" required>
                </div>
                <button type="button" class="btn btn-primary pull-right" ng-disabled= "!editAccountForm.$valid" ng-click="saveUserData()">{{'CON_EDIT_USER' | translate}}</button>
              </div>
            </div>
            </form>
          </div>
          <div class="addresses-infos">
            <h2>{{'COH_ADDRESS' | translate }}</h2>
            <table class="table-addresses-account">
              <thead>
                <tr>
                  <th>{{'COH_ADDRESS' | translate }}</th>
                  <th>{{'CON_CONFIRMATION_ADDRESS' | translate }}</th>
                  <th>{{'CON_DELIVERY_ADDRESS' | translate }}</th>
                  <th>{{'CON_INVOICE_ADDRESS' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in userAccountData.BusinessPartnerAddressList">
                  <td>
                    <h6>{{row.name}}</h6>
                  </td>
                  <td>
                  		<i class="fa fa-check-circle-o" ng-show="userAccountData.isUserAddressExists(row.addressTypeList,'CON_CONFIRMATION_ADDRESS')"></i>
                  		<i class="fa fa-exclamation-triangle" ng-show="!userAccountData.isUserAddressExists(row.addressTypeList,'CON_CONFIRMATION_ADDRESS')"></i>
                  		<i class="fa fa-asterisk verysmall-icon" aria-hidden="true" ng-show="userAccountData.isdefaultAddress(row.addressTypeList,'CON_CONFIRMATION_ADDRESS')"></i>
                  </td>
                  <td>
                  		<i class="fa fa-check-circle-o" ng-show="userAccountData.isUserAddressExists(row.addressTypeList,'CON_DELIVERY_ADDRESS')"></i>
                  		<i class="fa fa-exclamation-triangle" ng-show="!userAccountData.isUserAddressExists(row.addressTypeList,'CON_DELIVERY_ADDRESS')"></i>
                  		<i class="fa fa-asterisk verysmall-icon" aria-hidden="true" ng-show="userAccountData.isdefaultAddress(row.addressTypeList,'CON_DELIVERY_ADDRESS')"></i>
                  </td>
                  <!-- td><i class="fa fa-exclamation-triangle"></i></td -->
                  <td>
                  		<i class="fa fa-check-circle-o" ng-show="userAccountData.isUserAddressExists(row.addressTypeList,'CON_INVOICE_ADDRESS')"></i>
                  		<i class="fa fa-exclamation-triangle" ng-show="!userAccountData.isUserAddressExists(row.addressTypeList,'CON_INVOICE_ADDRESS')"></i>
                  		<i class="fa fa-asterisk verysmall-icon" aria-hidden="true" ng-show="userAccountData.isdefaultAddress(row.addressTypeList,'CON_INVOICE_ADDRESS')"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- div class="changeAddress clr_both">	
		<p ng-model="isCollapsed_address" ng-click="isCollapsed_address = !isCollapsed_address">{{'COH_ADDRESS' | translate }} <a ng-class ="{'exp-collapse-arrow': !isCollapsed_address, 'exp-plus-arrow': isCollapsed_address}">&nbsp;</a> </p>
		<div class="sep"></div>
		<div ng-show="isCollapsed_address">			
			
			<table>
			<thead class="editAccountAddress">
				<tr>
					<th ng-click="" >{{'COH_ADDRESS' | translate }}</th>
					<th ng-click=""> {{'CON_CONFIRMATION_ADDRESS' | translate }}</th>
					<th ng-click=""> {{'CON_DELIVERY_ADDRESS' | translate }}</th>				
					<th ng-click=""> {{'CON_INVOICE_ADDRESS' | translate }}</th>				
				</tr>
			 </thead>
			<tbody>
			        <tr ng-repeat="row in userAccountData.BusinessPartnerAddressList" >
			            <td> {{row.name}}</td>	
			           <td  ng-class="{'checkIcon': userAccountData.isUserAddressExists(row.addressTypeList,'CON_CONFIRMATION_ADDRESS'), '':!userAccountData.isUserAddressExists(row.addressTypeList,'CON_CONFIRMATION_ADDRESS') }"> 
			           		<span ng-show="userAccountData.isdefaultAddress(row.addressTypeList,'CON_CONFIRMATION_ADDRESS')" class="defaultType">*</span></td>	
					   <td  ng-class="{'checkIcon': userAccountData.isUserAddressExists(row.addressTypeList,'CON_DELIVERY_ADDRESS'), '':!userAccountData.isUserAddressExists(row.addressTypeList,'CON_DELIVERY_ADDRESS') }">
					   <span ng-show="userAccountData.isdefaultAddress(row.addressTypeList,'CON_DELIVERY_ADDRESS')" class="defaultType">*</span></td>
					   <td  ng-class="{'checkIcon': userAccountData.isUserAddressExists(row.addressTypeList,'CON_INVOICE_ADDRESS'), '':!userAccountData.isUserAddressExists(row.addressTypeList,'CON_INVOICE_ADDRESS') }"> 
					  <span ng-show="userAccountData.isdefaultAddress(row.addressTypeList,'CON_INVOICE_ADDRESS')" class="defaultType">*</span></td>
						
			        </tr>
			
			 </tbody>
		</table>	
		<label ng-show="defaultAddressType">* {{'MSG_DENOTES_ADDR_TYPE_DEFAULT' | translate}}</label>
		</div>
	</div>

	<div class="paymentMethod clr_both">	
		<p ng-model="isCollapsed_payment" ng-click="isCollapsed_payment = !isCollapsed_payment">{{'CON_PAYMENT_METHOD'|translate}}  <a ng-class ="{'exp-collapse-arrow': !isCollapsed_payment, 'exp-plus-arrow': isCollapsed_payment}">&nbsp;</a> </p>
		<div class="sep"></div>
		<div ng-show="isCollapsed_payment">
		<label class="defaultPaymentMethod">{{userAccountData.defaultPayment | translate}}</label>		
		</div>
	</div-->



</div>