<span class="userDetails"> {{user}}  </span>
<div ng-show="spForBulkExists" ng-controller="catHomeCtrl" class="homeCatalogWrapper">
  	<div ui-view="bannerView"></div>
 	<div ui-view="bestOfferView"></div>
	<div ui-view="mostPolpularView"></div>
	<div class="bar" ng-show="isLoggedIn()">
	<p class="head" >{{homeCatalogue.description}}</p>		
		<!-- <a class="list" ui-sref=".homeCatalogTable" >Table View</a>  --> 
		<div class="rightWithPadding">
		<span class=""> <a href="" ng-click="compare();"  ng-class = "{'compareShowDisabled':(SelectedProductList.length > 1 && !isCompareProductShowDisable),'compare': (SelectedProductList.length > 1 && isCompareProductShowDisable), 'compare_disabled': 
(SelectedProductList.length < 2)}" >{{'COH_COMPARE' | translate}}</a>	
	</span>
	<span class="">{{'COH_VIEW' | translate}}</span>
		<span ng-if="!isList" >
			<a class="GridSelected" href="" ></a>&nbsp;<a class="TableView" ng-click="changeView();" href="" ></a>
		</span>
		<span ng-if="isList">
		<a class="GridView" href=""  ng-click="changeView();"></a>&nbsp;<a class="TableSelected" href="" ></a>
		</span>
			
		</div>
		<!--<a ng-class ="{'list': isList, 'grid': !isList}" href="" ng-click="changeView();">{{ViewLabelName}}</a>-->
		<!-- <a class="grid" ui-sref=".homeCatalogGrid" >Grid View</a>-->

<!-- ADM-010 --><!-- ADM-023
<div ng-if="webSettings.allowSelectUnitOfMeasure">
	<span class"">Acquista in:</span>
  	<span>
  		<input type="radio" ng-model="freeSearchObj.packPiece" value="CF">Confezioni
  	</span>
	<span>
		<input type="radio" ng-model="freeSearchObj.packPiece" value="PZ">Pezzi &nbsp;
	</span>
</div>-->
<!-- ADM-010 end -->

	
	
	</div>
	
 <div ui-view="catalogView" class="catalogView"></div>
</div>
