<div ng-show="spForBulkExists" ng-controller="catHomeCtrl" class="homeCatalogWrapper">
  	<div ui-view="bannerView"></div>
  	<div class="top-selectors" ng-show="isLoggedIn()">
        <div class="head-catalog" id="visuAffix">
          <div class="row">
            <div class="col-sm-4">
              <h2>{{homeCatalogue.description}}</h2>
            </div>
            <div class="col-sm-5 text-right">
	            <div class="visu-type acq-type" ng-if="webSettings.allowSelectUnitOfMeasure && isLoggedIn()">
                   		<label>Acquista in:</label>
                      <label>
				  		<input type="radio" ng-model="freeSearchObj.packPiece" value="CF" ng-change="setTipoVendita('CF')">Confezioni
				  	</label>
                      <label>
						<input type="radio" ng-model="freeSearchObj.packPiece" value="PZ" ng-change="setTipoVendita('PZ')">Pezzi &nbsp;
					</label>
                </div>
                </div>
                <div class="col-sm-3 text-right">
              <div class="catalog-view-controls">
              	<span class="label-actions">Vista</span>
              </div>
              <ul role="tablist" class="nav nav-tabs"> 
                <li role="presentation" class="active"> 
                	<a aria-controls="visGrid" role="tab" data-toggle="tab" href="#homeCatalogGrid" class="catalog-view-grid">
                		<i class="fa fa-th"></i>
                	</a>
                </li>
                <li role="presentation"> 
                	<a aria-controls="visList" role="tab" data-toggle="tab" href="#homeCatalogList" class="catalog-view-list">
                		<i class="fa fa-th-list"></i>
                	</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div> 
	<div class="catalog-hp" ng-show="isLoggedIn()">  
        <div class="tab-content">
  			<div ui-view="catalogView" class="catalogView"></div>
      	</div>
	</div>
</div>

<script>
jQuery(document).ready(function(){
	jQuery('#visuAffix').affix({
	    offset: {
	        top: 500
	    }
	});
});
</script>