<div class="row head-cart">
	<div class="col-sm-8">
		<h1>{{'CON_INTERRUPTED_CARTS' | translate}}</h1>
	</div>
</div>
<div class="row body-cart"> 
	<div class="col-sm-3" ng-if="loadCarOptionClass()">
		<div class="cart-navigation">
			<nav>
				<a href="javascript:void(0);" class="active" ng-if="webSettings.showInterruptedCart" ng-click="goInterruptedCart();">{{'CON_INTERRUPTED_CARTS' | translate}}</a>
				<a href="javascript:void(0);" ng-show="currentOrder.temporaryOrderNumber!=null" ng-click="deleteCurrentCart_Click();">{{'CON_DELETE_CART' | translate}}</a>
				<a href="javascript:void(0);" ng-show="!isCartEmpty" ng-click="newCart_Click();">{{'CON_NEW_CART' | translate}}</a>
				<a href="javascript:void(0);" ng-show="isCartEmpty" class="disabled" >{{'CON_NEW_CART' | translate}}</a>
				<a href="javascript:void(0);" ng-click="showDeliveryPaymentInfo();">{{'CON_INFORMATION' | translate}}</a>
	    	</nav>
	  	</div>
	</div>
	<div class="col-sm-9">
		<div class="padd">
			<div class="alert alert-warning">
		    	{{"TXT_CLICK_NTERRUPT_CART_ICON_01" | translate }} <i aria-hidden="true" class="fa fa-cart-arrow-down"></i> {{"TXT_CLICK_NTERRUPT_CART_ICON_02" | translate }}
			</div>
			<div class="orders-table">
				<table class="table table-striped table-hover table-orders" ng-hide="isInterruptedCartEmpty">
					<thead>
					<tr>
						<th>{{'CON_SELECT' | translate}}</th>
						<th>{{'COH_ACTIONS' | translate}}</th>
						<th>{{'CON_ORDER' | translate}}</th>
						<th>{{'COH_DATE' | translate}}</th>
						<th>{{'CON_VALUE' | translate}}</th>
						<th>{{'COH_LINES' | translate}}</th>
						<th>{{'COH_IN_USE' | translate}}</th>
					</tr>
					</thead>
					<tbody>			
						<tr ng-repeat="cart in interruptedCarts">
							<td><input ng-model="cart.checked" type="checkbox"></input></td>
							<td><a  href="" ng-click="editCart(cart)"><i aria-hidden="true" class="fa fa-cart-arrow-down"></i> </a> <span ng-show="cart.showWarning || cart.inUse"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span></td>
							<td> {{cart.orderNumber}}</td>
							<td> {{cart.date}}</td>
							<td> {{cart.value}} {{cart.currencyCode}}</td>
							<td> {{cart.lineCount}}</td>
							<td> {{cart.inUse}}</td>
						</tr>								
					</tbody>
				</table>
			</div>
			<div class="ac-actions">
               <button ng-hide="isInterruptedCartEmpty" type="button" ng-model="selectAll" ng-init="selectAll=true" class="btn btn-block btn-info" ng-click="toggleSelectAll(selectAll)"><i aria-hidden="true" class="fa fa-check"></i>{{'CON_SELECT_ALL' | translate}}</button>
               <button type="button" class="btn btn-block btn-danger" title="{{'CON_DELETE'|translate}}" ng-hide="isInterruptedCartEmpty" ng-click="deleteInterruptedCarts()"><i aria-hidden="true" class="fa fa-trash"></i>{{'CON_DELETE_CARTS' | translate}}</button>
             </div>
		</div>
		<p>&nbsp;</p>
		<p class="bg-info">
			<span ng-bind-html="getTranslatedHTML('TXT_OE_002_01')"></span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <span ng-bind-html="getTranslatedHTML('TXT_OE_002_02')"></span>
			<span ng-bind-html="getTranslatedHTML('TXT_OE_002_03')"></span>
			<span ng-bind-html="getTranslatedHTML('TXT_OE_002_04')"></span>
			<span ng-bind-html="getTranslatedHTML('TXT_OE_002_05')"></span>
			<span ng-bind-html="getTranslatedHTML('TXT_OE_002_06')"></span>
		</p>
		<div class="footer-checkout clearfix">
            <div class="goback-section pull-left">
            	<a href="javascript:void(0);" class="btn btn-info" ng-click="goShoppingCart()">
            		<i aria-hidden="true" class="fa fa-caret-left"></i>{{'CON_BACK' | translate}}
            	</a>
            </div>
         </div>
	</div>
</div>