<div class="listview invoiceDetailPage" ng-controller="invoiceDetailCtrl">
<div class="checkout-container invoice-container">
          <div class="cnt-back-action">
          	<a href="javascript:void(0)" class="goback-btn btn btn-primary" ng-click="goBack()" >
          		<i class="fa fa-arrow-circle-o-left"></i>
          		<span>{{'CON_BACK' | translate}}</span>
          	</a>
          </div>
          <div class="row">
	          <div class="col-sm-8">
		          <h1>{{'INVOICE_DETAILS' | translate }}</h1>
		          <div class="invoice-number">{{'INVOICE_NUMBER_N' | translate}} {{invoiceDetails.invoiceNumber}}</div>
	          </div>
	          <div class="col-sm-4 pull-right">
	          		<button type="button" class="btn btn-block btn-info" title="{{'DOWNLOAD_INVOICE_DETAIL' | translate}}" ng-show="webSettings.allowInvoiceDownload && invoiceDetails.pdfFile != ''" ng-click="exportInvoiceLineTableAsPDF();">
		              	<i aria-hidden="true" class="fa fa-download"> </i> {{'DOWNLOAD_INVOICE_DETAIL' | translate}} 
		            </button>
		            
	          		<!-- a href="" class="right" ng-show="webSettings.allowInvoiceDownload && invoiceDetails.pdfFile != ''" title="{{'CON_INVOICE_DETAIL_PDF' | translate}}"> <img ng-src="./images/PDF.png" ng-click="exportInvoiceLineTableAsPDF();" /> </a-->
	          </div>
          </div>
          <div class="orders-table">
            <table class="table table-striped table-hover table-orders">
              <thead>
                <tr>
                  <th>{{'CON_LINE' | translate }}</th>
                  <th>{{'COH_ITEM' | translate }}</th>
                  <th>{{'COH_DESCRIPTION' | translate }}</th>
                  <th>{{'CON_PRICE' | translate}} {{currency}}</th>
                  <th>{{'COH_QUANTITY' | translate}}</th>
                  <th>{{'CON_VALUE' | translate}} {{currency}}</th>
                  <th>{{'COH_UNIT' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in invoiceLineData">
                  <td>{{row.invoiceLineNumber}}</td>
                  <!--td><h4><a href="" ng-click="showInvoiceLineDetail(row);">{{row.invoiceLineNumber}}</a></h4></td-->
                  <td><h4><a href="" ng-click="showProductDetail(row.item);">{{row.item}} </a></h4></td>
                  <td><h4><a href="" ng-click="showProductDetail(row.item);">{{row.itemDescription}}</a></h4></td>
                  <td ng-show="isColExist('salesPrice',propertyList)">{{row.salesPrice}} </td>
                  <td>{{row.quantity}}</td>
                  <td ng-show="isColExist('amount',propertyList)">{{row.amount}}</td>
                  <td>{{row.unit}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <div class="advanced-search accord-invoices">
            <div class="panel panel-default">
              <button type="button" data-toggle="collapse" data-target="#invoiceInfo" class="button-search collapsed"><span>{{'CON_BASIC_INFORMATION' | translate}}</span></button>
              <div id="invoiceInfo" aria-expanded="true" class="collapse">
                <div class="panel-body">
                  <table>
                    <tbody>
                    <tr>
                    	<td>{{'COH_CUSTOMER' | translate}}</td>
                    	<td>{{invoiceDetails.customerCode}}</td>
                    	<td>{{invoiceDetails.customerDesc}}</td>
                    </tr>
					<tr>
						<td>{{'CON_DOCUMENT_DATE' | translate}}</td>
						<td>{{invoiceDetails.documentDate | date:'dd/MM/yyyy'}}</td>
					</tr>
					<tr>
						<td>{{'COH_CURRENCY' | translate}}</td>
						<td>{{invoiceDetails.primeCurrency}}</td>
					</tr>
					<tr>
						<td ng-show="isColExist('amountExcludingVAT',invoiceDetailsPropList)" > {{'CON_INVOICE_VALUE_EXCLUDING_VAT' | translate}}</td>
						<td ng-show="isColExist('amountExcludingVAT',invoiceDetailsPropList)"> {{invoiceDetails.amountExcludingVAT}}</td>
					</tr>
					<tr>
						<td ng-show="isColExist('amountIncludingVAT',invoiceDetailsPropList)"> {{'CON_INVOICE_VALUE_INCLUDING_VAT' | translate}}</td>
						<td ng-show="isColExist('amountIncludingVAT',invoiceDetailsPropList)"> {{invoiceDetails.amountIncludingVAT}}</td>
					</tr>
			
					<tr ng-show="isColExist('motCode',invoiceDetailsPropList) || isColExist('motDesc',invoiceDetailsPropList) ">
						<td>{{'CON_MANNER_OF_TRANSPORT' | translate}}</td> 
						<td> {{invoiceDetails.motCode}}</td>
						<td> {{invoiceDetails.motDesc}}</td>
					</tr>
					<tr ng-show="isColExist('todCode',invoiceDetailsPropList) || isColExist('todDesc',invoiceDetailsPropList) ">
						<td>{{'CON_TERMS_OF_DELIVERY' | translate}}</td> 
						<td> {{invoiceDetails.todCode}}</td>
						<td> {{invoiceDetails.todDesc}}</td>
					</tr>
					<tr ng-show="isColExist('topCode',invoiceDetailsPropList) || isColExist('topDesc',invoiceDetailsPropList) ">
						<td> {{'CON_TERMS_OF_PAYMENT' | translate}}</td> 
						<td> {{invoiceDetails.topCode}}</td>
						<td> {{invoiceDetails.topDesc}}</td>
					</tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          
          <div class="advanced-search accord-invoices">
            <div class="panel panel-default">
              <button type="button" data-toggle="collapse" data-target="#indirizzi" class="button-search collapsed"><span>{{'COH_ADDRESS' | translate}}</span></button>
              <div id="indirizzi" aria-expanded="true" class="collapse">
                <div class="panel-body">
                	<div class="addresses-blocks row">
	                    <div class="col-sm-6">
	                      <div class="padd">
	                        <h5>{{'CON_INVOICE_ADDRESS' | translate}}</h5>
	                        <p ng-bind-html="renderHtml(invoiceDetails.address)"></p>
	                      </div>
	                    </div>
	                    <div class="col-sm-6">
	                      <div class="padd">
	                        
	                      </div>
	                    </div>
	                </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="advanced-search accord-invoices">
            <div class="panel panel-default">
              <button type="button" data-toggle="collapse" data-target="#riferimentiOrdine" class="button-search collapsed"><span>{{'CON_ORDER_REFERENCES' | translate}}</span></button>
              <div id="riferimentiOrdine" aria-expanded="true" class="collapse">
                <div class="panel-body">
					<table>
	                    <tbody>
		                    <tr>
			                    <td>{{'CON_ORDER_NUMBER' | translate}}</td>
			                    <td>{{invoiceDetails.orderNumber}}</td> 
			               	</tr>
							<tr>
			                    <td>{{'COH_ORDER_DATE' | translate}}</td>
			                    <td>{{invoiceDetails.orderDate | date:'dd/MM/yyyy'}}</td>
		                    </tr>				
							<!-- tr>
								<td>{{'CON_HANDLER' | translate}}</td>
								<td> {{invoiceDetails.handlerCode}}</td>
								<td>{{invoiceDetails.handlerDesc}}</td>
							</tr-->
							
							<!-- tr>
								<td>{{'CON_SALES_PERSON' | translate}}</td>
								<td>{{invoiceDetails.salespersonCode}}</td>
								<td>{{invoiceDetails.salespersonDesc}}</td>
							</tr-->
							
							<tr ng-show="isColExist('orderReference',invoiceDetailsPropList)">
								<td>{{'CON_ORDER_REFERENCES' | translate}}</td>
								<td>{{invoiceDetails.orderReference}}</td>
							</tr>
							<!--  tr ng-show="isColExist('yourReference',invoiceDetailsPropList)">
								<td>{{'COH_YOUR_REFERENCE' | translate}}</td>
								<td>{{invoiceDetails.yourReference}}</td>
							</tr-->
	                    </tbody>
	            	</table>
				</div>
              </div>
            </div>
          </div>
        </div>
</div>