<div class="listview invoiceDetailPage" ng-controller="invoiceLineDetailCtrl">
	<div class="page-heading"> 
	<span class="order-info">{{'CON_INVOICE_LINE_DETAIL' | translate}}</span> 
	<div class="order-details">	 
		<label>{{'CON_DOCUMENT_TYPE' | translate}} : </label>
		<span class="section-value">{{invoiceData.documentType}}</span>
		<label>{{'CON_INVOICE_NUMBER' | translate }} : </label>
		<span class="section-value">{{invoiceData.invoiceNumber}}</span>
		<label>{{'COH_LINE' | translate}} : </label><span class="section-value">{{invoiceLine.invoiceLineNumber}}</span>
	</div>
	</div>
	<div class="sep"></div>


	<section name="basicInformation">
		<p class="clr_left"> {{'CON_BASIC_INFORMATION' | translate }} 
			<a shref="" ng-model="collapsed_basicInformation" 
			ng-click="collapsed_basicInformation=!collapsed_basicInformation" ng-class="{'exp-plus-icon': collapsed_basicInformation, 'exp-collapse-icon': !collapsed_basicInformation}">a</a>
		</p>
		<div class="sep"></div>
		
		<div ng-show="!collapsed_basicInformation" ng-class="section-data">
			<table class="invoice-detail-table">
				<tr>
					<td>{{'COH_PRODUCT' | translate}}:</td>
					<td class="section-value"><a href="" ng-click="showProductDetail(invoiceLine.item);" >{{invoiceLine.item}} - {{invoiceLine.itemDescription}}</a></td>
					<td class="section-value"> &nbsp;</td>
					<td colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td>{{'CON_WAREHOUSE' | translate}}:</td>
					<td class="section-value">{{invoiceLine.warehouseDesc}}</td>
					<td colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td>{{'CON_UNIT' | translate}}:</td>
					<td class="section-value">{{invoiceLine.unit}}</td>
					<td colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td>{{'CON_INVOICE_QUANTITY' | translate}}:</td>
					<td class="section-value">{{invoiceLine.quantity}}</td>
					<td colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td>{{'CON_TOTAL_EXCLUDING_VAT' | translate}}:</td>
					<td class="section-value">{{invoiceLine.amountExcludingVAT}}</td>
					<td colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td>{{'CON_VAT' | translate}}:</td>
					<td class="section-value">{{invoiceLine.VATAmount}}</td>
					<td colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td>{{'CON_TOTAL_INCLUDING_VAT' | translate}}:</td>
					<td class="section-value">{{invoiceLine.amountIncludingVAT}}</td>
					<td colspan="3">&nbsp;</td>
				</tr>

			</table>
		</div>
	</section>

	<section name="ShipmentInformation">
		<p> {{'CON_SHIPMENT_INFORMATION' | translate}}
		 	<a shref="" ng-model="collapsed_shipmentInformation"
				ng-click="collapsed_shipmentInformation=!collapsed_shipmentInformation" ng-class="{'exp-plus-icon': !collapsed_shipmentInformation, 'exp-collapse-icon': collapsed_shipmentInformation}">a</a>
		</p>
		<div class="sep"></div>
		
		<div ng-show="collapsed_shipmentInformation" ng-class="section-data">
			<table class="invoice-detail-table">
				<tr>
					<td style="width:26%;">{{'CON_REQUESTED_DELIVERY_TIME' | translate}}:</td>
						<td class="section-value" colspan="3">{{invoiceLine.requestedDeliveryTime}}</td>
				
				</tr>
				<tr>
					<td>{{'CON_DELIVERY_TIME' | translate}}:</td>
						<td class="section-value" colspan="3">{{invoiceLine.deliveryTime}}</td>
				
				</tr>
				<tr>
					<td>{{'COH_GOODS_MARKING' | translate}}:</td>
						<td class="section-value" colspan="3">{{invoiceLine.shipmentMarking}}</td>
				
				</tr>
				<tr>
					<td>{{'CON_FREE_OF_CHARGE' | translate}}:</td>
					<td class="section-value" colspan="3">{{invoiceLine.freeOfCharge}}</td>
					
				</tr>
				<tr>
					<td>{{'CON_SERIAL_NUMBER_TRACKING' | translate}}:</td>
					<td class="section-value" colspan="3">{{invoiceLine.serialNumberTracking}}</td>
					
				</tr>
			</table>
		</div>
	</section>
	<div class="buttonWrapper clr_left right">
			<a class="backButton left" href="" ng-click="goBack()" >{{'CON_BACK' | translate}}   </a>
   	
	</div>
</div>