<div class="listview invoicePage" ng-controller="invoiceHistoryCtrl">
	<div class="checkout-container invoice-container">
          <div class="cnt-back-action">
          	<a href="javascript:void(0)" class="goback-btn btn btn-primary" ng-click="goBack()" ><i class="fa fa-arrow-circle-o-left"></i><span>{{'CON_BACK' | translate}}</span></a></div>
          <h1>{{'CON_INVOICE_SEARCH' | translate}}</h1>
          <div class="advanced-search">
            <div class="panel panel-default">
              <button type="button" data-toggle="collapse" data-target="#advSearch" class="button-search collapsed"><span>{{'CON_NEW_SEARCH' | translate}}</span></button>
              <div id="advSearch" aria-expanded="true" class="collapse">
                <div class="panel-body">
                  <div class="row">
                    <form class="search-form" role="form" ng-submit="submitFilter()" name="searchForm">
						 <div ng-repeat="filter in filterList.getFilters()">
							<div ng-show="filter.isEnabled">
								<div class="col-sm-4">
                      				<div class="form-group">					
										<label for = "filter.filterParam">{{filter.filterName | translate}}</label> 
										<span ng-show ="filter.isInputList">
											<div class="select-style">
												<select ng-if= "filter.filterName != 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems" ng-options="item.code as item.description for item in filter.dataList"  class="form-control">	
												</select>
												<select ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems" class="form-control">
													<option ng-repeat="resultperPage in resultPerPageList" >{{resultperPage}}</option> 
												</select> 							
											</div>
										</span>
										<span ng-show ="!filter.isInputList">						
											<input ng-if= "filter.numericType" type="text" id= "filter.filterParam" 
											name="filter.filterParam" ng-model="filter.selectedItems" 
											ng-blur ="validateNumber(filter,filter.selectedItems)" ng-mouseleave="validateNumber(filter,filter.selectedItems)" class="form-control"/> 
										<span ng-if= "filter.numericType"><p class="validationMsg ValidationMsgOrder">  {{filter.validationMsg}} </p> </span>
											<input ng-if= "!filter.numericType" type="text" id= "filter.filterParam" name="filter.filterParam"  ng-model="filter.selectedItems"  class="form-control"/>
										</span>
									</div>
								</div>
							</div>
						</div> 	
						<div class="col-sm-12 actions-buttons text-right">
							<button type="submit" class="btn btn-block btn-primary" ng-disabled="isFilterHasError(filterList.getFilters())">{{'CON_START_SEARCH' | translate}}</button>
						</div>
					</form>
					<p class="" ng-bind-html="renderHtml(filterMsg)"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="orders-table">
            <table class="table table-striped table-hover table-orders">
              <thead>
                <tr>
                  <th>{{'CON_INVOICE' | translate}}</th>
                  <th>{{'CON_ORDER' | translate}}</th>
                  <th>{{headingAmount}}</th>
                  <th>{{'COH_INVOICE_CUSTOMER' | translate}}</th>
                  <th>{{'COH_DOCUMENT_DATE' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in invoiceData">
                	<td><h4><a href="javascript:void(0);" ng-click="showInvoiceDetail(row);">{{row.invoiceNumber}}</a></h4></td>
                	<td>
						<span ng-show="row.mergeInvoiceFlag">
							<a shref="" title="{{'MSG_MERGED_INVOICE' | translate }}" >
								<img ng-src="./images/MergeInvoices.png">
							</a>
						</span>
						<h4 ng-show="!row.mergeInvoiceFlag">
							<a href="javascript:void(0);" ng-click="showOrderDetail(row)">{{row.orderNumber}}</a>
						</h4>  
					</td>	
					<td>{{row.amount}}</td>	
					<td ng-show="isColExist('invoiceCustomer',propertyList)">{{row.invoiceCustomer}}</td>	
					<td>{{row.invoiceDate | date:'dd/MM/yyyy'}}</td>             
                </tr>
                <tr ng-show ="!dataFound">
					<td colspan="8">{{pageLoadMsg}}</td>
				</tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="pager">
          <div class="pager-indicators">
          	<!-- span class="actual-page">1</span><span class="separator-pages">/</span><span class="total-pages">3</span-->
            <button class="btn btn-grey" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}"><i aria-hidden="true" class="fa fa-caret-left"></i></button>
            <button class="btn btn-grey" ng-disabled="!dataFound || !moreDataArrow"  ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}"><i aria-hidden="true" class="fa fa-caret-right"></i></button>
            <!-- div class="seealls"><a href="#" class="btn btn-link">Vedi tutti</a></div -->
          </div>
        </div>
</div>
