<div class="mainCatWrapper">
	
	<div class="bar">
	<p class="head">{{ 'CON_CATALOGUE' | translate }} : {{mainCatalogElementDesc}}</p>
	<div class="rightWithPadding">
	<span class=""> <a href="" ng-click="compare();"  ng-class = "{'compareShowDisabled':(SelectedProductList.length > 1 && !isCompareProductShowDisable),'compare':(SelectedProductList.length > 1 && isCompareProductShowDisable), 'compare_disabled': 
(SelectedProductList.length < 2)}" >{{'COH_COMPARE' | translate}}</a>
	</span>
	<span class="">{{'COH_VIEW' | translate}}</span>
		<span ng-if="!isList" >
			<a class="GridSelected" href="" ></a>&nbsp;<a class="TableView" ng-click="changeView();" href="" ></a>
		</span>
		<span ng-if="isList">
		<a class="GridView" href=""  ng-click="changeView();"></a>&nbsp;<a class="TableSelected" href="" ></a>
		</span>
	</div>
		<!--<a ng-class ="{'list': isList, 'grid': !isList}" href="" ng-click="changeView();">{{ViewLabelName}}</a>-->
		
	</div>
	
	<div ui-view="catalogView" class="catalogView"></div>
</div>

<div>
	<!-- ADM-026 
	<div ng-class="{'leftMenuCollapseView':filterPanelCollapsed,'leftMenuExpandView':!filterPanelCollapsed}" style="float:left;"> -->
	<div ng-hide="true" ng-class="{'leftMenuCollapseView':filterPanelCollapsed,'leftMenuExpandView':!filterPanelCollapsed}" style="float:left;">
	<!-- ADM-026 -->
	   	  <div id="hdr01" ng-class="{'hdr01Collapse':filterPanelCollapsed,'hdr01Expand':!filterPanelCollapsed}" ng-click="filterPanelCollapsed=!filterPanelCollapsed">
    <a id="ankl00_01" title="Search" class="hdr01">
      <img id="ctl00_01" src="images/searchFilertersIcon.png" style="border: 0; float: left; height:25px; margin: 4px" />
      <span id="sp100_01" ng-hide="filterPanelCollapsed">{{'CON_REFINE_SEARCH' | translate}} </span>
      <img id="ctl00_02" ng-hide="filterPanelCollapsed" src="images/panelCollapseIcon.png" style="border: 0; float: left; margin: 4px" />

    </a>
  </div>
	
	<section id="filters" ng-hide="filterPanelCollapsed" ng-if="FilterList.getFilters().length>1">
	<form class="search-form" role="form" ng-submit="submitMainCatlogFilter();" name="searchForm" >
		
		<div class="searchFields left" >	
	
<!-- 	<button class="yellowButton  right">{{'CON_SEARCH' | translate}}</button> -->
	</div>	
		
		<div data-ng-repeat="FilterItem in FilterList.getFilters()" class="filters-wrapper">
			
			<div ng-show ="FilterItem.isEnabled">
			<div class="sep"></div>
				<a shref="" ng-model="collapsed" ng-click="collapsed=!collapsed" ng-class="{'exp-plus-icon': !collapsed, 'exp-collapse-icon': collapsed}">a</a>
			<p class="filter-name">{{FilterItem.filterName | translate}}</p>
			<fieldset class="filters" ng-show="collapsed">
				<br />
				<p ng-if="webSettings.showNumberOfItemsInFilter" data-ng-repeat="filterValueList in FilterItem.dataList">
					<label ng-if =" filterValueList.count != null" title="{{filterValueList.desc}}   ({{filterValueList.count}})">
						<!-- <input type="radio" ng-model="filterFormInfo[FilterItem.filterParam]" value="{{filterValueList.code}}"> {{filterValueList.desc}} -->
						<input type="radio" ng-model="FilterItem.selectedItems" ng-value="filterValueList" value="{{filterValueList}}" ng-checked="filterValueList.code ==FilterItem.selectedItems.code " ng-change="submitMainCatlogFilter();" id="filterValueList.code"> {{filterValueList.desc}}   ({{filterValueList.count}}) 
						</label>
					<label ng-if =" filterValueList.count == null" title="{{filterValueList.desc}}">
						<!-- <input type="radio" ng-model="filterFormInfo[FilterItem.filterParam]" value="{{filterValueList.code}}"> {{filterValueList.desc}} -->
						<input type="radio" ng-model="FilterItem.selectedItems" ng-value="filterValueList" value="{{filterValueList}}" ng-checked="filterValueList.code ==FilterItem.selectedItems.code " ng-change="submitMainCatlogFilter();" id="filterValueList.code"> {{filterValueList.desc}}
						</label>
				</p>
				<p ng-if="!webSettings.showNumberOfItemsInFilter" data-ng-repeat="filterValueList in FilterItem.dataList">
					<label title="{{filterValueList.desc}}">
						<!-- <input type="radio" ng-model="filterFormInfo[FilterItem.filterParam]" value="{{filterValueList.code}}"> {{filterValueList.desc}} -->
						<input type="radio" ng-model="FilterItem.selectedItems" ng-value="filterValueList" value="{{filterValueList}}" ng-checked="filterValueList.code ==FilterItem.selectedItems.code " ng-change="submitMainCatlogFilter();" id="filterValueList.code"> {{filterValueList.desc}} 
						</label>
				</p>
			</fieldset>
			</div>
		</div>
	</form>	
	</section>	
	</div>
	<section id="filter-results"  ng-class="{'expendedView':filterPanelCollapsed}">
<!-- 		<p class="clr_left" ng-bind-html="renderHtml(filterMsg)"></p> -->
		<div class="filtersInfowrapper left" ng-show="FilterList.getSelectedFilters().length > 0" ng-class="{'expendedViewFilters':filterPanelCollapsed}">
    <ul>
        <li>{{'CON_YOU_SELECTED' | translate}} </li>
        <li data-ng-repeat="FilterItem in FilterList.getSelectedFilters()">{{FilterItem.filterValueName}}: {{FilterItem.selectedItems.desc}}
        	<a href="" title="{{'CON_REMOVE_FILTER' | translate}}" ng-click="removeMainCatalogFilter(FilterItem);"></a>
        </li>
    </ul>   
    </div>
		<div >
			<ul class="grid" ng-show="isGridView()">
				<!-- A view with big photos and no text -->
				<li ng-repeat="cat in productList | orderBy:['-sectorCode','priceForSort']" class="gridlayout">
					<div class="product-content-wrapper">					
						<label ng-show="showCompare">
							<input type="checkbox" name="{{cat.code}}" 	ng-model="cat.checked" id="{{cat.code}}" ng-change="SelectedProduct(productList)" />{{'CON_SELECT_TO_COMPARE' | translate}}
						</label>
						<span class="productCode">	<a href=""  ng-click="showProductDetail(cat.code);" >{{cat.code}}</a></span>
						<div ng-if="cat.isRelative" class="gridViewImageWrapper">
						 		<a href=""  ng-click="showProductDetail(cat.code);"><img class="attentionImage" ng-src="{{BASE_ADDRESS}}{{cat.attentionImageURL}}" ng-show="cat.isShowAttentionImage"/>
						
								<img ng-src="{{BASE_ADDRESS}}{{cat.imageUrl}}" onerror="getDefaultImg(this);">
							</a> 
							<img class="quickInfoImage" ng-src="images/Information.png" title="{{'CON_QUICKINFO' | translate}}"  ng-click="showQuickViewDlg(cat);">
							<!-- ADM-009 -->
							<img class="promotionImage" ng-src="images/Available.png" title="{{'CON_PROMOTIONAL_ITEM' | translate}}" ng-show="cat.hasPromoP1OrP2 && !hospital">
							<img class="hospitalImage" ng-src="images\H.png" ng-show="cat.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}" >
							<!-- ADM-009 end -->
						</div>
						<div ng-if="!cat.isRelative" class="gridViewImageWrapper">
						 		<a href=""  ng-click="showProductDetail(cat.code);"><img class="attentionImage" ng-src="{{cat.attentionImageURL}}" ng-show="cat.isShowAttentionImage"/>
						
								<img ng-src="{{cat.imageUrl}}" onerror="getDefaultImg(this);">
							</a> 
							<img class="quickInfoImage" ng-src="images/Information.png" title="{{'CON_QUICKINFO' | translate}}"  ng-click="showQuickViewDlg(cat);">
							<!-- ADM-009 -->
							<img class="promotionImage" ng-src="images/Available.png" title="{{'CON_PROMOTIONAL_ITEM' | translate}}" ng-show="cat.hasPromoP1OrP2 && !hospital">
							<img class="hospitalImage" ng-src="images\H.png" ng-show="cat.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}" >
							<!-- ADM-009 end -->
						</div>
						
						 <span class="productDescription clr_left"><a href=""  ng-click="showProductDetail(cat.code);" >{{cat.description}} </a></span>
						 <div class="clr_left"><span class="left">{{'CON_SALES_UNIT' | translate}}:</span> 
					<!-- 		 <div class="select-style left">
					 <select name="" id="getId('select',cat.code)" ng-init="buyItem[getId('salesUnit',cat.code)] = cat.salesUnit" 
							ng-model="buyItem[getId('salesUnit',cat.code)]" ng-change="onUnitChangeMainCat(cat.code,buyItem[getId('salesUnit',cat.code)],cat)"><option ng-repeat="unit in cat.salesUnits " >{{unit}}</option>
							</select>
							</div>
						 -->	
						<div class="select-style left">
								<select  ng-model="cat.selectedUnitObject"  ng-options="unit.salesUnitDesc for unit in cat.salesUnitsDesc track by unit.salesUnitDesc" ng-change="onUnitChangeMainCat(cat.code,cat.selectedUnitObject.salesUnit,cat)">  					
								</select>
						
							</div>
						 </div>
						<div class="availGridSpan" ng-if="webSettings.allowDiscountDisplay=='*ALL'" ng-show="webSettings.isShowPrice">
							<span ng-class="{'actPrice': convertAsNumber(cat.discountPercentage) > 0, 'priceCalculationText': !isPriceCalculationEnabled}" class="finalPrice" ng-click="showPriceCalcDlg(cat)">{{cat.actualPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}}</span> 
							<span ng-show="convertAsNumber(cat.discountPercentage) > 0"	class="discount">{{cat.discountPercentage}} %</span> 
							<span ng-show="convertAsNumber(cat.discountPercentage) > 0" class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.discountPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}}</span>
						</div>
						
						<div ng-if="webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE'" ng-show="webSettings.isShowPrice">
							<span class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.discountPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}}</span>
						</div>
						
						<div ng-if="webSettings.allowDiscountDisplay=='*ALL_PRICE'" ng-show="webSettings.isShowPrice">
							<span ng-class="{'actPrice': convertAsNumber(cat.discountPrice) > 0, 'priceCalculationText': !isPriceCalculationEnabled}" class="finalPrice" ng-click="showPriceCalcDlg(cat)">{{cat.actualPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}}</span> 
							<span ng-show="convertAsNumber(cat.discountPrice) > 0" class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.discountPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}}</span>
						</div>
						
						<div ng-if="webSettings.allowDiscountDisplay=='*ACTUAL_PRICE'" ng-show="webSettings.isShowPrice">
							<span class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.actualPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}}</span> 
						</div>
						
						 <span class="clr_left" ng-show="cat.isMatrixBaseItem ">
						 <a href=""  ng-click="showProductDetail(cat.code);" >{{cat.segmentationDesc2}}/{{cat.segmentationDesc3}}</a></span>
						<span class="clr_left"  ng-show="isSignedIn && !cat.isMatrixBaseItem">{{'COH_QUANTITY' | translate}}: <input id="getId('text',cat.code)" ng-model="cat.quantity"
							class="quantity"  type="text" ng-class ="{ 'error': !cat.validQuantity, '' : cat.validQuantity}" ng-change="checkValidQuantity(cat,cat.quantity)" title="{{cat.quantityBoxMsg}}"/></span>
						<div class="availHeight" ng-hide="webSettings.itemAvailabilityType == '*NO' || !isSignedIn"  ng-show="isNormalItem || isComponentItem || !isMatrixOption2" class="left availability">
						<span ng-show="cat.showAvailabilityAsLink && cat.showAvailabilityAsImage"> 
							<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label> <a href="" ng-click="showProductDetail(cat.code,true);"><img class="availImage" ng-src="images/{{cat.availabilityImageName}}"  title="{{'CON_CLICK_TO_SEE_WH_INFO' | translate}}"/> </a> 
						</span>
						<span ng-show="!cat.showAvailabilityAsLink && cat.showAvailabilityAsImage"> 
						<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label>
							<img ng-src="images/{{cat.availabilityImageName}}"/>
						</span>  
						<span ng-show="cat.showAvailabilityAsLink && !cat.showAvailabilityAsImage"> 
							<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label>
							<a href="" ng-click="showProductDetail(cat.code,true);" >{{cat.availabilityText}} </a>
						</span>
						<span ng-show="!cat.showAvailabilityAsLink && !cat.showAvailabilityAsImage"> 
							<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label> <a  href=""  ng-click="showProductDetail(cat.code,true);">{{cat.availabilityText}} </a>
						</span>
						</div>
						
					</div>
					<div class="buttonWrapperGrid">
						<button type="button" name="" value="" class="homeCat"
							ng-class="{'disabled':!isSignedIn}" ng-click="addItemToCurrentList(cat);" ng-disabled="disableShoppingList(cat.isMatrixBaseItem) || cat.selectedUnitObject == null">{{'CON_ADD_TO_LIST' | translate}}</button>
						<button  ng-disabled="disableCatalogBuy(cat.isBuyingAllowed,cat.isMatrixBaseItem)" ng-class="{'disabled': cat.isBuyingAllowed == false, 'addedInCart':isShopCartItem(cat.code)==true , 'buy':isShopCartItem(cat.code)==false }" 
							type="button" name="" value="" ng-click = "gridViewBuyClicked(cat)" ng-keyup="$event.keyCode == 13 ? gridViewBuyClicked(cat) : null">{{'CON_BUY' | translate}}
							<span ng-show="isShopCartItem(cat.code)" title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span> </button>
					</div>
				</li>
			</ul>
		</div>
		<div class="listview" ng-show="isTableView() &&  recordFound ">
		  <div class="extendedInfo">
			  <label>{{'CON_EXTENDED_INFO' | translate}}: </label>
			  <input type="radio" ng-model="showExtendInfo" value='true' name="CatalogueRB" class=""><label>{{'CON_YES' | translate}}</label>
			  <input type="radio" ng-model="showExtendInfo" value='false' name="CatalogueRB" class="">  <label>{{'CON_NO' | translate}}</label>
		  </div>
		 <div class="right download">
	 		<a  href="" class="right" ng-show="webSettings.showXmlIcon" title="{{'CON_MAIN_CAT_XML' | translate}}"> <img ng-src="./images/XML.png" ng-click="exportCatalogTableAsXML()" /> </a> 
	 		<a  href="" class="right" ng-show="webSettings.showExcelIcon" title="{{'CON_MAIN_CAT_EXCEL' | translate}}"> <img ng-src="./images/Excel.png" ng-click="exportCatalogTableAsExcel()" /> </a>
			<a  href="" class="right" ng-show="webSettings.showPdfIcon" title="{{'CON_MAIN_CAT_PDF' | translate}}" > <img ng-src="./images/PDF.png" ng-click="exportCatalogTableAsPDF()" /> </a>
			<button ng-show="tableHeaders.isBuyingAllowed" type="button" name="" value="" class="buyIcon" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}"
		ng-click="buyItems()" >{{'CON_BUY' | translate}}</button>
		<button type="button" ng-show="isSignedIn" name="" value="" class="addToList" title={{addToListText}} ng-click="addMultipleItemsToCurrentList();">{{'CON_ADD_TO_LIST' | translate}}</button> 
		</div>
		<div class="mainCatListScrollTable">
			<!-- ADM-016 -->
			<table class="mainCatTable">
				<thead>
					<tr>
						<th ng-show="showExtendInfo=='true'"></th>
						
						<th>
						<div class="sorting">
							<span class="sortingInnerWrap">
								<a ng-class ="{ 'ascending_selected': showSelection('codeASC'), 'ascending' :  !showSelection('codeASC')  }" shref="" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="Sorting('code','ASC')"></a>
								<a ng-class ="{ 'decending_selected':  showSelection('codeDESC'), 'decending' :  !showSelection('codeDESC') }" shref="" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="Sorting('code','DESC')"></a>
							</span>						
						</div>
						<span>{{'CON_MINSAN_CODE' | translate}}</span>
						</th>
						
						<th>
							<div class="sorting">
							<span class="sortingInnerWrap">
							<a ng-class ="{ 'ascending_selected': showSelection('descriptionASC'), 'ascending' :  !showSelection('descriptionASC'), }" shref="" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="Sorting('description','ASC')"></a>
							<a ng-class ="{ 'decending_selected': showSelection('descriptionDESC'), 'decending' :  !showSelection('descriptionDESC'), }" shref="" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="Sorting('description','DESC')"></a>
							</span>						
							</div>
							<span class="tableHeadPadding">{{'COH_DESCRIPTION' | translate}}</span>
						</th>
						<th class="txtCenter">{{'COH_UNIT' | translate}}</th>
						<th class="txt_right" ng-show="tableHeaders.actualPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')">						

							<span>{{'COH_ACTUAL_PRICE' | translate}} {{webSettings.currencyCode}}</span>
						</th>
						<th class="txt_right"	ng-show="tableHeaders.discountPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE')">							
							<span>{{'COH_DISCOUNT_PRICE' | translate}} {{webSettings.currencyCode}}</span>						
						</th>
						<th></th> <!--  promotion icon -->
						<th class="txt_right" ng-show="tableHeaders.discountPercentage && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL')">						
							<span class="tableHeadPadding">{{'CON_DISCOUNT_%' | translate}}</span>					
						</th>
						<th>{{'COH_QUANTITY' | translate}}</th>
						<th>{{'COH_ALTERNATIVES' | translate}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in productList | orderBy:['-sectorCode','priceForSort']">
					    <td ng-show="showExtendInfo=='true'" style="width:100px;">
						    <div class="listViewImageWrapper">
						   		<a href="" ng-click="showProductDetail(row.code);" ><img class="attentionImage" ng-src="{{BASE_ADDRESS}}{{row.attentionImageURL}}" ng-show="row.isShowAttentionImage"/>
		            			 <img ng-if="row.isRelative" ng-src="{{BASE_ADDRESS}}{{row.imageUrl}}" onerror="getDefaultImg(this);"></a>
		            			 <img ng-if="!row.isRelative" ng-src="{{row.imageUrl}}" onerror="getDefaultImg(this);"></a>
	             			</div>
             			</td>
						<td>
							<a href="" ng-click="showProductDetail(row.code);">{{row.minsanCode}}</a>
						</td>
						<td>
							<a href="" ng-click="showProductDetail(row.code);">{{row.description}}</a>
						    <span ng-if="!webSettings.showFullWebTextInItemTable" ng-show="showExtendInfo=='true'" class="itemWebTxt" ng-bind-html="renderHtml(row.itemWebText)"></span> 
        				   	<span ng-if="webSettings.showFullWebTextInItemTable" ng-show="showExtendInfo=='true'" class="itemWebTxtFull" ng-bind-html="renderHtml(row.itemWebText)"></span>
						</td>
						<td>
							<span>
								<div class="select-style left">
					        		 <select  ng-model="row.selectedUnitObject"  ng-options=" unit.salesUnitDesc for unit in row.salesUnitsDesc track by unit.salesUnitDesc" ng-change="onUnitChangeMainCat(row.code,row.selectedUnitObject.salesUnit,row)"></select>
								</div>
			            	</span>
			            </td>
			            <td ng-show="tableHeaders.actualPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')" class="txt_right">
							<span>
								<a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)">{{row.actualPrice}} </a>
							</span>  
						</td>
						<td class="txt_right" ng-show="tableHeaders.discountPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE')">
							<a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)">{{row.discountPrice}}</a>
						</td>
						<td class="txt_right" ng-show="tableHeaders.discountPercentage && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL') ">
							<a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)">{{row.discountPercentageText}} </a>
						</td>
						<td class="quantityColumn" >
							<div class="nowrap" style="width:100px;">
								<span ng-show="isSignedIn && !row.isMatrixBaseItem" class="left">
									<input id="getId('text',row.code)" ng-model="row.quantity" type="text" class="txt_right buyInput" ng-class ="{ 'error': !row.validQuantity, '' : row.validQuantity}" ng-keyup="$event.keyCode == 13 ? buyItems(row) : null" ng-change="checkValidQuantity(row,row.quantity)" title="{{row.quantityBoxMsg}}"/> </span> 
								</span>
								<span ng-if="showHide(row.isBuyingAllowed) && !row.isMatrixBaseItem && !isShopCartItem(row.code)" class="">
									<button type="button" name="" value="" class="buyIcon" ng-click="buyItems(row)" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}">{{'CON_BUY' | translate}}</button>
								</span>
								<span ng-if="showHide(row.isBuyingAllowed)  && !row.isMatrixBaseItem && isShopCartItem(row.code)">
								<span  class="addedInCart left"  ng-click="buyItems(row)"  title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span>
								</span>
								<span  ng-if="isSignedIn && !row.isMatrixBaseItem" ng-show = "row.selectedUnitObject != null" class="">
									<button type="button" name="" value="" class="addToListTableView" title={{addToListText}} ng-click="addItemToCurrentList(row);" >{{'CON_ADD_TO_LIST' | translate}}</button> 
								</span>
								<!-- ADM-009 -->
								<img class="promotionImageListView" ng-src="images/Available.png" title="{{'CON_PROMOTIONAL_ITEM' | translate}}" ng-show="row.hasPromoP1OrP2 && !hospital">
								<img class="hospitalImageListView" ng-src="images/H.png" ng-show="row.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}" >
								<!-- ADM-009 end -->
							</div>
						 	<span ng-show="row.isMatrixBaseItem">
                         		<a	href="" ng-click="showProductDetail(row.code);"  >{{row.segmentationDesc2}}/{{row.segmentationDesc3}}</a>
                         	</span>
						</td>
						<td><!--  Alternative --></td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</section>
</div>
<!-- <a href="" class="loadMoreButton" style="">{{'MSG_LOADING_MORE_ITEMS' | translate}}</a> -->

<div ng-show="isShowBottomLoader()" class="loadInfoWrapper">{{'MSG_LOADING_MORE_ITEMS' | translate}}</div> 