<!--
<div>
	<script type="text/ng-template" id="menu_renderer.html">
	<a href="#">{{menu.description}}</a>
    <ul><li ng-repeat = "menu in menu.subCatalogueBeanList"
        ng-include = "'menu_renderer.html'" ng-class="{ 'dir' : menu.subCatalogueBeanList.length > 0 } "> </li>
    </ul>
    </script>
	<ul ng-controller="catMenuCtrl" id="nav"
		class="dropdown dropdown-horizontal">
		<li ng-repeat="menu in catalogue" 
			ng-include="'menu_renderer.html'" ng-class="{ 'dir' : menu.subCatalogueBeanList.length > 0 } "><a href="#">{{menu.description}}</a> </li>
	</ul>
</div>
/*ui-sref="home.mainCatalog({CAT_ID: menu.catalogueCode, ELEMENT_ID: menu.elementCode})"
ui-sref="home.mainCatalog({CAT_ID: menu.catalogueCode, ELEMENT_ID: menu.elementCode,ELEMENT_DESC: menu.description, VIEW: mainCatView})
*/
-->

	<nav id="cbp-hrmenu" class="cbp-hrmenu">
					<ul class="moreArrowNew" ng-controller="catMenuCtrl" id="widthNav">
					<a ng-show="nomorePrevRecords" class="moreItemsLeftArrow "   href="" title="{{'CON_VIEW_MORE' | translate}}" ng-click="prevMainMenuPage()"> </a>
						

<li ng-repeat="menu in menuSlider"   height-stuff my-data="menuSlider">
	<a  class="openItem" ng-click="callLoadFunction(menu)" title = "{{menu.description}}">{{menu.description}}</a>
	
	<div class="cbp-hrsub" ng-class="{'leftRequired': clicked,'leftNotRequired': !clicked}">
		<div class="cbp-hrsub-inner">
		<span class="subCatHeader">		
			<a class="subCatLeft" style="cursor:pointer;" ng-click="showCatalogFromMain(menu)" title = "{{catDescription}}" >{{catDescription}}</a>
			<a class="subCatRight" class="fontChanges" ng-click="showCatalogFromMain(menu)" ng-show="catalogData.moreRecords" >>> {{'CON_MORE'|translate}}...</a>
		</span> 
		
			<div ng-repeat = "menu1 in catalogData.subCatalogueBeanList" ng-class="{'fullWidthDiv': !clicked}">
				
				<h4 style="cursor:pointer;" ng-click="showCatalogFromMain(menu1)" title = "{{menu1.description}}">{{menu1.description}}</h4>
					<ul>
						<li ng-repeat = "menu2 in menu1.subCatalogueBeanList"><a class="noCursor" title = "{{menu2.description}}"><span style="cursor:pointer;"  ng-click="showCatalogFromMain(menu2)">{{menu2.description}}</span></a></li>
					</ul>
						<a ng-show="menu1.moreRecords" ng-click="showCatalogFromMain(menu1)">>>{{'CON_MORE' | translate}}...</a>
									
			</div>
			
			
			
			
		</div><!-- /cbp-hrsub-inner -->
	</div><!-- /cbp-hrsub -->
</li>


						<a class="moreItemsArrow" ng-show="nextArrow" href="" title="{{'CON_VIEW_MORE' | translate}}" ng-click="nextMainMenuPage(nextArrow)"> </a>
					</ul>
				</nav>		
				
		

