<div class="listview accountTransactionDetailPage" ng-controller="orderDetailCtrl">
	<div class="checkout-container orders-container invoice-container">
          <div class="cnt-back-action">
          	<a href="javascript:void(0)" class="goback-btn btn btn-primary" ng-click="goBack()">
          		<i class="fa fa-arrow-circle-o-left"></i>
          		<span>{{'CON_BACK' | translate}}</span>
          	</a>
          </div>
          <div class="row head-invoice-order">
            <div class="col-sm-6 informations-io">
              <h1>{{'ORDER_DETAILS' | translate}}</h1>
              <div class="invoice-number">{{'ORDER_NUMBER_N' | translate}} {{orderDetails.orderNumber}}</div>
            </div>
            <div class="col-sm-6 print-io multiple-heading-buttons">
              <button type="button" class="btn btn-block btn-info pull-right" ng-click="exportOrderDetail()"><i aria-hidden="true" class="fa fa-download"> </i> {{'DOWNLOAD_ORDER_DETAIL' | translate}}</button>
              <button ng-hide="true" type="button" class="btn btn-block btn-info pull-right" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}" ng-click="orderDetailBuyItems();" >{{'CON_BUY' | translate}}</button>
			  <button ng-hide="true" type="button" class="btn btn-block btn-info pull-right" ng-show="isSignedIn" title={{addToListText}} ng-click="addMultipleItemsToCurrentList();">{{'CON_ADD_TO_LIST' | translate}}</button> 
            </div>
          </div>
          
          <div class="orders-table">
            <table class="table table-striped table-hover table-orders table-detail-order">
              <thead>
                <tr>
                  <th>{{'COH_LINE' | translate}}</th>
                  <th>{{'COH_PRODUCT' | translate}}</th>
                  <th>{{'COH_DESCRIPTION' | translate}}</th>
                  <th>{{'COH_ACTUAL_PRICE' | translate}}</th>
                  <th>{{'COH_QUANTITY' | translate}}</th>
                  <th>{{'COH_UNIT' | translate}}</th>
                  <!-- th>{{'COH_ENQUIRY_ON_ITEMS' | translate}}</th-->
                </tr>
              </thead>
              
              <tbody>
                <tr ng-repeat="row in orderLineData">
                  <td>{{row.lineNumber}}</td>
                  <td>{{row.itemCode}}</td>
                  <td><h4><a href="javascript:void(0);" ng-click="showProductDetail(row.itemCode);">{{row.itemDescription}}</a></h4></td>
                  <td><div class="red-price">{{row.actualPrice}} {{webSettings.currencyCode}}</div></td>
                  <td>
                  		{{row.ordered}}
                  		<!-- input id="getId('text',row.itemCode)" ng-model="row.quantity" type="text" class="txt_right buyInput" ng-class ="{ 'error': !row.validQuantity, '' : row.validQuantity}" ng-change="checkValidQuantity(row,row.quantity)" title="{{row.quantityBoxMsg}}"/--> 
                  </td>
                  <td>{{row.unitDesc}}</td>
                  <!-- td><a href="#" class="link-blue"><i aria-hidden="true" class="fa fa-envelope-o"></i></a></td-->
                </tr>
              </tbody>
            </table>
          </div>
          
          <div class="advanced-search accord-invoices accord-order-dett">
            <div class="panel panel-default">
              <button type="button" data-toggle="collapse" data-target="#invoiceInfo" class="button-search collapsed"><span>{{'CON_BASIC_INFORMATION' | translate}}</span></button>
              <div id="invoiceInfo" aria-expanded="true" class="collapse">
                <div class="panel-body">
                  <table>
                    <tbody>
                    	<tr>
							<td>{{'COH_CUSTOMER' | translate}}</td> 
							<td>{{orderDetails.customerCode}} {{orderDetails.customerDesc}}</td>
						</tr>
						<tr>
							<td>{{'CON_ORDER_NUMBER' | translate}}</td> 
							<td>{{orderDetails.orderNumber}}</td>
						</tr>
						<tr>
							<td>{{'CON_ORDER_DATE' | translate}}</td> 
							<td>{{orderDetails.orderDate | date:'dd/MM/yyyy'}}</td>
						</tr>				
						<tr>
							<td>{{'CON_ORDER_STATUS' | translate}}</td> 
							<td> {{orderDetails.orderStatus}}</td>
						</tr>				
						<tr>
							<td>{{'CON_HELD' | translate}}</td> 
							<td> {{orderDetails.held | translate}}</td>
						</tr>				
						<tr>
							<td>{{'COH_CURRENCY' | translate}}</td> 
							<td>{{orderDetails.currencyCodeOrSymbol}}</td>
						</tr>
						<tr ng-show="isColExist('orderValueExclVAT',orderDetailsPropList)">
							<td>{{'CON_ORDER_VALUE_EXCLUDING_VAT' | translate}}</td>
						 	<td>{{orderDetails.orderValueExclVAT}} {{webSettings.currencyCode}}</td>
						</tr>
						<tr ng-show="isColExist('orderValueInclVAT',orderDetailsPropList)">
						 	<td>{{'CON_ORDER_VALUE_INCLUDING_VAT' | translate}}</td>
						 	<td>{{orderDetails.orderValueInclVAT}} {{webSettings.currencyCode}}</td>
						 </tr>			
						 <tr ng-show="orderDetails.isCreditCardInfoFlag">
						 	<td>{{'CON_ORDER_PAYMENT' | translate}}</td> 
						 	<td>{{orderDetails.creditCardCode}}</td>
						</tr>
						<tr>
							<td>{{'COH_AMOUNT' | translate}}</td> 
							<td>{{orderDetails.creditCardAmount}} {{webSettings.currencyCode}}</td>
						</tr>			
						<tr ng-show="isColExist('motCode',orderDetailsPropList) || isColExist('motDesc',orderDetailsPropList) ">
							<td>{{'CON_MANNER_OF_TRANSPORT' | translate}}</td> 
							<td> {{orderDetails.motCode}} {{orderDetails.motDesc}}</td>
						</tr>
						<tr ng-show="isColExist('todCode',orderDetailsPropList) || isColExist('todDesc',orderDetailsPropList) ">
							<td>{{'CON_TERMS_OF_DELIVERY' | translate}}</td> 
							<td>{{orderDetails.todCode}} {{orderDetails.todDesc}}</td>
						</tr>
						<tr ng-show="isColExist('topCode',orderDetailsPropList) || isColExist('topDesc',orderDetailsPropList) ">
							<td>{{'CON_TERMS_OF_PAYMENT' | translate}}</td> 
							<td>{{orderDetails.topCode}} {{orderDetails.topDesc}}</td>
						</tr>
						<tr ng-show="isColExist('paymentMethod',orderDetailsPropList)">
							<td>{{'CON_PAYMENT_METHOD' | translate}}</td> 
							<td>{{orderDetails.paymentMethod | translate}}</td>
						</tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="advanced-search accord-invoices accord-order-dett">
            <div class="panel panel-default">
              <button type="button" data-toggle="collapse" data-target="#indirizzi" class="button-search collapsed"><span>{{'CON_ADDRESSES' | translate}}</span></button>
              <div id="indirizzi" aria-expanded="true" class="collapse">
                <div class="panel-body">
                  <div class="addresses-blocks row">
                    <div class="col-sm-6">
                      <div class="padd">
                      	<div ng-show="isListEmpty(order)">{{resultMsg}}</div>
                        <h5>{{'CON_CONFIRMATION_ADDRESS' | translate}}</h5>
                        <p ng-bind-html="renderHtml(orderDetails.confAddress)"></p>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="padd">
                        <h5>{{'CON_DELIVERY_ADDRESS' | translate}}</h5>
                        <p ng-bind-html="renderHtml(orderDetails.delAddress)"></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="advanced-search accord-invoices accord-order-dett">
            <div class="panel panel-default">
              <button type="button" data-toggle="collapse" data-target="#tasseOrdine" class="button-search collapsed"><span>{{'CON_ORDER_FEES' | translate}}</span></button>
              <div id="tasseOrdine" aria-expanded="true" class="collapse">
                <div class="panel-body">
                	<table>
	                    <tbody>
							<tr>
								<td>{{'CON_ADMINISTRATION_FEE' | translate}}</td> 
								<td>{{orderDetails.administrationFee}} {{webSettings.currencyCode}}</td>
							</tr>
							<tr>
								<td>{{'CON_FREIGHT' | translate}}</td> 
								<td>{{orderDetails.freight}} {{webSettings.currencyCode}}</td>
							</tr>				
							<tr>
								<td>{{'CON_INVOICE_FEE' | translate}}</td>
								<td>{{orderDetails.invoiceFee}} {{webSettings.currencyCode}}</td>
							</tr>				
							<tr>
								<td>{{'CON_POSTAGE' | translate}}</td> 
								<td>{{orderDetails.postage}} {{webSettings.currencyCode}}</td>
							</tr>
							<tr ng-show="!showInsurancePercent(orderDetails.insurancePercent)">
								<td>{{'CON_INSURANCE' | translate}}</td> 
								<td>{{orderDetails.insurance}} {{webSettings.currencyCode}}</td>
							</tr>	
							<tr ng-show="showInsurancePercent(orderDetails.insurancePercent)">
								<td>{{'CON_INSURANCE' | translate}} ({{orderDetails.insurancePercent}} %)</td> 
								<td>{{orderDetails.insurance}} {{webSettings.currencyCode}}</td>
							</tr>			
							<tr>
								<td>{{'CON_SURCHARGE' | translate}}</td> 
								<td>{{orderDetails.surcharge}} {{webSettings.currencyCode}}</td>
							</tr>
						</tbody>
					</table>
				</div>
              </div>
            </div>
          </div>
          <div class="advanced-search accord-invoices accord-order-dett">
            <div class="panel panel-default">
              <button type="button" data-toggle="collapse" data-target="#riferimentiOrdine" class="button-search collapsed"><span>{{'CON_ORDER_REFERENCES' | translate}}</span></button>
              <div id="riferimentiOrdine" aria-expanded="true" class="collapse">
                <div class="panel-body">
	                <table>
	                    <tbody>
							<!-- tr>
								<td>{{'CON_SALES_PERSON' | translate}}</td>
								<td>{{orderDetails.salespersonCode}} {{orderDetails.salespersonDesc}}</td>
							</tr-->
							<tr ng-show="isColExist('yourOrder',orderDetailsPropList)">
								<td>{{'CON_YOUR_ORDER' | translate}}</td>
								<td>{{orderDetails.yourOrder}}</td>
							</tr>
							<tr ng-show="isColExist('yourReference',orderDetailsPropList)">
								<td>{{'COH_YOUR_REFERENCE' | translate}}</td>
								<td>{{orderDetails.yourReference}}</td>
							</tr>
							<!-- tr ng-show="isColExist('ourReference',orderDetailsPropList)">
								<td>{{'CON_OUR_REFERENCE' | translate}}</td>
								<td>{{orderDetails.ourReference}}</td>
							</tr-->
						</tbody>
					</table>
				</div>
              </div>
            </div>
          </div>
        </div>
</div>