<div class="listview accountTransactionDetailPage" ng-controller="orderDetailCtrl">
<div ng-show="isShowInnerLoader()" class="pageLoader">
	<div class="inner"></div>
	</div>
	
	<div class="page-heading">
		 <p class="left">{{'CON_SELECT_ORDER_LINES' | translate}}</p>
		
		 <div class="order-details">
	 		<label>{{'CON_ORDER_NUMBER' | translate}} : </label><span class="section-value" style="line-height: 15px;">{{orderDetails.orderNumber}}</span>	 
	  	 </div>
	</div>
	 
	<div class="sep"></div> 
	
	<p class="errorMsg" >{{errorMessage}}</p>
	<section name="orderLevelInfo">
	<div ng-show="orderDetails.isOrderMessageFlag">
		<a class="OrderInfo" shref="" title="{{orderDetails.orderMessage}}"></a>{{orderDetails.orderMessage}}
		<p class="errorMsg" ng-show="!requestLineSelected">{{requestLineSelectionMsg}}</p>
		
	</div>
	
	</section>
		
	
	<section name="orderLine">		

		<div> 
		<table class="orderDetailTable">
			<thead>
				<tr>
					<th>{{'CON_SELECT' | translate}}</th>
					<th class="txt_right">{{'COH_LINE' | translate}}</th>
					<th>{{'COH_PRODUCT' | translate}}</th>
					<th ng-show="orderDetails.isDescFlag"> {{'COH_DESCRIPTION' | translate}}</th>				
					<th class="txt_right">{{'COH_QUANTITY' | translate}}</th>					
					<th>{{'COH_UNIT' | translate}}</th>	
					<th class="txt_center" ng-show="webSettings.isShowPrice"> {{'CON_VALUE' | translate}} 
						<span ng-show="orderDetails.pricingUnitFlag">{{orderDetails.currencyCodeOrSymbol}}</span>
					</th>														
					<th>{{'COH_DELIVERY_DATE' | translate}}</th>
										
					
					
				</tr>
			 </thead>
			<tbody>
					<tr ng-repeat="row in orderLineData">
						<td>
							<input type="checkbox" name= "{{row.lineNumber}}"  ng-model="row.checked" id ="{{row.lineNumber}}" ng-change="SelectedOrderLine(orderLineData)" />
						</td>
						<!-- making line no non clickable as per jira NST-3676 -->
<!-- 						<td class="txt_right"><a href="" ng-click="showOrderLineDetail(row);">{{row.lineNumber}}</a> </td> -->
						<td class="txt_right">{{row.lineNumber}} </td>
						<td>{{row.itemCode}}</td>
						<td ng-show="orderDetails.isDescFlag">{{row.itemDescription}} </td>
						<td class="txt_right">{{row.ordered}} </td>						
						<td>{{row.unit}} </td>											
						
						<td ng-class="{'txt_right' : !row.lineErrorFlag, 'txt_center' : row.lineErrorFlag}" ng-show="webSettings.isShowPrice">
							<div class="txt_right"><span ng-show= "!row.lineErrorFlag">{{row.value}}</span></div>
							<span class="txt_center" ng-show= "row.lineErrorFlag"><a class="OrderInformation-icon" shref="" title="{{row.lineError}}"></a></span>
						 </td>						
						<td>{{row.delDate}} </td>
						
						
					</tr>
					<tr ng-show ="!dataFound">
					<td colspan="8">{{pageLoadMsg}}</td>
				</tr>
			 </tbody>
		</table>
		<div class="sep_tbl"></div>
		<div class="buttonWrapper clr_left right">
			<a class="backButton left" href="" ng-click="goBack()" >{{'CON_BACK' | translate}}   </a>
			<button class="closeCart right" value="" name=""  type="button" ng-click = "showAddProduct(orderLineData,false,false)" >{{'CON_ADD_PRODUCTS'| translate}}</button>
			
		</div>
 		<div class="buttonWrapper clr_left left"> 
<!-- 					<button href="" class="goFirstArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="getFirstPage()" title = "{{'CON_FIRST_PAGE' | translate}}">{{'CON_FIRST_PAGE' | translate}} </button> -->
<!-- 			<button href="" class="previousArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}">{{'CON_PREVIOUS_PAGE' | translate}} </button> -->
<!-- 			<button href="" class="nextArrow" ng-disabled="!dataFound"  ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}">{{'CON_NEXT_PAGE' | translate}} </button> -->
<!-- 		 	<input type="checkbox" name= ""  ng-model="selectRequestLine['All']"  ng-change="" /> {{'CON_SELECT_ALL' | translate}} --> 
			<input type="checkbox" name= ""  ng-model="selectRequestLine['AllVisible']"  ng-click="selectAllVisible(orderLineData)" /> {{'CON_SELECT_ALL_VISIBLE' | translate}} 
			
			
 		</div> 
		
		</div>
	
	</section>
	
</div>