<div class="listview accountTransactionDetailPage" ng-controller="orderHistoryCtrl">

		<div class="checkout-container orders-container">
          <div class="cnt-back-action">
          	<a href="javascript:void(0)" class="goback-btn btn btn-primary" ng-click="goBack()">
          		<i class="fa fa-arrow-circle-o-left"></i>
          		<span>{{'CON_BACK' | translate}}</span>
          	</a>
          </div>
          <h1>{{'YOUR_ORDERS' | translate}}</h1>
          <div class="advanced-search">
            <div class="panel panel-default">
              <button type="button" data-toggle="collapse" data-target="#advSearch" class="button-search collapsed"><span>{{'CON_NEW_SEARCH' | translate}}</span></button>
              <div id="advSearch" aria-expanded="true" class="collapse">
                <div class="panel-body">
                  <div class="row">
                  <form class="search-form" role="form" ng-submit="submitFilter()" name="searchForm">
					 <div ng-repeat="filter in filterList.getFilters()">
						<div ng-show="filter.isEnabled" class="search-form-wrapper">
							<div class="col-sm-4">
                      			<div class="form-group">					
									<label for = "filter.filterParam">{{filter.filterName | translate}}</label> 
									<div ng-show ="filter.isInputList">
										<div class="select-style">
											<select ng-if= "filter.filterName != 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems" ng-options="item.code as item.description for item in filter.dataList" class="form-control">	
											</select>
											<select ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems" class="form-control">
											<option ng-repeat="resultperPage in resultPerPageList" >{{resultperPage}}</option> 
											</select>   
										</div>
									</div>
									<div ng-show ="!filter.isInputList">							
										<input ng-if= "filter.numericType" type="text" id= "filter.filterParam" 
										name="filter.filterParam" ng-model="filter.selectedItems" 
										ng-blur ="validateNumber(filter,filter.selectedItems)" ng-mouseleave="validateNumber(filter,filter.selectedItems)" class="form-control"/> 
										<span ng-if= "filter.numericType"><p class="validationMsg ValidationMsgOrder">  {{filter.validationMsg}} </p> </span>
										<input ng-if= "!filter.numericType" type="text" id= "filter.filterParam" name="filter.filterParam"  ng-model="filter.selectedItems" class="form-control"/>
									</div>
								</div>
							</div>	
						</div>
					</div> 	
					<div class="col-sm-12 actions-buttons text-right">
						<button class="btn btn-block btn-primary" ng-disabled="isFilterHasError(filterList.getFilters())">{{'CON_START_SEARCH' | translate}}</button>
					</div>
					</form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <table class="table table-striped table-hover table-orders table-detail-order">
              <thead>
                <tr>
                	<th class="txt_right">
						<div class="sorting contentRight paddingRight">
							<span class="sortingInnerWrap">
							 	<a ng-class ="sort.getAscCSS('OrderNumber')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('OrderNumber')"></a>
		      				 	 <a ng-class="sort.getDescCSS('OrderNumber')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('OrderNumber')"></a>										
							</span>
							<span>{{'CON_ORDER' | translate}} </span>
						</div>			
					</th>
	                <th>
						<div class="sorting">
							<span class="sortingInnerWrap">			
							 	<a ng-class ="sort.getAscCSS('Status')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Status')"></a>
		      				 	 <a ng-class="sort.getDescCSS('Status')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Status')"></a>										
							</span>
							<span> {{'CON_STATUS' | translate}}</span>
						</div>			
					</th>	
	                <th class="txt_right">
						<div class="sorting contentRight paddingRight">
							<span class="sortingInnerWrap">			
							 	<a ng-class ="sort.getAscCSS('OrderValue')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('OrderValue')"></a>
		      				 	 <a ng-class="sort.getDescCSS('OrderValue')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('OrderValue')"></a>										
							</span>
							<span>{{'CON_ORDER_VALUE' | translate}}	</span>
						</div>			
					</th>
	                <th>
						<div class="sorting">
							<span class="sortingInnerWrap">	
							 	<a ng-class ="sort.getAscCSS('Customer')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Customer')"></a>
		      				 	 <a ng-class="sort.getDescCSS('Customer')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Customer')"></a>										
							</span>
							<span> {{'COH_CUSTOMER' | translate}}</span>
						</div>			
								
					</th>
	                <th>				
						<div class="sorting">
							<span class="sortingInnerWrap">		
							 	<a ng-class ="sort.getAscCSS('OrderDate')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('OrderDate')"></a>
		      				 	 <a ng-class="sort.getDescCSS('OrderDate')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('OrderDate')"></a>										
							</span>
							<span>{{'CON_ORDER_DATE' | translate}}	</span>
						</div>			
					</th>	
	                <th>
						<div><span>{{'COH_ACTIONS' | translate}} </span></div>
					</th>
                </tr>
              </thead>
              <tbody ng-repeat="row in orderData">
                <tr>
                	<td>
                		<h4><a href="javascript:void(0);" ng-click="showOrderDetail(row)">{{row.orderNumber}}</a></h4>
                	</td>
                  	<td>
                  		<span ng-show= "row.isOrderHeldFlag"><a style="cursor: default !important;" shref="" title="{{'CON_ORDER_HELD' | translate}}"></a> </span>
						<span ng-show= "!row.isOrderHeldFlag">{{row.status}}</span>
                  	</td>
                 	<td>
						<span ng-show= "row.isOrderValueFlag"><a style="cursor: default !important;" class="OrderInformation-icon" shref="" title="{{row.orderValue}}"></a></span>
						<div class="txt_right"><span ng-show= "!row.isOrderValueFlag">{{row.orderValue}}</span></div>
					</td>
					<td>{{row.customer}}</td>				
					<td>{{row.orderDate}}</td>
					<td>
						<!-- button type="button" class="btn btn-link" ng-click="showCopyPaste(row.orderNumber);">{{'CON_COPY_ORDER_LINES_TO_PASTE_AREA' | translate}}</button-->
	                	<button type="button" class="btn btn-block btn-info" ng-click="getCopyOrderLines(row.orderNumber);" title="{{'CON_COPY_ORDER_LINES' | translate}}"><i class="fa fa-files-o" aria-hidden="true"></i></button>
						<button type="button" class="btn btn-block btn-warning" ng-click="addOrderLinesToCurrentList(row.orderNumber);" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_LIST' | translate}}"><i class="fa fa-star" aria-hidden="true"></i></button>
	                </td>
                </tr>
                <tr ng-show="isCopyOrderVisible(row.orderNumber)">
					<td colspan = "6">
					
					<div class="panel-body">
             <div class="row">
             	<div class="col-sm-12 alert alert-warning">
             		<strong>{{'CON_IMPORTANT' | translate}}!</strong> {{'CON_CLOSE_YOUR_CART_WHEN_READY' | translate}}
             	</div>
             </div>
	          <div class="col-sm-5">
                 <div class="form-group">
                   <label for="">{{'COH_ITEM' | translate}}</label>
                 </div>
               </div>
               <div class="col-sm-2">
                 <div class="form-group">
                   <label for="">{{'COH_QUANTITY' | translate}}</label>
                 </div>
               </div>
               <div class="col-sm-5">
                 <div class="form-group">
                   <label for="">{{'CON_UNIT' | translate}}</label>
                 </div>
               </div>
             <div class="row" ng-repeat="order in copyOrder.getList()">
               <div class="col-sm-12 alert alert-danger" ng-show= "!order.isValidProduct">{{order.errorMsg}}</div>
               <div class="col-sm-5">
                 <div class="form-group">
                   <input type="text" id="getId('txtProductCode',order.itemCode)"  ng-model = "order.itemCode" ng-blur = "ValidateProductLines(order,copyOrder,'CART')" placeholder="{{'COH_ITEM' | translate}}" class="form-control">
                 </div>
               </div>
               <div class="col-sm-2">
                 <div class="form-group">
                   <input type="text" id="getId('txtProductQuantity',order.itemCode)"  ng-model = "order.ordered" class="txt_right" ng-class ="{ 'error': !order.validQuantity, '' : order.validQuantity}" ng-change="checkValidQuantity(order,order.ordered)" title="{{order.quantityBoxMsg}}" placeholder="{{'COH_QUANTITY' | translate}}" class="form-control">
                 </div>
               </div>
               <div class="col-sm-5">
                 <div class="form-group">
                   <input type="text" id="getId('txtProductUnit',order.itemCode)" ng-model="order.unit" ng-show="!order.showUnitList" placeholder="{{'CON_UNIT' | translate}}" class="form-control">
                 	<div class="select-style" ng-show = "order.showUnitList">
					<select ng-model="order.unit" ng-options = "activeUnits.salesUnit as activeUnits.salesUnitDesc for activeUnits in order.activeUnitList"  ></select></div>
                 </div>
               </div>
             </div>
             <div class="col-sm-12 actions-buttons text-right">
               
                 <button type="button" class="btn btn-block btn-danger" ng-click="copyOrder.clearAll()">
                 	<i aria-hidden="true" class="fa fa-trash"></i>{{'CON_CLEARALL' |	translate}}
                 </button>
                 <button type="button" class="btn btn-block btn-info" ng-click="copyOrder.addMoreLines()">
                 	<i aria-hidden="true" class="fa fa-plus"></i>{{'CON_ADDMORE' |	translate}}
                 </button>
                 <button type="button" class="btn btn-block btn-success" 
                 	ng-class="{'disabled': isLoggedIn() == false}" 
                 	ng-click="validateProductList(copyOrder,'')"  
                 	ng-disabled="!copyOrder.isValidProductList">
                 	<i aria-hidden="true" class="fa fa-shopping-cart"></i>{{'CON_BUY'|	translate}}
                 </button>
               </div>
           </div>	
					<!-- section name="AddItems" class="clr_left secAddItems">			
	    				<p class="head"> {{'CON_ADD_ITEMS' | translate}}</p>
		 				<div class="sepCollapse"></div>						
						<p class="infowrapper"><b>{{'CON_IMPORTANT' | translate}}!</b> {{'CON_CLOSE_YOUR_CART_WHEN_READY' | translate}}</p>
						<p class= "left errorMsg">{{copyOrder.getUIErrorKey() | translate : (copyOrder.UIErrorParams) }}</p>
						<table class="addItemsTable">
						<thead>
							<tr>
								<th class="largeSpace">{{'COH_ITEM' | translate}}</th>
								<th class="smallSpace">{{'COH_QUANTITY' | translate}}</th>
								<th class="smallSpace">{{'CON_UNIT' | translate}}</th>
								<th class="largeSpace">{{'COH_REQUESTED_DELIVERY_DATE' | translate}}</th>
								<th class="largeSpace">{{'COH_SHIPMENT_MARKING' | translate}}</th>						
							</tr>
						</thead>
						<tbody ng-repeat="order in copyOrder.getList()">
						<tr ng-show= "!order.isValidProduct">
							<td colspan= "5"> <span class= "left errorMsg">	{{order.errorMsg}}</span></td>
						</tr>
						<tr>
							<td><input type="text" id="getId('txtProductCode',order.itemCode)"  ng-model = "order.itemCode" ng-blur = "ValidateProductLines(order,copyOrder,'')"/></td>
							<td><input type="text" id="getId('txtProductQuantity',order.itemCode)"  ng-model = "order.ordered" class="txt_right" ng-class ="{ 'error': !order.validQuantity, '' : order.validQuantity}" ng-change="checkValidQuantity(order,order.ordered)" title="{{order.quantityBoxMsg}}"/></td>
							<td><input type="text" id="getId('txtProductUnit',order.itemCode)" ng-class ="{ 'error': order.invalidUnit, '' : order.invalidUnit}" ng-model = "order.unit" ng-show = "!order.showUnitList" ng-change="checkValidUnit(order, order.unit)" />
								 <div class="select-style" ng-show = "order.showUnitList" ><select class="unitCode" ng-model="order.unit"  ng-options = "activeUnits.salesUnit as activeUnits.salesUnitDesc for activeUnits in order.activeUnitList" ></select></div></td>
							</td>
							<td><input type="text" id="getId('txtProductDelDate',order.itemCode)"   placeholder="{{webSettings.defaultDateFormat}}" ng-model = "order.delDate" ng-blur="validateDateRangeFormatShoppingCart(order.delDate,true)" ng-mouseleave="validateDateRangeFormatShoppingCart(order.delDate,true)" ng-class="{ 'error': !validDateShoppinglist, '' :  validDateShoppinglist }"></td>
							<td><input type="text" maxlength="30" id="getId('txtProductShipment',order.itemCode)"  ng-model = "order.shipmentMarking" /></td>
	
						</tr>
						</tbody>
						</table>			
						<div class="buttonWrapper clr_left right">
						<button class="clearAll" type="button" ng-click="copyOrder.clearAll()">{{'CON_CLEARALL' |	translate}}</button>
						<button class="addMore" type="button" ng-click="copyOrder.addMoreLines()">{{'CON_ADDMORE' |	translate}}</button>
						<button class="yellowButton" type="button" ng-click="validateProductList(copyOrder,'')" ng-disabled="!copyOrder.isValidProductList">{{'CON_BUY'|	translate}}</button>
						</div>			
						
					</section-->		
					</td>
				</tr>
              </tbody>
            </table>
          </div>
        </div>
        
        <div class="pager">
          <div class="pager-indicators">
          	<!-- span class="actual-page">1</span><span class="separator-pages">/</span><span class="total-pages">3</span-->
            <button class="btn btn-grey" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}"><i aria-hidden="true" class="fa fa-caret-left"></i></button>
            <button class="btn btn-grey" ng-disabled="!dataFound || !moreDataArrow"  ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}"><i aria-hidden="true" class="fa fa-caret-right"></i></button>
            <!-- div class="seealls"><a href="#" class="btn btn-link">Vedi tutti</a></div -->
          </div>
        </div>
</div>