<div class="listview accountTransactionDetailPage"
	ng-controller="orderHistoryCtrl" ng-show="showRequestBase">

	<p class="left selectOrderLines">{{'CON_SELECT_ORDER' | translate}}</p>

	<div class="new-search clr_left">
		<p ng-model="isCollapsed" ng-click="isCollapsed = !isCollapsed">
			{{'CON_NEW_SEARCH' | translate}} <a
				ng-class="{'exp-collapse-arrow': !isCollapsed, 'exp-plus-arrow': isCollapsed}">{{'CON_NEW_SEARCH'
				| translate}}</a>
		</p>
		<div class="sep"></div>
		<div ng-show="isCollapsed">
			<form class="search-form" role="form" ng-submit="submitFilter()"
				name="searchForm">
				<div ng-repeat="filter in filterList.getFilters()">
					<div ng-show="filter.isEnabled" class="search-form-wrapper">
						<label for="filter.filterParam">{{filter.filterName |
							translate}} :</label> <span ng-show="filter.isInputList">
							<div class="select-style">
								<select name="" id="filter.filterParam"
									ng-model="filter.selectedItems">
									<option ng-if="filter.filterName == 'CON_RESULTS_PER_PAGE'"
										ng-repeat="resultperPage in resultPerPageList"
										ng-selected="resultperPage == filter.resultCount">{{resultperPage}}</option>
									<option ng-if="filter.filterName == 'CON_CUSTOMER'"
										ng-repeat="item in filter.dataList" ng-value="item.code"
										ng-selected="item.defaultCode == item.code">
										{{item.description}}</option>
									<option ng-if="filter.filterName != 'CON_CUSTOMER'"
										ng-repeat="item in filter.dataList" ng-value="item.code"
										ng-selected="filterDetailSettings[filter.dataListName][0].code == item.code">
										{{item.description}}</option>
								</select>
							</div>
						</span> <span ng-show="!filter.isInputList"> <input
							ng-if="filter.numericType" type="text" id="filter.filterParam"
							name="filter.filterParam" ng-model="filter.selectedItems"
							ng-blur="validateNumber(filter,filter.selectedItems)"
							ng-mouseleave="validateNumber(filter,filter.selectedItems)" /> <span
							ng-if="filter.numericType"><p class="validationMsg ">
									{{filter.validationMsg}}</p> </span> <input ng-if="!filter.numericType"
							type="text" id="filter.filterParam" name="filter.filterParam"
							ng-model="filter.selectedItems" />
						</span>

					</div>
				</div>
				<div class="submit clr_both">
					<button class="yellowButton right"
						ng-disabled="isFilterHasError(filterList.getFilters())">{{'CON_START_SEARCH'
						| translate}}</button>
				</div>
			</form>
		</div>
		<p class="clr_left" ng-bind-html="renderHtml(filterMsg)"></p>
	</div>
	<div ng-show="isShowInnerLoader()" class="pageLoader">
		<div class="inner"></div>
	</div>

	<div class="scrollTableTop" id="result_set"></div>
	<div class="left fullWidth">
		<table id="order_history_tbl_id" class="table table-striped table-hover table-orders table-detail-order">
			<thead>
				<tr>
					<th>
						<div>
							<span>{{'CON_SELECT' | translate}} </span>
						</div>

					</th>
					<th class="txt_right">
						<div class="sorting contentRight paddingRight">
							<span>{{'CON_ORDER' | translate}}</span>
						</div>
					</th>
					<th>
						<div class="sorting">
							<span>{{'COH_CUSTOMER' | translate}}</span>
						</div>
					</th>
					<th>
						<div class="sorting">
							<span>{{'CON_ORDER_DATE' | translate}} </span>
						</div>
					</th>
					<th>
						<div class="sorting">
							<span> {{'CON_STATUS' | translate}}</span>
						</div>
					</th>
					<th class="txt_right">
						<div class="sorting contentRight paddingRight">
							<span>{{'CON_ORDER_VALUE' | translate}} </span>
						</div>
					</th>
					<th>
						<div class="sorting">
							<span>{{'CON_HANDLER' | translate}}</span>
						</div>
					</th>
					<th>
						<div class="sorting">
							<span>{{'CON_YOUR_ORDER_NUMBER' | translate}} </span>
						</div>
					</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="row in orderData">
					<td><input name="order" type="radio"
						ng-model="selectedRequest['order']" ng-value="row" value="{{row}}"
						ng-checked="selectedRequest.order.orderNumber == row.orderNumber"
						ng-click="selectedRequest['selected']= true" /></td>
					<td><div class="txt_right">
							<a href="" ng-click="showOrderDetail(row,false)">{{row.orderNumber}}</a>
						</div></td>
					<td><div class="txt_right">
							<a href="" ng-click="showOrderDetail(row,false)">{{row.transportNoteNumber}}</a>
						</div></td>
					<td>{{row.customer}}</td>
					<td>{{row.orderDate}}</td>
					<td><span ng-show="row.isOrderHeldFlag"><a
							style="cursor: default !important;" class="OrderHeld-icon"
							shref="" title="{{'CON_ORDER_HELD' | translate}}"></a> </span> <span
						ng-show="!row.isOrderHeldFlag">{{row.status}}</span></td>
					<td><span ng-show="row.isOrderValueFlag"><a
							style="cursor: default !important;" class="OrderInformation-icon"
							shref="" title="{{row.orderValue}}"></a></span>
						<div class="txt_right">
							<span ng-show="!row.isOrderValueFlag">{{row.orderValue}}</span>
						</div></td>
					<td>{{row.handler}}</td>
					<td>{{row.yourOrderNo}}</td>
				</tr>
				<tr ng-show="!dataFound">
					<td colspan="8">{{pageLoadMsg}}</td>
				</tr>

			</tbody>
		</table>
		<div class="sep_tbl"></div>
		<div class="buttonWrapper clr_left right">
			<a class="backButton left" href="" ng-click="goBack()">{{'CON_BACK'
				| translate}} </a>
			<button class="closeCart right"
				ng-disabled="!selectedRequest['selected']" type="button"
				ng-click="showOrderDetail(selectedRequest['order'],true)()">{{'CON_SELECT_ORDER_LINES'|
				translate}}</button>

		</div>
		<div class="buttonWrapper clr_left left">
			<button href="" class="goFirstArrow left"
				ng-disabled="paginationObj.isFirstPage()" ng-click="getFirstPage()"
				title="{{'CON_FIRST_PAGE' | translate}}">{{'CON_FIRST_PAGE'
				| translate}}</button>
			<button href="" class="previousArrow left"
				ng-disabled="paginationObj.isFirstPage()" ng-click="previousPage()"
				title="{{'CON_PREVIOUS_PAGE' | translate}}">{{'CON_PREVIOUS_PAGE'
				| translate}}</button>
			<button href="" class="nextArrow"
				ng-disabled="!dataFound || !moreDataArrow" ng-click="nextPage()"
				title="{{'CON_NEXT_PAGE' | translate}}">{{'CON_NEXT_PAGE' |
				translate}}</button>
		</div>


	</div>
</div>

