<div ng-controller="prodSearchCtrl" class="productSearchResult">
	        <div class="search-results-page">
          <div class="search-infos">
            <h2>Risultati della ricerca</h2>
            <!-- p>8 prodotti trovati</p-->
          </div>
          <div class="advanced-search">
            <div id="accordion-search" role="tablist" aria-multiselectable="true" class="panel-group">
              <div class="panel panel-default">
                <button type="button" data-toggle="collapse" data-target="#advSearch" class="button-search collapsed"><span>{{'CON_PRODUCT_SEARCH_ADVANCED' | translate}}</span></button>
                <div id="advSearch" role="tabpanel" aria-labelledby="headingAdvSearch" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="maw-cont">
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="{{'COH_PRODUCT_CODE' | translate}}">{{'COH_PRODUCT_CODE' | translate}}</label>
                            <input type="text" id="" placeholder="{{'COH_PRODUCT_CODE' | translate}}" class="form-control" ng-model="productCodeSearchText" on-Enter="advanceSearch(true)">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="{{'COH_DESCRIPTION' | translate}}">{{'COH_DESCRIPTION' | translate}}</label>
                            <input type="text" id="{{'COH_DESCRIPTION' | translate}}" placeholder="{{'COH_DESCRIPTION' | translate}}" ng-model="productDescSearchText" on-Enter="advanceSearch(true)" class="form-control">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="{{'CON_MINSAN_CODE' | translate}}">{{'CON_MINSAN_CODE' | translate}}</label>
                            <input type="text" id="{{'CON_MINSAN_CODE' | translate}}" placeholder="{{'CON_MINSAN_CODE' | translate}}" ng-show="webSettings.showMinsanCodeColumn" ng-model="minsanCodeSearchText" on-Enter="advanceSearch(true)" class="form-control">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="{{'CON_EAN_CODE' | translate}}">{{'CON_EAN_CODE' | translate}}</label>
                            <input type="text" id="{{'CON_EAN_CODE' | translate}}" placeholder="{{'CON_EAN_CODE' | translate}}" ng-show="webSettings.showEanCodeColumn" ng-model="eanCodeSearchText" on-Enter="advanceSearch(true)" class="form-control">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="{{'CON_SUBSTANCE_NAME' | translate}}">{{'CON_SUBSTANCE_NAME' | translate}}</label>
                            <input type="text" id="{{'CON_SUBSTANCE_NAME' | translate}}" placeholder="{{'CON_SUBSTANCE_NAME' | translate}}" ng-show="webSettings.showSubstanceNameColumn" ng-model="substanceNameSearchText" on-Enter="advanceSearch(true)" class="form-control">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="{{'CON_MANUFACTURER_NAME' | translate}}">{{'CON_MANUFACTURER_NAME' | translate}}</label>
                            <input type="text" id="{{'CON_MANUFACTURER_NAME' | translate}}" placeholder="{{'CON_MANUFACTURER_NAME' | translate}}" ng-show="webSettings.showManufacturerNameColumn" ng-model="manufacturerNameSearchText" on-Enter="advanceSearch(true)" class="form-control">
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <button type="submit" class="btn btn-primary pull-right" ng-click="advanceSearch(true)">{{'CON_SEARCH' | translate}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       
        <div class="top-selectors" ng-show="isLoggedIn()">
        <div class="head-catalog" id="visuAffix">
          <div class="row">
            <div class="col-sm-4">
           		<span ng-if="webSettings.showCatalogueBreadcrumb" class= "breCru">
                  	<a ng-click="showCatalogFromProd(subCatalogueBeanListBred)" title="{{subCatalogueBeanListBred.description}}">{{subCatalogueBeanListBred.description}} </a><a ng-click="showCatalogFromProd(menu)" ng-repeat="menu in subCatalogueBeanListBred.subCatalogueBeanList"   title="{{menu.description}}">{{menu.description}} </a>
				</span>
            </div>
            <div class="col-sm-5 text-center">
	            <div class="visu-type acq-type" ng-if="webSettings.allowSelectUnitOfMeasure && isLoggedIn()">
                   		<label>Acquista in:</label>
                      <label>
				  		<input type="radio" ng-model="freeSearchObj.packPiece" value="CF" ng-change="setTipoVendita('CF')">Confezioni
				  	</label>
                      <label>
						<input type="radio" ng-model="freeSearchObj.packPiece" value="PZ" ng-change="setTipoVendita('PZ')">Pezzi &nbsp;
					</label>
                </div>
                </div>
                <div class="col-sm-3 text-right">
              <div class="catalog-view-controls">
              	<span class="label-actions">{{'COH_VIEW' | translate}}</span>
              </div>
              <ul class="nav nav-tabs"> 
                <li ng-class="{'active':!isList}"> 
                	<a href="javascript:void(0);" class="catalog-view-grid" ng-click="changeView();">
                		<i class="fa fa-th"></i>
                	</a>
                </li>
                <li ng-class="{'active':isList}"> 
                	<a href="javascript:void(0);" class="catalog-view-list" ng-click="changeView();">
                		<i class="fa fa-th-list"></i>
                	</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    
	<div class="resultsMainWrapper marginTop">
		<section id="productSearchResultView">
			<div class="countMsg left errorMsg" ng-show="errorMsg != null">{{errorMsg}} </div> 
			<div ui-view="productSearchResultView"></div>
		</section>
	</div>
</div>

<script>
jQuery(document).ready(function(){
	jQuery('#visuAffix').affix({
	    offset: {
	        top: 250
	    }
	});
});
</script>