<div ng-show="ready" ng-controller="productDetailCtrl">
<div class="product-detail">
  	<div class="return-back">
  	<div class="row">
  		<div class="col-sm-6 rback-btn">
	  		<a href="javascript:void(0)" class="goback-btn btn btn-primary" ng-click="goBack()">
	  			<i class="fa fa-arrow-circle-o-left"></i><span>{{'CON_BACK' | translate}}</span>
	  		</a>
  		</div>
			<div class="visu-type acq-type col-sm-6 text-right" ng-if="webSettings.allowSelectUnitOfMeasure && isLoggedIn()">
	        	<label>Acquista in:</label>
	            <label>
		  			<input type="radio" ng-model="freeSearchObj.packPiece" value="CF" ng-change="setTipoVendita('CF')">Confezioni
		  		</label>
	            <label>
					<input type="radio" ng-model="freeSearchObj.packPiece" value="PZ" ng-change="setTipoVendita('PZ')">Pezzi &nbsp;
				</label>
			</div>
  	</div>
  	</div>
  <div class="clearfix">
    <div class="col-sm-3">
      <div class="product-image noslider">
        <div class="carousel-first-image">
          <div>
            <figure>
            
            <img ng-if="prdDetail.prdInfo.isRelative" ng-src="{{BASE_ADDRESS}}{{prdDetail.prdInfo.attentionImageURL}}" ng-show="prdDetail.prdInfo.isShowAttentionImage"/>
			<img ng-if="!prdDetail.prdInfo.isRelative" ng-src="{{prdDetail.prdInfo.attentionImageURL}}" ng-show="prdDetail.prdInfo.isShowAttentionImage"/>
			<img ng-show="smallSlider.hasNoImage()" ng-src="{{smallSlider.getDefaultImage()}}" />
			<img ng-repeat="slide in smallSlider.getAllImages()" ng-show="smallSlider.getCurrentIndex()==$index" ng-src="{{slide}}" ng-click="openImageDlg(smallSlider.getAllImages(),$index)" onerror="getDefaultImg(this);">
			
			</figure>
          </div>
        </div>
        <div class="slider-nav">
          <div ng-repeat="slide in smallSlider.currentImageGroup()">
			<figure><img ng-src="{{slide}}" onerror="getDefaultImg(this);"/></figure>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <!-- h3>Chirurgici e sterilizzazione</h3-->
      <h1>{{prdDetail.prdInfo.itemDesc}}<a href="javascript:void(0);" title="{{'CON_CLICK_TO_SEND_EMAIL_ENQUIRY_PRODUCT' | translate }}" ng-click="sendPrdEnquiry(prdDetail.prdInfo.itemCode,prdDetail.prdInfo.itemDesc)" class="take-info fa fa-envelope"></a></h1>
      <div ng-show="isMatrixBasedItem && !matrixItemList[0].isShowTableViewForMatrixItems" class="unitsWrapper">
			<div class="matrixDesc">
				<label>{{matrixItemList[0].segmentationDesc2}}:</label> 
				<div class="select-style">
				 <select ng-model="prdDetail.selectedSeg2" ng-options="item.key for item in prdDetail.matrixRowList" 
				 ng-change="getSegmentationDesc3()" > </select>
				 </div>
			</div>
			<div class="matrixDesc">
				<label>{{matrixItemList[0].segmentationDesc3}}:</label>
				<div class="select-style">
				<select ng-model="prdDetail.selectedSeg3" ng-options="item.key for item in prdDetail.matrixColumnList" 
				ng-change="getMatrixChildDetail(prdDetail.getParamsForMatrixItem(),prdDetail.quantity,prdDetail.validQuantity);showPriceOnQuantity(prdDetail.prdInfo,prdDetail.quantity,prdDetail,prdDetail.validQuantity)" > </select>
				</div>
			</div>
		</div>
      <div class="ibs" ng-show="prdDetail.prdInfo.additionalDescription.length > 0">
      		{{prdDetail.prdInfo.additionalDescription}}
      </div>
      <div class="code-procuct">{{prdDetail.prdInfo.minsanCode}}</div>
      <div class="row">
        <div class="col-sm-12">
          <div class="selector-uv">
            <label>{{'CON_SALES_UNIT' | translate}}</label>
            {{prdDetail.prdInfo.salesUnitDesc}}
          </div>
        </div>
        <div class="col-sm-12 col-md-6 mobile-width">
          
          <div ng-if="webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE'">
          <table class="table-prices">
            <tr class="text-right">
              	<td colspan="3" class="percent-sold">
              		
				</td>
            </tr>
            <tr class="prices-row">
              <td class="label-td">Prezzo</td>
              <td class="price-ltrough">
              	
              </td>
              <td class="price">
					<span ng-click="showPriceCalcDlgFromItemDetail(prdDetail.prdInfo)">
						{{prdDetail.prdInfo.discountPrice}}  {{webSettings.currencyCode}} 
					</span>
				</td>
            </tr>
            <tr>
              <td></td>
              <td colspan="2" class="text-center">{{prdDetail.prdInfo.salesUnitDesc}}</td>
            </tr>
          </table>
			<!-- span class="finalPrice" style="cursor: default;" ng-click="showPriceCalcDlgFromItemDetail(prdDetail.prdInfo)">
				{{prdDetail.prdInfo.discountPrice}}  {{webSettings.currencyCode}} 
			</span-->
		</div>
		
		<div ng-if="webSettings.allowDiscountDisplay=='*ALL_PRICE'">
		<table class="table-prices">
            <tr class="text-right">
              	<td colspan="3" class="percent-sold">
				</td>
            </tr>
            <tr class="prices-row">
              <td class="label-td">Prezzo</td>
              <td class="price-ltrough">
	              	<span>{{prdDetail.prdInfo.actualPrice}}  {{webSettings.currencyCode}}</span> 
              </td>
              <td class="price">
					<span ng-show="convertAsNumber(prdDetail.prdInfo.discountPrice) > 0" ng-click="showPriceCalcDlgFromItemDetail(prdDetail.prdInfo)">
						{{prdDetail.prdInfo.discountPrice}}  {{webSettings.currencyCode}} 
					</span> 
				</td>
            </tr>
            <tr>
              <td></td>
              <td colspan="2" class="text-center">{{prdDetail.prdInfo.salesUnitDesc}}</td>
            </tr>
          </table>
			<!-- span ng-class="{'actPrice': convertAsNumber(prdDetail.prdInfo.discountPrice) > 0}" style="cursor: default;" class="finalPrice">
				{{prdDetail.prdInfo.actualPrice}}  {{webSettings.currencyCode}}  
			</span> 
			<span ng-show="convertAsNumber(prdDetail.prdInfo.discountPrice) > 0" 
					class="finalPrice" style="cursor: default;" 
					ng-click="showPriceCalcDlgFromItemDetail(prdDetail.prdInfo)">
					{{prdDetail.prdInfo.discountPrice}}  {{webSettings.currencyCode}} 
			</span--> 
		</div>
		
		<div ng-if="webSettings.allowDiscountDisplay=='*ACTUAL_PRICE'">
		<table class="table-prices">
            <tr class="text-right">
              	<td colspan="3" class="percent-sold">
				</td>
            </tr>
            <tr class="prices-row">
              <td class="label-td">Prezzo</td>
              <td class="price-ltrough">
              </td>
              <td class="price">
					<span ng-click="showPriceCalcDlgFromItemDetail(prdDetail.prdInfo)">
						{{prdDetail.prdInfo.actualPrice}}  {{webSettings.currencyCode}}  
					</span> 
				</td>
            </tr>
            <tr>
              <td></td>
              <td colspan="2" class="text-center">{{prdDetail.prdInfo.salesUnitDesc}}</td>
            </tr>
          </table>
			<!-- span style="cursor: default;" class="finalPrice" 
					ng-click="showPriceCalcDlgFromItemDetail(prdDetail.prdInfo)">
					{{prdDetail.prdInfo.actualPrice}}  {{webSettings.currencyCode}}  
			</span--> 
		</div>
		
		<div ng-if="webSettings.allowDiscountDisplay=='*ALL'">
			<table class="table-prices" ng-show="convertAsNumber(prdDetail.prdInfo.discountPrice) <= 0">
            <tr class="text-right">
              	<td colspan="3" class="percent-sold">
				</td>
            </tr>
            <tr class="prices-row">
              <td class="label-td">Prezzo</td>
              <td colspan="2" class="price" style="text-align:center;">
					<span	ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" 
              				ng-click="showPriceCalcDlgFromItemDetail(prdDetail.prdInfo)">
              				{{prdDetail.prdInfo.actualPrice}} {{webSettings.currencyCode}}
              		</span>
				</td>
            </tr>
            <tr>
              <td></td>
              <td colspan="2" class="text-center">{{prdDetail.prdInfo.salesUnitDesc}}</td>
            </tr>
          </table>
          <table class="table-prices" ng-show="convertAsNumber(prdDetail.prdInfo.discountPrice) > 0">
            <tr class="text-right">
              	<td colspan="3" class="percent-sold">
              		 <span ng-show="convertAsNumber(prdDetail.prdInfo.discountPrice) > 0">{{prdDetail.prdInfo.discountPercentage}} %</span>
				</td>
            </tr>
            <tr class="prices-row">
              <td class="label-td">Prezzo</td>
              <td class="price-ltrough">
              	<span ng-class="{'actPrice': convertAsNumber(prdDetail.prdInfo.discountPrice) > 0}" 
              			style="cursor: default;" class="finalPrice" 
              			ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" 
              			ng-click="showPriceCalcDlgFromItemDetail(prdDetail.prdInfo)">
              			{{prdDetail.prdInfo.actualPrice}} {{webSettings.currencyCode}}
              	</span>
              </td>
              <td class="price">
					<span ng-show="convertAsNumber(prdDetail.prdInfo.discountPrice) > 0"
              				ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" 
              				ng-click="showPriceCalcDlgFromItemDetail(prdDetail.prdInfo)">
              				{{prdDetail.prdInfo.discountPrice}} {{webSettings.currencyCode}} 
              		</span>
				</td>
            </tr>
            <tr>
              <td></td>
              <td colspan="2" class="text-center">{{prdDetail.prdInfo.salesUnitDesc}}</td>
            </tr>
          </table>
          	<!-- span ng-class="{'actPrice': convertAsNumber(prdDetail.prdInfo.discountPrice) > 0}" style="cursor: default;" class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlgFromItemDetail(prdDetail.prdInfo)">{{prdDetail.prdInfo.actualPrice}} {{webSettings.currencyCode}}  </span>
			<span ng-show="convertAsNumber(prdDetail.prdInfo.discountPrice) > 0" style="cursor: default;" class="discount">{{prdDetail.prdInfo.discountPercentage}} %</span>
			<span ng-show="convertAsNumber(prdDetail.prdInfo.discountPrice) > 0" class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlgFromItemDetail(prdDetail.prdInfo)">{{prdDetail.prdInfo.discountPrice}} {{webSettings.currencyCode}} </span--> 
		</div>
        </div>
        <div class="col-sm-12 col-md-6 mobile-width">
          <!-- addcart-->
          <div class="padd-atc">
            <div class="add-cart-quantity">
	            <input id="getId('text',productDetails.itemCode)" 
	            ng-keyup="$event.keyCode == 13 ? buyItem() :null"
	            ng-change="checkValidQuantity(prdDetail,prdDetail.quantity); showPriceOnQuantity(prdDetail.prdInfo,prdDetail.quantity,prdDetail,prdDetail.validQuantity)" ng-model="prdDetail.quantity" type="text" class="form-control" ng-class ="{ 'error': !prdDetail.validQuantity, '' : prdDetail.validQuantity}" ng-change="checkValidQuantity(prdDetail,prdDetail.quantity)" title="{{prdDetail.quantityBoxMsg}}"/>
			 	<a class="grossAmountValue" ng-show="prdDetail.validQuantity && webSettings.showPriceCalculation" ng-bind="netValue"></a>
            </div>
            <div class="cart-action">
				<button  class="addToCart-btn col-primary-01 btn"
						 ng-if="prdDetail.prdInfo.itemClass == 1" 
						 ng-show="isNormalItem || isComponentItem || isMatrixBasedItem" 
						 ng-disabled="!prdDetail.prdInfo.isBuyAllowed" 
						 ng-class="{'disabled': prdDetail.prdInfo.isBuyAllowed == false, 
						 			'addedInCart':isShopCartItem(prdDetail.prdInfo.itemCode)==true
						 			 }" 	
						 			type="button" ng-click="buyItem()">
						<i class="fa fa-inverse fa-cart-arrow-down"></i>
						<i aria-hidden="true" class="fa fa-inverse fa-check" ng-show="isShopCartItem(prdDetail.prdInfo.itemCode)" title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></i>
				</button>
				<button ng-if="prdDetail.prdInfo.itemClass == 2" type="button" class="btn btn-info notification-btn procura-btn" ng-click="showBtbDlgItemDetails(prdDetail.prdInfo, smallSlider.getAllImages()[smallSlider.getCurrentIndex()])" title="{{'COH_PROCURE_THE_ITEM' | translate}}">{{'CON_BTB' | translate}}</button>
				<button class="btn btn-warning" ng-disabled="disableShoppingList(prdDetail.isMatrixBaseItem) || prdDetail.selectedUnitObject == null" ng-class="{'disabled': !isSignedIn}" ng-click="addItem();"><i aria-hidden="true" class="fa fa-star">  </i></button>
			</div>
            </div>
          </div>
        </div>
      </div>
		<div class="row">
			<div class="col-sm-6">
				<div class="col-sm-4">
				</div>
				<div class="col-sm-4 text-center">
					<i class="fa fa-tags fa-2" title="{{'CON_PROMOTIONAL_ITEM' | translate}}" ng-show="cat.hasPromoP1OrP2 && !hospital"></i>
				</div>
				<div class="col-sm-4 ">
					<i class="fa fa-h-square fa-2 pull-right" ng-show="cat.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}"></i>
				</div>
			</div>
			<div class="col-sm-6"></div>
		</div>
    </div>
  </div>
  <div class="product-tabs">
    <div>
    	<ul role="tablist" class="nav nav-tabs">
	        <li role="presentation" ng-repeat="tab in productInfoTabs" ng-class="{active:isActiveTab(tab.url)}">
	        	<a href="javascript:void(0);" aria-controls="{{tab.title}}" role="tab" data-toggle="tab" ng-click="onClickTab(tab)" ng-show="tab.isEnabled">{{tab.title}}</a>
	        </li>
	    </ul>

      <!-- Tab panes-->
      <div class="tab-content">
      	<div ng-include="currentTab"></div>
      </div>
    </div>
  </div>

	
	<script type="text/ng-template" id="specifications.html">
		<div id="spec" role="tabpanel" class="tab-pane active">
			<div class="padd">
            <div class="text">   
              <p>{{'COH_PRODUCT_CODE' | translate}} : {{prdDetail.prdInfo.itemCode}}</p>
              <p>{{'CON_SUBSTANCE_NAME' | translate}}: {{productDetails.federfarmaBean.substanceName}} ({{productDetails.federfarmaBean.substanceCode}})</p>
			  <p>{{'CON_MANUFACTURER_NAME' | translate}} : {{productDetails.federfarmaBean.manufacturerName}} ({{productDetails.federfarmaBean.manufacturerCode}})</p>
				<p>{{'CON_NET_VOLUME' | translate}} : {{productDetails.netVolume}}</p>
				<p>{{'COH_GROSS_VOLUME' | translate}} : {{productDetails.grossVolume}}</p>
				<p>{{'CON_NET_WEIGHT' | translate}} : {{productDetails.netWeight}}</p>
				<p>{{'CON_GROSS_WEIGHT' | translate}} : {{productDetails.grossWeight}}</p>
				<p>{{'COH_LENGTH' | translate}} : {{productDetails.length}}</p>
				<p>{{'COH_HEIGHT' | translate}} : {{productDetails.height}}</p>
				<p>{{'COH_WIDTH' | translate}} : {{productDetails.width}}</p>
				<p ng-show ="productDetails.category1 != null">{{productDetails.category1Description}} : {{productDetails.category1}}</p>
				<p ng-show ="productDetails.category2 != null">{{productDetails.category2Description}} : {{productDetails.category2}}</p>
				<p ng-show ="productDetails.category3 != null">{{productDetails.category3Description}} : {{productDetails.category3}}</p>
				<p ng-show ="productDetails.category4 != null">{{productDetails.category4Description}} : {{productDetails.category4}}</p>
				<p ng-show ="productDetails.category5 != null">{{productDetails.category5Description}} : {{productDetails.category5}}</p>
				<p ng-show ="productDetails.category6 != null">{{productDetails.category6Description}} : {{productDetails.category6}}</p>
				<p ng-show ="productDetails.alpha1 != null">{{productDetails.alpha1Description}} : {{productDetails.alpha1}}</p>
				<p ng-show ="productDetails.alpha2 != null">{{productDetails.alpha2Description}} : {{productDetails.alpha2}}</p>
				<p ng-show ="productDetails.userDefinedNumericField1 != null">{{productDetails.userDefinedNumericField1Description}} : {{productDetails.userDefinedNumericField1}}</p>
				<p ng-show ="productDetails.userDefinedNumericField2 != null">{{productDetails.userDefinedNumericField2Description}} : {{productDetails.userDefinedNumericField2}}</p>
            </div>
			<p ng-repeat = "rc in resourceBeanList" ng-show="rc.listOfRT.length > 0 ">
		 			<a href = "{{rc.listOfRT[$index]}}" target="_blank" ng-repeat="list in rc.resourceListDesc "  class="link-download-pdf">{{rc.resourceDescName[$index]}}<br/></a>
		 		</p>		 	
		 		<p ng-repeat =" web in webLink"><a href = "{{web.linkAddress}}" target="_blank">{{web.linkDescription}}</a></p>
		</div>
	</script>

		<script type="text/ng-template" id="overview.html">
		<div id="overview" role="tabpanel" class="tab-pane active">
			<div class="padd">
				<div class="text">
				<p ng-bind-html="renderHtml(productDetails.itemWebText)"></p>
				<p ng-bind-html="renderHtml(productDetails.itemSharedWebText)"></div>
				</div>	
			</div>		 		
		</div>
		</script>
	
	<script type="text/ng-template" id="catalogProdDetail.html">
	
		<div id="overview" role="tabpanel" class="tab-pane active">
		
            <ul class="catList"  >
               <li  class="" ng-repeat="menu in subCatalogueBeanList" 
                  ng-include = "'cat_renderer.html'"  >
               </li>
            </ul>
			</div>		
	</script>
	<script type="text/ng-template" id="cat_renderer.html">
		<div id="cat_renderer" role="tabpanel" class="tab-pane active">
               <a ng-click="showCatalogFromProd(menu)"  title="{{menu.description}}"> {{menu.description}} </a>
                 <ul class="catList" style="display:-moz-inline-box;display: -webkit-inline-box;"> <li ng-repeat = "menu in menu.subCatalogueBeanList"
                      ng-include = "'cat_renderer.html'"></li>
               </ul>
		</div>
                   
    </script>
	
	<script type="text/ng-template" id="warehouse.html">
		<div id="whs" role="tabpanel" class="tab-pane active">
			<div class="padd">
            	<div class="text" ng-repeat="ws in warehouseBeanList">   
              		<p>{{'CON_WAREHOUSE_CODE' | translate}} : {{ws.wareHouseCode}}</p>
              		<p>{{'COH_DESCRIPTION' | translate}}: {{ws.description}}</p>
					<hr ng-show="$index!=(warehouseBeanList.length-1)"/>
            	</div>
          </div>
		</div>
	</script>
	<div>
		<div class="sep"></div>
		<div ui-view="alternativeItemsView"></div>
	</div>
	<div>
		<div class="sep"></div>
		<div class="scrollTableTop" id = "result_set">
		<section id="promotionSection" ui-view="promotionSection"></section>
		</div>
	</div>
</div>
