            <div class="catalog-hp">
              <div class="catalog-hp-products visu-list">
                <div class="visu-type">
                  <form>
                    <label>{{'CON_EXTENDED_INFO' | translate}}: </label>
                    <div class="radio">
                      <label>
                        <input type="radio" ng-model="prdSearchShowExtendInfo" ng-value="ExtendedInfoOption1" name="CatalogueRB" class="" ng-checked="ExtendedInfoOption1 == prdSearchShowExtendInfo" ng-change="$parent.prdSearchShowExtendInfo = true">{{'CON_YES' | translate}}
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                      	<input type="radio" ng-model="prdSearchShowExtendInfo" ng-value="ExtendedInfoOption2" value="{{ExtendedInfoOption2}}" name="CatalogueRB" class="" ng-checked="ExtendedInfoOption2 == prdSearchShowExtendInfo" ng-change="$parent.prdSearchShowExtendInfo = false">{{'CON_NO' | translate}}
                      </label>
                    </div>
                  </form>
                  <!-- div class="right download">
				   		<a href="" class="right" ng-show="webSettings.showXmlIcon" title="{{'CON_PRODUCT_SEARCH_XML' | translate}}"> <img ng-src="./images/XML.png" ng-click="exportPrdSearchData('xml')" /> </a> 
				 		<a href="" class="right" ng-show="webSettings.showExcelIcon" title="{{'CON_PRODUCT_SEARCH_EXCEL' | translate}}"> <img ng-src="./images/Excel.png" ng-click="exportPrdSearchData('xls')" /> </a>
						<a href="" class="right" ng-show="webSettings.showPdfIcon" title="{{'CON_PRODUCT_SEARCH_PDF' | translate}}"> <img ng-src="./images/PDF.png" ng-click="exportPrdSearchData('pdf')" /> </a>
				  
					<button ng-show="prdSearchTblHeaders.isBuyingAllowed" type="button" name="" value="" class="buyIcon" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}"
					ng-click="buyItems()" >{{'CON_BUY' | translate}}</button>
					<button type="button" ng-show="isSignedIn" name="" value="" class="addToList" title={{addToListText}} ng-click="addMultipleItemsToCurrentList();">{{'CON_ADD_TO_LIST' | translate}}</button> 
				  </div-->
                </div>
                
                
                
                
                
                
                
                
                <div class="table-responsive table-list-products">
                  <table class="table">
                    <thead>
                      <tr>
                        <th  ng-show="prdSearchShowExtendInfo==true">Immagine</th>
                        <th>{{'CON_MINSAN_CODE' | translate}}</th>
                        <th>{{'COH_DESCRIPTION' | translate}}</th>
                        <th>{{'COH_UNIT' | translate}}</th>
                        <th ng-show="prdSearchTblHeaders.actualPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')" >
							{{ 'COH_ACTUAL_PRICE' |  translate }} {{webSettings.currencyCode}}
						</th>
						<th ng-show="prdSearchTblHeaders.discountPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE')">
							{{ 'COH_DISCOUNT_PRICE' |  translate }} {{webSettings.currencyCode}}
						</th>
						<th ng-show="prdSearchTblHeaders.discountPercentage && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL')">
							{{ 'CON_DISCOUNT_%' |  translate }}
						</th>
                        <th>{{'COH_QUANTITY' | translate}}</th>
                        <th></th>
                        <th>{{'COH_ACTIONS' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in searchProductList | orderBy:['-sectorCode','priceForSort']">
                        <td ng-show="prdSearchShowExtendInfo==true">
                          <figure>
                          	<a href="javascript:void(0);" ng-click="showProductDetail(item.solrItemCode);">
                          		<img ng-src="{{BASE_ADDRESS}}{{item.imageUrl}}" onerror="getDefaultImg(this);">
                          	</a>
                          </figure>
                        </td>
                        <td>
                          <div class="product-code" ng-click="showProductDetail(item.solrItemCode);" >{{item.minsanCode}}</div>
                        </td>
                        <td>
                         	<h3>
                          		<a href="javascript:void(0);" ng-click="showProductDetail(item.solrItemCode);" >
                         			{{item.itemDescription}}
                         			<span ng-if="!webSettings.showFullWebTextInItemTable"  ng-show="prdSearchShowExtendInfo==true" ng-bind-html="renderHtml(item.itemWebText)"></span> 
           							<span ng-if="webSettings.showFullWebTextInItemTable"  ng-show="prdSearchShowExtendInfo==true" ng-bind-html="renderHtml(item.itemWebText)"></span>
                         		</a>
                         	</h3>
                        </td>
                        
                        <td>
                          <div class="uv-qty">
                            <label ng-if="webSettings.allowSelectUnitOfMeasure">
	                     		{{item.selectedUnitObject.salesUnitDesc}}
	                     	</label>
                        	<select ng-if="!webSettings.allowSelectUnitOfMeasure" ng-model="item.selectedUnitObject"  ng-options="unit.salesUnitDesc for unit in item.salesUnitsDesc track by unit.salesUnitDesc" ng-change="onUnitChange(item.solrItemCode,item.selectedUnitObject.salesUnit,item)"></select>  					
                          </div>
                        </td>
                        
                        <td ng-show="prdSearchTblHeaders.actualPrice && 
                        			 webSettings.isShowPrice && 
                        			 (	webSettings.allowDiscountDisplay=='*ALL' || 
                        			 	webSettings.allowDiscountDisplay=='*ALL_PRICE' || 
                        			 	webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')">
                        	<span ng-class="{'last-price':item.discountPrice}">
                        		<a href="javascript:void(0);" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(item)">
                        			{{item.actualPrice}}
                        		</a>
                        	</span>
                        </td>
                        
                        <td ng-show="prdSearchTblHeaders.discountPrice && 
                        			 webSettings.isShowPrice && 
                        			 (	webSettings.allowDiscountDisplay=='*ALL' || 
                        			 	webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || 
                        			 	webSettings.allowDiscountDisplay=='*ALL_PRICE')">
                        	<span class="percent-sold">
                        		<a href="javascript:void(0);" ng-show="webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE'" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(item)" >{{item.discountPrice}}</a> 
                        	</span>
                        </td>    
                        <td ng-show="prdSearchTblHeaders.discountPercentage && webSettings.isShowPrice && webSettings.allowDiscountDisplay=='*ALL'" class="txt_right">
                        	<span class="price-product">
                        	<a href="javascript:void(0);" ng-show="webSettings.allowDiscountDisplay=='*ALL'" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(item)">
                        		{{item.discountPercentageText}}
                        	</a> 
                        	</span>
                        </td>                
                        <td>
	                        <span ng-show="isSignedIn && !item.isMatrixBaseItem" class="left">
	    	          			<input ng-model="item.quantity" type="text" class="qty-selector" ng-keyup="$event.keyCode == 13 ? buyClicked(item): null" ng-class ="{ 'error': !item.validQuantity, '' : item.validQuantity}" ng-change="checkValidQuantity(item,item.quantity)" title="{{item.quantityBoxMsg}}"/> 
		              		</span>
                        </td>
                        <td>
                        	<i class="fa fa-tags fa-2" title="{{'CON_PROMOTIONAL_ITEM' | translate}}" ng-show="item.hasPromoP1OrP2 && !hospital"></i>
                        	<i class="fa fa-h-square fa-2" ng-show="item.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}"></i>
                        </td>
                        <td>
                        <div class="padd-addcart">
							<button class="addcart-btn btn col-primary-01"
									ng-if="item.itemClass == 1 && isTrue(item.isBuyingAllowed) && !item.isMatrixBaseItem" 
		                    		ng-disabled="disableCatalogBuy(item.isBuyingAllowed,item.isMatrixBaseItem)" 
		                    		ng-class="{'disabled': item.isBuyingAllowed == false, 'addedInCart':isShopCartItem(item.solrItemCode)==true , 'buy':isShopCartItem(item.solrItemCode)==false }"
		                    		ng-click="buyClicked(item)">
		                    		<i class="fa fa-inverse fa-cart-arrow-down"></i>
		                    		<i ng-show="isTrue(item.isBuyingAllowed) && !item.isMatrixBaseItem && isShopCartItem(item.code)" title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}" class="fa fa-inverse fa-check" aria-hidden="true"></i>
		                    </button>
							<button ng-if="item.itemClass == 2" type="button" style="width:80px;margin-right:10px;" class="btn btn-info procura-btn" ng-click="showBtbDlg(item)" title="{{'COH_PROCURE_THE_ITEM' | translate}}">{{'CON_BTB' | translate}}</button>
							<span ng-if="isSignedIn && !item.isMatrixBaseItem" ng-show = "item.selectedUnitObject != null" class="">
								<div class="store-wishlist">
									<a href="javascript:void(0);" ng-click="addItemToCurrentList(item);" class="btn-warning btn" ><i class="fa fa-inverse fa-star"></i></a>
								</div>
							</span> 
							<span ng-show="item.isMatrixBaseItem">
				               <a href=""  ng-click="showProductDetail(item.solrItemCode);">
				            	{{item.segmentationDesc2}}/{{item.segmentationDesc3}}</a>
				            </span>
					        <a href="" ng-show="hasAlternative(item)" ng-click="alternativeClicked(item.solrItemCode);">
					        	<button class="btn btn-info" title="{{'CON_ALTERNATIVES_ITEMS' | translate}}"><i class="fa fa-bars" aria-hidden="true"></i></button>
					        </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

<div ng-show="isShowBottomLoader()" class="loadInfoWrapper">{{'MSG_LOADING_MORE_ITEMS' | translate}}</div>