            <div class="catalog-hp">
              <div class="catalog-hp-products visu-grid clearfix">
              
                <div class="col-sm-3 product-block-item" ng-repeat="item in searchProductList | orderBy:['-sectorCode','priceForSort']">
                	<div class="prod-block-cnt">
                	
                  <div class="padd">
                    <figure ng-if="item.isRelative">
                    	<a href="javascript:void(0);" ng-click="showProductDetail(item.solrItemCode);">
                    		<img ng-src="{{BASE_ADDRESS}}{{item.attentionImageURL}}" ng-show="item.isShowAttentionImage" class="abs-image-product"/>
							<img class="prodImage" ng-src="{{BASE_ADDRESS}}{{item.imageUrl}}" onerror="getDefaultImg(this);">
                    	</a>
                    </figure>
                    <figure ng-if="!item.isRelative">
                    	<a	href="javascript:void(0);" ng-click="showProductDetail(item.solrItemCode);">
                    		<img ng-src="{{image.attentionImageURL}}" ng-show="image.isShowAttentionImage" class="abs-image-product"/>
							<img class="prodImage" ng-src="{{image.imageUrl}}" onerror="getDefaultImg(this);">
						</a>
                    </figure>
                    <div class="row">
                    	<div class="col-sm-4">
                    		<i class="fa fa-info-circle fa-2" title="{{'CON_QUICKINFO' | translate}}"  ng-click="showQuickViewDlg(item);"></i>
                    		<!--img class="quickInfoImage" ng-src="images/Information.png" title="{{'CON_QUICKINFO' | translate}}"  ng-click="showQuickViewDlg(item);"-->
						</div>
						<div class="col-sm-4 text-center">
							<i class="fa fa-tags fa-2" title="{{'CON_PROMOTIONAL_ITEM' | translate}}" ng-show="item.hasPromoP1OrP2 && !hospital"></i>
							<!--img class="promotionImage" ng-src="images/Available.png" title="{{'CON_PROMOTIONAL_ITEM' | translate}}" ng-show="item.hasPromoP1OrP2"-->
						</div>
						<div class="col-sm-4 ">
							<i class="fa fa-h-square fa-2 pull-right" ng-show="item.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}"></i>
							<!--img class="hospitalImage" ng-src="images/H.png" ng-show="item.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}"-->
                    	</div>
                    </div>
                    <div class="product-code">{{item.solrItemCode}}</div>
                    <h3><a href="javascript:void(0);" ng-click="showProductDetail(item.solrItemCode);" title="{{item.itemDescription}}">{{item.itemDescription}}</a></h3>
                    <div class="row unities">
                      <div class="col-sm-7">
                      	<span class="uv-label">{{'CON_SALES_UNIT' | translate}}:</span>
                      </div>
                      <div class="col-sm-5 uv-qty">
                      	<label ng-if="webSettings.allowSelectUnitOfMeasure">
                     	{{item.selectedUnitObject.salesUnitDesc}}
                     	</label>
                     	
                        <select ng-if="!webSettings.allowSelectUnitOfMeasure" ng-model="item.selectedUnitObject" ng-options="unit.salesUnitDesc for unit in item.salesUnitsDesc track by unit.salesUnitDesc" ng-change="onUnitChange(item.solrItemCode,item.selectedUnitObject.salesUnit,item)">  					
						</select>
                      </div>
                    </div>
                    <div class="availGridSpan" ng-if="webSettings.allowDiscountDisplay=='*ALL'" ng-show="webSettings.isShowPrice">
                    	<div>
	                    	<div class="last-prices-sold">
								<span ng-show="convertAsNumber(item.discountPercentage) > 0" ng-class="{'actPrice': convertAsNumber(item.discountPercentage) > 0, 'priceCalculationText': !isPriceCalculationEnabled}" class="last-price" ng-click="showPriceCalcDlg(item)">{{item.actualPrice}} {{webSettings.currencyCode}}</span>
								<span ng-show="convertAsNumber(item.discountPercentage) > 0" class="percent-sold">{{item.discountPercentage}}%</span>
							</div>
							<div ng-show="convertAsNumber(item.discountPercentage) > 0" class="price-product" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(item)">{{item.discountPrice}} {{webSettings.currencyCode}} </div> 
						</div>
						<div  ng-show="convertAsNumber(item.discountPercentage) <= 0">
							<div class="price-product" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(item)">{{item.actualPrice}} {{webSettings.currencyCode}}</div> 
						</div>
						<div class="price-for-kg">{{item.selectedUnitObject.salesUnitDesc}}</div>
					</div>
					<div ng-if="webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE'" ng-show="webSettings.isShowPrice">
						<div class="price-product" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(item)">{{item.discountPrice}} {{webSettings.currencyCode}}</div>
						<div class="price-for-kg">{{item.selectedUnitObject.salesUnitDesc}}</div>
					</div>
					<div ng-if="webSettings.allowDiscountDisplay=='*ALL_PRICE'" ng-show="webSettings.isShowPrice">
						<div ng-class="{'actPrice': convertAsNumber(item.discountPrice) > 0, 'priceCalculationText': !isPriceCalculationEnabled}" class="price-product" ng-click="showPriceCalcDlg(item)">{{item.actualPrice}} {{webSettings.currencyCode}}</div>
						<div ng-show="convertAsNumber(item.discountPrice) > 0" class="price-product" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(item)">{{item.discountPrice}} {{webSettings.currencyCode}}</div> 
						<div class="price-for-kg">{{item.selectedUnitObject.salesUnitDesc}}</div>
					</div>
					<div ng-if="webSettings.allowDiscountDisplay=='*ACTUAL_PRICE'" ng-show="webSettings.isShowPrice">
						<div class="price-product" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(item)">{{item.actualPrice}} {{webSettings.currencyCode}}</div> 
						<div class="price-for-kg">{{item.selectedUnitObject.salesUnitDesc}}</div>
					</div>
                  </div>
                  <span ng-show="item.isMatrixBaseItem">
                  		<a href="" ng-click="showProductDetail(item.solrItemCode);">{{item.segmentationDesc2}}/{{item.segmentationDesc3}}</a>
		          </span>
		        <div class="availHeight" ng-hide="webSettings.itemAvailabilityType == '*NO' || !isSignedIn" ng-show="isNormalItem || isComponentItem || !isMatrixOption2" class="left availability">
					<span ng-show="item.showAvailabilityAsLink && item.showAvailabilityAsImage"> 
						<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label> 
						<a href="" ng-click="showProductDetail(item.solrItemCode,true);">
							<img class="availImage" ng-src="images/{{item.availabilityImageName}}"  title="{{'CON_CLICK_TO_SEE_WH_INFO' | translate}}"/> 
						</a> 
					</span>
					<span ng-show="!item.showAvailabilityAsLink && item.showAvailabilityAsImage"> 
						<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label>
						<img ng-src="images/{{item.availabilityImageName}}"/>
					</span>  
					<span ng-show="item.showAvailabilityAsLink && !item.showAvailabilityAsImage"> 
						<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label>
						<a href="" ng-click="showProductDetail(item.solrItemCode,true);" >{{item.availabilityText}} </a>
					</span>
					<span ng-show="!item.showAvailabilityAsLink && !item.showAvailabilityAsImage"> 
						<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label> 
						<a href="" ng-click="showProductDetail(item.solrItemCode,true);">{{item.availabilityText}} </a>
					</span>
             	 </div>
                  <div class="padd-addcart">
                    <div class="store-addcart">
                      <div class="row">
                        <div class="col-sm-6">
                          <input type="text" value="1" ng-model="item.quantity" ng-keyup="$event.keyCode == 13 ? buyClicked(item) : null" ng-class ="{ 'error': !item.validQuantity, '' : item.validQuantity}" ng-change="checkValidQuantity(item,item.quantity)">
                        </div>
                        <div class="col-sm-6">
                        	<button ng-if="item.itemClass == 1" class="addcart-btn btn col-primary-01" 
		                    		ng-disabled="disableCatalogBuy(item.isBuyingAllowed,item.isMatrixBaseItem)" 
		                    		ng-class="{'disabled': item.isBuyingAllowed == false, 'addedInCart':isShopCartItem(item.solrItemCode)==true , 'buy':isShopCartItem(item.solrItemCode)==false }"
		                    		ng-click="buyClicked(item)">
		                    		<i class="fa fa-inverse fa-cart-arrow-down"></i>
		                    		<i ng-show="isShopCartItem(item.solrItemCode)" title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}" class="fa fa-inverse fa-check" aria-hidden="true"></i>
		                    </button>
		                    <button ng-if="item.itemClass == 2" type="button" class="btn btn-info procura-btn" ng-click="showBtbDlg(item)" title="{{'COH_PROCURE_THE_ITEM' | translate}}">{{'CON_BTB' | translate}}</button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                       	<div class="col-sm-6 store-wishlist">
                       		<a href="javascript:void(0);" class="btn-warning btn" ng-class="{'disabled': !isSignedIn}" ng-click="addItemToCurrentList(item);" ng-disabled="disableShoppingList(item.isMatrixBaseItem) || item.selectedUnitObject == null" ><i class="fa fa-inverse fa-star"></i></a>
                       	</div>
                       	<div class="col-sm-6">
                       		<a href="javascript:void(0);" ng-show="hasAlternative(item)" ng-click="alternativeClicked(item.solrItemCode);">
					        	<button class="btn btn-info" title="{{'CON_ALTERNATIVES_ITEMS' | translate}}"><i class="fa fa-bars" aria-hidden="true"></i></button>
					        </a>
                       	</div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
	<div ng-show="isShowBottomLoader()" class="loadInfoWrapper">{{'MSG_LOADING_MORE_ITEMS' | translate}}</div>