<div id="homeCatalogList" role="tabpanel" class="tab-pane active">
            <!-- start:_catalog-hp-->
            <div class="catalog-hp">
              <div class="catalog-hp-products visu-list">
                <div class="visu-type">
                  <form>
                    <label>{{'CON_EXTENDED_INFO' | translate}}: </label>
                    <div class="radio">
                      <label> 
                        <input type="radio" ng-model="promotionalShowExtendInfo" ng-value="ExtendedInfoOption1" value="{{ExtendedInfoOption1}}" name="CatalogueRB" class="" ng-checked="ExtendedInfoOption1 == promotionalShowExtendInfo" ng-change="$parent.promotionalShowExtendInfo = true">{{'CON_YES' | translate}}
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" ng-model="promotionalShowExtendInfo" ng-value="ExtendedInfoOption2" value="{{ExtendedInfoOption2}}" name="CatalogueRB" class="" ng-checked="ExtendedInfoOption2 == promotionalShowExtendInfo" ng-change="$parent.promotionalShowExtendInfo = false">{{'CON_NO' | translate}}
                      </label>
                    </div>
                  </form>
                </div>
                
                <div class="table-responsive table-list-products">
                  <table class="table">
                    <thead>
                      <tr>
                        <th ng-show="promotionalShowExtendInfo==true">Immagine</th>
                        <th>{{'CON_MINSAN_CODE' | translate}}</th>
                        <th>{{'COH_DESCRIPTION' | translate}}</th>
                        <th>{{'COH_UNIT' | translate}}</th>
                        <th  ng-show="webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')">
                        	{{'COH_ACTUAL_PRICE' | translate}} {{webSettings.currencyCode}}
                        </th>
                        <th  ng-show="webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE')">
                        	{{'COH_DISCOUNT_PRICE' | translate}} {{webSettings.currencyCode}}
                        </th>
                        <th ng-show="webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL')">
                        	{{'CON_DISCOUNT_%' | translate}}
                        </th>
                        <th>{{'COH_QUANTITY' | translate}}</th>
                        <th></th>
                        <th>{{'COH_ACTIONS' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="row in PromotionCatalog.productList | orderBy:['-sectorCode','priceForSort']">
                        <td ng-show="promotionalShowExtendInfo==true">
                          <figure>
                          	<a href="javascript:void(0);" ng-click="showProductDetail(row.code);">
                          		<img ng-src="{{BASE_ADDRESS}}{{row.imageUrl}}" onerror="getDefaultImg(this);">
                          	</a>
                          </figure>
                        </td>
                        <td>
                          <div class="product-code" ng-click="showProductDetail(row.code);" >{{row.minsanCode}}</div>
                        </td>
                        <td>
                         	<h3>
                          		<a href="javascript:void(0);" ng-click="showProductDetail(row.code);" >
                         			{{row.description}}
                         			<span ng-if="!webSettings.showFullWebTextInItemTable" ng-show="homeCatalogShowExtendInfo=='true'" ng-bind-html="renderHtml(row.itemWebText)"></span> 
           							<span ng-if="webSettings.showFullWebTextInItemTable" ng-show="homeCatalogShowExtendInfo=='true'" ng-bind-html="renderHtml(row.itemWebText)"></span>
                         		</a>
                         	</h3>
                        </td>
                        
                        <td>
                          <div class="uv-qty">
                            <label ng-if="webSettings.allowSelectUnitOfMeasure">
	                     		{{row.selectedUnitObject.salesUnitDesc}}
	                     	</label>
                        	<select ng-if="!webSettings.allowSelectUnitOfMeasure" ng-model="row.selectedUnitObject"  ng-options="unit.salesUnitDesc for unit in row.salesUnitsDesc track by unit.salesUnitDesc" ng-change="onUnitChange(row.code,row.selectedUnitObject.salesUnit,row)"></select>  					
                          </div>
                        </td>
                        
                        <td ng-show="webSettings.isShowPrice && 
                        			 (	webSettings.allowDiscountDisplay=='*ALL' || 
                        			 	webSettings.allowDiscountDisplay=='*ALL_PRICE' || 
                        			 	webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')">
                        	<span ng-class="{'last-price':row.discountPrice}">
                        		<a href="javascript:void(0);" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)">
                        			{{row.actualPrice}}
                        		</a>
                        	</span>
                        </td>
                        
                        <td ng-show="webSettings.isShowPrice && 
                        			 (	webSettings.allowDiscountDisplay=='*ALL' || 
                        			 	webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || 
                        			 	webSettings.allowDiscountDisplay=='*ALL_PRICE')">
                        	<span class="percent-sold">
                        		<a href="javascript:void(0);" ng-show="webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE'" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)" >{{row.discountPrice}}</a> 
                        	</span>
                        </td>    
                        <td ng-show="webSettings.isShowPrice && webSettings.allowDiscountDisplay=='*ALL'" class="txt_right">
                        	<span class="price-product">
                        	<a href="javascript:void(0);" ng-show="webSettings.allowDiscountDisplay=='*ALL'" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)">
                        		{{row.discountPercentageText}}
                        	</a> 
                        	</span>
                        </td>                
                        <td>
	                        <span ng-show="isSignedIn && !row.isMatrixBaseItem" class="left">
	                        	<input ng-show="row.selectedUnitObject != null" id="getId('text',row.code)" ng-keyup="$event.keyCode == 13 ? buyItems(row) : null" ng-model="row.quantity" type="text" class="qty-selector" ng-class ="{ 'error': !row.validQuantity, '' : row.validQuantity}" ng-change="checkValidQuantity(row,row.quantity)" title="{{row.quantityBoxMsg}}"/> 
	    	          			
	    	          			<!-- input ng-model="row.quantity" type="text" class="qty-selector" ng-class ="{ 'error': !row.validQuantity, '' : row.validQuantity}" ng-change="checkValidQuantity(row,row.quantity)" title="{{row.quantityBoxMsg}}"/--> 
		              		</span>
                        </td>
                        <td>
                        	<i class="fa fa-tags fa-2" title="{{'CON_PROMOTIONAL_ITEM' | translate}}" ng-show="row.hasPromoP1OrP2 && !hospital"></i>
                        	<i class="fa fa-h-square fa-2" ng-show="row.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}"></i>
                        </td>
                        <td>
                        <div class="padd-addcart">                      	
							<button class="addcart-btn btn col-primary-01"
									ng-if="row.itemClass == 1" 
		                    		ng-disabled="disableCatalogBuy(row.isBuyingAllowed,row.isMatrixBaseItem)" 
		                    		ng-class="{'disabled': row.isBuyingAllowed == false, 'addedInCart':isShopCartItem(row.code)==true , 'buy':isShopCartItem(row.code)==false }"
		                    		ng-click="buyItems(row)">
		                    		<i class="fa fa-inverse fa-cart-arrow-down"></i>
		                    		<i ng-show="isShopCartItem(row.code)" title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}" class="fa fa-inverse fa-check" aria-hidden="true"></i>
		                    </button>
							<button ng-if="row.itemClass == 2" type="button" style="width:80px;margin-right:10px;" class="btn btn-info procura-btn" ng-click="showBtbDlg(row)" title="{{'COH_PROCURE_THE_ITEM' | translate}}">{{'CON_BTB' | translate}}</button>
							<!--span ng-if="showHide(row.isBuyingAllowed) && !row.isMatrixBaseItem && !isShopCartItem(row.code)" >
								<button type="button" name="" value="" class="addcart-btn btn col-primary-01" ng-click="buyItems(row)" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}"><i class="fa fa-inverse fa-cart-arrow-down"></i></button>
							</span>
							<span ng-if="showHide(row.isBuyingAllowed) && !row.isMatrixBaseItem && isShopCartItem(row.code)">
								<span class="addedInCart left" ng-click="buyItems(row)"  title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span>
							</span-->
							<span ng-if="isSignedIn && !row.isMatrixBaseItem" ng-show = "row.selectedUnitObject != null" class="">
								<div class="store-wishlist">
									<a href="javascript:void(0);" ng-click="addItemToCurrentList(row);" class="btn-warning btn" ><i class="fa fa-inverse fa-star"></i></a>
								</div>
							</span> 
							<span ng-show="row.isMatrixBaseItem">
				               <a href=""  ng-click="showProductDetail(row.code);">
				            	{{row.segmentationDesc2}}/{{row.segmentationDesc3}}</a>
				            </span>
					        <a href="" ng-show="hasAlternative(row)" ng-click="alternativeClicked(row.code);">
					        	<button class="btn btn-info" title="{{'CON_ALTERNATIVES_ITEMS' | translate}}"><i class="fa fa-bars" aria-hidden="true"></i></button>
					        </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- end:_catalog-hp-->
          </div> 
          <div ng-show="isShowBottomLoader()" class="loadInfoWrapper">{{'MSG_LOADING_MORE_ITEMS' | translate}}</div>