	
	<div id="homeCatalogGrid" role="tabpanel" class="tab-pane active">
            <div class="catalog-hp">
              <div class="catalog-hp-products visu-grid clearfix">
                <div class="col-sm-3 product-block-item" ng-repeat="cat in PromotionCatalog.productList | orderBy:['-sectorCode','priceForSort']">
                <div class="prod-block-cnt">
                  <div class="padd">
                    <figure ng-if="cat.isRelative">
                    	<a href="javascript:void(0);" ng-click="showProductDetail(cat.code);">
                    		<img ng-src="{{BASE_ADDRESS}}{{cat.attentionImageURL}}" ng-show="cat.isShowAttentionImage" class="abs-image-product"/>
							<img class="prodImage" ng-src="{{BASE_ADDRESS}}{{cat.imageUrl}}" onerror="getDefaultImg(this);">
                    	</a>
                    </figure>
                    <figure ng-if="!cat.isRelative">
                    	<a	href="javascript:void(0);" ng-click="showProductDetail(cat.code);">
                    		<img ng-src="{{cat.attentionImageURL}}" ng-show="cat.isShowAttentionImage" class="abs-image-product"/>
							<img class="prodImage" ng-src="{{cat.imageUrl}}" onerror="getDefaultImg(this);">
						</a>
                    </figure>
                    <div class="row">
                    	<div class="col-sm-4">
                    		<i class="fa fa-info-circle fa-2" title="{{'CON_QUICKINFO' | translate}}"  ng-click="showQuickViewDlg(cat);"></i>
                    		<!--img class="quickInfoImage" ng-src="images/Information.png" title="{{'CON_QUICKINFO' | translate}}"  ng-click="showQuickViewDlg(cat);"-->
						</div>
						<div class="col-sm-4 text-center">
							<i class="fa fa-tags fa-2" title="{{'CON_PROMOTIONAL_ITEM' | translate}}" ng-show="cat.hasPromoP1OrP2 && !hospital"></i>
							<!--img class="promotionImage" ng-src="images/Available.png" title="{{'CON_PROMOTIONAL_ITEM' | translate}}" ng-show="cat.hasPromoP1OrP2"-->
						</div>
						<div class="col-sm-4 ">
							<i class="fa fa-h-square fa-2 pull-right" ng-show="cat.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}"></i>
							<!--img class="hospitalImage" ng-src="images/H.png" ng-show="cat.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}"-->
                    	</div>
                    </div>
                    <div class="product-code">{{cat.code}}</div>
                    <h3><a href="javascript:void(0);" ng-click="showProductDetail(cat.code);" title="{{cat.description}}">{{cat.description}}</a></h3>
                    <div class="row unities">
                      <div class="col-sm-7">
                      	<span class="uv-label">{{'CON_SALES_UNIT' | translate}}:</span>
                      </div>
                      <div class="col-sm-5 uv-qty">
                      	<label ng-if="webSettings.allowSelectUnitOfMeasure">
                     	{{cat.selectedUnitObject.salesUnitDesc}}
                     	</label>
                     	
                        <select ng-if="!webSettings.allowSelectUnitOfMeasure" ng-model="cat.selectedUnitObject" ng-options="unit.salesUnitDesc for unit in cat.salesUnitsDesc track by unit.salesUnitDesc" ng-change="onUnitChange(cat.code,cat.selectedUnitObject.salesUnit,cat)">  					
						</select>
                      </div>
                    </div>
                    <div class="availGridSpan" ng-if="webSettings.allowDiscountDisplay=='*ALL'" ng-show="webSettings.isShowPrice">
                    	<div>
	                    	<div class="last-prices-sold">
								<span ng-show="convertAsNumber(cat.discountPercentage) > 0" ng-class="{'actPrice': convertAsNumber(cat.discountPercentage) > 0, 'priceCalculationText': !isPriceCalculationEnabled}" class="last-price" ng-click="showPriceCalcDlg(cat)">{{cat.actualPrice}} {{webSettings.currencyCode}}</span>
								<span ng-show="convertAsNumber(cat.discountPercentage) > 0" class="percent-sold">{{cat.discountPercentage}}%</span>
							</div>
							<div ng-show="convertAsNumber(cat.discountPercentage) > 0" class="price-product" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.discountPrice}} {{webSettings.currencyCode}} </div> 
						</div>
						<div  ng-show="convertAsNumber(cat.discountPercentage) <= 0">
							<div class="price-product" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.actualPrice}} {{webSettings.currencyCode}}</div> 
						</div>
						<div class="price-for-kg">{{cat.selectedUnitObject.salesUnitDesc}}</div>
					</div>
					<div ng-if="webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE'" ng-show="webSettings.isShowPrice">
						<div class="price-product" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.discountPrice}} {{webSettings.currencyCode}}</div>
						<div class="price-for-kg">{{cat.selectedUnitObject.salesUnitDesc}}</div>
					</div>
					<div ng-if="webSettings.allowDiscountDisplay=='*ALL_PRICE'" ng-show="webSettings.isShowPrice">
						<div ng-class="{'actPrice': convertAsNumber(cat.discountPrice) > 0, 'priceCalculationText': !isPriceCalculationEnabled}" class="price-product" ng-click="showPriceCalcDlg(cat)">{{cat.actualPrice}} {{webSettings.currencyCode}}</div>
						<div ng-show="convertAsNumber(cat.discountPrice) > 0" class="price-product" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.discountPrice}} {{webSettings.currencyCode}}</div> 
						<div class="price-for-kg">{{cat.selectedUnitObject.salesUnitDesc}}</div>
					</div>
					<div ng-if="webSettings.allowDiscountDisplay=='*ACTUAL_PRICE'" ng-show="webSettings.isShowPrice">
						<div class="price-product" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.actualPrice}} {{webSettings.currencyCode}}</div> 
						<div class="price-for-kg">{{cat.selectedUnitObject.salesUnitDesc}}</div>
					</div>
					
                    <!-- div class="last-prices-sold">
	                    <span class="last-price">999,99&euro; </span>
	                    <span class="percent-sold">99,99%</span>
                    </div>
                    <div class="price-product">999,99&euro;</div-->
                    <!-- div class="price-for-kg">6,8KG</div-->
                  </div>
                  <span ng-show="cat.isMatrixBaseItem">
                  		<a href="" ng-click="showProductDetail(cat.code);">{{cat.segmentationDesc2}}/{{cat.segmentationDesc3}}</a>
		          </span>
		        <div class="availHeight" ng-hide="webSettings.itemAvailabilityType == '*NO' || !isSignedIn" ng-show="isNormalItem || isComponentItem || !isMatrixOption2" class="left availability">
					<span ng-show="cat.showAvailabilityAsLink && cat.showAvailabilityAsImage"> 
						<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label> 
						<a href="" ng-click="showProductDetail(cat.code,true);">
							<img class="availImage" ng-src="images/{{cat.availabilityImageName}}"  title="{{'CON_CLICK_TO_SEE_WH_INFO' | translate}}"/> 
						</a> 
					</span>
					<span ng-show="!cat.showAvailabilityAsLink && cat.showAvailabilityAsImage"> 
						<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label>
						<img ng-src="images/{{cat.availabilityImageName}}"/>
					</span>  
					<span ng-show="cat.showAvailabilityAsLink && !cat.showAvailabilityAsImage"> 
						<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label>
						<a href="" ng-click="showProductDetail(cat.code,true);" >{{cat.availabilityText}} </a>
					</span>
					<span ng-show="!cat.showAvailabilityAsLink && !cat.showAvailabilityAsImage"> 
						<label class="left">{{'CON_AVAILABLE'| translate}} : &nbsp;</label> 
						<a href="" ng-click="showProductDetail(cat.code,true);">{{cat.availabilityText}} </a>
					</span>
             	 </div>
                  <div class="padd-addcart">
                    <div class="store-addcart">
                      <div class="row">
                        <div class="col-sm-6">
                          <input type="text" value="1" ng-model="cat.buyQuantity" ng-keyup="$event.keyCode == 13 ? gridViewBuyClicked(cat) : null" ng-class ="{ 'error': !cat.validQuantity, '' : cat.validQuantity}" ng-change="checkValidQuantity(cat,cat.buyQuantity)">
                        </div>
                        <div class="col-sm-6">
                        	<button ng-if="cat.itemClass == 1" class="addcart-btn btn col-primary-01" 
		                    		ng-disabled="disableCatalogBuy(cat.isBuyingAllowed,cat.isMatrixBaseItem)" 
		                    		ng-class="{'disabled': cat.isBuyingAllowed == false, 'addedInCart':isShopCartItem(cat.code)==true , 'buy':isShopCartItem(cat.code)==false }"
		                    		ng-click="gridViewBuyClicked(cat)">
		                    		<i class="fa fa-inverse fa-cart-arrow-down"></i>
		                    		<i ng-show="isShopCartItem(cat.code)" title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}" class="fa fa-inverse fa-check" aria-hidden="true"></i>
		                    </button>
		                    <button ng-if="cat.itemClass == 2" type="button" class="btn btn-info procura-btn" ng-click="showBtbDlg(cat)" title="{{'COH_PROCURE_THE_ITEM' | translate}}">{{'CON_BTB' | translate}}</button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                       	<div class="col-sm-6 store-wishlist">
                       		<a href="javascript:void(0);" class="btn-warning btn" ng-class="{'disabled': !isSignedIn}" ng-click="addItemToCurrentList(cat);" ng-disabled="disableShoppingList(cat.isMatrixBaseItem) || cat.selectedUnitObject == null" ><i class="fa fa-inverse fa-star"></i></a>
                       	</div>
                       	<div class="col-sm-6">
                       		<a href="javascript:void(0);" ng-show="hasAlternative(cat)" ng-click="alternativeClicked(cat.code);">
					        	<button class="btn btn-info" title="{{'CON_ALTERNATIVES_ITEMS' | translate}}"><i class="fa fa-bars" aria-hidden="true"></i></button>
					        </a>
                       	</div>
                    </div>
                  </div>
                  	<!-- div class="buttonWrapperGrid">
						<span ng-show="isSignedIn && !cat.isMatrixBaseItem" ><input ng-model="cat.quantity" type="text" class="quantity" ng-class ="{ 'error': !cat.validQuantity, '' : cat.validQuantity}" ng-change="checkValidQuantity(cat,cat.quantity)" title="{{cat.quantityBoxMsg}}"/></span>
						<button type="button" name="" value="" class="homeCat" ng-class="{'disabled': !isSignedIn}" ng-click="addItemToCurrentList(cat);" ng-disabled="disableShoppingList(cat.isMatrixBaseItem) || cat.selectedUnitObject == null" >{{'CON_ADD_TO_LIST' | translate}}</button>
					</div>
					<div class="buttonWrapperGrid">
						<button ng-disabled="disableCatalogBuy(cat.isBuyingAllowed,cat.isMatrixBaseItem)" ng-class="{'disabled': cat.isBuyingAllowed == false, 'addedInCart':isShopCartItem(cat.code)==true , 'buy':isShopCartItem(cat.code)==false }" 
						type="button" name="" value="" ng-click="gridViewBuyClicked(cat)" >{{'CON_BUY' | translate}} 
						<span ng-show="isShopCartItem(cat.code)" title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span></button>
					</div-->
                </div>
                </div>
            </div>
          </div>	
          <div ng-show="isShowBottomLoader()" class="loadInfoWrapper">{{'MSG_LOADING_MORE_ITEMS' | translate}}</div>