<div class="listview quotationPageDetailPage" ng-controller="quotationDetailCtrl">

	<div class="page-heading">
	 <span class="order-info">{{'CON_QUOTATION_INFORMATION' | translate}}</span>
	 <div class="order-details">
	 <label>{{'CON_QUOTATION_NUMBER' | translate }}: </label>
	 <span class="section-value">{{quotationDetails.quotationNumber}}</span>
	  <label> {{'CON_VERSION_NUMBER' | translate }} : </label> 
	  <span class="section-value">{{quotationDetails.versionNumber}}</span>
	  </div>
	  </div>
	 <!--  <a href="#quotationHeaderInformation"> {{'CON_QUOTATION_HEADER_INFORMATION' | translate }}</a> -->	
	<section name="quotationLine">
	<div class="right download">		
		<button ng-show ="webSettings.allowBuyFromQuotationLine" type="button" name="" value="" class="buyIcon" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}" 
		ng-click="buyItems()" >{{'CON_BUY' | translate}}</button>
    	<button ng-show ="webSettings.allowBuyFromQuotationLine" type="button" ng-show="isSignedIn" name="" value="" class="addToList" title={{addToListText}} ng-click="addMultipleItemsToCurrentList();" title={{addToListText}}>{{'CON_ADD_TO_LIST' | translate}}</button> 
	
	 <a href="" class="right" ng-show="webSettings.showPdfIcon" title="{{'CON_QUOTATION_DETAIL_PDF' | translate}}"> <img ng-src="./images/PDF.png" ng-click="exportQuotationLineTableAsPDF();" /> </a>
		</div>
		<div class="sep"></div>
		<div> 
		<p class="submitReqErrorMsg">{{quotationMsg}}</p> 
		<table class="quotation-detail-table">
			<thead>
				<tr>
				<!--  	<th class="txt_right" ng-click="" > {{'COH_LINE' | translate}}</th>-->
				
				<th class="txt_right">
				<div class="sorting paddingRight">
						<span class="sortingInnerWrap">	
						 	<a ng-class ="sort.getAscCSS('lineNumber')" class="ascending" ng-click="sortASC('lineNumber'); sortType = '+lineNumber';" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}"></a>
	      				 	 <a ng-class="sort.getDescCSS('lineNumber')" class="decending" ng-click="sortDESC('lineNumber'); sortType = '-lineNumber';" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}"></a>										
						</span>
						<span>{{'COH_LINE' | translate}}</span>
						</div>			
				</th>
				
				
					<th ng-click="">
						<div class="sorting paddingRight">
						<span class="sortingInnerWrap">	
						 	<a ng-class ="sort.getAscCSS('itemCode')" class="ascending" ng-click="sortASC('itemCode'); sortType = '+itemCode'" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}"></a>
	      				 	 <a ng-class="sort.getDescCSS('itemCode')" class="decending" ng-click="sortDESC('itemCode'); sortType = '-itemCode'" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}"></a>										
						</span>
						<span>{{'COH_PRODUCT' | translate}}</span>
						</div>			
					</th>
					<th ng-click="" ng-show="quotationLineData[0].descFlag">
						<div class="sorting paddingRight">
						<span class="sortingInnerWrap">	
						 	<a ng-class ="sort.getAscCSS('itemDescription')" class="ascending" ng-click="sortASC('itemDescription'); sortType = '+itemDescription'" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}"></a>
	      				 	 <a ng-class="sort.getDescCSS('itemDescription')" class="decending" ng-click="sortDESC('itemDescription'); sortType = '-itemDescription'" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}"></a>										
						</span>
						<span>{{'COH_DESCRIPTION' | translate}}</span>
						</div>			
					</th>
					<th ng-click="">{{'COH_UNIT' | translate}}</th>					
					<th class="txt_right" ng-click="">{{'COH_QUANTITY' | translate}}</th>								
					<th class="txt_right" ng-click="" ng-show="isColExist('price',propertyList)"> {{'COH_PRICE' | translate}} {{webSettings.currencyCode}} </th>
					<th class="txt_right" ng-click="" ng-show="isColExist('amount',propertyList)">  {{'COH_AMOUNT' | translate}} {{webSettings.currencyCode}}</th>					<th ng-click="">{{'COH_BACKLOG' | translate}}</th>
					<th ng-click="">
						<div class="sorting paddingRight">
						<span class="sortingInnerWrap">	
						 	<a ng-class ="sort.getAscCSS('deliveryDate')" class="ascending" ng-click="sortASC('deliveryDate'); sortType = '+deliveryDate'" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}"></a>
	      				 	 <a ng-class="sort.getDescCSS('deliveryDate')" class="decending" ng-click="sortDESC('deliveryDate'); sortType = '-deliveryDate'" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}"></a>										
						</span>
						<span> {{'COH_DISPATCH_DATE' | translate}} </span>
						</div>
					</th>
					<th class="txt_center" ng-click="">{{'COH_AVAILABLE' | translate}}</th>		
					<th ng-show ="webSettings.allowBuyFromQuotationLine">{{'COH_QUANTITY' | translate}}</th>			
				</tr>
			 </thead>
			<tbody>
					<tr ng-repeat="row in quotationLineData | orderBy:sortType">
						<td class="txt_right"><a href="" ng-click="showQuotationLineDetail(row);">{{row.lineNumber}}</a> </td>
						<td><a href="" ng-click="showProductDetail(row.itemCode);">{{row.itemCode}} </a></td>
						<td ng-show="quotationLineData[0].descFlag" ><a href="" ng-click="showProductDetail(row.itemCode);">{{row.itemDescription}}</a> </td>
						<td>{{row.unitDesc}}</td>
						<td class="txt_right">{{row.quantity}} </td>						
						<td class="txt_right" ng-show="isColExist('price',propertyList)">{{row.price}}<span ng-bind-html="renderHtml(row.pricingUnit)"></span></td>
						<td class="txt_right" ng-show="isColExist('amount',propertyList)">{{row.amount}} </td>
						<td>{{row.backlog}} </td>
						<td>{{row.deliveryDate}} </td>						
						<td class="txtCenter">
							<span ng-show="row.showAvailabilityAsLink && row.showAvailabilityAsImage">
								<a href="" ng-click="showProductDetail(row.itemCode,true);"><img ng-src="images/{{row.availabilityImageName}}"  title="{{'CON_CLICK_TO_SEE_WH_INFO' | translate}}"/> </a>
							</span>
							<span ng-show="!row.showAvailabilityAsLink && row.showAvailabilityAsImage">
								<img ng-src="images/{{row.availabilityImageName}}"/> 
							</span>
							<div>
								<span ng-show="row.showAvailabilityAsLink && !row.showAvailabilityAsImage">
									<a href="" ng-click="showProductDetail(row.itemCode,true);" >{{row.availabilityText}} </a>
								</span>
								<span ng-show="!row.showAvailabilityAsLink && !row.showAvailabilityAsImage"> 
								<a  href="" ng-click="showProductDetail(row.itemCode,true);">{{row.availabilityText}} </a>
								</span>
							</div>
					</td>
					<td ng-show ="webSettings.allowBuyFromQuotationLine"  class="quantityColumn">
	              <div class="nowrap left" style="width:100px;">
	             	 <span  class="left">
              			<input ng-model="row.quantity1" type="text" class="txt_right buyInput" ng-class ="{ 'error': !row.validQuantity, '' : row.validQuantity}" ng-change="checkValidQuantity(row,row.quantity1)" title="{{row.quantityBoxMsg}}"/> 
              		</span>
		            <span  ng-if="row.buyAllowed && !isShopCartItem(row.itemCode)">
						<button  ng-disabled="!row.buyAllowed" type="button" name="" value="" class="buyIcon" ng-click="buyItems(row)" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}">{{'CON_BUY' | translate}}</button>
					</span>
					<span ng-if="row.buyAllowed && isShopCartItem(row.itemCode)">
						<span  class="addedInCart left"  ng-click="buyItems(row)"  title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span>
					</span>
		            <span class="">
						<button type="button" name="" value="" class="addToListTableView" title={{addToListText}} ng-click="addItemToCurrentListQuotation(row);" title={{addToListText}}>{{'CON_ADD_TO_LIST' | translate}}</button> 
					</span> 
	         	  </div>
            </td>
					</tr>
					<tr ng-show ="!dataFound">
						<td colspan="10">{{pageLoadMsg}}</td>
					</tr>
			 </tbody>
		</table>
		<div class="sep_tbl"></div>
		<div class="buttonWrapper clr_left left">
<!-- 			<button class="goFirstArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="getFirstPage()" title = "{{'CON_FIRST_PAGE' | translate}}">{{'CON_FIRST_PAGE' | translate}} </button> -->
<!-- 			<button class="previousArrow left" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}">{{'CON_PREVIOUS_PAGE' | translate}} </button> -->
<!-- 			<button class="nextArrow" ng-disabled="!dataFound"  ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}">{{'CON_NEXT_PAGE' | translate}} </button> -->
		</div>
		<div class="buttonWrapper  right">
		<a class="yellowButton" ng-show="quotationLineData[0].convertOrderFlag" ng-click="goThankYou(quotationDetails.quotationNumber,quotationDetails.versionNumber);">{{'CON_QUOTATION_TO_ORDER' | translate}}</a>
		<button class="backButton" ng-click="goBack();">{{'CON_BACK' | translate}}</button>
		</div>
		</div>
		
	</section>
		
	<section name="quotationHeaderInformation" class="blankMargin">
	    <p>
			{{'CON_QUOTATION_HEADER_INFORMATION' | translate}}<a shref="" ng-model="collapsed_quotationHeaderInformation" ng-click="collapsed_quotationHeaderInformation=!collapsed_quotationHeaderInformation" ng-class ="{'exp-plus-icon': collapsed_quotationHeaderInformation, 'exp-collapse-icon': !collapsed_quotationHeaderInformation}">a</a>
		</p>
		<div class="sep"></div>
		<div ng-show="!collapsed_quotationHeaderInformation" ng-class ="section-data">
			<table class="quotation-detail-table">	
				<tr><td> {{'CON_CUSTOMER' | translate}}: </td> <td class="section-value"> {{quotationDetails.customerCode}}</td><td class="section-value">{{quotationDetails.customerDesc}}</td><td colspan="3">&nbsp;</td></tr>			
				<tr><td> {{'CON_CURRENCY' | translate}}: 	 </td> <td class="section-value"> {{quotationDetails.currency}}</td><td colspan="3">&nbsp;</td></tr>
				<tr><td ng-show="isColExist('orderValueExclVAT',quotationDetailsPropList)" >{{'CON_ORDER_VALUE_EXCLUDING_VAT' | translate}} :  </td> <td class="section-value" ng-show="isColExist('orderValueExclVAT',quotationDetailsPropList)"> {{quotationDetails.orderValueExclVAT}}</td><td ng-show="isColExist('orderValueInclVAT',quotationDetailsPropList)"> {{'CON_ORDER_VALUE_INCLUDING_VAT' | translate}}:  </td> <td class="section-value" ng-show="isColExist('orderValueInclVAT',quotationDetailsPropList)"> {{quotationDetails.orderValueInclVAT}}</td></tr>		
				<tr ng-show="isColExist('motCode',quotationDetailsPropList) || isColExist('motDesc',quotationDetailsPropList) "><td>{{'CON_MANNER_OF_TRANSPORT' | translate}}: </td> <td class="section-value"> {{quotationDetails.motCode}}</td><td class="section-value"> {{quotationDetails.motDesc}}</td><td colspan="2">&nbsp;</td></tr>
				<tr ng-show="isColExist('todCode',quotationDetailsPropList) || isColExist('todDesc',quotationDetailsPropList) "><td>{{'CON_TERMS_OF_DELIVERY' | translate}} : 	 </td> <td class="section-value"> {{quotationDetails.todCode}}</td><td class="section-value"> {{quotationDetails.todDesc}}</td><td colspan="2">&nbsp;</td></tr>
				<tr ng-show="isColExist('topCode',quotationDetailsPropList) || isColExist('topDesc',quotationDetailsPropList) "><td>{{'CON_TERMS_OF_PAYMENT' | translate}}: 	 </td> <td class="section-value"> {{quotationDetails.topCode}}</td><td class="section-value"> {{quotationDetails.topDes}}</td><td colspan="2">&nbsp;</td></tr>
				<tr><td> {{'CON_EXPIRE_DATE' | translate}}: 	 </td> <td class="section-value"> {{quotationDetails.dueDate}}</td><td colspan="3">&nbsp;</td></tr>

			</table>
		</div>
	</section>

	<section name="quotationReferences">
		 <p>
			 {{'CON_QUOTATION_REFERENCES' | translate}} <a shref="" ng-model="collapsed_quotationReferences" ng-click="collapsed_quotationReferences=!collapsed_quotationReferences" ng-class ="{'exp-plus-icon': collapsed_quotationReferences, 'exp-collapse-icon': !collapsed_quotationReferences}">a</a>
		</p>
		<div class="sep"></div>
		<div ng-show="!collapsed_quotationReferences" ng-class ="section-data"> 
				<table class="quotation-detail-table">								
				<tr><td> {{'CON_HANDLER' | translate}} :</td><td class="section-value"> {{quotationDetails.handlerCode}}</td><td class="section-value">{{quotationDetails.handlerDesc}}</td><td colspan="2">&nbsp;</td></tr>
				<tr><td> {{'CON_SALES_PERSON' | translate}} :</td><td class="section-value">{{quotationDetails.salespersonCode}}</td><td class="section-value">{{quotationDetails.salespersonDesc}}</td><td colspan="2">&nbsp;</td></tr>		
		 	 		
		 		</table>

		</div>
	</section>
	


</div>

