<div class="listview reqSearch wishlist-container" ng-controller="requestCtrl">
	<div class="checkout-container wishlist-container transport-flow">
		<div class="cnt-back-action">
	    	<a href="javascript:void(0)" class="goback-btn btn btn-primary" ng-click="goBack()">
	    		<i class="fa fa-arrow-circle-o-left"></i>
	    		<span>{{'CON_BACK' | translate}}</span>
	    	</a>
	    </div>
		<div class="row">
	       <div class="col-sm-6">
	         <h1>{{'CON_BP_NEW_REQUEST' | translate}}</h1>
	       </div>
	       <div class="col-sm-6">
	         <div class="info-actions text-left">
	           <button type="button" class="btn btn-block btn-danger" ng-click="clearAllData()"><i aria-hidden="true" class="fa fa-trash"></i>{{'CON_CLEAR' | translate}}</button>
	           <button type="button" class="btn btn-block btn-success" ng-disabled="!hasRequestLines()" ng-click="validateNewRequest()"><i aria-hidden="true" class="fa fa-arrow-circle-right"></i>{{'CON_SUBMIT_REQUEST' | translate}}</button>
	         </div>
	       </div>
	     </div>	
		 
		 <div class="advanced-search create-list">
            <div class="panel panel-default">
              	<button type="button" data-toggle="collapse" data-target="#headingrequest" class="button-search" aria-expanded="true" id="button-testata"><span>{{'CON_REQUEST_HEADER' | translate}}</span></button>
				<div id="headingrequest" aria-expanded="true" class="collapse in">	
					<div class="panel-body"> 
			            <div class="maw-cont">
			                <div class="row"> 
			                	<div class="col-sm-12">
			                		<p class="submitReqErrorMsg">{{requestObject.getUIErrorKey() | translate : (requestObject.UIErrorParams) }}</p>
			                	</div>
			                	<div  ng-show="!isCollapsed" >
			                		<div class="col-sm-4">
				                        <div class="form-group">
				                          <label for="">{{'CON_CUSTOMER' | translate}}</label><br />
				                          <strong>{{webSettings.sessionDefaultCustomerName}}</strong>
				                        </div>
				                    </div>
			                        <div class="col-sm-8">
				                        <div class="form-group">
				                          <label for="{{'CON_REFERENCE' | translate}}">{{'CON_REFERENCE' | translate}}</label><br />
				                          <span>
				                           <input type="radio" id="transportNote" ng-model ="reqTemplate['checked']" value="transportNote" ng-change="changeView()"> {{'CON_TRANSPORTNOTE' | translate}}
				                          </span>
				                          <!-- label> 
				                            <input type="radio" id="order" ng-model ="reqTemplate['checked']" value="order" ng-change="changeView()" ><span>{{'CON_ORDER' | translate}}</span>
				                          </label>
				                          <label>
				                            <input type="radio" id="invoice" ng-model ="reqTemplate['checked']" value="invoice" ng-change="changeView()"><span>{{'CON_INVOICE' | translate}}</span>
				                          </label>
				                          <label>
				                            <input type="radio" id="none" ng-model ="reqTemplate['checked']" value="product" ng-change="changeView()"><span>{{'CON_NONE' | translate}}</span>
				                          </label -->
				                        </div>
				                    </div>
				                    <div class="col-sm-4">
				                        <div class="form-group">
				                        </div>
				                    </div>    
			                        <div class="col-sm-8" ng-show="reqTemplate['checked']!='product'">
				                        <div class="form-group" > 
				                          <!-- label ng-class ="{ 'error': requestObject.ErrOnControl.orderNum, '' :  !requestObject.ErrOnControl.orderNum }">{{requestForlabel | translate}}</label>
				                          <input type="text" ng-model="requestObject.reference" name="reference" ng-class ="{ 'error': requestObject.ErrOnControl.orderNum, '' :  !requestObject.ErrOnControl.orderNum }" -->
				                          <button type="button" class="btn btn-primary pull-left" ng-click="changeState()">{{'CON_SEARCH' | translate}}</button>
				                        </div>
			                        </div>
								</div>
							</div> 
						</div>
					</div>					
				</div>
			</div>
		</div>			
		
		<div>
			<section id="requestFor" ui-view="requestFor"></section>
	 	</div>
	 </div>
</div>

