<div class="listview quotationPageDetailPage" ng-controller="requestLineDetailCtrl">
	<div class="checkout-container invoice-container">
		<div class="cnt-back-action">
	    	<a href="javascript:void(0)" class="goback-btn btn btn-primary" ng-click="goBack()">
	    		<i class="fa fa-arrow-circle-o-left"></i>
	    		<span>{{'CON_BACK' | translate}}</span>
	    	</a>
    	</div>
    	<div class="row">
	   		<div class="col-sm-12">
	          <h1>{{'CON_REQUEST_LINE_INFORMATION' | translate}}</h1>
	        </div>
	    </div>
	    <div class="row">    
	    	<div class="col-sm-6 pull-right">
	    		<div class="invoice-number">{{'CON_REQUEST_NUMBER' | translate}} {{requestDetails.requestId}}</div>
	        </div>
	        <div class="col-sm-6 pull-right">
	       		<div class="invoice-number">{{'CON_LINE' | translate}} {{requestLine.lineNumber}}</div>
	       	</div>
	    </div>
    	
    	<div class="advanced-search accord-invoices">
            <div class="panel panel-default">
              <!-- button type="button" data-toggle="collapse" data-target="#invoiceInfo" class="button-search collapsed"><span>{{'CON_REQUEST_HEADER_INFORMATION' | translate}}</span></button-->
              <div id="invoiceInfo" aria-expanded="true" class="collapsed">
                <div class="panel-body">
                  <table>
                    <tbody>
	                    <tr>
							<td>{{'CON_PRODUCT' | translate}}:</td>
							<td class="section-value" colspan="2"><h4><a href="" ng-click="showProductDetail(requestLine.product);">{{requestLine.product}}</a></h4></td>					
						</tr>
						<tr>
							<td>{{'COH_DESCRIPTION' | translate}}:</td>
							<td class="section-value" colspan="2"><h4><a href="" ng-click="showProductDetail(requestLine.product);">{{requestLine.description}}</a></h4></td>
							
						</tr>
						<tr>
							<td>{{'COH_UNIT' | translate}}:</td>
							<td class="section-value" colspan="2">{{requestLine.unit}}</td>
						</tr>
						<tr>
							<td>{{'CON_LINE_CREATION_DATE' | translate}}:</td>
							<td class="section-value" colspan="2">{{requestLine.date}}</td>
						</tr>
						
						<tr>
							<td>{{'CON_QUANTITY' | translate}}:</td>
							<td class="section-value" colspan="2">{{requestLine.quantity}}</td>
						</tr>
						<tr>
							<td>{{'CON_NEW_ORDER_NUMBER' | translate}}:</td>
							<td class="section-value" colspan="2"> <h4> <a ng-show="requestDetails.refLinkFlag" ng-click="showRequestNewOrderDetail(requestDetails, requestLine.orderNumber)">{{requestLine.orderNumber}} </a></h4></td>
						</tr>
						<tr>
							<td>{{'COH_REQUEST_TYPE' | translate}}:</td>
							<td class="section-value" colspan="2">{{requestLine.requestType}}</td>
						</tr>
						
						
						<tr>
							<td>{{'CON_REQUEST_DESCRIPTION' | translate}}:</td>
							<td class="section-value" colspan="2">{{requestLine.requestDesc}}</td>
						</tr>
						
						<tr>
							<td>{{'CON_RESOLUTION' | translate}}:</td>
							<td class="section-value" colspan="2">{{requestLine.resolution}}</td>
						</tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
		
		

	</div>
</div>