<div class="requestReceivedConf order-confirmation"  ng-controller="requestCtrlReview" >
	<h1 class="heading">{{'CON_REQUEST_RECEIVED_CONFIRMATION' | translate}}</h1>
	
	<div class="confirmation-recap">
		<span ng-bind-html="renderHtml(responseMsgObject.UIMessageKey)"></span> <br />
		<span class="errorMsg" ng-show="!requestLineError">{{responseMsgObject.requestLineUIMessageKey}}</span> 
	</div>
	<div class="bnts-order-confirmed">
        <button type="button" class="btn btn-block btn-info" ng-click="backToRequestSearch()">{{'CON_VIEW_REQUESTS' | translate}}</button>
    </div>
</div>

<div>
	<div class="sep"></div>
	<section id="promotionSection" ui-view="promotionSection"></section>
</div>
