<div class="listview quotationPageDetailPage" ng-controller="requestDetailCtrl">
  <div class="checkout-container invoice-container">
	<div class="cnt-back-action">
    	<a href="javascript:void(0)" class="goback-btn btn btn-primary" ng-click="goBack()">
    		<i class="fa fa-arrow-circle-o-left"></i>
    		<span>{{'CON_BACK' | translate}}</span>
    	</a>
    </div>
    <div class="row">
   		<div class="col-sm-8">
          <h1>{{'CON_REQUEST_INFORMATION' | translate}}</h1>
          <div class="invoice-number">{{'INVOICE_NUMBER_N' | translate}} {{requestDetails.requestId}}</div>
        </div>
        <div class="col-sm-4 pull-right">
       		<button type="button" class="btn btn-block btn-info" title="{{'CON_REQUEST_DETAIL_PDF' | translate}}" ng-show="webSettings.showPdfIcon" ng-click="exportRequestLineTableAsPDF();">
            	<i aria-hidden="true" class="fa fa-download"> </i> {{'DOWNLOAD_INVOICE_DETAIL' | translate}} 
           </button>
        </div>
   	</div>
	<div class="orders-table"> 
		<table class="table table-striped table-hover table-orders">
			<thead>
				<tr>
					<th ng-click="" > {{'COH_LINE' | translate}}</th>
					<th ng-click="">{{'COH_PRODUCT' | translate}}</th>
					<th ng-click="" ng-show = "requestDetails.descColumnFlag">{{'COH_DESCRIPTION' | translate}}</th>
					<th ng-click="">{{'COH_UNIT' | translate}}</th>					
					<th ng-click="">{{'COH_QUANTITY' | translate}}</th>
					<th ng-click="">{{'COH_DATE' | translate}}</th>					
					<th ng-click="">{{'COH_REQUEST_TYPE' | translate}}</th>					
				</tr>
			 </thead>
			 <tbody>
					<tr ng-repeat="row in requestLineData" ng-show ="dataFound">
	  					<td><h4><a href="" ng-click="showRequestLineDetail(row,requestDetails.requestId)">{{row.lineNumber}} </a> </h4></td> 
						<td><h4><a href=""  ng-click="showProductDetail(row.product);">{{row.product}} </a></h4></td>
						<td ng-show = "requestDetails.descColumnFlag"><h4><a href="" ng-click="showProductDetail(row.product);" >{{row.description}}</a> </h4></td>
						<td>{{row.unitDesc}}</td>
						<td class="txt_right">{{row.quantity}} </td>		
						<td>{{row.date}} </td>									
						<td>{{row.requestType}} </td>
					</tr>
					<tr ng-show ="!dataFound">
						 <td colspan="7">{{pageLoadMsg}}</td>
					</tr>
			 </tbody>
			</table>
		</div>
		<div class="advanced-search accord-invoices">
            <div class="panel panel-default">
              <button type="button" data-toggle="collapse" data-target="#invoiceInfo" class="button-search collapsed"><span>{{'CON_REQUEST_HEADER_INFORMATION' | translate}}</span></button>
              <div id="invoiceInfo" aria-expanded="true" class="collapse">
                <div class="panel-body">
                  	
                  <table>
                    <tbody>
                    <tr><td> {{'CON_CUSTOMER' | translate}}: </td> <td > {{requestDetails.customer}}</td><td>&nbsp;</td></tr>			
				<tr><td> {{'CON_STATUS' | translate}}: 	 </td> <td  > {{requestDetails.status}}</td><td>&nbsp;</td></tr>
				
				<tr><td> {{'COH_DATE' | translate}}: </td> <td > {{requestDetails.date}}</td><td>&nbsp;</td></tr>			
				<tr><td> {{'CON_TIME' | translate}}: 	 </td> <td > {{requestDetails.time}}</td><td>&nbsp;</td></tr>
				
				<tr><td> {{'CON_DESTINATION' | translate}}: </td> <td > {{requestDetails.destination}}</td><td>&nbsp;</td></tr>			
				<tr>
					<td ng-show = "requestDetails.referenceType == 'Order'">  {{'CON_ORDER' | translate}}: 	 </td>
					<td ng-show = "requestDetails.referenceType == 'Invoice'">  {{'CON_INVOICE' | translate}}: 	 </td>					
				
				 <td  colspan="2"> {{requestDetails.docType}} 
				 <span ng-show="!requestDetails.refLinkFlag" > {{requestDetails.reference}}</span>
				 
				 <a ng-show="requestDetails.refLinkFlag" ng-click="showRequestReferenceDetail(requestDetails,requestDetails.referenceType)"> {{requestDetails.reference}} </a></td></tr>
				
				<tr><td> {{'COH_REQUEST_TYPE' | translate}}: </td> <td > {{requestDetails.requestType}}</td><td>&nbsp;</td></tr>			
				<tr><td> {{'CON_REQUEST_DESCRIPTION' | translate}}: 	 </td> <td > {{requestDetails.reqDesc}}</td><td>&nbsp;</td></tr>
				
				<tr><td> {{'CON_RESOLUTION_TYPE' | translate}}: </td> <td > {{requestDetails.resolutionType}}</td><td>&nbsp;</td></tr>			
				<tr><td> {{'CON_RESOLUTION_DESCRIPTION' | translate}}: 	 </td> <td > {{requestDetails.resolutionDesc}}</td><td>&nbsp;</td></tr>			

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
	
	<!-- section name="requestHeaderInformation" class="blankMargin">
	    <p>
			{{'CON_REQUEST_HEADER_INFORMATION' | translate}}<a shref="" ng-model="collapsed_requestHeaderInformation" ng-click="collapsed_requestHeaderInformation=!collapsed_requestHeaderInformation" ng-class ="{'exp-plus-icon': collapsed_requestHeaderInformation, 'exp-collapse-icon': !collapsed_requestHeaderInformation}">a</a>
		</p>
		<div class="sep"></div>
		<div ng-show="!collapsed_requestHeaderInformation" ng-class ="section-data">
			<table class="quotation-detail-table">	
				<tr><td> {{'CON_CUSTOMER' | translate}}: </td> <td class="section-value"> {{requestDetails.customer}}</td><td>&nbsp;</td></tr>			
				<tr><td> {{'CON_STATUS' | translate}}: 	 </td> <td class="section-value" > {{requestDetails.status}}</td><td>&nbsp;</td></tr>
				
				<tr><td> {{'CON_HANDLER' | translate}}: </td> <td class="section-value" colspan ="2"> {{requestDetails.handlerCode}}&nbsp;&nbsp;&nbsp;{{requestDetails.handlerDesc}}</td></tr>			
				<tr><td> {{'COH_YOUR_REFERENCE' | translate}}: 	 </td> <td class="section-value"> {{requestDetails.yourReference}}</td><td>&nbsp;</td></tr>
				
				<tr><td> {{'COH_DATE' | translate}}: </td> <td class="section-value"> {{requestDetails.date}}</td><td>&nbsp;</td></tr>			
				<tr><td> {{'CON_TIME' | translate}}: 	 </td> <td class="section-value"> {{requestDetails.time}}</td><td>&nbsp;</td></tr>
				
				<tr><td> {{'CON_DESTINATION' | translate}}: </td> <td class="section-value"> {{requestDetails.destination}}</td><td>&nbsp;</td></tr>			
				<tr>
					<td ng-show = "requestDetails.referenceType == 'Order'">  {{'CON_ORDER' | translate}}: 	 </td>
					<td ng-show = "requestDetails.referenceType == 'Invoice'">  {{'CON_INVOICE' | translate}}: 	 </td>					
				
				 <td class="section-value" colspan="2"> {{requestDetails.docType}} 
				 <span ng-show="!requestDetails.refLinkFlag" > {{requestDetails.reference}}</span>
				 
				 <a ng-show="requestDetails.refLinkFlag" ng-click="showRequestReferenceDetail(requestDetails,requestDetails.referenceType)"> {{requestDetails.reference}} </a></td></tr>
				
				<tr><td> {{'COH_REQUEST_TYPE' | translate}}: </td> <td class="section-value"> {{requestDetails.requestType}}</td><td>&nbsp;</td></tr>			
				<tr><td> {{'CON_REQUEST_DESCRIPTION' | translate}}: 	 </td> <td class="section-value"> {{requestDetails.reqDesc}}</td><td>&nbsp;</td></tr>
				
				<tr><td> {{'CON_RESOLUTION_TYPE' | translate}}: </td> <td class="section-value"> {{requestDetails.resolutionType}}</td><td>&nbsp;</td></tr>			
				<tr><td> {{'CON_RESOLUTION_DESCRIPTION' | translate}}: 	 </td> <td class="section-value"> {{requestDetails.resolutionDesc}}</td><td>&nbsp;</td></tr>			
				
			</table>
			<div class="sep"></div>
		</div>
	</section -->
  </div>
</div>

