<div class="listview reqSearch" ng-controller="requestHistoryCtrl">
  <div class="checkout-container wishlist-container transport-flow">
	<div class="cnt-back-action">
    	<a href="javascript:void(0)" class="goback-btn btn btn-primary" ng-click="goBack()">
    		<i class="fa fa-arrow-circle-o-left"></i>
    		<span>{{'CON_BACK' | translate}}</span>
    	</a>
    </div>
	<div class="row">
   		<div class="col-sm-12">
     	<h1>{{'CON_REQUEST_SEARCH' | translate}}</h1>
     	</div>
   	</div>
    <div class="right download">
	 		<a href="" class="right" ng-show="webSettings.showXmlIcon" title="{{'CON_REQUEST_SEARCH_XML' | translate}}"> <img ng-src="./images/XML.png" ng-click="exportRequestHistory('xml')" /> </a> 
	 		<a href="" class="right" ng-show="webSettings.showExcelIcon" title="{{'CON_REQUEST_SEARCH_EXCEL' | translate}}"> <img ng-src="./images/Excel.png" ng-click="exportRequestHistory('xls')" /> </a>
			<a href="" class="right" ng-show="webSettings.showPdfIcon" title="{{'CON_REQUEST_SEARCH_PDF' | translate}}" > <img ng-src="./images/PDF.png" ng-click="exportRequestHistory('pdf')" /> </a>
	</div>
 
	<div class="advanced-search">
		<div class="panel panel-default">
			<p ng-model="isCollapsed" ng-click="isCollapsed = !isCollapsed"> 
				<button type="button" data-toggle="collapse" data-target="#advSearch" class="button-search collapsed"><span>{{'CON_NEW_SEARCH' | translate}}</span></button>
			</p>
			<!-- a ng-class ="{'exp-collapse-arrow': !isCollapsed, 'exp-plus-arrow': isCollapsed}">{{'CON_NEW_SEARCH' | translate}}</a>{{'CON_NEW_SEARCH' | translate}} </p-->		
		 
		    <div id="advSearch" aria-expanded="true" class="collapse">
                <div class="panel-body">
                  <div class="row">
				  <form class="search-form" role="form" ng-submit="submitFilter()" name="searchForm">
                  	 <div class="col-sm-4" ng-repeat="filter in filterList.getFilters()" ng-show="filter.isEnabled">
                  	 	<div class="form-group">
							<label for = "filter.filterParam">{{filter.filterName | translate}}</label> 
							<div ng-show ="filter.isInputList">
								<div class="select-style">
									<select ng-if= "filter.filterName != 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems" ng-options="item.code as item.description for item in filter.dataList" class="form-control">	
									</select>
									<select ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems" class="form-control">
									<option ng-repeat="resultperPage in resultPerPageList" >{{resultperPage}}</option> 
									</select>   
								</div>
							</div>
							<div ng-show ="!filter.isInputList">							
								<input ng-if= "filter.numericType" type="text" id= "filter.filterParam" 
								name="filter.filterParam" ng-model="filter.selectedItems" 
								ng-blur ="validateNumber(filter,filter.selectedItems)" ng-mouseleave="validateNumber(filter,filter.selectedItems)" class="form-control"/> 
								<span ng-if= "filter.numericType"><p class="validationMsg ValidationMsgOrder">  {{filter.validationMsg}} </p> </span>
								<input ng-if= "!filter.numericType" type="text" id= "filter.filterParam" name="filter.filterParam"  ng-model="filter.selectedItems" class="form-control"/>
							</div>
						  </div>
					  	</div>	 
						<div class="col-sm-12 actions-buttons text-right">
							<button class="btn btn-block btn-primary" ng-disabled="isFilterHasError(filterList.getFilters())">{{'CON_START_SEARCH' | translate}}</button>
						</div>
					</form>
				</div>
				</div>
			</div>
			<p class="clr_left" ng-bind-html="renderHtml(filterMsg)"></p>	
		</div>
	</div>	
	<!-- div class="scrollTableTop" id = "result_set"></div-->
	<div class="orders-table" >	
	   <table class="table table-striped table-hover table-orders">
		<thead>
			<tr>
				<th class="txt_right">
					<div class="sorting contentRight paddingRight">
						<span class="sortingInnerWrap">	
						 	<a ng-class ="sort.getAscCSS('RequestNumber')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('RequestNumber')"></a>
		      			 	<a ng-class="sort.getDescCSS('RequestNumber')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('RequestNumber')"></a>
						</span>	
						<span>{{'COH_ID' | translate}} </span>
					</div>			
				</th>
				<th ng-show="requestData.customerFlag">
					<div class="sorting">
						<span class="sortingInnerWrap">	
						 	<a ng-class ="sort.getAscCSS('customer')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('customer')"></a>
		      			 	<a ng-class="sort.getDescCSS('customer')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('customer')"></a>
						</span>						
						<span>{{'CON_CUSTOMER' | translate}}</span>
					</div>
				</th>				
				<th>	
					<div class="sorting">
						<span class="sortingInnerWrap">	
						 	<a ng-class ="sort.getAscCSS('status')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('status')"></a>
		      			 	<a ng-class="sort.getDescCSS('status')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('status')"></a>
						</span>	
						<span>{{'CON_STATUS' | translate}}</span>
					</div>							
				</th>
				<th>
				<div class="sorting">
					<span class="sortingInnerWrap">	
					
					 	<a ng-class ="sort.getAscCSS('RequestType')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('RequestType')"></a>
	      			 	<a ng-class="sort.getDescCSS('RequestType')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('RequestType')"></a>
					</span>									
					<span>{{'COH_REQUEST_TYPE' | translate}}</span>
					</div>								
				</th>				
				<th>
				<div class="sorting">
				
					<span class="sortingInnerWrap">	
					 	<a ng-class ="sort.getAscCSS('ResolutionType')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('ResolutionType')"></a>
	      			 	<a ng-class="sort.getDescCSS('ResolutionType')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('ResolutionType')"></a>
					</span>	
					<span>{{'CON_RESOLUTION_TYPE' | translate}}</span>
						</div>	
				</th>
				<th>
				<div class="sorting">
					<span class="sortingInnerWrap">	
					 	<a ng-class ="sort.getAscCSS('ReferenceType')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('ReferenceType')"></a>
	      			 	<a ng-class="sort.getDescCSS('ReferenceType')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('ReferenceType')"></a>
					</span>				
					<span>{{'COH_REFERENCE_TYPE' | translate}}</span>
					</div>		
				</th>
				<th class="txt_right">
				<div class="sorting contentRight paddingRight">
					<span class="sortingInnerWrap">	
					 	<a ng-class ="sort.getAscCSS('Reference')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Reference')"></a>
	      			 	<a ng-class="sort.getDescCSS('Reference')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Reference')"></a>
					</span>				
				
						<span>{{'CON_REFERENCE' | translate}}</span>
				</div>			
				</th>
				<th>
				<div class="sorting">
					<span class="sortingInnerWrap">	
					
					 	<a ng-class ="sort.getAscCSS('Date')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Date')"></a>
	      			 	<a ng-class="sort.getDescCSS('Date')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Date')"></a>
					</span>				
				
						<span>{{'COH_DATE' | translate}}</span>
				</div>			
				</th>
				<th>	
					{{'COH_ACTIONS' | translate}}					
				</th>
				
			</tr>
		</thead>
		<tbody>
		 <tr ng-repeat="row in requestHistoryList" >
							
				<td><h4><a ng-click="showRequestDetail(row)" href="">{{row.requestId}}</a></h4></td>
				<td ng-show="requestData.customerFlag">{{row.customer}}</td>				
				<td>{{row.status}}  </td>
				<td>{{row.requestType}}  </td>
				<td>{{row.resolutionType}}  </td>
				<td>{{row.refType}}  </td>
				<td><div class="txt_right">
					<span ng-if="!row.refLinkFlag" ng-click="showRequestReferenceDetail(row,row.refType)"><span ng-show="!isEmptyString(row.docType)">{{row.docType}}&nbsp;</span>{{row.reference}}</span>
					<a ng-show="row.refLinkFlag" ng-click="showRequestReferenceDetail(row,row.refType)"><span ng-show="!isEmptyString(row.docType)">{{row.docType}}&nbsp;</span>{{row.reference}}</a> 
				</div></td>
				<td>{{row.date}}</td>				
				<td class="actions-td">
					<button ng-show="row.deleteReqFlag" class="btn btn-block btn-danger" title="{{'CON_DELETE'| translate}}" ng-click="deleteRequestAction(row.requestId)"><i aria-hidden="true" class="fa fa-trash"></i></button>
				</td>
			</tr>
			<tr ng-show ="!dataFound">
				 <td colspan="8">{{pageLoadMsg}}</td>
			</tr>		
		</tbody>
	</table>
	<div class="sep_tbl"></div>	
</div>
</div>	
  <div class="pager">
     <div class="pager-indicators">
     	<!-- span class="actual-page">1</span><span class="separator-pages">/</span><span class="total-pages">3</span-->
       <button class="btn btn-grey" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}"><i aria-hidden="true" class="fa fa-caret-left"></i></button>
       <button class="btn btn-grey" ng-disabled="!dataFound || !moreDataArrow"  ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}"><i aria-hidden="true" class="fa fa-caret-right"></i></button>
       <!-- div class="seealls"><a href="#" class="btn btn-link">Vedi tutti</a></div -->
     </div>
   </div>
</div>
