<div class="listview requestConfirmationPage order-confirmation"  ng-controller="requestCtrlReview" >

	<h1 class="heading">{{'CON_CONFIRMATION' | translate}} - {{'CON_SUBMIT_REQUEST' |translate}} ?</h1>

	<div class="confirmation-recap">
		{{'CON_CUSTOMER_NAME' | translate}}:<strong>{{requestObject.customerName}}</strong><br>
		{{'CON_CREATION_DATE' | translate}}:<strong>{{requestDate}}</strong><br>
	</div>
	<div class="orders-table" ng-show="showRequestLine">
    	<table class="table table-striped table-hover table-orders">
			<thead>
				<tr>
					<th ng-click="" >{{'COH_LINE' | translate}}</th>
					<th ng-click="">{{'COH_PRODUCT' | translate}}</th>
					<th ng-click="">{{'CON_MINSAN_CODE' | translate}}</th>
					<th ng-click="" >{{'COH_DESCRIPTION' | translate}}</th>
					<th ng-click="">{{'COH_UNIT' | translate}}</th>
					<th ng-click="">{{'COH_QUANTITY' | translate}}</th>		
					<th ng-click="">{{'COH_BATCH' | translate}}</th>				
					<th ng-click="">{{'COH_EXPIRE_DATE' | translate}}</th>				
					<th ng-click="">{{'CON_SERIAL_NUMBER' | translate}}</th>				
					<th ng-click="">{{'COH_REASON_CODE' | translate}}</th>				
				</tr>
			 </thead>
			 <tbody ng-repeat= "reqLine in requestLineObj.newRequestLineList">
				<tr >					
					<td>{{reqLine.lineNumber}}  </td> 
					<td>{{reqLine.product}} </td>
					<td>{{reqLine.minsanCode}}</td>
					<td>{{reqLine.productDescription}} </td>
					<td>{{reqLine.unit}}</td>
					<td>{{reqLine.quantity}} </td>					
					<td>{{reqLine.batch}}</td>				
					<td>{{reqLine.expireDate}}</td>				
					<td>{{reqLine.serialNo}}</td>				
					<td>{{reqLine.reasonCode}}</td>				
				</tr>
			 </tbody>
	      </table>
	</div>
	<div class="bnts-order-confirmed">
      <button type="button" class="btn btn-block btn-danger" ng-click="backToRequest()">{{'CON_NO' | translate}}</button>
      <button type="button" class="btn btn-block btn-success" ng-click="createRequest()">{{'CON_YES' | translate}}</button>
	</div>	
</div>
