<div class="listview quotationPageDetailPage checkout-container wishlist-container transport-flow" ng-show="requestLineObj.showRequestLines">
	<h5>{{'CON_REQUEST_LINES' | translate}}</h5>
	<div class="orders-table table-responsive">
           <table class="table table-striped table-hover table-orders">
			<thead>
				<tr>
					<th>{{'COH_LINE' | translate}}</th>
					<th>{{'COH_PRODUCT' | translate}}</th>
					<th>{{'CON_MINSAN_CODE' | translate}}</th>
					<th>{{'COH_DESCRIPTION' | translate}}</th>
					<th>{{'COH_UNIT' | translate}}</th>
					<th class="txt_right">{{'COH_QUANTITY' | translate}}</th>
					<!-- ADM-XXX
						<th>{{'COH_REQUEST_TYPE' | translate}}</th>		
						<th>{{'COH_REQUEST_DESCRIPTION' | translate}}</th>
					-->
					<!-- ADM-XXX -->
					<th>{{'COH_BATCH' | translate}}</th>
					<th>{{'COH_EXPIRE_DATE' | translate}}</th>
					<th>{{'CON_SERIAL_NUMBER' | translate}}</th>
					<th>{{'COH_REASON_CODE' | translate}}</th>
					<th>{{'COH_ACTIONS' | translate}}</th>
				</tr>
			</thead>
			<tbody ng-repeat="reqLine in requestLineObj.getLineList()">
				<tr ng-show="!reqLine.isValidProduct">
					<td colspan="5"><span class="left errorMsg">
							{{reqLine.errorMsg}}</span></td>
				</tr>

				<tr ng-show="!collapsed_edits" ng-class="{true: 'editBackground', false: ''}[collapsed_edit]">
					<td >{{reqLine.lineNumber}}</td>
					<td>{{reqLine.product}}</td>
					<td>{{reqLine.minsanCode}}</td>
					<td>{{reqLine.productDescription}}</td>
					<td>{{reqLine.unit}}</td>
					<td><input type="text"
						id="getId('txtQuantity',reqLine.product)" value="each"
						class="txt_right quantity" ng-disabled="!collapsed_edit"
						ng-model="reqLine.quantity"
						ng-class="{ 'error': !reqLine.validQuantity, '' : reqLine.validQuantity}"
						ng-change="checkValidQuantity(reqLine,reqLine.quantity)"
						ng-blur="validateEnteredLineData(reqLine, requestLineObj)"
						title="{{'MSG_ENTER_RETURNED_QUANTITY' | translate}}"  size="4" maxlength="4" style="width:40px"/></td>
					<td><input type="text" id="" ng-model="reqLine.batch"
						ng-blur="validateBatch(reqLine)" ng-disabled="!collapsed_edit"
						title="{{'MSG_ENTER_RETURNED_BATCH' | translate}}" size="12" maxlength="12" style="width:150px"/></td>
					<td ng-if="!webSettings.useDatePicker" ><input
						type="text" id="getId(getId('txtExpireDate',reqLine.product))"
						ng-disabled="!collapsed_edit"
						ng-class="{ 'error': !reqLine.validDate, '' :  reqLine.validDate }"
						ng-change="validateDateBpr(reqLine)"
						ng-model="reqLine.expireDate"
						title="{{'MSG_ENTER_EXPIRE_DATE' | translate}}" size="12" maxlength="12" style="width:130px"/></td>
					<td ng-if="webSettings.useDatePicker" ><input
						type="text" ng-disabled="!collapsed_edit"
						ng-class="{ 'error': !reqLine.validDate, '' :  reqLine.validDate }"
						ng-change="validateDateBpr(reqLine)" name="mDate" my-Datepicker
						ng-model="reqLine.expireDate"
						title="{{'MSG_SELECT_EXPIRE_DATE' | translate}}" size="12" maxlength="12" style="width:130px"/></td>
					<td><input type="text"
						id="getId('txtSerialNo',reqLine.product)"
							ng-disabled="!collapsed_edit" ng-model="reqLine.serialNo"
							title="{{'MSG_ENTER_RETURNED_SERIAL_NO' | translate}}" size="20" maxlength="20" style="width:200px"/></td>
					<td>
						<select ng-disabled="!collapsed_edit"
							ng-model="reqLine.selectedReasonCode"
							ng-change="onAddProdReqTypeChange(getId('txtReasonCode',reqLine.product), reqLine.selectedReasonCode)"
							ng-options="reasonCode.description for reasonCode in reqLine.reasonCodeList"
							title="{{'MSG_SELECT_REASON_CODE' | translate}}"></select>
					</td>
					<!-- ADM-XXX end -->
					<td class="actions-td">
						<button href="" class="btn btn-block btn-success" ng-disabled="collapsed_edit"
							title="{{'CON_CHANGE_REQUEST_LINE' | translate}}"
							ng-model="collapsed_edit"
							ng-click="collapsed_edit=!collapsed_edit;validateRequestLines(reqLine,'REQUEST',requestLineObj);requestLineObj.EditLine($index)">
							<i aria-hidden="true" class="fa fa-pencil"></i></button>
						<button class="btn btn-block btn-danger" ng-disabled="collapsed_edit"
							title="{{'CON_DELETE_REQUEST_LINE'| translate}}"
							ng-click="deleteSelectedRequestLine($index,reqLine)"><i aria-hidden="true" class="fa fa-trash"></i></button>
					</td> 
				</tr>

				<tr ng-show="collapsed_edit" class="editBackground">
					<td colspan="10">
						<div class="bottom-transport bottom-wlist checkout-container">
				          <div class="row">
				            <div class="col-sm-12 wlist-control-buttons">
				              <div class="cancel-section addprod-buttons">
				                <button type="button" class="btn btn-block btn-danger" ng-click="collapsed_edit=!collapsed_edit;requestLineObj.CancelEditLine($index)"><i aria-hidden="true" class="fa fa-trash"></i>{{'CON_CANCEL' | translate}}</button>
				                <button type="button" class="btn btn-block btn-success" ng-disabled="!reqLine.validQuantity || !reqLine.validDate"
								ng-click="updateLineObj(requestLineObj);">{{'CON_UPDATE' | translate}}</button>
				              </div>
				            </div>
				          </div>
				        </div>
					</td>
				</tr>
				<!-- tr ng-show="!dataFound">
					<td colspan="7">{{requestLineLoadMsg}}</td>
				</tr -->
			</tbody>
		</table>
	</div>	
</div>