<div class="checkout-container noprint" ng-controller="CartDeliveryPaymentCtrl" id="printPage">
          <h1>{{'CON_REVIEW_ORDER'  | translate}}</h1>
          <div class="addresses-and-refers">
            <div class="row">
              <div class="col-sm-4">
               <h2 class="heading">{{'CON_DELIVERY_ADDRESS' | translate}}</h2>
	                <p>{{CartDeliveryInfo.deliveryAddress.displayAddress}}</p>
					<p>{{CartDeliveryInfo.deliveryAddress.addressName}}</p> 
					<p>{{CartDeliveryInfo.deliveryAddress.address1}}</p>
					<p>{{CartDeliveryInfo.deliveryAddress.address2}}</p>
					<p>{{CartDeliveryInfo.deliveryAddress.address3}}</p>
					<p>{{CartDeliveryInfo.deliveryAddress.postalCode}} {{CartDeliveryInfo.deliveryAddress.address4}}</p>
					<p ng-show="showCountyOrState(CartDeliveryInfo.deliveryAddress.countyDesc)">{{CartDeliveryInfo.deliveryAddress.countyDesc}}</p>
					<p ng-show="showCountyOrState(CartDeliveryInfo.deliveryAddress.stateProvDesc)">{{CartDeliveryInfo.deliveryAddress.stateProvDesc}}</p>
					<p>{{CartDeliveryInfo.deliveryAddress.countryDesc}}</p>
              </div>
              <div class="col-sm-4">
                <h2 class="heading">{{'CON_BILLING_ADDRESS' | translate}}</h2>
					<p>{{CartDeliveryInfo.billingAddress.displayAddress}}</p>
					<p>{{CartDeliveryInfo.billingAddress.addressName}}</p>
					<p>{{CartDeliveryInfo.billingAddress.address1}}</p>
					<p>{{CartDeliveryInfo.billingAddress.address2}}</p>
					<p>{{CartDeliveryInfo.billingAddress.address3}}</p>
					<p>{{CartDeliveryInfo.billingAddress.postalCode}} {{CartDeliveryInfo.billingAddress.address4}}</p>
					<p ng-show="showCountyOrState(CartDeliveryInfo.billingAddress.countyDesc)">{{CartDeliveryInfo.billingAddress.countyDesc}}</p>
					<p ng-show="showCountyOrState(CartDeliveryInfo.billingAddress.stateProvDesc)">{{CartDeliveryInfo.billingAddress.stateProvDesc}}</p>
					<p>{{CartDeliveryInfo.billingAddress.countryDesc}}</p>
              </div>
              <div class="col-sm-4">
                <h2 class="heading">{{'CON_ORDER_REFERENCE' | translate}}</h2>
					<p>{{'CON_YOUR_ORDER' | translate}} : <strong>{{CartDeliveryInfo.orderReference.yourOrderNumber}}</strong></p>
					<p>{{'CON_YOUR_REFERENCE' | translate}}: <strong>{{CartDeliveryInfo.orderReference.yourReference}}</strong></p>
					<p>{{'CON_OUR_REFERENCE' | translate}}: <strong>{{CartDeliveryInfo.orderReference.ourReference}}</strong></p>
					<p>{{'CON_CREATION_DATE' | translate}}: <strong>{{CartDeliveryInfo.creationDate}}</strong></p>
					<p ng-if="CartDeliveryInfo.isCompleteDeliveryFlag">{{'CON_COMPLETE_DELIVERY' | translate}}: <strong>{{CartDeliveryInfo.completeDelivery}}</strong></p>
					<p ng-if="!CartDeliveryInfo.isCompleteDeliveryFlag">{{'CON_COMPLETE_DELIVERY' | translate}}: <strong>{{'CON_NOT_REQUESTED' | translate}}</strong></p>
					<p>{{'CON_FREE_TEXT' | translate}}: <strong>{{CartDeliveryInfo.orderReference.orderText}}</strong></p>
              </div>
            </div>
          </div>
        	<div class="alert alert-warning" ng-if="CartDeliveryInfo.nsOrderValueInfo.isCreditLimitExceeded">
				<span class="error"><b>{{'CON_WARNING' | translate}}:</b></span> {{'CON_CREDIT_LIMIT_EXCEEDED' | translate}}
				<br/>
				<span>{{CartDeliveryInfo.nsOrderValueInfo.itemSalesRestMsg}}</span>
			</div>  
          <div class="row">
              <div class="col-sm-12">
               	<h2 class="heading">{{'CON_ORDER_RECAP' | translate}}</h2>
              </div>
          </div>
          <div class="orders-table">
            <table class="table table-striped table-hover table-orders">
              <thead>
				<tr>
					<th>{{'COH_DESCRIPTION' | translate}}</th>
					<!-- th>{{'CON_DELIVERY_DATE' | translate}}</th-->
					<th>{{'CON_UNIT' | translate}}</th>
					<!--th>{{'CON_DISCOUNT' | translate}}</th-->
					<th>{{'CON_PRICE' | translate}}</th>
					<th>{{'COH_QUANTITY' | translate}}</th>
					<th>{{'COH_TOTAL_AMOUNT' | translate}}</th>		
					<!--th>{{'COH_SHIPMENT_MARKING' | translate}}</th-->			
				</tr>
			</thead>
			<tbody ng-repeat="orderLine in CartDeliveryInfo.orderLines">
				<tr>
					<td>
						<h4><a href="javascript:void(0);" ng-click="showProductDetail(orderLine.ivItem.code);">{{orderLine.ivItem.description}}</a></h4>
						<span class="code-product">{{orderLine.ivItem.code}}</span>
					</td>
					<!-- td>{{orderLine.ivEnteredValues.Date}}<span ng-show="orderLine.ivOrderLine.isLateDispatch" class="late">({{'MSG_LATE' | translate}})</span></td-->
					<td>{{orderLine.ivEnteredValues.Unit}}</td>
					<!--td> <span> {{orderLine.ivOrderLine.lineDisCount}} </span> </td-->
					<td>{{orderLine.ivOrderLine.price}} {{orderLine.ivOrderLine.pricingUnitCode}}</td>						
			
					<td ng-bind="changeFormatToLocale(orderLine.ivOrderLine.orderedQuantity)">{{orderLine.ivOrderLine.orderedQuantity}}</td>
					<td>{{orderLine.ivOrderLine.lineVal}}</td>	
					<!--td>{{orderLine.ivOrderLine.shipmentMark}}</td-->										
				</tr>
				<!-- tr ng-show = "orderLine.focListItems.length > 0">
					<td colspan= "1">
						<img ng-src="images/FreeOfCharge.gif" class="focItem"/> 
						<span class="clr_right">{{orderLine.focListItems[0].focItemCode}}</span></td>
					<td colspan= "1"><span class="left"> {{orderLine.focListItems[0].focItemDesc}} </span></td>
					<td colspan= "1">&nbsp;</td>
					<td colspan= "1"> {{orderLine.focListItems[0].focItemUnit}}</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td colspan= "1" class="txt_center"> {{orderLine.focListItems[0].focItemQty}}</td>
					<td colspan= "2">&nbsp;</td>
				</tr>
				<tr ng-if="!isEmptyValue(orderLine.ivOrderLine.replacementItem)">
				 <td colspan="5">{{orderLine.ivOrderLine.replacementItem}}</td>
				 <td class="smallSpace">&nbsp;</td>
				 <td class="smallSpace txt_center">&nbsp;</td>	
				 <td colspan= "2">&nbsp;</td>
				</tr-->
              </tbody>
            </table>
            <div class="clearfix">
              <table class="table table-recap">
                <tbody>
                	<tr><td>{{'CON_TOTAL_LINES' | translate}} : </td><td>{{CartDeliveryInfo.nsOrderValueInfo.emTotalLines}}</td></tr>
					<tr><td>{{'CON_ORDER_DISCOUNT' | translate}} : </td><td>{{CartDeliveryInfo.nsOrderValueInfo.emDisCount}}</td></tr>
					<!-- tr ng-show="isShowThisField(CartDeliveryInfo.nsOrderValueInfo.freightFee)"><td>{{'CON_FREIGHT_FEE' | translate}} : </td><td>{{CartDeliveryInfo.nsOrderValueInfo.freightFee}}</td></tr>
					<tr ng-show="isShowThisField(CartDeliveryInfo.nsOrderValueInfo.postageFee)"><td>{{'CON_POSTAGE_FEE' | translate}} : </td><td>{{CartDeliveryInfo.nsOrderValueInfo.postageFee}}</td></tr>
					<tr ng-show="isShowThisField(CartDeliveryInfo.nsOrderValueInfo.insuranceFee)"><td>{{'CON_INSURANCE_FEE' | translate}} : </td><td>{{CartDeliveryInfo.nsOrderValueInfo.insuranceFee}}</td></tr>
					<tr ng-show="isShowThisField(CartDeliveryInfo.nsOrderValueInfo.insurancePercentage)"><td>{{'CON_INSURANCE_PERCENTAGE' | translate}} : </td><td>{{CartDeliveryInfo.nsOrderValueInfo.insurancePercentage}}</td></tr>
					<tr ng-show="isShowThisField(CartDeliveryInfo.nsOrderValueInfo.surcharge)"><td>{{'CON_SURCHARGE' | translate}} : </td><td>{{CartDeliveryInfo.nsOrderValueInfo.surcharge}}</td></tr-->					
					<tr><td>{{'CON_TOTAL_EXCLUDING_VAT' | translate}} : </td><td>{{CartDeliveryInfo.nsOrderValueInfo.emLineNet}}</td></tr>
					<tr><td>{{'CON_VAT' | translate}} : </td><td> {{CartDeliveryInfo.nsOrderValueInfo.emVAT}}</td></tr>
					<tr class="total-cart-order"><td>{{'CON_GRAND_TOTAL' | translate}}: </td> <td>{{CartDeliveryInfo.nsOrderValueInfo.emOrderTotal}} {{webSettings.currencyCode}}</td></tr>
                </tbody>
              </table>
            </div>
          </div>
          
          <div class="footer-checkout row clearfix">
            <div class="cancel-section pull-left">
	            <a href="javascript:void(0);" class="btn btn-link" ng-click="goShoppingCart()">{{'CON_BACK_TO_CART' | translate}}</a>
              <button type="button" class="btn btn-block btn-info" title="{{'CON_PRINT_ORDER_RECAP' | translate}}" ng-click="NEWexportReviewOrderTableAsPDF();">
              	<i aria-hidden="true" class="fa fa-print"> </i> {{'CON_PRINT_ORDER_RECAP' | translate}} 
              </button>
            </div>
            <div class="acceptation-section pull-right">
              <label>
              	<input type="checkbox" ng-model="cartDeliveryTermsAndCondition" ng-click="selectCloseCart(cartDeliveryTermsAndCondition)"><span class="label--require">*</span> <a class="btn btn-link" ng-href="./{{getTermsNConditionFileName()}}" target="_blank">{{'SALES_AND_CONDITION' | translate}}</a>
              </label>
              <button type="button" ng-disabled="!cartDeliveryTermsAndCondition || CartDeliveryInfo.lineCount == 0" ng-click = "goThankYou()" class="btn btn-block btn-success">{{'CON_CONFIRM_ORDER' |translate }}</button>
            </div>
          </div>
        </div>
        
    <div class="printable-page" id="printable-page" ng-controller="CartDeliveryPaymentCtrl" >
      <table class="heading-page">
        <tr>
          <td>
            <h1><a href="#"><img src="./images/farmalvarion.png" width="243px"></a></h1>
          </td>
          <td>
            <p><strong>{{'PRINT_ORDER_INTESTAZIONE_NOME' | translate}}</strong><br>
            {{'PRINT_ORDER_INTESTAZIONE_RIGA1' | translate}}<br>
            {{'PRINT_ORDER_INTESTAZIONE_RIGA2' | translate}}<br>
            {{'PRINT_ORDER_INTESTAZIONE_RIGA3' | translate}}<br>
            {{'PRINT_ORDER_INTESTAZIONE_RIGA4' | translate}}</p>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td>
            <h1>{{'PRINT_ORDER_ORDER_DETAIL' | translate}}</h1>
            <div class="number-order-print">{{CartDeliveryInfo.orderReference.yourOrderNumber}}</div>
            <h2>{{'PRINT_ORDER_ORDER_RECAP' | translate}}</h2>
          </td>
        </tr>
      </table>
      <table class="table table-striped table-hover table-orders">
        <thead>
          <tr>
          	<th>{{'COH_DESCRIPTION' | translate}}</th>
			<!-- th>{{'CON_DELIVERY_DATE' | translate}}</th-->
			<th>{{'CON_UNIT' | translate}}</th>
			<!--th>{{'CON_DISCOUNT' | translate}}</th-->
			<th>{{'CON_PRICE' | translate}}</th>
			<th>{{'COH_QUANTITY' | translate}}</th>
			<th>{{'COH_TOTAL_AMOUNT' | translate}}</th>		
			<!--th>{{'COH_SHIPMENT_MARKING' | translate}}</th-->
          </tr>
        </thead>
        <tbody ng-repeat="orderLine in CartDeliveryInfo.orderLines">
				<tr>
					<td>
						<h4><a href="javascript:void(0);" ng-click="showProductDetail(orderLine.ivItem.code);">{{orderLine.ivItem.description}}</a></h4>
						<span class="code-product">{{orderLine.ivItem.code}}</span>
					</td>
					<!-- td>{{orderLine.ivEnteredValues.Date}}<span ng-show="orderLine.ivOrderLine.isLateDispatch" class="late">({{'MSG_LATE' | translate}})</span></td-->
					<td>{{orderLine.ivEnteredValues.Unit}}</td>
					<!--td> <span> {{orderLine.ivOrderLine.lineDisCount}} </span> </td-->
					<td>{{orderLine.ivOrderLine.price}} {{orderLine.ivOrderLine.pricingUnitCode}}</td>						
			
					<td ng-bind="changeFormatToLocale(orderLine.ivOrderLine.orderedQuantity)">{{orderLine.ivOrderLine.orderedQuantity}}</td>
					<td>{{orderLine.ivOrderLine.lineVal}}</td>	
					<!--td>{{orderLine.ivOrderLine.shipmentMark}}</td-->										
				</tr>
				<!-- tr ng-show = "orderLine.focListItems.length > 0">
					<td colspan= "1">
						<img ng-src="images/FreeOfCharge.gif" class="focItem"/> 
						<span class="clr_right">{{orderLine.focListItems[0].focItemCode}}</span></td>
					<td colspan= "1"><span class="left"> {{orderLine.focListItems[0].focItemDesc}} </span></td>
					<td colspan= "1">&nbsp;</td>
					<td colspan= "1"> {{orderLine.focListItems[0].focItemUnit}}</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td colspan= "1" class="txt_center"> {{orderLine.focListItems[0].focItemQty}}</td>
					<td colspan= "2">&nbsp;</td>
				</tr>
				<tr ng-if="!isEmptyValue(orderLine.ivOrderLine.replacementItem)">
				 <td colspan="5">{{orderLine.ivOrderLine.replacementItem}}</td>
				 <td class="smallSpace">&nbsp;</td>
				 <td class="smallSpace txt_center">&nbsp;</td>	
				 <td colspan= "2">&nbsp;</td>
				</tr-->
              </tbody>
      </table>
      <h2>{{'PRINT_ORDER_ORDER_INFO' | translate}}</h2>
      <table>
        <tr style="vertical-align:top;">
          <td>
            <table class="table-info-order">
              <tr>
                <td>{{'CON_YOUR_ORDER' | translate}}</td>
                <td>{{CartDeliveryInfo.orderReference.yourOrderNumber}}</td>
              </tr>
              <tr>
                <td>{{'CON_CREATION_DATE' | translate}}</td>
                <td>{{CartDeliveryInfo.creationDate}}</td>
              </tr>
              <tr>
                <td>{{'CON_FREE_TEXT' | translate}}</td>
                <td>{{CartDeliveryInfo.orderReference.orderText}}</td>
              </tr>
              <tr><td>{{'CON_TOTAL_EXCLUDING_VAT' | translate}} : </td><td>{{CartDeliveryInfo.nsOrderValueInfo.emLineNet}}</td></tr>
			  <tr><td>{{'CON_VAT' | translate}} : </td><td> {{CartDeliveryInfo.nsOrderValueInfo.emVAT}}</td></tr>
			  <tr class="total-cart-order"><td>{{'CON_GRAND_TOTAL' | translate}}: </td> <td>{{CartDeliveryInfo.nsOrderValueInfo.emOrderTotal}} {{webSettings.currencyCode}}</td></tr>
            </table>
          </td>
          <td>
            <table class="table-info-order">
              <tr>
                <td>{{'CON_YOUR_REFERENCE' | translate}}</td>
                <td>{{CartDeliveryInfo.orderReference.yourReference}}</td>
              </tr>
              <tr>
                <td>{{'CON_OUR_REFERENCE' | translate}}</td>
                <td>{{CartDeliveryInfo.orderReference.ourReference}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      
      <h2>{{'PRINT_ORDER_ORDER_ADDRESSES' | translate}}</h2>
      <table class="addresses">
        <tr style="vertical-align:top;">
          <td>
            <h5>{{'CON_DELIVERY_ADDRESS' | translate}}</h5>
            <p>{{CartDeliveryInfo.deliveryAddress.displayAddress}}</p>
			<p>{{CartDeliveryInfo.deliveryAddress.addressName}}</p> 
			<p>{{CartDeliveryInfo.deliveryAddress.address1}}</p>
			<p>{{CartDeliveryInfo.deliveryAddress.address2}}</p>
			<p>{{CartDeliveryInfo.deliveryAddress.address3}}</p>
			<p>{{CartDeliveryInfo.deliveryAddress.postalCode}} {{CartDeliveryInfo.deliveryAddress.address4}}</p>
			<p ng-show="showCountyOrState(CartDeliveryInfo.deliveryAddress.countyDesc)">{{CartDeliveryInfo.deliveryAddress.countyDesc}}</p>
			<p ng-show="showCountyOrState(CartDeliveryInfo.deliveryAddress.stateProvDesc)">{{CartDeliveryInfo.deliveryAddress.stateProvDesc}}</p>
			<p>{{CartDeliveryInfo.deliveryAddress.countryDesc}}</p>
          </td>
          <td>
            <h5>{{'CON_BILLING_ADDRESS' | translate}}</h5>
            <p>{{CartDeliveryInfo.billingAddress.displayAddress}}</p>
			<p>{{CartDeliveryInfo.billingAddress.addressName}}</p>
			<p>{{CartDeliveryInfo.billingAddress.address1}}</p>
			<p>{{CartDeliveryInfo.billingAddress.address2}}</p>
			<p>{{CartDeliveryInfo.billingAddress.address3}}</p>
			<p>{{CartDeliveryInfo.billingAddress.postalCode}} {{CartDeliveryInfo.billingAddress.address4}}</p>
			<p ng-show="showCountyOrState(CartDeliveryInfo.billingAddress.countyDesc)">{{CartDeliveryInfo.billingAddress.countyDesc}}</p>
			<p ng-show="showCountyOrState(CartDeliveryInfo.billingAddress.stateProvDesc)">{{CartDeliveryInfo.billingAddress.stateProvDesc}}</p>
			<p>{{CartDeliveryInfo.billingAddress.countryDesc}}</p>
          </td>
        </tr>
      </table>
    </div>