<div class="listview shoppingListEntry" ng-controller="shoppingListDetailsCtrl">
	<div class="checkout-container invoice-container wishlist-container">
          <div class="cnt-back-action"><a href="javascript:void(0)" class="goback-btn btn btn-primary" ng-click="goBack()" ><i class="fa fa-arrow-circle-o-left"></i><span>{{'CON_BACK' | translate}}</span></a></div>
          <h1>{{'SHOPPING_LIST_DETAIL' | translate}} |  {{ListId}}</h1>
          <div class="advanced-search">
            <div class="panel panel-default">
              <button type="button" data-toggle="collapse" data-target="#addProductDetail" class="button-search collapsed" ng-click="showAddProductTable();"><span>Vuoi aggiungere altri prodotti?</span></button>
              <div id="addProductDetail" aria-expanded="true" class="collapse">
                <div class="panel-body">
		          <div class="col-sm-5">
	                 <div class="form-group">
	                   <label for="">{{'COH_ITEM' | translate}}</label>
	                 </div>
	               </div>
	               <div class="col-sm-2">
	                 <div class="form-group">
	                   <label for="">{{'COH_QUANTITY' | translate}}</label>
	                 </div>
	               </div>
	               <div class="col-sm-5">
	                 <div class="form-group">
	                   <label for="">{{'CON_UNIT' | translate}}</label>
	                 </div>
	               </div>
	             <div class="row" ng-repeat="order in copyOrder.getList()">
	               <div class="col-sm-12 alert alert-danger" ng-show= "!order.isValidProduct">{{order.errorMsg}}</div>
	               <div class="col-sm-5">
	                 <div class="form-group">
	                   <input type="text" id="getId('txtProductCode',order.itemCode)"  ng-model = "order.itemCode" ng-blur = "ValidateProductLines(order,copyOrder,'CART')" placeholder="{{'COH_ITEM' | translate}}" class="form-control">
	                 </div>
	               </div>
	               <div class="col-sm-2">
	                 <div class="form-group">
	                   <input type="text" id="getId('txtProductQuantity',order.itemCode)"  ng-model = "order.ordered" class="txt_right" ng-class ="{ 'error': !order.validQuantity, '' : order.validQuantity}" ng-change="checkValidQuantity(order,order.ordered)" title="{{order.quantityBoxMsg}}" placeholder="{{'COH_QUANTITY' | translate}}" class="form-control">
	                 </div>
	               </div>
	               <div class="col-sm-5">
	                 <div class="form-group">
	                   <input type="text" id="getId('txtProductUnit',order.itemCode)" ng-model="order.unit" ng-show="!order.showUnitList" placeholder="{{'CON_UNIT' | translate}}" class="form-control">
	                 	<div class="select-style" ng-show="order.showUnitList">
						<select ng-model="order.unit" ng-options = "activeUnits.salesUnit as activeUnits.salesUnitDesc for activeUnits in order.activeUnitList"></select></div>
	                 </div>
	               </div>
	             </div>
	             <div class="col-sm-12 actions-buttons text-right">
	               
	                 <button type="button" class="btn btn-block btn-danger" ng-click="copyOrder.clearAll()">
	                 	<i aria-hidden="true" class="fa fa-trash"></i>{{'CON_CLEARALL' |	translate}}
	                 </button>
	                 <button type="button" class="btn btn-block btn-info" ng-click="copyOrder.addMoreLines()">
	                 	<i aria-hidden="true" class="fa fa-plus"></i>{{'CON_ADDMORE' |	translate}}
	                 </button>
	                 <button type="button" class="btn btn-block btn-success" 
	                 	ng-class="{'disabled': isLoggedIn() == false}" 
	                 	ng-click="addItemsToList(copyOrder)" 
	                 	ng-disabled="!copyOrder.isValidProductList">
	                 	<i aria-hidden="true" class="fa fa-shopping-cart"></i>{{'CON_ADD_TO_LIST'|	translate}}
	                 	
	                 </button>
	               </div>
	           </div>
              </div>
            </div>
          </div>
          <div class="orders-table">
            <table class="table table-striped table-hover table-orders">
              <thead>
                <tr>
                  <th>{{'CON_SELECT' | translate}}</th>
                  <th>{{'COH_PRODUCT' | translate}}</th>
                  <th>{{'COH_DESCRIPTION' | translate}}</th>
                  <th>{{'COH_ACTUAL_PRICE' | translate}} {{webSettings.currencyCode}}</th>
                  <th>{{'COH_QUANTITY' | translate}}</th>
                  <th>{{'COH_UNIT' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in shoppingListDetails.listData.listOfLine">
					<td><input type="checkbox" ng-model="row.checked" ng-change="checkSelectedItems(shoppingListDetails.listData.listOfLine)"/></td>
					<td><a href=""  ng-click="showProductDetail(row.code);" >{{row.code}}</a></td>
					<td><a href=""  ng-click="showProductDetail(row.code);" >{{row.description}}</a></td>
					<td ng-show="webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')">
						<a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlgFromListEntry(row);">
							<span class="red-price" ng-show="row.discountPrice==null">{{row.actualPrice}}</span>
							<span class="red-price" ng-show="row.discountPrice!=null">{{row.discountPrice}}</span>
						</a>
					</td>
					<td><input type="text" class="txt_right quantity" id=""  ng-model = "row.quantity" ng-init="row.quantity = changeFormatToLocale(row.quantity)" ng-class ="{ 'error': !row.validQuantity, '' : row.validQuantity}" ng-change="checkValidQuantity(row,row.quantity)" title="{{row.quantityBoxMsg}}"/></td>
					<td><!-- select ng-model="row.selectedUnitObject"  ng-options = "unit.salesUnitDesc for unit in row.salesUnitsDesc track by unit.salesUnitDesc" ></select-->
						{{row.defaultSalesUnit}}
						<input type="hidden" ng-model="row.selectedUnitObject" value={{row.defaultSalesUnit}}/>
					</td>
				</tr>
				<tr ng-show ="!dataFound">
					 <td colspan="5">{{pageLoadMsg}}</td>
				</tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="bottom-wlist">
          <div class="row">
            <div class="col-sm-8 wlist-control-buttons">
              <label class="selectall" ng-class ="{ 'disabled': !dataFound, '' : dataFound}">
                {{'CON_SELECT_ALL' | translate}}&nbsp;<input ng-model="selectAll" ng-init="selectAll=false" type="checkbox" ng-change="toggleSelectAll(selectAll)" ng-disabled="!dataFound"/>
              </label>
              <button type="button" class="btn btn-success" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}" ng-click="buyListItems(shoppingListDetails.listData.listOfLine);" ng-disabled="!itemSelected"><i class="fa fa-shopping-cart" aria-hidden="true"></i> {{'CON_BUY'| translate}}</button>
              <button type="button" class="btn btn-danger" ng-click="deleteShoppingListLines(shoppingListDetails.listData.listOfLine);" ng-disabled="!itemSelected"><i aria-hidden="true" class="fa fa-times"></i>{{'CON_DELETE_LINES' | translate}}</button>
              <button type="button" class="btn btn-warning" ng-click = "saveShoppingListLines(shoppingListDetails.listData);" ng-disabled="!dataFound"><i class="fa fa-floppy-o" aria-hidden="true"></i> {{'CON_SAVE_LIST'| translate}}</button>
            </div>
            <div class="col-sm-4">
              <div class="pager">
                <div class="pager-indicators"><!-- span class="actual-page">1</span><span class="separator-pages">/</span><span class="total-pages">3</span-->
                  <button class="btn btn-grey" ng-disabled="paginationObj.isFirstPage()" ng-click="previousPage();" title = "{{'CON_PREVIOUS_PAGE' | translate}}"><i aria-hidden="true" class="fa fa-caret-left"></i></button>
                  <button class="btn btn-grey" ng-disabled="!shoppingListDetails.pageDataFound || !shoppingListDetails.moreRecords"   ng-model="shoppingListDetails.pageDataFound" ng-click="nextPage();" title = "{{'CON_NEXT_PAGE' | translate}}"><i aria-hidden="true" class="fa fa-caret-right"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>