<div class="listview shoppingList" ng-controller="shoppingListCtrl">
 		<div class="checkout-container invoice-container wishlist-container">
          <div class="cnt-back-action">
          	<a href="javascript:void(0)" class="goback-btn btn btn-primary" ng-click="goBack()">
          		<i class="fa fa-arrow-circle-o-left"></i>
          		<span>{{'CON_BACK' | translate}}</span>
          	</a>
          </div>
          <h1>{{'SHOPPING_LIST' | translate}}</h1>
          <div class="advanced-search">
            <div class="panel panel-default">
              <button type="button" data-toggle="collapse" data-target="#advSearch" class="button-search collapsed"><span>{{'CON_NEW_SEARCH' | translate}}</span></button>
              <div id="advSearch" aria-expanded="true" class="collapse">
                <div class="panel-body">
                	<div class="row">
						<form class="search-form" role="form" ng-submit="submitFilter()" name="searchForm">
                  			<div ng-repeat="filter in ShoppingList.filterList.getFilters()">
								<div ng-show="filter.isEnabled">
                    				<div class="col-sm-4">
                      					<div class="form-group">
                        					<label for="{{filter.filterName | translate}}">{{filter.filterName | translate}}</label>
                       						<span ng-show ="filter.isInputList">
												<div class="select-style">
													<select ng-if= "filter.filterName != 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems" ng-options="item.code as item.description for item in filter.dataList"  >	
													</select>
													<select ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems">
														<option ng-repeat="resultperPage in resultPerPageList" >{{resultperPage}}</option> 
													</select>   
													<!-- <select name="" id="filter.filterParam" ng-model="filter.selectedItems" >
																<option ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" ng-repeat="resultperPage in resultPerPageList" ng-selected="ShoppingList.filterList.setResultPerPageListOption(filter,resultperPage)">{{resultperPage}}</option>
														<option ng-repeat="item in filter.dataList" ng-value="item.code" ng-selected="ShoppingList.filterList.setSelectedOption(filter,item)"> {{item.description}} </option>
														</select>    
														 -->                                                                                                                
														<!-- 				
														<select name="" id="filter.filterParam" ng-model="filter.selectedItems" >
															 <option ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" ng-repeat="resultperPage in resultPerPageList" ng-selected="resultperPage == filter.resultCount">{{resultperPage}}</option>
															 <option ng-if="filter.filterName == 'CON_CUSTOMER'" ng-repeat="item in filter.dataList" ng-value="item.code"  ng-selected="item.defaultCode == item.code"> {{item.description}} </option>
															 <option ng-if="filter.filterName != 'CON_CUSTOMER'" ng-repeat="item in filter.dataList" ng-value="item.code"  ng-selected="filter.dataList[0].code == item.code"> {{item.description}} </option>
														</select>
														 --> 
												</div>
											</span>
											<span ng-show ="!filter.isInputList && filter.filterName !='COH_REQUESTED_DELIVERY_DATE'">							
												<input ng-if= "filter.numericType" type="text" id= "filter.filterParam" name="filter.filterParam"  ng-model="filter.selectedItems" 	ng-blur ="validateNumber(filter,filter.selectedItems)" ng-mouseleave="validateNumber(filter,filter.selectedItems)"/> 
												<span ng-if= "filter.numericType"><p class="validationMsg ">  {{filter.validationMsg}} </p> </span>
												<input ng-if= "!filter.numericType" type="text" id= "filter.filterParam" name="filter.filterParam"  ng-model="filter.selectedItems"   />
											</span>
											<span ng-show ="!filter.isInputList && filter.filterName =='COH_REQUESTED_DELIVERY_DATE'" class="left clr_right">	
												<input type="text" id="filter.filterParamValue1" name="filter.filterParamValue1"  placeholder= "{{'COH_VALUE' | translate}}1" ng-model="filter.selectedItems1"/>
												<input type="text" id="filter.filterParamValue2" name="filter.filterParamValue2" placeholder= "{{'COH_VALUE' | translate}}2"  ng-model="filter.selectedItems2" />							
											</span>
                     					</div>
                    				</div>
                    			</div>
                    		</div>
                    		<div class="col-sm-12 actions-buttons text-right">
                      			<button type="submit" class="btn btn-block btn-primary" ng-disabled="ShoppingList.filterList.hasError()">{{'CON_START_SEARCH' | translate}}</button>
                    		</div>
                    	</form>
                  	</div>
                </div>
              </div>
            </div>
          </div>
          <div class="advanced-search create-list">
            <div class="panel panel-default">
              <button type="button" data-toggle="collapse" data-target="#createlist" class="button-search collapsed"><span>Crea lista</span></button>
              <div id="createlist" aria-expanded="true" class="collapse">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="{{'CON_LIST_NAME'| translate}}">{{'CON_LIST_NAME'| translate}}</label>
                        <input type="text" id="" placeholder="Placeholder" class="form-control" ng-model="ShoppingList.newList.listId"  ng-class ="{ 'error':ShoppingList.ErrOnControl.ListID, '' :  !ShoppingList.ErrOnControl.ListID }">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="{{'COH_DESCRIPTION'| translate}}">{{'COH_DESCRIPTION'| translate}}</label>
                        <textarea type="textarea"  rows="3" cols="20" maxlength="255"   ng-model="ShoppingList.newList.listDesc" ng-class ="{ 'error':ShoppingList.ErrOnControl.ListDesc, '' :  !ShoppingList.ErrOnControl.ListDesc }"></textarea>
                      </div>
                    </div>
                    <div class="col-sm-12 actions-buttons text-right">
                      <button type="button" class="btn btn-block btn-primary" ng-disabled="false" ng-click="createNewShoppingList(ShoppingList.newList);">{{'CON_CREATE_LIST' | translate}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="orders-table">
            <table class="table table-striped table-hover table-orders">
              <thead>
                <tr>
                  <th>{{'COH_ACTION' | translate}}</th>
                  <th>{{'CON_LIST_NAME' | translate}}</th>
                  <th>{{'COH_DESCRIPTION' | translate}}</th>
                  <th>{{'COH_LIST_OWNER' | translate}}</th>
                  <th>{{'COH_CUSTOMER' | translate}}</th>
                  <th>{{'COH_LAST_USED_DATE' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-show ="dataFound" ng-repeat="row in ShoppingList.itemsList">
                  <td>
                    <input name="list" type="radio"   ng-model ="selectedShoppingList['list']" ng-value="row" value={{row}} ng-click="selectedShoppingList['selected']= true" ng-checked = "row.listId == selectedShoppingList['list'].listId" />
                  </td>
                  <td>
                    <h4><a href="javascript:void(0);" ng-click="showShoppingListDetails(row);">{{row.listId}}</a> <span ng-show="row.listLock==2"><img ng-src="images/ShoppingListLock.png"/></span></h4>
                  </td>
                  <td>{{row.listDesc}}</td>
                  <td>{{row.listOwner}}</td>
                  <td>{{row.customerId}}</td>
                  <td>{{row.lastUsedDate}}</td>
                </tr>
                <tr ng-show ="!dataFound">
						 <td colspan="6">{{pageLoadMsg}}</td>
					</tr>
              </tbody>
            </table>
          </div>
        </div>

		<div class="bottom-wlist">
          <div class="row">
          	<p class="col-sm-12" ng-show="ShoppingList.getShoppingListLockStatus()" ng-bind-html="renderHtml(listMessage)"></p></div>
            <div class="col-sm-8 wlist-control-buttons">
              <button type="button" class="btn btn-success" ng-disabled="!dataFound || selectedShoppingList.selected != true"  ng-click = "makeShoppingListDefault(selectedShoppingList['list']);" >{{'CON_SHOPPINGLIST_DEFAULT'| translate}}</button>
              <button type="button" class="btn btn-danger" ng-disabled="!dataFound || selectedShoppingList.selected != true" ng-click="deleteShoppingList(selectedShoppingList['list']);"><i aria-hidden="true" class="fa fa-times"></i>{{'CON_DELETE_SHOPPING_LIST' | translate}}</button>
            </div>
            <div class="col-sm-4">
              <div class="pager">
                <div class="pager-indicators"><!-- span class="actual-page">1</span><span class="separator-pages">/</span><span class="total-pages">3</span-->
                  <button class="btn btn-grey" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}"><i aria-hidden="true" class="fa fa-caret-left"></i></button>
                  <button class="btn btn-grey" ng-disabled="!dataFound || !moreDataArrow"  ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}"><i aria-hidden="true" class="fa fa-caret-right"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
