
<div>
			<div class="processStatus" style="margin-left: 21%;">
				<button class="cartNewShopCart" value="" name="" type="button" >{{'CON_SHOPPINGCART_1' | translate}}</button>
				<button class="reviewOrderShopCart " style="cursor:pointer;" value="" ng-disabled = "isCartEmpty" name="" type="button" ng-click = "goReviewOrder()">{{'CON_REVIEW_ORDER_1' | translate}}</button>
				<button class="reviewOrderShopCart  deliveryInfoCloseCart" value="" ng-disabled = "isCartEmpty" name="" type="button">{{'CON_ORDER_CREATED' | translate}}</button>
			</div>
	</div>
		<div  class="buttonWrapper" style="margin-left: 194px;padding-bottom: 10px;width:787px;">
			<div class="buttonWrapper">
				<button class="continueShopping" value="" name="" type="button" ng-click = "goHome()">{{'CON_CONTINUE_SHOPPING' | translate}}</button>
				<button class="closeCart right" value="" ng-disabled = "isCartEmpty" name="" type="button" ng-click = "goReviewOrder()">{{'CON_CLOSE_CART'| translate}}</button>
				<button class="closeCart right deliveryInfoCloseCart" value="" ng-disabled = "isCartEmpty" name="" type="button" ng-click = "showDeliveryPaymentInfo()">{{'CON_DELIVERY_PAYMENT_INFO' | translate}}</button>
			</div>
	</div>
	
	<p class="pageTitle">{{'CON_SHOPPINGCART' | translate}}</p>
<div class="promotionCode" ng-if="!isCartEmpty">
	<p ng-show="tempOrderData.cartMsg!=null" class="left">{{tempOrderData.cartMsg}}</p>
	<p class="left error">{{errorMsg}}</p> <p ng-show="currentOrder.promotionCode!=null" class="left">{{'CON_PROMOTION_CODE' | translate}}:{{currentOrder.promotionCode}}</p>
	<p class="left" ng-if="tempOrderData.nsOrderValueInfo.isCreditLimitExceeded && tempOrderData.nsOrderValueInfo.showCreditInfoMessage "><span class="error"><b>{{'CON_WARNING' | translate}}:</b></span> {{'CON_CREDIT_LIMIT_EXCEEDED' | translate}}</p>
		<label ng-if="webSettings.allowSalesPromotions" style="float:right">{{'CON_PROMOTION_CODE' | translate}} : <input type="text" id="promotionCodeTextBox" ng-model="promoCode" />
		<input type="button" value="{{'CON_APPLY' | translate}}" ng-click="applyPromotionCode(promoCode)" />
		</label>
		<!-- ADM-001 <label  style="float:right">{{'CON_DELIVERY_DATE' | translate}} : -->
		<label ng-if ="webSettings.allowChangeDeliveryDate" style="float:right">{{'CON_DELIVERY_DATE' | translate}} : 
		<input type="text" ng-model = "delDateOrderLevel"  placeholder= "{{webSettings.defaultDateFormat}}" 
						ng-blur ="validateDateRangeFormatOrderLevel(delDateOrderLevel)" 
						ng-mouseleave="validateDateRangeFormatOrderLevel(delDateOrderLevel)"
						ng-change="validateDateRangeFormatOrderLevel(delDateOrderLevel)"
						 ng-class ="{ 'error': !validDateAllowUpdateOrderLevel, '' :  validDateAllowUpdateOrderLevel }"
						name="mDate" my-Datepicker/>
		<input type="button" ng-disabled="!validDateAllowUpdateOrderLevel || delDateOrderLevel == '' || delDateOrderLevel == null" value="{{'CON_APPLY' | translate}}" ng-click="recalculate_Click(delDateOrderLevel)" />
		</label>
	</div>
	<div ng-if="isCartEmpty">
		<div style="width:88%;text-aligh:center">
		
			
			<div class="EmptyShoppingCartMsg">
				<div class="EmptyCartImg"></div><br/>
				<span class="bigFont" > {{'TXT_CF_007'  | translate }}</span><br />
				<a class="smallFont" href="#" ng-click = "goHome()">{{'CON_CONTINUE_SHOPPING' | translate}}</a>
				
			</div>
		
			
		</div>
	
	</div>
	<div ng-if="!isCartEmpty">
	
	<p class="shoppingInfowrapper"><b>{{'CON_IMPORTANT' | translate}} :</b> {{'TXT_OE_003_01' | translate }} {{'TXT_OE_003_02' | translate}}</p>
	<div class="shoppingCartTableWrapper">
		<div class="reference">
			<p class="left">{{'CON_REFERENCE_NUMBER' | translate}} :  {{currentOrder.customerOrderNumber}}</p> <p class="right" ng-show="!tempOrderData.nsOrderValueInfo.cubePercentageError">{{'MSG_CONTAINER_CASE' | translate}} : {{tempOrderData.nsOrderValueInfo.cubePercentage}}</p>
		</div>
		<div class="recal-edit">
			<a class="recalculate-icon" ng-click="recalculate_Click()">{{'CON_RECALCULATE' | translate}} </a>
		</div>
		<div class="right download">
 	 	<a href="" class="right" ng-show="webSettings.showXmlIcon" title="{{'CON_SHOPPINGCART_DATA_XML' | translate}}"> <img ng-src="./images/XML.png" ng-click="exportShoppingCartTableAsXML();" /> </a> 
 		<a href="" class="right" ng-show="webSettings.showExcelIcon" title="{{'CON_SHOPPINGCART_DATA_EXCEL' | translate}}"> <img ng-src="./images/Excel.png" ng-click="exportShoppingCartTableAsExcel();" /> </a>
		<a href="" class="right" ng-show="webSettings.showPdfIcon" title="{{'CON_SHOPPINGCART_DATA_PDF' | translate}}"> <img ng-src="./images/PDF.png" ng-click="exportShoppingCartTableAsPDF();" /> </a>
        </div> 
		
		<table>
			<thead>
				<tr>
					<th class="spcItem">{{'CON_ITEM' | translate}}</th>
					<th class="spcDelDate">{{'CON_DELIVERY_DATE' | translate}}</th>
					<th class="spcUnit">{{'CON_UNIT' | translate}}</th>
				<!-- 	<th class="smallSpace" ng-show="webSettings.showOrderLineDiscount">{{'CON_DISCOUNT' | translate}}</th> -->
					<th class="txt_right spcPrice" >{{'CON_PRICE' | translate}} {{webSettings.currencyCode}}</th>
					<th class="spcQuantity">{{'COH_QUANTITY' | translate}}</th>
					<th class="txt_right spcAmount" ng-if="!webSettings.showOrderLineValueInclVAT">{{'COH_TOTAL_AMOUNT' | translate}}</th>
					<th class="txt_right spcAmount" ng-if="webSettings.showOrderLineValueInclVAT">{{'COH_TOTAL_AMOUNT_INCL_VAT' | translate}}</th>
					<th class="spcActions">{{'COH_ACTIONS' | translate}}</th>						
				</tr>
			</thead>
		</table>
		
		
		<div class="shopping-cart-scroll">
		<table class="shoppingCartTable">
			<tbody ng-repeat="orderLine in orderLines">			
				<tr ng-class="{true: 'editBackground', false: ''}[collapsed_edit]">
					<td class="spcItem">
						<a href="" class="left" ng-click="showProductDetail(orderLine.ivItem.code);"> {{orderLine.ivItem.description}}</a>
						<a class="left clr_left" href="" ng-click="showProductDetail(orderLine.ivItem.code);"> {{orderLine.ivItem.code}}</a>
						<span class="left clr_left">{{orderLine.ivOrderLine.replacementItem}}</span>
					</td>
					<!-- ADM-001
					<td class="spcDelDate" ng-show="!collapsed_edit">{{orderLine.ivEnteredValues.Date}} <span ng-show="orderLine.ivOrderLine.isLateDispatch" class="late">({{'MSG_LATE' | translate}})</span></td>					
					<td ng-show="collapsed_edit" class="spcDelDate">
						<input type="text" id="getId('txtDate',orderLine.ivOrderLine.lineNumber)" ng-keypress="filterValue($event)"
						ng-blur ="validateDateRangeFormatShoppingCart(orderLine.ivEnteredValues.Date,true)"  placeholder= "{{webSettings.defaultDateFormat}}"
						ng-mouseleave="validateDateRangeFormatShoppingCart(orderLine.ivEnteredValues.Date,true)"
						ng-class ="{ 'error': !validDateShoppinglist, '' :  validDateShoppinglist }"
						ng-model = "orderLine.ivEnteredValues.Date"   class="delivery_date"/>
					</td>
					 -->		
					<!-- ADM-001 --><td class="spcDelDate">{{orderLine.ivEnteredValues.Date}} <span ng-show="orderLine.ivOrderLine.isLateDispatch" class="late">({{'MSG_LATE' | translate}})</span></td>			 
					<!-- ADM-010 <td ng-show="collapsed_edit" class="spcUnit"> --> 
					<!-- ADM-010 --><td ng-show="collapsed_edit && !webSettings.allowSelectUnitOfMeasure" class="spcUnit"> 
					<div class="select-style">	
					<select id="getId('select',orderLine.ivOrderLine.lineNumber)"  ng-init="selectedUnitObject = orderLine.ivEnteredValues.Unit" ng-model="selectedUnitObject"
						ng-options="unit.salesUnit as unit.salesUnitDesc for unit in orderLine.ivItem.salesUnitsDesc" 
						ng-change="onUnitChange(orderLine.ivOrderLine.itemCode,selectedUnitObject,orderLine.ivOrderLine,orderLine)">  					
					</select>						
						<!-- <select id="getId('select',orderLine.ivOrderLine.lineNumber)" ng-init="cartUnit[getId('salesUnit',orderLine.ivOrderLine.lineNumber)] = orderLine.ivEnteredValues.Unit" 
								ng-model="cartUnit[getId('salesUnit',orderLine.ivOrderLine.lineNumber)]" class="unit_dropdown">
							<option ng-repeat="salesunit in orderLine.ivItem.salesUnits" >{{salesunit}}</option>
						</select> -->
					  </div>
					</td>
					<!-- ADM-010 <td class="spcUnit" ng-show="!collapsed_edit">{{orderLine.ivEnteredValues.UnitDesc}}</td> -->
					<!-- ADM-010 --><td class="spcUnit" ng-show="!collapsed_edit || webSettings.allowSelectUnitOfMeasure">{{orderLine.ivEnteredValues.UnitDesc}}</td>
					<!-- 
					<td class="smallSpace" ng-show="webSettings.isShowPrice" >{{orderLine.ivOrderLine.item.discountPercentage}}</td>
					<td class="smallSpace" ng-show="webSettings.isShowPrice && (orderLine.ivOrderLine.lineDisCount > 0)">{{orderLine.ivOrderLine.item.discountPrice}} </td>
					<td class="smallSpace" ng-show="webSettings.isShowPrice && (orderLine.ivOrderLine.lineDisCount  <= 0)">{{orderLine.ivOrderLine.item.actualPrice}} </td>						
					<td class="smallSpace" ng-show="webSettings.showOrderLineDiscount"> <span> {{orderLine.ivOrderLine.lineDisCount}} </span> </td> -->
					<td class="txt_right spcPrice" >{{orderLine.ivOrderLine.price}} {{orderLine.ivOrderLine.pricingUnitCode}}</td>						
					 
					<td class="spcQuantity">
						<input type="text" id="getId('txtQuantity',orderLine.ivOrderLine.lineNumber)" ng-model = "lineQuantity[getId('quantity',orderLine.ivOrderLine.lineNumber)]" ng-init = "lineQuantity[getId('quantity',orderLine.ivOrderLine.lineNumber)]=changeFormatToLocale(orderLine.ivOrderLine.orderedQuantity)" ng-class ="{ 'error': !orderLine.validQuantity, '' : orderLine.validQuantity}" ng-change="checkValidQuantity(orderLine,lineQuantity[getId('quantity',orderLine.ivOrderLine.lineNumber)])" title="{{orderLine.quantityBoxMsg}}"/>
						<a href="" title = "{{'CON_RECALCULATE' | translate}}" class="refresh-icon" ng-click="recalculateLineCart(orderLine)">{{'CON_REFRESH' | translate}}</a>
					</td>
					<td class="txt_right spcAmount">{{orderLine.ivOrderLine.lineVal}}</td>
					<td class="spcActions">						 					
						<button id="getId('select',orderLine.ivOrderLine.lineNumber)" href="" class="editDetails" ng-disabled="collapsed_edit"  title="{{'CON_EDIT_DETAILS' | translate}}" ng-model="collapsed_edit" ng-click="validateDateRangeFormatShoppingCart(orderLine.ivEnteredValues.Date,true); reInitializeUnit(orderLine.ivEnteredValues.Unit);collapsed_edit=!collapsed_edit">{{'CON_EDIT_DETAILS' | translate}} </button>
						<button  class="delete-icon" ng-disabled="collapsed_edit" title="{{'CON_DELETE'| translate}}" ng-click="deleteCartItem(orderLine)">{{'CON_DELETE'| translate}}</button> 
					</td>								
				</tr>
						
				<tr ng-show="collapsed_edit" class="edit_details_cart">
					<!-- ADM-022 start -->	
					<!-- <td colspan = "2"><label>{{'COH_SHIPMENT_MARKING' | translate}} :</label> 
					<input type="text" id="getId('txtMark',orderLine.ivOrderLine.lineNumber)" maxlength="30" ng-model = "shipmentMark[getId('shipMark',orderLine.ivOrderLine.lineNumber)]"   ng-init="shipmentMark[getId('shipMark',orderLine.ivOrderLine.lineNumber)] = orderLine.ivEnteredValues.ShipmentMark " />
					</td>						
					<td colspan = "7">
						<label>{{'CON_LINE_TEXT' | translate}} :</label> 
						<input type="text" ng-model="orderLine.ivEnteredValues.Text" value = "" class="width76"/> -->
					<td colspan = "9">	
					<!-- ADM-022 end -->
						<!-- <input type="text" id="getId('txtLine',orderLine.ivOrderLine.lineNumber)" ng-model = "lineText[getId('line_text',orderLine.ivOrderLine.lineNumber)]"   ng-init="lineText[getId('line_text',orderLine.ivOrderLine.lineNumber)] = orderLine.ivEnteredValues.lineText " /> -->
						<div class="button-wrapper">
							<button class="cancleCart left" value="" name="" type="button" ng-click="collapsed_edit=!collapsed_edit; shipmentMark[getId('shipMark',orderLine.ivOrderLine.lineNumber)]=orderLine.ivEnteredValues.ShipmentMark; orderLine.ivEnteredValues.Text='';cancelCart(orderLine);(selectedUnitObject = orderLine.ivEnteredValues.Unit)">{{'CON_CANCEL' | translate}}</button>					
						<button class="updateCart right" ng-disabled = "!validDateAllowUpdate || !orderLine.validQuantity" type="button" ng-click= "collapsed_edit=!collapsed_edit; updateCart(orderLine,selectedUnitObject) " >{{'CON_UPDATE' | translate}}</button>
						</div>
					</td>	
				</tr>
				<tr ng-show = "orderLine.focListItems.length > 0">
					<td colspan= "1">
						<img ng-src="images/FreeOfCharge.gif" class="focItem"/> 
						<span class="left"> {{orderLine.focListItems[0].focItemDesc}} </span>
						<span class="left clr_left">{{orderLine.focListItems[0].focItemCode}}</span></td>
					<td colspan= "1">&nbsp;</td>
					<td colspan= "1" class="spcUnit"> {{orderLine.focListItems[0].focItemUnit}}</td>
					<td colspan= "1">&nbsp;</td>
					<td colspan= "1" class="spcQuantity"> {{orderLine.focListItems[0].focItemQty}}</td>
					<td colspan= "2">&nbsp;</td>
				</tr>							
			</tbody>
		</table>
		</div>
		<div class="sep_tbl"></div>
		<table>
			<tbody>	
				<tr>						
					<td colspan="2" class="shopping-cart-table-footer">
						<div class="footer-left">
							<p>{{'CON_TOTAL_WEIGHT'| translate}} {{tempOrderData.nsOrderValueInfo.emTotalWeight}}</p>
							<p>{{'CON_TOTAL_VOLUME'| translate}} {{tempOrderData.nsOrderValueInfo.emTotalVolume}}</p>
						</div>
					</td>
					<td></td>
					<td></td>					
					<td colspan="4" class="shopping-cart-table-footer">
						<div class="footer-right">
							<p class="left clr_left"><label>{{'CON_TOTAL_LINES' | translate}} : </label><span>{{tempOrderData.nsOrderValueInfo.emTotalLines}}</span></p>
							<p  class="left clr_left" ng-show="webSettings.isShowOrderDiscount"><label>{{'CON_ORDER_DISCOUNT' | translate}} : </label><span>{{tempOrderData.nsOrderValueInfo.emDisCount}}</span></p>
							<p  class="left clr_left"><label>{{'CON_ADMINISTRATION_FEE' | translate}} : </label> <span>{{tempOrderData.nsOrderValueInfo.adminFee}}</span></p>
							<p class="left clr_left"><label>{{'CON_INVOICE_FEE' | translate}} : <a style="cursor: default !important;" ng-show="showInvoiceFreeTextIcon(tempOrderData.nsOrderValueInfo.noInvoiceFeeText )" class="OrderInformation-icon" shref="" title="{{tempOrderData.nsOrderValueInfo.noInvoiceFeeText}}"></a>
							</label><span>{{tempOrderData.nsOrderValueInfo.invoiceFee}}</span></p>
							<p ng-show="isShowThisField(tempOrderData.nsOrderValueInfo.freightFee)" class="left clr_left"><label>{{'CON_FREIGHT_FEE' | translate}} : </label><span>{{tempOrderData.nsOrderValueInfo.freightFee}}</span></p>
							<p ng-show="isShowThisField(tempOrderData.nsOrderValueInfo.postageFee)" class="left clr_left"><label>{{'CON_POSTAGE_FEE' | translate}} : </label><span>{{tempOrderData.nsOrderValueInfo.postageFee}}</span></p>
							<p ng-show="isShowThisField(tempOrderData.nsOrderValueInfo.insuranceFee)" class="left clr_left"><label>{{'CON_INSURANCE_FEE' | translate}} : </label><span>{{tempOrderData.nsOrderValueInfo.insuranceFee}}</span></p>
							<p ng-show="isShowThisField(tempOrderData.nsOrderValueInfo.insurancePercentage)" class="left clr_left"><label>{{'CON_INSURANCE_PERCENTAGE' | translate}} : </label><span>{{tempOrderData.nsOrderValueInfo.insurancePercentage}}</span></p>
							<p ng-show="isShowThisField(tempOrderData.nsOrderValueInfo.surcharge)" class="left clr_left"><label>{{'CON_SURCHARGE' | translate}} : </label><span>{{tempOrderData.nsOrderValueInfo.surcharge}}</span></p>
							<p class="left clr_left"><label>{{'CON_TOTAL_EXCLUDING_VAT' | translate}} : </label><span>{{tempOrderData.nsOrderValueInfo.emLineNet}}</span></p>
							<p class="left clr_left"><label>{{'CON_VAT' | translate}} : </label><span> {{tempOrderData.nsOrderValueInfo.emVAT}}</span></p>
							<p class="left clr_left"><label>{{'CON_COIN_ADJUSTMENT' | translate}} : </label><span> {{tempOrderData.nsOrderValueInfo.coinAdjustment}}</span></p>
							<p class="grand-total"><label>{{'CON_GRAND_TOTAL' | translate}}: </label> <span>{{tempOrderData.nsOrderValueInfo.emOrderTotal}} {{webSettings.currencyCode}}</span></p>
						</div>
					</td>							
				</tr>				
			</tbody>
		</table>
		<div class="buttonWrapper">
			<div class="buttonWrapper clr_left">
				<button class="continueShopping" value="" name="" type="button" ng-click = "goHome()">{{'CON_CONTINUE_SHOPPING' | translate}}</button>
				<button class="closeCart right" value="" ng-disabled = "isCartEmpty" name="" type="button" ng-click = "goReviewOrder()">{{'CON_CLOSE_CART'| translate}}</button>
				<button class="closeCart right deliveryInfoCloseCart" value="" ng-disabled = "isCartEmpty" name="" type="button" ng-click = "showDeliveryPaymentInfo()">{{'CON_DELIVERY_PAYMENT_INFO' | translate}}</button>
			</div>
		</div>	
		
		
	</div>
	</div>
	<div class="shoppingCartTableWrapper shoppingCartPromotion">
		<div>
			<section id="productSec" ui-view="productSec"></section>
 		</div>
 		
 		<div ng-show="showCopyPasteArea">
			<section id="copySec" ui-view="copySec"></section>
 		</div>
 		
 		<div class="promotionSection" ng-show="!isCartEmpty"> 		
			<section id="promotionSection" ui-view="promotionSection"></section>
 		</div>
 	</div>
			