<div class="row head-cart">
	<div class="col-sm-6">
		<h1>{{'CON_SHOPPINGCART' | translate}}</h1>
	</div>
	<div class="col-sm-6">
		<div class="visu-type acq-type" ng-if="webSettings.allowSelectUnitOfMeasure && isLoggedIn()">
			<label>Acquista in:</label>
			<label>
				<input type="radio" ng-model="freeSearchObj.packPiece" value="CF" ng-change="setTipoVendita('CF')">Confezioni
			</label>
			<label>
				<input type="radio" ng-model="freeSearchObj.packPiece" value="PZ" ng-change="setTipoVendita('PZ')">Pezzi &nbsp;
			</label>
		</div>
	</div>
</div>
<div class="row body-cart"> 
	<div class="col-md-3 col-sm-12" ng-if="loadCarOptionClass()">
		<div class="cart-navigation">
			<nav>
				<a href="javascript:void(0);" ng-if="webSettings.showInterruptedCart" ng-click="goInterruptedCart();">{{'CON_INTERRUPTED_CARTS' | translate}}</a>
				<a href="javascript:void(0);" ng-show="currentOrder.temporaryOrderNumber!=null" ng-click="deleteCurrentCart_Click();">{{'CON_DELETE_CART' | translate}}</a>
				<a href="javascript:void(0);" ng-show="!isCartEmpty" ng-click="newCart_Click();">{{'CON_NEW_CART' | translate}}</a>
				<a href="javascript:void(0);" ng-show="isCartEmpty" class="disabled" >{{'CON_NEW_CART' | translate}}</a>
				<a href="javascript:void(0);" ng-click="showDeliveryPaymentInfo();">{{'CON_INFORMATION' | translate}}</a>
	    	</nav>
	  	</div>
	</div>
<div class="col-md-9 col-sm-12">
	<div class="padd">
	<div ng-if="isCartEmpty">
		<div class="EmptyShoppingCartMsg" style="text-align:center;font-size:40px;padding-bottom: 40px;">
			<div class="EmptyCartImg" style="font-size:100px;"><i class="fa fa-cart-plus" aria-hidden="true"></i></div>
			<span class="bigFont"> {{'TXT_CF_007'  | translate }} </span><br />
		</div>
	</div>
	<div ng-if="!isCartEmpty">
	<div class="alert alert-warning">
    	<strong>{{'CON_IMPORTANT' | translate}}!</strong> {{'TXT_OE_003_01' | translate }} {{'TXT_OE_003_02' | translate}}
	</div>
	<div class="number-cart row">
		<div class="col-sm-6">{{'CON_REFERENCE_NUMBER' | translate}} : <strong> {{currentOrder.customerOrderNumber}}</strong></div>
		<div class="col-sm-6 text-right">
          <button type="button" class="btn btn-block btn-info" ng-click="recalculate_Click()"><i aria-hidden="true" class="fa fa-refresh"></i> {{'CON_RECALCULATE' | translate}}</button>
        </div>
    </div>
	<div class="right download">
 		<a href="" class="right" ng-show="webSettings.showXmlIcon" title="{{'CON_SHOPPINGCART_DATA_XML' | translate}}"> <img ng-src="./images/XML.png" ng-click="exportShoppingCartTableAsXML();" /> </a> 
		<a href="" class="right" ng-show="webSettings.showExcelIcon" title="{{'CON_SHOPPINGCART_DATA_EXCEL' | translate}}"> <img ng-src="./images/Excel.png" ng-click="exportShoppingCartTableAsExcel();" /> </a>
		<a href="" class="right" ng-show="webSettings.showPdfIcon" title="{{'CON_SHOPPINGCART_DATA_PDF' | translate}}"> <img ng-src="./images/PDF.png" ng-click="exportShoppingCartTableAsPDF();" /> </a>
    </div> 
	<div class="orders-table">
	    <table class="table table-striped table-hover table-orders">
	      <thead>
	        <tr>
	          <th>{{'CON_ITEM' | translate}}</th>
	          <th>{{'CON_UNIT' | translate}}</th>
	          <th>{{'CON_PRICE' | translate}}</th>
	          <th>{{'COH_QUANTITY' | translate}}</th>
	          <th ng-if="!webSettings.showOrderLineValueInclVAT">{{'COH_TOTAL_AMOUNT' | translate}}</th>
			  <th ng-if="webSettings.showOrderLineValueInclVAT">{{'COH_TOTAL_AMOUNT_INCL_VAT' | translate}}</th>
			  <th class="spcActions">{{'COH_ACTIONS' | translate}}</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr ng-repeat="orderLine in orderLines" ng-class="{true: 'editBackground', false: ''}[collapsed_edit]">
	          <td>
	            <h4><a href="javascript:void(0);" ng-click="showProductDetail(orderLine.ivItem.code);"> {{orderLine.ivItem.description}}</a></h4>
	            <span class="code-product">{{orderLine.ivItem.code}}</span>
	          </td>
	          <td ng-show="!collapsed_edit || webSettings.allowSelectUnitOfMeasure">{{orderLine.ivEnteredValues.UnitDesc}}</td>
	          <td ng-show="collapsed_edit && !webSettings.allowSelectUnitOfMeasure">
	          		<select id="getId('select',orderLine.ivOrderLine.lineNumber)"  ng-init="selectedUnitObject = orderLine.ivEnteredValues.Unit" ng-model="selectedUnitObject"
						ng-options="unit.salesUnit as unit.salesUnitDesc for unit in orderLine.ivItem.salesUnitsDesc" 
						ng-change="onUnitChange(orderLine.ivOrderLine.itemCode,selectedUnitObject,orderLine.ivOrderLine,orderLine)">  					
					</select>	
	          </td>
	          <td>{{orderLine.ivOrderLine.price}} {{orderLine.ivOrderLine.pricingUnitCode}}</td>
	          <td>
				<input type="text" class="form-control"
					id="getId('txtQuantity',orderLine.ivOrderLine.lineNumber)" 
					ng-model = "lineQuantity[getId('quantity',orderLine.ivOrderLine.lineNumber)]" 
					ng-init = "lineQuantity[getId('quantity',orderLine.ivOrderLine.lineNumber)]=changeFormatToLocale(orderLine.ivOrderLine.orderedQuantity)" 
					ng-class ="{ 'error': !orderLine.validQuantity, '' : orderLine.validQuantity}" 
					ng-change="checkValidQuantity(orderLine,lineQuantity[getId('quantity',orderLine.ivOrderLine.lineNumber)])" 
					title="{{orderLine.quantityBoxMsg}}"/>
				<a href="javascript:void(0);" class="refresh-qty" title = "{{'CON_RECALCULATE' | translate}}" ng-click="recalculateLineCart(orderLine)"><i aria-hidden="true" class="fa fa-refresh"></i></a></td>
	          <td>{{orderLine.ivOrderLine.lineVal}}</td>
	          <td class="actions-td">
	            <button type="button" id="getId('select',orderLine.ivOrderLine.lineNumber)" class="btn btn-block btn-success" ng-click="collapsed_edit=!collapsed_edit; shipmentMark[getId('shipMark',orderLine.ivOrderLine.lineNumber)]=orderLine.ivEnteredValues.ShipmentMark; orderLine.ivEnteredValues.Text='';cancelCart(orderLine);(selectedUnitObject = orderLine.ivEnteredValues.Unit)"><i aria-hidden="true" class="fa fa-pencil"></i></button>
	            <button type="button" ng-disabled="collapsed_edit" title="{{'CON_DELETE'| translate}}" class="btn btn-block btn-danger" ng-click="deleteCartItem(orderLine)"><i aria-hidden="true" class="fa fa-trash"></i></button>
	          	<div ng-show="collapsed_edit" class="edit_details_cart">
					<div class="button-wrapper buttons-edit">
						<button class="btn btn-block btn-info updateCart right" ng-disabled = "!validDateAllowUpdate || !orderLine.validQuantity" type="button" ng-click= "collapsed_edit=!collapsed_edit; updateCart(orderLine,selectedUnitObject) " >{{'CON_UPDATE' | translate}}</button>
						<button class="btn btn-link pull-right cancleCart left" value="" name="" type="button" ng-click="collapsed_edit=!collapsed_edit; shipmentMark[getId('shipMark',orderLine.ivOrderLine.lineNumber)]=orderLine.ivEnteredValues.ShipmentMark; orderLine.ivEnteredValues.Text='';cancelCart(orderLine);(selectedUnitObject = orderLine.ivEnteredValues.Unit)">{{'CON_CANCEL' | translate}}</button>
					</div>
				</div>
	          </td>
	        </tr>
	      </tbody>
	    </table>
	  </div>
	  <div class="advanced-search " ng-hide="false">
       <div class="panel panel-default">
         <button type="button" data-toggle="collapse" data-target="#advSearch" class="button-search collapsed" ng-click="showAddProductTable()"><span>Vuoi aggiungere altri prodotti?</span></button>
         <div id="advSearch" aria-expanded="true" class="collapse">
           <div class="panel-body">
             <div class="row">
             	<div class="col-sm-12 alert alert-warning">
             		<strong>{{'CON_IMPORTANT' | translate}}!</strong> {{'CON_CLOSE_YOUR_CART_WHEN_READY' | translate}}
             	</div>
             </div>
	          <div class="col-sm-5">
                 <div class="form-group">
                   <label for="">{{'COH_ITEM' | translate}}</label>
                 </div>
               </div>
               <div class="col-sm-2">
                 <div class="form-group">
                   <label for="">{{'COH_QUANTITY' | translate}}</label>
                 </div>
               </div>
               <div class="col-sm-5">
                 <div class="form-group">
                   <label for="">{{'CON_UNIT' | translate}}</label>
                 </div>
               </div>
             <div class="row" ng-repeat="order in copyOrder.getList()">
               <div class="col-sm-12 alert alert-danger" ng-show= "!order.isValidProduct">{{order.errorMsg}}</div>
               <div class="col-sm-5">
                 <div class="form-group">
                   <input type="text" id="getId('txtProductCode',order.itemCode)"  ng-model = "order.itemCode" ng-blur = "ValidateProductLines(order,copyOrder,'CART')" placeholder="{{'COH_ITEM' | translate}}" class="form-control">
                 </div>
               </div>
               <div class="col-sm-2">
                 <div class="form-group">
                   <input type="text" id="getId('txtProductQuantity',order.itemCode)"  ng-model = "order.ordered" class="txt_right" ng-class ="{ 'error': !order.validQuantity, '' : order.validQuantity}" ng-change="checkValidQuantity(order,order.ordered)" title="{{order.quantityBoxMsg}}" placeholder="{{'COH_QUANTITY' | translate}}" class="form-control">
                 </div>
               </div>
               <div class="col-sm-5">
                 <div class="form-group">
                   <input type="text" id="getId('txtProductUnit',order.itemCode)" ng-model="order.unit" ng-show="!order.showUnitList" placeholder="{{'CON_UNIT' | translate}}" class="form-control">
                 	<div class="select-style" ng-show = "order.showUnitList">
					<select ng-model="order.unit" ng-options = "activeUnits.salesUnit as activeUnits.salesUnitDesc for activeUnits in order.activeUnitList"  ></select></div>
                 </div>
               </div>
             </div>
             <div class="col-sm-12 actions-buttons text-right">
               
                 <button type="button" class="btn btn-block btn-danger" ng-click="copyOrder.clearAll()">
                 	<i aria-hidden="true" class="fa fa-trash"></i>{{'CON_CLEARALL' |	translate}}
                 </button>
                 <button type="button" class="btn btn-block btn-info" ng-click="copyOrder.addMoreLines()">
                 	<i aria-hidden="true" class="fa fa-plus"></i>{{'CON_ADDMORE' |	translate}}
                 </button>
                 <button type="button" class="btn btn-block btn-success" 
                 	ng-class="{'disabled': isLoggedIn() == false}" 
                 	ng-click="validateProductList(copyOrder,'CART')"  
                 	ng-disabled="!copyOrder.isValidProductList">
                 	<i aria-hidden="true" class="fa fa-shopping-cart"></i>{{'CON_BUY'|	translate}}
                 </button>
               </div>
           </div>
         </div>
       </div>
     </div>
     <div class="clearfix">
      <table class="table table-recap">
        <tbody>
          
          <tr>
            <td>{{'CON_TOTAL_LINES' | translate}}:</td>
            <td>{{tempOrderData.nsOrderValueInfo.emTotalLines}}{{webSettings.currencyCode}}</td>
          </tr>
          <tr ng-show="webSettings.isShowOrderDiscount">
				<td>{{'CON_ORDER_DISCOUNT' | translate}} : </td>
				<td>{{tempOrderData.nsOrderValueInfo.emDisCount}}{{webSettings.currencyCode}}</td>
			</tr>
			<tr>
				<td>{{'CON_TOTAL_EXCLUDING_VAT' | translate}} : </td>
				<td>{{tempOrderData.nsOrderValueInfo.emLineNet}}{{webSettings.currencyCode}}</td>
			</tr>
			<tr>
				<td>{{'CON_VAT' | translate}} : </td>
				<td> {{tempOrderData.nsOrderValueInfo.emVAT}}{{webSettings.currencyCode}}</td>
			</tr>
          <tr class="total-cart-order">
            <td>{{'CON_GRAND_TOTAL' | translate}}</td>
            <td>{{tempOrderData.nsOrderValueInfo.emOrderTotal}}{{webSettings.currencyCode}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
	</div>
	<div class="footer-checkout clearfix">
       <div class="pull-left">
       	<a href="javascript:void(0);" class="btn btn-info" ng-click = "goHome()"><i aria-hidden="true" class="fa fa-caret-left"></i> {{'CON_CONTINUE_SHOPPING' | translate}}</a>
       </div>
       <div class="acceptation-section pull-right">
         <button type="button" class="btn btn-block btn-success" ng-disabled = "isCartEmpty" ng-click="goReviewOrder()">{{'CON_CLOSE_CART'| translate}}</button>
       </div>
     </div>
</div>
</div>
         