<div class="thankYouWrapper" ng-controller = "shoppingCartCtrl">

		<div class="order-confirmation text-center noprint">
          <h1 class="heading">{{'TXT_OE_006' | translate}}</h1>
          <h2 class="heading" ng-bind-html="renderHtml(thankYouObj.cartMsg)"></h2>
          <div class="order-status">{{'CON_ORDER_STATUS' | translate}}:<strong>{{thankYouObj.cartStatus}}</strong></div>
          
          	<p ng-if="thankYouObj.transactionId!=null" >{{'CON_TRANSACTION_ID' | translate}}: {{thankYouObj.transactionId}} </p>
			<p ng-if="thankYouObj.enterpriseErrorMessage!=null" >{{thankYouObj.enterpriseErrorMessage}} </p>
			<p ng-if="thankYouObj.paymentErrorMessage!=null" >{{thankYouObj.paymentErrorMessage}} </p>
          
          <div class="bnts-order-confirmed">
            <!-- button type="button" class="btn btn-block btn-info" ng-click="NEWexportReviewOrderTableAsPDF();"><i aria-hidden="true" class="fa fa-print"> </i> {{'CON_PRINT_ORDER_RECAP' | translate}}</button-->
            <button type="button" class="btn btn-block btn-info" ng-click="NEWexportReviewOrderTableAsPDF();"><i aria-hidden="true" class="fa fa-print"> </i> {{'CON_PRINT_ORDER_RECAP' | translate}}</button>
            <button type="button" class="btn btn-block btn-primary" ng-click="!isShowDisableMenuItem('CON_ORDER_INFORMATION') ||showOrders()">{{'CON_VIEW_ORDERS' | translate}}</button><br>
            <a href="javascript:void(0)" class="btn-link" ng-click = "goHome()">{{'CON_CONTINUE_SHOPPING' | translate}}</a>
          </div>
        </div>


    <div class="printable-page" id="printable-page">
      <table class="heading-page">
        <tr>
          <td>
            <h1><a href="#"><img src="./images/farmalvarion.png" width="243px"></a></h1>
          </td>
          <td>
            <p><strong>{{'PRINT_ORDER_INTESTAZIONE_NOME' | translate}}</strong><br>
            {{'PRINT_ORDER_INTESTAZIONE_RIGA1' | translate}}<br>
            {{'PRINT_ORDER_INTESTAZIONE_RIGA2' | translate}}<br>
            {{'PRINT_ORDER_INTESTAZIONE_RIGA3' | translate}}<br>
            {{'PRINT_ORDER_INTESTAZIONE_RIGA4' | translate}}</p>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td>
            <h1>{{'PRINT_ORDER_ORDER_DETAIL' | translate}}</h1>
            <div class="number-order-print">{{CartDeliveryInfo.orderReference.yourOrderNumber}}</div>
            <h2>{{'PRINT_ORDER_ORDER_RECAP' | translate}}</h2>
          </td>
        </tr>
      </table>
      <table class="table table-striped table-hover table-orders">
        <thead>
          <tr>
          	<th>{{'COH_DESCRIPTION' | translate}}</th>
			<!-- th>{{'CON_DELIVERY_DATE' | translate}}</th-->
			<th>{{'CON_UNIT' | translate}}</th>
			<!--th>{{'CON_DISCOUNT' | translate}}</th-->
			<th>{{'CON_PRICE' | translate}}</th>
			<th>{{'COH_QUANTITY' | translate}}</th>
			<th>{{'COH_TOTAL_AMOUNT' | translate}}</th>		
			<!--th>{{'COH_SHIPMENT_MARKING' | translate}}</th-->
          </tr>
        </thead>
        <tbody ng-repeat="orderLine in orderDetailsData.orderLineList">
				<tr>
					<td>
						<h4><a href="javascript:void(0);" ng-click="showProductDetail(orderLine.ivItem.code);">{{orderLine.itemDescription}}</a></h4>
						<span class="code-product">{{orderLine.itemCode}}</span>
					</td>
					<!-- td>{{orderLine.ivEnteredValues.Date}}<span ng-show="orderLine.ivOrderLine.isLateDispatch" class="late">({{'MSG_LATE' | translate}})</span></td-->
					<td>{{orderLine.unitDesc}}</td>
					<!--td> <span> {{orderLine.ivOrderLine.lineDisCount}} </span> </td-->
					<td>{{orderLine.price}} {{orderDetailsData.currencyCodeOrSymbol}}</td>						
			
					<td ng-bind="changeFormatToLocale(orderLine.ordered)">{{orderLine.ordered}}</td>
					<td>{{orderLine.value}}</td>	
					<!--td>{{orderLine.ivOrderLine.shipmentMark}}</td-->										
				</tr>
				<!-- tr ng-show = "orderLine.focListItems.length > 0">
					<td colspan= "1">
						<img ng-src="images/FreeOfCharge.gif" class="focItem"/> 
						<span class="clr_right">{{orderLine.focListItems[0].focItemCode}}</span></td>
					<td colspan= "1"><span class="left"> {{orderLine.focListItems[0].focItemDesc}} </span></td>
					<td colspan= "1">&nbsp;</td>
					<td colspan= "1"> {{orderLine.focListItems[0].focItemUnit}}</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td colspan= "1" class="txt_center"> {{orderLine.focListItems[0].focItemQty}}</td>
					<td colspan= "2">&nbsp;</td>
				</tr>
				<tr ng-if="!isEmptyValue(orderLine.ivOrderLine.replacementItem)">
				 <td colspan="5">{{orderLine.ivOrderLine.replacementItem}}</td>
				 <td class="smallSpace">&nbsp;</td>
				 <td class="smallSpace txt_center">&nbsp;</td>	
				 <td colspan= "2">&nbsp;</td>
				</tr-->
              </tbody>
      </table>
      <h2>{{'PRINT_ORDER_ORDER_INFO' | translate}}</h2>
      <table>
        <tr style="vertical-align:top;">
          <td>
            <table class="table-info-order">
              <tr>
                <td>{{'CON_YOUR_ORDER' | translate}}</td>
                <td>{{orderDetailsData.orderNumber}}</td>
              </tr>
              <tr>
                <td>{{'CON_CREATION_DATE' | translate}}</td>
                <td>{{orderDetailsData.orderDate}}</td>
              </tr>
              <tr>
                <td>{{'CON_FREE_TEXT' | translate}}</td>
                <td>{{orderDetailsData.orderText}}</td>
              </tr>
              <tr><td>{{'CON_TOTAL_EXCLUDING_VAT' | translate}} : </td><td>{{orderDetailsData.orderValueExclVAT}}</td></tr>
			  <!-- tr><td>{{'CON_VAT' | translate}} : </td><td> {{orderDetailsData.orderValueInclVAT}}</td></tr-->
			  <tr class="total-cart-order"><td>{{'CON_GRAND_TOTAL' | translate}}: </td> <td>{{orderDetailsData.orderValueInclVAT}} {{webSettings.currencyCode}}</td></tr>
            </table>
          </td>
          <td>
            <table class="table-info-order">
              <tr>
                <td>{{'CON_YOUR_REFERENCE' | translate}}</td>
                <td>{{orderDetailsData.yourReference}}</td>
              </tr>
              <tr>
                <td>{{'CON_OUR_REFERENCE' | translate}}</td>
                <td>{{orderDetailsData.ourReference}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      
      <h2>{{'PRINT_ORDER_ORDER_ADDRESSES' | translate}}</h2>
      <table class="addresses">
        <tr style="vertical-align:top;">
          <td>
            <h5>{{'CON_DELIVERY_ADDRESS' | translate}}</h5>
            <p ng-bind-html="renderHtml(orderDetailsData.confAddress)"></p>
          </td>
          <td>
            <h5>{{'CON_BILLING_ADDRESS' | translate}}</h5>
            <p ng-bind-html="renderHtml(orderDetailsData.delAddress)"></p>
          </td>
        </tr>
      </table>
    </div>
 </div>