<div class="listview quotationPageDetailPage"
	ng-controller="transportNoteLineDetailCtrl">
	<div class="page-heading">
		<span class="order-info">{{'CON_TRANSPORTNOTE_LINE_INFORMATION'
			| translate}}</span>
		<div class="order-details">
			<label>{{'CON_TRANSPORTNOTE_NUMBER' | translate}}: </label> <span
				class="section-value">{{transportNoteData.TransportNoteNumber}}</span>
			<label>{{'CON_LINE' | translate}} : </label><span
				class="section-value">{{transportNoteLine.lineNumber}}</span>
		</div>
	</div>
	<div class="sep"></div>
	<section name="lineInformation">
		<p class="clr_left">{{'CON_TRANSPORTNOTE_LINE_INFORMATION' |
			translate}}</p>
		<div class="sep"></div>
		<table class="quotation-line-detail">
			<tr>
				<td>{{'CON_PRODUCT' | translate}}:</td>
				<td class="section-value"><a href=""
					ng-click="showProductDetail(transportNoteLine.itemCode);">{{transportNoteLine.itemCode}}</a></td>
				<td class="section-value"><a href=""
					ng-click="showProductDetail(transportNoteLine.itemCode);">{{transportNoteLine.itemDescription}}</a></td>
				<td colspan="3">&nbsp;</td>
			</tr>
			<tr>
				<td>{{'CON_DISPATCH_DATE' | translate}}:</td>
				<td class="section-value">{{transportNoteLine.dispatchDate}}</td>
				<td colspan="4">&nbsp;</td>
			</tr>
			<tr>
				<td>{{'COH_ORDER_NUMBER' | translate}}:</td>
				<td class="section-value">{{transportNoteLine.orderNumber}}</td>
				<td colspan="4">&nbsp;</td>
			</tr>
			<tr>
				<td>{{'COH_ORDER_LINE_NUMBER' | translate}}:</td>
				<td class="section-value">{{transportNoteLine.orderLineNumber}}</td>
				<td colspan="4">&nbsp;</td>
			</tr>
			<tr>
				<td>{{'CON_WAREHOUSE' | translate}}:</td>
				<td class="section-value">{{transportNoteLine.warehouse}}</td>
				<td colspan="4">&nbsp;</td>
			</tr>
			<tr>
				<td>{{'CON_PHYSICAL_CONTAINER' | translate}}:</td>
				<td class="section-value">{{transportNoteLine.physicalContainer}}</td>
				<td colspan="4">&nbsp;</td>
			</tr>
			<tr>
				<td>{{'CON_QUANTITY' | translate}}:</td>
				<td class="section-value">{{transportNoteLine.quantity}}</td>
				<td colspan="4">&nbsp;</td>
			</tr>
			<tr>
				<td>{{'CON_ORDER_QUANTITY' | translate}}:</td>
				<td class="section-value">{{transportNoteLine.orderedQuantity}}</td>
				<td colspan="4">&nbsp;</td>
			</tr>
			<tr>
				<td>{{'CON_UNIT' | translate}}:</td>
				<td class="section-value">{{transportNoteLine.unit}}</td>
				<td colspan="4">&nbsp;</td>
			</tr>
			<tr>
				<td>{{'CON_PRICE' | translate}}:</td>
				<td class="section-value">{{transportNoteLine.unitPrice}}&nbsp;{{transportNoteLine.currency}}</td>
				<td colspan="4">&nbsp;</td>
			</tr>
			<tr>
				<td>{{'COH_AMOUNT' | translate}}:</td>
				<td class="section-value">{{transportNoteLine.lineAmount}}&nbsp;{{transportNoteLine.currency}}</td>
				<td colspan="4">&nbsp;</td>
			</tr>

		</table>
		<div class="buttonWrapper  right">
			<button ng-click="goBack()" type="button" name=""
				class="backButton  ng-binding">{{'CON_BACK' | translate}}</button>
		</div>
	</section>


</div>