<div class="listview transportNotePage" ng-controller="transportNoteHistoryCtrl">
		<div class="checkout-container orders-container">
          <div class="cnt-back-action">
          	<a href="javascript:void(0)" class="goback-btn btn btn-primary" ng-click="goBack()">
          		<i class="fa fa-arrow-circle-o-left"></i>
          		<span>{{'CON_BACK' | translate}}</span>
          	</a>
          </div>
          <h1>{{'CON_TRANSPORTNOTE_SEARCH' | translate}}</h1>
          <div class="advanced-search">
            <div class="panel panel-default">
              <button type="button" data-toggle="collapse" data-target="#advSearch" class="button-search collapsed"><span>{{'CON_NEW_SEARCH' | translate}}</span></button>
              <div id="advSearch" aria-expanded="true" class="collapse">
                <div class="panel-body">
                  <div class="row">
                  <form class="search-form" role="form" ng-submit="submitFilter()" name="searchForm">
					 <div ng-repeat="filter in filterList.getFilters()">
						<div ng-show="filter.isEnabled" class="search-form-wrapper">
							<div class="col-sm-4">
                      			<div class="form-group">					
									<label for = "filter.filterParam">{{filter.filterName | translate}}</label> 
									<div ng-show ="filter.isInputList">
										<div class="select-style">
											<select ng-if= "filter.filterName != 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems" ng-options="item.code as item.description for item in filter.dataList" class="form-control">	
											</select>
											<select ng-if= "filter.filterName == 'CON_RESULTS_PER_PAGE'" name="" id="filter.filterParam" ng-model="filter.selectedItems" class="form-control">
											<option ng-repeat="resultperPage in resultPerPageList" >{{resultperPage}}</option> 
											</select>   
										</div>
									</div>
									<div ng-show ="!filter.isInputList">							
										<input ng-if= "filter.numericType" type="text" id= "filter.filterParam" 
										name="filter.filterParam" ng-model="filter.selectedItems" 
										ng-blur ="validateNumber(filter,filter.selectedItems)" ng-mouseleave="validateNumber(filter,filter.selectedItems)" class="form-control"/> 
										<span ng-if= "filter.numericType"><p class="validationMsg ValidationMsgOrder">  {{filter.validationMsg}} </p> </span>
										<input ng-if= "!filter.numericType" type="text" id= "filter.filterParam" name="filter.filterParam"  ng-model="filter.selectedItems" class="form-control"/>
									</div>
								</div>
							</div>	
						</div>
					</div> 	
					<div class="col-sm-12 actions-buttons text-right">
						<button class="btn btn-block btn-primary" ng-disabled="isFilterHasError(filterList.getFilters())">{{'CON_START_SEARCH' | translate}}</button>
					</div>
					</form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="orders-table">
            <table class="table table-striped table-hover table-orders">
              <thead>
                <tr>
                	<th class="txt_right">
						<div class="sorting contentRight paddingRight">
							<span class="sortingInnerWrap">
							 	<a ng-class="sort.getAscCSS('TransportNoteNumber')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('TransportNoteNumber')"></a> 
								<a ng-class="sort.getDescCSS('TransportNoteNumber')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('TransportNoteNumber')"></a>							</span>
							<span>{{'CON_TRANSPORTNOTE' | translate}}</span>
						</div>			
					</th>
	                <th>
						<div class="sorting">
							<span class="sortingInnerWrap">			
								<a ng-class="sort.getAscCSS('TransportNoteDate')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('TransportNoteDate')"></a> 
								<a ng-class="sort.getDescCSS('TransportNoteDate')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('TransportNoteDate')"></a>
							</span>
							<span>{{'CON_TRANSPORTNOTE_DATE' | translate}}</span>
						</div>			
					</th>	
	                <th class="txt_right">
						<div class="sorting contentRight paddingRight">
							<span class="sortingInnerWrap">			
							 	<a ng-class="sort.getAscCSS('Customer')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Customer')"></a> 
							 	<a ng-class="sort.getDescCSS('Customer')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Customer')"></a>
							</span>
							<span>{{'CON_CUSTOMER' | translate}}</span>
						</div>			
					</th>
	                <th>
						<div class="sorting">
							<span class="sortingInnerWrap">	
							 	<a ng-class="sort.getAscCSS('Debtor')" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="sortASC('Debtor')"></a> 
								<a ng-class="sort.getDescCSS('Debtor')" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="sortDESC('Debtor')"></a>
							</span>
							<span>{{'CON_DEBTOR' | translate}}</span>
						</div>					
					</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in transportNoteData">
                	<td>
                		<h4><a href="javascript:void(0);" ng-click="showTransportNoteDetail(row);">{{row.TransportNoteNumber}}</a></h4>
                	</td>
                  	<td>{{row.TransportNoteDate | date:'dd/MM/yyyy'}}</td>
                 	<td>{{row.CustomerDesc}}</td>
					<td>{{row.DebtorDesc}}</td>				
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="pager">
          <div class="pager-indicators">
          	<!-- span class="actual-page">1</span><span class="separator-pages">/</span><span class="total-pages">3</span-->
            <button class="btn btn-grey" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}"><i aria-hidden="true" class="fa fa-caret-left"></i></button>
            <button class="btn btn-grey" ng-disabled="!dataFound || !moreDataArrow"  ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}"><i aria-hidden="true" class="fa fa-caret-right"></i></button>
            <!-- div class="seealls"><a href="#" class="btn btn-link">Vedi tutti</a></div -->
          </div>
        </div>
</div>
