<div class="listview quotationPageDetailPage" ng-controller="transportNoteDetailCtrl">
		<div class="checkout-container orders-container invoice-container">
          <div class="cnt-back-action">
          	<a href="javascript:void(0)" class="goback-btn btn btn-primary" ng-click="goBack()">
          		<i class="fa fa-arrow-circle-o-left"></i>
          		<span>{{'CON_BACK' | translate}}</span>
          	</a>
          </div>
          <div class="row head-invoice-order">
            <div class="col-sm-6 informations-io">
              <h1>{{'TRANSPORTNOTE_DETAILS' | translate}}</h1>
              <div class="invoice-number">{{'ORDER_NUMBER_N' | translate}} {{transportNoteDetails.transportNoteNumber}}</div>
                  
            </div>
            <div class="col-sm-6 print-io">
              <button type="button" class="btn btn-block btn-info pull-right" ng-click="exportTransportNoteLineTableAsPDF();"><i aria-hidden="true" class="fa fa-download"> </i> {{'DOWNLOAD_ORDER_DETAIL' | translate}}</button>
              <!-- button type="button" class="btn btn-block btn-info pull-right" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}" ng-click="orderDetailBuyItems();" >{{'CON_BUY' | translate}}</button>
			  <button type="button" class="btn btn-block btn-info pull-right" ng-show="isSignedIn" title={{addToListText}} ng-click="addMultipleItemsToCurrentList();">{{'CON_ADD_TO_LIST' | translate}}</button--> 
            </div>
          </div>
          <div class="orders-table">
            <table class="table table-striped table-hover table-orders tnd-table">
              <thead>
                <tr>
                  <th>
                  	<a ng-class="sort.getAscCSS('lineNumber')" class="ascending" ng-click="sortASC('lineNumber'); sortType = '+lineNumber';" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}"></a> 
                  	<a ng-class="sort.getDescCSS('lineNumber')" class="decending" ng-click="sortDESC('lineNumber'); sortType = '-lineNumber';" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}"></a>
					{{'COH_LINE' | translate}}
				  </th>
                  <th>
                  	<a ng-class="sort.getAscCSS('itemCode')" class="ascending" ng-click="sortASC('itemCode'); sortType = '+itemCode'" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}"></a> 
					<a ng-class="sort.getDescCSS('itemCode')" class="decending" ng-click="sortDESC('itemCode'); sortType = '-itemCode'" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}"></a>
                  	{{'COH_PRODUCT' | translate}}</th>
                  <th>
                  	<a ng-class="sort.getAscCSS('itemDescription')" class="ascending" ng-click="sortASC('itemDescription'); sortType = '+itemDescription'" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}"></a> 
					<a ng-class="sort.getDescCSS('itemDescription')" class="decending" ng-click="sortDESC('itemDescription'); sortType = '-itemDescription'" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}"></a>
                  	{{'COH_DESCRIPTION' | translate}}
                  </th>
                  <th>
                  	<a ng-class="sort.getAscCSS('orderNumber')" class="ascending" ng-click="sortASC('orderNumber'); sortType = '+orderNumber'" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}"></a> 
					<a ng-class="sort.getDescCSS('orderNumber')" class="decending" ng-click="sortDESC('orderNumber'); sortType = '-orderNumber'" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}"></a>
					{{'COH_ORDER_NUMBER' | translate}}
				  </th>
				  <th>{{'CON_PHYSICAL_CONTAINER' | translate}}</th>
                  <th>{{'COH_QUANTITY' | translate}}</th>
                  <th>{{'COH_UNIT' | translate}}</th>
                  <th>
					<a ng-class="sort.getAscCSS('deliveryDate')" class="ascending" ng-click="sortASC('deliveryDate'); sortType = '+deliveryDate'" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}"></a> 
					<a ng-class="sort.getDescCSS('deliveryDate')" class="decending" ng-click="sortDESC('deliveryDate'); sortType = '-deliveryDate'" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}"></a>
					{{'COH_DISPATCH_DATE' | translate}}
				  </th>
				  <!-- th>{{'COH_AVAILABLE' | translate}}</th>
				  <th ng-show="webSettings.allowBuyFromTransportNoteLine">{{'COH_QUANTITY' | translate}}</th-->
                </tr>
              </thead>
              <tbody>
              	<tr ng-repeat="row in transportNoteLineData | orderBy:sortType">
						<td><a href="javascript:void(0);" ng-click="showTransportNoteLineDetail(row);">{{row.lineNumber}}</a></td>
						<td><a href="javascript:void(0);" ng-click="showProductDetail(row.itemCode);">{{row.itemCode}}</a></td>
						<td><a href="javascript:void(0);" ng-click="showProductDetail(row.itemCode);">{{row.itemDescription}}</a></td>
						<td>{{row.orderNumber}}</td>
						<td>{{row.physicalContainer}}</td>
						<td>{{row.quantity}}</td>
						<td>{{row.unitDesc}}</td>
						<td>{{row.dispatchDate}}</td>
						<!-- td>
							<span ng-show="row.showAvailabilityAsLink && row.showAvailabilityAsImage">
								<a href="javascript:void(0);" ng-click="showProductDetail(row.itemCode,true);">
									<img ng-src="images/{{row.availabilityImageName}}" title="{{'CON_CLICK_TO_SEE_WH_INFO' | translate}}" /> 
								</a>
							</span> 
							<span ng-show="!row.showAvailabilityAsLink && row.showAvailabilityAsImage">
								<img ng-src="images/{{row.availabilityImageName}}" />
							</span>
							<div>
								<span ng-show="row.showAvailabilityAsLink && !row.showAvailabilityAsImage">
									<a href="javascript:void(0);" ng-click="showProductDetail(row.itemCode,true);">{{row.availabilityText}}</a>
								</span> 
								<span ng-show="!row.showAvailabilityAsLink && !row.showAvailabilityAsImage">
									<a href="javascript:void(0);" ng-click="showProductDetail(row.itemCode,true);">{{row.availabilityText}}</a>
								</span>
							</div>
						</td>
						<td ng-show="webSettings.allowBuyFromTransportNoteLine" class="quantityColumn">
							<div class="nowrap left">
								<span class="left"> 
									<input ng-model="row.quantity1" type="text" class="txt_right buyInput" ng-class="{ 'error': !row.validQuantity, '' : row.validQuantity}" ng-change="checkValidQuantity(row,row.quantity1)" title="{{row.quantityBoxMsg}}" />
								</span> 
								<span ng-if="row.buyAllowed && !isShopCartItem(row.itemCode)">
									<button ng-disabled="!row.buyAllowed" type="button" name="" value="" class="buyIcon" ng-click="buyItems(row)" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}">{{'CON_BUY' | translate}}</button>
								</span> 
								<span ng-if="row.buyAllowed && isShopCartItem(row.itemCode)">
									<span class="addedInCart left" ng-click="buyItems(row)" title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span>
								</span> 
								<span class="">
									<button type="button" name="" value="" class="addToListTableView" title={{addToListText}} ng-click="addItemToCurrentListTransportNote(row);" title={{addToListText}}>{{'CON_ADD_TO_LIST' |translate}}</button>
								</span>
							</div>
						</td-->
					</tr>
					
					<tr ng-show="!dataFound">
						<td colspan="10">{{pageLoadMsg}}</td>
					</tr>
              </tbody>
            </table>
          </div>
          
          <div class="advanced-search accord-invoices accord-order-dett">
            <div class="panel panel-default">
              <button type="button" data-toggle="collapse" data-target="#invoiceInfo" class="button-search collapsed"><span>{{'CON_TRANSPORTNOTE_HEADER_INFORMATION' | translate}}</span></button>
              <div id="invoiceInfo" aria-expanded="true" class="collapse">
                <div class="panel-body">
                  <table>
                    <tbody>
                    	<tr>
							<td>{{'CON_CUSTOMER' | translate}}</td>
							<td>{{transportNoteDetails.customerCode}} {{transportNoteDetails.customerDesc}}</td>
						</tr>
						<tr>
							<td>{{'CON_DEBTOR' | translate}}</td>
							<td>{{transportNoteDetails.debtorCode}} {{transportNoteDetails.debtorDesc}}</td>
						</tr>
						<tr>
							<td>{{'CON_TRANSPORTNOTE_DATE' | translate}}</td>
							<td>{{transportNoteDetails.transportNoteDate}}</td>
						</tr>
						<tr ng-show="isColExist('motCode',transportNoteDetailsPropList) || isColExist('motDesc',transportNoteDetailsPropList) ">
							<td>{{'CON_MANNER_OF_TRANSPORT' | translate}}</td>
							<td>{{transportNoteDetails.motCode}} {{transportNoteDetails.motDesc}}</td>
						</tr>
						<tr ng-show="isColExist('todCode',transportNoteDetailsPropList) || isColExist('todDesc',transportNoteDetailsPropList) ">
							<td>{{'CON_TERMS_OF_DELIVERY' | translate}}</td>
							<td>{{transportNoteDetails.todCode}} {{transportNoteDetails.todDesc}}</td>
						</tr>
						<tr ng-show="isColExist('shippingAgentCode',transportNoteDetailsPropList) || isColExist('shippingAgentDesc',transportNoteDetailsPropList) ">
							<td>{{'CON_SHIPPING_AGENT' | translate}}</td>
							<td>{{transportNoteDetails.shippingAgentCode}} {{transportNoteDetails.shippingAgentDesc}}</td>
						</tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="advanced-search accord-invoices accord-order-dett">
            <div class="panel panel-default">
              <button type="button" data-toggle="collapse" data-target="#indirizzi" class="button-search collapsed"><span>{{'CON_ADDRESSES' | translate}}</span></button>
              <div id="indirizzi" aria-expanded="true" class="collapse">
                <div class="panel-body">
                  <div class="addresses-blocks row">
                    <div class="col-sm-6">
                      <div class="padd">
                        <h5>{{'CON_DELIVERY_ADDRESS' | translate}}</h5>
                        <p ng-bind-html="renderHtml(transportNoteDetails.delAddress)"></p>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="padd">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
