<div class="listview accountTransactionDetailPage" ng-controller="transportNoteDetailCtrl">
	<div ng-show="isShowInnerLoader()" class="pageLoader">
		<div class="inner"></div>
	</div>
	<h5>{{'CON_SELECT_TRANSPORTNOTE_LINES' | translate}}</h5>
	<div class="order-details">
		<label>{{'COH_TRANSPORTNOTE' | translate}} : </label>
		<span class="section-value" style="line-height: 15px;">{{transportNoteDetails.transportNoteNumber}}</span>
	</div>
	<p class="errorMsg">{{errorMessage}}</p>
	
	<section name="orderLevelInfo">
		<div>
			<p class="errorMsg" ng-show="!requestLineSelected">{{requestLineSelectionMsg}}</p>

		</div>
	</section>

	<div class="orders-table">
           <table class="table table-striped table-hover table-orders">
			<thead>
				<tr>
					<th>{{'CON_SELECT' | translate}}</th>
					<th>{{'COH_LINE' | translate}}</th>
					<th>{{'COH_ORDER_NUMBER' | translate}}</th>
					<th>{{'COH_ORDER_LINE_NUMBER' | translate}}</th>
					<th>{{'COH_PRODUCT' | translate}}</th>
					<th>{{'CON_MINSAN_CODE' | translate}}</th>
					<th>{{'COH_DESCRIPTION' | translate}}</th>
					<th>{{'COH_QUANTITY' | translate}}</th>
					<th>{{'COH_UNIT' | translate}}</th>
					<th>{{'COH_PRICE' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in transportNoteLineData">
					<td><input type="checkbox" name="{{row.lineNumber}}"
						ng-model="row.checked" id="{{row.lineNumber}}"
						ng-change="SelectedTransportNoteLine(transportNoteLineData)" />
					</td>
					<td>{{row.lineNumber}}</td>
					<td>{{row.orderNumber}}</td>
					<td>{{row.orderLineNumber}}</td>
					<td>{{row.itemCode}}</td>
					<td>{{row.minsanCode}}</td>
					<td>{{row.itemDescription}}</td>
					<td>{{row.quantity}}</td>
					<td>{{row.unit}}</td>
					<td>{{row.unitPrice}}</td>
				</tr>
				<tr ng-show="!dataFound">
					<td colspan="8">{{pageLoadMsg}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="bottom-transport bottom-wlist checkout-container">
       <div class="row">
         <div class="col-sm-6 wlist-control-buttons"> 
           <div class="cancel-section pull-left">
             <label class="selectall">
               <input type="checkbox" ng-model="selectRequestLine['AllVisible']" ng-click="selectAllVisible(transportNoteLineData)">{{'CON_SELECT_ALL' | translate}}
             </label><br>
             <button type="button" class="btn btn-block btn-success" ng-click="showAddProduct(transportNoteLineData,false,false,true)"> {{'CON_ADD_PRODUCTS'| translate}}</button>
           </div>
         </div>
       </div>
     </div>
</div>