<div class="listview accountTransactionDetailPage advanced-search" ng-controller="transportNoteHistoryCtrl" ng-show="showRequestBase">

	<h5>{{'CON_SELECT_TRANSPORTNOTE' |	translate}}</h5>
    <button type="button" data-toggle="collapse" data-target="#advSearch" class="button-search collapsed"><span>{{'CON_NEW_SEARCH'| translate}}</span></button>
	<div id="advSearch" aria-expanded="true" class="collapse">
		<form class="search-form" role="form" ng-submit="submitFilter()" name="searchForm">
			<div class="col-sm-4" ng-repeat="filter in filterList.getFilters()" ng-show="filter.isEnabled">
                 	 <div class="form-group">
					<label for="filter.filterParam">{{filter.filterName | translate}} :</label> 
					<div ng-show="filter.isInputList">
						<div class="select-style">
							<select name="" id="filter.filterParam"
								ng-model="filter.selectedItems">
								<option ng-if="filter.filterName == 'CON_RESULTS_PER_PAGE'"
									ng-repeat="resultperPage in resultPerPageList"
									ng-selected="resultperPage == filter.resultCount">{{resultperPage}}</option>
								<option ng-if="filter.filterName == 'CON_CUSTOMER'"
									ng-repeat="item in filter.dataList" ng-value="item.code"
									ng-selected="item.defaultCode == item.code">
									{{item.description}}</option>
								<option ng-if="filter.filterName != 'CON_CUSTOMER'"
									ng-repeat="item in filter.dataList" ng-value="item.code"
									ng-selected="filterDetailSettings[filter.dataListName][0].code == item.code">
									{{item.description}}</option>
							</select>
						</div>
					</div> 
					<div ng-show="!filter.isInputList"> <input
						ng-if="filter.numericType" type="text" id="filter.filterParam"
						name="filter.filterParam" ng-model="filter.selectedItems"
						ng-blur="validateNumber(filter,filter.selectedItems)"
						ng-mouseleave="validateNumber(filter,filter.selectedItems)" /> <span
						ng-if="filter.numericType"><p class="validationMsg ">
								{{filter.validationMsg}}</p> </span> <input ng-if="!filter.numericType"
						type="text" id="filter.filterParam" name="filter.filterParam"
						ng-model="filter.selectedItems" />
					</div>
				</div>
			</div>
			<div class="col-sm-12 actions-buttons text-right">
				<button class="btn btn-block btn-primary" ng-disabled="isFilterHasError(filterList.getFilters())">{{'CON_START_SEARCH'| translate}}</button>
			</div>
		</form>
		<p class="clr_left" ng-bind-html="renderHtml(filterMsg)"></p>
	</div>
	<div ng-show="isShowInnerLoader()" class="pageLoader">
		<div class="inner"></div>
	</div>

	<div class="scrollTableTop" id="result_set"></div>
	<div class="orders-table" >	
	    <table class="table table-striped table-hover table-orders">
			<thead>
				<tr>
					<th>{{'CON_SELECT' | translate}}</th>
					<th>{{'CON_TRANSPORTNOTE' | translate}}</th>
					<th>{{'CON_TRANSPORTNOTE_DATE' | translate}}</th>
					<th>{{'CON_CUSTOMER' | translate}}</th>
					<th>{{'CON_DEBTOR' | translate}}</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="row in transportNoteData">
					<td><input name="transportNote" type="radio"
						ng-model="selectedRequest['transportNote']" ng-value="row"
						value="{{row}}"
						ng-checked="$first" 
						ng-click="selectedRequest['selected']= true" /></td>
					<td><h4><a href="javascript:void(0);"
						ng-click="showTransportNoteDetail(row,false);">{{row.TransportNoteNumber}}</a></h4>
					</td>
					<td>{{row.TransportNoteDate | date:'dd/MM/yyyy'}}</td>
					<td>{{row.CustomerDesc}}</td>
					<td>{{row.DebtorDesc}}</td>
				</tr>
				<tr ng-show="!dataFound">
					<td colspan="8">{{pageLoadMsg}}</td>
				</tr>

			</tbody>
		</table>
	 </div>
	 <div class="checkout-container bottom-transport">
          <div class="row">
            <div class="col-sm-6 wlist-control-buttons">
              <div class="cancel-section pull-left">
                <button class="btn btn-block btn-info" type="button"
				ng-click="showTransportNoteDetail(selectedRequest['transportNote'],true)()">{{'CON_SELECT_TRANSPORTNOTE_LINES'| translate}}</button>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="pager">
			     <div class="pager-indicators">
			     	<!-- span class="actual-page">1</span><span class="separator-pages">/</span><span class="total-pages">3</span-->
			       <button class="btn btn-grey" ng-disabled="paginationObj.isFirstPage()"  ng-click="previousPage()" title = "{{'CON_PREVIOUS_PAGE' | translate}}"><i aria-hidden="true" class="fa fa-caret-left"></i></button>
			       <button class="btn btn-grey" ng-disabled="!dataFound || !moreDataArrow"  ng-click="nextPage()" title = "{{'CON_NEXT_PAGE' | translate}}"><i aria-hidden="true" class="fa fa-caret-right"></i></button>
			       <!-- div class="seealls"><a href="#" class="btn btn-link">Vedi tutti</a></div -->
			     </div>
			  </div>
            </div>
          </div>
      </div>

</div>


