<!DOCTYPE html>
<html lang="en" ng-app="netStoreApp">
<head>
<link href="./css/bootstrap-combined.min.css" rel="stylesheet">
<link href="./css/dropdown.css" media="screen" rel="stylesheet" 	type="text/css" />
<link href="./css/home.css" rel="stylesheet" />
<meta charset="UTF-8" />
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<title ng-bind-html="homePageTitle"></title>
</head>
<body ng-controller="configCtrl" scroll>
<div class="shopping-cart-wrapper viewPrintOrderWrapper">
<div class="viewPrintLogo"><img ng-src="images/NetStore_Logo.png"/></div>
	<p class="heading">Order received confirmation </p>	
	<div class="sep"></div>
	<a href="" class="printThisPage">Print This Page</a>
	<div class="reviewOrderTableWrapper left clr_left">
		<div class="reference">
			<p class="left">{{'CON_REFERENCE_NUMBER' | translate}} :  {{CartDeliveryInfo.currentOrder.temporaryOrderNumber}}</p> 
			<p class="right">{{'MSG_CONTAINER_CASE' | translate}} : {{CartDeliveryInfo.orderTextReference}}</p>
		</div>
		<table class="viewPrintOrder">
			<thead>
				<tr>
					<th>{{'CON_ITEM' | translate}}</th>
					<th>{{'COH_DESCRIPTION' | translate}}</th>
					<th>{{'CON_DELIVERY_DATE' | translate}}</th>
					<th>{{'CON_UNIT' | translate}}</th>
					<th class="txt_right" ng-show="webSettings.isShowPrice">{{'CON_DISCOUNT' | translate}}</th>
					<th class="txt_right" ng-show="webSettings.isShowPrice">{{'CON_PRICE' | translate}}</th>
					<th class="txt_right">{{'COH_QUANTITY' | translate}}</th>
					<th class="txt_right">{{'COH_TOTAL_AMOUNT' | translate}}</th>					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="orderLine in CartDeliveryInfo.orderLines" >
					<td style="text-align: left;">{{orderLine.ivItem.code}}</td>
					<td>{{orderLine.ivItem.description}}</td>
					<td>{{orderLine.ivEnteredValues.Date}}</td>
					<td>{{orderLine.ivEnteredValues.Unit}}</td>
					<!-- 
					<td ng-show="webSettings.isShowPrice" >{{orderLine.ivOrderLine.item.discountPercentage}}</td>
					<td ng-show="webSettings.isShowPrice && (orderLine.ivOrderLine.lineDisCount > 0)">{{orderLine.ivOrderLine.item.discountPrice}} </td>
					<td ng-show="webSettings.isShowPrice && (orderLine.ivOrderLine.lineDisCount  <= 0)">{{orderLine.ivOrderLine.item.actualPrice}} </td>						
					-->
					<td class="txt_right smallSpace" ng-show="webSettings.isShowPrice"> <span ng-show="orderLine.ivOrderLine.lineDisCount > 0"> {{orderLine.ivOrderLine.lineDisCount}} </span> </td>
					<td class="txt_right smallSpace" ng-show="webSettings.isShowPrice ">{{orderLine.ivOrderLine.price}} </td>						
			
					<td class="txt_right">{{orderLine.ivOrderLine.orderedQuantity}}</td>
					<td class="txt_right">{{orderLine.ivOrderLine.lineVal}}</td>											
				</tr>
				<tr style="border-top:1px solid #ccc;">						
					<td colspan="2" class="shopping-cart-table-footer">
						<div class="footer-left">
							<p>{{'CON_TOTAL_WEIGHT'| translate}} {{CartDeliveryInfo.nsOrderValueInfo.emTotalWeight}}</p>
							<p>{{'CON_TOTAL_VOLUME'| translate}} {{CartDeliveryInfo.nsOrderValueInfo.emTotalVolume}}</p>
						</div>
					</td>
					<td></td>
					<td></td>        
					<td colspan="4" class="shopping-cart-table-footer">
						<div class="footer-right">
							<p><label>{{'CON_TOTAL_LINES' | translate}} : </label>{{CartDeliveryInfo.currentOrder.lineCount}}</p>
							<p><label>{{'CON_ORDER_DISCOUNT' | translate}} : </label>{{CartDeliveryInfo.nsOrderValueInfo.emDisCount}}%</p>
							<p><label>{{'CON_TOTAL_EXCLUDING_VAT' | translate}} : </label>{{CartDeliveryInfo.nsOrderValueInfo.emLineNet}}</p>
							<p><label>{{'CON_VAT' | translate}} : </label> {{CartDeliveryInfo.nsOrderValueInfo.emVAT}}</p>
							<p class="grand-total"><label>{{'CON_GRAND_TOTAL' | translate}} : </label><span>{{CartDeliveryInfo.nsOrderValueInfo.emOrderTotal}}</span> </p>
						</div>
					</td>        					
				</tr>				
			</tbody>
		</table>
		<div class="sep"></div>
		<div class="deliveryAddress">
			<p class="hed">{{'CON_DELIVERY_ADDRESS' | translate}}</p>
			<p>{{CartDeliveryInfo.deliveryAddress.displayAddress}}</p>
			<p>{{CartDeliveryInfo.deliveryAddress.name}}</p>
			<p>{{CartDeliveryInfo.deliveryAddress.address1}}</p>
			<p>{{CartDeliveryInfo.deliveryAddress.address2}}</p>
			<p>{{CartDeliveryInfo.deliveryAddress.address3}}</p>
			<p>{{CartDeliveryInfo.deliveryAddress.address4}}</p>
			<p>{{CartDeliveryInfo.deliveryAddress.countryDesc}} - {{CartDeliveryInfo.deliveryAddress.postalCode}}</p>
		</div>
		<div class="billingAddress">
			<p class="hed">{{'CON_BILLING_ADDRESS' | translate}}</p>
			<p>{{CartDeliveryInfo.billingAddress.displayAddress}}</p>
			<p>{{CartDeliveryInfo.billingAddress.name}}</p>
			<p>{{CartDeliveryInfo.billingAddress.address1}}</p>
			<p>{{CartDeliveryInfo.billingAddress.address2}}</p>
			<p>{{CartDeliveryInfo.billingAddress.address3}}</p>
			<p>{{CartDeliveryInfo.billingAddress.address4}}</p>
			<p>{{CartDeliveryInfo.billingAddress.countryDesc}} - {{CartDeliveryInfo.billingAddress.postalCode}}</p>
		</div>		
		<div class="sep"></div>		
		<div class="paymentInformation">
			<p class="hed">{{'CON_PAYMENT_INFORMATION' | translate}}</p>
			<p>{{'CON_PAYMENT_METHOD' | translate}}: <span>{{CartDeliveryInfo.paymentMethod.name}}</span></p>
			<p>{{'CON_TERMS_OF_PAYMENT' | translate}} : <span> {{CartDeliveryInfo.currentOrder.termsOfPaymentDescription}}</span></p>
		</div>
		<div class="orderRef">
			<p class="hed">{{'CON_ORDER_REFERENCE' | translate}}</p>
			<p class="clr_left"><span>{{'CON_YOUR_ORDER' | translate}} :</span> {{CartDeliveryInfo.orderReference.yourOrderNumber}}</p>
			<p class="clr_left"><span>{{'CON_YOUR_REFERENCE' | translate}}:</span> {{CartDeliveryInfo.orderReference.yourReference}}</p>
			<p class="clr_left"><span>{{'CON_FREE_TEXT' | translate}}:</span> {{CartDeliveryInfo.orderReference.freeText}}</p>
		</div>
		<p class="left clr_left"> Note! Order total might be subject of change due to changed prices, order fees etc. </p>
	</div>
</div>
</body>
</html>
