<div class="scrollTableTop" id = "result_set"></div>
<span class="userDetails"> {{user}}  </span>
<div ng-controller="promotionCatlogCtrl" class="homeCatalogWrapper">
	
	<div class="bar" ng-hide="isProductListEmpty">
		<p class="head">{{'CON_YOU_MAY_LIKE_THIS' | translate}} :</p>	
		
		<div class="rightWithPadding">
		<span class=""> <a href=""  ng-click="compare();"  ng-class = "{'compareShowDisabled':(SelectedProductList.length > 1 && !isCompareProductShowDisable),'compare': (SelectedProductList.length > 1 && isCompareProductShowDisable), 'compare_disabled':(SelectedProductList.length < 2)}" >{{'COH_COMPARE' | translate}}</a>	
		</span>
		<span class="">{{'COH_VIEW' | translate}}</span>
		<span ng-if="!isList" >
			<a class="GridSelected" href="" ></a>&nbsp;<a class="TableView" ng-click="changeCatalogView();" href="" ></a>
		</span>
		<span ng-if="isList">
		<a class="GridView" href=""  ng-click="changeCatalogView();"></a>&nbsp;<a class="TableSelected" href="" ></a>
		</span>
		
		</div>
		
		 
	<!--<a ng-class ="{'list': isList, 'grid': !isList}" href="" ng-click="changeCatalogView();">{{ViewLabelName}}</a>	
		<div class="compareWrapper"> 
			<a href="" <div class="CompareDivMainCat"> ng-click="compare();"  ng-class = "{'compare': (SelectedProductList.length > 1 && isCompareProductShowDisable), 'compare_disabled':(SelectedProductList.length < 2)}" >{{'COH_COMPARE' | translate}}</a>	
		</div>-->	
	</div>
 	<div ui-view="catalogViewPromotion" class="catalogViewPromotion clr_left" ng-hide="isProductListEmpty"></div>
</div>
