 
<div class="listview">
  <div class="extendedInfo">
	  <label>{{'CON_EXTENDED_INFO' | translate}}: </label>
	    <input type="radio" ng-model="youMayLikeShowExtendInfo" ng-value="ExtendedInfoOption1" value="{{ExtendedInfoOption1}}" name="CatalogueRB" class="" ng-checked="ExtendedInfoOption1 == youMayLikeShowExtendInfo" ng-change="$parent.youMayLikeShowExtendInfo = true"><label>{{'CON_YES' | translate}}</label>
	  <input type="radio" ng-model="youMayLikeShowExtendInfo" ng-value="ExtendedInfoOption2" value="{{ExtendedInfoOption2}}" name="CatalogueRB" class="" ng-checked="ExtendedInfoOption2 == youMayLikeShowExtendInfo" ng-change="$parent.youMayLikeShowExtendInfo = false">  <label>{{'CON_NO' | translate}}</label>
	  
  </div>
   <div class="right download">
    	<a  href="" class="right" ng-show="webSettings.showXmlIcon" title="{{exportInXML}}" > <img ng-src="./images/XML.png" ng-click="exportPromotionalCatalogTableAsXML();" /> </a> 
 		<a  href="" class="right" ng-show="webSettings.showExcelIcon" title="{{exportInExcel}}" > <img ng-src="./images/Excel.png" ng-click="exportPromotionalCatalogTableAsExcel();" /> </a>
		<a  href="" class="right" ng-show="webSettings.showPdfIcon" title="{{exportInPDF}}" > <img ng-src="./images/PDF.png" ng-click="exportPromotionalCatalogTableAsPDF();" /> </a> 		
		<button ng-show="PromotionCatalog.getCatalogTableHeader().isBuyingAllowed" type="button" name="" value="" class="buyIcon" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}"
		ng-click="buyItems()" >{{'CON_BUY' | translate}}</button>
		<button type="button" ng-show="isSignedIn" name="" value="" class="addToList" title={{addToListText}} ng-click="addMultipleItemsToCurrentList();">{{'CON_ADD_TO_LIST' | translate}}</button> 
</div>
<div class="extendedInfoTableWrapper">
<table class="homeCat_list">
	<thead>
	     <tr>
			<th ng-show="youMayLikeShowExtendInfo==true"></th>
			<th>
				<div class="sorting">
						<span class="sortingInnerWrap">												
							<a ng-class ="promoCatalogSort.getAscCSS('code')" shref="" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="Sorting('code','ASC')"></a>
							<a ng-class ="promoCatalogSort.getDescCSS('code')" shref="" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="Sorting('code','DESC')"></a>					
						</span>
							
				</div>
				<span>{{'CON_MINSAN_CODE' | translate}}</span>
			</th>
			<th >
				<div class="sorting">
						<span class="sortingInnerWrap">
 							<a ng-class ="promoCatalogSort.getAscCSS('description')" shref="" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="Sorting('description','ASC')"></a>
							<a ng-class ="promoCatalogSort.getDescCSS('description')" shref="" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="Sorting('description','DESC')"></a>
						</span>
				</div>
				<span>{{'COH_DESCRIPTION' | translate}}</span>
			</th>
			<th class="txtCenter">{{'COH_UNIT' | translate}}</th>
			<th class="txt_right" ng-show="tableHeaders.actualPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')" >
				<span>{{'COH_ACTUAL_PRICE' | translate}} {{webSettings.currencyCode}}</span>
			 </th>
			 <th class="txt_right" ng-show="tableHeaders.discountPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE')">
				<span>{{'COH_DISCOUNT_PRICE' | translate}} {{webSettings.currencyCode}}</span>
			</th>
			<th class="txt_right" ng-show="tableHeaders.discountPercentage && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL')">
				<span>{{'CON_DISCOUNT_%' | translate}}</span>
			</th>
			<th>{{'COH_QUANTITY' | translate}}</th>
			<th>{{'COH_ALTERNATIVES' | translate}}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in PromotionCatalog.productList " >
            <td ng-show="youMayLikeShowExtendInfo==true" style="width:100px;">
        	    <div class="listViewImageWrapper">
	        	    <a href=""  ng-click="showProductDetail(row.code);">
	            		<img class="attentionImage" ng-src="{{BASE_ADDRESS}}{{row.attentionImageURL}}" ng-show="row.isShowAttentionImage"/> 
	            		<img ng-src="{{BASE_ADDRESS}}{{row.imageUrl}}" onerror="getDefaultImg(this);" >
	            	</a>
             	</div>
            </td>
            <td><a href=""  ng-click="showProductDetail(row.code);" >{{row.minsanCode}}</a></td>
            <td>
            	<a href=""  ng-click="showProductDetail(row.code);" >{{row.description}}</a>       
            	<span ng-if="!webSettings.showFullWebTextInItemTable" ng-show="youMayLikeShowExtendInfo==true" class="itemWebTxt" ng-bind-html="renderHtml(row.itemWebText)"></span> 
           		<span ng-if="webSettings.showFullWebTextInItemTable" ng-show="youMayLikeShowExtendInfo==true" class="itemWebTxtFull" ng-bind-html="renderHtml(row.itemWebText)"></span>   
            </td>
            <td>
	            <span>
	            	<div class="select-style left"> 
	  					<select  ng-model="row.selectedUnitObject"  ng-options="unit.salesUnitDesc for unit in row.salesUnitsDesc track by unit.salesUnitDesc" 
	  							 ng-change="onUnitChange(row.code,row.selectedUnitObject.salesUnit,row)">  
						</select>           
		        	</div>
	            </span>
            </td>
            <td ng-show="tableHeaders.actualPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')" class="txt_right">
            	<span><a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled, '': isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)" > {{row.actualPrice}} </a>  </span>
            </td>
            <td ng-show="tableHeaders.discountPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE')" class="txt_right">
            	<a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled, '': isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)" >{{row.discountPrice}}</a> 
            </td>
             <td ng-show="tableHeaders.discountPercentage && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL')" class="txt_right">
             	<a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled, '': isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)">{{row.discountPercentageText}}</a> 
             </td>
            <td  class="quantityColumn">
	          	 <div class="nowrap" style="width:100px;">
	            	  <span  ng-show="isSignedIn && !row.isMatrixBaseItem" class="left">
              				<input ng-show = "row.selectedUnitObject != null"  id="getId('text',row.code)" ng-model="row.quantity" type="text" class="txt_right buyInput" ng-class ="{ 'error': !row.validQuantity, '' : row.validQuantity}" ng-change="checkValidQuantity(row,row.quantity)" title="{{row.quantityBoxMsg}}"/> 
              		  </span>
	            		<span ng-if="row.isBuyingAllowed && !row.isMatrixBaseItem && !isShopCartItem(row.code)" >
							<button type="button" name="" value="" class="buyIcon" ng-click="buyItems(row)" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}">{{'CON_BUY' | translate}}</button>
						</span>
						<span ng-if="row.isBuyingAllowed && !row.isMatrixBaseItem && isShopCartItem(row.code)">
							<span  class="addedInCart left"  ng-click="buyItems(row)"  title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span>
						</span>
	            		<span  ng-if="isSignedIn && !row.isMatrixBaseItem" ng-show = "row.selectedUnitObject != null" class="">
							<button type="button" name="" value="" class="addToListTableView" title={{addToListText}} ng-click="addMultipleItemsToCurrentList(row);" >{{'CON_ADD_TO_LIST' | translate}}</button> 
						</span> 
						<!-- ADM-009 -->
						<img class="promotionImageListView" ng-src="images/Available.png" title="{{'CON_PROMOTIONAL_ITEM' | translate}}" ng-show="row.hasPromoP1OrP2 && !hospital">
						<img class="hospitalImageListView" ng-src="images/H.png" ng-show="row.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}" >
						<!-- ADM-009 end -->
	            	</div>
	            	<span ng-show="row.isMatrixBaseItem">
	            		<a href=""  ng-click="showProductDetail(row.code);">
	            			{{row.segmentationDesc2}}/{{row.segmentationDesc3}}
	            		</a>
	            	</span>
            </td>
            <td><!--  Alternative --></td>
        </tr>
	</tbody>
</table>
</div>
</div>
<!-- <a href="" class="loadMoreButton" style="">{{'MSG_LOADING_MORE_ITEMS' | translate}}</a> -->
<div ng-show="isShowBottomLoader()" class="loadInfoWrapper">{{'MSG_LOADING_MORE_ITEMS' | translate}}</div> 