<!DOCTYPE html>
<html lang="en" ng-app="netStoreApp">
<head>
<!--[if IE 9]>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>     
<![endif]-->

<!--[if gte IE 10]>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>     
<![endif]-->
<link href="./css/jquery-ui.min.css" rel="stylesheet">
<link href="./css/bootstrap-combined.min.css" rel="stylesheet">
<!-- 
<link rel="stylesheet" 	href="./js/angular-1.2.16/docs/components/bootstrap-3.1.1/css/bootstrap.css">
 -->
 

<link href="./css/dropdown.css" media="screen" rel="stylesheet" 	type="text/css" />
<link href="./css/home.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="./css/component.css" />
<!-- ADM-015 -->
<link rel="stylesheet" type="text/css" href="./css/adm-b2b-style.css" />
<!--  End of ADM-015 -->
<!-- ADM-023 START -->
<script src="https://use.fontawesome.com/00965d9466.js"></script>
<!-- ADM-023 END -->
<script src="./js/modernizr.custom.js"></script>
<script type="text/javascript">
    // IE9 fix
     if(!window.console) {
        var console = {
            log : function(){},
            warn : function(){},
            error : function(){},
            time : function(){},
            timeEnd : function(){}
        }
    }
</script>

<!--[if IE 9]>
<link href="./css/ie9.css" rel="stylesheet" />         
<![endif]-->

<meta charset="UTF-8" />
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<title ng-bind="homePageTitle"></title>
</head>
<body ng-controller="configCtrl" admin-message="getAdminMessage()" scroll>
<canvas ng-show="false" id="myCanvas" width="1" height="1"></canvas>
<div ng-if="langResourceLoaded">
	<div ng-show="isShowLoader()" class="pageLoader">
	<div class="LoaderStyle">
		<div class="LoaderImg"></div><br /><div class="LoadingMsg"><strong>{{'CON_LOADING' | translate}}</strong></div>
	</div>
	</div>
	<div class="pageLoaderHomePage" ng-show="showHomePageLoader()">
	<div class="LoaderStyle">
		<div class="LoaderImg"></div><br /><div class="LoadingMsg"><strong>{{'CON_LOADING' | translate}}</strong></div>
	</div>
	</div>
</div>

<div ng-if="!langResourceLoaded">
	<div ng-show="isShowLoader()" class="pageLoader">
	<div class="LoaderStyle">
		<div class="LoaderImg"></div><br /><div class="LoadingMsg"><strong>Loading...</strong></div>
	</div>
	</div>
	<div class="pageLoaderHomePage" ng-show="showHomePageLoader()">
	<div class="LoaderStyle">
		<div class="LoaderImg"></div><br /><div class="LoadingMsg"><strong>Loading...</strong></div>
	</div>
	</div>
</div>
<div class="mainContainer" style="position: relative;" ng-show="langResourceLoaded"> 
<!--  
<div ng-include="'partial/menu_template.html'"></div>

<div ng-include="'partial/homecat_template.html'"></div>
-->
<!--  
	<div ng-show="isShowLoader()" class="pageLoader">
	<div class="inner"></div>
	</div>
-->
  <div ui-view="loginView"></div>
  <div ui-view="dlgView"></div>
 <div class="fixedHeaderWrapper">
 <div class="fixedHeader"> 
 <!-- ADM-023 -->
  <div class="functionMenuView" ui-view="functionMenuView"></div>
 <div class="left"><a href ng-click="goHomeCatalog()" ><img class="logo" ng-src="images/NetStore_Logo.png"/></a></div>
  <!-- ADM-023 END -->
  <div ng-show="freeSearchObj.enableAndOrRadioBool" ng-if="webSettings.showOperatorAndOr" class="andOrRadio" >
  <span style="display: -moz-grid-line;display: -webkit-box;">
  <label>
  {{'SEARCH_USING'|translate}} : &nbsp;</label>
  <label>
    <input type="radio" ng-model="freeSearchObj.andOr" value="AND">
    {{'LOGIC_AND'|translate}} &nbsp;</label>
<label>    <input type="radio" ng-model="freeSearchObj.andOr" value="OR">
    {{'LOGIC_OR'|translate}}</label>
  </span>
   </div> 
  <div class= "main-search">
  <!-- ADM-023 START -->
  <!-- <input type="text" placeholder="{{'TXT_SEARCH_BY_ITEM' | translate}}" ng-show="displayProductSearchBar"  ng-change="enableAndOrRadio(freeSearchObj.text)" ng-model="freeSearchObj.text" on-Enter="searchClick()" /> 
   <input type="button" value="{{'CON_SEARCH' | translate}}" ng-show="displayProductSearchBar"  ng-click="searchClick()"> -->
   <input class="form-control" type="text" placeholder="{{'TXT_SEARCH_BY_ITEM' | translate}}" ng-show="displayProductSearchBar"  ng-change="enableAndOrRadio(freeSearchObj.text);setFreeSearchObj(freeSearchObj.text)" ng-model="freeSearchObj.text" on-Enter="searchClick()" /> 
   <button id="searchButton" type="button" class="btn btn-block btn-primary" ng-show="displayProductSearchBar"  ng-click="searchClick()"><i class="fa fa-search" aria-hidden="true" style="font-size: 20px;"> </i></button> 
  <!-- ADM-023 END -->
  <ul class="cartFavIcon">
  <li><!-- ADM-023 START -->
	   <a href="" class="shoppingCartButton" ng-show="isShoppingCartPageEnabled" ng-click="isShoppingCartSignOnRequired()"> 
	  <!--<a href="" ng-show="isShoppingCartPageEnabled" ng-click="isShoppingCartSignOnRequired()">
	  	<i class="fa fa-shopping-cart" aria-hidden="true">-->
	    <!-- ADM-023 END -->
	  	<span ng-class="{'bubbleAnimation' : showCartAnimation==true}"><b>{{currentOrder_lineCount}}</b></span>
	  </a>

	  <div id ="cartPopUp">
	  <ul id="ulpopup" ng-class ="{ 'display': showPopUp, '' : !showPopUp}">
      <li class="grandTotal"><span>{{'CON_GRAND_TOTAL' | translate}}:</span><span class="orderTotal">{{orderLinesData.nsOrderValueInfo.emOrderTotal}}</span></li>  
      <li> <span class="description"><b>{{'CON_ITEM' | translate}}</b></span> <span class="quantity"><b>{{'CON_UNIT' | translate}}</b></span> <span class="price"><b>{{'COH_AMOUNT' | translate}} {{webSettings.currencyCode}}</b></span> </li>
      <li ng-repeat="orderLine in orderLinesData.orderLines"><span class="description">{{orderLine.ivItem.description}}</span> <span class="quantity" ng-bind="changeFormatToLocale(orderLine.ivOrderLine.orderedQuantity)"></span> <span class="price">{{orderLine.ivOrderLine.lineNetVal}}</span> </li>
    </ul> 
    </div>
  </li>
  <li>
	  <a href="" id="box" class="favButton" ng-show="isShoppingCartPageEnabled" ng-click="isShoppingListSignOnRequired()">
	  	<span ng-class="{'bubbleAnimation' : showShoppingListAnimation==true}">{{shoppingList_lineCount}}</span>
	  </a>
  </li>
  </ul>
  
  </div>  
 <div ui-view="catalogMenuView"></div>
 </div> 
 </div> 

 <div class="cookiesDisclaimer" ng-show="showDisclaimerSection">
<p>{{'TXT_DISCLAIMER_01' | translate}} </p> <a ng-href="./{{getDisclaimerFileName()}}" target="_blank">{{'CON_VIEW_MORE' | translate}}</a>
<div class="buttonWrapper right clr_both">
<button class="yellowButton primary-btn" type="submit" ng-click="updateDisclaimerStatus()">{{'CON_I_UNDERSTAND' | translate}}</button>
</div>
</div>

<!-- ADM-010 -->
<div class="unitSelection" ng-if="webSettings.allowSelectUnitOfMeasure && isLoggedIn()">
	<span class"">Acquista in:</span>
  	<span>
  		<input type="radio" ng-model="freeSearchObj.packPiece" value="CF">Confezioni
  	</span>
	<span>
		<input type="radio" ng-model="freeSearchObj.packPiece" value="PZ">Pezzi &nbsp;
	</span>
</div>
<!-- ADM-010 end -->

<div ui-view="detailSection" class="detailSectionWrapper"></div>
 
<div class="footer"><p ng-bind-html="renderHtml(webSettings.footerText)"></p></div>
</div>
<script src="./js/jquery-1.8.2.js"></script>
<script src="./js/jquery.min.js"></script>
<script src="./js/jquery-ui.min.js"></script>
<script type="text/javascript">
$(window).scroll(function(){
	if ($(window).scrollTop() >= 500) {
		$(".bar").addClass("fixed");
	} else {
		$(".bar").removeClass("fixed");
	}
});
</script>
<script type="text/javascript">
$(window).scroll(function(){
	if ($(window).scrollTop() >= 10) {
		$(".barCatProduct").addClass("fixedCat");
	} else {
		$(".barCatProduct").removeClass("fixedCat");
	}
});
</script>
    

<!-- For export feature -->
<script src="./js/file-saver/FileSaver.js"></script>

<script src="./js/jsPDF/jspdf.min.js"></script>
<!-- 
<script src="./js/jsPDF/adler32cs.js"></script>

<script src="./js/jsPDF/jspdf.plugin.table.js"></script>
<script src="./js/jsPDF/jspdf.plugin.cell.js"></script>
<script src="./js/jsPDF/jspdf.plugin.from_html.js"></script>

 -->
 <script src="./js/pdfmake/pdfmake.min.js"></script>
<script src="./js/pdfmake/vfs_fonts.js"></script>
 
<script src="./js/js-xlsx/xlsx.core.min.js"></script>

<script src="./js/angular/angular.min.js"></script>
<script src="./js/date.js"></script>
<script src="./js/ui-router/angular-ui-router.min.js"></script>
<script src="./js/ui-bootstrap-tpls-0.6.0.js"></script>
<script src="./js/app.js"></script>
<!-- NST-2306 starts here -->
<script src="./js/ns-directive.js"></script>
<script src="./js/ns-util.js"></script>
<script src="./js/ns-export.js"></script>
<script src="./js/cbpHorizontalMenu.js"></script>

<!-- business break code starts here -->
<!-- NOTE: order of business scripts listed below may matter so should not be shuffled.
add any new business script in the last -->
<script src="./js/business/buy.js"></script>
<script src="./js/business/request.js"></script>
<script src="./js/business/multiple-request-line.js"></script>
<script src="./js/business/product-detail-dynamic-info.js"></script>
<script src="./js/business/product-detail-ui.js"></script>
<script src="./js/business/group-image-slider.js"></script>
<script src="./js/business/filter-list.js"></script>
<script src="./js/business/multiple-add.js"></script>
<script src="./js/business/price-calculation.js"></script>
<script src="./js/business/quick-view-product.js"></script>
<script src="./js/business/invoice-mail-data.js"></script>
<script src="./js/business/order-mail-data.js"></script>
<script src="./js/business/request-response-info.js"></script>
<script src="./js/business/state-cache.js"></script>
<script src="./js/business/ui-history-manager.js"></script>
<script src="./js/business/login-history.js"></script>
<script src="./js/business/my-top-items.js"></script>
<script src="./js/business/user-account.js"></script>
<script src="./js/business/credential-info.js"></script>
<script src="./js/business/forgot-password.js"></script>
<script src="./js/business/my-shopping-list-details.js"></script>
<script src="./js/business/menu-slider.js"></script>
<script src="./js/business/change-customer.js"></script>
<script src="./js/business/catalog-item-slider.js"></script>
<script src="./js/business/catalog.js"></script>
<script src="./js/business/change-password.js"></script>
<script src="./js/business/new-account.js"></script>
<script src="./js/business/cart-delivery.js"></script>
<script src="./js/business/my-shopping-list.js"></script>
<script src="./js/business/disclaimer.js"></script>
<script src="./js/business/thank-you-page.js"></script>
<script src="./js/business/print-order.js"></script>
<!-- business break code ends here -->

<!-- NST-2306 ends here -->
<!-- NOTE: nsBusiness.js is no longer in use and is obsolete as
part of refactoring work done for NST-2306 by Prateek Verma as on 07/10/2015
please use related business classes in ./js/business folder
 script src="./js/nsBusiness.js"></script> -->

<!-- control break code starts here -->
<!-- NOTE: order of controllers listed below may matter so should not be shuffled.
add any new controller in the last -->
<script src="./js/controllers/common.js"></script>
<script src="./js/controllers/dialog-ctrl.js"></script>
<script src="./js/controllers/login-ctrl.js"></script>
<script src="./js/controllers/config-control.js"></script>
<script src="./js/controllers/catalog-menu-ctrl.js"></script>
<script src="./js/controllers/cat-menu-ctrl.js"></script>
<script src="./js/controllers/cat-home-ctrl.js"></script>
<script src="./js/controllers/cat-function-menu-ctrl.js"></script>
<script src="./js/controllers/main-catalog-ctrl.js"></script>
<script src="./js/controllers/invoice-detail-ctrl.js"></script>
<script src="./js/controllers/invoice-history-ctrl.js"></script>
<script src="./js/controllers/invoice-linedetail-ctrl.js"></script>
<script src="./js/controllers/quotation-history-ctrl.js"></script>
<script src="./js/controllers/quotation-detail-ctrl.js"></script>
<script src="./js/controllers/quotation-linedetail-ctrl.js"></script>
<script src="./js/controllers/cart-delivery-payment-ctrl.js"></script>
<script src="./js/controllers/shopping-cart-ctrl.js"></script>
<script src="./js/controllers/account-transaction-ctrl.js"></script>
<script src="./js/controllers/order-history-ctrl.js"></script>
<script src="./js/controllers/order-detail-ctrl.js"></script>
<script src="./js/controllers/order-linedetail-ctrl.js"></script>
<script src="./js/controllers/prod-search-ctrl.js"></script>
<script src="./js/controllers/product-detail-ctrl.js"></script>
<script src="./js/controllers/request-history-ctrl.js"></script>
<script src="./js/controllers/request-detail-ctrl.js"></script>
<script src="./js/controllers/request-linedetail-ctrl.js"></script>
<script src="./js/controllers/request-ctrl.js"></script>
<script src="./js/controllers/request-ctrl-review.js"></script>
<script src="./js/controllers/top-item-ctrl.js"></script>
<script src="./js/controllers/edit-account-ctrl.js"></script>
<script src="./js/controllers/shopping-list-ctrl.js"></script>
<script src="./js/controllers/promotion-catalog-ctrl.js"></script>
<script src="./js/controllers/shopping-listdetails-ctrl.js"></script>
<script src="./js/controllers/change-customer-ctrl.js"></script>
<!-- ADM-003 -->
<script src="./js/controllers/transportNote-history-ctrl.js"></script>
<script src="./js/controllers/transportNote-detail-ctrl.js"></script>
<script src="./js/controllers/transportNote-linedetail-ctrl.js"></script>

<!-- NOTE: controller.js is no longer in use and is obsolete as
part of refactoring work done for NST-2306 by Prateek Verma as on 30/09/2015
please use related controllers in ./js/controllers folder
 script src="./js/controllers.js"></script> -->

<!-- control break code ends here -->

<script src="./js/configService.js"></script>
<script src="./js/userAuthenticationService.js"></script>
<script src="./js/AppServices.js"></script>
<script src="./js/jquery-1.9.js"></script>
		



</body>
</html>