<!DOCTYPE html>
<html lang="en" ng-app="netStoreApp" ng-cloak>
  <head>
<!--[if IE 9]>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>     
<![endif]-->

<!--[if gte IE 10]>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>     
<![endif]-->
<script type="text/javascript">
    // IE9 fix
     if(!window.console) {
        var console = {
            log : function(){},
            warn : function(){},
            error : function(){},
            time : function(){},
            timeEnd : function(){}
        }
    }
</script>

<!--[if IE 9]>
<link href="./css/ie9.css" rel="stylesheet" />         
<![endif]-->
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE" />
<title ng-bind="homePageTitle"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./images/favicon.png">
   <link rel="stylesheet" href="./css/jquery-ui.min.css">
  <link rel="stylesheet" href="./css/production.css">
  <script src="./js/jquery.min.js"></script>
  <script src="./js/bootstrap.min.js"></script> 
  <script src="https://use.fontawesome.com/00965d9466.js"></script>
  </head>  
  <body ng-controller="configCtrl" admin-message="getAdminMessage()" scroll>
	<div class="pageLoaderHomePage" ng-show="showHomePageLoader() || isShowLoader()">
	
	<div class="LoaderStyle">
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
		  <defs>
		    <filter id="gooey">
		      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
		      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"></feColorMatrix>
		      <feBlend in="SourceGraphic" in2="goo"></feBlend>
		    </filter>
		  </defs>
		</svg>
		<div class="blob blob-0"></div>
		<div class="blob blob-1"></div>
		<div class="blob blob-2"></div>
		<div class="blob blob-3"></div>
		<div class="blob blob-4"></div>
		<div class="blob blob-5"></div>
		<div class="LoadingMsg"><strong>please wait...</strong></div>
	</div>
	</div>
  <canvas ng-show="false" id="myCanvas" width="1" height="1"></canvas>
  <div ui-view="loginView"></div>
  <div ui-view="dlgView"></div>
  <div  ng-controller="catFunctionMenuCtrl">
  <div class="functionMenuView" ui-view="functionMenuView"></div>
	<header ng-show="isLoggedIn()">
      <!-- start:_header-->
      <div class="header container">
        <div class="row header-logged">
          <div class="col-md-4 col-sm-5">
            <div class="flex-row-cont">
              <button type="button" data-toggle="collapse" data-target="#navbarLogged" aria-expanded="false" class="navbar-toggle collapsed loggedHamburger"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
              <h1 class="logo"><a href="javascript:void(0)" ng-click="goHomeCatalog()"><img src="./images/farmalvarion.png"></a></h1>
            </div>
          </div>
          <div class="col-md-8 col-sm-7">
            <!-- start:_service-menu-->
            <div class="service-menu-cont">
              <div class="cont-search-form">
                <form>
                	<input type="text" class="searchBoxheader" placeholder="{{'TXT_SEARCH_BY_ITEM' | translate}}" ng-show="displayProductSearchBar"  ng-change="enableAndOrRadio(freeSearchObj.text);setFreeSearchObj(freeSearchObj.text)" ng-model="freeSearchObj.text" on-Enter="searchClick()" /> 
   					<input id="searchButton" type="submit" class="btn" ng-show="displayProductSearchBar"  ng-click="searchClick()"/> 
                </form>
              </div>
              <div class="cont-ecommerce-icons">
              	<a href="javascript:void(0);" class="cart-icon" ng-show="isShoppingCartPageEnabled" ng-click="isShoppingCartSignOnRequired()">
              		<span class="n-el" ng-class="{'bubbleAnimation' : showCartAnimation==true}">{{currentOrder_lineCount}}</span>
              		<i class="fa fa-shopping-cart"></i>
              	</a>
              	<span class="relavive-dib">
	              	<a href="javascript:void(0);" class="wishlist-icon" ng-show="isShoppingCartPageEnabled" ng-click="isShoppingListSignOnRequired()">
	              		<span class="n-el" ng-class="{'bubbleAnimation' : showShoppingListAnimation==true}">{{shoppingList_lineCount}}</span>
	              		<i class="fa fa-star"></i>
	              	</a>
              	</span>
              	
              	<div class="popover-cart" id="cartPopUp" ng-class="{ 'display': showPopUp }">
                  <h4 class="heading-table">Ultimi prodotti aggiunti</h4>
                  <div class="padd" id="ulpopup">
                    <table>
                      <thead>
                        <tr>
                          <th>{{'CON_ITEM' | translate}}</th>
                          <th>{{'CON_UNIT' | translate}}</th>
                          <th>{{'COH_AMOUNT' | translate}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="orderLine in orderLinesData.orderLines">
                          <td>{{orderLine.ivItem.description}}</td>
                          <td ng-bind="changeFormatToLocale(orderLine.ivOrderLine.orderedQuantity)"></td>
                          <td>{{orderLine.ivOrderLine.lineNetVal}}{{webSettings.currencyCode}}</td>
                        </tr>
                        <tr class="tablefooter">
                          <td>{{'CON_GRAND_TOTAL' | translate}}</td>
                          <td colspan="2">{{orderLinesData.nsOrderValueInfo.emOrderTotal}}{{webSettings.currencyCode}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                
              	<!-- div id ="cartPopUp">
					 <ul id="ulpopup" ng-class ="{ 'display': showPopUp, '' : !showPopUp}">
			      		<li class="grandTotal"><span>{{'CON_GRAND_TOTAL' | translate}}:</span><span class="orderTotal">{{orderLinesData.nsOrderValueInfo.emOrderTotal}}</span></li>  
			      		<li> <span class="description"><b>{{'CON_ITEM' | translate}}</b></span> <span class="quantity"><b>{{'CON_UNIT' | translate}}</b></span> <span class="price"><b>{{'COH_AMOUNT' | translate}} {{webSettings.currencyCode}}</b></span> </li>
			      		<li ng-repeat="orderLine in orderLinesData.orderLines"><span class="description">{{orderLine.ivItem.description}}</span> <span class="quantity" ng-bind="changeFormatToLocale(orderLine.ivOrderLine.orderedQuantity)"></span> <span class="price">{{orderLine.ivOrderLine.lineNetVal}}</span> </li>
			    	</ul> 
			    </div -->
              </div>
            </div>
            <!-- end:_service-menu-->
          </div>
          <div class="col-sm-12">
            <div ui-view="catalogMenuView"></div>
          </div>
            <div class="cookieBar" ng-show="showDisclaimerSection">
				<div class="container cont-cookie-policy">
					<p>{{'TXT_DISCLAIMER_01' | translate}} </p> 
					<a ng-href="./{{getDisclaimerFileName()}}" target="_blank">{{'CON_VIEW_MORE' | translate}}</a>
					<div class="buttonWrapper right clr_both">
						<button class="yellowButton primary-btn" type="submit" ng-click="updateDisclaimerStatus()">{{'CON_I_UNDERSTAND' | translate}}</button>
					</div>
				</div>
			</div>
        </div>
      </div>
      <!-- end:_header-->
    </header>
	</div>	
	<header ng-show="!isLoggedIn()">
      <div class="header container">
        <button type="button" data-toggle="collapse" data-target="#navbarNotLogged" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <div class="row header-notlogged">
          <div class="col-sm-3">
            <h1 class="logo"><a href="javascript:void(0)"><img src="./images/farmalvarion.png"></a></h1>
          </div>
          <div class="col-sm-9">
            <nav id="navbarNotLogged" class="notlogged-menu collapse navbar-collapse">
              <ul>
              
                <li><a ng-href="./termsAndConditions_IT.html" target="_blank">Condizioni di vendita</a></li>
                <li><a ng-href="http://www.admentaitalia.it/it/informativa-trattamento-clienti/" target="_blank">Informativa Clienti Fornitori</a></li>
                <li><a ng-href="./contatti.html" target="_blank">Contatti</a></li>
                
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    
    <div class="main container">
    	<div class="page-content clearfix" ng-class="{'notlogged-page':!isLoggedIn()}">
      		<div ui-view="detailSection" class="detailSectionWrapper"></div>
    	</div>
    </div>
    <footer>
    
      <div class="footer" ng-show="isLoggedIn()">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h5>FarmAlvarion</h5>
              <nav class="footer-nav">
                <ul>
                  <li><a ng-href="./chi-siamo2.html" target="_blank">Chi siamo</a></li>
                  <li><a ng-href="./contatti.html" target="_blank">Contatti</a></li>
                </ul>
              </nav>
            </div>
            <div class="col-sm-4">
              <h5>Per i tuoi Acquisti</h5>
              <nav class="footer-nav">
                <ul>
                  <li><a ng-href="./termsAndConditions_IT.html" target="_blank">Condizioni Generali di Vendita</a></li>
                  <li><a ng-href="./assistenza.html" target="_blank">Assistenza</a></li>
                </ul>
              </nav>
            </div>
            <div class="col-sm-4">
              <h5>Sicurezza e privacy</h5>
              <nav class="footer-nav">
                <ul>
                  <li><a ng-href="./informativa-privacy.html" target="_blank">Informativa Privacy</a></li>
                  <li><a ng-href="./informativa-cookie.html" target="_blank">Informativa cookie</a></li>
                  <li> <a ng-href="http://www.admentaitalia.it/it/informativa-trattamento-clienti/" target="_blank">Informativa trattamento clienti e fornitori</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!-- end:_footer-->
      <!-- start:_down-fulltext-block-->
      <div class="down-fulltext-block">
        <div class="container">
        	<div class="simple-text">
          		<p ng-bind-html="renderHtml(webSettings.footerText)"></p>
			</div>
        </div>
      </div>
      <!-- end:_down-fulltext-block-->
    </footer>

<script src="./js/jquery-ui.min.js"></script>

    <!-- VECCHI SCRIPT -->
 <!-- For export feature -->
<script src="./js/file-saver/FileSaver.js"></script>

<script src="./js/jsPDF/jspdf.min.js"></script>
<!-- 
<script src="./js/jsPDF/adler32cs.js"></script>

<script src="./js/jsPDF/jspdf.plugin.table.js"></script>
<script src="./js/jsPDF/jspdf.plugin.cell.js"></script>
<script src="./js/jsPDF/jspdf.plugin.from_html.js"></script>

 -->
 <script src="./js/pdfmake/pdfmake.min.js"></script>
<script src="./js/pdfmake/vfs_fonts.js"></script>
 
<script src="./js/js-xlsx/xlsx.core.min.js"></script>

<script src="./js/angular/angular.min.js"></script>
<script src="./js/date.js"></script>
<script src="./js/ui-router/angular-ui-router.min.js"></script>
<script src="./js/ui-bootstrap-tpls-0.6.0.js"></script>
<script src="./js/app.js"></script>
<!-- NST-2306 starts here -->
<script src="./js/ns-directive.js"></script>
<script src="./js/ns-util.js"></script>
<script src="./js/ns-export.js"></script>
<script src="./js/cbpHorizontalMenu.js"></script>

<!-- business break code starts here -->
<!-- NOTE: order of business scripts listed below may matter so should not be shuffled.
add any new business script in the last -->
<script src="./js/business/buy.js"></script>
<script src="./js/business/request.js"></script>
<script src="./js/business/multiple-request-line.js"></script>
<script src="./js/business/product-detail-dynamic-info.js"></script>
<script src="./js/business/product-detail-ui.js"></script>
<script src="./js/business/group-image-slider.js"></script>
<script src="./js/business/filter-list.js"></script>
<script src="./js/business/multiple-add.js"></script>
<script src="./js/business/price-calculation.js"></script>
<script src="./js/business/quick-view-product.js"></script>
<script src="./js/business/invoice-mail-data.js"></script>
<script src="./js/business/order-mail-data.js"></script>
<script src="./js/business/request-response-info.js"></script>
<script src="./js/business/state-cache.js"></script>
<script src="./js/business/ui-history-manager.js"></script>
<script src="./js/business/login-history.js"></script>
<script src="./js/business/my-top-items.js"></script>
<script src="./js/business/user-account.js"></script>
<script src="./js/business/credential-info.js"></script>
<script src="./js/business/forgot-password.js"></script>
<script src="./js/business/my-shopping-list-details.js"></script>
<script src="./js/business/menu-slider.js"></script>
<script src="./js/business/change-customer.js"></script>
<script src="./js/business/catalog-item-slider.js"></script>
<script src="./js/business/catalog.js"></script>
<script src="./js/business/change-password.js"></script>
<script src="./js/business/new-account.js"></script>
<script src="./js/business/cart-delivery.js"></script>
<script src="./js/business/my-shopping-list.js"></script>
<script src="./js/business/disclaimer.js"></script>
<script src="./js/business/thank-you-page.js"></script>
<script src="./js/business/print-order.js"></script>
<!-- business break code ends here -->

<!-- NST-2306 ends here -->
<!-- NOTE: nsBusiness.js is no longer in use and is obsolete as
part of refactoring work done for NST-2306 by Prateek Verma as on 07/10/2015
please use related business classes in ./js/business folder
 script src="./js/nsBusiness.js"></script> -->

<!-- control break code starts here -->
<!-- NOTE: order of controllers listed below may matter so should not be shuffled.
add any new controller in the last -->
<script src="./js/controllers/common.js"></script>
<script src="./js/controllers/dialog-ctrl.js"></script>
<script src="./js/controllers/login-ctrl.js"></script>
<script src="./js/controllers/config-control.js"></script>
<script src="./js/controllers/catalog-menu-ctrl.js"></script>
<script src="./js/controllers/cat-menu-ctrl.js"></script>
<script src="./js/controllers/cat-home-ctrl.js"></script>
<script src="./js/controllers/cat-function-menu-ctrl.js"></script>
<script src="./js/controllers/main-catalog-ctrl.js"></script>
<script src="./js/controllers/invoice-detail-ctrl.js"></script>
<script src="./js/controllers/invoice-history-ctrl.js"></script>
<script src="./js/controllers/invoice-linedetail-ctrl.js"></script>
<script src="./js/controllers/quotation-history-ctrl.js"></script>
<script src="./js/controllers/quotation-detail-ctrl.js"></script>
<script src="./js/controllers/quotation-linedetail-ctrl.js"></script>
<script src="./js/controllers/cart-delivery-payment-ctrl.js"></script>
<script src="./js/controllers/shopping-cart-ctrl.js"></script>
<script src="./js/controllers/account-transaction-ctrl.js"></script>
<script src="./js/controllers/order-history-ctrl.js"></script>
<script src="./js/controllers/order-detail-ctrl.js"></script>
<script src="./js/controllers/order-linedetail-ctrl.js"></script>
<script src="./js/controllers/prod-search-ctrl.js"></script>
<script src="./js/controllers/product-detail-ctrl.js"></script>
<script src="./js/controllers/request-history-ctrl.js"></script>
<script src="./js/controllers/request-detail-ctrl.js"></script>
<script src="./js/controllers/request-linedetail-ctrl.js"></script>
<script src="./js/controllers/request-ctrl.js"></script>
<script src="./js/controllers/request-ctrl-review.js"></script>
<script src="./js/controllers/top-item-ctrl.js"></script>
<script src="./js/controllers/edit-account-ctrl.js"></script>
<script src="./js/controllers/shopping-list-ctrl.js"></script>
<script src="./js/controllers/promotion-catalog-ctrl.js"></script>
<script src="./js/controllers/shopping-listdetails-ctrl.js"></script>
<script src="./js/controllers/change-customer-ctrl.js"></script>
<!-- ADM-003 -->
<script src="./js/controllers/transportNote-history-ctrl.js"></script>
<script src="./js/controllers/transportNote-detail-ctrl.js"></script>
<script src="./js/controllers/transportNote-linedetail-ctrl.js"></script>

<!-- NOTE: controller.js is no longer in use and is obsolete as
part of refactoring work done for NST-2306 by Prateek Verma as on 30/09/2015
please use related controllers in ./js/controllers folder
 script src="./js/controllers.js"></script> -->

<!-- control break code ends here -->

<script src="./js/configService.js"></script>
<script src="./js/userAuthenticationService.js"></script>
<script src="./js/AppServices.js"></script>
<script src="./js/slick.min.js"></script>
<script src="./js/angular-slick.min.js"></script>

    <!--  VECCHI SCRIPT -->
    <!-- script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap.min.js"></script-->
  </body>
</html>