.cbp-hrmenu {
	width: 100%;
	margin-top: 0;
/* 	border-bottom: 1px solid; */
	display: inline-block;
	/* ADM-023 START */
	/* background-color: #353434; */
	background-color: #004C55;	
	/* ADM-023 END */
}

/* general ul style */
.cbp-hrmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* first level ul style */

.cbp-hrmenu .cbp-hrsub-inner {
	width: 90%;
	max-width: 70em;
	margin: 0 auto;
	padding: 0 1.875em;
}




.cbp-hrmenu > ul > li {
	display: inline-block;
	/* ADM-023 START */
	/* max-width:15%; */
	max-width:13%;
	/* ADM-023 END */
}

.cbp-hrmenu > ul > li > a {
	
	padding: 0px 10px;
	color: #fff !important;
	display: block;
    border: none;
    /* ADM-023 START */
    /* border-right: 1px solid #000;
    line-height: 25px; */
	line-height: 17px;
	text-overflow: ellipsis;
    overflow: hidden;
    /* white-space: pre; */
    white-space: pre-line;
	margin-top: 5px;
	/* ADM-023 END */
}

.cbp-hrmenu > ul > li > a:hover {
	color: #999;
}

.cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
	color: #d8e6ea;
	
}

.cbp-hrmenu > ul > li.cbp-hropen a.openItem,
.cbp-hrmenu > ul > li.cbp-hropen a.openItem:hover{
	color:#fff;
	background:#fbc800;
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
	background: grey;
	/*width: 68%;*/
	
}



.cbp-hropen .cbp-hrsub {
	display: block;
	padding-bottom: 3em;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 31%;
	float: left;
	padding: 0 10px 0;
	text-align: left;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
	line-height: 2em;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    display: block;
}

.cbp-hrsub h4 {
	color: #fff !important;
	padding: 7px 0 1px;
	margin: 0;
	font-size: 113%;
	font-weight: bold;
	text-align: left;
}

/* Examples for media queries */

@media screen and (max-width: 52.75em) { 

	.cbp-hrmenu {
		font-size: 80%;
	}

}

@media screen and (max-width: 43em) { 

	.cbp-hrmenu {
		font-size: 120%;
		border: none;
	}

	.cbp-hrmenu > ul,
	.cbp-hrmenu .cbp-hrsub-inner {
		width: 100%;
		padding: 0;
	}

	.cbp-hrmenu .cbp-hrsub-inner {
		padding: 0 2em;
		font-size: 75%;
	}

	.cbp-hrmenu > ul > li {
		display: block;
		border-bottom: 4px solid #47a3da;
	}

	.cbp-hrmenu > ul > li > a { 
		display: block;
		padding: 1em 3em;
	}

	.cbp-hrmenu .cbp-hrsub { 
		position: relative;
	}

	.cbp-hrsub h4 {
		padding-top: 0.6em;
	}

}

@media screen and (max-width: 36em) { 
	.cbp-hrmenu .cbp-hrsub-inner > div {
		width: 100%;
		float: none;
		padding: 0 2em;
	}
}

ul.moreArrowNew{
	    text-align: center;
}

h4.fontChanges{
	    text-align: right;
	    font-size: smaller;
	    cursor: pointer;
}

.leftRequired {
    left: 329px;
    width: 61%;
}

.leftNotRequired{
	width:25%;
}

.cbp-hrmenu .cbp-hrsub-inner > div.fullWidthDiv{
	width:100%
}