@charset "UTF-8";

/**
 * Horizontal CSS Drop-Down Menu Module
 *
 * @file		dropdown.css
 * @package		Dropdown
 * @browsers	Windows: IE6+, Opera7+, Firefox3+
 *				Mac OS: Safari2+, Firefox3+
 */
ul.dropdown,ul.dropdown li,ul.dropdown ul,ul.functionMenu,ul.functionMenu li,ul.functionMenu ul
	{
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.dropdown .moreItemsArrow, ul.dropdown .moreItemsLeftArrow{
	background: url("../images/Sprite.png") no-repeat scroll -9px -322px rgba(0, 0, 0, 0);
	height: 20px;
	width:20px;
	float: right;
	}
ul.dropdown .moreItemsLeftArrow{
	background-position: -5px -304px;
	float: left;
	}
	
ul.moreArrowNew .moreItemsArrow, ul.moreArrowNew .moreItemsLeftArrow{
	background: url("../images/Sprite.png") no-repeat scroll -9px -322px rgba(0, 0, 0, 0);
	height: 26px;
	width:20px;
	float: right;
	}
ul.moreArrowNew .moreItemsLeftArrow{
	background-position: -5px -304px;
	float: left;
	 border-right: 1px solid #000;
	}
	
	
ul.dropdown,ul.functionMenu {
	z-index: 597;
	float: left;
}
ul.functionMenu {
	float: right;
	background-color: transparent !important;
	font-size: .75em;
	margin: 0px 0 10px 0;
}
#nav{font-size:.85em !important;}
.mainMenuList{text-align: center;}
.mainMenuList a.menuItemList{    
	display: block;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
   .mainMenuList a.menuItemText{    
    max-width: 200px;
    text-align:left;
    }
ul.dropdown li,ul.functionMenu li {
	float: left;
	min-height: 1px;
	line-height: 1.3em;
	vertical-align: middle;
}

ul.dropdown li.hover,ul.dropdown li:hover
	{
	position: relative;
	z-index: 599;
	cursor: default;
	background: #353434;
}
ul.functionMenu li.hover,ul.functionMenu li:hover
	{
	position: relative;
	z-index: 599;
	cursor: default;
	background: #fbc800;

}


ul.dropdown-vertical {
 width: 200px;
}

ul.dropdown-vertical ul {
 top: 1px;
 left: 99%;
}

ul.dropdown-vertical li {
 float: none;
}
ul.functionMenu a {
	/* ADM-023 */
	/* color: #333; */
	color: #fff;
}

ul.functionMenu a:hover {
	color: #fff;
	text-decoration:none;
}


ul.dropdown ul,ul.functionMenu ul {
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 598;
	width: 100%;
}

ul.functionMenu ul {
	z-index: 999;
}

ul.dropdown ul li,ul.functionMenu ul li {
	float: none;
}

ul.dropdown ul ul,ul.functionMenu ul ul {
	top: 0px;
	left: 100%;
}

ul.dropdown li:hover>ul,ul.functionMenu li:hover>ul {
	visibility: visible;
}

.functMenu {
	float: right;
	margin: 0 0 6px 0;
}
.functMenu .noBorder{border: none;}
ul.dropdown,ul.functionMenu {
	font-weight: bold;
	width: 100%;
	background-color: #353434;
}

ul.dropdown li {
	padding: 6px 9px 5px;
	border-style: solid;
	border: none;
	border-right: 1px solid #000;
	border-left: 1px solid #828282;
	color: #000;
}

ul.functionMenu li {
	padding: 0px 10px;
	border-style: solid;
	border: none;
	border-right: 1px solid #444;
	color: #000;
}

/*
ul.dropdown li:last-child {
	border-right: none;
}
*/
ul.dropdown li ul li,ul.functionMenu li ul li {
	background-color: #fff;
	color: #000 !important;
}

ul.dropdown li ul li a,ul.functionMenu li ul li a {
	color: #000 !important;
}

ul.functionMenu li ul li a:hover {
	color: #000 !important;
	text-decoration: none;
}

ul.dropdown li ul {
	-webkit-box-shadow: 10px 0px 10px -10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 0px 10px -10px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 0px 10px -10px rgba(0, 0, 0, 0.75);
}

ul.functionMenu li ul {box-shadow:10px 0 10px -10px rgba(0, 0, 0, 0.75);}
ul.functionMenu li ul li:last-child{border-left: none;}
ul.dropdown li ul li {
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	text-align: left;
}

ul.functionMenu li ul li {
	border: none;
	padding: 5px 0 5px 10px;
	text-align: left;
}

ul.dropdown li ul li:last-child {
	border-bottom: 1px solid #ccc;
}

ul.functionMenu li:last-child {
	border-left: 1px solid #444;
	border-right:none;
	height: 15px;
}

ul.dropdown li.hover,ul.dropdown li:hover,ul.dropdown li.on {
	background-color: #fbc800;
	color: #000;
}

ul.dropdown li a {
	color: #fff !important;
	text-decoration: none;
}

ul.dropdown li a:visited {
	color: #000;
	text-decoration: none;
}

ul.dropdown li a:hover {
	color: #000;
}

ul.dropdown li a:active {
	color: #ffa500;
}

ul.dropdown ul,ul.functionMenu ul {
	width: auto;
	min-width: 115px;
	margin-top: 0;
}
ul.dropdown ul li ul li{background-color: #f3f3f3;}
ul.dropdown ul li {
	font-weight: normal;
}

/* -- Supporting class `dir` -- */
ul.dropdown *.dir{
	/*padding-right: 20px;
	background-image: url(../images/default/nav-arrow-down.png);*/
	background-position: 96% 50%;
	background-repeat: no-repeat;
}
ul.functionMenu *.dir {
	padding-right: 25px;
	background-image: url(../images/HedaerDownArrow.png);
	background-position: 92% 50%;
	background-repeat: no-repeat;
}

ul.functionMenu *.dir:hover {
	padding-right: 25px;
	background-image: url(../images/HedaerDownArrow.png);
	background-position: 92% 50%;
	background-repeat: no-repeat;
}
/* -- Components override -- */
ul.dropdown-horizontal ul *.dir,ul.functionMenu-horizontal ul *.dir {
	padding-right: 15px;
	background-image: url(../images/MenuYellowArrow.png);
	background-position: 98% 50%;
	background-repeat: no-repeat;
}

ul.dropdown-upward *.dir {
	background-image: url(../images/default/nav-arrow-top.png);
}

ul.dropdown-vertical *.dir,ul.dropdown-upward ul *.dir {
	background-image: url(../images/subMenuIcon.png);
}

ul.dropdown-vertical-rtl *.dir,ul.dropdown-horizontal>li.dropdown-vertical-rtl ul *.dir
	{
	padding-right: 10px;
	padding-left: 15px;
	background-image: url(../images/default/nav-right-arrow.png);
	background-position: 2px 50%;
}
ul.dropdown-vertical li ul{
    left: 100%;
    top: 0;
    background-color: #353434 !important;
}

ul.dropdown-vertical li ul li{
    background-color: #353434 !important;
    color:#fff !important;
    line-height: 1.3;
}
ul.dropdown-vertical li ul li a{
    color: #fff !important;
    text-decoration: none;
    font-size:1em;
}
ul.dropdown-vertical li ul li:hover{
    color: #000 !important;
    background-color: #fbc800 !important;
}