	

/*-------------------------
	Simple reset
--------------------------*/
@CHARSET "ISO-8859-1";



* {
	margin: 0;
	padding: 0;
 }

/*-------------------------
	General Styles
--------------------------*/
html {
	min-height: 101%;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
	width: 100%;
	font-family: helvetica,sans-serif;
 }

body {
	margin: 0;
	min-height: 100%;
	width: 100%;
	background:#F7F5EE;
 }
.logoImage{height: 75px;width: 150px;}
a {text-decoration: none; cursor: pointer !important;}

	a img {border: none; }
	a:focus, a:active{color:#005580; }

h1 {
	font-size: 3.5em;
	font-weight: 100;
 }
.grossAmountValue{
	font-weight: bolder;
    color: green;
    text-decoration: none;
    cursor: default !important;
}
.grossAmountValue:hover{
	text-decoration:none;
}
p {font-size: 1.5em;}
button:focus {outline:0;}
input,textarea {
	font-size: 1em;
	font-weight: 100;
 }
select{border-radius:0; width:auto;}
/*select{border-radius:0; width:inherit !important;}*/
textarea {border: 1px solid #ccc; border-radius:0; }
.clr_Left{clear:left;}
input[type="checkbox"] {margin: 0 10px 0 0;}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
-moz-appearance:none;
margin: 0; 
}
input[type=number] {
-moz-appearance: textfield;
}
input[type="text"], input[type="password"]{border-radius:0;}

input:focus,textarea:focus {
	border: none;
	outline: 1px solid #e2e2e2;
 }
 a.clearSelection:focus{
	  text-decoration: none;
}
.clearSelection{
	float:left;
}
.txt_right{text-align: right !important; }
.txt_center{text-align: center !important; }
.noMoreData, .txt_left{text-align:left !important;}
.left {float: left;}
.txtCenter{text-align: center !important;}
.right {float: right;}

.clr_left {clear: left;}
.blankMargin{margin-top:45px;}
.clr_both{clear:both;}
.clr_right {clear: right;}
.topborderNone{border-top: none !important;}
.bottomborderNone{border-bottom: none !important;}
.btn {
	background-color: #fff;
	border-radius: 24px;
	color: #595959;
	display: inline-block;
	font-size: 1.4em;
	font-weight: 400;
	/* ADM-023 START */
	/*margin: 30px 0;*/ 
	margin: 0px 0;
	/* ADM-023 END */
	padding: 10px 30px;
	text-decoration: none;
}

	.btn:hover {opacity: 0.8;}

.sep {
	border-top: 1px solid #ccc;
	width: 100%;
	float: left;
	margin: 5px 0;
 }

.sep_tbl {
	border-top: 4px solid #aaa;
	width: 100%;
	float: left;
 }
 .sep_tbl_ext {
	border-top: 4px solid #aaa;
	width: 128%;
	float: left;
 }
 
 .mandatoryField{color:red; float:left; margin:0 0 0 5px;}
.nowrap{white-space: nowrap;}
.shoppingCartTableWrapper .sep_tbl, .interruptedCartTableWrapper .sep_tbl {margin: 10px 0 8px 0;}
.sepCollapse{margin: 10px 0 8px 0; border-top: 1px solid #ccc;}
.payment-information .sep {
	margin: 15px 0;
	clear: both;
 }
 .shoppingCartPromotion{width:98% !important; padding: 0 !important;}
 .shoppingCartPromotion .promotionSection .bar, .shoppingCartPromotion .promotionSection .barProductSearch{}
.shoppingCartPromotion .promotionSection table{white-space: normal !important;}
.shoppingCartPromotion .promotionSection table td, .shoppingCartPromotion .promotionSection table th{border-bottom:1px solid #ccc; padding:0.5rem 0.3rem !important;}
.payment-information  table{width:100%; color:#333;}
/*----------------------------------
	Home and Main Catalog Styles
-----------------------------------*/
.mainContainer {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 1000px;
	/* padding: 0 50px; */	
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #fff;
 }
/*ADM-023 start*/
/*.fixedHeaderWrapper{width:100%; margin-left:-5px;float:left; position: relative;height: 116px;}
.fixedHeader{position: fixed; background: #fff; z-index: 1000;background-color:#fbc800; max-width: 1000px; width:100%;margin-left:-340px;padding-left:345px;padding-right:345px;}*/
.fixedHeaderWrapper{width:100%; margin-left:-5px;float:left; position: relative;height: 160px;}
.fixedHeader{position: fixed; background: #fff; z-index: 1000; max-width: 1000px; width:100%;margin-left:-340px;padding-left:345px;padding-right:345px;}
/*ADM-023 end*/
.detailSectionWrapper{margin: 0 auto; float: left; width:100%;}
/*	.mainContainer:before {
		content: '';
		display: inline-block;
		height: 100%;
		margin-right: -0.25em;
		vertical-align: middle;
	 }
*/
.uiBanner {
	width: 100%;
	height: 180px;
	background-color: #ccc;
	float: left;
 }

.bar {
	margin: 0px 0 25px 0;
	padding:20px 0 0 0;
	float: left;
	width: 1000px;
	text-align:  center;
	line-height: 1;
	/*position: fixed;*/
	z-index: 99;
	background-color:#fff; 
 }
 
 .barProductSearch {
	margin: 0px 0 25px 0;
	padding:20px 0 0 0;
	float: left;
	width: 1000px;
	text-align:  center;
	line-height: 1;
	position: fixed;
	z-index: 99;
	background-color:#fff; 
 }
 
 .barCatProduct {
	margin: 0px 0 25px 0;
	padding:5px 0 0 0;
	float: left;
	width: 1000px;
	text-align:  center;
	line-height: 1;
	/*position: fixed;*/
	z-index: 999;
	background-color:#fff; 
 }
 
.countMsg{padding: 10px 0 10px 15px; width:50%}
	.bar a, .barProductSearch a {
		text-decoration: none !important;
		margin: -2px 0 0;		
		cursor: pointer;
		color: #fff;
		padding: 5px;
		color: #fff;
		background-color: #333;
		font-size: 12px;
		text-align: center;
	 }
	 .bar a.searchArrow, .barProductSearch a.searchArrow{
	 background-color: #FFF;
	 }

		.bar a.grid, .barProductSearch a.grid {
			background: #333 url("../images/TableView.png") no-repeat 4px 6px;
			padding: 5px 5px 5px 20px;
			float: right;
		 }

		.bar a.list, .barProductSearch a.list {
			background: #333 url("../images/GridIcon.png") no-repeat left 5px center;
			padding: 5px 5px 5px 20px;
			float: right;
		 }
.compareWrapper{float:right; margin: 2px 2px 0 0;}
a.compare{			
			background: #fbc800;
			border: 1px solid #ca8904;
			color: #000;
			padding: 2px 8px 2px;
			font-size: .95em;
			
		 }
a.compare_disabled{display: none;}
.compareShowDisabled{
	background: #fbc800;
			border: 1px solid #ca8904;
	cursor:default !important;
	opacity: 0.4 !important;
	pointer-events: none !important;;
}
	.bar p, .barProductSearch p {
		text-align: left;
		float: left;
		font-size: 1.15em;
		color: #333;
		font-weight: bold;
		padding: 0;
	 }

.userDetails {
	float: left;
	position: absolute;
	top: 26px;
	left: 360px;
	font-size: 12px;
	font-weight: bold;
 }

.homeCatView {}

	.homeCatView select, #filter-results select, .productDetailWrapper  .pd_infoWrapper select,
	#productSearchResultView .proSearch .gridlayout .product-content-wrapper select,
	#productSearchResultView .listview .prodSearch_lV td select
	{
		border-radius: 0;
		height: 22px;		
		padding: 0;
		vertical-align: middle;
		
	 }
	.homeCatView .imageHolder {padding: 0 0 10px 0;}
.pd_infoWrapper .availability label{width:120px;}
ul.grid li span .select-style,  .productDetailWrapper  .pd_infoWrapper .select-style {width: 72px;}
.tabControl table.overviewTabs td{padding: 5px 30px 5px 0;}
.listview {
	float: left;
	width: 100%;
 }

	.listview table, .shopping-cart-wrapper table {
		border-collapse: collapse;
		font-family: sans-serif;
		float: left;
		display: inline-table;
		font-size: 12px; /*border:solid 1px #ccc;*/
		width: 100%;
		border-spacing: 0;
	 }

.listview table th {
	padding: 5px 10px 5px 10px;
	white-space: nowrap;
 }

.listview table td {border-bottom: 1px solid #ccc;}

/*.listview table td:first-child{border: none;}*/
.listview table td, .listview table th {
	padding: 0.5rem 0.2rem 0.5rem 0.2rem;
	text-align: left;
	/*max-width: 150px;*/
 }
.listview table td.alignCenter{	
	text-align: center;
}
.listview .sort-true {background: no-repeat right center #ccc url(../images/index.gif);}

.listview .sort-false {background: no-repeat right center #ccc url(../images/down.gif);}

/*.listview tbody tr:nth-child(odd) {
  background: #eee;
}*/
.listview .extendedInfo {
	padding: 0 0 15px 5px;
	float: left;
 }

	.listview .extendedInfo label, .listview .extendedInfo select, .listview .extendedInfo input, #request_submit_tbl label {
		float: left;
		margin: 0 8px 0 0;
		
	 }
	#request_submit_tbl .select-style{width:220px; margin-left:0; margin-bottom:10px;}
.listview .extendedInfo label{line-height: 14px;}
table.mainCatTable td, table.mainCatTable th{width:auto;}
.unitsWrapper {margin: 0 0 10px 0;}
.unitsWrapper label{width:120px; float: left;}
.prdDetailWrapper label{margin: 0 0 10px 0;width:120px; float: left;}
.unitsWrapper .matrixDesc{margin: 0 0 10px 0;}
.extendedInfoTableWrapper{width: 100%; float: left; overflow-x:auto; margin: 5px 0 0 0;}
#request_submit_tbl input.doctype{width:50px; margin: 0 10px 0 0; float:left;}

 .product-content-wrapper .gridViewImageWrapper{height: 100px; float: left; width: 78%;position:relative;}
 .Comparetable .gridViewImageWrapper{height: 100px; float: left; width: 78%;position:relative;}
 
.product-content-wrapper .gridViewImageWrapper img{width: auto; height: 100%;}
.listViewImageWrapper{height: auto; float: left; width: 100%; min-width:100px;position:relative;}
.listViewImageWrapper img{width: 100%; height: auto;}
/*--------------- Language Dropdown ------------------*/

.language select {
	background: #FFF url('../images/HedaerDownArrow.png') no-repeat right 10px center;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	width: 150px;
	height: 25px;
	border: 1px solid #e2e2e2;
	font-size: 1.10em;
	font-weight: bold;
	position: relative;
	top: -7px;
	border-radius: 0;
 }

	.language select option {padding: 0 0 0 10px;}


.pageLoader, .pageLoaderHomePage {
	width: 100%;
	height: 150%;
	position: fixed;
	background-color: #e2e2e2;
	opacity: 0.5;
	z-index: 9999;
 }
 .pageLoaderHomePage{opacity: 1; top:-30px;}
.accountTransactionDetailPage .pageLoader, .secAddItems .pageLoader{width:90%; max-height:500px; z-index:555;background: none;}
.accountTransactionDetailPage .pageLoader .inner, .secAddItems .pageLoader .inner, .pageLoaderHomePage .inner{
	background:  url("../images/NetStore_Loader.gif") no-repeat 50% 15%;
}

.inner {
	background: #e2e2e2 url("../images/NetStore_Loader.gif") no-repeat 50% 15%;
	width: 100%;
	height: 100%;
 }

.loadInfoWrapper {
	padding: 10px 0;
	width: 100%;
	font-size: .90em;
	background: #e2e2e2 url("../images/NetStore_Loader.gif") no-repeat 38% 4px;
	float: left;
	text-align: center;
	border: 2px solid #ccc;
	border-radius: 3px;
	margin-top: 15px;
 }
.loadMoreButton{
	text-align: center;
    background: #ccc;
    padding: 10px;
    border-radius: 3px;
    background: #fbc800;
    margin: 10px 40%;
    border: 1px solid #ca8904;
    color: #000;
    float: left;
    }
   .loadMoreButton:hover{text-decoration: none;}
/*------------------- Main Search -------------------*/

.main-search {
	float: left;
	/* ADM-023 START*/
	/* margin: 0px 0 10px 0;
	width:82%; */
	margin: 10px 0 10px 0;
	width:70%;
	/* ADM-023 END*/
 }

	.main-search input[type="text"] {
		/* ADM-023 START */
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
		width:68%;
		margin: 5px 0px 0px 0px;
		/* width:69%;
		border-radius: 0;
		height: 22px;		
		margin: 0;
		border-radius: 3px 0 0 3px;
		border: solid 1px #acacac;
		color: #919190;
		float: left;
		margin-left:4%;
		*/
	 }

	.main-search input[type="button"] {
		background-color: #353434;
		border: 1px solid #ca8904;
		position: relative;
		/*left: -5px;*/
		left: -15px;
		padding: 5px 15px;
		border-radius: 0 3px 3px 0;
		float: left;
		font-weight: bold;
		color:#FFF;
	 }
	 /* ADM-023 END */
.homeCatalogWrapper, .mainCatWrapper, .productSearchResult{float: left;width:100%; padding: 0;}
.homeCatalogWrapper p.head, .mainCatWrapper p.head, .productSearchResult p.head, .changeCustomer p.head{font-size: 1.15em;padding-left:10px; font-weight: bold;}
.catalogView{margin: 10px 0 0 0;}
.extendedInfoTableWrapper table.homeCat_list select, #filter-results .mainCatListScrollTable table select, #productSearchResultView .listview .prodSearch_lV td select{
	width: 72px;
    height: 26px;
    padding: 0;
    margin: 0;}
/*--------------------- Filters ---------------------*/

.filters-wrapper {padding: 10px 0 0 0;}

#filter-results, #productSearchResultView {
	float: right;
	width: 74%;
 }
.mainCatListScrollTable {
    overflow-x: auto;
    width: 100%;
}
#filters {
	float: left;
	width: 214px;
	border: 1px solid #e2e2e2;
	background-color: #e2e2e2;
 }

	#filters h1 {
		margin: 0;
		font-size: 1.3em;
		padding: 0 0 5px 5px;
		float: left;
		line-height: 20px;
	 }

	#filters fieldset {
		margin: 0 0 0 5%;
		margin-right: 0;
		max-height: 150px;
		overflow-y: scroll;
		overflow-x: hidden;
		border: none;
		float: left;
		width: 95%;
	 }
#filters fieldset  input[type="radio"], #request_submit_tbl input[type="radio"]{margin: 0 5px 0 0; height: auto;}
#request_submit_tbl textarea{width:50%; height: 40px;}
		#filters fieldset input {float: left;}

		#filters fieldset select {
			float: left;
			width: 150px;
			display: none;
		 }

.filters input, .filters label, #filters p {
	text-align: left;
	padding: 0 0px 0 10px;
	font-size:.80em; 
 }

#filters p {
	clear: left;
	font-size: 1.2em;
 }
#filters p.head{margin: 6px 0 0 0;}
	#filters p.filter-name {margin: 10px 0 0 0; padding-bottom:0; float:left; font-size: 1em;}

.filters label {
	line-height: 15px;
    max-width: 178px;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
 }
#filters .searchFields{width: 96%; margin:10px 0 25px 5px;} 
#filters .searchFields input{width:190px;}
/*----------------------------------
	Modal View Layout
-------------------------------------*/
/*
.modal-backdrop {background-color: #fff;}

.modal-backdrop, .modal-backdrop.fade.in {opacity: 0.85;}
*/
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.48;
    filter: alpha(opacity=80);
}
.modal {
	background-color: #fff;
	border: 3px solid #CCCCCC;
	box-shadow: none;
	border-radius: 0;
 }

.modal-header {position: relative;}

.modal-close-btn {
	background: url("../images/CloseBtn.png") no-repeat right 0px;
	border: none;
	background-color: none;
	height: 23px;
	width: 23px;
	position: absolute;
	right: -12px;
	top: -12px;
	text-indent: -5000px;
 }

.modal.fade {transition: none;}

.modal {width: 400px;}
.modal-body{max-height:415px !important;}
	.modal .modal-body label {
		float: left;
		width: 100px;
		clear: left;
		text-align: left;
		 }

	.modal .modal-body input {
		float: left;
		border-radius: 0;
	 }

.modal-header {
	text-align: left;
	padding: 9px 15px 0 15px;
	border: none;
 }

	.modal-header h3 {
		font-weight: 100;
		font-size: 1.3em;
	 }

.modal .modalFooter {
	text-align: right;
	padding: 0 0 0 20px;
 }

	.modal .modalFooter a {
		padding: 10px 50px 20px 0;
		text-align: right;
	 }

.modal p.errorMsg, p.errorMsg,.submitReqErrorMsg {
	padding: 10px 0 0 15px;
	color: #b10808;
	margin: 0;
	font-size: 1em;
	font-weight: normal !important;
 }
 p.errorMsg{padding: 10px 0 0 0;}
.new-search p.validationMsg {	
	clear:left;
	color: #b10808;
	margin: -10px 0 0 0 !important;
	font-size: .85em !important;
	white-space: nowrap;
	
}
p.ValidationMsgOrder {	
	clear:left;
	color: #b10808;
	margin: -10px 0 0 0 !important;
	font-size: .85em !important;
	white-space: nowrap;
	
}
.dialog_btn_wrapper {float: right;}

.modal_view-container {}

	.modal_view-container h3 {font-size: 1.30em;}

		.modal_view-container h3.error {color: #b10808;}

	.modal_view-container p {font-size: 1em;}

/*-------------------------
	List layout
--------------------------*/
ul.list {
	list-style: none;
	width: 500px;
	margin: 0 auto;
	text-align: left;
 }

	ul.list li {
		border-bottom: 1px solid #ddd;
		padding: 10px;
		overflow: hidden;
	 }

		ul.list li img {
			width: 120px;
			height: 120px;
			float: left;
			border: none;
		 }

		ul.list li p {
			margin-left: 135px;
			font-weight: bold;
			color: #6e7a7f;
		 }

/*-------------------------
	Grid layout
--------------------------*/
ul.grid {
	list-style: none;
	margin: 0 auto;
	text-align: left;
 }

	ul.grid li {
		padding: 2px;
		float: left;
		width: 220px;
		margin: 0 8px 20px 8px;
		height: auto;
		min-height: 360px;
		position: relative;
		font-size: .85em;
	 }
		ul.grid li img {
			width: 100px;
			height: 83px;
			display: block;
			border: none;
		 }

	ul.grid  li.gridlayout:after {
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0px, rgba(211, 211, 211, 0.5) 25%, #D3D3D3 50%, rgba(211, 211, 211, 0.5) 75%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
		content: "";
		height: 100%;
		position: absolute;
		right: 12px;
		top: 0;
		width: 1px !important;
	 }

.product-content-wrapper {
	/* ADM-023 */
	/* min-height: 338px; */
	min-height: 250px;
	height: auto;
 }
#productSearchResultView ul.grid li{
	margin-bottom: 20px;
	/* ADM-023 */ 
	/* min-height: 355px; */
	min-height: 250px;
}
#productSearchResultView .product-content-wrapper{min-height:338px;}
	.product-content-wrapper span, .product-content-wrapper span a {
		display: block;
		max-width: 175px;
		overflow: hidden;
		text-overflow: ellipsis;
		/*white-space: nowrap;*/
	 }

.gridlayout input.quantity, .productDetailWrapper input.quantity{
	/*ADM-023 START*/
	/*width: 66px;*/
	width: 40%;
	height: 20px;
	/*ADM-023 END*/
	padding: 3px 0 3px 5px;
	margin: 0;
	border-radius: 0;
 }

ul.homeCatView  li.gridlayout:nth-child(4n+4):after {display: none;}

#filter-results li.gridlayout:nth-child(3n+3):after, #productSearchResultView li.gridlayout:nth-child(3n+3):after{display: none;}
.expendedView li.gridlayout:nth-child(3n+3):after{display: block !important;}
.expendedView li.gridlayout:nth-child(4n+4):after{display: none !important;}
.gridlayout span, .productDetailWrapper .pd_infoWrapper span {
	/* ADM-023 */
	/* display: block; */
	padding: 2px 0;
 }
 .gridlayout span{
 	clear:left;
 }

	.gridlayout span.actPrice,.pd_infoWrapper span.actPrice{
		float: left;
		text-decoration: line-through;
		padding: 0 10px 0 0;
		font-size: 1em !important;
		font-weight: normal !important;
		color: #666 !important;
	 }

	.gridlayout span.discount {float: left;}

	.gridlayout span.finalPrice,.pd_infoWrapper span.finalPrice{
		clear: left;
		font-size: 1.10em;
		color:#cc0000;
		font-weight: bold;
	 }
	 span.finalPrice:hover{
	 cursor:pointer;
	 }
	 span.actPrice:hover{
	 cursor:default;
	 }

	.gridlayout span.inStock {color: #649102;}
	.gridlayout span.outOfStock {color: #B10808;}
	.quantityColumn {min-width: 100px !important;}
	.dateColumn {min-width: 60px;}
	.actualPriceColumn{min-width: 150px !important;}
.productCode a{color:#666; text-decoration: none;}
.productDescription{float:left;}
.productDescription a{font-weight: bold; text-decoration: none; color: #333;}

/*-------------------------
	Button Styles
--------------------------*/
.buttonWrapper {padding: 15px 5px 0;}

button.homeCat, button.buy, button.disabled, .yellowButton,.continueShopping, .closeCart, .backButton, .reviewOrder, .nextButton,.saveButton, button.updateCart,button.cancleCart, .dialog_btn_wrapper a.yes, .dialog_btn_wrapper a.no, .thankYouButton, .addMore, .clearAll, .calculate,button.addedInCart {
/* ADM-023 START */
/* 	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
	padding: 5px 5px;
	background-color: #40403f;
	border: 1px solid #adada8;
	line-height: 15px;
	text-decoration: none;
	cursor: pointer; */
padding: 3px 3px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border-radius: 3px;	
/* ADM-023 END */
 }
 
 /* Quick View CHanges Start*/
 .quickView{
 	
    border-radius: 1px 1px 1px 1px;
    color: #333333;
    cursor: pointer;
    display: none;
    
    font-family: "proxima-nova-1","proxima-nova-2",Helvetica,Arial,sans-serif;
    font-weight: bold;
    line-height: 1;
    padding: 5px 37px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fbc800;
	opacity: 0.8;
 
 }
 
 .quickInfoImage{
 	max-width: 15px;
	max-height: 15px;
	margin-left: 90%;
	position: relative;
  	bottom: 15px;
 
 }

.quickInfoImageListView{
 	max-width: 15px;
	max-height: 15px;
	padding-left:7px;
	position: relative;
 }
 
.hospitalImage {
 	max-width: 15px;
	max-height: 15px;
	margin-left: 70%;
	position: absolute;
  	bottom: 0px;
}
 
.hospitalImageListView {
 	max-width: 15px;
	max-height: 15px;
	position: relative;
}

.promotionImage {
 	max-width: 15px;
	max-height: 15px;
	margin-left: 80%;
	position: absolute;
  	bottom: 0px;
}
 
.hospitalImageListView {
 	max-width: 15px;
	max-height: 15px;
	position: relative;
}
 .modal.fade.in {
  top: 18%;
}
 
 .quickViewImage{
 	min-width:100%;
 }
 .quantityWidth{
 	width:59px;
 }


/* .gridViewImageWrapper:hover{ */
	
/* 	height:130px; */
	
/* } */

/* .gridViewImageWrapper:hover img{ */
/* 	  height: 80%; */
	
/* } */

/* .gridViewImageWrapper:hover .imageQuickView{ */
/* 	height:80%; */
	
/* } */
/* .gridViewImageWrapper:hover .quickView { */
	

/*     display: block; */
/*     cursor: default; */
/* } */

.quickView:hover {
	
	opacity:1;
	
}
.unitsWrapperQuickView{margin: 0 0 10px 0;padding-left:10px;}
.unitsWrapperQuickView label{width:100px; float: left;}
.unitsWrapperQuickView .matrixDesc{margin: 0 0 10px 0;}


.pd_imageWrapperQuickView{float:left; width:180px;}

.modal-body-quickView{
	 max-height:415px !important;
	 /*min-widht:600px;*/
	 }

.modal .quickViewPop, .modal .imageSliderView{min-width:650px;  max-width:700px;}
.modal .quickViewPop {font-size: 1em; }
.modal .quickViewPop h4{font-size: 1.20em; font-weight: normal; }
.modal .quickViewPop table.price_calculation input[type="text"]{width:150px; height:16px;}
.modal .quickViewPop table.price_calculation .select-style{width:162px; margin:0 0 10px;}
.modal .quickViewPop table.price_calculation td{white-space: nowrap;}
.pricecalcpadding {
	padding-left: 2px !important;
}


.gridlayout span.finalPriceQuickView,.pd_infoWrapper span.finalPriceQuickView{
		
		font-size: 1.10em;
		color:#cc0000;
		font-weight: bold;
	 }

.extendedProductInfo{
	
	  overflow-wrap: break-word;
}

/* Quick View Changes End*/
.gridViewImageWrapperDlgView{
  height: 100px;
  float: left;
  max-width: 250px;
  position: relative;
}

.gridViewImageWrapperDlgView1{
  height: 100px;
  float: left;
  max-width: 80%;
  position: relative;
}

 

.buttonWrapper a {text-decoration: none;}

	.buttonWrapper a:hover {
		color: #fff;
		text-decoration: none;
	 }

.closeCart,.reviewOrder, .nextButton, .thankYouButton {
	float: right;
	background: #fbc800 url("../images/ButtonRArrow.png") no-repeat right 3px center;
	padding-right: 25px;
	color: #000;
 }
.deliveryInfoCloseCart{
	margin-right:20px;	
}
.thankYouButton {float: none;}

.paymentInformationWrapper .saveButton{margin: 0 3px 0 0;}
.continueShopping, .backButton {
	background: #40403f url("../images/ButtonLArrow.png") no-repeat left 3px center;
	padding-left: 25px;
	margin-right:3px;
 }
 #requestFor a.backButton {margin: 0 5px 0 0;}
.buttonWrapper .nextArrow, .buttonWrapper .previousArrow, .buttonWrapper .goFirstArrow{background: url("../images/Sprite.png") no-repeat -6px -64px; border: none; text-indent: -5000px; width:20px;  padding: 5px 0;}
.buttonWrapper .nextArrow{margin:0 15px 0 0;}
.buttonWrapper .previousArrow{background-position:-7px -1058px;}
.buttonWrapper .goFirstArrow{background-position:-7px -1030px;}
.backArrow {
	background: url("../images/ButtonLArrow.png") no-repeat left 8px center;
	padding-left: 25px;
 }

.forwardArrow {
	background: url("../images/HedaerRightArrow.png") no-repeat left 8px center;
	padding-left: 25px;
 }

button.homeCat {
	/* ADM-023 START */
	width: 85%;
	/* background: #000 url("../images/ButtonFav.png") no-repeat right 3px center; */
	background: #FABD5D;
	border: 2px solid #FABD5D;
	color: #ffffff;
	/* padding-right: 25px; */
	padding: 0px 25px 0px 0px;
	/* ADM-023 END */
 }
 button.homeCat_fav {
	background: #000 url("../images/ButtonFav.png") no-repeat right 3px center;
 }
 button.homeCat_fav{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
	padding: 5px 5px;
	background-color: #40403f;
	border: 1px solid #adada8;
	line-height: 15px;
	text-decoration: none;
	cursor: pointer;
 }
 
 .imgAddToList{
    margin-left: 4px;
    width:20px;
 }
button.buy, .yellowButton, button.updateCart,  .dialog_btn_wrapper a.no,  button.addedInCart {
	/* ADM-023 START */
	/* background-color: #FBC800 !important; */ 
	background: #97BE0D;
	/* color: #000; */
	color: #fff;
	/* border: 1px solid #ca8904; */
	/* ADM-023 END */
	text-decoration: none;
	cursor: pointer;
 }
 .reqSearch label{line-height: 14px;}
.reqSearch .buttonWrapper .clearAll,.calculate, .reqSearch .buttonWrapper .addMore,.reqSearch .buttonWrapper .backButton  {margin: 0 5px 0 0;}
.price_calculation .calculate{margin:0;}
.price_calculation button.addedInCart{margin-left:3px;}
button.updateCart {margin: 0 0 0 3px;}
.request_header{float: left; width:100%;position: relative;}
.request_header_loader{height:83%; width:100%; position: absolute;}
.request_header_loader .inner{background-position: 50% 50%; opacity:.5;}
button.buy {
	/* ADM-023 START */
	/* background: #E6C200 url("../images/ButtonRArrow.png") no-repeat right 3px center; */
	background: #97BE0D;
	/* padding-right: 25px; */	
	width: 40%;
	/* ADM-023 END */
	height:28px;
 }
 button.addedInCart{
 	background: #E6C200 url("../images/Sprite.png") no-repeat right -5px top -1535px;
 	padding-right:25px;
 	position:relative;
 }

button.addedInCart span {
	position: absolute;
	z-index: 99;
	width: 20px;
	height: 20px;
	top: 0;
	right: 0;
}

.homeCat_list  .addedInCart,.quotation-detail-table .addedInCart,.orderDetailTable .addedInCart,.invoiceDetailPage .addedInCart,.invoicePage .addedInCart,.comparePageWrapper .addedInCart,.prodSearch_lV .addedInCart,.mainCatTable .addedInCart {width:23px; height:24px; background: url("../images/Sprite.png") no-repeat -5px -1730px; width:23px;height:29px;display:block;}
 button.buyIcon,button.buyIconAddedToCart,button.addToList {
	background: url("../images/Sprite.png") no-repeat -5px -1354px;
	padding: 2px;
	border: none;
	width:24px;
	text-indent: -5000px;
 }
 
.quickInfoCart .addedInCart {width:23px; height:24px; background: url("../images/Sprite.png") no-repeat -5px -1727px; width:23px;height:29px;display:block;}

.buyButtonwidht .addedInCart{width:23px; height:17px; background: url("../images/Sprite.png") no-repeat -5px -1730px; width:23px;height:18px;display:block;}

button.buyIconAdded{
	background: url("../images/Sprite.png") no-repeat -5px -1730px;
	padding: 2px;
	border: none;
	width:24px;
	text-indent: -5000px;
 }

 
 
  button.buyIconAddedToCart {
	background: url("../images/Sprite.png") no-repeat -3px -1724px;	
	height:26px;
 }
  button.addToList{
  background: url("../images/Sprite.png") no-repeat -6px -1691px;	
	height:26px;

  }
  .addToListTableView{
  	background: url("../images/Sprite.png") no-repeat -6px -1692px;	
	height:26px;
	text-indent: -5000px;
	border: none;
	width:25px;
	padding:3px;
	cursor:pointer;
  }
  
button.buyIcon.disabled{opacity:0.4; line-height: 20px;}
button.disabled,a.disabled,li.disabled,img.disabled {
	color: #999;
	cursor: auto;
	opacity: 0.4;
	pointer-events: none;
 }
li.disabled{opacity: 1;}
.loginButton {float: right; margin-right:103px}

/*-------------------------
	Compare page layout
--------------------------*/
.comparePageWrapper {
	width: 100%;
	float: left;
 }

	.comparePageWrapper h3 {font-size: 16px;}

	.comparePageWrapper  table {
		border-collapse: collapse;
		font-family: sans-serif;
		float: left;
		display: inline-table;
		border: solid 1px #ccc;
		font-size: 12px;
		width: 100%;
	 }
.compareTableScroll{max-width: 100%; overflow-x:auto; width:100%;}
	.comparePageWrapper  table select{width:70px; border-radius:0; padding: 0;}
	table.Comparetable input[type="text"]{width:30px; height: 17px; margin: 0; }
.buyInput {
	width: 35px !important;
	padding: 3px 0 2px 5px !important;
	margin: 0 !important;
	border-radius: 0 !important;
 }

.comparePageWrapper table thead {
	background-color: #333;
	color: #fff;
 }

.comparePageWrapper table td {
	border: 1px solid #ccc;
	text-align: center;
	background-color: #f2f0f0;
 }

	.comparePageWrapper table td:first-child {text-align: left;}

.comparePageWrapper table td, .listview table th {padding: 0.5rem;}

.comparePageWrapper table td.blank {
	border: none;
	width: 5px;
	padding: 0;
	background: #fff;
 }

/*-------------------------
	Shopping Cart page layout
--------------------------*/
.shopping-cart-wrapper {
	float: left;
	width: 100%;
	padding: 15px 0 0 0;
	position: relative;
	box-sizing: border-box;
 }
.shopping-cart-wrapper p.pageTitle{position: absolute;}
	.shopping-cart-wrapper .promotionCode {
		float: left;
		width: 80%;
		
	 }

		.shopping-cart-wrapper .promotionCode p,.shopping-cart-wrapper p.creditError {
			margin: 0 10px 0 0;
			font-size: 1em;
		 }

			.shopping-cart-wrapper .promotionCode p.error, .shopping-cart-wrapper .promotionCode .error, .late, .shopping-cart-wrapper p.creditError b {color: #b10808;}

	.shopping-cart-wrapper table th {
		padding: 5px 5px 5px 12px;
		white-space: nowrap;
		text-overflow: ellipsis;
		/*width: 20%;*/
		overflow: hidden;
	 }
/*.shopping-cart-wrapper table .largeSpace{width:12%;}
.shopping-cart-wrapper table .smallSpace{width:12%;}*/
.shopping-cart-wrapper table .smallSpace{width:12%;}
.shopping-cart-wrapper table .spcItem{width:28%;float:left;padding-left:5px;}
.shopping-cart-wrapper table .spcDelDate{width:14%;}
.shopping-cart-wrapper table .spcUnit{width:8%;}
.shopping-cart-wrapper table .spcPrice{width:12%;}
.shopping-cart-wrapper table .spcPriceValue{width:10%;padding-left:15px;}
.shopping-cart-wrapper table .spcQuantity{width:9%;}
.shopping-cart-wrapper table .spcAmount{width:12%;}
.shopping-cart-wrapper table .spcActions{width:12%;}



.shopping-cart-wrapper table  {width:100%;}
.shopping-cart-wrapper table th.spcItem{width:190px;}
.shopping-cart-wrapper table th.spcDelDate{width:100px;}
.shopping-cart-wrapper table th.spcUnit{width:55px;padding-left:10px;}
.shopping-cart-wrapper table th.spcPrice{width:80px;}
.shopping-cart-wrapper table th.spcPriceValue{width:10%;}
.shopping-cart-wrapper table th.spcQuantity{width:70px;}
.shopping-cart-wrapper table th.spcAmount{width:100px;}
.shopping-cart-wrapper table th.spcActions{width:70px;}

.shopping-cart-wrapper table tr{width:100%;}

.shopping-cart-wrapper table td.spcItem{width:203px;max-width:0px;}
.shopping-cart-wrapper table td.spcDelDate{width:111px;text-align:center;overflow:hidden;}
.shopping-cart-wrapper table td.spcUnit{width:60px;padding-left:10px;text-align:left;}
.shopping-cart-wrapper table td.spcPrice{width:85px;text-align:left;padding-left: 15px;}
.shopping-cart-wrapper table td.spcPriceValue{width:10%;text-align:center;}
.shopping-cart-wrapper table td.spcQuantity{width:70px;text-align:center;}
.shopping-cart-wrapper table td.spcAmount{width:100px;text-align:left;padding-left:30px;}
.shopping-cart-wrapper table td.spcActions{width:80px;text-align:center;}


.shopping-cart-wrapper table td.spcItem a{max-width: 203px;
  text-overflow: ellipsis;
  float: left;
  overflow: hidden;}

.listview table thead, .shopping-cart-wrapper table thead , table.topItemsTable thead{
	background-color: #333;
	color: #fff;
 }

.shopping-cart-wrapper table td {
	border: none;
	padding: 5px 0px 0 5px;
	max-width:100px;
 }

/*.shopping-cart-wrapper table tr:last-child{border-top: 1px solid #ccc;}*/
.shopping-cart-wrapper table {
	width: 100%;
	margin: 0;
	text-align: left;
	white-space: nowrap;
 }

	.shopping-cart-wrapper table input {
		width: 39px;
		padding: 0;
		border-radius: 0;
		float: left;
		padding: 0 5px 0 0;
		margin: 3px 0 0 0;
		text-align: right;
	 }

		.shopping-cart-wrapper table input.delivery_date, select.unit_dropdown {
			width: 65px !important;
			font-size: 1em;
		 }

	.shopping-cart-wrapper table select {
		padding: 0;
		height: 22px;
		border-radius: 0;
		margin: 0;
	 }

.shopping-cart-wrapper .cart-options {
	float: left;
	width: 18%;
	border: solid 1px #ccc;
	margin: 35px 0 0 0;
	min-height: 150px;
 }
.shopping-cart-wrapper p.heading{padding:0 0 0 5px;}
	.shopping-cart-wrapper .cart-options p,.shopping-cart-wrapper .cart-options-shopCart p {
		font-size: 16px;
		color: #fbc800;
		padding: 10px 0 0 24px;
		margin: 0;
	 }
	 

	.shopping-cart-wrapper .cart-options ul li, .shopping-cart-wrapper .cart-options-shopCart ul li {list-style: none;}

		.shopping-cart-wrapper .cart-options ul li a, .shopping-cart-wrapper .cart-options-shopCart ul li a {color: #000;}

tr.edit_details_cart {
	border-bottom: 1px solid #ccc;
	background: #e2e2e2;
 }

.edit_details_cart td {vertical-align: top;}

.edit_details_cart .button-wrapper {
	float: right;
	clear: both;
	padding: 8px 5px 8px 0;;
 }

.edit_details_cart label {
	float: left;
	padding: 0 10px 0 0;
 }

.edit_details_cart input {
	width: 52% !important;
	float: left;
	text-align: left !important;
 }
.edit_details_cart .button-wrapper{padding-right: 26px;}
.shopping-cart-wrapper .reference, .reviewOrderTableWrapper .reference{padding: 5px 0 5px 5px;max-width: 750px;}
.reviewOrderTableWrapper .reference {width: 100%;}
.shopping-cart-wrapper .recal-edit {
	float: left;
	clear: left;
 }

	.shopping-cart-wrapper .recal-edit a {
		margin: 0 20px 0 0;
		clear: left;
		color: #b10808;
	 }

.shopping-cart-wrapper .reference p {font-size: 1em;}
.shopping-cart-wrapper .reference p span{font-size: 1em;font-weight: bold;}

.shopping-cart-table-footer {}

.shopping-cart-wrapper .footer-left {
	background: none repeat scroll 0 0 #f2f0f0;
	float: left;
	font-size: 10px;
	margin: 10px 0 0 0;
	padding: 10px;
	width: 200px;
	border: 1px solid #ccc;
	text-align: left;
 }
.shopping-cart-wrapper .footer-left p{text-align:left !important;}
.shopping-cart-wrapper .footer-right {
	float: right;
	padding: 10px 100px 0 0;
	text-align: right;
 }

	.shopping-cart-wrapper .footer-right p.grand-total {
		padding: 10px 0;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		float: left;
		margin: 10px 0 0 0;
	 }

		.shopping-cart-wrapper .footer-right p.grand-total span {
			color: #b10808;
			font-weight: bold;
		 }

		.shopping-cart-wrapper .footer-right p.grand-total label {font-weight: bold;}

	.shopping-cart-wrapper .footer-right p {font-size: 12px;}

		.shopping-cart-wrapper .footer-right p label {
			text-align: right;
			padding: 0 10px 0 0;
			float: left;
			margin: 0;
			font-size: 1.20em;
			min-width: 170px;
			width: auto;
		 }

.shopping-cart-wrapper .shopping-cart-table-footer p {
	padding: 0;
	margin: 0;
	width:100%;
	text-align: right;
 }

.shopping-cart-wrapper .shoppingCartTableWrapper, .interruptedCartTableWrapper {
	float: left;
	width: 80%;
	padding: 0 0 0 15px;
 }
 .shoppingListItemUpdateSuccess{
 	color: #2EB330;
	font-size: 14px;
	padding: 0 0 0 5px;
 }
  .shoppingListItemUpdateError{
  	color: #b10808;
	font-size: 14px;
	padding: 0 0 0 5px;
 }
 
 .interruptedCartTableWrapper table th{width:auto; text-align: center;}
 .interruptedCartTableWrapper table td{text-align: center;}
 .interruptedCartTableWrapper .delete-icon{margin-top: 4px;}
.interruptedCartTableWrapper p.infowrapper, .shopping-cart-wrapper p.infowrapper, .filtersInfowrapper, p.shoppingInfowrapper,.changeCustomer p.infowrapper{border: 1px solid #ccc; background:#f4f4f4; padding: 6px 0 6px 6px; margin:36px 0 8px 0; font-size:1em; width:99%;}
p.shoppingInfowrapper{width:79%; float:left; margin: 0 0 0 15px;}
p.shoppingInfowrapper b, .changeCustomer p.infowrapper b{color:#b10808;}

.filtersInfowrapper{width:73%; margin: -20px 0 20px 10px; float: right;}
.filtersInfowrapper ul{margin: 0;}
.filtersInfowrapper li{display: inline-flex; margin:0 15px 0 0; float: left; list-style: none;}
.filtersInfowrapper li a{background: url("../images/SearchCriteriaClose.png") no-repeat 0 1px; width:18px; height:18px; float:right; margin: 0 0 0 5px;}
.shopping-cart-wrapper p.infowrapper{margin-top: 20px;}
.shopping-cart-wrapper p.infowrapper b{font-weight: bold; color:#b10808;}
.interruptedCartInfo{ float: left; margin: 20px 0 0 20px;}
.interruptedCartInfo .warning b, .errorMsg{color:#b10808; font-size:1em;}
.interruptedCartInfo p{font-size:1em;}
.shopping-cart-wrapper .reviewOrderTableWrapper {width: 100%;}
.shopping-cart-scroll{max-height:250px; height:auto; overflow-x: hidden; overflow-y: auto; width:100%; float: left; margin:0 0 0 0;}
.shopping-cart-wrapper .promotionCode input[type="text"] {
	width: 100px;
	border-radius: 0;
	height: 16px;
	margin: 0;
 }

.shopping-cart-wrapper .promotionCode input[type="button"] {
	background-color: #fbc800;
	border: 1px solid #ca8904;
	position: relative;
	left: -5px;
	padding: 2px 10px;
 }

.shopping-cart-wrapper table td.cartItems {max-width: 115px;}

	.shopping-cart-wrapper table td.cartItems a {
		max-width: 250px;
		text-overflow: ellipsis;
		float: left;
		overflow: hidden;
	 }

.shoppingCartButton, .favButton {
	width: 45px;
	height: 32px;
	background: url("../images/Sprite.png") no-repeat 4px -1615px;
	float: left;
	/* ADM-023 START */
	/* color: #000; */
	color: #fff;
	/* ADM-023 END */		
	position:relative;
	margin: 0 4px 0 0;
 }
/*
	.shoppingCartButton:hover, .shoppingCartButton:focus {
		color: #fff;
		text-decoration: none;
		opacity: .90;
	 }*/

	.shoppingCartButton span, .favButton span {
		display: block;
		text-align: center;
		line-height: 14px;
		font-size: .80em;
		font-weight: bold;
		width:14px;
		padding: 4px;
		border-radius:20px;
		/* ADM-023 */
		/* border: 1px solid #000;
		background-color: #fbc800; */
		background-color: #5183AC;
		/* ADM-023 END */
		position: absolute;
		top:-8px;
		right:-5px;
		
       
	 }
	 .shoppingCartButton span.bubbleAnimation, .favButton span.bubbleAnimation{
	 -webkit-animation: fadein 2s; 
       -moz-animation: fadein 2s;
       -ms-animation: fadein 2s;
       }
	 @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.favButton{	
	background: url("../images/Sprite.png") no-repeat 4px -1570px;	
	margin-right: 0;
	}
.delete-icon, .delete-cart-icon {
	background: url("../images/DeleteIcon.png") no-repeat 0 0;
	float: left;
	text-indent: -4000px;
	width: 25px;
	height: 25px;
	margin: 0 0 0 10px;
	border: none;
 }
 
 .submit-icon{
 	background: url("../images/Sprite.png") no-repeat -5px -1854px;
	float: left;
	text-indent: -4000px;
	width: 25px;
	height: 25px;
	margin: 0 0 0 10px;
	border: none; 
 }
 .submit-icon {
	text-indent:0;
	width:auto;
	padding: 0 0 0 30px;
 }
 
.delete-cart-icon {
	text-indent:0;
	width:auto;
	padding: 0 0 0 30px;
 }
.editDetails {
	background: url("../images/Edit.png") no-repeat 0 0;
	float: left;
	text-indent: -4000px;
	width: 20px;
	height: 20px;
	margin: 0 0 0 0px;
	border: none;
 }
 button.delete-cart-icon, button.delete-icon, button.editDetails, button.submit-icon {cursor:pointer;}
.quotation-detail-table .editDetails{margin-left:-4px;}
button:disabled {opacity: 0.4;}
label.disabled{color:#ccc; cursor: default;}
table.shoppingCartTable {margin: 0;}

.refresh-icon {
	background: url("../images/RefreshIcon.png") no-repeat 5px 5px;
	padding: 5px 10px;
	text-indent: -4000px;
	float: left;
 }

.recalculate-icon {
	background: url("../images/RefreshIcon.png") no-repeat 4px 0px;
	padding: 0 0 0 25px;
	cursor: pointer;
 }
table.addItemsTable th{background: #333; color: #fff; padding: 3px 10px 3px 10px; }
table.addItemsTable td{padding: 3px 5px; }
table.addItemsTable input[type="text"],  table.quotation-detail-table input[type="text"]{border-radius:0; width:99%; padding: 3px; margin: 1px 0 0 0; height: 15px; text-align: left;}
table.addItemsTable .select-style{width:100%; margin-left:0;}
.select-style select{width:100% !important;}
table.addItemsTable th.largeSpace{width:22%;}
table.addItemsTable th.smallSpace{width:10%;}
#requestBase table.addItemsTable select, table.addItemsTable select, table.quotation-detail-table select{ height: 23px; margin: 0; padding: 0;}
table.quotation-detail-table .select-style{width:99%;}
.quotation-detail-table .paddingRight{
	margin-right:12px !important;
}
.copyPasteArea{width:100%; float:left; clear: both; margin: 15px 0 0 0;}
.copyPasteArea textarea{width:98%; height: 100px;}
.copyPasteArea input.value{border-radius: 0; width:20px !important; height:12px; margin: 0 10px;}
.shoppingCartTableWrapper p.head{font-size:1.20em; margin: 10px 0 0 0; padding: 0;}
.informationCon span{display: block;}
.informationCon .pasteAreaHead{background-color: #333; color: #fff; text-align: center; width: 100%; padding: 5px 0 5px 0; margin: 0 0 5px 0;}
.informationCon p{font-size:1em; margin: 10px 0 0; float: left;}
.secAddItems{margin: 35px 0 0 0;}
/*-----------------------------------------------------
	         Review Order page layout
------------------------------------------------------*/
.reviewOrderTableWrapper .footer-right {
	float: right;
	padding: 10px 105px 0 0;
 }

.reviewOrderTableWrapper table {margin-left: 0;}

.exp-collapse-icon, .exp-plus-icon {
	clear: left;
	float: right;
	background: url("../images/Expanded.png") no-repeat right 0px;
	height: 18px;
	width: 18px;
	text-indent: -2000px;
 }

.exp-plus-icon {background: url("../images/Collapsed.png") no-repeat right 0px;}

.exp-collapse-arrow, .exp-plus-arrow {
	clear: left;
	float: left;
	background: url("../images/HedaerRightArrow.png") no-repeat left 5px;
	height: 18px;
	width: 18px;
	text-indent: -2000px;
 }

.exp-plus-arrow {background: url("../images/HedaerDownArrow.png") no-repeat left 5px;}

.mainCatTable th {padding: 0.5rem 0.5rem !important; width:auto !important;}
.tableHeadPadding{padding: 0 20px 0 0;}
/*-------------------------
	Top Items Page
--------------------------*/
table.topItemsTable td{ word-wrap: break-word;}
table.topItemsTable td input[type="text"], table.topItemsTable td .select-style{width:72px;}
table.topItemsTable td input.quantity{width:50px; margin-bottom: 0;}

table.topItemsTable td.reqDelDate input[type="text"]{
	width:90px;
	margin-bottom:0px;
}

/*-------------------------
	Invoice page layout
--------------------------*/
.invoicePage, .shoppingList, .shoppingListEntry, .changeCustomer  {
	width: 100%;
	padding: 15px 0 0 0;
	max-width:100%; 	
 }
div.sorting{padding: 0 15px 0 0;}
	.invoicePage .invoice-search table div.sorting {}


	.invoicePage .invoice-search table a.ascending, table a.ascending, table a.ascending_selected {
		background: url("../images/Sprite.png") no-repeat scroll -10px -698px rgba(0, 0, 0, 0);
		width: 10px;
		height: 10px;
		float: left;
		text-indent: -2000px;
	 }
.sortingInnerWrap{width:10px; float:left; padding: 0 10px 0 0;}
table a.ascending:hover, table a.decending:hover{opacity:.5;}
table a.ascending_selected, table a.decending_selected{opacity:.5;}
	.invoicePage .invoice-search table a.decending, table a.decending, table a.decending_selected {
		background: url("../images/Sprite.png") no-repeat scroll -10px -685px rgba(0, 0, 0, 0);
		width: 10px;
		height: 10px;
		width: 10px;
		height: 10px;
		float: left;
		text-indent: -2000px;
	 }

	.invoicePage .new-search {padding: 10px 0 20px 0;}

		.invoicePage .new-search p {font-size: 1.20em;}

.invoiceDetailPage section {font-size: 1.1em;}

.invoiceDetailPage table input {width: 100px;}

.invoiceDetailPage .section-data {font-size: 1.0em;}

.invoiceDetailPage .page-heading {
	font-size: .95em;
	padding: 15px 0 15px 0;
 }

	.invoiceDetailPage .page-heading span {float: left;}

.invoiceDetailPage .order-info {
	font-size: 1.2em;
	font-weight: bold;
 }

.invoiceDetailPage .order-details {float: right;}

.invoiceDetailPage section p {
	font-size: 1em;
	font-weight: bold;
 }

.page-heading label {
	width: auto;
	font-size: .95em;
	float: left;
	padding: 0 10px 0 25px;
 }
 
 .debatorAlign{
	float: right;
  	width: 375px;	
}

.invoiceDetailPage table.invoice-detail-table, .invoiceDetailPage table.invoice-detail-table td, .quotationPageDetailPage table.quotation-detail-table, .quotationPageDetailPage table.quotation-detail-table td,table.quotation-line-detail td {border: none;}

.search-form-wrapper {
	width: 33%;
	padding: 5px 0 25px 0;
	float: left;
	height:45px;
	
 }
 .accountInformation .search-form-wrapper{height:75px !important;}
 .accountInformation .submit {margin:-30px 34px 0 0 !important; position:relative;}
 .accountInformation .search-form .select-style{margin-bottom:10px;}
.search-form-wrapper .left input[type="text"]{margin: 0 0 0 0; width:40%; min-width:100px;}
.search-form .search-form-wrapper .enterDate{margin-left: 375px;}
.search-form {float: left; width: 100%;}
.search-form-catalog {float:left; width:100%}
.search-form-catalog input[type="text"]{height: 15px; width: 45%; border-radius:0;}
.search-form input[type="text"]{height: 15px; width: 90%; border-radius:0;}
.new-search .search-form label{}
	.search-form input[type="button"] {
		float: right;
		margin: 0 385px 0 0;
	 }
.new-search .search-form .submit{margin:15px 25px 0 0; float: right; clear:both;}
	.search-form input {height: 27px;}

	.search-form .select-style {
		border-radius: 0;
		width: 95%;
		height:25px;
		margin-left: 0;
	 }

	.search-form .submit input {
		float: right;
		padding: 5px;
	 }

.add-cart-icon {background: url("../images/AddToCart.png") no-repeat right 0px;}

.whs-info-icon {background: url("../images/Info.png") no-repeat right 0px;}

/*-------------------------------
	Quotation Detail page layout
--------------------------------*/
.invoiceDetailPage .section-value,.quotationPageDetailPage .section-value {font-weight: bold;}

.quotationPageDetailPage .quotation_header {
	clear: left;
	padding: 15px 0;
 }

	.quotationPageDetailPage .quotation_header a {margin: 0 20px 0 0;}

.quotationPage,.reqSearch, .editAccount {
	width: 100%;
	padding: 15px 0 0 0;
 }
 .editAccountCust{padding: 0px 0 15px 0px; font-size:1em !important; cursor:default !important;}
 table.editAccountAddress{padding: 0.3rem 0.3rem 0.3rem 0.3rem;}
.checkIcon {
	background: url("../images/Sprite.png") no-repeat scroll 46px -1110px;
	padding: 2px 0 0 25px;
 }
 .defaultPaymentMethod{
 background: url("../images/Sprite.png") no-repeat scroll 0 -584px;
	padding: 2px 0 0 32px;
	font-size:1em !important;
 }
 .defaultType{font-size:1.70em; float:left; margin:2px 0 -6px 70px;}
	.quotationPage table,.reqSearch table{width: 100%;}

	.quotationPage .new-search, .reqSearch .new-search, .editAccount .user,.editAccount .changePassword, .editAccount .changeAddress, .editAccount .paymentMethod {padding: 10px 0 20px 0;}
	.changePassword p.passwordMsg{font-size:1em !important; color:#b10808; padding:0 0 0 185px;} 
.changePassword .buttonWrapper{margin:0 496px 0 0;}
.editAccount .user,.editAccount .changePassword, .editAccount .changeAddress, .editAccount .paymentMethod, .changeCustomer {float:left; width:100%;}
		.changePassword form{margin: 0;}
		.quotationPage .new-search p, .reqSearch .new-search p, .editAccount .user p, .editAccount .changePassword p, .editAccount .changeAddress p, .editAccount .paymentMethod p{font-size: 1.20em; cursor:pointer; margin: 0;}
		p.selectOrderLines{color:#fbc800; margin: 0;}
table.requestSearchTable th,table.requestSearchTable td { width:auto !important;}
table.requestSearchTable th{padding: 0.5rem 0.6rem !important;}
table.requestSearchTable td{text-align: center !important;}
.quotationPageDetailPage section {
	font-size: 1.1em;
	width: 100%;
	float: left;
	margin: 10px 0 10px 0;
 }
.changeAddress table td{padding: 0.4rem 0.3rem !important;}
.quotationPageDetailPage table input {width: 100px;}

.quotationPageDetailPage .section-data {font-size: 1.0em;}

.quotationPageDetailPage .page-heading, .accountTransactionDetailPage  .page-heading {
	font-size: .95em;
	padding: 15px 0 15px 0;
 }
.accountTransactionDetailPage .new-search{padding-bottom:0 !important;}
.quotationPageDetailPage .page-heading span {float: left;}

.accountTransactionDetailPage .page-heading p {
	font-size: 1.2em;
	font-weight: bold;
 }

.quotationPageDetailPage .order-info {
	font-size: 1.2em;
	font-weight: bold;
 }

.quotationPageDetailPage .order-details {float: right;}

.quotationPageDetailPage section p {
	font-size: 1em;
	font-weight: bold;
 }

.quotationDetailPage table.quotation-detail-table, .quotationDetailPage table.quotation-detail-table td {border: none;}

.quotationDetailPage .section-value {font-weight: bold;}

.accountTransactionDetailPage .accountTransaction_header {
	clear: left;
	padding: 15px 0;
 }

	.accountTransactionDetailPage .accountTransaction_header a {margin: 0 20px 0 0;}

.accountTransactionDetailPage, .requestConfirmationPage {
	width: 100%;
	padding: 12px 0 0 0;
 }
 .requestConfirmationPage a.clearAll{margin: 0 5px 0 0;} 
  .requestConfirmationPage .page-heading{font-size:1.5em !important;}
 .accountTransactionDetailPage .download{margin: 0 0 5px 0;}
.download{padding: 0 0 5px 0;}
.download a{margin: 0 0 0 10px;}
.download .emailIcon{background-position: 0px 2px;}
	.accountTransactionDetailPage table {width: 100%;}

table.order-detail-table td, table.invoice-detail-table td, table.submitRequestTable td, table.editAccountUser td{border: none !important;}
table.submitRequestTable td{padding:0.2rem 0.3rem 0.2rem 0.3rem; font-size:1.20em;}
.accountTransactionDetailPage .order-details {float: right;}
table.submitRequestTable td div.error{border:solid 1px #b10808 !important;}
.accountTransactionDetailPage .new-search {padding: 10px 5px 20px;}

	.accountTransactionDetailPage .new-search p {font-size: 1.20em;}

.accountTransactionDetailPage section {
	font-size: 1.1em;
	width: 100%;
	float: left;
	margin: 10px 0 10px 0;
 }


.accountTransactionDetailPage .section-data {font-size: 1.0em;}

.requestConfirmationPage .page-heading {
	font-size: .95em;
	padding: 5px 0 15px 0;
 }
 .accountTransactionDetailPage .page-heading {
 	font-size: .95em;
 	padding:5px 0 0 0;
 }


	.accountTransactionDetailPage .page-heading span {float: left; line-height:21px;}

.accountTransactionDetailPage .transaction-info {
	font-size: 1.2em;
	font-weight: bold;
 }

.accountTransactionDetailPage .transaction-details {float: right; width:380px;}

.accountTransactionDetailPage section p {
	font-size: 1em;
	font-weight: bold;
 }

.accountTransactionDetailPage table.accountTransaction-detail-table, .accountTransactionDetailPage table.accountTransaction-detail-table td {border: none;}

.accountTransactionDetailPage .section-value {font-weight: bold;}

.accountTransactionDetailPage .order_header {clear: both;}

.OrderInformation-icon {
	background: url("../images/Information.png") no-repeat 4px 0px;
	padding: 2px 0 0 25px;
 }

.OrderInfo {
	background: url("../images/Sprite.png") no-repeat scroll -6px -595px;
	padding: 2px 0 0 25px;
 }

.OrderHeld-icon {
	background: url("../images/OrderHeld.png") no-repeat 4px 0px;
	padding: 2px 0 2px 25px;
 }
.cartItemIcon { background: url("../images/ItemInShopCart.png") no-repeat 0px 0px ;padding: 0; width:23px; height:18px; float:left; }
.homeCat_list .cartItemIcon, .mainCatTable .cartItemIcon{float:none !important; display: inline-block;}
.addToCart { background: url("../images/AddToCart.png") no-repeat 4px 0px; 	padding: 0 0 0 25px;  }
.emailIcon { background: url("../images/Email.png") no-repeat 4px 0px; 	padding: 0 0 2px 25px;}
.emailModal input, .emailModal textarea{width:445px; border-radius:0; float: left;}
.emailModal .primary-btn{margin: 0 15px 0 0;}
.OrderCopyLine-icon, .OrderLinePasteArea-icon, .OrderShoppingList-icon{
	background: url("../images/Sprite.png") no-repeat -10px -734px;
	padding: 0 3px 0 0;
	width: 20px;
	height: 20px;
	float: left;
 }
 .leftCollapsible-l{background: url("../images/LeftCollapsible-L.png") no-repeat 0px 0px; width:21px; height: 33px; padding: 2px 10px 15px 10px; margin: 0 0 0 -2px;}
 .leftCollapsible-r{background: url("../images/LeftCollapsible-R.png") no-repeat 0px 0px; width:21px; height: 33px; padding: 10px; margin: 0;}
 .expendedView{width:96% !important;}
 .expendedViewFilters{width:96% !important;}
 .expendedView ul.grid li{width: 198px !important;}
.OrderCopyLine-icon:hover, .OrderCopyLine-icon-selected{background-position: -10px -933px;}
.OrderShoppingList-icon {
	background-position: -10px -781px;
 }
 .OrderShoppingList-icon:hover, .OrderShoppingList-icon-selected {
	background-position: -9px -983px;
 }
.OrderLinePasteArea-icon {
	background-position: -9px -758px;
 }
.OrderLinePasteArea-icon:hover, .OrderLinePasteArea-icon-selected{
	background-position: -8px -959px;
}

.OrderLinePasteAreaHover-icon {
	background: url("../images/PasteArea_hover.png") no-repeat 4px 0px;
	padding: 0 0 0 25px;
 }

.transactionlistview table td, .transactionlistview table th {
	padding: 0.5rem 0.3rem 0.5rem 0.3rem;
	text-align: left;
	width: 180px;
 }

.paymentInformationWrapper {
	width: 80%;
	padding: 15px 0 0 0;
	float: left;
 }

.payment-information {
	width: 800px;
	padding: 20px 30px 0 10px;
	color: #888;
	clear: both;
 }

	.payment-information p {
		font-size: 1.20em;
		margin: 15px 0 15px 0;
		color:#333;
	 }

		.payment-information p.subHead {
			color: #fbc800;
			clear: left;
		 }

	.payment-information label {
		display: block;
		margin: 0px 0px 5px;
		clear: left;
		color:#333;
	 }
	 
	 .topMargin{
	 	padding-bottom:6px;
	 }

		.payment-information label>span {
			float: left;
			width: 150px;
			text-align: left;
			padding-right: 10px;
			margin-top: 10px;
			white-space: nowrap;
		 }

	.payment-information .savebutton {
		float: right;
		margin: 0 310px 0 0;
		clear: both;
	 }

	.payment-information label>span i {color: #b10808; font-size: 1.15em}

	.payment-information input[type="text"], .payment-information input[type="email"], .payment-information textarea,.payment-information select{
		color: #888;		
		margin-bottom: 16px;
		margin-right: 6px;
		margin-top: 2px;
		outline: 0 none;
		padding: 3px 3px 3px 5px;
		width: 63%;
		border-radius: 0;
	 }

	.payment-information input[type="checkbox"] {height: 15px; width: 20px;}
.payment-information  .complete_delivery{margin: 12px 0 20px 0;}
	.payment-information select {
		appearance: none;
		text-indent: 0.01px;
		width: 41%;
		height: 30px;
	 }

	.payment-information textarea {height: 100px;}

	.payment-information .button {
		background: #353434;
		border: none;
		padding: 10px 25px 10px 25px;
		color: #FFF;
	 }

		.payment-information .button:hover {background: #888}

	.payment-information .addressLines {
		margin-left: 160px;
		width: 100%;
	 }

	.payment-information .radiebtn_margin {margin: 0 0 0 10px;}

	.payment-information .billing_delivery .lbl {
		float: left;
		width: auto;
		margin: -2px 0 0 0;
	 }

.deliveryAddress, .billingAddress, .paymentInformation, .orderRef {
	width: 49%;
	float: left;
	margin-left:6px;
 }


.deliveryAddress p, .billingAddress p, .paymentInformation p, .orderRef p {font-size: 1em;}

.paymentInformation p span {color: #b10808;}
.paymentInformation input[type="radio"]{margin-top: 0;}
.paymentInformation P.paymentTerms{padding: 10px 0 0 0;}
.orderRef p span {
	width: 160px;
	float: left;
 }
 .paymentInformationPrint p span {color: #b10808;}
 .orderRefPrint p , .paymentInformationPrint p{font-size: 1em; float:left; width:100%;}
 .orderRefPrint label{width:45% !important; float:left;}
 .orderRefPrint ,.paymentInformationPrint,.billingAddressPrint,.deliveryAddressPrint {
 	width: 50%;
	float: left;
	}
	.billingAddressPrint p, .deliveryAddressPrint p{font-size: 1em;font-weight: bold;}
  .orderRefPrint p span{font-size: 1em;font-weight: bold; float:left}
 .orderRefPrint p span,.paymentInformationPrint p span {
	width: 50%;
	float: right;
 }

.reviewOrderTableWrapper p.hed {color: #fbc800;}
.reviewOrderTableWrapper table td{white-space:normal !important;}
.reviewOrderTableWrapper .sep {margin: 15px 0;}
/*................. Thank You Page ..................*/
.thankYouWrapper {
	float: left;
	text-align: center;
	width: 100%;
 }
.thankYouWrapper h3{color:#fbc800;font-weight: normal; font-size: 1.80em;}
.continueShop{text-decoration: underline; color: #333;}
.thankYouWrapper .buttonWrapper{padding: 15px 0;}
.newRequestButtonsWrap .buttonWrapper{padding: 0 5px 0 0;}
.delete-order-link {
	background: url("../images/DeleteIcon.png") no-repeat 0 0;
	float: left;
	padding:4px 0 4px 30px;	
	margin: 0 15px 0 10px;
	border: none;
 }
a.delete-order-link:hover{color:#333;}
table.orderDetailTable th{padding: 0.5rem 0.3rem 0.5rem 0.3rem;}
table.orderDetailTable input[type="text"]{width:12px; height:15px; border-radius:0;}
.selectAll{margin: 10px 0 0 16px; float: left; line-height: 14px;}
.buttonWrapper .selectAll{margin:6px 0 0 5px;}

table.prodSearch_lV th{padding: 0.5rem 0.3rem 0.5rem 0.3rem;}
table.prodSearch_lV td{min-width: 20px;}
table.prodSearch_lV .whsIcon{text-indent: -5000px;}
table.prodSearch_lV td a, table.mainCatTable tr td a, table.homeCat_list tr td a{word-wrap:break-word;}
.productDetailWrapper{width:100%; padding: 20px 0 0 0;}
.productDetailWrapper .imageThumb{padding: 10px 0 0 0;}
.productDetailWrapper p.head, .editAccount p.head{font-size:1.30em;}
.productDetailWrapper .itemName{font-size:1.80em; margin:0 0 10px 0;}
.productDetailWrapper .imageThumb img{margin: 0 10px 0 0;}
.pd_imageWrapper{float:left; width:260px;}
.pd_infoWrapper{float:left;width:70%;}
.tabControl{float: left; margin: 120px 0 0 0; width: 100%;}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus{background: #333; color: #fff;}
.nav-tabs > li > a{border-radius:0; color: #000;}
.tabControl .nav{margin-bottom:0; padding: 0; }
.tabControl .tab-content{border: solid 1px #333; padding: 10px; min-height: 200px;}
.tabControl .tab-content p{font-size: 1em;}
.resultsMainWrapper{float: left; margin: 0; width:100%;}
.marginTop{margin-top: 44px;}
.marginTopPromo{margin-top: 68px;}
.productSearchResult ul.homeCatView .product-content-wrapper{min-height: 200px; height: auto;}
.productDetailWrapper p{font-size:1.20em; }
.productDetailWrapper table.matrixHandling{ font-size: 12px; margin:5px 0 15px 0; width:100%;}
.productDetailWrapper table.matrixHandling th{background: #fbc800; min-width:100px; color: #333; }
.productDetailWrapper table.matrixHandling td, .productDetailWrapper table.matrixHandling th{border: 1px solid #767878; padding: 3px 5px 3px 5px;}
.productDetailWrapper table.matrixHandling input[type="text"], .productDetailWrapper table.productComponents input[type="text"]{border-radius:0; width:35px; padding: 3px; margin: 1px 0 0 3px; height: 15px;}
.matrixItemSection, .componentBasedItemSection{width:100%; clear: left; float: left; max-width: 630px; overflow-x:auto; margin:25px 0 0 0; }
.productDetailWrapper table.productComponents{font-size: 12px; width: 100%; margin: 10px 0 0 0;}
.productDetailWrapper table.productComponents th{background: #333; width:auto; color: #fff; }
.productDetailWrapper table.productComponents td, .productDetailWrapper table.productComponents th{padding: 3px 6px 3px 6px; text-align: left;}
.productDetailWrapper table .open{background: url("../images/Sprite.png") no-repeat scroll  -10px -683px rgba(0, 0, 0, 0); float: right; height: 10px; width:10px;}
.productDetailWrapper table .close{background: url("../images/Sprite.png") no-repeat scroll  -10px -698px rgba(0, 0, 0, 0); float: right; height: 10px; width:10px; opacity : 1;}
.productDetailWrapper .additionaTable td{border-bottom: 1px solid #e2e2e2;}
/*-------------------------------
			Footer
--------------------------------*/
.footer {
	background: none repeat scroll 0 0 #353434;
	clear: both;
	float: left;
	padding: 10px 0 10px 0px;
	width: 100%;
	margin: 20px 0 0 0;
 }

	.footer p {
		font-size: 0.85em;
		margin: 0 0 0 5px;
		color: #fff;
	 }
	 
	/*
	--------------------------
	Slider
	-------------
	*/
	
	.slider {
    width: 235px;
    height: 167px;
  text-align:center;
    float:left;
    margin-top: 20px;
}

.slide {
    width: auto;
    height: auto;
    max-height:100%;
    min-width: 160px;
    position: relative;
  top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../assets/img/blank.gif) no-repeat;
}

.arrow.prev {
    opacity: 0.2;
    left: 20px;
    background-image: url(img/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.2;
    right: 20px;
    background-image: url(img/paddle_next_999.png);
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url(img/paddle_prev_fff.png);
}

.arrow.next:hover {
    opacity: 1;
    background-image: url(img/paddle_next_fff.png);
}



/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.slider .nav {
    text-align: left;
    display: block;
    position: absolute;
    z-index: 99;
    left: -11px;
    bottom: -60px;
    height: 50px;
}

.nonDraggableImage{
    -webkit-user-drag: none;
}

.slider .nav .wrapper {
    margin: 0 auto;
    width: 245px;
    white-space:nowrap;
    overflow:hidden;
    padding: 1em 0 .8em;
    position: relative;
}

.slider .nav ul {
    margin: 0;
    width: 100%;
    padding: 0 15px;
}
.nav .wrapper a.nextSlide{ background: url(../images/HedaerLeftArrow.png) no-repeat; position: absolute; width: 20px; z-index: 99; left: 8px; top: 38px; text-indent: -5000px;}

.nav .wrapper a.prevSlide{background: url(../images/HedaerRightArrow.png) no-repeat; position: absolute; width: 20px; top: 38px; z-index: 999; right: -15px; text-indent: -5000px;}
.slider .nav .dot, .slider .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 5px;
    width: 62px;
    height: 52px;
    border: 1px solid #e2e2e2;
}

.dots .dot a {
    position: absolute;
    width: 60px;
    height: 50px;
    white-space: nowrap;
    background: #FFF;
    border: 1px solid transparent;
    outline: none;
    text-align: center;
   
}
.dots .dot a img{
position: relative;
  top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	max-height: 50px;
	}
.dots .dot a.active {
    border-color: #fff;
}

.imageSliderWrapper{text-align:center; width:100%; min-height:250px; height:auto;}
.imageSliderWrapper img{max-width:450px; min-width:350px; height: auto;}
.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../images/blank.gif) no-repeat;
}

.arrow.prev {
    opacity: 0.2;
    left: 20px;
    background-image: url(../images/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.2;
    right: 20px;
    background-image: url(../images/paddle_next_999.png);
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url(../images/paddle_prev_fff.png);
}

.arrow.next:hover {
    opacity: 1;
    background-image: url(../images/paddle_next_fff.png);
}

.errorMsgContainer{
position: fixed; z-index: 9999; top: 126px; text-align: center; width: 100%; max-width: 100%;
}
.orderSearchField{padding-right:30px !important; width:182px;float: left;  }
.orderSearchButton{background: url("../images/Sprite.png") no-repeat scroll -5px -1479px rgba(0, 0, 0, 0); margin: 4px 0 0 -25px; padding: 0 0 0 25px; text-indent: -5000px; border: none; float: left; height: 20px;}
table.price_calculation, .quatationSearch, .fullWidth, table.newAccountCustomer{width:100%;}
.price_calculation .buttonWrapper button.buy{margin:0 0 0 3px;}
.modal{width:auto !important;}
.modal .messageDlgView, .modal .emailFormView, .modal .confrimDlgView, .modal .loginFormView, .modal .forgotPassView, .modal .changePassView, .modal .createListView, .modal .selectCustView, .modal .welcomeMessageView{max-width:500px; width:100%; min-width:400px;}

/* BEGIN ADM-015  */
.modal .notAvailableDlgView
{
	max-width:600px; 
	width:100%; 
	min-width:600px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 20px;
}
/* END ADM-015 */


.modal .viewPrintOrderWrapper{ width:730px;}
.modal .viewPrintOrderWrapper .shopping-cart-wrapper{width:100% !important;}
.modal .welcomeMessageView h3{color:#b10808;}
.modal .welcomeMessageView p{font-size: 1.2em;}
.modal .priceCalcView, .modal .imageSliderView{width:100%;  max-width:600px;}
.modal .selectCustView{max-height:320px;}
.modal .selectCustView .modal-body{max-height:240px !important;}
.modal .imageSliderView{min-width:500px;} 
.modal .priceCalcView p{font-size: 1em; }
.modal .priceCalcView h4{font-size: 1.20em; font-weight: normal; }
.modal .priceCalcView table.price_calculation input[type="text"]{width:150px; height:16px;}
.modal .priceCalcView table.price_calculation .select-style{width:162px; margin:0 0 10px;}
.modal .priceCalcView table.price_calculation td{white-space: nowrap;}
.modal p.note{
	font-size: 0.90em;
    padding: 5px 15px;
}
.modal p.note b{color:#b10808;}
.changePassView .loginButton{margin-right:0;}
.changePassView label{
	width:190px !important;
}

.itemWebTxt{
    clear: left;
    display: block;
    max-width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.itemWebTxtFull{
    clear: left;
    display: block;
    max-width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-line;
    word-wrap: break-word;
}
table.addItemsTable select.unitCode{width:100%; height: 23px; padding: 0; margin: 0;}
.order_search_tbl_wrapper{width:100%; float:left;}
.order_search_tbl_wrapper #order_history_tbl_id tr td, table.invoiceHistoryTable tr td {text-align: center !important;}
table.accountInformationTable tr td {text-align: center;}
#order_history_tbl_id .actions{width:70px;}
.scrollTableTop{margin: -150px 0; display: inline;}
.requestReceivedConf{width:100%; float:left; text-align: center; padding-top:70px;}
.requestReceivedConf p.head{font-size:1.80em; font-weight:normal; color:#fbc800; margin: 5px 0 25px 0;}
.requestReceivedConf p{font-size: 1.80em;}
p.textMsg{margin-bottom:25px;}
.requestReceivedConf a{text-decoration: underline; color: #333; font-size: 1.20em;}
label.error{color:#b10808;}
select.error, input.error, textarea.error{border: solid 1px #b10808 !important;}
.submitReqErrorMsg{float:right !important; padding:0;}

.tabControl ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.tabControl ul li {
    float: left;   
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 4px;    
    color: #333;
    cursor:pointer;
}
.tabControl ul.catList li {
    float: none;   
    border-bottom-width: 0;
    margin: 0px 0px 0px 0px;
    padding: 1px;    
    color: #333;
    cursor:default;
    list-style:none;
    
}

.tabControl ul.catList li:before{
	display:		inline-block;		
  	width:		0; 		
  	height:		0; 	
	border-top:		solid transparent;
	border-bottom: 	solid transparent;
	border-left:	        solid #fbc800;	
	border-width:	5px;
	content:		' ';
	margin-right:	5px;
}

.tabControl #mainView {
    border: 1px solid black;
	clear: both;
	padding: 10px;
	min-height: 150px;
}
.tabControl .active {
    background-color: #333;
    color: #fff;
}
.shoppingList p{font-size: 1em;}
.shoppingList p.head{font-size: 1.5em;}
.shoppingList .buttonWrapper a{margin-right:3px;}

.newAccountView{max-width:680px; width:auto; min-width:500px; min-height:320px;}
.newAccountView h3{font-size:1.20em; line-height:0;}
.newAccountCustomer{width:660px;}
.newAccountWebUser p{font-size:.90em; padding-bottom:0px;}
.newAccountView .buttonWrapper .clearAll, .newAccountView .buttonWrapper .backButton {margin-right:3px;}
.newAccountCustomer .addressLines, .newAccountWebUser .addressLines{float:left;}
.newAccountWebUser .wrapper label.fax{clear:none; margin-left: 20px;}
.newAccountWebUser p.errorMsg{padding:0px 0 0 5px;} 
.newAccountWebUser .wrapper p{font-weight:bold; margin:0px;}
.newAccountCustomer .addressLines input{clear:left;}
.newAccountCustomer .wrapper, .newAccountWebUser .wrapper{padding: 5px; clear:left;}
.newAccountWebUser .wrapper{padding:2px 5px 2px 5px ;}
.newAccountCustomer .wrapper .enterCity{margin-left: 120px; }
.newAccountCustomer label, .newAccountWebUser label{width:110px !important; float:left; padding:0 10px 0 0 ; word-wrap: break-word;}
.newAccountWebUser .verifyView label{width:180px !important;}
.newAccountCustomer input, .newAccountWebUser input{width:150px; float:left; height:15px;}
.newAccountCustomer .select-style, .newAccountWebUser .select-style{width:162px; float:left; margin-left:0;}
.newAccountCustomer .select-style select, .newAccountWebUser .select-style select{width:115% !important;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.newAccountCustomer .select-style select, .newAccountWebUser .select-style select{width:107% !important;}
}
.newAccountView .buttonWrapper {margin:0 10px 0 0;}
.newAccountView .buttonWrapper a{margin:0 2px 0 0;}
.newAccountCustomer h3{line-height: 0;}
.newAccountView ul{padding: 0; margin: 0; float: right;}
.newAccountView ul li{background: none; border-radius:20px; padding: 2px 8px; list-style: none; margin: 0 5px 0 0; float:left; color:#ccc; font-weight: bold;}
.newAccountView ul li.active{background: #e6c200; color:#333; border:1px solid #ca8904;}
.newAccountView .newAccountUser input[type="text"]{margin: 0 0 0 15px; height: 14px; width:50px;}
.newAccountView .newAccountUser input[type="radio"]{margin: 3px 5px 0 0 !important;}
.newAccountView .newAccountUser label{width:auto !important;}
.newAccountView .newAccountUser p{font-size:1em;}
.newAccountWebUser .mendFields{padding-right:5px !important;}
#promotionSection .bar, #promotionSection .barProductSearch {position: relative !important; float:left; top:10px;}
.newAccountView .mendFields, .mendFields{font-size: 1.5em; color:#cc0000; padding:5px 0 0 5px; float:left;}
.mandatoryFields, .mendFields{font-size: 1.5em; color:#cc0000; padding:5px 0 0 5px; }
.shoppingList p.shoppingListMessage b{color:#b10808;}
.createNewList{width: 100%; float: left; margin: 10px 0 20px 0;}
.createNewList p, .new-search p{font-size:1.2em !important;}
.shoppingListEntry .buyIcon {padding: 2px 0px 0 27px; text-indent: 0; margin:0 0 0 8px ; width:auto;cursor: pointer;}
.shoppingListEntry table.topItemsTable .select-style{margin:0;}
.createListView label{width:150px;}
.createListView input[type="checkbox"]{margin:4px 0 0 0;}

.bestOffersWrapper{float: left; width:99.8%; border: 1px solid #e2e2e2; position: relative; margin: 0 0 10px 0; height:135px; overflow: hidden;}
.bestOffersWrapper .heading{background: #333; color: #fff; padding: 2px 0 2px 0;; float: left; width:100%;}
.bestOffersWrapper .heading p, .bestOffersWrapper p{font-size: 1em; margin: 0; padding: 0 0 0 10px;}
.bestOffersWrapper .heading a{color:#fff; padding: 0 10px 0 0;}
.bestOffersWrapper a{color:#000;}
ul.bestOffers{
	list-style: outside none none;
    margin: 0 40px;
    text-align: left;
    position: relative;
    clear: left;
    padding: 15px 0 0;
}
ul.bestOffers li{
	float: left;
    font-size: 0.85em;
    height: auto;
    margin: 0 25px 10px 25px;    
    padding: 2px;
    position: relative;
    width:auto;
    text-align: center;
    max-width:100px;
    }
    ul.bestOffers .slideLeft{position: absolute; left:-43px; top:40px; background: url("../images/HomeFavLArrow.png") no-repeat 0 0; text-indent: -5000px; padding: 10px 15px; border:none;}
    ul.bestOffers .slideRight{position: absolute; right:-43px; top:40px; background: url("../images/HomeFavRArrow.png") no-repeat 0 0; text-indent: -5000px; padding: 10px 15px; border:none;}
    ul.bestOffers .slideLeft:hover, ul.bestOffers .slideRight:hover{opacity:.5;}
  ul.bestOffers li img{width: auto; height:60px;}
  ul.bestOffers li p{white-space: nowrap; max-width: 125px; overflow: hidden; text-overflow: ellipsis;}
  .changeCustomer p{font-size:1em;}
  .changeCustomer  .currentCustomer label{float:left; padding:0 20px 0 0 ;}
  .fixed{position: fixed !important; margin-top:-5px; top:110px;}
  .fixedCat{position: fixed !important;}
  .requestNewLine .quantity{width:50px !important;}  
  .requestNewLine .description{width:98% !important;}
  
  
  @media screen and (min-width: 500px) and (max-width: 800px) {
  .main-search{width:100%}
  .main-search input[type="text"]{width:52%;}
  .functMenu{float:left;}
  }
  @media screen and (min-width: 300px) and (max-width: 750px) {  
  ul.functionMenu li{padding-top: 5px;} 
  .fixedHeader{width:85%;} 
  .main-search{width:100%}  
  ul.dropdown, ul.functionMenu{width:95%;}
  .fixedHeader1{z-index:1100;top:175px;}
  }
  @media screen and (min-width: 785px) and (max-width: 950px) {
  .main-search{width:100%; clear:left; margin: 20px 0 20px 0;}
  .fixedHeader1{z-index:1100;top:125px;}
  }  
	@media screen and (min-width: 350px) and (max-width: 500px) { 
	.main-search input[type="text"]{width:60%;}  
	.shoppingCartButton, .favButton{margin-top:20px;}
  }
  
  
  
  
  
  
  
  
  
  
  
#slides_control > div{
  height: 200px;
}
#slides_control img{
  margin:auto;
  width: 100%;
  height:200px;
}
#slides_control {
  position:relative;
  width: 400px;
  clear: left;
  width:100%;
}
   .homeCatalogWrapper .carousel-indicators{top:170px !important;}
 .homeCatalogWrapper .carousel-indicators li{    
    position: relative;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow:  -3px 2px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow:  -3px 2px 2px 0px rgba(0,0,0,0.75);
    box-shadow:  -3px 2px 2px 0px rgba(0,0,0,0.75);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
    cursor: pointer;
    }
  .carousel-control{display: none;}
.homeCatalogWrapper  .carousel-indicators .active{background-color: #fbc800 !important;}
  
  ul.cartFavIcon {
  text-align: left;
  display: inline;
  /* ADM-023 */
  /* margin: 0; */
  margin: 12px 0px 0px 0px;
  list-style: none;
  float:right !important;;
}
ul.cartFavIcon li {  
  display: inline-block;
  position: relative; 
  /* ADM-023 */
  padding: 3px;
  cursor: context-menu;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  
}

ul.cartFavIcon li ul {
  padding: 0;
  position: absolute;
  top: 40px;
  left: -340px;
  min-width: 380px;
  z-index:999;
  margin:0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  border: solid 1px #333;
  visibility: hidden;
  max-height:294px;
  overflow-y:auto;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul.cartFavIcon li ul li { 
  background: #fff; 
  display: block; 
  color: #333;  
  padding: 10px 15px;
  height: 30px;
  border-bottom: 1px solid #e2e2e2;
  font-size: .85em;
  width:92%;
  float:left;
  height:auto;
}
ul.cartFavIcon li ul li.grandTotal{height:20px; font-weight: bold; text-align: right; border-bottom: none;width:92%;}
ul.cartFavIcon li ul li.grandTotal span{padding: 0 10px 0 0; color:#cc0000;font-size: 15px}
ul.cartFavIcon li ul li.grandTotal span.orderTotal{color:#cc0000;}
ul.cartFavIcon li ul li.grandTotal:hover{background: #fff; cursor: default; color:#333;}
ul.cartFavIcon li ul li:hover { background: #333; color:#fff; }
ul.cartFavIcon li ul.display {
  display: block;
  opacity: 1;
  visibility: visible;
}
.shoppingCartTableWrapper .focItem{float:left; padding: 5px 5px 0 0 ;}
ul.cartFavIcon li ul li span.description{float:left; width: 177px;}
ul.cartFavIcon li ul li span.quantity{float:left; padding: 0 20px; width:50px; text-align: center;}
ul.cartFavIcon li ul li span.price{float:left;}

.select-style {
    padding: 0;
    margin: 0 0 0 5px;
    border: 1px solid #ccc;
    width: 120px;    
    overflow: hidden;
    background-color: #fff;
    background: #fff url("../images/HedaerDownArrow.png") no-repeat 95% 50%;
}


.select-style select {
    padding: 2px 25px 2px 4px;
   width: 125% !important;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
            margin: 0;
            height: 22px !important;
            line-height: normal;
}
.shoppingCartTable .select-style{
	
	padding: 0;
    margin: 0 0 0 0px;
    border: 1px solid #ccc;
    width: 100% !important;    
    overflow: hidden;
    background-color: #fff;
    background: #fff url("../images/HedaerDownArrow.png") no-repeat 95% 50%;
}
.select-style select:focus {
    outline: none;
}
/* ADM-023 START */
/* input[type="text"], input[type="password"]{height:16px;} */
input[type="text"], input[type="password"]{
		border: 1px solid #e7e7e7;
		box-shadow: none;
		/*display: block;*/
	    width: 100%;
	    /*height: 45px;*/
	    height: 31px;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.42857143;
	    color: #000;
	    background-color: #fff;
	    background-image: none;
	    border-radius: 3px;
	    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	    /*box-sizing: border-box;*/
}
/* ADM-023 END */
.homeCat_list .select-style, ul.grid .select-style, .mainCatTable .select-style, .prodSearch_lV .select-style{width:72px;}
.modal  .loginFormView{min-width:495px !important;} 
.loginFormView .select-style{margin:0; width:261px;}
.loginFormView .modalFooter{margin:0 70px 0 0;}
.loginFormView input[type="text"],input[type="password"]{width:250px;}
table.changeCustomer .select-style{width:166px !important;}
.gridlayout .select-style select{width:130% !important;}
.payment-information .select-style{width:64%; margin-left: 0; margin-bottom: 16px;}
.loginFormView .loginButton{margin-top:15px; clear:left;}
.shoppingCartTableWrapper .focItem{float:left; padding: 5px 5px 0 0 ;}
table.Comparetable .select-style{margin: auto !important;}

.invoiceDetailPage .buyColWidth{max-width:110px}

.comparePageWrapper .CompareCartImg{display: inline-block; vertical-align: middle}

.comparePageWrapper .middle{ vertical-align: middle}

.edit_details_cart .width76 {width:76% !important;}

.editBackground
{
	border-bottom: 1px solid #ccc;
	background: #e2e2e2;
}

.LoaderStyle {
	
	   		padding: 0px;
            margin-left: 43%;
            margin-top:23%;
            width: 8%;
            text-align: center;
            border: 3px solid #a9a9a9;
            color: #fff;
            cursor: wait;
            line-height: 8px;
}
.LoaderImg {
	background: url("../images/ajax_loader.gif") no-repeat;
	height: 31px;
	margin-left: 35%;
	
}
.EmptyCartImg
{
	background: url("../images/EmptyCart.png") no-repeat;
	height: 81px;
	margin-left: 56%;
	
}
.EmptyShoppingCartMsg
{
	color:gray;
	font-family: helvetica,sans-serif;
	text-align: center;
	padding-top: 7%;
}
.EmptyShoppingCartMsg .smallFont { font-size: 20px; }
.EmptyShoppingCartMsg .bigFont { font-size: 23px; }
.LoadingMsg
{
	padding-left:10px;
	color: #a9a9a9;
	padding-bottom: 6px;
}
.viewPrintOrderWrapper{}
.viewPrintOrderWrapper table.viewPrintOrder{width:100%;}
.viewPrintOrderWrapper table.viewPrintOrder td{max-width:220px !important; }
.viewPrintOrderWrapper .orderNote{font-size:0.8em;}
.shopping-cart-wrapper .orderNote{font-size:1.2em;margin-left:6px;}
.viewPrintLogo{width:100%; text-align: center;}
.printThisPage{ background: url("../images/Print.gif") no-repeat 3px 0px; font-size:.90em; padding: 0 0 0 22px;}


.interruptedCartTableWrapper .delete-cart-icon {
	display: inline-block;
	line-height: 33px;
}
.interruptedCartTableWrapper .delete-cart-icon {
	background-position: 0 2px;
}
.invoicePage>p, .quotationPage>p, .reqSearch>p, .reqSearch .new-search>p,
.editAccount>p { padding-left: 5px;}
.mainCatListScrollTable{
	/* padding-right: 5px; */
	box-sizing: border-box;
}
.reqSearch .mainCatListScrollTable {
	padding-right: 0;
}
.reqSearch .mainCatListScrollTable th:first-child span { padding-left: 5px;}
td.goodsMarking{white-space:pre-line; word-wrap:break-word;}
.new-search .search-form {padding-left: 15px;}
.new-search .search-form .select-style { width: 94%;}

table.topItemsTable td.num-align, .accountInformationTable td.num-align { text-align: right !important; padding-right: 10px !important;}
.editAccount p, .changeCustomer p, .changeCustomer .currentCustomer, .changeCustomer .new-search { padding-left: 5px !important;}
p.defaultPaymentMethod {
	padding-left: 32px !important;
}
.shopping-cart-wrapper .cart-options,.shopping-cart-wrapper .cart-options-shopCart, 
.shopping-cart-wrapper .pageTitle, #AddItems .head, #CopyPasteArea .head {
	margin-left: 5px;
}
.shopping-cart-wrapper .shoppingCartTableWrapper, .interruptedCartTableWrapper { width: 79% !important;}
p.shoppingInfowrapper { width: 78%;}
#AddItems .head, #CopyPasteArea .head, p.shoppingInfowrapper {padding-right: 5px;}
.shoppingCartTableWrapper.shoppingCartPromotion{ width: 100% !important;}

.invoiceDetailPage .page-heading,
.invoiceDetailPage section p,
.accountTransactionDetailPage section p,
.productDetailWrapper p.head, .editAccount p.head,
.quotationPageDetailPage .page-heading,
.accountTransactionDetailPage .page-heading,
.quotationPageDetailPage section p, 
.download, .new-search p, .createNewList p,
.shoppingList p.head, .shoppingListEntry .page-heading p,
p.editAccountCust b, .paymentInformationWrapper>p,
.copyPasteArea .informationCon p, .copyPasteArea .informationCon>span {
	padding-right: 5px;
	padding-left: 5px;
}
.pd_imageWrapper .slider .nav { left: -5px;}
section[name="quotationLine"]>a, .quotationPageDetailPage section[name="quotationLine"] a.right { margin-right: 5px; }

.accountTransactionDetailPage .new-search { padding-left: 0; padding-right: 0;}

.accountInformationTablewrap { width: 100%; }

p[ng-model="isCollapsed"], p[ng-model="isAgreementCollapsed"], p[ng-model="isCollapsed_newList"] { cursor: pointer; }

.mainMenuList{
	-webkit-transition: 1s;
       -moz-transition: 1s;
        -ms-transition: 1s;
         -o-transition: 1s;
            transition: 1s;
}
.mainMenuList {
	-webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"]{
	cursor:default;
}
button[disabled="disabled"] { cursor: default;}

.shoppingListEntry button[disabled="disabled"] {cursor: default;}

.GridSelected {
	background-color: white !important;
	background: url("../images/Sprite.png") no-repeat -7px -1784px;
	padding-bottom: 2px !important;
	padding-left: 2px !important;
	padding-right: 20px !important;
	padding-top: 2px !important;
}

.TableSelected {
	background-color: white !important;
	background: url("../images/Sprite.png") no-repeat -7px -1832px;
	padding-bottom: 2px !important;
	padding-left: 2px !important;
	padding-right: 20px !important;
	padding-top: 2px !important;
}

.TableView {
	background-color: white !important;
	background: url("../images/Sprite.png") no-repeat -7px -1808px;
	padding-bottom: 2px !important;
	padding-left: 2px !important;
	padding-right: 20px !important;
	padding-top: 2px !important;
}

.GridView{
	background-color: white !important;
	background: url("../images/Sprite.png") no-repeat -7px -1760px;
	padding-bottom: 2px !important;
	padding-left: 2px !important;
	padding-right: 20px !important;
	padding-top: 2px !important;
}



.CompareDiv {
	margin-left: 78%;
	margin-top: -1.4%;
	
}

.CompareDivMainCat {
	margin-left: 78%;
	margin-top: -1.4%;
	
}
.CompareDivYouMayLikeCat {
	margin-left: 77%;
	margin-top: -1.4%;
	
}

.TopItemsquantityColumn {min-width: 91px !important;}

.dpiDiv {
	display: inline-block;
	float: left;
}
.deliveryPaymentInformation .mendFields {
	padding-left: 8px;
}
.deliveryPaymentInformation .select-style select{padding-right: 35px !important;}
.deliveryPaymentInformation .nopadding {
	padding-left: 0;
}
.catalogViewPromotion .listview .select-style{margin:0;}
.alternativeItemsView .listview .select-style{margin:0;}

.BlackBoldAnchor a {
	font-weight: bold !important;
text-decoration: none;
color: #333 !important;
}
.buyButtonwidht{
	min-width:45px;
	
}



.rightWithPadding {
	text-align: right;
padding-right: 10px;
}
.bestOffers #filter-results{min-height: 850px;}
.cookiesDisclaimer{background:#2f2f2f; color: #fff; height: 46px; float: left; width:98%; padding: 10px 0 10px 2%; margin: 5px 0 0 0;}
.cookiesDisclaimer p{font-size: 1em; max-width: 850px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin: 0; float:left;}
.cookiesDisclaimer a{color:#fff; padding-left:10px; float: left; font-weight:bold;}
.cookiesDisclaimer .buttonWrapper{padding: 2px 12px 0;}

.disclaimerWrapper{padding: 50px;}
.disclaimerWrapper h3{margin: 10px 0 5px 0;}
.disclaimerWrapper p{font-size:.90em; margin: 0 0 10px 0;}
.availableMarginLeft{
	
	padding-left: 20px;
	text-align:center;
}
.attentionImage{position: absolute;top: 0; left:0; width:auto !important; height:35% !important;}
.slider .attentionImage{top:20px; z-index:1;}

.quickViewPopDeatilWrapper{
	padding:0px;
	
}
.newSearch{
	
	padding-left:5px;
}
.onliniePaymentOption span{width:auto !important;}
.paymentOptions{margin:-11px 0 0 10px;}
.paymentOptions img{width:45px; height:auto; margin:0 5px 0 0;}
}
_:-ms-lang(x), select { width:165% !important; }
_:-ms-lang(x), .gridlayout .select-style select{width:165% !important;}
_:-ms-lang(x), .select-style select{padding: 0 0 0 0;}
_:-ms-lang(x), .addItemsTable .select-style select, _:-ms-lang(x), .submitRequestTable .select-style select{width:115% !important;}
 @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .select-style select{width:165% !important;}
}
.catalog_Search{
	width: 226px;
	max-width:230px;
}
.gridViewCompareImage{
	height:100%;
	width:100px;
}
/* Left Search Start */
.leftSearchWrapper{
	width:25%;
	float:left;
}
.leftSearchWrappercollapse{
	width:3% !important;
	float:left;	
}
.leftSearchWrapper #filters{
	width:auto;
	    margin-top: -2px;
}
.leftMenuExpandView #filters{
	width:99.5%;
	margin-top:-2px;
}

#filter-results .filtersInfowrapper {
    width: 98%;
    margin: -10px 10px 20px 0px;
    float: left;
}
#productSearchResultView .filtersInfowrapper{
	width:98%;
	margin: 0px 8px 20px 0px;
}
#hdr01,#prod_hdr01{
  height:30px;
  /*ADM-023 START*/
  /*border:1px solid #fbc800;
  background-color:#fbc800;*/
  background-color:#078694;
  /*ADM-023 END*/
}

#hdr02{
  height:30px;
  border:1px solid #fbc800;
  background-color:#fbc800;
  clear:both;
}

.hdr01Collapse,.hdr02Collapse{
  width:32px !important;
}
.hdr01Expand,.hdr02Expand{
  widht:auto !important;
}
#hdr01 img{
  height:20px;
}
#ctl00_01{
  height:25px !important;
}

#ctl00_03{
  float:right !important;
}

#ctl00_02{
  float:right !important;
}

#sp100_01{
  font-family: sans-serif;
  font-size:16px;
  line-height: 2;
}

#hdr02 img{
  height:20px;
}
#ct200_01{
  height:25px !important;
}

#ct200_03{
  float:right !important;
}

#ct200_02{
  float:right !important;
}

#sp200_01{
  font-family: sans-serif;
  font-size:16px;
  line-height: 2;
}
#hdr01_content{
  height:auto;
  border:1px solid #fbc800;
}
#hdr02_content{
  height:auto;
  border:1px solid #fbc800;
}

.leftMenuCollapseView{
	width:3% !important;
}
.leftMenuExpandView{
	float:left;
	width:24%;
}
#ankl00_01,#ank200_01{
	text-decoration: none !important;
}


#filter-results, #productSearchResultView {
	float: right;
	width: 74%;
 }
.mainCatListScrollTable {
    overflow-x: auto;
    width: 100%;
}
#Newfilters {
	float: left;
	width: 100%;
	border: 0px solid #e2e2e2;
	background-color: #e2e2e2;
 }

	#Newfilters h1 {
		margin: 0;
		font-size: 1.3em;
		padding: 0 0 5px 5px;
		float: left;
		line-height: 20px;
	 }

	#Newfilters fieldset {
		margin: 0 0 0 5%;
		margin-right: 0;
		max-height: 150px;
		overflow-y: scroll;
		overflow-x: hidden;
		border: none;
		float: left;
		width: 95%;
	 }
#Newfilters fieldset  input[type="radio"], #request_submit_tbl input[type="radio"]{margin: 0 5px 0 0; height: auto;}
		#Newfilters fieldset input {float: left;}

		#Newfilters fieldset select {
			float: left;
			width: 150px;
			display: none;
		 }

.filters input, .filters label, #Newfilters p {
	text-align: left;
	padding: 0 0px 0 10px;
	font-size:.80em; 
 }

#Newfilters p {
	clear: left;
	font-size: 1.2em;
 }
#Newfilters p.head{margin: 6px 0 0 0;}
	#Newfilters p.filter-name {margin: 10px 0 0 0; padding-bottom:0; float:left; font-size: 1em;}

.filters label {
	line-height: 15px;
    max-width: 178px;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
 }
 
 .NewSearchSep{
	border-bottom: 1px solid #ccc;
	width: 100%;
	float: left;
	margin-bottom: 4px;
 }
  .SearchSep{
	width: 100%;
	float: left;
	margin-bottom: 2px;
 }
 .catfilterwrapper{
 	margin:0 0 0 10px !important;
 	float:left !important;
 	width:97%
 }
/* Left Search End */
.ng-invalid-pattern{
	border:solid 1px #b10808 !important;
}
.paginationCtrlWrapper{
	background:#353434;
	color:#fff;
	width:100%;
	border-bottom: 1px solid #fbc800;
	float:right;
	height:50px;
	margin-top:0px;
}
.paginationCtrls{
	float:right;
}
.paginationCtrls ul li{
	list-style:none;
	display:inline-block;
	cursor:pointer;
}
.paginationCtrls ul li a{
	color:#ffffff !important;
	text-decoration:none !important;
}

.paginationCtrls ul li a.moreItemsArrow{
    background: url("../images/Sprite.png") no-repeat scroll -9px -322px rgba(0, 0, 0, 0);
    height: 20px;
    width: 20px;
    float: right;
}
.paginationCtrls ul li a.moreItemsLeftArrow{
background: url("../images/Sprite.png") no-repeat scroll -9px -322px rgba(0, 0, 0, 0) !important;
    height: 20px;
    width: 20px;
    background-position: -5px -304px !important;
    float: left;
}
.paginationCtrls ul li a.firstPageIcon{
	background: url("../images/Sprite.png") no-repeat scroll -9px -322px rgba(0, 0, 0, 0) !important;
    height: 20px;
    width: 20px;
    background-position: -5px -1029px !important;
    float: left;
}
.txtCenter{
	text-align:center !important;
}
.contentRight{
	float:right !important;
}
.paddingRight{
	padding-right:0px !important;
}
.customerNameFuncMenu {
	text-align: right;
	font-size: 0.62em;
	line-height: 10px;
	max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: right;
}
.orderlineAddedInCart {
    float: none;
    display: inline-block !important;
    vertical-align: middle;
}
.priceCalculationLink {
    text-decoration: initial !important;
    color: inherit !important;
    cursor: default !important;
}
.priceCalculationText {
    text-decoration: initial;
    cursor: default !important;
}
.ui-icon-circle-triangle-e{
	   background: url("../images/Sprite.png") no-repeat -6px -64px;
    border: none;
    text-indent: -5000px;
    width: 20px;
    padding: 5px 0;
}
.ui-icon-circle-triangle-w{
	background: url("../images/Sprite.png") no-repeat -6px -64px;
    border: none;
    text-indent: -5000px;
    width: 20px;
    padding: 5px 0;
    background-position: -7px -1058px;
}
.checkBoxleft{
	float: left;
    margin-right: 20px;
}
.checkBoxleft a:hover {
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none !important;
}
.topItemsTable th,.topItemsTable td{
	width:10%;
	padding:10px !important;
}
.topItemsTable th:first,.topItemsTable td:first{
	width:15% !important;
}
.andOrRadio{
	width: 34%;
    position: absolute;
    top: 20px;
    left: 547px;
    font-weight: 600;
    font-size: smaller;
}
.andOrRadio label{
	font-size: 1em;
	font-weight:bold;
}
.availImage{
	max-height: 15px;
    max-width: 15px;
    margin-top: 3px;
    margin-left: 5px;
}
.availHeight{
	max-height:20px;
}
.buttonWrapperGrid {padding: 2px 0px 5px 0;}

.availGridSpan span{
	padding-top:0px;
}

.subCatHeader {
	display:block;
	padding-bottom: 19px;
}

.subCatLeft{
	float:left;
}
.subCatRight{
	float:right;
}
.subCatHeader a{
	color: #fff !important;
    font-size: 113%;
    font-weight: bold;

}

a.subCatRight{
	font-size: 80%;
}

.cbp-hrsub-inner div:first-of-type {
    clear: left;
}

a.noCursor{
	cursor:default !important;
}
.delivery-buttons{
	width:805px;
}
.d-inline {
	display: inline-block;
}
.bredCrumControl{float: left; margin: 0 0 25px 0; width: 80%;display: inline-flex;}
.bredCrumControl p {
    min-width: 80px;
    margin-right: 0px;
}

.bredCrumControl ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.bredCrumControl ul li {
    float: left;   
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 4px;    
    color: #333;
    cursor:pointer;
   
}

.bredCrumControl .breCru a{
	 font-size: 11px;
}
.bredCrumControl ul.catList li {
    float: none;   
    border-bottom-width: 0;
    margin: 0px 0px 0px 0px;
    padding: 1px;    
    color: #333;
    cursor:default;
    list-style:none;
    line-height: 19px;
    
}

.bredCrumControl .breCru a:before{
	display:		inline-block;		
  	width:		0; 		
  	height:		0; 	
	border-top:		solid transparent;
	border-bottom: 	solid transparent;
	border-left:	        solid #fbc800;	
	border-width:	5px;
	content:		' ';
	margin-right:	5px;
}

.barCatalog {
	margin: 0px 0 0 0;
	padding:10px 0 0 0;
	float: right;
	width: 20%;
	text-align:  center;
	line-height: 1;
	/*position: fixed;*/
	z-index: 99;
	background-color:#fff; 
 }

 .paymentInformationWrapper table input {
		text-align: left;
 }
 
 .paymentInformationWrapper table{
 font-size:14px;
 }
 .reviewOrderShopCart{
    background-color: #fbc800;
    border: 1px solid #ca8904;
    position: relative;
    left: -5px;
    padding: 2px 10px;
}

.cartNewShopCart{
	background: #40403f;
	border: 1px solid #40403f;
    position: relative;
    left: -5px;
    padding: 2px 10px;
    color:#fff;
	
	
}

.processStatus button{
	line-height:25px;
	min-width: 200px;
}

.shopping-cart-wrapper .cart-options-shopCart {
	float: left;
	width: 18%;
	border: solid 1px #ccc;
	margin: 127px 0 0 0;
	min-height: 150px;
 }
 
 
 /* New css classes */
 
 .clearBoth{
 	clear: both;
 }
 
.container_reference {
    margin: 10px 0 10px 5px;
    max-width: 98% !important;
}

#copySec{
	
	overflow:auto;
}
 
/* ADM-020 START */
.procura_infoWrapper1{
	width:100%;
	clear:both;
}
.modal .modal-body .procura_infoWrapper1 *{
    clear: none;
    padding: 0px;
    font-weight: bold;
}
.modal .modal-body .procura_infoWrapper1 label{
    padding: 5px 0px;
    margin: 0px 20px 2px 0px;
}
.modal .modal-body .procura_infoWrapper1 input{
 	padding: 5px 12px 5px 12px;
    margin: 0px 20px 0px 0px;
}
.modal .modal-body .procura_infoWrapper1 button{
    padding: 8px 12px;
    margin: 0px 20px 0px 0px;
}
.modal .modal-body .procura_infoWrapper1 input.emailAddressWidth{
    width: 225px;
    clear: left;
}
.modal .modal-body .procura_infoWrapper1 label.emailAddressWidth{
    width: 249px;
}
.modal .modal-body .procura_infoWrapper1 input.quantityWidth {
    width: 59px;
 }
.procura_infoWrapper2{
	width:100%;
	clear:both;
	margin-top: 20px;
	font-weight: bold;
}
/* ADM-020 END */
/* ADM-023 START*/
.fixedHeader{
	background: url("../images/top.gif") repeat-x; 
	/* background: #078694; */
	width:100%;
	height: 166px;
	color: #fff;
}
.logo {
	c clear: both; */
	/* margin-top: 30px; */
 }
 .main-search .btn-primary {
	width: 50px;
	display: inline;
	height:44px;
	margin: 5px 0px 0px 0px;
 }
 #cbp-hrmenu {
 	/* margin-top: 3px; */
 }
 .cbp-hrmenu ul {
 	height: 44px;
 }
 #searchButton {
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	width: 60px;
 }
 .main-search i{
	font-size: 34px;
 }
 .unitSelection{
	margin-top: 165px;
 }

.procureTableView {
	background: url("../images/procura.png") no-repeat top left/20px;
	height: 26px;
	text-indent: -5000px;
	border: none;
	width: 25px;
	padding: 3px;
	cursor: pointer;
}

/*ADM-023 END*/