ul.grid li.gridlayout{background: url("../images/gradient-bg.jpg") no-repeat right 10px;}
ul.homeCatView li.gridlayout:nth-child(4n+4){background: none !important;}
#filter-results li.gridlayout:nth-child(3n+3){background: none !important;}
.shoppingListEntry table.topItemsTable .select-style select{width:150px !important;}
.gridlayout .select-style select{width:165% !important;}
table.submitRequestTable tr td .select-style select{width:120% !important;}