@charset "UTF-8";

:root {
	--grey-1: #FAFAFA;
	--grey-2: #e0e0e0;
	--grey-3: #a0a0a0;
	--grey-4: #606060;

	--primary-1: #97BE0D;
	--primary-2: #00B259;
	--primary-3: #007339;
	--primary-4: #004C26;
	--primary-5: #2D5829;

	--secondary-1: #B80072;
	--secondary-2: #6B0B47;
	--secondary-3: #48072A;
	--secondary-4: #004C55;
	--secondary-5: #078694;

	--tertiary-1: #FFE8C5;
	--tertiary-2: #F9D9A7;
	--tertiary-3: #FABD5D;
	--tertiary-4: #A7D4F9;
	--tertiary-5: #5183AC;
}


/*    G E N E R I C     ==========================    */
	body {
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		line-height: 1.5;
		font-size: 14px;
		color: #000000;
		background: #FAFAFA;
	}

	.container {
		background: #fff;
		padding-top: 25px;
		padding-bottom: 25px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
	}

	h1, h2, h3, h4, h5, h6, p { margin: 0 0 20px; }

	h1, h3 {
		color: var(--secondary-5);

	}

	h1 {
		font-weight: 100;
		font-size: 36px;
		margin-bottom: 40px !important;
	}

	h2 a.anchor-link,
	h2 {
		color: var(--primary-1);
		font-size: 30px;
	}

	h3 a.anchor-link,
	h3 {
		font-weight: bold;
		font-size: 24px;
		color: var(--secondary-5);
	}

	h4 {
		color: #000;
		font-style: italic;
		font-weight: 100;
	}

	h5 a.anchor-link,
	h5 {
		color: #000;
		text-transform: uppercase;
		font-size: 15px;
	}

	h6 {
		font-size: 14px;
	}

	a {
		color: var(--secondary-1);
	}

	h4 a.anchor-link {
		color: var(--secondary-5);
	}
	
	ol li {
		margin-bottom: 10px;
	}

	.user-guide #sidebar > div > ul > li {
		margin-bottom: 10px;
	}

	#sidebar a {
		color: var(--secondary-1);
		font-size: 13px;
	}

	#sidebar ul li li {
		margin-left: 10px;
	}

	#sidebar ul li li:before {
		content: '- ';
	}

	#main-content {
		border-left: 1px solid #ccc;
	}

	main {
		padding-top: 40px;
		padding-bottom: 60px;
	}

	pre {
		background: url(https://developer.cdn.mozilla.net/static/img/blueprint-dark.fd85a7a074ae.png) top center #fafbfc;
		border-left: 5px solid #FFAD0C;
	}

	.bg-dark {
		background: #004C26;
		padding: 0 10px;
		color: #fafafa;
		padding-bottom: 30px;
	}

	.bg-dark .btn-link {
		color: #fff;
		text-decoration: underline;
	}

	.bg-dark .btn-link:hover {
		color: #B80072;
		text-decoration: underline;
	}

	.td-dark {
		background: #004C26;
	}

	#icons .td-dark,
	#icons .td-dark .fa {
		color: #fafafa !important;

	}

	h1, h2, h3, h4, h5, h6, p {
		margin: 0 0 20px;
	}

	.bg-dark h1 {
		color: #fff;
		font-size: 36px;
	}

	.bg-dark small {
		color: #E0E0E0;
	}



	.bg-dark h3 { color: #E0E0E0; }
	.bg-dark h4 { color: #FAFAFA; }
	.bg-dark h5 { color: #FAFAFA; }

	h1 small,
	h2 small,
	h3 small,
	h4 small,
	h5 small,
	small {
		color: #A0A0A0;
	}

	h5 small {
		text-transform: none;
		font-size: 85%;
	}

	/*code {
		background: #2d2d2d;
		color: #f19252;
	}*/

	.page-header h1 {
		margin-bottom: 20px;
	}

	.text-white,
	.text-white a {
		color: #fff;
	}

	.navbar {
		border-radius: 0;
	}

	.row {
		margin: 0;
	}

	.thumbnail {
		border-radius: 10px;
		padding: 0;
	}

	.sidebar-left {
		padding: 20px 0;
	}


	#sidebar li,
	#sidebar ul {
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
	}

	.page-header a:hover,
	a h1:hover,
	a:hover h1,
	h1 a:hover,
	a h1,
	h1 a {
		color: #6C7A89;
		text-decoration: none !important;
		margin-left: 0;
		padding-left: 0;
	}

	.bg-color {
		height: 70px;
		border-radius: 10px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	section#colors strong {
		font-family: "Courier New", Courier, monospace;
		font-size: 90%;
	}

	.jumbotron {
		padding-right: 20px;
	}

/*    C O L O R S =======================    */
	/*greyscale*/
	.col-grey-00 {
		background: #FFFFFF;
	}

	.col-grey-01 {
		background: #FAFAFA;
	}

	.col-grey-02 {
		background: #E0E0E0;
	}

	.col-grey-03 {
		background: #A0A0A0;
	}

	.col-grey-04 {
		background: #606060;
	}

	.col-grey-05 {
		background: #000000;
	}

	/*primary*/
	.col-primary-01 {
		background: #97BE0D;
	}

	.col-primary-02 {
		background: #00B259;
	}

	.col-primary-03 {
		background: #007339;
	}

	.col-primary-04 {
		background: #004C26;
	}

	.col-primary-05 {
		background: #2D5829;
	}


	/*secondary*/
	.col-secondary-01 {
		background: #B80072;
	}

	.col-secondary-02 {
		background: #6B0B47;
	}

	.col-secondary-03 {
		background: #48072A;
	}

	.col-secondary-04 {
		background: #004C55;
	}

	.col-secondary-05 {
		background: #078694;
	}


	/*tertiary*/
	.col-tertiary-01 {
		background: #FFE8C5;
	}

	.col-tertiary-02 {
		background: #F9D9A7;
	}

	.col-tertiary-03 {
		background: #FABD5D;
	}

	.col-tertiary-04 {
		background: #A7D4F9;
	}

	.col-tertiary-05 {
		background: #5183AC;
	}

/*   B U T T O N S    ======================= */
	.btn {
	    padding: 8px 12px;
	    margin-bottom: 0;
	    font-size: 14px;
	    font-weight: 400;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: middle;
	    -ms-touch-action: manipulation;
	    touch-action: manipulation;
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    border-radius: 3px;
	}

	.btn:focus {
		outline: 5px auto -webkit-focus-ring-color;
	    outline-offset: -2px;
	}

	.btn:disabled {
		background: #FFFFFF;
		border: 2px solid #E0E0E0;
		color: #A0A0A0;

	}

	.btn-primary:disabled,
	.btn-success:disabled,
	.btn-info:disabled,
	.btn-warning:disabled,
	.btn-danger:disabled,
	.btn-inverse:disabled {
		background: #E0E0E0;
		border: 2px solid #E0E0E0;
		color: #A0A0A0;
	}

	.btn-primary:hover:disabled,
	.btn-success:hover:disabled,
	.btn-info:hover:disabled,
	.btn-warning:hover:disabled,
	.btn-danger:hover:disabled,
	.btn-inverse:hover:disabled {
		background: #E0E0E0;
		border: 2px solid #E0E0E0;
		color: #606060;
		cursor: not-allowed;
	}

	.btn-link:disabled {
		background: transparent;
		border: 0;
		color: #A0A0A0;
	}

	.btn-link:hover:disabled {
		background: transparent;
		border: 0;
		color: #606060;
	}


	/*default*/
	.btn-default {
		background: #ffffff;
		border: 2px solid #00B259;
		color: #00B259;
	}

	.btn-default:hover {
		background: #078694;
		border: 2px solid #078694;
		color: #ffffff;
	}

	.btn-default:disabled {
		background: #FFFFFF;
		border: 2px solid #E0E0E0;
		color: #A0A0A0;
	}

	.btn-default:hover:disabled {
		background: #E0E0E0;
		border: 2px solid #E0E0E0;
		color: #A0A0A0;
	}

	.btn-default:focus {
	    color: #333;
	    background-color: #e6e6e6;
	    border-color: #8c8c8c;
	}

	/*primary*/
	.btn-primary {
		background: #004C55;
		border: 2px solid #004C55;
		color: #ffffff;
	}

	.btn-primary:hover {
		background: #078694;
		border: 2px solid #078694;
		color: #ffffff;
	}

	.btn-primary:focus {
	    color: #fff;
	    background-color: #286090;
	    border-color: #122b40;
	}

	/*success*/
	.btn-success {
		background: #00B259;
		border: 2px solid #00B259;
		color: #ffffff;
	}

	.btn-success:hover {
		background: #97BE0D;
		border: 2px solid #97BE0D;
		color: #ffffff;
	}

	.btn-success:focus {
	    color: #fff;
	    background-color: #449d44;
	    border-color: #255625;
	}

	/*info*/
	.btn-info {
		background: #5183AC;
		border: 2px solid #5183AC;
		color: #ffffff;
	}

	.btn-info:hover {
		background: #A7D4F9;
		border: 2px solid #A7D4F9;
		color: #ffffff;
	}

	.btn-info:focus {
	    color: #fff;
	    background-color: #31b0d5;
	    border-color: #1b6d85;
	}

	/*warning*/
	.btn-warning {
		background: #FABD5D;
		border: 2px solid #FABD5D;
		color: #ffffff;
	}

	.btn-warning:hover {
		background: #F9D9A7;
		border: 2px solid #F9D9A7;
		color: #ffffff;
	}

	.btn-warning:focus {
	    color: #fff;
	    background-color: #ec971f;
	    border-color: #985f0d;
	}

	/*danger*/
	.btn-danger {
		background: #48072A;
		border: 2px solid #48072A;
		color: #ffffff;
	}

	.btn-danger:hover {
		background: #6B0B47;
		border: 2px solid #6B0B47;
		color: #ffffff;
	}

	.btn-danger:focus {
	    color: #fff;
	    background-color: #c9302c;
	    border-color: #761c19;
	}

	/*inverse*/
	.btn-inverse {
		background: #000000;
		border: 2px solid #000000;
		color: #ffffff;
	}

	.btn-inverse:hover {
		background: #000000;
		border: 2px solid #000000;
		color: #97BE0D;
	}

	.btn-inverse:focus {
		color: #fff;
	    background-color: #000000;
	    border-color: #000000;
	}


	/*link*/
	.btn-link {
		color: #B80072;
	}

	.btn-link:hover {
		color: #6B0B47;
		text-decoration: none;
	}

/*   I C O N S    ==============================   */
	.table.table-icons>thead>tr>th {
		vertical-align: bottom;
	}

	.table.table-icons>tbody>tr>td {
		vertical-align: middle;
	}

	#icons .fa {
		font-size: 16px;
		color: #004C26;
	}

	#icons .btn .fa {
		padding: 0;
	}

	#icons .btn {
		padding: 5px 8px;
	}

	#icons .fa.fa-trash {
		color: #6B0B47;
	}

	#icons .fa.fa-info-circle,
	#icons .fa.fa-question-circle {
		color: #5183AC;
	}

	#icons .btn .fa {
		color: #ffffff;
	}

	#icons a .fa {
		background: #004C55;
		border-radius: 3px;
		color: #fafafa;
		padding: 5px 8px;
	}

	#icons a .fa-rounds {
		border-radius: 100%;
	}

	#icons .fa-inverse {
		color: #fafafa;
	}

	.fa .success {}

	.fa .warning {
		background: #FABD5D;
	}
	
	.fa .danger {
		background: #48072A;
	}

/*   F O R M S    ==================================== */
	label {
		color: #078694;
		font-weight: bold;
	}

	.label--require {
		color: #B80072;
	}

	.form-control {
		border: 1px solid #e7e7e7;
		box-shadow: none;
		display: block;
	    width: 100%;
	    height: 45px;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.42857143;
	    color: #000;
	    background-color: #fff;
	    background-image: none;
	    border-radius: 3px;
	    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}

	.radio,
	.checkbox,
	.checkbox-inline,
	.radio-inline {
		background: #fafafa;
		border-radius: 3px;
	}

	.radio,
	.checkbox {
		padding: 5px 7px;
	}

	.checkbox-inline,
	.radio-inline {
		padding: 5px 30px;
	}

	input:disabled,
	.radio.disabled,
	.checkbox.disabled,
	.checkbox :disabled {
		background: #eee;
		color: #E0E0E0 !important;
	}

	input.focus,
	input:focus,
	.form-control:focus {
	    border-color: #078694;
	    outline: 0;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,178,89,0.4);
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,178,89,0.4);
	}

	.form-group.input-error label  {
		color: #B80072;
	}
	
	.form-control.input-error {
		border-color: #6B0B47;
		background: rgba(107, 11, 71, 0.2);
		color: #6B0B47 !important;
	    outline: 0;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(107,11,71,0.4);
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(107,11,71, 0.4);
	}

	.validation-error {
		color: #6B0B47;
		font-weight: bold;
	}

/*    T A B L E S    =========================================================    */
	dt,
	table th .fa,
	table th {
		color: #078694;
	}

	.table>thead>tr>th {
	    vertical-align: bottom;
	    border-bottom: 2px solid #078694;
	}

	.table>tbody>tr>td {
	    vertical-align: middle;
	}

	.table-striped>tbody>tr:nth-of-type(odd) {
		background: #fff;
	}

	.table-striped>tbody>tr:nth-of-type(even) {
		background: #fafafa;
	}

	.table-hover>tbody>tr:hover {
	    background-color: #e5f7ee;
	}

	.table>tbody>tr>td,
	.table>tbody>tr>th,
	.table>tfoot>tr>td,
	.table>tfoot>tr>th,
	.table>thead>tr>td,
	.table>thead>tr>th {
	    padding: 12px;
	    line-height: 1.5;
	    /*vertical-align: top;*/
	    border-top: 1px solid #e0e0e0; 
	}

/*   A L E R T S    ==========================================    */
	.alert-info {
		background: #A7D4F9;
		color: #5183AC;
		border: 1px solid #5183AC;
	}

	.alert-warning {
		background: #FFE8C5;
		color: #6B0B47;
		border: 1px solid #FABD5D;
	}

	.alert-danger {
		background: rgba(107, 11, 71, 0.2);
		color: #6B0B47;
		border: 1px solid #6B0B47;
	}

	.alert-success {
		background: rgba(0, 178, 89, 0.2);
		color: #007339;
		border: 1px solid #00B259;
	}

/* I N T E R N A L    S E C T I O N ==================== */
	section {
		display: block;
		background: #fff;
	}

	.font-style {
		font-size: 500%;
	}

	article {
		padding-top: 20px;
	}

	article,
	#grid,
	#mobile,
	#buttons,
	#typography {
		display: block;
		width: 100%;
		float: none;
		clear: both;
	}

	#colors .caption {
		border-top: 1px solid rgba(17,17,17,0.1);
	}

	#grid,
	#mobile,
	#icons,
	#colors,
	#buttons,
	#typography {
		padding-top: 40px;
	}

	section#colors .thumbnail {
		box-shadow: 0 0px 6px rgba(17,17,17,0.1);
	}

	#typography .thumbnail {
		padding: 10px;
	}

	#typography .caption {
		border-top: 1px solid #111;
		font-size: 11px;
		padding-left: 0;
		margin-left: 0;
	}

	.paragraph {
		font-size: 200%;
		font-weight: 200;
	}

	.thin {
		font-weight: 100;
	}
	.light {
		font-weight: 200;
	}
	.regular {
		font-weight: 400;
	}
	.bold {
		font-weight: 700;
	}

	.col-xs-3 img {
		max-height: 40px;
	}


/*   E N D   =================================   */
