<ul class="grid">
				<!-- A view with big photos and no text -->
				<li ng-repeat="cat in productList" class="gridlayout">
					<div class="product-content-wrapper">					
						<label ng-show="showCompare">
							<input type="checkbox" name="{{cat.code}}" 	ng-model="cat.checked" id="{{cat.code}}" ng-change="SelectedProduct(productList)" />{{'CON_SELECT_TO_COMPARE' | translate}}
						</label>
						<span class="productCode">	<a href=""  ng-click="showProductDetail(cat.code);" >{{cat.code}}</a></span>
						<div ng-if="cat.isRelative" class="gridViewImageWrapper">
						 		<a href=""  ng-click="showProductDetail(cat.code);"><img class="attentionImage" ng-src="{{BASE_ADDRESS}}{{cat.attentionImageURL}}" ng-show="cat.isShowAttentionImage"/>
						
								<img ng-src="{{BASE_ADDRESS}}{{cat.imageURL}}" onerror="getDefaultImg(this);">
							</a> 
							<img class="quickInfoImage" ng-src="images/Information.png" title="{{'CON_QUICKINFO' | translate}}"  ng-click="showQuickViewDlg(cat);">
							<!-- ADM-009 -->
							<img class="promotionImage" ng-src="images/Available.png" title="Item has promotion" ng-show="cat.hasPromoP1OrP2">
							<img class="hospitalImage" ng-src="images\H.png" ng-show="cat.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}" >
							<!-- ADM-009 end -->
						</div>
						<div ng-if="!cat.isRelative" class="gridViewImageWrapper">
						 		<a href=""  ng-click="showProductDetail(cat.code);"><img class="attentionImage" ng-src="{{cat.attentionImageURL}}" ng-show="cat.isShowAttentionImage"/>
						
								<img ng-src="{{cat.imageURL}}" onerror="getDefaultImg(this);">
							</a> 
							<img class="quickInfoImage" ng-src="images/Information.png" title="{{'CON_QUICKINFO' | translate}}"  ng-click="showQuickViewDlg(cat);">
							<!-- ADM-009 -->
							<img class="promotionImage" ng-src="images/Available.png" title="Item has promotion" ng-show="cat.hasPromoP1OrP2">
							<img class="hospitalImage" ng-src="images\H.png" ng-show="cat.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}" >
							<!-- ADM-009 end -->
						</div>
						
						 <span class="productDescription clr_left"><a href=""  ng-click="showProductDetail(cat.code);" >{{cat.description}} </a></span>
						 <div class="clr_left"><span class="left">{{'CON_SALES_UNIT' | translate}}:</span> 
					<!-- 		 <div class="select-style left">
					 <select name="" id="getId('select',cat.code)" ng-init="buyItem[getId('salesUnit',cat.code)] = cat.salesUnit" 
							ng-model="buyItem[getId('salesUnit',cat.code)]" ng-change="onUnitChangeMainCat(cat.code,buyItem[getId('salesUnit',cat.code)],cat)"><option ng-repeat="unit in cat.salesUnits " >{{unit}}</option>
							</select>
							</div>
						 -->	
						<div class="select-style left">
								<select  ng-model="cat.selectedUnitObject"  ng-options="unit.salesUnitDesc for unit in cat.salesUnitsDesc track by unit.salesUnitDesc" ng-change="onUnitChangeMainCat(cat.code,cat.selectedUnitObject.salesUnit,cat)">  					
								</select>
						
							</div>
						 </div>
						<div ng-if="webSettings.allowDiscountDisplay=='*ALL'" ng-show="webSettings.isShowPrice">
							<span ng-class="{'actPrice': convertAsNumber(cat.discountPercentage) > 0, 'priceCalculationText': !isPriceCalculationEnabled}" class="finalPrice" ng-click="showPriceCalcDlg(cat)">{{cat.actualPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}}</span> 
							<span ng-show="convertAsNumber(cat.discountPercentage) > 0"	class="discount">{{cat.discountPercentage}} %</span> 
							<span ng-show="convertAsNumber(cat.discountPercentage) > 0" class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.discountPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}}</span>
						</div>
						
						<div ng-if="webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE'" ng-show="webSettings.isShowPrice">
							<span class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.discountPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}}</span>
						</div>
						
						<div ng-if="webSettings.allowDiscountDisplay=='*ALL_PRICE'" ng-show="webSettings.isShowPrice">
							<span ng-class="{'actPrice': convertAsNumber(cat.discountPrice) > 0, 'priceCalculationText': !isPriceCalculationEnabled}" class="finalPrice" ng-click="showPriceCalcDlg(cat)">{{cat.actualPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}}</span> 
							<span ng-show="convertAsNumber(cat.discountPrice) > 0" class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.discountPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}}</span>
						</div>
						
						<div ng-if="webSettings.allowDiscountDisplay=='*ACTUAL_PRICE'" ng-show="webSettings.isShowPrice">
							<span class="finalPrice" ng-class="{'priceCalculationText': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(cat)">{{cat.actualPrice}} {{webSettings.currencyCode}} / {{cat.selectedUnitObject.salesUnitDesc}}</span> 
						</div>
						
						 <span class="clr_left" ng-show="cat.isMatrixBaseItem ">
						 <a href=""  ng-click="showProductDetail(cat.code);" >{{cat.segmentationDesc2}}/{{cat.segmentationDesc3}}</a></span>
						<span class="clr_left"  ng-show="isSignedIn && !cat.isMatrixBaseItem">{{'COH_QUANTITY' | translate}}: <input id="getId('text',cat.code)" ng-model="cat.quantity"
							class="quantity"  type="text" ng-class ="{ 'error': !cat.validQuantity, '' : cat.validQuantity}" ng-change="checkValidQuantity(cat,cat.quantity)" title="{{cat.quantityBoxMsg}}"/></span>
					</div>
					<div class="buttonWrapper">
						<button type="button" name="" value="" class="homeCat"
							ng-class="{'disabled':!isSignedIn}" ng-click="addItemToCurrentList(cat);" ng-disabled="disableShoppingList(cat.isMatrixBaseItem)">{{'CON_ADD_TO_LIST' | translate}}</button>
						<!-- ADM-013 --><button ng-if="cat.itemClass == 1" ng-disabled="disableCatalogBuy(cat.isBuyingAllowed,cat.isMatrixBaseItem)" ng-class="{'disabled': cat.isBuyingAllowed == false, 'addedInCart':isShopCartItem(cat.code)==true , 'buy':isShopCartItem(cat.code)==false }" 
							type="button" name="" value="" ng-click = "gridViewBuyClicked(cat)" >{{'CON_BUY' | translate}}
							<span ng-show="isShopCartItem(cat.code)" title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span> </button>
						<!-- ADM-013 --><button ng-if="cat.itemClass == 2" ng-class="buy" type="button" name="" value="" ng-click = "showBtbDlg(cat)" title="{{'COH_PROCURE_THE_ITEM' | translate}}">{{'CON_BTB' | translate}}</button>
					</div>
				</li>
			</ul>