<table class="homeCat_list">
    <thead>

        <!-- <th ng:repeat="(i,th) in head"  ng:click="changeSorting(i)">{{th}}</th> -->
       <!--  <th ng-repeat="th in defaultViewHeader" ng-click="changeSorting(th)"> {{th.displayName}}</th>  -->
         <tr>
			<th ng-show="homeCatalogShowExtendInfo=='true'"></th>
			<th>
			<div class="sorting">
						<span class="sortingInnerWrap">												
							<a ng-class ="{ 'ascending_selected': showSelection('codeASC'), 'ascending' :  !showSelection('codeASC')  }" shref="" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="Sorting('code','ASC')"></a>
							<a ng-class ="{ 'decending_selected':  showSelection('codeDESC'), 'decending' :  !showSelection('codeDESC') }" shref="" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="Sorting('code','DESC')"></a>					
						</span>
							<span>{{'COH_ITEM' | translate}}</span>
						</div>
			</th>
			<th>
			<div class="sorting">
						<span class="sortingInnerWrap">
 						<a ng-class ="{ 'ascending_selected': showSelection('descriptionASC'), 'ascending' :  !showSelection('descriptionASC'), }" shref="" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="Sorting('description','ASC')"></a>
						<a ng-class ="{ 'decending_selected': showSelection('descriptionDESC'), 'decending' :  !showSelection('descriptionDESC'), }" shref="" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="Sorting('description','DESC')"></a>
					
						</span>
						<span>{{'COH_DESCRIPTION' | translate}}</span>
						</div>
			</th>
			<th class="txt_right" ng-show="tableHeaders.actualPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')" >
			<div class="sorting contentRight paddingRight" style="width:115px">
				<span class="sortingInnerWrap">												
				<a ng-class ="{ 'ascending_selected': showSelection('actualPriceASC'), 'ascending' :  !showSelection('actualPriceASC'), }" shref="" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="Sorting('actualPrice','ASC')"></a>
							<a ng-class ="{ 'decending_selected': showSelection('actualPriceDESC'), 'decending' :  !showSelection('actualPriceDESC'), }" shref="" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="Sorting('actualPrice','DESC')"></a>
							</span>
				<span>{{'COH_ACTUAL_PRICE' | translate}} {{webSettings.currencyCode}}</span>
						</div>		 
			 </th>
			 <th class="txtCenter">{{'COH_UNIT' | translate}}</th>
			<th class="txt_right" ng-show="tableHeaders.discountPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE')">
			<div class="sorting contentRight paddingRight">
						<span>{{'COH_DISCOUNT_PRICE' | translate}} {{webSettings.currencyCode}}</span>
						</div>
			
			</th>
			<th class="txt_right" ng-show="tableHeaders.discountPercentage && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL')">
			<div class="sorting contentRight paddingRight">
						<span>{{'CON_DISCOUNT_%' | translate}}</span>
						</div>
			</th>
			<!-- this is Buy column 
			<th ng-show="tableHeaders.isBuyingAllowed" ></th>-->
			
			<th>{{'COH_QUANTITY' | translate}}</th>
 
			<th ng-show="tableHeaders.availabilityOfItem"> 
			<div class="sorting">
			<span class="sortingInnerWrap">												
			<a ng-class ="{ 'ascending_selected': showSelection('availabilityOfItemASC'), 'ascending' :  !showSelection('availabilityOfItemASC'), }" shref="" title="{{'CON_CLICK_TO_SORT_ASCENDING' | translate}}" ng-click="Sorting('availabilityOfItem','ASC')"></a>
							<a ng-class ="{ 'decending_selected': showSelection('availabilityOfItemDESC'), 'decending' :  !showSelection('availabilityOfItemDESC'), }" shref="" title="{{'CON_CLICK_TO_SORT_DESCENDING' | translate}}" ng-click="Sorting('availabilityOfItem','DESC')"></a>
										</span>
						<span>{{'CON_AVAILABLE' | translate}}</span>
						</div>
			</th>
 
			<th ng-show="tableHeaders.enquiryImage">
			<div class="sorting">
						<span>{{'COH_ENQUIRY_ON_ITEMS' | translate}}</span>
						</div>
			</th>
			
			<th ng-show="showCompare">
			<div class="sorting">
						<span>{{'CON_SELECT' | translate}}</span>
						</div>
			</th>
        </tr>
        </thead>
        <tbody>
        
            <tr ng-repeat="row in productList " >
            <td ng-show="homeCatalogShowExtendInfo=='true'" style="width:100px;">
            <div class="listViewImageWrapper">
             	  <a href=""  ng-click="showProductDetail(row.code);"><img class="attentionImage" ng-src="{{BASE_ADDRESS}}{{row.attentionImageURL}}" ng-show="row.isShowAttentionImage"/>
	             <img ng-src="{{BASE_ADDRESS}}{{row.imageURL}}" onerror="getDefaultImg(this);"></a>
             </div>
             </td>
            <td><a href=""  ng-click="showProductDetail(row.code);" >{{row.code}}</a></td>
            <td><a href=""  ng-click="showProductDetail(row.code);" >{{row.description}}</a>       
            <span ng-if="!webSettings.showFullWebTextInItemTable" ng-show="homeCatalogShowExtendInfo=='true'" class="itemWebTxt" ng-bind-html="renderHtml(row.itemWebText)"></span> 
           <span ng-if="webSettings.showFullWebTextInItemTable" ng-show="homeCatalogShowExtendInfo=='true'" class="itemWebTxtFull" ng-bind-html="renderHtml(row.itemWebText)"></span>
            </td>
            <td ng-show="tableHeaders.actualPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*ALL_PRICE' || webSettings.allowDiscountDisplay=='*ACTUAL_PRICE')" class="txt_right nowrap">
            <a href="" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)"> <span>{{row.actualPrice}} </span> </a>            	            
            </td>
            
            <td class="quantityColumn"> 
            
           		 <div class="select-style right">	            
           			<select  ng-model="row.selectedUnitObject"  ng-options="unit.salesUnitDesc for unit in row.salesUnitsDesc track by unit.salesUnitDesc" ng-change="onUnitChange(row.code,row.selectedUnitObject.salesUnit,row)">  					
					</select> 
					</div> <!-- {{row.selectedUnitObject.salesUnitDesc}}
					 <div class="select-style right">	
		             <select name="" id="getId('select',row.code)" 	ng-model="row.selectedUnitObject.salesUnit" ng-change="onUnitChange(row.code,row.selectedUnitObject.salesUnit,row)">
					<option ng-repeat="unit in row.salesUnitsDesc " value="{{unit.salesUnit}}">{{unit.salesUnitDesc}}</option></select> 
	            </div>-->
            </td>
            <td ng-show="tableHeaders.discountPrice && webSettings.isShowPrice && (webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE')" class="txt_right"><a href="" ng-show="webSettings.allowDiscountDisplay=='*ALL' || webSettings.allowDiscountDisplay=='*DISCOUNT_PRICE' || webSettings.allowDiscountDisplay=='*ALL_PRICE'" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)" >{{row.discountPrice}}</a> </td>
            <td ng-show="tableHeaders.discountPercentage && webSettings.isShowPrice && webSettings.allowDiscountDisplay=='*ALL'" class="txt_right"><a href="" ng-show="webSettings.allowDiscountDisplay=='*ALL'" ng-class="{'priceCalculationLink': !isPriceCalculationEnabled}" ng-click="showPriceCalcDlg(row)">{{row.discountPercentageText}}</a> </td>
                          
            
            <td  class="quantityColumn">
	              <div class="nowrap left" style="width:100px;">
	             	 <span ng-show="isSignedIn && !row.isMatrixBaseItem" class="left">
              			<input ng-model="row.quantity" type="text" class="txt_right buyInput" ng-class ="{ 'error': !row.validQuantity, '' : row.validQuantity}" ng-change="checkValidQuantity(row,row.quantity)" title="{{row.quantityBoxMsg}}"/> 
              		</span>
		            <span ng-if="showHide(row.isBuyingAllowed) && !row.isMatrixBaseItem && !isShopCartItem(row.code)" >
						<button type="button" name="" value="" class="buyIcon" ng-click="buyItems(row)" title="{{'CON_CLICK_TO_ADD_TO_SHOPPING_CART' | translate}}">{{'CON_BUY' | translate}}</button>
					</span>
					<span ng-if="showHide(row.isBuyingAllowed) && !row.isMatrixBaseItem && isShopCartItem(row.code)">
						<span  class="addedInCart left"  ng-click="buyItems(row)"  title="{{'MSG_ITEM_PRESENT_SHOP_CART' | translate}}"></span>
					</span>
					<!-- ADM-013 -->
					<span ng-if="row.itemClass == 2" class="left">
						<button type="button" name="" value="" class="procureTableView" ng-click="showBtbDlg(row);" title="{{'COH_PROCURE_THE_ITEM' | translate}}">{{'CON_BTB' | translate}}</button> 
					</span>
					<!-- ADM-013 end -->
		            <span ng-if="isSignedIn && !row.isMatrixBaseItem" class="">
						<button type="button" name="" value="" class="addToListTableView" title={{addToListText}} ng-click="addItemToCurrentList(row);" title={{addToListText}}>{{'CON_ADD_TO_LIST' | translate}}</button> 
					</span> 
	         	  </div>
	              <span ng-show="row.isMatrixBaseItem">
	               <a href=""  ng-click="showProductDetail(row.code);">
	            	{{row.segmentationDesc2}}/{{row.segmentationDesc3}}</a>
	              </span>
            </td>
            <td class="txtCenter" ng-show="tableHeaders.availabilityOfItem && row.showAvailabilityAsLink && row.showAvailabilityAsImage">
            	<a href="" ng-click="showProductDetail(row.code,true);"><img ng-src="images/{{row.availabilityImageName}}"  title="{{'CON_CLICK_TO_SEE_WH_INFO' | translate}}"/> </a></td>
            <td class="txtCenter" ng-show="tableHeaders.availabilityOfItem && !row.showAvailabilityAsLink && row.showAvailabilityAsImage">
            	<img ng-src="images/{{row.availabilityImageName}}"/> </td>
            <td class="txt_right" ng-show="tableHeaders.availabilityOfItem && row.showAvailabilityAsLink && !row.showAvailabilityAsImage">
            	<a href="" ng-click="showProductDetail(row.code,true);" >{{row.availabilityText}} </a></td>
            <td class="txt_right" ng-show="tableHeaders.availabilityOfItem &&  !row.showAvailabilityAsLink && !row.showAvailabilityAsImage "> <a  href=""  ng-click="showProductDetail(row.code,true);">{{row.availabilityText}} </a></td>
            <td  class="txtCenter" ng-show="tableHeaders.enquiryImage">
            <a ng-show="row.showEnquiryImage" title="{{'CON_CLICK_TO_SEND_EMAIL_ENQUIRY_PRODUCT' | translate}}" class="emailIcon" 
						 ng-click="sendPrdEnquiry(row.code,row.description)"/></a>
						 <img class="quickInfoImageListView" ng-src="images/Information.png" title="Quick Information of Product"  ng-click="showQuickViewDlg(row);">					
				<!-- ADM-009 -->
				<img class="promotionImageListView" ng-src="images/Available.png" title="Item has promotion" ng-show="cat.hasPromoP1OrP2">
				<img class="hospitalImageListView" ng-src="images\H.png" ng-show="cat.sectorCode==2" title="{{'CON_HOSPITAL_ITEM' | translate}}" >
				<!-- ADM-009 end -->
          </td>
            <td class="txtCenter" ng-show="showCompare">
            	<input type="checkbox" title="{{'CON_SELECT_TO_COMPARE' | translate}}" name= "{{row.code}}"  ng-model="row.checked" id ="{{row.code}}" ng-change="SelectedProduct(productList)" />
            </td>
        </tr>
     </tbody>
    
 </table>