.IBSAboveTableHeader {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	FONT-SIZE: 12px;
	BORDER-LEFT: 0px;
	BORDER-BOTTOM: 0px;
	FONT-FAMILY: verdana
}

.IBSTableHeader {
	FONT-SIZE: 14px;
	BACKGROUND-IMAGE: url(BackgroundToningHeader.gif);
	COLOR: #ffffff;
	FONT-FAMILY: verdana
}

.IBSTableFooter {
	BACKGROUND-IMAGE: url(BackgroundToningBottom.gif);
	HEIGHT: 6px
}

.IBSTableFooterSmall {
	BACKGROUND-IMAGE: url(BackgroundToningBottom2.gif);
	HEIGHT: 3px
}

.IBSTableFooterMini {
	HEIGHT: 1px;
	BACKGROUND-COLOR: #a5a5a5
}
.IBSLink img{
	max-width:100px;
	width: expression(this.width < 100 ? 100: true);
}
.IBSTableTitle {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	COLOR: #6d6d6d;
	FONT-FAMILY: Verdana
}

.IBSTextSmall {
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

.IBSTextNormal {
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

.IBSTextNormalCenter {
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: center
}

.IBSNumberNormal {
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right
}

.IBSTextAttention {
	FONT-SIZE: 11px;
	COLOR: #000033;
	FONT-FAMILY: Verdana
}

.IBSTextInfoLarge {
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	COLOR: #6d6d6d;
	FONT-FAMILY: Verdana
}

.IBSTextWarning {
	FONT-SIZE: 14px;
	COLOR: #ff0000;
	FONT-FAMILY: Verdana
}

.IBSTextWarningSmall {
	FONT-SIZE: 11px;
	COLOR: #ff0000;
	FONT-FAMILY: Verdana
}

.IBSTextHeader {
	FONT-SIZE: 16px;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

.IBSTextHeaderAttention {
	FONT-SIZE: 18px;
	COLOR: #ad3100;
	FONT-STYLE: italic;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left;
	TEXT-DECORATION: underline
}

.IBSTextSubHeader {
	FONT-SIZE: 12px;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left;
	TEXT-DECORATION: underline
}

.IBSShoppingListHeader {
	FONT-SIZE: 14px;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #b7bcae
}

.IBSNavigationBg {
	BORDER-RIGHT: #8a8a8a 1px solid;
	VERTICAL-ALIGN: top;
	BACKGROUND-COLOR: #ffffff
}

.IBSAdmHeader {
	FONT-SIZE: 18px;
	BACKGROUND-IMAGE: url(BackgroundToningTop.gif);
	VERTICAL-ALIGN: top;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: center
}

.IBSFunctionBg {
	VERTICAL-ALIGN: top
}

.IBSAlignTop {
	VERTICAL-ALIGN: top
}

.IBSDivider {
	BACKGROUND-COLOR: #8a8a8a
}

.IBSPageTitleDivider {
	BACKGROUND-COLOR: #c2c2c2
}

.IBSPageTitleHeader {
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	COLOR: #6d6d6d;
	FONT-FAMILY: Verdana
}

.IBSPageTitleRightHeader {
	FONT-SIZE: 10px;
	COLOR: #6d6d6d;
	FONT-FAMILY: Verdana
}

.IBSLabel {
	FONT-SIZE: 10px;
	COLOR: #3d3d3d;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

.IBSLabelDisabled {
	FONT-SIZE: 10px;
	COLOR: #9d9d9d;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

.IBSLabelSmall {
	FONT-SIZE: 9px;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

.IBSLabelHeader {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

.IBSLabelHeaderLight {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	COLOR: #6d6d6d;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

.IBSLabelOrderEntry {
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right
}

.IBSLanguage {
	MARGIN-TOP: 0px;
	MARGIN-LEFT: 0px;
	VERTICAL-ALIGN: top
}

.IBSLeftFrame {
	BORDER-RIGHT: #9d9d9d 1px solid
}

.IBSListNormal {
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

.IBSOutput {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana
}

.IBSOutputDisabled {
	FONT-SIZE: 10px;
	COLOR: #9d9d9d;
	FONT-FAMILY: Verdana
}

.IBSOutputNumber {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right
}

.IBSOutputText {
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana
}

.IBSShoppingCartHeader {
	FONT-SIZE: 14px;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #b7bcae
}

.IBSShoppingCartBg {
	
}

.IBSPageNumber {
	FONT-SIZE: 10px;
	COLOR: #800000;
	FONT-FAMILY: Verdana
}

.IBSPageTitleText {
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

.IBSLinksHeader {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	BACKGROUND-IMAGE: url(BackgroundHeaderMessage.gif);
	COLOR: #ffffff;
	FONT-FAMILY: Verdana;
	HEIGHT: 20px
}

.IBSMessagesHeader {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	BACKGROUND-IMAGE: url(BackgroundHeaderMessage.gif);
	COLOR: #ffffff;
	FONT-FAMILY: Verdana;
	HEIGHT: 20px
}

.IBSNewsHeader {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	BACKGROUND-IMAGE: url(BackgroundHeaderMessage.gif);
	COLOR: #ffffff;
	FONT-FAMILY: Verdana;
	HEIGHT: 20px
}

.IBSWelcomeText {
	FONT-SIZE: 14px;
	FONT-FAMILY: Verdana
}

.IBSSearchTipHeader {
	COLOR: #ad3100
}

.IBSSearchTipText {
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #ebeae8;
	TEXT-ALIGN: left
}

.IBSMandatoryDataChar {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #ad3100;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

.IBSTipTextSmall {
	FONT-SIZE: 10px;
	COLOR: #800000;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

.IBSTopAlign {
	VERTICAL-ALIGN: top
}

.IBSActionLink {
	FONT-SIZE: 10px;
	COLOR: #E8476E;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

.IBSActionLink:hover {
	FONT-SIZE: 10px;
	COLOR: #f389a3;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

.IBSAvailabilityCellLink {
	COLOR: #e8476e;
	TEXT-DECORATION: none
}

.IBSAvailabilityCellLink:hover {
	COLOR: #f389a3;
	TEXT-DECORATION: none
}

.IBSAvailabilityCellShortageLink {
	COLOR: #ad3100;
	TEXT-DECORATION: none
}

.IBSAvailabilityCellShortageLink:hover {
	COLOR: #800000;
	TEXT-DECORATION: none
}

.IBSLink {
	FONT-SIZE: 10px;
	COLOR: #e8476e;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

.IBSLink:hover {
	FONT-SIZE: 10px;
	COLOR: #f389a3;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

.IBSEnhancedLink {
	FONT-SIZE: 11px;
	COLOR: #800000;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: underline
}

.IBSEnhancedLink:hover {
	FONT-SIZE: 11px;
	COLOR: #336699;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

.IBSCellLink {
	COLOR: #E8476E;
	TEXT-DECORATION: none
}

.IBSCellLink:hover {
	COLOR: #f389a3;
	TEXT-DECORATION: none
}

.IBSCellLinkAttention {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #E8476E;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

.IBSCellLinkAttention:hover {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #f389a3;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

.IBSCellLinkModeToggle {
	COLOR: #000000;
	TEXT-DECORATION: underline
}

.IBSCellLinkModeToggle:hover {
	COLOR: #336699;
	TEXT-DECORATION: none
}

.IBSGoToLink {
	FONT-SIZE: 10px;
	COLOR: #e8476e;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

.IBSGoToLink:hover {
	FONT-SIZE: 10px;
	COLOR: #f389a3;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

.IBSMenuLink {
	FONT-SIZE: 14px;
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

.IBSMenuLink:hover {
	FONT-SIZE: 14px;
	COLOR: #000066;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

.IBSSearchTipLink {
	FONT-SIZE: 10px;
	COLOR: #e8476e;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

.IBSSearchTipLink:hover {
	FONT-SIZE: 10px;
	COLOR: #f389a3;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

.IBSHtmlCheckableControl {
	FONT-SIZE: 10px;
	COLOR: #ffedcc;
	FONT-FAMILY: Verdana
}

.IBSHtmlSelectForm {
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #ffffff
}

.IBSHtmlColumnResequenceHandler {
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana
}

.IBSHtmlLinkSelectionHandler {
	COLOR: #e8476e;
	TEXT-DECORATION: none
}

.IBSHtmlLinkSelectionHandler:hover {
	COLOR: #f389a3;
	TEXT-DECORATION: none
}

.IBSEmpty {
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana
}

.IBSEmptySmall {
	FONT-SIZE: 8px;
	FONT-FAMILY: Verdana
}

.IBSEmptyMini {
	FONT-SIZE: 3px;
	FONT-FAMILY: Verdana
}

BODY.IBSBody {
	MARGIN-TOP: 0px;
	/* Code as in NetStore 7.0.0.6*/
	/*MARGIN-LEFT: 5px;*/
		
	/*Fix for NST-40*/
	PADDING-LEFT:5px;
	VERTICAL-ALIGN: top;
	BACKGROUND-COLOR: #ffffff;
	BORDER-LEFT: #9d9d9d 1px solid;
	/*End of Fix for NST-40*/
}

BODY.IBSAdmBody {
	MARGIN: 0px;
	VERTICAL-ALIGN: top;
	BACKGROUND-COLOR: #ebeae8;
	margin-width: 0px;
	margin-height: 0px
}

BODY.IBSTopBody {
	MARGIN-TOP: 0px;
	BACKGROUND-IMAGE: url(BackgroundToningTop.gif);
	MARGIN-LEFT: 5px;
	VERTICAL-ALIGN: top
}

BODY.IBSBodyNoMargin {
	MARGIN-TOP: 0px;
	MARGIN-LEFT: 0px;
	VERTICAL-ALIGN: top
}

FONT.IBSCellErrorMessage {
	COLOR: #cc3300
}

FONT.IBSCellInfoMessage {
	COLOR: #336699
}

FONT.IBSErrorMessage {
	FONT-SIZE: 11px;
	COLOR: #cc3300;
	FONT-FAMILY: Verdana
}

FONT.IBSInfoMessage {
	FONT-SIZE: 11px;
	COLOR: #54a7f9;
	FONT-FAMILY: Verdana
}

INPUT.IBSInput {
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: Verdana
}

INPUT.IBSPushButton {
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana
}

INPUT.IBSPushButtonSmall {
	FONT-SIZE: xx-small
}

INPUT.IBSPushButtonSmall2 {
	BORDER-RIGHT: 1px groove;
	BORDER-TOP: 1px groove;
	FONT-SIZE: 10px;
	BORDER-LEFT: 1px groove;
	BORDER-BOTTOM: 1px groove;
	HEIGHT: 16px;
	BACKGROUND-COLOR: #bbbbbb
}

INPUT.IBSPushButtonInfo {
	BORDER-RIGHT: 2px groove;
	BORDER-TOP: 2px groove;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	BORDER-LEFT: 2px groove;
	COLOR: #ffffff;
	BORDER-BOTTOM: 2px groove;
	HEIGHT: 20px;
	BACKGROUND-COLOR: #2a5988
}

TABLE.IBSBorderTable {
	BORDER-RIGHT: #b7bcae 1px solid;
	BORDER-TOP: #b7bcae 1px solid;
	BORDER-LEFT: #b7bcae 1px solid;
	BORDER-BOTTOM: #b7bcae 1px solid
}

TABLE.IBSCompareTable {
	
}

TABLE.IBSGroupBoxTable {
	BORDER-RIGHT: #b7bcae 1px solid;
	BORDER-TOP: #b7bcae 1px solid;
	BORDER-LEFT: #b7bcae 1px solid;
	BORDER-BOTTOM: #b7bcae 1px solid
}

TABLE.IBSListTable {
	
}

TABLE.IBSShoppingCartTable {
	BORDER-RIGHT: #b7bcae 1px solid;
	BORDER-TOP: #b7bcae 1px solid;
	BORDER-LEFT: #b7bcae 1px solid;
	BORDER-BOTTOM: #b7bcae 1px solid
}

TABLE.IBSSelectionTable {
	
}

TABLE.IBSListTable2 {
	BACKGROUND-COLOR: #ffffff
}

/*Fix for NST-210 */
TABLE.IBSListTableCart {
	BACKGROUND-COLOR: null;
}
/*End of fix for NST-210  */
TABLE.IBSOrderDetailTable {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	BORDER-LEFT: 0px;
	BORDER-BOTTOM: 0px
}

TABLE.IBSOrderTotalTable {
	
}

TABLE.IBSLayoutTable {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	VERTICAL-ALIGN: top;
	BORDER-LEFT: 0px;
	BORDER-BOTTOM: 0px
}

TABLE.IBSLeftLayoutTable {
	BORDER-RIGHT: #8a8a8a 1px solid;
	VERTICAL-ALIGN: top;
	WIDTH: 100%;
	HEIGHT: 100%
}

TABLE.IBSPageHeaderTable {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	VERTICAL-ALIGN: top;
	BORDER-LEFT: 0px;
	WIDTH: 97%;
	BORDER-BOTTOM: 0px;
	HEIGHT: 100%
}

TABLE.IBSPageAltHeaderTable {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	VERTICAL-ALIGN: top;
	BORDER-LEFT: 0px;
	WIDTH: 97%;
	BORDER-BOTTOM: 0px
}

TD.IBSAdmOutput {
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana
}

TD.IBSAvailabilityCell {
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana
}

TD.IBSAvailabilityCellShortage {
	FONT-SIZE: 11px;
	COLOR: #ad3100;
	FONT-FAMILY: Verdana
}

TD.IBSAvailabilityCellBold {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana
}

TD.IBSAvailabilityCellShortageBold {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #ad3100;
	FONT-FAMILY: Verdana
}

TD.IBSBackgroundCell {
	BORDER-TOP-WIDTH: 1px;
	BORDER-RIGHT: #ffffff 1px solid;
	VERTICAL-ALIGN: top;
	BORDER-LEFT: #ffffff 1px solid;
	BORDER-BOTTOM: #ffffff 1px solid;
	HEIGHT: 100%;
	BACKGROUND-COLOR: #ffffff
}

TD.IBSBackgroundDummyCell {
	BORDER-TOP: #ffffff 1px solid;
	BORDER-LEFT-WIDTH: 1px;
	BORDER-BOTTOM-WIDTH: 1px;
	BACKGROUND-REPEAT: repeat-x;
	BACKGROUND-COLOR: #ffffff;
	BORDER-RIGHT-WIDTH: 1px
}

TD.IBSCompareDataCell {
	FONT-SIZE: 10px;
	VERTICAL-ALIGN: top;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #ebeae8;
	TEXT-ALIGN: center
}

TD.IBSCompareDataCellCheckbox {
	FONT-SIZE: 10px;
	VERTICAL-ALIGN: top;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #ebeae8;
	TEXT-ALIGN: center
}

TD.IBSCompareDataCellImage {
	FONT-SIZE: 10px;
	VERTICAL-ALIGN: top;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: center
}

TD.IBSCompareDataCellNumber {
	FONT-SIZE: 10px;
	VERTICAL-ALIGN: top;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #ebeae8;
	TEXT-ALIGN: center
}

TD.IBSCompareDataCellText {
	FONT-SIZE: 10px;
	VERTICAL-ALIGN: top;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #ebeae8;
	TEXT-ALIGN: left
}

TD.IBSCompareDataCellUnitHeader {
	FONT-WEIGHT: bold;
	FONT-SIZE: 9px;
	VERTICAL-ALIGN: top;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #a0c0ee;
	TEXT-ALIGN: center
}

TD.IBSCompareEmptyColumn {
	WIDTH: 3px
}

TD.IBSCompareEmptyLabelCell {
	
}

TD.IBSCompareLabelCell {
	FONT-WEIGHT: bold;
	FONT-SIZE: 9px;
	VERTICAL-ALIGN: top;
	COLOR: #6d6d6d;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

TD.IBSCompareLabelCellSmall {
	FONT-SIZE: 8px;
	VERTICAL-ALIGN: top;
	COLOR: #6d6d6d;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

TD.IBSFooterCell {
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #b7bcae;
	TEXT-ALIGN: left
}

TD.IBSHeaderToppCell {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	COLOR: #ffffff;
	FONT-FAMILY: Verdana
}

TD.IBSHeaderCell {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	BACKGROUND-IMAGE: url(BackgroundToningHeader.gif);
	COLOR: #ffffff;
	FONT-FAMILY: Verdana;
	HEIGHT: 16px
}

TD.IBSHeaderCellLight {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	COLOR: #6d6d6d;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

TD.IBSHeaderCellLightNoBold {
	FONT-SIZE: 10px;
	COLOR: #6d6d6d;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

TD.IBSHeaderCellAttention {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	COLOR: #ad3100;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #b7bcae
}

TD.IBSHeaderCellNumber {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	BACKGROUND-IMAGE: url(BackgroundToningHeader.gif);
	COLOR: #ffffff;
	FONT-FAMILY: Verdana;
	HEIGHT: 16px;
	TEXT-ALIGN: right
}

TD.IBSHeaderCellSmall {
	FONT-SIZE: 9px;
	COLOR: #ffffff;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #a5a5a5
}

TD.IBSHeaderCellSmallNumber {
	FONT-SIZE: 9px;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #a5a5a5;
	TEXT-ALIGN: right
}

TD.IBSKeyCell {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana
}

TD.IBSListCell {
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana
}

TD.IBSListCellSmall {
	FONT-SIZE: 9px;
	FONT-FAMILY: Verdana
}

TD.IBSListCellNumber {
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right
}

TD.IBSListCell2 {
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #ebeae8
}

TD.IBSListCell2Small {
	FONT-SIZE: 9px;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #ebeae8
}

TD.IBSListCell2Number {
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #ebeae8;
	TEXT-ALIGN: right
}

TD.IBSListCell3 {
	FONT-SIZE: 10px;
	VERTICAL-ALIGN: top;
	FONT-FAMILY: Verdana
}

TD.IBSListCell4 {
	FONT-SIZE: 10px;
	VERTICAL-ALIGN: top;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #ebeae8
}

TD.IBSListCell4Number {
	FONT-SIZE: 10px;
	VERTICAL-ALIGN: top;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #ebeae8;
	TEXT-ALIGN: right
}

TD.IBSLastRowTable {
	BACKGROUND-COLOR: #ffffff
}

TR.IBSListRow1 {
	BACKGROUND-COLOR: #f9f9f9
}

TR.IBSListRow2 {
	BACKGROUND-COLOR: #ececec
}

TEXTAREA.IBSTextArea {
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #ffffff
}

FONT.CatLevelDot {
	FONT-WEIGHT: bold;
	FONT-SIZE: 1em;
	COLOR: #535353;
	FONT-FAMILY: Verdana
}

FONT.CatLevelDot2 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 1em;
	COLOR: #000000;
	FONT-FAMILY: Verdana
}

.CatTitleHeader {
	FONT-SIZE: 11px;
	COLOR: #535353;
	FONT-FAMILY: Verdana
}

.CatTitleText {
	FONT-SIZE: 10px;
	COLOR: #535353;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

.CatTextAttention {
	FONT-SIZE: 10px;
	COLOR: #535353;
	FONT-STYLE: italic;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

.CatNodeActionLink {
	FONT-SIZE: 10px;
	COLOR: #535353;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right;
	TEXT-DECORATION: none
}

.CatNodeLink {
	FONT-SIZE: 11px;
	COLOR: #535353;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right;
	TEXT-DECORATION: none
}

.CatNodeLink:hover {
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: right;
	TEXT-DECORATION: none
}

.CatLeafLink {
	FONT-SIZE: 10px;
	COLOR: #535353;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right;
	TEXT-DECORATION: none
}

.CatLeafLink:hover {
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: right;
	TEXT-DECORATION: none
}

.CatCellLink {
	COLOR: #000000;
	TEXT-DECORATION: none
}

.CatCellLink:hover {
	COLOR: #000066;
	TEXT-DECORATION: none
}

.CatLink {
	FONT-SIZE: 10px;
	COLOR: #e8476e;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

.CatLink:hover {
	FONT-SIZE: 10px;
	COLOR: #f389a3;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

TD.CatCell {
	FONT-SIZE: 11px;
	COLOR: #535353;
	FONT-FAMILY: Verdana
}

TD.CatHeader {
	FONT-SIZE: 11px;
	COLOR: #535353;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: center
}

TABLE.CatTable {
	
}

.CatAlphabetText {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	COLOR: #535353;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right
}

.CatAlphabetLink {
	FONT-SIZE: 10px;
	COLOR: #535353;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right;
	TEXT-DECORATION: none
}

.CatAlphabetLink:hover {
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right;
	TEXT-DECORATION: none
}

.CatAlphabetActiveLink {
	FONT-SIZE: 10px;
	COLOR: #535353;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right;
	TEXT-DECORATION: none
}

.CatAlphabetActiveLink:hover {
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right;
	TEXT-DECORATION: none
}

TD.CatAlphabetCell {
	VERTICAL-ALIGN: top;
	TEXT-ALIGN: left
}

TD.CatAlphabetCell2 {
	WIDTH: 133px
}

TABLE.CatAlphabetTable {
	
}

.AlphabetText {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	COLOR: #6d6d6d;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right
}

.AlphabetLink {
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right;
	TEXT-DECORATION: none
}

.AlphabetLink:hover {
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right;
	TEXT-DECORATION: none
}

.AlphabetActiveLink {
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right;
	TEXT-DECORATION: none
}

.AlphabetActiveLink:hover {
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right;
	TEXT-DECORATION: none
}

TD.AlphabetCell {
	VERTICAL-ALIGN: top;
	TEXT-ALIGN: left
}

TD.AlphabetCell2 {
	WIDTH: 133px
}

TABLE.AlphabetTable {
	
}

BODY.IBSLeftBody {
	MARGIN-TOP: 0px;
	MARGIN-LEFT: 0px;
	VERTICAL-ALIGN: top;
	WIDTH: 180px;
	BACKGROUND-COLOR: #ffffff
}

.IBSTextNormal2 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #535353;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

.IBSTextAttention2 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #ffff00;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: center
}

.IBSLink2 {
	FONT-SIZE: 11px;
	COLOR: #ffffff;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right;
	TEXT-DECORATION: underline
}

.IBSLink2:hover {
	FONT-SIZE: 11px;
	COLOR: #cccccc;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right;
	TEXT-DECORATION: none
}

.IBSFrameHeader {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #6d6d6d;
	FONT-FAMILY: Verdana
}

BODY.IBSLeftTopBody {
	MARGIN-TOP: 0px;
	MARGIN-LEFT: 0px;
	VERTICAL-ALIGN: top;
	WIDTH: 180px;
	BACKGROUND-COLOR: #ffffff
}

BODY.IBSLeftBottomBody {
	MARGIN-TOP: 0px;
	BACKGROUND-IMAGE: url(BackgroundToning.gif);
	MARGIN-LEFT: 0px;
	VERTICAL-ALIGN: top;
	WIDTH: 180px;
	
	/* Fix for NST-40 */
	background-size: auto 90px;
    -webkit-background-size: auto 90px;
    -moz-background-size: auto 90px;
    -o-background-size: auto 90px;
    /* End of Fix for NST-40 */
	
}

TD.IBSSearchCell {
	FONT-SIZE: 10px;
	VERTICAL-ALIGN: top;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right
}

TD.IBSSearchCell2 {
	FONT-SIZE: 10px;
	VERTICAL-ALIGN: top;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

.IBSSearchLink {
	FONT-SIZE: 10px;
	COLOR: #E8476E;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right;
	TEXT-DECORATION: none
}

.IBSSearchLink:hover {
	FONT-SIZE: 10px;
	COLOR: #f389a3;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right;
	TEXT-DECORATION: none
}

.IBSSearchFrameHeader {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #ffffff;
	FONT-FAMILY: Verdana
}

.IBSTopBody#body {
	MARGIN-TOP: 0px;
	MARGIN-LEFT: 0px;
	VERTICAL-ALIGN: top;
	BACKGROUND-COLOR: #b7bcae
}

TD.IBSTopHeaderCell {
	FONT-SIZE: 10px;
	BACKGROUND-IMAGE: url(BackgroundToningTop.gif);
	FONT-FAMILY: Verdana
}

INPUT.IBSTopInput {
	FONT-SIZE: 10px;
	WIDTH: 100%;
	FONT-FAMILY: VERDANA, Verdana, HELVETICA, GENEVA
}

.IBSTopLink {
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

.IBSTopLink:hover {
	FONT-SIZE: 10px;
	COLOR: #000066;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

TD.IBSTopMenuCell {
	FONT-SIZE: 10px;
	BACKGROUND-IMAGE: url(BackgroundToningTop.gif);
	WIDTH: 110px;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: center
}

.IBSTopMenuLink {
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

.IBSTopMenuLink:hover {
	FONT-SIZE: 10px;
	COLOR: #000066;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

BODY.IBSShopCartBody {
	MARGIN-TOP: 1px;
	BACKGROUND-IMAGE: url(BackgroundToning.gif);
	MARGIN-LEFT: 0px;
	VERTICAL-ALIGN: top;
	
	/* Fix for NST-40 */	
	background-size: auto 90px;
    -webkit-background-size: auto 90px;
    -moz-background-size: auto 90px;
    -o-background-size: auto 90px;	
    /* End of Fix for NST-40 */
}

TABLE.IBSShopCartListTable {
	
}

TD.IBSShopCartHeaderCell {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	BACKGROUND-IMAGE: url(BackgroundToningHeader.gif);
	COLOR: #ffffff;
	FONT-FAMILY: Verdana
}

TD.IBSShopCartHeaderCellNumber {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	BACKGROUND-IMAGE: url(BackgroundToningHeader.gif);
	COLOR: #ffffff;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right
}

TD.IBSShopCartListCell {
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana
}

TD.IBSShopCartListCellNumber {
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right
}

TR.IBSShopCartListRow1 {
	BACKGROUND-COLOR: #f9f9f9
}

TR.IBSShopCartListRow2 {
	BACKGROUND-COLOR: #ececec
}

.IBSShopCartCellLink {
	COLOR: #E8476E;
	TEXT-DECORATION: none
}

.IBSShopCartCellLink:hover {
	COLOR: #f389a3;
	TEXT-DECORATION: none
}

.IBSShopCartLabel {
	FONT-SIZE: 10px;
	COLOR: #ffffff;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

.IBSShopCartOutput {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana
}

.IBSShopCartOutputNumber {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: right
}

.IBSShopCartPageTitleHeader {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #ffffff;
	FONT-FAMILY: Verdana
}

.IBSShopCartTableHeader {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	COLOR: #ffffff;
	FONT-FAMILY: Verdana
}

.IBSShopCartTextAttention {
	FONT-SIZE: 10px;
	COLOR: #ffffff;
	FONT-FAMILY: Verdana
}

TABLE.menu {
	VISIBILITY: hidden;
	POSITION: absolute
}

#mainmenu {
	POSITION: static
}

TD.IBSMenuLink {
	BORDER-RIGHT: 0px;
	PADDING-RIGHT: 8px;
	BORDER-TOP: 0px;
	PADDING-LEFT: 8px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT: 0px;
	CURSOR: pointer;
	COLOR: #ffffff;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: 0px;
	FONT-FAMILY: Verdana;
	WHITE-SPACE: nowrap;
	BACKGROUND-COLOR: #98b8e8
}

TD.IBSMenuPointer {
	BORDER-RIGHT: 0px;
	PADDING-RIGHT: 8px;
	BORDER-TOP: 0px;
	PADDING-LEFT: 8px;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT: 0px;
	CURSOR: s-resize;
	COLOR: #ffffff;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: 0px;
	FONT-FAMILY: Verdana;
	WHITE-SPACE: nowrap;
	BACKGROUND-COLOR: #98b8e8
}

.MenuHeadItem {
	VISIBILITY: hidden;
	POSITION: absolute
}

.MenuItem {
	PADDING-LEFT: 3px;
	FONT-SIZE: 10px;
	BACKGROUND-IMAGE: url(BackgroundToningTop.gif);
	VISIBILITY: inherit;
	COLOR: #ffffff;
	PADDING-TOP: 2px;
	FONT-FAMILY: Verdana;
	POSITION: absolute;
	TEXT-ALIGN: center
}

BODY.IBSHelpBody {
	MARGIN-TOP: 10px;
	MARGIN-LEFT: 10px;
	VERTICAL-ALIGN: top;
	BACKGROUND-COLOR: #ebeae8
}

P.IBSHelpLinks {
	FONT-SIZE: 12px;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left
}

.IBSHelpHeaderLink {
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left;
	TEXT-DECORATION: none
}

.IBSHelpLink {
	COLOR: #336699;
	TEXT-DECORATION: none
}

.IBSHelpLink:hover {
	COLOR: #000066;
	TEXT-DECORATION: none
}

.BoLeftMenuLink {
	PADDING-RIGHT: 0px;
	MARGIN-TOP: -1px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	FLOAT: left;
	MARGIN-BOTTOM: -1px;
	PADDING-BOTTOM: 0px;
	WORD-SPACING: 0px;
	COLOR: #ffffff;
	LINE-HEIGHT: 100%;
	PADDING-TOP: 0px;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left;
	TEXT-DECORATION: none
}

.BoLeftMenuLink2 {
	PADDING-RIGHT: 0px;
	MARGIN-TOP: 4px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 10px;
	FLOAT: left;
	MARGIN-BOTTOM: -1px;
	PADDING-BOTTOM: 0px;
	WORD-SPACING: 0px;
	COLOR: #ffffff;
	LINE-HEIGHT: 100%;
	PADDING-TOP: 0px;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left;
	TEXT-DECORATION: none
}

A.expandBlock:link {
	FONT-FAMILY: Verdana; COLOR: #3b3b3b; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.expandBlock:visited {
	FONT-FAMILY: Verdana; COLOR: #3b3b3b; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.expandBlock:hover {
	FONT-FAMILY: Verdana; COLOR: #3b3b3b; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.expandBlock:active {
	FONT-FAMILY: Verdana; COLOR: #3b3b3b; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}